Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Regenerate client from commit 092c127 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/agentless_scanning/Get-AWS-Scan-Options-returns-OK-response.frozen
  cassettes/features/v2/agentless_scanning/Get-AWS-scan-options-returns-Bad-Request-response.frozen
  cassettes/features/v2/agentless_scanning/Get-AWS-scan-options-returns-Bad-Request-response.yml
  cassettes/features/v2/agentless_scanning/Get-AWS-scan-options-returns-Not-Found-response.frozen
  cassettes/features/v2/agentless_scanning/Get-AWS-scan-options-returns-Not-Found-response.yml
  cassettes/features/v2/agentless_scanning/Get-AWS-scan-options-returns-OK-response.frozen
  cassettes/features/v2/agentless_scanning/Get-AWS-scan-options-returns-OK-response.yml
  cassettes/features/v2/agentless_scanning/List-AWS-Scan-Options-returns-OK-response.frozen
  cassettes/features/v2/agentless_scanning/List-AWS-Scan-Options-returns-OK-response.yml
  examples/v2/agentless-scanning/GetAwsScanOptions.rb
  examples/v2/agentless-scanning/ListAwsScanOptions.rb
  features/scenarios_model_mapping.rb
  features/v2/agentless_scanning.feature
  features/v2/given.json
  features/v2/undo.json
  lib/datadog_api_client/v2/api/agentless_scanning_api.rb
Due: generate, format-examples

Regenerate client from commit 969f793 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/synthetics/Search-Synthetic-tests-with-boolean-query-parameters.frozen
  cassettes/features/v1/synthetics/Search-Synthetic-tests-with-boolean-query-parameters.yml
  examples/v1/synthetics/SearchTests_195957771.rb
  features/scenarios_model_mapping.rb
  features/v1/synthetics.feature
  lib/datadog_api_client/v1/api/synthetics_api.rb
Due: generate, format-examples

Regenerate client from commit 81e764f of spec repo
  features/v2/cloud_workload_security.feature
Due: none

Regenerate client from commit cf98d7a of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/action_connection_api.rb
  lib/datadog_api_client/v2/api/app_builder_api.rb
  lib/datadog_api_client/v2/api/workflow_automation_api.rb
Due: generate

Regenerate client from commit 962530e of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/synthetics_api.rb
Due: generate

Regenerate client from commit 8274516 of spec repo
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit fc62e2e of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Get-suppressions-affecting-a-specific-rule-returns-Not-Found-response.frozen
  cassettes/features/v2/security_monitoring/Get-suppressions-affecting-a-specific-rule-returns-Not-Found-response.yml
  cassettes/features/v2/security_monitoring/Get-suppressions-affecting-a-specific-rule-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Get-suppressions-affecting-a-specific-rule-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Get-suppressions-affecting-future-rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/security_monitoring/Get-suppressions-affecting-future-rule-returns-Bad-Request-response.yml
  cassettes/features/v2/security_monitoring/Get-suppressions-affecting-future-rule-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Get-suppressions-affecting-future-rule-returns-OK-response.yml
  examples/v2/security-monitoring/GetSuppressionsAffectingFutureRule.rb
  examples/v2/security-monitoring/GetSuppressionsAffectingRule.rb
  features/scenarios_model_mapping.rb
  features/v2/security_monitoring.feature
  features/v2/security_monitoring_future_rule_suppression_payload.json
  features/v2/undo.json
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
Due: generate, format-examples

Regenerate client from commit 1e79ef0 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/ci_visibility_pipelines/Send-several-pipeline-events-returns-Request-accepted-for-processing-response.frozen
  cassettes/features/v2/ci_visibility_pipelines/Send-several-pipeline-events-returns-Request-accepted-for-processing-response.yml
  examples/v2/ci-visibility-pipelines/CreateCIAppPipelineEvent_2836340212.rb
  features/v2/ci_visibility_pipelines.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/ci_visibility_pipelines_api.rb
  lib/datadog_api_client/v2/models/ci_app_create_pipeline_event_request.rb
  lib/datadog_api_client/v2/models/ci_app_create_pipeline_event_request_data_single_or_array.rb
Due: generate, format-examples

Regenerate client from commit f9eba94 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Get-suppressions-affecting-a-specific-rule-returns-Not-Found-response.frozen
  cassettes/features/v2/security_monitoring/Get-suppressions-affecting-a-specific-rule-returns-Not-Found-response.yml
  cassettes/features/v2/security_monitoring/Get-suppressions-affecting-a-specific-rule-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Get-suppressions-affecting-a-specific-rule-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Get-suppressions-affecting-future-rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/security_monitoring/Get-suppressions-affecting-future-rule-returns-Bad-Request-response.yml
  cassettes/features/v2/security_monitoring/Get-suppressions-affecting-future-rule-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Get-suppressions-affecting-future-rule-returns-OK-response.yml
  examples/v2/security-monitoring/GetSuppressionsAffectingFutureRule.rb
  examples/v2/security-monitoring/GetSuppressionsAffectingRule.rb
  features/scenarios_model_mapping.rb
  features/v2/security_monitoring.feature
  features/v2/security_monitoring_future_rule_suppression_payload.json
  features/v2/undo.json
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
Due: generate, format-examples

Regenerate client from commit 273f808 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/metric_tag_configuration_attributes.rb
  lib/datadog_api_client/v2/models/metric_tag_configuration_create_attributes.rb
  lib/datadog_api_client/v2/models/metric_tag_configuration_update_attributes.rb
Due: generate

Regenerate client from commit dc3752a of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Validate-a-suppression-rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/security_monitoring/Validate-a-suppression-rule-returns-Bad-Request-response.yml
  cassettes/features/v2/security_monitoring/Validate-a-suppression-rule-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Validate-a-suppression-rule-returns-OK-response.yml
  examples/v2/security-monitoring/ValidateSecurityMonitoringSuppression.rb
  features/scenarios_model_mapping.rb
  features/v2/security_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
Due: generate, format-examples

Regenerate client from commit 56e171d of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/GetSecurityMonitoringHistsignal.rb
  examples/v2/security-monitoring/GetSecurityMonitoringHistsignalsByJobId.rb
  examples/v2/security-monitoring/ListSecurityMonitoringHistsignals.rb
  examples/v2/security-monitoring/SearchSecurityMonitoringHistsignals.rb
  features/scenarios_model_mapping.rb
  features/v2/security_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
Due: generate, format-examples

Remove Docs Team as CODEOWNERS
  .github/CODEOWNERS
Due: none

Regenerate client from commit 50ef9d5 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Validate-a-suppression-rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/security_monitoring/Validate-a-suppression-rule-returns-Bad-Request-response.yml
  examples/v2/security-monitoring/ValidateSecurityMonitoringSuppression.rb
  features/scenarios_model_mapping.rb
  features/v2/security_monitoring.feature
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
Due: generate, format-examples

Regenerate client from commit f3573aa of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/synthetics_api_test_step.rb
  lib/datadog_api_client/v1/models/synthetics_api_wait_step.rb
Due: generate

Regenerate client from commit dd160d0 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/dora-metrics/DeleteDORADeployment.rb
  examples/v2/dora-metrics/DeleteDORAFailure.rb
  features/scenarios_model_mapping.rb
  features/v2/dora_metrics.feature
  features/v2/undo.json
  lib/datadog_api_client/v2/api/dora_metrics_api.rb
Due: generate, format-examples

Regenerate client from commit f263078 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/ci_visibility_pipelines_api.rb
Due: generate

Regenerate client from commit f8981f3 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/shift.rb
  lib/datadog_api_client/v2/models/shift_data.rb
  lib/datadog_api_client/v2/models/shift_data_attributes.rb
  lib/datadog_api_client/v2/models/shift_data_relationships.rb
  lib/datadog_api_client/v2/models/shift_included.rb
Due: generate

Make Ruby test workflow reusable
  .github/workflows/reusable-ruby-test.yml
  .github/workflows/test.yml
Due: none

Regenerate client from commit 7d40f58 of spec repo
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 5b8fdc9 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/v2/api/monitors_api.rb
Due: generate

Regenerate client from commit b091160 of spec repo
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 87df078 of spec repo
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit 5302b12 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/ci_visibility_pipelines_api.rb
Due: generate

Regenerate client from commit 834034f of spec repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v2/aws-integration/CreateAWSAccount.rb
  examples/v2/aws-integration/CreateAWSAccount_1716720881.rb
  examples/v2/aws-integration/CreateNewAWSExternalID.rb
  examples/v2/aws-integration/CreateNewAWSExternalID_364713854.rb
  examples/v2/aws-integration/DeleteAWSAccount.rb
  examples/v2/aws-integration/GetAWSAccount.rb
  examples/v2/aws-integration/ListAWSAccounts.rb
  examples/v2/aws-integration/ListAWSNamespaces.rb
  examples/v2/aws-integration/ListAWSNamespaces_3031307873.rb
  examples/v2/aws-integration/UpdateAWSAccount.rb
  examples/v2/aws-logs-integration/ListAWSLogsServices.rb
  features/v2/aws_integration.feature
  features/v2/aws_logs_integration.feature
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v1/api/aws_integration_api.rb
  lib/datadog_api_client/v1/api/aws_logs_integration_api.rb
  lib/datadog_api_client/v2/api/aws_integration_api.rb
  lib/datadog_api_client/v2/api/aws_logs_integration_api.rb
Due: generate, format-examples

Bump versions and add changelog entries.
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
