Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Regenerate client from commit 2969505 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-point-plot-widget.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-point-plot-widget.yml
  examples/v1/dashboards/CreateDashboard_2049446128.rb
  features/v1/dashboards.feature
  features/v1/dashboards_json_payload/point_plot_widget.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/data_projection_query.rb
  lib/datadog_api_client/v1/models/data_projection_request_type.rb
  lib/datadog_api_client/v1/models/point_plot_dimension.rb
  lib/datadog_api_client/v1/models/point_plot_projection.rb
  lib/datadog_api_client/v1/models/point_plot_projection_dimension.rb
  lib/datadog_api_client/v1/models/point_plot_projection_type.rb
  lib/datadog_api_client/v1/models/point_plot_widget_definition.rb
  lib/datadog_api_client/v1/models/point_plot_widget_definition_type.rb
  lib/datadog_api_client/v1/models/point_plot_widget_legend.rb
  lib/datadog_api_client/v1/models/point_plot_widget_legend_type.rb
  lib/datadog_api_client/v1/models/point_plot_widget_request.rb
  lib/datadog_api_client/v1/models/widget_definition.rb
Due: generate, format-examples

Regenerate client from commit 82edb47 of spec repo
  features/v2/rum_replay_heatmaps.feature
  features/v2/rum_replay_playlists.feature
  features/v2/rum_replay_sessions.feature
  features/v2/rum_replay_viewership.feature
Due: none

Regenerate client from commit 554217a of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit 6b867a1 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/formula_and_function_apm_resource_stats_query_definition.rb
Due: generate

Regenerate client from commit 20dc305 of spec repo
  features/v2/incidents.feature
Due: none

Regenerate client from commit 59af617 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit abde428 of spec repo
  features/v2/fixtures/sourcemap_intake/android/libnative.so
  features/v2/fixtures/sourcemap_intake/android/mapping.txt
  features/v2/fixtures/sourcemap_intake/flutter/app.symbols
  features/v2/fixtures/sourcemap_intake/ios/symbols.zip
  features/v2/fixtures/sourcemap_intake/javascript/main.min.js
  features/v2/fixtures/sourcemap_intake/javascript/main.min.js.map
  features/v2/fixtures/sourcemap_intake/react_native/main.jsbundle.map
Due: none

Regenerate client from commit 4eff251 of spec repo
  features/v2/audit.feature
Due: none

Regenerate client from commit afa2152 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/monitors/Create-a-Data-Jobs-monitor-returns-OK-response.frozen
  cassettes/features/v1/monitors/Create-a-Data-Jobs-monitor-returns-OK-response.yml
  examples/v1/monitors/CreateMonitor_2589528326.rb
  features/v1/monitors.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_data_jobs_query_definition.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_query_definition.rb
  lib/datadog_api_client/v1/models/monitor_type.rb
Due: generate, format-examples

Regenerate client from commit 75d6809 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/formula_and_function_events_data_source.rb
Due: generate

Regenerate client from commit a3b57b1 of spec repo
  features/v2/incidents.feature
Due: none

Regenerate client from commit 363a215 of spec repo
  features/v2/incidents.feature
Due: none

Bump versions and add changelog entries.
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
