Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

Bump datadog_api_client to 2.21.0
  lib/datadog_api_client/version.rb
Due: generate

Bump datadog_api_client to 2.21.0.dev.1
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit 5745e5bb of spec repo
  .apigentools-info
  cassettes/features/v2/gcp_integration/Create-a-new-entry-for-your-service-account-returns-OK-response.frozen
  cassettes/features/v2/gcp_integration/Create-a-new-entry-for-your-service-account-returns-OK-response.yml
  cassettes/features/v2/gcp_integration/Create-a-new-entry-for-your-service-account-with-account-tags-returns-OK-response.frozen
  cassettes/features/v2/gcp_integration/Create-a-new-entry-for-your-service-account-with-account-tags-returns-OK-response.yml
  cassettes/features/v2/gcp_integration/Create-a-new-entry-for-your-service-account-with-cloud-run-revision-filters-enabled-returns-OK-response.frozen
  cassettes/features/v2/gcp_integration/Create-a-new-entry-for-your-service-account-with-cloud-run-revision-filters-enabled-returns-OK-response.yml
  cassettes/features/v2/gcp_integration/Create-a-new-entry-for-your-service-account-with-cspm-enabled-returns-OK-response.frozen
  cassettes/features/v2/gcp_integration/Create-a-new-entry-for-your-service-account-with-cspm-enabled-returns-OK-response.yml
  cassettes/features/v2/gcp_integration/Create-a-new-entry-for-your-service-account-with-resource-collection-enabled-disabled-and-cspm-enabled-returns-Bad-Request-response.frozen
  cassettes/features/v2/gcp_integration/Create-a-new-entry-for-your-service-account-with-resource-collection-enabled-disabled-and-cspm-enabled-returns-Bad-Request-response.yml
  cassettes/features/v2/gcp_integration/Create-a-new-entry-for-your-service-account-with-resource-collection-enabled-returns-OK-response.frozen
  cassettes/features/v2/gcp_integration/Create-a-new-entry-for-your-service-account-with-resource-collection-enabled-returns-OK-response.yml
  cassettes/features/v2/gcp_integration/Create-a-new-entry-for-your-service-account-with-security-command-center-enabled-returns-OK-response.frozen
  cassettes/features/v2/gcp_integration/Create-a-new-entry-for-your-service-account-with-security-command-center-enabled-returns-OK-response.yml
  cassettes/features/v2/gcp_integration/List-all-GCP-STS-enabled-service-accounts-returns-OK-response.frozen
  cassettes/features/v2/gcp_integration/List-all-GCP-STS-enabled-service-accounts-returns-OK-response.yml
  cassettes/features/v2/gcp_integration/Update-STS-Service-Account-returns-OK-response-with-cloud-run-revision-filters.frozen
  cassettes/features/v2/gcp_integration/Update-STS-Service-Account-returns-OK-response-with-cloud-run-revision-filters.yml
  cassettes/features/v2/gcp_integration/Update-STS-Service-Account-returns-OK-response-with-enable-resource-collection-turned-on.frozen
  cassettes/features/v2/gcp_integration/Update-STS-Service-Account-returns-OK-response-with-enable-resource-collection-turned-on.yml
  cassettes/features/v2/gcp_integration/Update-STS-Service-Account-returns-OK-response.frozen
  cassettes/features/v2/gcp_integration/Update-STS-Service-Account-returns-OK-response.yml
  examples/v2/gcp-integration/CreateGCPSTSAccount.rb
  examples/v2/gcp-integration/CreateGCPSTSAccount_109518525.rb
  examples/v2/gcp-integration/CreateGCPSTSAccount_130557025.rb
  examples/v2/gcp-integration/CreateGCPSTSAccount_194782945.rb
  examples/v2/gcp-integration/CreateGCPSTSAccount_2597004741.rb
  examples/v2/gcp-integration/CreateGCPSTSAccount_4235664992.rb
  examples/v2/gcp-integration/UpdateGCPSTSAccount.rb
  examples/v2/gcp-integration/UpdateGCPSTSAccount_2241994060.rb
  examples/v2/gcp-integration/UpdateGCPSTSAccount_3205636354.rb
  features/v2/gcp_integration.feature
  features/v2/given.json
Due: format-examples

Regenerate client from commit 1d14f3f6 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-workload-security/CreateCSMThreatsAgentRule.rb
  examples/v2/cloud-workload-security/DeleteCSMThreatsAgentRule.rb
  examples/v2/cloud-workload-security/DownloadCSMThreatsPolicy.rb
  examples/v2/cloud-workload-security/GetCSMThreatsAgentRule.rb
  examples/v2/cloud-workload-security/ListCSMThreatsAgentRules.rb
  examples/v2/cloud-workload-security/UpdateCSMThreatsAgentRule.rb
  features/v2/cloud_workload_security.feature
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/cloud_workload_security_api.rb
Due: generate, format-examples

Regenerate client from commit 0197a1bb of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/service-definition/CreateOrUpdateServiceDefinitions.rb
  features/v2/service_definition.feature
  lib/datadog_api_client/v2/models/service_definition_v2_dot2.rb
Due: generate, format-examples

Regenerate client from commit 78958536 of spec repo
  .apigentools-info
  examples/v2/roles/CreateRole.rb
  features/v2/roles.feature
Due: format-examples

Regenerate client from commit 95184165 of spec repo
  .apigentools-info
  features/v2/metrics.feature
Due: none

Regenerate client from commit 0dc03d11 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/monitor_options.rb
Due: generate

Regenerate client from commit ef47ef5d of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/custom_destination_type.rb
Due: generate

pin to patch
  Gemfile
Due: none

bump min version
  .github/workflows/test.yml
Due: none

Pin cucumber to patch (#1773)
  .github/workflows/test.yml
  Gemfile
Due: none

Regenerate client from commit a75cff58 of spec repo
  .apigentools-info
  features/v2/logs_custom_destinations.feature
Due: none

Regenerate client from commit a7489f2d of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/user_teams_response.rb
Due: generate

Regenerate client from commit 8b28b19e of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/series.rb
Due: generate

Regenerate client from commit 65baee0e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/dora_deployment_request_attributes.rb
Due: generate

Regenerate client from commit 7b0d4cbe of spec repo
  .apigentools-info
  features/v2/logs_custom_destinations.feature
  features/v2/organizations.feature
Due: none

Regenerate client from commit 24998b49 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/metric_series.rb
Due: generate

Regenerate client from commit 733f0b89 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/v2/logs_custom_destinations.feature
Due: generate

Regenerate client from commit b8f385dc of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/usage-metering/GetUsageAttribution.rb
  features/scenarios_model_mapping.rb
  features/v1/undo.json
  features/v1/usage_metering.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/usage_attribution_body.rb
  lib/datadog_api_client/v1/models/usage_attribution_metadata.rb
  lib/datadog_api_client/v1/models/usage_attribution_pagination.rb
  lib/datadog_api_client/v1/models/usage_attribution_response.rb
  lib/datadog_api_client/v1/models/usage_attribution_sort.rb
  lib/datadog_api_client/v1/models/usage_attribution_supported_metrics.rb
  lib/datadog_api_client/v1/models/usage_attribution_values.rb
Due: generate, format-examples

Regenerate client from commit 7ea2a27f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/monitor_options.rb
Due: generate

Regenerate client from commit f9b6a1cc of spec repo
  .apigentools-info
  cassettes/features/v2/metrics/Scalar-cross-product-query-returns-OK-response.frozen
  cassettes/features/v2/metrics/Scalar-cross-product-query-returns-OK-response.yml
  cassettes/features/v2/metrics/Timeseries-cross-product-query-returns-OK-response.frozen
  cassettes/features/v2/metrics/Timeseries-cross-product-query-returns-OK-response.yml
  examples/v2/metrics/QueryScalarData_3112571352.rb
  examples/v2/metrics/QueryTimeseriesData_301142940.rb
  features/v2/metrics.feature
Due: format-examples

Regenerate client from commit 7d443735 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/monitors/Get-a-synthetics-monitor-s-details.frozen
  cassettes/features/v1/monitors/Get-a-synthetics-monitor-s-details.yml
  cassettes/features/v1/synthetics/Create-an-API-HTTP-test-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-HTTP-test-returns-OK-Returns-the-created-test-details-response.yml
  cassettes/features/v1/synthetics/Create-an-API-HTTP-with-oauth-rop-test-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-HTTP-with-oauth-rop-test-returns-OK-Returns-the-created-test-details-response.yml
  cassettes/features/v1/synthetics/Edit-an-API-test-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Edit-an-API-test-returns-OK-response.yml
  cassettes/features/v1/synthetics/Patch-a-Synthetic-test-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Patch-a-Synthetic-test-returns-OK-response.yml
  cassettes/features/v1/synthetics/Trigger-Synthetic-tests-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Trigger-Synthetic-tests-returns-OK-response.yml
  examples/v1/synthetics/CreateSyntheticsAPITest_1487281163.rb
  examples/v1/synthetics/CreateSyntheticsAPITest_960766374.rb
  examples/v1/synthetics/UpdateAPITest.rb
  features/v1/given.json
  features/v1/synthetics_api_http_test_oauth_rop_payload.json
  features/v1/synthetics_api_http_test_payload.json
  features/v1/synthetics_api_test_update_payload.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/synthetics_assertion.rb
  lib/datadog_api_client/v1/models/synthetics_assertion_json_schema_meta_schema.rb
  lib/datadog_api_client/v1/models/synthetics_assertion_json_schema_operator.rb
  lib/datadog_api_client/v1/models/synthetics_assertion_json_schema_target.rb
  lib/datadog_api_client/v1/models/synthetics_assertion_json_schema_target_target.rb
Due: generate, format-examples

Regenerate client from commit 37197a93 of spec repo
  .apigentools-info
  cassettes/features/v2/metrics/Scalar-cross-product-query-returns-OK-response.frozen
  cassettes/features/v2/metrics/Scalar-cross-product-query-returns-OK-response.yml
  cassettes/features/v2/metrics/Timeseries-cross-product-query-returns-OK-response.frozen
  cassettes/features/v2/metrics/Timeseries-cross-product-query-returns-OK-response.yml
  cassettes/features/v2/teams/Create-a-team-link-returns-OK-response.yml
  examples/v2/metrics/QueryScalarData_3112571352.rb
  examples/v2/metrics/QueryTimeseriesData_301142940.rb
  examples/v2/teams/CreateTeamLink.rb
  features/v2/metrics.feature
  features/v2/teams.feature
Due: format-examples

Regenerate client from commit 46383d02 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v2/api/usage_metering_api.rb
Due: generate

Regenerate client from commit d7fae3ec of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/service_level_objectives/Create-a-new-SLO-report-returns-Bad-Request-response.frozen
  cassettes/features/v2/service_level_objectives/Create-a-new-SLO-report-returns-Bad-Request-response.yml
  cassettes/features/v2/service_level_objectives/Create-a-new-SLO-report-returns-OK-response.frozen
  cassettes/features/v2/service_level_objectives/Create-a-new-SLO-report-returns-OK-response.yml
  cassettes/features/v2/service_level_objectives/Get-SLO-report-returns-OK-response.frozen
  cassettes/features/v2/service_level_objectives/Get-SLO-report-returns-OK-response.yml
  cassettes/features/v2/service_level_objectives/Get-SLO-report-status-returns-Bad-Request-response.frozen
  cassettes/features/v2/service_level_objectives/Get-SLO-report-status-returns-Bad-Request-response.yml
  cassettes/features/v2/service_level_objectives/Get-SLO-report-status-returns-OK-response.frozen
  cassettes/features/v2/service_level_objectives/Get-SLO-report-status-returns-OK-response.yml
  examples/v2/service-level-objectives/CreateSLOReportJob.rb
  examples/v2/service-level-objectives/GetSLOReport.rb
  examples/v2/service-level-objectives/GetSLOReportJobStatus.rb
  features/scenarios_model_mapping.rb
  features/v2/given.json
  features/v2/service_level_objectives.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/service_level_objectives_api.rb
  lib/datadog_api_client/v2/models/slo_report_interval.rb
  lib/datadog_api_client/v2/models/slo_report_post_request.rb
  lib/datadog_api_client/v2/models/slo_report_post_request_attributes.rb
  lib/datadog_api_client/v2/models/slo_report_post_request_data.rb
  lib/datadog_api_client/v2/models/slo_report_post_response.rb
  lib/datadog_api_client/v2/models/slo_report_post_response_data.rb
  lib/datadog_api_client/v2/models/slo_report_status.rb
  lib/datadog_api_client/v2/models/slo_report_status_get_response.rb
  lib/datadog_api_client/v2/models/slo_report_status_get_response_attributes.rb
  lib/datadog_api_client/v2/models/slo_report_status_get_response_data.rb
Due: generate, format-examples

Regenerate client from commit e0504d22 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  features/v1/metrics.feature
  features/v2/metrics.feature
Due: generate

Regenerate client from commit a66332d3 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/case_management_api.rb
Due: generate

Regenerate client from commit 85625198 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Validate-a-detection-rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/security_monitoring/Validate-a-detection-rule-returns-Bad-Request-response.yml
  cassettes/features/v2/security_monitoring/Validate-a-detection-rule-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Validate-a-detection-rule-returns-OK-response.yml
  examples/v2/security-monitoring/ValidateSecurityMonitoringRule.rb
  features/scenarios_model_mapping.rb
  features/v2/security_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
Due: generate, format-examples

Regenerate client from commit 72291188 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/authn-mappings/CreateAuthNMapping.rb
  examples/v2/authn-mappings/UpdateAuthNMapping.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/authn_mapping_create_data.rb
  lib/datadog_api_client/v2/models/authn_mapping_create_relationships.rb
  lib/datadog_api_client/v2/models/authn_mapping_included.rb
  lib/datadog_api_client/v2/models/authn_mapping_relationship_to_role.rb
  lib/datadog_api_client/v2/models/authn_mapping_relationship_to_team.rb
  lib/datadog_api_client/v2/models/authn_mapping_team.rb
  lib/datadog_api_client/v2/models/authn_mapping_team_attributes.rb
  lib/datadog_api_client/v2/models/authn_mapping_update_relationships.rb
  lib/datadog_api_client/v2/models/relationship_to_team.rb
  lib/datadog_api_client/v2/models/relationship_to_team_data.rb
Due: generate, format-examples

Regenerate client from commit a462e143 of spec repo
  .apigentools-info
  cassettes/features/v2/cloud_workload_security/Create-a-CSM-Threats-Agent-rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/cloud_workload_security/Create-a-CSM-Threats-Agent-rule-returns-Bad-Request-response.yml
  cassettes/features/v2/cloud_workload_security/Create-a-CSM-Threats-Agent-rule-returns-OK-response.frozen
  cassettes/features/v2/cloud_workload_security/Create-a-CSM-Threats-Agent-rule-returns-OK-response.yml
  examples/v2/cloud-workload-security/CreateCSMThreatsAgentRule.rb
  features/v2/cloud_workload_security.feature
Due: format-examples

Rename integrations-tools-and-libraries to api-clients in CODEOWNERS
  .github/CODEOWNERS
Due: none

Remove baklava
  .github/CODEOWNERS
Due: none

Revert "Remove baklava"
  .github/CODEOWNERS
Due: none

baklava -> documentation
  .github/CODEOWNERS
Due: none

Regenerate client from commit 3e55ad68 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/hourly_usage_attribution_usage_type.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_supported_metrics.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_values.rb
Due: generate
