Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Regenerate client from commit b8b5a612 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/metrics/Get-a-list-of-metrics-returns-Success-response-with-pagination.frozen
  cassettes/features/v2/metrics/Get-a-list-of-metrics-returns-Success-response-with-pagination.yml
  examples/v2/metrics/ListTagConfigurations_3969783727.rb
  features/scenarios_model_mapping.rb
  features/v2/metrics.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/metrics_api.rb
  lib/datadog_api_client/v2/models/metric_meta_page.rb
  lib/datadog_api_client/v2/models/metric_meta_page_type.rb
  lib/datadog_api_client/v2/models/metric_pagination_meta.rb
  lib/datadog_api_client/v2/models/metrics_list_response_links.rb
Due: generate, format-examples

Regenerate client from commit 47af28a4 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-logs-pattern-stream-list-stream-widget.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-logs-pattern-stream-list-stream-widget.yml
  examples/v1/dashboards/CreateDashboard_1039800684.rb
  features/v1/dashboards.feature
  lib/datadog_api_client/v1/models/list_stream_column.rb
Due: generate, format-examples

ci(workflows): fix use of create-github-app-token
  .github/workflows/approved_status.yml
Due: none

ci(workflows): fix additional locations
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

Regenerate client from commit d2d70cd4 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/hourly_usage_attribution_usage_type.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_supported_metrics.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_values.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit 7b62d196 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/aws_integration_api.rb
  lib/datadog_api_client/v2/models/aws_account_create_request.rb
  lib/datadog_api_client/v2/models/aws_account_create_request_attributes.rb
  lib/datadog_api_client/v2/models/aws_account_create_request_data.rb
  lib/datadog_api_client/v2/models/aws_account_partition.rb
  lib/datadog_api_client/v2/models/aws_account_response.rb
  lib/datadog_api_client/v2/models/aws_account_response_attributes.rb
  lib/datadog_api_client/v2/models/aws_account_response_data.rb
  lib/datadog_api_client/v2/models/aws_account_update_request.rb
  lib/datadog_api_client/v2/models/aws_account_update_request_attributes.rb
  lib/datadog_api_client/v2/models/aws_account_update_request_data.rb
  lib/datadog_api_client/v2/models/aws_accounts_response.rb
  lib/datadog_api_client/v2/models/aws_auth_config.rb
  lib/datadog_api_client/v2/models/aws_auth_config_keys.rb
  lib/datadog_api_client/v2/models/aws_auth_config_role.rb
  lib/datadog_api_client/v2/models/aws_lambda_forwarder_config.rb
  lib/datadog_api_client/v2/models/aws_logs_config.rb
  lib/datadog_api_client/v2/models/aws_metrics_config.rb
  lib/datadog_api_client/v2/models/aws_namespace_filters.rb
  lib/datadog_api_client/v2/models/aws_namespace_filters_exclude_only.rb
  lib/datadog_api_client/v2/models/aws_namespace_filters_include_only.rb
  lib/datadog_api_client/v2/models/aws_namespace_tag_filter.rb
  lib/datadog_api_client/v2/models/aws_namespaces_response.rb
  lib/datadog_api_client/v2/models/aws_namespaces_response_attributes.rb
  lib/datadog_api_client/v2/models/aws_namespaces_response_data.rb
  lib/datadog_api_client/v2/models/aws_new_external_id_response.rb
  lib/datadog_api_client/v2/models/aws_new_external_id_response_attributes.rb
  lib/datadog_api_client/v2/models/aws_new_external_id_response_data.rb
  lib/datadog_api_client/v2/models/aws_regions.rb
  lib/datadog_api_client/v2/models/aws_regions_include_all.rb
  lib/datadog_api_client/v2/models/aws_regions_include_only.rb
  lib/datadog_api_client/v2/models/aws_resources_config.rb
  lib/datadog_api_client/v2/models/aws_traces_config.rb
  lib/datadog_api_client/v2/models/x_ray_services_include_all.rb
  lib/datadog_api_client/v2/models/x_ray_services_include_only.rb
  lib/datadog_api_client/v2/models/x_ray_services_list.rb
Due: generate

ci(workflows): fix use of create-github-app-token (#2151)
  .github/workflows/approved_status.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

ci(workflows): fix use of create-github-app-token repositories
  .github/workflows/approved_status.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

emtpy commit to re-trigger pipeline
  .github/workflows/test.yml
Due: none

ci(workflows): fix use of create-github-app-token repositories (#2152)
  .github/workflows/approved_status.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

Regenerate client from commit a883a52a of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/slo_report_interval.rb
Due: generate

Regenerate client from commit 4df5e8c3 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit 7163da4d of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/data-deletion/CancelDataDeletionRequest.rb
  examples/v2/data-deletion/CreateDataDeletionRequest.rb
  examples/v2/data-deletion/GetDataDeletionRequests.rb
  features/v2/data_deletion.feature
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/data_deletion_api.rb
Due: generate, format-examples

Regenerate client from commit f0c3c0f4 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/metrics/Get-a-list-of-metrics-returns-Success-response-with-pagination.frozen
  cassettes/features/v2/metrics/Get-a-list-of-metrics-returns-Success-response-with-pagination.yml
  examples/v2/metrics/ListTagConfigurations_3969783727.rb
  features/scenarios_model_mapping.rb
  features/v2/metrics.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/metrics_api.rb
  lib/datadog_api_client/v2/models/metric_meta_page.rb
  lib/datadog_api_client/v2/models/metric_meta_page_type.rb
  lib/datadog_api_client/v2/models/metric_pagination_meta.rb
  lib/datadog_api_client/v2/models/metrics_list_response_links.rb
Due: generate, format-examples

Regenerate client from commit 3ebe762b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/slo_report_interval.rb
Due: generate

Regenerate client from commit 222e1f81 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-logs-pattern-stream-list-stream-widget.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-logs-pattern-stream-list-stream-widget.yml
  examples/v1/dashboards/CreateDashboard_1039800684.rb
  features/v1/dashboards.feature
  lib/datadog_api_client/v1/models/list_stream_column.rb
Due: generate, format-examples

Regenerate client from commit ed3bb0a0 of spec repo
  .apigentools-info
  features/v2/container_images.feature
  features/v2/containers.feature
  features/v2/processes.feature
Due: none

Regenerate client from commit 5392df51 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/hourly_usage_attribution_usage_type.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_supported_metrics.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_values.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit e7a707af of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/data-deletion/CancelDataDeletionRequest.rb
  examples/v2/data-deletion/CreateDataDeletionRequest.rb
  examples/v2/data-deletion/GetDataDeletionRequests.rb
  features/v2/data_deletion.feature
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/data_deletion_api.rb
Due: generate, format-examples

Regenerate client from commit 936a5463 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/synthetics_fetch_uptimes_payload.rb
Due: generate

Regenerate client from commit 74a8f1e2 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/events_query_filter.rb
Due: generate

Regenerate client from commit 3c19b3ae of spec repo
  .apigentools-info
  features/v2/ci_visibility_pipelines.feature
Due: none

older ubuntu precommit
  .github/workflows/test.yml
Due: none

Revert "older ubuntu precommit"
  .github/workflows/test.yml
Due: none

Regenerate client from commit a179b579 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/events_api.rb
Due: generate

Regenerate client from commit 162aece5 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/csm_agents/Get-all-CSM-Agents-returns-OK-response.frozen
  cassettes/features/v2/csm_agents/Get-all-CSM-Agents-returns-OK-response.yml
  cassettes/features/v2/csm_agents/Get-all-CSM-Serverless-Agents-returns-OK-response.frozen
  cassettes/features/v2/csm_agents/Get-all-CSM-Serverless-Agents-returns-OK-response.yml
  examples/v2/csm-agents/ListAllCSMAgents.rb
  examples/v2/csm-agents/ListAllCSMServerlessAgents.rb
  features/scenarios_model_mapping.rb
  features/v2/container_images.feature
  features/v2/containers.feature
  features/v2/csm_agents.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/csm_agents_api.rb
  lib/datadog_api_client/v2/models/csm_agent_data.rb
  lib/datadog_api_client/v2/models/csm_agents_attributes.rb
  lib/datadog_api_client/v2/models/csm_agents_metadata.rb
  lib/datadog_api_client/v2/models/csm_agents_response.rb
  lib/datadog_api_client/v2/models/csm_agents_type.rb
  lib/datadog_api_client/v2/models/order_direction.rb
Due: generate, format-examples

Bump datadog_api_client to 2.29.1
  lib/datadog_api_client/version.rb
Due: generate

Bump datadog_api_client to 2.29.1.dev.1
  lib/datadog_api_client/version.rb
Due: generate

fix version number calculation
  .github/workflows/prepare_release.yml
  RELEASING.md
Due: none

fix version number calculation
  .github/workflows/prepare_release.yml
Due: none

Update RELEASING.md
  RELEASING.md
Due: none

fix version number calculation (#2162)
  .github/workflows/prepare_release.yml
  RELEASING.md
Due: none

Regenerate client from commit d1f49008 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit 4c33d00e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/csm-coverage-analysis/GetCSMCloudAccountsCoverageAnalysis.rb
  examples/v2/csm-coverage-analysis/GetCSMHostsAndContainersCoverageAnalysis.rb
  examples/v2/csm-coverage-analysis/GetCSMServerlessCoverageAnalysis.rb
  features/v2/csm_coverage_analysis.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/csm_coverage_analysis_api.rb
  lib/datadog_api_client/v2/models/csm_cloud_accounts_coverage_analysis_attributes.rb
  lib/datadog_api_client/v2/models/csm_cloud_accounts_coverage_analysis_data.rb
  lib/datadog_api_client/v2/models/csm_cloud_accounts_coverage_analysis_response.rb
  lib/datadog_api_client/v2/models/csm_coverage_analysis.rb
  lib/datadog_api_client/v2/models/csm_hosts_and_containers_coverage_analysis_attributes.rb
  lib/datadog_api_client/v2/models/csm_hosts_and_containers_coverage_analysis_data.rb
  lib/datadog_api_client/v2/models/csm_hosts_and_containers_coverage_analysis_response.rb
  lib/datadog_api_client/v2/models/csm_serverless_coverage_analysis_attributes.rb
  lib/datadog_api_client/v2/models/csm_serverless_coverage_analysis_data.rb
  lib/datadog_api_client/v2/models/csm_serverless_coverage_analysis_response.rb
Due: generate, format-examples

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
