Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generated
    name: Do not commit generated files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^lib/datadog_api_client/v[1-9].*'
    verbose: true
  - id: generated-features
    name: Do not commit generated feature files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^features/v[1-9][0-9]*/.*.feature$'
    verbose: true

Regenerate client from commit c18e9b3 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  lib/datadog_api_client/v1/models/synthetics_browser_variable_type.rb
Due: generated

Add v*.rb files to generated list
  .generated_files
Due: none

Add spec models to generated files
  .generated_files
Due: none

Update .generated_files
  .generated_files
Due: none

tests: skip integration-only scenarios when needed
  features/support/hooks.rb
Due: none

Manually remove files, don't delete model tests on regeneration
  .generated_files
  spec/v1/models/synthetics_resource_spec.rb
  spec/v1/models/synthetics_resource_type_spec.rb
Due: none

Regenerate client from commit b40b323 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/SyntheticsResource.md
  docs/v1/SyntheticsResourceType.md
  docs/v1/SyntheticsStepDetail.md
  features/v1/usage_metering.feature
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/synthetics_resource.rb
  lib/datadog_api_client/v1/models/synthetics_resource_type.rb
  lib/datadog_api_client/v1/models/synthetics_step_detail.rb
Due: generated, generated-features

fix import
  .dockerignore
  .gitignore
  Dockerfile.test
  features/support/env.rb
Due: none

exclude codecov 0.2.14
  Gemfile
Due: none

cassettes
  cassettes/features/v2/logs_metrics/Create-a-log-based-metric-returns-OK-response.yml
  cassettes/features/v2/logs_metrics/Delete-a-log-based-metric-returns-OK-response.yml
  cassettes/features/v2/logs_metrics/Get-a-log-based-metric-returns-OK-response.yml
  cassettes/features/v2/logs_metrics/Get-all-log-based-metrics-returns-OK-response.yml
  cassettes/features/v2/logs_metrics/Update-a-log-based-metric-returns-OK-response.yml
Due: none

bundle install
  .azure-pipelines/all.yml
  run-tests.sh
Due: none

:(
  Dockerfile.test
  run-tests.sh
Due: none

change ruby path
  Dockerfile.test
Due: none

hack workdir path
  Dockerfile.test
Due: none

bundle --system
  Dockerfile.test
Due: none

recorded cassettes
  cassettes/features/v2/login_methods/Create-a-login-method-for-the-current-organization-returns-Created-response.yml
  cassettes/features/v2/login_methods/Create-a-login-method-for-the-given-user-returns-Created-response.yml
  cassettes/features/v2/login_methods/Delete-the-given-organization-login-method-returns-No-Content-response.yml
  cassettes/features/v2/login_methods/Delete-the-given-user-login-method-returns-No-Content-response.yml
  cassettes/features/v2/login_methods/Get-all-login-methods-for-current-organization-returns-OK-response.yml
  cassettes/features/v2/login_methods/Get-all-of-the-given-user-s-login-methods-returns-OK-response.yml
Due: none

Regenerate client from commit cc3e6a1 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/SyntheticsBrowserVariable.md
  docs/v1/SyntheticsConfigVariable.md
  docs/v1/SyntheticsConfigVariableType.md
  docs/v1/SyntheticsTestConfig.md
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/synthetics_config_variable.rb
  lib/datadog_api_client/v1/models/synthetics_config_variable_type.rb
  spec/v1/models/synthetics_config_variable_spec.rb
  spec/v1/models/synthetics_config_variable_type_spec.rb
Due: generated

Regenerate client from commit 4e7ddc2 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/UsageRumSessionsHour.md
  docs/v1/UsageSummaryDate.md
  docs/v1/UsageSummaryDateOrg.md
  docs/v1/UsageSummaryResponse.md
  lib/datadog_api_client/v1/models/usage_rum_sessions_hour.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generated

Regenerate client from commit 2554c85 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/UsageHostHour.md
  docs/v1/UsageSummaryDate.md
  docs/v1/UsageSummaryDateOrg.md
  docs/v1/UsageSummaryResponse.md
  lib/datadog_api_client/v1/models/usage_host_hour.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generated

Regenerate client from commit ca13c42 of spec repo
  .apigentools-info
  .openapi-generator/FILES
  data/v2/openapi.yaml
  docs/v2/README.md
  docs/v2/SecurityMonitoringFilter.md
  docs/v2/SecurityMonitoringFilterAction.md
  docs/v2/SecurityMonitoringRuleCreatePayload.md
  docs/v2/SecurityMonitoringRuleResponse.md
  docs/v2/SecurityMonitoringRuleUpdatePayload.md
  lib/datadog_api_client/v2.rb
  lib/datadog_api_client/v2/models/security_monitoring_filter.rb
  lib/datadog_api_client/v2/models/security_monitoring_filter_action.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_create_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_response.rb
  spec/v2/models/security_monitoring_filter_action_spec.rb
  spec/v2/models/security_monitoring_filter_spec.rb
Due: generated

[ruby] Support aliasing of API keys (#8124)
  README.mustache
  api_client.mustache
  api_doc.mustache
  configuration.mustache
Due: none

[ruby] Support aliasing of API keys (#8124)
  .generator/templates/README.mustache
  .generator/templates/api_client.mustache
  .generator/templates/api_doc.mustache
  .generator/templates/configuration.mustache
Due: none

Regenerate client from commit ef664a9 of spec repo
  .apigentools-info
  data/v2/openapi.yaml
  docs/v2/ApplicationKeyResponseIncludedItem.md
  lib/datadog_api_client/v2/models/application_key_response_included_item.rb
Due: generated

Regenerate client from commit 39d6d27 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/SyntheticsGlobalVariable.md
  docs/v1/SyntheticsGlobalVariableParseTestOptions.md
  docs/v1/SyntheticsGlobalVariableParseTestOptionsParser.md
  docs/v1/SyntheticsGlobalVariableParseTestOptionsType.md
  docs/v1/SyntheticsGlobalVariableParserType.md
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/synthetics_global_variable_parse_test_options.rb
  lib/datadog_api_client/v1/models/synthetics_global_variable_parse_test_options_parser.rb
  lib/datadog_api_client/v1/models/synthetics_global_variable_parse_test_options_type.rb
  lib/datadog_api_client/v1/models/synthetics_global_variable_parser_type.rb
  spec/v1/models/synthetics_global_variable_parse_test_options_parser_spec.rb
  spec/v1/models/synthetics_global_variable_parse_test_options_spec.rb
  spec/v1/models/synthetics_global_variable_parse_test_options_type_spec.rb
  spec/v1/models/synthetics_global_variable_parser_type_spec.rb
Due: generated

Always run integration-only scenarios
  run-tests.sh
Due: none

typo
  run-tests.sh
Due: none

Regenerate client from commit fc003cf of spec repo
  .apigentools-info
  .openapi-generator/FILES
  data/v2/openapi.yaml
  docs/v2/APIKeysSort.md
  docs/v2/ApplicationKeysSort.md
  docs/v2/KeyManagementApi.md
  docs/v2/README.md
  lib/datadog_api_client/v2.rb
  lib/datadog_api_client/v2/api/key_management_api.rb
  lib/datadog_api_client/v2/models/api_keys_sort.rb
  lib/datadog_api_client/v2/models/application_keys_sort.rb
  spec/v2/models/api_keys_sort_spec.rb
  spec/v2/models/application_keys_sort_spec.rb
Due: generated

only if api keys
  run-tests.sh
Due: none

Regenerate client from commit bfe8474 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/SyntheticsGlobalVariableParseTestOptions.md
  lib/datadog_api_client/v1/models/synthetics_global_variable_parse_test_options.rb
Due: generated

Add support for error scenarios
  cassettes/features/v1/monitors/Get-a-monitor-s-details-returns-Monitor-Not-Found-error-response.yml
  features/step_definitions/request.rb
Due: none

Catch the proper exception
  features/step_definitions/request.rb
Due: none

Regenerate client from commit 5570882 of spec repo
  .apigentools-info
  .openapi-generator/FILES
  data/v2/openapi.yaml
  docs/v2/IncidentRelatedObject.md
  docs/v2/IncidentServicesApi.md
  docs/v2/IncidentTeamsApi.md
  docs/v2/IncidentsApi.md
  docs/v2/README.md
  lib/datadog_api_client/v2.rb
  lib/datadog_api_client/v2/api/incident_services_api.rb
  lib/datadog_api_client/v2/api/incident_teams_api.rb
  lib/datadog_api_client/v2/api/incidents_api.rb
  lib/datadog_api_client/v2/models/incident_related_object.rb
  spec/v2/models/incident_related_object_spec.rb
Due: generated

Always run integration-only scenarios (#155)
  run-tests.sh
Due: none
