Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Regenerate client from commit 76bd837b of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/synthetics/Create-a-FIDO-global-variable-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Create-a-FIDO-global-variable-returns-OK-response.yml
  cassettes/features/v1/synthetics/Create-a-TOTP-global-variable-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Create-a-TOTP-global-variable-returns-OK-response.yml
  cassettes/features/v1/synthetics/Create-a-global-variable-from-test-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Create-a-global-variable-from-test-returns-OK-response.yml
  cassettes/features/v1/synthetics/Create-an-API-test-with-multi-subtype-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-test-with-multi-subtype-returns-OK-Returns-the-created-test-details-response.yml
  examples/v1/synthetics/CreateSyntheticsAPITest_1279271422.rb
  features/v1/given.json
  features/v1/synthetics.feature
  features/v1/synthetics_api_test_multi_step_payload.json
  lib/datadog_api_client/v1/models/synthetics_api_test_step_subtype.rb
Due: generate, format-examples

Regenerate client from commit 0bddf9bc of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/events/CreateEvent.rb
  features/v2/events.feature
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/events_api.rb
  lib/datadog_api_client/v2/models/alert_event_custom_attributes.rb
  lib/datadog_api_client/v2/models/alert_event_custom_attributes_links_items.rb
  lib/datadog_api_client/v2/models/alert_event_custom_attributes_links_items_category.rb
  lib/datadog_api_client/v2/models/alert_event_custom_attributes_priority.rb
  lib/datadog_api_client/v2/models/alert_event_custom_attributes_status.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_author.rb
  lib/datadog_api_client/v2/models/event_create_request_payload.rb
  lib/datadog_api_client/v2/models/event_create_response_attributes_attributes_evt.rb
  lib/datadog_api_client/v2/models/event_create_response_payload.rb
  lib/datadog_api_client/v2/models/event_create_response_payload_links.rb
  lib/datadog_api_client/v2/models/event_payload.rb
  lib/datadog_api_client/v2/models/event_payload_attributes.rb
  lib/datadog_api_client/v2/models/event_payload_integration_id.rb
Due: generate, format-examples

Regenerate client from commit 1472e9ca of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 9d0f7c88 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/dora_metrics/Get-a-list-of-deployment-events-returns-Bad-Request-response.frozen
  cassettes/features/v2/dora_metrics/Get-a-list-of-deployment-events-returns-Bad-Request-response.yml
  cassettes/features/v2/dora_metrics/Get-a-list-of-deployment-events-returns-OK-response.frozen
  cassettes/features/v2/dora_metrics/Get-a-list-of-deployment-events-returns-OK-response.yml
  cassettes/features/v2/dora_metrics/Get-a-list-of-failure-events-returns-Bad-Request-response.frozen
  cassettes/features/v2/dora_metrics/Get-a-list-of-failure-events-returns-Bad-Request-response.yml
  cassettes/features/v2/dora_metrics/Get-a-list-of-failure-events-returns-OK-response.frozen
  cassettes/features/v2/dora_metrics/Get-a-list-of-failure-events-returns-OK-response.yml
  examples/v2/dora-metrics/GetDORADeployment.rb
  examples/v2/dora-metrics/GetDORAFailure.rb
  examples/v2/dora-metrics/ListDORADeployments.rb
  examples/v2/dora-metrics/ListDORAFailures.rb
  features/scenarios_model_mapping.rb
  features/v2/dora_metrics.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/dora_metrics_api.rb
  lib/datadog_api_client/v2/models/dora_event.rb
  lib/datadog_api_client/v2/models/dora_fetch_response.rb
  lib/datadog_api_client/v2/models/dora_incident_request_attributes.rb
  lib/datadog_api_client/v2/models/dora_list_deployments_request.rb
  lib/datadog_api_client/v2/models/dora_list_deployments_request_attributes.rb
  lib/datadog_api_client/v2/models/dora_list_deployments_request_data.rb
  lib/datadog_api_client/v2/models/dora_list_deployments_request_data_type.rb
  lib/datadog_api_client/v2/models/dora_list_failures_request.rb
  lib/datadog_api_client/v2/models/dora_list_failures_request_attributes.rb
  lib/datadog_api_client/v2/models/dora_list_failures_request_data.rb
  lib/datadog_api_client/v2/models/dora_list_failures_request_data_type.rb
  lib/datadog_api_client/v2/models/dora_list_response.rb
Due: generate, format-examples

Regenerate client from commit 11a9dcb4 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/synthetics_assertion_body_hash_target.rb
  lib/datadog_api_client/v1/models/synthetics_assertion_json_path_target_target.rb
  lib/datadog_api_client/v1/models/synthetics_assertion_target.rb
  lib/datadog_api_client/v1/models/synthetics_assertion_target_value.rb
  lib/datadog_api_client/v1/models/synthetics_assertion_x_path_target_target.rb
Due: generate

Regenerate client from commit 01171a5b of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/synthetics_api.rb
Due: generate

Regenerate client from commit a4ecd4cf of spec repo
  .apigentools-info
  cassettes/features/v2/rum_metrics/Create-a-rum-based-metric-returns-Created-response.frozen
  cassettes/features/v2/rum_metrics/Create-a-rum-based-metric-returns-Created-response.yml
  examples/v2/rum-metrics/CreateRumMetric.rb
  features/v2/rum_metrics.feature
Due: format-examples

Regenerate client from commit 6a0ddfd8 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/software_catalog/Get-a-list-of-entity-relations-returns-OK-response-with-pagination.frozen
  cassettes/features/v2/software_catalog/Get-a-list-of-entity-relations-returns-OK-response-with-pagination.yml
  cassettes/features/v2/software_catalog/Get-a-list-of-entity-relations-returns-OK-response.frozen
  cassettes/features/v2/software_catalog/Get-a-list-of-entity-relations-returns-OK-response.yml
  examples/v2/software-catalog/ListCatalogRelation.rb
  examples/v2/software-catalog/ListCatalogRelation_1311054087.rb
  features/scenarios_model_mapping.rb
  features/v2/software_catalog.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/software_catalog_api.rb
  lib/datadog_api_client/v2/models/list_relation_catalog_response.rb
  lib/datadog_api_client/v2/models/list_relation_catalog_response_links.rb
  lib/datadog_api_client/v2/models/relation_attributes.rb
  lib/datadog_api_client/v2/models/relation_entity.rb
  lib/datadog_api_client/v2/models/relation_include_type.rb
  lib/datadog_api_client/v2/models/relation_meta.rb
  lib/datadog_api_client/v2/models/relation_relationships.rb
  lib/datadog_api_client/v2/models/relation_response.rb
  lib/datadog_api_client/v2/models/relation_response_meta.rb
  lib/datadog_api_client/v2/models/relation_response_type.rb
  lib/datadog_api_client/v2/models/relation_to_entity.rb
Due: generate, format-examples

Bump versions and add changelog entries.
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit 081d3b61 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/teams/AddMemberTeam.rb
  examples/v2/teams/ListMemberTeams.rb
  examples/v2/teams/ListMemberTeams_1662850354.rb
  examples/v2/teams/RemoveMemberTeam.rb
  features/scenarios_model_mapping.rb
  features/v2/teams.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/teams_api.rb
  lib/datadog_api_client/v2/models/add_member_team_request.rb
  lib/datadog_api_client/v2/models/member_team.rb
  lib/datadog_api_client/v2/models/member_team_type.rb
Due: generate, format-examples

Regenerate client from commit f659b1f4 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/historical_job_query.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_data_source.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_query.rb
Due: generate

Update release workflow
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  RELEASING.md
Due: none

fix version
  lib/datadog_api_client/version.rb
Due: generate

update workflow
  .github/workflows/publish.yml
Due: none

Regenerate client from commit 3bd84aa8 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/hourly_usage_attribution_usage_type.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_supported_metrics.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_values.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
  lib/datadog_api_client/v2/api/usage_metering_api.rb
Due: generate

fix publish and release
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: none

Regenerate client from commit a6954c1c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/dora_metrics/Get-a-list-of-deployment-events-returns-Bad-Request-response.frozen
  cassettes/features/v2/dora_metrics/Get-a-list-of-deployment-events-returns-Bad-Request-response.yml
  cassettes/features/v2/dora_metrics/Get-a-list-of-deployment-events-returns-OK-response.frozen
  cassettes/features/v2/dora_metrics/Get-a-list-of-deployment-events-returns-OK-response.yml
  cassettes/features/v2/dora_metrics/Get-a-list-of-failure-events-returns-Bad-Request-response.frozen
  cassettes/features/v2/dora_metrics/Get-a-list-of-failure-events-returns-Bad-Request-response.yml
  cassettes/features/v2/dora_metrics/Get-a-list-of-failure-events-returns-OK-response.frozen
  cassettes/features/v2/dora_metrics/Get-a-list-of-failure-events-returns-OK-response.yml
  examples/v2/dora-metrics/GetDORADeployment.rb
  examples/v2/dora-metrics/GetDORAFailure.rb
  examples/v2/dora-metrics/ListDORADeployments.rb
  examples/v2/dora-metrics/ListDORAFailures.rb
  features/scenarios_model_mapping.rb
  features/v2/dora_metrics.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/dora_metrics_api.rb
  lib/datadog_api_client/v2/models/dora_event.rb
  lib/datadog_api_client/v2/models/dora_fetch_response.rb
  lib/datadog_api_client/v2/models/dora_incident_request_attributes.rb
  lib/datadog_api_client/v2/models/dora_list_deployments_request.rb
  lib/datadog_api_client/v2/models/dora_list_deployments_request_attributes.rb
  lib/datadog_api_client/v2/models/dora_list_deployments_request_data.rb
  lib/datadog_api_client/v2/models/dora_list_deployments_request_data_type.rb
  lib/datadog_api_client/v2/models/dora_list_failures_request.rb
  lib/datadog_api_client/v2/models/dora_list_failures_request_attributes.rb
  lib/datadog_api_client/v2/models/dora_list_failures_request_data.rb
  lib/datadog_api_client/v2/models/dora_list_failures_request_data_type.rb
  lib/datadog_api_client/v2/models/dora_list_response.rb
Due: generate, format-examples

Regenerate client from commit c75940cb of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/historical_job_query.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_data_source.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_query.rb
Due: generate

Regenerate client from commit d09cbc0c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/aws_account_response_attributes.rb
Due: generate

fix workflow
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: none

Regenerate client from commit 97968943 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/on-call/Set-On-Call-team-routing-rules-returns-OK-response.frozen
  cassettes/features/v2/on-call/Set-On-Call-team-routing-rules-returns-OK-response.yml
  examples/v2/on-call/SetOnCallTeamRoutingRules.rb
  features/v2/on-call.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/routing_rule_action.rb
  lib/datadog_api_client/v2/models/routing_rule_relationships_policy.rb
  lib/datadog_api_client/v2/models/send_slack_message_action.rb
  lib/datadog_api_client/v2/models/send_slack_message_action_type.rb
  lib/datadog_api_client/v2/models/send_teams_message_action.rb
  lib/datadog_api_client/v2/models/send_teams_message_action_type.rb
Due: generate, format-examples

Regenerate client from commit ed439f7c of spec repo
  .apigentools-info
  cassettes/features/v2/workflow_automation/Create-a-Workflow-returns-Bad-request-response.frozen
  cassettes/features/v2/workflow_automation/Create-a-Workflow-returns-Bad-request-response.yml
  cassettes/features/v2/workflow_automation/Create-a-Workflow-returns-Successfully-created-a-workflow-response.frozen
  cassettes/features/v2/workflow_automation/Create-a-Workflow-returns-Successfully-created-a-workflow-response.yml
  cassettes/features/v2/workflow_automation/Delete-an-existing-Workflow-returns-Not-found-response.frozen
  cassettes/features/v2/workflow_automation/Delete-an-existing-Workflow-returns-Not-found-response.yml
  cassettes/features/v2/workflow_automation/Delete-an-existing-Workflow-returns-Successfully-deleted-a-workflow-response.frozen
  cassettes/features/v2/workflow_automation/Delete-an-existing-Workflow-returns-Successfully-deleted-a-workflow-response.yml
  cassettes/features/v2/workflow_automation/Get-an-existing-Workflow-returns-Bad-request-response.frozen
  cassettes/features/v2/workflow_automation/Get-an-existing-Workflow-returns-Bad-request-response.yml
  cassettes/features/v2/workflow_automation/Get-an-existing-Workflow-returns-Not-found-response.frozen
  cassettes/features/v2/workflow_automation/Get-an-existing-Workflow-returns-Not-found-response.yml
  cassettes/features/v2/workflow_automation/Get-an-existing-Workflow-returns-Successfully-got-a-workflow-response.frozen
  cassettes/features/v2/workflow_automation/Get-an-existing-Workflow-returns-Successfully-got-a-workflow-response.yml
  cassettes/features/v2/workflow_automation/Update-an-existing-Workflow-returns-Bad-request-response.frozen
  cassettes/features/v2/workflow_automation/Update-an-existing-Workflow-returns-Bad-request-response.yml
  cassettes/features/v2/workflow_automation/Update-an-existing-Workflow-returns-Not-found-response.frozen
  cassettes/features/v2/workflow_automation/Update-an-existing-Workflow-returns-Not-found-response.yml
  cassettes/features/v2/workflow_automation/Update-an-existing-Workflow-returns-Successfully-updated-a-workflow-response.frozen
  cassettes/features/v2/workflow_automation/Update-an-existing-Workflow-returns-Successfully-updated-a-workflow-response.yml
  examples/v2/workflow-automation/CreateWorkflow.rb
  examples/v2/workflow-automation/UpdateWorkflow.rb
  features/v2/workflow_automation.feature
Due: format-examples

[AAWF-420] Update release workflow (#2423)
  .github/workflows/prepare_release.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  RELEASING.md
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit 7131a437 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/teams/AddMemberTeam.rb
  examples/v2/teams/ListMemberTeams.rb
  examples/v2/teams/ListMemberTeams_1662850354.rb
  examples/v2/teams/RemoveMemberTeam.rb
  features/scenarios_model_mapping.rb
  features/v2/teams.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/teams_api.rb
  lib/datadog_api_client/v2/models/add_member_team_request.rb
  lib/datadog_api_client/v2/models/member_team.rb
  lib/datadog_api_client/v2/models/member_team_type.rb
Due: generate, format-examples

Regenerate client from commit 2024b158 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 3fd2b5f6 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 092a87c8 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit f8ab686d of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 2791ac3e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit a4e80cb2 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/hourly_usage_attribution_usage_type.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_supported_metrics.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_values.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
  lib/datadog_api_client/v2/api/usage_metering_api.rb
Due: generate

Regenerate client from commit aed3efb8 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

use merge-commit
  .github/workflows/release.yml
Due: none

use merge-commit (#2438)
  .github/workflows/release.yml
Due: none

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
