Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

Regenerate client from commit e2a8c25 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/synthetics/Create-a-test-suite-returns-OK-response.frozen
  cassettes/features/v2/synthetics/Create-a-test-suite-returns-OK-response.yml
  lib/datadog_api_client/v2/models/incident_integration_metadata_attributes.rb
Due: generate

Regenerate client from commit 199c222 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/events/CreateEventEmailAddress.rb
  examples/v2/events/CreateOnCallEventEmailAddress.rb
  examples/v2/events/DeleteEventEmailAddress.rb
  examples/v2/events/DeleteOnCallEventEmailAddress.rb
  examples/v2/events/GetEventEmailAddress.rb
  examples/v2/events/ListEventEmailAddresses.rb
  examples/v2/events/ListOnCallEventEmailAddresses.rb
  examples/v2/events/UpdateEventEmailAddress.rb
  features/scenarios_model_mapping.rb
  features/v2/events.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/events_api.rb
  lib/datadog_api_client/v2/models/event_email_address_alert_type.rb
  lib/datadog_api_client/v2/models/event_email_address_create_attributes.rb
  lib/datadog_api_client/v2/models/event_email_address_create_data.rb
  lib/datadog_api_client/v2/models/event_email_address_create_request.rb
  lib/datadog_api_client/v2/models/event_email_address_created_by_relationship.rb
  lib/datadog_api_client/v2/models/event_email_address_data.rb
  lib/datadog_api_client/v2/models/event_email_address_format.rb
  lib/datadog_api_client/v2/models/event_email_address_included_user.rb
  lib/datadog_api_client/v2/models/event_email_address_included_user_attributes.rb
  lib/datadog_api_client/v2/models/event_email_address_relationships.rb
  lib/datadog_api_client/v2/models/event_email_address_resource_type.rb
  lib/datadog_api_client/v2/models/event_email_address_response_attributes.rb
  lib/datadog_api_client/v2/models/event_email_address_revoked_by_relationship.rb
  lib/datadog_api_client/v2/models/event_email_address_single_response.rb
  lib/datadog_api_client/v2/models/event_email_address_update_attributes.rb
  lib/datadog_api_client/v2/models/event_email_address_update_data.rb
  lib/datadog_api_client/v2/models/event_email_address_update_request.rb
  lib/datadog_api_client/v2/models/event_email_address_user_data.rb
  lib/datadog_api_client/v2/models/event_email_addresses_response.rb
  lib/datadog_api_client/v2/models/on_call_event_email_address_create_attributes.rb
  lib/datadog_api_client/v2/models/on_call_event_email_address_create_data.rb
  lib/datadog_api_client/v2/models/on_call_event_email_address_create_request.rb
Due: generate, format-examples

Regenerate client from commit 7352422 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/v2/synthetics.feature
Due: generate

Regenerate client from commit 1df0ef4 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/synthetics/Create-an-API-test-with-a-file-payload-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-test-with-a-file-payload-returns-OK-Returns-the-created-test-details-response.yml
  examples/v1/synthetics/CreateSyntheticsAPITest_1241981394.rb
  features/v1/synthetics_api_http_test_with_file_payload.json
  lib/datadog_api_client/v1/models/synthetics_test_request_body_file.rb
Due: generate, format-examples

Regenerate client from commit a3bdbcd of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/configuration.rb
Due: generate

Regenerate client from commit 07005dd of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit 4cdcb1f of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit f42ff21 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_billable_summary_hour.rb
Due: generate

Regenerate client from commit 123ee19 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/v2/api/metrics_api.rb
Due: generate

Regenerate client from commit 53ef8c0 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/observability_pipeline_opentelemetry_source.rb
Due: generate

Regenerate client from commit d57d294 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/aws_integration/Create-AWS-CCM-config-returns-AWS-CCM-Config-object-response.frozen
  cassettes/features/v2/aws_integration/Create-AWS-CCM-config-returns-AWS-CCM-Config-object-response.yml
  cassettes/features/v2/aws_integration/Create-AWS-CCM-config-returns-Conflict-response.frozen
  cassettes/features/v2/aws_integration/Create-AWS-CCM-config-returns-Conflict-response.yml
  cassettes/features/v2/aws_integration/Create-AWS-CCM-config-returns-Not-Found-response.frozen
  cassettes/features/v2/aws_integration/Create-AWS-CCM-config-returns-Not-Found-response.yml
  cassettes/features/v2/aws_integration/Delete-AWS-CCM-config-returns-No-Content-response.frozen
  cassettes/features/v2/aws_integration/Delete-AWS-CCM-config-returns-No-Content-response.yml
  cassettes/features/v2/aws_integration/Delete-AWS-CCM-config-returns-Not-Found-response.frozen
  cassettes/features/v2/aws_integration/Delete-AWS-CCM-config-returns-Not-Found-response.yml
  cassettes/features/v2/aws_integration/Get-AWS-CCM-config-returns-Not-Found-response.frozen
  cassettes/features/v2/aws_integration/Get-AWS-CCM-config-returns-Not-Found-response.yml
  cassettes/features/v2/aws_integration/Update-AWS-CCM-config-returns-AWS-CCM-Config-object-response.frozen
  cassettes/features/v2/aws_integration/Update-AWS-CCM-config-returns-AWS-CCM-Config-object-response.yml
  cassettes/features/v2/aws_integration/Update-AWS-CCM-config-returns-Not-Found-response.frozen
  cassettes/features/v2/aws_integration/Update-AWS-CCM-config-returns-Not-Found-response.yml
  examples/v2/aws-integration/CreateAWSAccountCCMConfig.rb
  examples/v2/aws-integration/DeleteAWSAccountCCMConfig.rb
  examples/v2/aws-integration/GetAWSAccountCCMConfig.rb
  examples/v2/aws-integration/UpdateAWSAccountCCMConfig.rb
  features/scenarios_model_mapping.rb
  features/v2/aws_integration.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/aws_integration_api.rb
  lib/datadog_api_client/v2/models/aws_ccm_config.rb
  lib/datadog_api_client/v2/models/aws_ccm_config_request.rb
  lib/datadog_api_client/v2/models/aws_ccm_config_request_attributes.rb
  lib/datadog_api_client/v2/models/aws_ccm_config_request_data.rb
  lib/datadog_api_client/v2/models/aws_ccm_config_response.rb
  lib/datadog_api_client/v2/models/aws_ccm_config_response_attributes.rb
  lib/datadog_api_client/v2/models/aws_ccm_config_response_data.rb
  lib/datadog_api_client/v2/models/aws_ccm_config_type.rb
  lib/datadog_api_client/v2/models/data_export_config.rb
Due: generate, format-examples

Regenerate client from commit 1c5e4c8 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/metrics_api.rb
Due: generate

Regenerate client from commit 9eb93ee of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/hourly_usage_attribution_usage_type.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_values.rb
Due: generate

Regenerate client from commit 4fc5016 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/bar_chart_widget_request.rb
  lib/datadog_api_client/v1/models/change_widget_request.rb
  lib/datadog_api_client/v1/models/distribution_widget_request.rb
  lib/datadog_api_client/v1/models/geomap_widget_request.rb
  lib/datadog_api_client/v1/models/heat_map_widget_definition.rb
  lib/datadog_api_client/v1/models/heat_map_widget_request.rb
  lib/datadog_api_client/v1/models/query_value_widget_request.rb
  lib/datadog_api_client/v1/models/sunburst_widget_request.rb
  lib/datadog_api_client/v1/models/table_widget_request.rb
  lib/datadog_api_client/v1/models/timeseries_widget_definition.rb
  lib/datadog_api_client/v1/models/timeseries_widget_request.rb
  lib/datadog_api_client/v1/models/toplist_widget_request.rb
  lib/datadog_api_client/v1/models/tree_map_widget_request.rb
  lib/datadog_api_client/v1/models/widget_event.rb
  lib/datadog_api_client/v1/models/widget_histogram_request_type.rb
Due: generate

Regenerate client from commit 1ab8955 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/monitors/Create-a-monitor-with-aggregate-augmented-query-variables-returns-OK-response.frozen
  cassettes/features/v1/monitors/Create-a-monitor-with-aggregate-augmented-query-variables-returns-OK-response.yml
  cassettes/features/v1/monitors/Create-a-monitor-with-aggregate-filtered-query-variables-returns-OK-response.frozen
  cassettes/features/v1/monitors/Create-a-monitor-with-aggregate-filtered-query-variables-returns-OK-response.yml
  examples/v1/monitors/CreateMonitor_2082938111.rb
  examples/v1/monitors/CreateMonitor_2608995690.rb
  features/v1/monitors.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_aggregate_augment_query.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_aggregate_augmented_data_source.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_aggregate_augmented_query_definition.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_aggregate_base_query.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_aggregate_filter_query.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_aggregate_filtered_data_source.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_aggregate_filtered_query_definition.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_aggregate_query_filter.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_aggregate_query_join_condition.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_aggregate_query_join_type.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_event_query_definition_compute.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_metrics_aggregator.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_metrics_data_source.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_metrics_query_definition.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_reference_table_column.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_reference_table_data_source.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_reference_table_query_definition.rb
Due: generate, format-examples

Regenerate client from commit 69abf44 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_billable_summary_hour.rb
Due: generate

CRED-2151: Add PAT auth support to Ruby API client - templates and tests
  .generator/src/generator/templates/api_client.j2
  .generator/src/generator/templates/configuration.j2
  spec/api_client_spec.rb
  spec/configuration_spec.rb
Due: generate

CRED-2151: Regenerated client code from templates
  lib/datadog_api_client/api_client.rb
  lib/datadog_api_client/configuration.rb
Due: generate

Regenerate client from commit b5e5ace of spec repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v2/usage-metering/GetUsageAttributionTypes.rb
  features/v2/undo.json
  features/v2/usage_metering.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/hourly_usage_attribution_body.rb
  lib/datadog_api_client/v1/models/hourly_usage_attribution_usage_type.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_body.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_supported_metrics.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_values.rb
  lib/datadog_api_client/v2/api/metrics_api.rb
  lib/datadog_api_client/v2/api/usage_metering_api.rb
  lib/datadog_api_client/v2/models/usage_attribution_types_attributes.rb
  lib/datadog_api_client/v2/models/usage_attribution_types_body.rb
  lib/datadog_api_client/v2/models/usage_attribution_types_response.rb
  lib/datadog_api_client/v2/models/usage_attribution_types_type.rb
Due: generate, format-examples

Regenerate client from commit e5cd8a3 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/service_level_objectives/Create-a-new-metric-SLO-object-using-bad-events-formula-returns-OK-response.frozen
  cassettes/features/v1/service_level_objectives/Create-a-new-metric-SLO-object-using-bad-events-formula-returns-OK-response.yml
  examples/v1/service-level-objectives/CreateSLO_707861409.rb
  features/v1/service_level_objectives.feature
  lib/datadog_api_client/v1/models/slo_count_definition.rb
  lib/datadog_api_client/v1/models/slo_count_spec.rb
Due: generate, format-examples

Regenerate client from commit 988555f of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/teams/Get-team-sync-configurations-returns-OK-response.frozen
  cassettes/features/v2/teams/Get-team-sync-configurations-returns-OK-response.yml
  cassettes/features/v2/teams/Link-Teams-with-GitHub-Teams-returns-No-Content-response.frozen
  cassettes/features/v2/teams/Link-Teams-with-GitHub-Teams-returns-No-Content-response.yml
  cassettes/features/v2/teams/Sync-teams-returns-OK-response.frozen
  examples/v2/teams/SyncTeams_3215592344.rb
  features/v2/teams.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/teams_api.rb
  lib/datadog_api_client/v2/models/team_sync_selection_state_external_id.rb
  lib/datadog_api_client/v2/models/team_sync_selection_state_external_id_type.rb
  lib/datadog_api_client/v2/models/team_sync_selection_state_item.rb
  lib/datadog_api_client/v2/models/team_sync_selection_state_operation.rb
  lib/datadog_api_client/v2/models/team_sync_selection_state_scope.rb
Due: generate, format-examples

Regenerate client from commit 38eeae6 of spec repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v2/api/usage_metering_api.rb
Due: generate

Regenerate client from commit a431cf9 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit 5abd930 of spec repo
  cassettes/features/v2/audit/Get-a-list-of-Audit-Logs-events-returns-OK-response-with-pagination.yml
  cassettes/features/v2/audit/Search-Audit-Logs-events-returns-OK-response-with-pagination.yml
  cassettes/features/v2/container_images/Get-all-Container-Images-returns-OK-response-with-pagination.yml
  cassettes/features/v2/containers/Get-All-Containers-returns-OK-response-with-pagination.yml
  cassettes/features/v2/events/Get-a-list-of-events-returns-OK-response-with-pagination.yml
  cassettes/features/v2/events/Search-events-returns-OK-response-with-pagination.yml
  cassettes/features/v2/logs/Get-a-list-of-logs-returns-OK-response-with-pagination.yml
  cassettes/features/v2/logs/Search-logs-returns-OK-response-with-pagination.yml
  cassettes/features/v2/metrics/Get-a-list-of-metrics-returns-Success-response-with-pagination.yml
  cassettes/features/v2/processes/Get-all-processes-returns-OK-response-with-pagination.yml
  cassettes/features/v2/rum/Get-a-list-of-RUM-events-returns-OK-response-with-pagination.yml
  cassettes/features/v2/rum/Search-RUM-events-returns-OK-response-with-pagination.yml
  cassettes/features/v2/security_monitoring/Get-a-list-of-security-signals-returns-OK-response-with-pagination.yml
  cassettes/features/v2/security_monitoring/Get-a-quick-list-of-security-signals-returns-OK-response-with-pagination.yml
  cassettes/features/v2/spans/Get-a-list-of-spans-returns-OK-response-with-pagination.yml
  cassettes/features/v2/spans/Search-spans-returns-OK-response-with-pagination.yml
Due: none

Bump versions and add changelog entries.
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit 7a70f56 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-timeseries-widget-using-has-value-labels.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-timeseries-widget-using-has-value-labels.yml
  examples/v1/dashboards/CreateDashboard_1259346254.rb
  examples/v1/dashboards/CreateDashboard_1284514532.rb
  examples/v1/dashboards/CreateDashboard_1307120899.rb
  examples/v1/dashboards/CreateDashboard_1433408735.rb
  examples/v1/dashboards/CreateDashboard_1705253330.rb
  examples/v1/dashboards/CreateDashboard_2261785072.rb
  examples/v1/dashboards/CreateDashboard_2278756614.rb
  examples/v1/dashboards/CreateDashboard_2800096921.rb
  examples/v1/dashboards/CreateDashboard_3066042014.rb
  examples/v1/dashboards/CreateDashboard_3451918078.rb
  examples/v1/dashboards/CreateDashboard_3631423980.rb
  examples/v1/dashboards/CreateDashboard_3982498788.rb
  examples/v1/dashboards/CreateDashboard_41622531.rb
  examples/v1/dashboards/CreateDashboard_4262729673.rb
  examples/v1/dashboards/CreateDashboard_607525069.rb
  examples/v1/dashboards/CreateDashboard_985012506.rb
  examples/v1/notebooks/CreateNotebook.rb
  examples/v1/notebooks/UpdateNotebook.rb
  features/v1/dashboards.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/timeseries_request_style.rb
  lib/datadog_api_client/v1/models/timeseries_widget_request.rb
Due: generate, format-examples

Regenerate client from commit 053aab5 of spec repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v2/api/usage_metering_api.rb
Due: generate

Regenerate client from commit 590a4a4 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit 5163f44 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/static-analysis/GetLicenses.rb
  features/v2/static_analysis.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/static_analysis_api.rb
  lib/datadog_api_client/v2/models/licenses_list_request.rb
  lib/datadog_api_client/v2/models/licenses_list_request_data.rb
  lib/datadog_api_client/v2/models/licenses_list_request_data_attributes.rb
  lib/datadog_api_client/v2/models/licenses_list_request_data_type.rb
  lib/datadog_api_client/v2/models/licenses_list_request_license.rb
Due: generate, format-examples

Regenerate client from commit 11f6077 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/aws_integration/Create-AWS-CCM-config-returns-AWS-CCM-Config-object-response.frozen
  cassettes/features/v2/aws_integration/Create-AWS-CCM-config-returns-AWS-CCM-Config-object-response.yml
  cassettes/features/v2/aws_integration/Create-AWS-CCM-config-returns-Conflict-response.frozen
  cassettes/features/v2/aws_integration/Create-AWS-CCM-config-returns-Conflict-response.yml
  cassettes/features/v2/aws_integration/Create-AWS-CCM-config-returns-Not-Found-response.frozen
  cassettes/features/v2/aws_integration/Create-AWS-CCM-config-returns-Not-Found-response.yml
  cassettes/features/v2/aws_integration/Delete-AWS-CCM-config-returns-No-Content-response.frozen
  cassettes/features/v2/aws_integration/Delete-AWS-CCM-config-returns-No-Content-response.yml
  cassettes/features/v2/aws_integration/Delete-AWS-CCM-config-returns-Not-Found-response.frozen
  cassettes/features/v2/aws_integration/Delete-AWS-CCM-config-returns-Not-Found-response.yml
  cassettes/features/v2/aws_integration/Get-AWS-CCM-config-returns-Not-Found-response.frozen
  cassettes/features/v2/aws_integration/Get-AWS-CCM-config-returns-Not-Found-response.yml
  cassettes/features/v2/aws_integration/Update-AWS-CCM-config-returns-AWS-CCM-Config-object-response.frozen
  cassettes/features/v2/aws_integration/Update-AWS-CCM-config-returns-AWS-CCM-Config-object-response.yml
  cassettes/features/v2/aws_integration/Update-AWS-CCM-config-returns-Not-Found-response.frozen
  cassettes/features/v2/aws_integration/Update-AWS-CCM-config-returns-Not-Found-response.yml
  examples/v2/aws-integration/CreateAWSAccountCCMConfig.rb
  examples/v2/aws-integration/DeleteAWSAccountCCMConfig.rb
  examples/v2/aws-integration/GetAWSAccountCCMConfig.rb
  examples/v2/aws-integration/UpdateAWSAccountCCMConfig.rb
  features/scenarios_model_mapping.rb
  features/v2/aws_integration.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/aws_integration_api.rb
  lib/datadog_api_client/v2/models/aws_ccm_config.rb
  lib/datadog_api_client/v2/models/aws_ccm_config_request.rb
  lib/datadog_api_client/v2/models/aws_ccm_config_request_attributes.rb
  lib/datadog_api_client/v2/models/aws_ccm_config_request_data.rb
  lib/datadog_api_client/v2/models/aws_ccm_config_response.rb
  lib/datadog_api_client/v2/models/aws_ccm_config_response_attributes.rb
  lib/datadog_api_client/v2/models/aws_ccm_config_response_data.rb
  lib/datadog_api_client/v2/models/aws_ccm_config_type.rb
  lib/datadog_api_client/v2/models/data_export_config.rb
Due: generate, format-examples

trigger extra response with cursor pagination until response is empty
  .generator/src/generator/templates/api.j2
Due: generate

Regenerate client from commit 64b7d7f of spec repo
  cassettes/features/v2/audit/Get-a-list-of-Audit-Logs-events-returns-OK-response-with-pagination.yml
  cassettes/features/v2/audit/Search-Audit-Logs-events-returns-OK-response-with-pagination.yml
  cassettes/features/v2/container_images/Get-all-Container-Images-returns-OK-response-with-pagination.yml
  cassettes/features/v2/containers/Get-All-Containers-returns-OK-response-with-pagination.yml
  cassettes/features/v2/events/Get-a-list-of-events-returns-OK-response-with-pagination.yml
  cassettes/features/v2/events/Search-events-returns-OK-response-with-pagination.yml
  cassettes/features/v2/logs/Get-a-list-of-logs-returns-OK-response-with-pagination.yml
  cassettes/features/v2/logs/Search-logs-returns-OK-response-with-pagination.yml
  cassettes/features/v2/metrics/Get-a-list-of-metrics-returns-Success-response-with-pagination.yml
  cassettes/features/v2/processes/Get-all-processes-returns-OK-response-with-pagination.yml
  cassettes/features/v2/rum/Get-a-list-of-RUM-events-returns-OK-response-with-pagination.yml
  cassettes/features/v2/rum/Search-RUM-events-returns-OK-response-with-pagination.yml
  cassettes/features/v2/security_monitoring/Get-a-list-of-security-signals-returns-OK-response-with-pagination.yml
  cassettes/features/v2/security_monitoring/Get-a-quick-list-of-security-signals-returns-OK-response-with-pagination.yml
  cassettes/features/v2/spans/Get-a-list-of-spans-returns-OK-response-with-pagination.yml
  cassettes/features/v2/spans/Search-spans-returns-OK-response-with-pagination.yml
  lib/datadog_api_client/v2/api/audit_api.rb
  lib/datadog_api_client/v2/api/ci_visibility_pipelines_api.rb
  lib/datadog_api_client/v2/api/ci_visibility_tests_api.rb
  lib/datadog_api_client/v2/api/container_images_api.rb
  lib/datadog_api_client/v2/api/containers_api.rb
  lib/datadog_api_client/v2/api/events_api.rb
  lib/datadog_api_client/v2/api/logs_api.rb
  lib/datadog_api_client/v2/api/metrics_api.rb
  lib/datadog_api_client/v2/api/processes_api.rb
  lib/datadog_api_client/v2/api/rum_api.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/api/spans_api.rb
  lib/datadog_api_client/v2/api/test_optimization_api.rb
Due: generate

Regenerate client from commit 09dba22 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/org_connection_type_enum.rb
Due: generate

Regenerate client from commit 4a2166a of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/filters_per_product.rb
Due: generate
