Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

generated-features:
  name: Do not commit generated feature files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

SPDX
  LICENSE-3rdparty.csv
Due: none

Regenerate client from commit d9efdb7 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/ApmStatsQueryColumnType.md
  docs/v1/ApmStatsQueryDefinition.md
  docs/v1/README.md
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/apm_stats_query_column_type.rb
Due: generated

Update README.md (#47)
  README.md
Due: none

Add 3rd party license list (#46)
  LICENSE-3rdparty.csv
Due: none

Regenerate client from commit 6afd9b9 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
Due: none

ignore spec_helper
  .openapi-generator-ignore
Due: none

[Ruby] Feature/ruby client build from hash nullable array (#7609)
  base_object.mustache
Due: none

[Ruby] Feature/ruby client build from hash nullable array (#7609)
  .generator/templates/base_object.mustache
Due: none

Regenerate client from commit 4039731 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
Due: none

Regenerate client from commit fa4b122 of spec repo
  .apigentools-info
  data/v2/openapi.yaml
  docs/v2/LogsArchiveAttributes.md
  docs/v2/LogsArchiveCreateRequestAttributes.md
  lib/datadog_api_client/v2/models/logs_archive_attributes.rb
  lib/datadog_api_client/v2/models/logs_archive_create_request_attributes.rb
Due: generated

Regenerate client from commit e8ffc0a of spec repo
  .apigentools-info
  data/v1/openapi.yaml
Due: none

more widgets
  spec/spec_helper.rb
  spec/v1/api/dashboards_api_spec.rb
  spec/v1/spec_helper_v1.rb
Due: none

dashboard lifecycle test
  spec/v1/api/dashboards_api_spec.rb
  spec/v1/spec_helper_v1.rb
Due: none

small improvements + cassette
  cassettes/spec/v1/api/dashboards_api_spec/DashboardsApi-dashboards-api-test-dashboards-lifecycle.yml
  spec/spec_helper.rb
  spec/v1/api/dashboards_api_spec.rb
Due: none

improvements
  spec/spec_helper.rb
  spec/v1/api/dashboards_api_spec.rb
Due: none

Unifies naming for isMap in Schema class properties (#7640)
  .generator/templates/partial_model_generic.mustache
Due: none

Unifies naming for isMap in Schema class properties (#7640)
  partial_model_generic.mustache
Due: none

formatting
  spec/v2/api/logs_api_spec.rb
Due: none

Regenerate client from commit 13cb201 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
Due: none

Migrate env variable setting
  .github/workflows/test.yml
Due: none

Migrate env variable setting (#55)
  .github/workflows/test.yml
Due: none

Regenerate client from commit d0f43d8 of spec repo
  .apigentools-info
  data/v2/openapi.yaml
  docs/v2/LogsAggregateSort.md
  lib/datadog_api_client/v2/models/logs_aggregate_sort.rb
Due: generated

Unifies naming for isArray in Schema class properties (#7691)
  .generator/templates/partial_model_generic.mustache
Due: none

Unifies naming for isArray in Schema class properties (#7691)
  partial_model_generic.mustache
Due: none

Regenerate client from commit 7f17f89 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/SyntheticsTestRequest.md
  docs/v1/SyntheticsTestRequestCertificate.md
  docs/v1/SyntheticsTestRequestCertificateItem.md
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/synthetics_test_request_certificate.rb
  lib/datadog_api_client/v1/models/synthetics_test_request_certificate_item.rb
Due: generated

Regenerate client from commit 040f21f of spec repo
  .apigentools-info
  docs/v1/AWSIntegrationApi.md
  docs/v1/AWSLogsIntegrationApi.md
  docs/v1/AuthenticationApi.md
  docs/v1/AzureIntegrationApi.md
  docs/v1/DashboardListsApi.md
  docs/v1/DashboardsApi.md
  docs/v1/DowntimesApi.md
  docs/v1/EventsApi.md
  docs/v1/GCPIntegrationApi.md
  docs/v1/HostsApi.md
  docs/v1/KeyManagementApi.md
  docs/v1/LogsApi.md
  docs/v1/LogsIndexesApi.md
  docs/v1/LogsPipelinesApi.md
  docs/v1/MetricsApi.md
  docs/v1/MonitorsApi.md
  docs/v1/OrganizationsApi.md
  docs/v1/PagerDutyIntegrationApi.md
  docs/v1/README.md
  docs/v1/ServiceLevelObjectivesApi.md
  docs/v1/SnapshotsApi.md
  docs/v1/SyntheticsApi.md
  docs/v1/TagsApi.md
  docs/v1/UsageMeteringApi.md
  docs/v1/UsersApi.md
  docs/v2/DashboardListsApi.md
  docs/v2/LogsApi.md
  docs/v2/LogsArchivesApi.md
  docs/v2/README.md
  docs/v2/RolesApi.md
  docs/v2/SecurityMonitoringApi.md
  docs/v2/ServicesApi.md
  docs/v2/TeamsApi.md
  docs/v2/UsersApi.md
Due: none

[Ruby] Replace DateTime with Time (#7656)
  .generator/templates/api_client.mustache
  .generator/templates/base_object.mustache
  .generator/templates/model.mustache
Due: none

[Ruby] Replace DateTime with Time (#7656)
  api_client.mustache
  base_object.mustache
  model.mustache
Due: none

Regenerate client from commit abf8195 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  features/v1/logs_pipelines.feature
Due: generated-features

Regenerate client from commit 24e57ca of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/MonitorOptions.md
  features/v1/logs_pipelines.feature
  lib/datadog_api_client/v1/models/monitor_options.rb
Due: generated, generated-features

Regenerate client from commit 89ff7a4 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/UsageSummaryDate.md
  docs/v1/UsageSummaryDateOrg.md
  docs/v1/UsageSummaryResponse.md
  docs/v1/UsageTraceHour.md
  lib/datadog_api_client/v1/models/timeseries_widget_definition.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
  lib/datadog_api_client/v1/models/usage_trace_hour.rb
Due: generated

Regenerate client from commit 68b59be of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/LogsListRequest.md
  lib/datadog_api_client/v1/models/logs_list_request.rb
Due: generated

Regenerate client from commit f1dd07f of spec repo
  .apigentools-info
  data/v2/openapi.yaml
  docs/v2/LogsArchiveAttributes.md
  docs/v2/LogsArchiveCreateRequestAttributes.md
  lib/datadog_api_client/v2/models/logs_archive_attributes.rb
  lib/datadog_api_client/v2/models/logs_archive_create_request_attributes.rb
Due: generated

Regenerate client from commit f53311d of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/Event.md
  lib/datadog_api_client/v1/models/event.rb
Due: generated

Regenerate client from commit 787c299 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  lib/datadog_api_client/v1/models/synthetics_step_type.rb
Due: generated

fix cassettes and bdd glue
  cassettes/features/v2/incident_services/Create-a-new-incident-service-returns-CREATED-response.yml
  cassettes/features/v2/incident_services/Delete-an-existing-incident-service-returns-OK-response.yml
  cassettes/features/v2/incident_services/Get-a-list-of-all-incident-services-returns-OK-response.yml
  cassettes/features/v2/incident_services/Get-details-of-an-incident-service-returns-OK-response.yml
  cassettes/features/v2/incident_services/Update-an-existing-incident-service-returns-OK-response.yml
  cassettes/features/v2/incident_teams/Create-a-new-incident-team-returns-CREATED-response.yml
  cassettes/features/v2/incident_teams/Delete-an-existing-incident-team-returns-OK-response.yml
  cassettes/features/v2/incident_teams/Get-a-list-of-all-incident-teams-returns-OK-response.yml
  cassettes/features/v2/incident_teams/Get-details-of-an-incident-team-returns-OK-response.yml
  cassettes/features/v2/incident_teams/Update-an-existing-incident-team-returns-OK-response.yml
  cassettes/features/v2/services/Create-a-new-service-returns-CREATED-response.yml
  cassettes/features/v2/services/Delete-an-existing-service-returns-OK-response.yml
  cassettes/features/v2/services/Get-details-of-a-service-returns-OK-response.yml
  cassettes/features/v2/services/Update-an-existing-service-returns-OK-response.yml
  cassettes/features/v2/teams/Create-a-new-team-returns-CREATED-response.yml
  cassettes/features/v2/teams/Delete-an-existing-team-returns-OK-response.yml
  cassettes/features/v2/teams/Get-a-list-of-all-teams-returns-OK-response.yml
  cassettes/features/v2/teams/Get-details-of-a-team-returns-OK-response.yml
  cassettes/features/v2/teams/Update-an-existing-team-returns-OK-response.yml
  features/step_definitions/request.rb
Due: none

Path conditions:
  generated: any of: ^lib/datadog_api_client/v[1-9].*
  generated-features: any of: ^features/v[1-9][0-9]*/.*.feature$
