Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

Regenerate client from commit 22f067f of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/llm_observability_api.rb
  lib/datadog_api_client/v2/models/llm_obs_annotation_queue_data_attributes_request.rb
Due: generate

Regenerate client from commit fed6b98 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/status_pages_api.rb
Due: generate

Regenerate client from commit cbdc279 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/code-coverage/GetCodeCoverageBranchSummary.rb
  examples/v2/code-coverage/GetCodeCoverageCommitSummary.rb
  examples/v2/code-coverage/GetCodeCoverageFiles.rb
  examples/v2/code-coverage/GetCodeCoveragePRSummary.rb
  features/scenarios_model_mapping.rb
  features/v2/code_coverage.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/code_coverage_api.rb
  lib/datadog_api_client/v2/models/file_coverage_lines.rb
  lib/datadog_api_client/v2/models/files_coverage_attributes.rb
  lib/datadog_api_client/v2/models/files_coverage_data.rb
  lib/datadog_api_client/v2/models/files_coverage_request.rb
  lib/datadog_api_client/v2/models/files_coverage_request_attributes.rb
  lib/datadog_api_client/v2/models/files_coverage_request_data.rb
  lib/datadog_api_client/v2/models/files_coverage_request_type.rb
  lib/datadog_api_client/v2/models/files_coverage_response.rb
  lib/datadog_api_client/v2/models/files_coverage_response_type.rb
  lib/datadog_api_client/v2/models/pr_coverage_summary_request.rb
  lib/datadog_api_client/v2/models/pr_coverage_summary_request_attributes.rb
  lib/datadog_api_client/v2/models/pr_coverage_summary_request_data.rb
  lib/datadog_api_client/v2/models/pr_coverage_summary_request_type.rb
Due: generate, format-examples

Regenerate client from commit aa83187 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/llm_obs_patterns_activity_progress.rb
  lib/datadog_api_client/v2/models/llm_obs_patterns_config_snapshot.rb
Due: generate

Regenerate client from commit 416a48d of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/list_stream_query.rb
  lib/datadog_api_client/v1/models/list_stream_source.rb
Due: generate

Regenerate client from commit d3a8d64 of spec repo
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit dbd4962 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/rum-retention-filters/CreateExclusionFilter.rb
  examples/v2/rum-retention-filters/DeleteExclusionFilter.rb
  examples/v2/rum-retention-filters/GetExclusionFilter.rb
  examples/v2/rum-retention-filters/ListExclusionFilters.rb
  examples/v2/rum-retention-filters/UpdateExclusionFilter.rb
  features/scenarios_model_mapping.rb
  features/v2/rum_retention_filters.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/rum_retention_filters_api.rb
  lib/datadog_api_client/v2/models/rum_exclusion_filter_attributes.rb
  lib/datadog_api_client/v2/models/rum_exclusion_filter_create_attributes.rb
  lib/datadog_api_client/v2/models/rum_exclusion_filter_create_data.rb
  lib/datadog_api_client/v2/models/rum_exclusion_filter_create_request.rb
  lib/datadog_api_client/v2/models/rum_exclusion_filter_data.rb
  lib/datadog_api_client/v2/models/rum_exclusion_filter_event_type.rb
  lib/datadog_api_client/v2/models/rum_exclusion_filter_meta.rb
  lib/datadog_api_client/v2/models/rum_exclusion_filter_response.rb
  lib/datadog_api_client/v2/models/rum_exclusion_filter_type.rb
  lib/datadog_api_client/v2/models/rum_exclusion_filter_update_attributes.rb
  lib/datadog_api_client/v2/models/rum_exclusion_filter_update_data.rb
  lib/datadog_api_client/v2/models/rum_exclusion_filter_update_request.rb
  lib/datadog_api_client/v2/models/rum_exclusion_filters_response.rb
Due: generate, format-examples

Regenerate client from commit aa2eba1 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Create-a-new-signal-based-notification-rule-returns-Successfully-created-the-notification-rule-response.frozen
  cassettes/features/v2/security_monitoring/Create-a-new-signal-based-notification-rule-returns-Successfully-created-the-notification-rule-response.yml
  cassettes/features/v2/security_monitoring/Create-a-new-vulnerability-based-notification-rule-returns-Successfully-created-the-notification-rule-response.frozen
  cassettes/features/v2/security_monitoring/Create-a-new-vulnerability-based-notification-rule-returns-Successfully-created-the-notification-rule-response.yml
  cassettes/features/v2/security_monitoring/Delete-a-signal-based-notification-rule-returns-Rule-successfully-deleted-response.frozen
  cassettes/features/v2/security_monitoring/Delete-a-signal-based-notification-rule-returns-Rule-successfully-deleted-response.yml
  cassettes/features/v2/security_monitoring/Delete-a-vulnerability-based-notification-rule-returns-Rule-successfully-deleted-response.frozen
  cassettes/features/v2/security_monitoring/Delete-a-vulnerability-based-notification-rule-returns-Rule-successfully-deleted-response.yml
  cassettes/features/v2/security_monitoring/Get-details-of-a-signal-based-notification-rule-returns-Notification-rule-details-response.frozen
  cassettes/features/v2/security_monitoring/Get-details-of-a-signal-based-notification-rule-returns-Notification-rule-details-response.yml
  cassettes/features/v2/security_monitoring/Get-details-of-a-vulnerability-notification-rule-returns-Notification-rule-details-response.frozen
  cassettes/features/v2/security_monitoring/Get-details-of-a-vulnerability-notification-rule-returns-Notification-rule-details-response.yml
  cassettes/features/v2/security_monitoring/Get-the-list-of-signal-based-notification-rules-returns-The-list-of-notification-rules-response.frozen
  cassettes/features/v2/security_monitoring/Get-the-list-of-signal-based-notification-rules-returns-The-list-of-notification-rules-response.yml
  cassettes/features/v2/security_monitoring/Get-the-list-of-vulnerability-notification-rules-returns-The-list-of-notification-rules-response.frozen
  cassettes/features/v2/security_monitoring/Get-the-list-of-vulnerability-notification-rules-returns-The-list-of-notification-rules-response.yml
  cassettes/features/v2/security_monitoring/Patch-a-signal-based-notification-rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/security_monitoring/Patch-a-signal-based-notification-rule-returns-Bad-Request-response.yml
  cassettes/features/v2/security_monitoring/Patch-a-signal-based-notification-rule-returns-Notification-rule-successfully-patched-response.frozen
  cassettes/features/v2/security_monitoring/Patch-a-signal-based-notification-rule-returns-Notification-rule-successfully-patched-response.yml
  cassettes/features/v2/security_monitoring/Patch-a-vulnerability-based-notification-rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/security_monitoring/Patch-a-vulnerability-based-notification-rule-returns-Bad-Request-response.yml
  cassettes/features/v2/security_monitoring/Patch-a-vulnerability-based-notification-rule-returns-Notification-rule-successfully-patched-response.frozen
  cassettes/features/v2/security_monitoring/Patch-a-vulnerability-based-notification-rule-returns-Notification-rule-successfully-patched-response.yml
  examples/v2/security-monitoring/CreateSignalNotificationRule.rb
  examples/v2/security-monitoring/CreateVulnerabilityNotificationRule.rb
  examples/v2/security-monitoring/PatchSignalNotificationRule.rb
  examples/v2/security-monitoring/PatchVulnerabilityNotificationRule.rb
  features/v2/given.json
  features/v2/security_monitoring.feature
Due: generate, format-examples

Regenerate client from commit 5f196ee of spec repo
  .generator/schemas/v1/openapi.yaml
  examples/v1/logs-indexes/CreateLogsIndex.rb
  examples/v1/logs-indexes/UpdateLogsIndex.rb
  features/v1/logs_indexes.feature
  lib/datadog_api_client/v1/models/logs_index.rb
  lib/datadog_api_client/v1/models/logs_index_update_request.rb
Due: generate, format-examples

Regenerate client from commit a458a72 of spec repo
  cassettes/features/v2/feature_flags/Archive-a-feature-flag-returns-OK-response.frozen
  cassettes/features/v2/feature_flags/Archive-a-feature-flag-returns-OK-response.yml
  cassettes/features/v2/feature_flags/Create-a-feature-flag-returns-Created-response.frozen
  cassettes/features/v2/feature_flags/Create-a-feature-flag-returns-Created-response.yml
  cassettes/features/v2/feature_flags/Create-allocation-for-a-flag-in-an-environment-returns-Created-response.frozen
  cassettes/features/v2/feature_flags/Create-allocation-for-a-flag-in-an-environment-returns-Created-response.yml
  cassettes/features/v2/feature_flags/Create-an-environment-returns-Created-response.frozen
  cassettes/features/v2/feature_flags/Create-an-environment-returns-Created-response.yml
  cassettes/features/v2/feature_flags/Get-a-feature-flag-returns-OK-response.frozen
  cassettes/features/v2/feature_flags/Get-a-feature-flag-returns-OK-response.yml
  cassettes/features/v2/feature_flags/List-feature-flags-returns-OK-response.frozen
  cassettes/features/v2/feature_flags/List-feature-flags-returns-OK-response.yml
  cassettes/features/v2/feature_flags/Update-a-feature-flag-returns-OK-response.frozen
  cassettes/features/v2/feature_flags/Update-a-feature-flag-returns-OK-response.yml
  cassettes/features/v2/feature_flags/Update-targeting-rules-for-a-flag-in-an-environment-returns-OK-response.frozen
  cassettes/features/v2/feature_flags/Update-targeting-rules-for-a-flag-in-an-environment-returns-OK-response.yml
  features/v2/feature_flags.feature
Due: none

Regenerate client from commit ec18248 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/v2/feature_flags.feature
Due: generate

Regenerate client from commit 10ef69a of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/dashboards/ValidateDashboardWidgets.rb
  features/scenarios_model_mapping.rb
  features/v2/dashboards.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/dashboards_api.rb
  lib/datadog_api_client/v2/models/dashboard_widget_validation_layout_type.rb
  lib/datadog_api_client/v2/models/dashboard_widget_validation_reflow_type.rb
  lib/datadog_api_client/v2/models/dashboard_widget_validation_request.rb
  lib/datadog_api_client/v2/models/dashboard_widget_validation_response.rb
  lib/datadog_api_client/v2/models/dashboard_widget_validation_result.rb
Due: generate, format-examples

Regenerate client from commit 435b018 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/llm-observability/DeleteLLMObsData.rb
  features/scenarios_model_mapping.rb
  features/v2/llm_observability.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/llm_observability_api.rb
  lib/datadog_api_client/v2/models/llm_obs_data_deletion_request.rb
  lib/datadog_api_client/v2/models/llm_obs_data_deletion_request_attributes.rb
  lib/datadog_api_client/v2/models/llm_obs_data_deletion_request_data.rb
  lib/datadog_api_client/v2/models/llm_obs_data_deletion_request_type.rb
  lib/datadog_api_client/v2/models/llm_obs_data_deletion_response.rb
  lib/datadog_api_client/v2/models/llm_obs_data_deletion_response_attributes.rb
  lib/datadog_api_client/v2/models/llm_obs_data_deletion_response_data.rb
  lib/datadog_api_client/v2/models/llm_obs_data_deletion_response_type.rb
Due: generate, format-examples

Regenerate client from commit 18dd4bd of spec repo
  features/v2/scorecards.feature
  features/v2/service_definition.feature
  features/v2/software_catalog.feature
Due: none

Regenerate client from commit 2e9da5b of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/monitors/Create-a-monitor-notification-rule-with-bundle-config-returns-OK-response.frozen
  cassettes/features/v2/monitors/Create-a-monitor-notification-rule-with-bundle-config-returns-OK-response.yml
  cassettes/features/v2/monitors/Update-a-monitor-notification-rule-with-bundle-config-returns-OK-response.frozen
  cassettes/features/v2/monitors/Update-a-monitor-notification-rule-with-bundle-config-returns-OK-response.yml
  examples/v2/monitors/CreateMonitorNotificationRule_678042569.rb
  examples/v2/monitors/UpdateMonitorNotificationRule_752032728.rb
  features/v2/monitors.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/monitor_notification_rule_attributes.rb
  lib/datadog_api_client/v2/models/monitor_notification_rule_bundle_config.rb
  lib/datadog_api_client/v2/models/monitor_notification_rule_response_attributes.rb
Due: generate, format-examples

Regenerate client from commit c943fd2 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/action_connection_attributes.rb
  lib/datadog_api_client/v2/models/action_connection_attributes_update.rb
Due: generate

Regenerate client from commit 8f7e449 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/rum-retention-quota/DeleteRumQuotaConfig.rb
  examples/v2/rum-retention-quota/GetRumQuotaConfig.rb
  examples/v2/rum-retention-quota/UpsertRumQuotaConfig.rb
  features/scenarios_model_mapping.rb
  features/v2/rum_retention_quota.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/rum_retention_quota_api.rb
  lib/datadog_api_client/v2/models/rum_retention_quota_adaptive_config.rb
  lib/datadog_api_client/v2/models/rum_retention_quota_config_attributes.rb
  lib/datadog_api_client/v2/models/rum_retention_quota_config_data.rb
  lib/datadog_api_client/v2/models/rum_retention_quota_config_response.rb
  lib/datadog_api_client/v2/models/rum_retention_quota_config_type.rb
  lib/datadog_api_client/v2/models/rum_retention_quota_config_update_attributes.rb
  lib/datadog_api_client/v2/models/rum_retention_quota_config_update_data.rb
  lib/datadog_api_client/v2/models/rum_retention_quota_config_update_request.rb
  lib/datadog_api_client/v2/models/rum_retention_quota_custom_config.rb
  lib/datadog_api_client/v2/models/rum_retention_quota_mode.rb
  lib/datadog_api_client/v2/models/rum_retention_quota_reached_action.rb
  lib/datadog_api_client/v2/models/rum_retention_quota_scope_type.rb
  lib/datadog_api_client/v2/models/rum_retention_quota_window_type.rb
Due: generate, format-examples

update to latest version
  generated-test/test-server
  generated-test/test-server-data/manifest.json
  generated-test/test-server-data/v1/synthetics.json
  generated-test/test-server-data/v1/users.json
  generated-test/test-server-data/v2/agentless-scanning.json
  generated-test/test-server-data/v2/annotations.json
  generated-test/test-server-data/v2/datasets.json
  generated-test/test-server-data/v2/execution-policy.json
  generated-test/test-server-data/v2/gcp-integration.json
  generated-test/test-server-data/v2/incidents.json
  generated-test/test-server-data/v2/network-device-monitoring.json
  generated-test/test-server-data/v2/restriction-policies.json
Due: none

ci: run formatters during generation
  .pre-commit-config.yaml
Due: generate

ci: use generated BDD test runner
  .github/workflows/reusable-integration-test.yml
  .github/workflows/reusable-ruby-test.yml
Due: none

Regenerate client from commit 58be88f of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/input_schema.rb
  lib/datadog_api_client/v2/models/spec.rb
Due: generate

Regenerate client from commit ddbcf66 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/aws_logs_integration_api.rb
Due: generate

Regenerate client from commit 750b9d3 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/events_api.rb
Due: generate

Regenerate client from commit 4697b4f of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/feature_flags_api.rb
  lib/datadog_api_client/v2/models/upsert_allocation_request.rb
Due: generate

Regenerate client from commit 3dc164c of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/logs_api.rb
Due: generate

Regenerate client from commit a2b94f2 of spec repo
  features/v2/data_deletion.feature
Due: none
