Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

Regenerate client from commit 2b7612d8 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/on-call/Get-on-call-escalation-policy-returns-OK-response.frozen
  cassettes/features/v2/on-call/Get-on-call-escalation-policy-returns-OK-response.yml
  examples/v2/on-call/CreateOnCallEscalationPolicy.rb
  examples/v2/on-call/DeleteOnCallEscalationPolicy.rb
  examples/v2/on-call/GetOnCallEscalationPolicy.rb
  examples/v2/on-call/UpdateOnCallEscalationPolicy.rb
  features/v2/given.json
  features/v2/on-call.feature
  lib/datadog_api_client/v2/api/on_call_api.rb
  lib/datadog_api_client/v2/model_base.rb
  lib/datadog_api_client/v2/models/escalation_policy_create_request_data_attributes_steps_items.rb
  lib/datadog_api_client/v2/models/escalation_policy_create_request_data_attributes_steps_items_assignment.rb
  lib/datadog_api_client/v2/models/escalation_policy_data.rb
  lib/datadog_api_client/v2/models/escalation_policy_data_attributes.rb
  lib/datadog_api_client/v2/models/escalation_policy_step_attributes.rb
  lib/datadog_api_client/v2/models/escalation_policy_step_attributes_assignment.rb
  lib/datadog_api_client/v2/models/escalation_policy_update_request_data_attributes_steps_items.rb
  lib/datadog_api_client/v2/models/escalation_policy_update_request_data_attributes_steps_items_assignment.rb
  lib/datadog_api_client/v2/models/schedule_create_request_data.rb
Due: generate, format-examples

Regenerate client from commit 41fab083 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/model_base.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_destination_storage_class.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_destination_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_source.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_source_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_aws_auth.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_destination_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_processor_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_gcp_auth.rb
  lib/datadog_api_client/v2/models/observability_pipeline_generate_metrics_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_generate_metrics_processor_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_generated_metric.rb
  lib/datadog_api_client/v2/models/observability_pipeline_generated_metric_increment_by_field.rb
  lib/datadog_api_client/v2/models/observability_pipeline_generated_metric_increment_by_field_strategy.rb
  lib/datadog_api_client/v2/models/observability_pipeline_generated_metric_increment_by_one.rb
  lib/datadog_api_client/v2/models/observability_pipeline_generated_metric_increment_by_one_strategy.rb
  lib/datadog_api_client/v2/models/observability_pipeline_generated_metric_metric_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_google_cloud_storage_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_google_cloud_storage_destination_acl.rb
  lib/datadog_api_client/v2/models/observability_pipeline_google_cloud_storage_destination_storage_class.rb
  lib/datadog_api_client/v2/models/observability_pipeline_google_cloud_storage_destination_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_metadata_entry.rb
  lib/datadog_api_client/v2/models/observability_pipeline_metric_value.rb
  lib/datadog_api_client/v2/models/observability_pipeline_splunk_hec_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_splunk_hec_destination_encoding.rb
  lib/datadog_api_client/v2/models/observability_pipeline_splunk_hec_destination_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_splunk_hec_source.rb
  lib/datadog_api_client/v2/models/observability_pipeline_splunk_hec_source_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_splunk_tcp_source.rb
  lib/datadog_api_client/v2/models/observability_pipeline_splunk_tcp_source_type.rb
Due: generate

Regenerate client from commit 8ff9b6bd of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/GetRuleVersionHistory.rb
  examples/v2/security-monitoring/GetRuleVersionHistory_2467565841.rb
  features/v2/security_monitoring.feature
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/model_base.rb
Due: generate, format-examples

Regenerate client from commit f61db794 of spec repo
  .apigentools-info
  lib/datadog_api_client/v2/model_base.rb
Due: generate

Regenerate client from commit fcdf7cbc of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/model_base.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_destination_storage_class.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_destination_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_source.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_source_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_aws_auth.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_destination_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_processor_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_gcp_auth.rb
  lib/datadog_api_client/v2/models/observability_pipeline_generate_metrics_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_generate_metrics_processor_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_generated_metric.rb
  lib/datadog_api_client/v2/models/observability_pipeline_generated_metric_increment_by_field.rb
  lib/datadog_api_client/v2/models/observability_pipeline_generated_metric_increment_by_field_strategy.rb
  lib/datadog_api_client/v2/models/observability_pipeline_generated_metric_increment_by_one.rb
  lib/datadog_api_client/v2/models/observability_pipeline_generated_metric_increment_by_one_strategy.rb
  lib/datadog_api_client/v2/models/observability_pipeline_generated_metric_metric_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_google_cloud_storage_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_google_cloud_storage_destination_acl.rb
  lib/datadog_api_client/v2/models/observability_pipeline_google_cloud_storage_destination_storage_class.rb
  lib/datadog_api_client/v2/models/observability_pipeline_google_cloud_storage_destination_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_metadata_entry.rb
  lib/datadog_api_client/v2/models/observability_pipeline_metric_value.rb
  lib/datadog_api_client/v2/models/observability_pipeline_splunk_hec_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_splunk_hec_destination_encoding.rb
  lib/datadog_api_client/v2/models/observability_pipeline_splunk_hec_destination_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_splunk_hec_source.rb
  lib/datadog_api_client/v2/models/observability_pipeline_splunk_hec_source_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_splunk_tcp_source.rb
  lib/datadog_api_client/v2/models/observability_pipeline_splunk_tcp_source_type.rb
Due: generate

Regenerate client from commit 28eb0f35 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/observability_pipelines/Create-a-new-pipeline-returns-Bad-Request-response.frozen
  cassettes/features/v2/observability_pipelines/Create-a-new-pipeline-returns-Bad-Request-response.yml
  cassettes/features/v2/observability_pipelines/Create-a-new-pipeline-returns-OK-response.frozen
  cassettes/features/v2/observability_pipelines/Create-a-new-pipeline-returns-OK-response.yml
  cassettes/features/v2/observability_pipelines/Delete-a-pipeline-returns-Not-Found-response.frozen
  cassettes/features/v2/observability_pipelines/Delete-a-pipeline-returns-Not-Found-response.yml
  cassettes/features/v2/observability_pipelines/Delete-a-pipeline-returns-OK-response.frozen
  cassettes/features/v2/observability_pipelines/Delete-a-pipeline-returns-OK-response.yml
  cassettes/features/v2/observability_pipelines/Get-a-specific-pipeline-returns-OK-response.frozen
  cassettes/features/v2/observability_pipelines/Get-a-specific-pipeline-returns-OK-response.yml
  cassettes/features/v2/observability_pipelines/List-pipelines-returns-Bad-Request-response.frozen
  cassettes/features/v2/observability_pipelines/List-pipelines-returns-Bad-Request-response.yml
  cassettes/features/v2/observability_pipelines/List-pipelines-returns-OK-response.frozen
  cassettes/features/v2/observability_pipelines/List-pipelines-returns-OK-response.yml
  cassettes/features/v2/observability_pipelines/Update-a-pipeline-returns-Bad-Request-response.frozen
  cassettes/features/v2/observability_pipelines/Update-a-pipeline-returns-Bad-Request-response.yml
  cassettes/features/v2/observability_pipelines/Update-a-pipeline-returns-Not-Found-response.frozen
  cassettes/features/v2/observability_pipelines/Update-a-pipeline-returns-OK-response.frozen
  cassettes/features/v2/observability_pipelines/Update-a-pipeline-returns-OK-response.yml
  cassettes/features/v2/observability_pipelines/Validate-an-observability-pipeline-returns-Bad-Request-response.frozen
  cassettes/features/v2/observability_pipelines/Validate-an-observability-pipeline-returns-Bad-Request-response.yml
  cassettes/features/v2/observability_pipelines/Validate-an-observability-pipeline-returns-OK-response.frozen
  cassettes/features/v2/observability_pipelines/Validate-an-observability-pipeline-returns-OK-response.yml
  examples/v2/observability-pipelines/ListPipelines.rb
  examples/v2/observability-pipelines/ValidatePipeline.rb
  features/scenarios_model_mapping.rb
  features/v2/observability_pipelines.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/observability_pipelines_api.rb
  lib/datadog_api_client/v2/model_base.rb
  lib/datadog_api_client/v2/models/list_pipelines_response.rb
  lib/datadog_api_client/v2/models/list_pipelines_response_meta.rb
  lib/datadog_api_client/v2/models/validation_error.rb
  lib/datadog_api_client/v2/models/validation_error_meta.rb
  lib/datadog_api_client/v2/models/validation_error_response.rb
Due: generate, format-examples

Regenerate client from commit 6f649d92 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/model_base.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_processor_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_source_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_decoding.rb
  lib/datadog_api_client/v2/models/observability_pipeline_fluent_source.rb
  lib/datadog_api_client/v2/models/observability_pipeline_fluent_source_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_http_server_source.rb
  lib/datadog_api_client/v2/models/observability_pipeline_http_server_source_auth_strategy.rb
  lib/datadog_api_client/v2/models/observability_pipeline_http_server_source_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_kafka_source.rb
  lib/datadog_api_client/v2/models/observability_pipeline_parse_grok_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_parse_grok_processor_rule.rb
  lib/datadog_api_client/v2/models/observability_pipeline_parse_grok_processor_rule_match_rule.rb
  lib/datadog_api_client/v2/models/observability_pipeline_parse_grok_processor_rule_support_rule.rb
  lib/datadog_api_client/v2/models/observability_pipeline_parse_grok_processor_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_quota_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_sample_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_sample_processor_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_tls.rb
Due: generate

Regenerate client from commit da3f25d2 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/v2/gcp_integration.feature
  lib/datadog_api_client/v2/model_base.rb
  lib/datadog_api_client/v2/models/gcpsts_service_account_attributes.rb
Due: generate

Regenerate client from commit f4fa317b of spec repo
  .apigentools-info
  features/v2/on-call.feature
  lib/datadog_api_client/v2/model_base.rb
Due: generate

Set fixed jruby version
  .github/workflows/test.yml
Due: none

Set fixed jruby version (#2352)
  .github/workflows/test.yml
Due: none

Regenerate client from commit 2b6fa951 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/v2/gcp_integration.feature
  lib/datadog_api_client/v2/model_base.rb
  lib/datadog_api_client/v2/models/gcpsts_service_account_attributes.rb
Due: generate

Regenerate client from commit 3e76b526 of spec repo
  .apigentools-info
  cassettes/features/v2/on-call/Create-on-call-escalation-policy-returns-Created-response.frozen
  cassettes/features/v2/on-call/Create-on-call-escalation-policy-returns-Created-response.yml
  cassettes/features/v2/on-call/Create-on-call-schedule-returns-Created-response.frozen
  cassettes/features/v2/on-call/Create-on-call-schedule-returns-Created-response.yml
  cassettes/features/v2/on-call/Delete-on-call-escalation-policy-returns-No-Content-response.frozen
  cassettes/features/v2/on-call/Delete-on-call-escalation-policy-returns-No-Content-response.yml
  cassettes/features/v2/on-call/Delete-on-call-schedule-returns-No-Content-response.frozen
  cassettes/features/v2/on-call/Delete-on-call-schedule-returns-No-Content-response.yml
  cassettes/features/v2/on-call/Get-on-call-escalation-policy-returns-OK-response.frozen
  cassettes/features/v2/on-call/Get-on-call-escalation-policy-returns-OK-response.yml
  cassettes/features/v2/on-call/Get-on-call-schedule-returns-OK-response.frozen
  cassettes/features/v2/on-call/Get-on-call-schedule-returns-OK-response.yml
  cassettes/features/v2/on-call/Update-on-call-escalation-policy-returns-OK-response.frozen
  cassettes/features/v2/on-call/Update-on-call-escalation-policy-returns-OK-response.yml
  cassettes/features/v2/on-call/Update-on-call-schedule-returns-OK-response.frozen
  cassettes/features/v2/on-call/Update-on-call-schedule-returns-OK-response.yml
  features/v2/on-call.feature
Due: none

Regenerate client from commit ab6a0f8c of spec repo
  .apigentools-info
  cassettes/features/v2/on-call/Create-on-call-escalation-policy-returns-Created-response.frozen
  cassettes/features/v2/on-call/Create-on-call-escalation-policy-returns-Created-response.yml
  cassettes/features/v2/on-call/Create-on-call-schedule-returns-Created-response.frozen
  cassettes/features/v2/on-call/Create-on-call-schedule-returns-Created-response.yml
  cassettes/features/v2/on-call/Delete-on-call-escalation-policy-returns-No-Content-response.frozen
  cassettes/features/v2/on-call/Delete-on-call-escalation-policy-returns-No-Content-response.yml
  cassettes/features/v2/on-call/Delete-on-call-schedule-returns-No-Content-response.frozen
  cassettes/features/v2/on-call/Delete-on-call-schedule-returns-No-Content-response.yml
  cassettes/features/v2/on-call/Get-on-call-escalation-policy-returns-OK-response.frozen
  cassettes/features/v2/on-call/Get-on-call-escalation-policy-returns-OK-response.yml
  cassettes/features/v2/on-call/Get-on-call-schedule-returns-OK-response.frozen
  cassettes/features/v2/on-call/Get-on-call-schedule-returns-OK-response.yml
  cassettes/features/v2/on-call/Update-on-call-escalation-policy-returns-OK-response.frozen
  cassettes/features/v2/on-call/Update-on-call-escalation-policy-returns-OK-response.yml
  cassettes/features/v2/on-call/Update-on-call-schedule-returns-OK-response.frozen
  cassettes/features/v2/on-call/Update-on-call-schedule-returns-OK-response.yml
  features/v2/on-call.feature
Due: none

Regenerate client from commit 4295fd1a of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/on-call/CreateOnCallEscalationPolicy.rb
  examples/v2/on-call/DeleteOnCallEscalationPolicy.rb
  examples/v2/on-call/GetOnCallEscalationPolicy.rb
  examples/v2/on-call/UpdateOnCallEscalationPolicy.rb
  features/v2/on-call.feature
  lib/datadog_api_client/v2/api/on_call_api.rb
  lib/datadog_api_client/v2/models/schedule_create_request_data.rb
Due: generate, format-examples

Regenerate client from commit d2685952 of spec repo
  .apigentools-info
  cassettes/features/v2/security_monitoring/Convert-a-rule-from-JSON-to-Terraform-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Convert-a-rule-from-JSON-to-Terraform-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Convert-an-existing-rule-from-JSON-to-Terraform-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Convert-an-existing-rule-from-JSON-to-Terraform-returns-OK-response.yml
  features/v2/security_monitoring.feature
Due: none

Regenerate client from commit 8964dc24 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Due: generate

Incident Response (no action needed from repository owner): Trigger SDS scan
  force-scan
Due: none

Regenerate client from commit ca363d75 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/cloud_cost_management/Delete-a-budget-returns-Bad-Request-response.frozen
  cassettes/features/v2/cloud_cost_management/Delete-a-budget-returns-Bad-Request-response.yml
  cassettes/features/v2/cloud_cost_management/Get-a-budget-returns-Not-Found-response.frozen
  cassettes/features/v2/cloud_cost_management/Get-a-budget-returns-Not-Found-response.yml
  cassettes/features/v2/cloud_cost_management/List-budgets-returns-OK-response.frozen
  cassettes/features/v2/cloud_cost_management/List-budgets-returns-OK-response.yml
  cassettes/features/v2/cloud_cost_management/Update-if-exists-or-create-a-new-budget-returns-Bad-Request-response.frozen
  cassettes/features/v2/cloud_cost_management/Update-if-exists-or-create-a-new-budget-returns-Bad-Request-response.yml
  cassettes/features/v2/cloud_cost_management/Update-if-exists-or-create-a-new-budget-returns-Not-Found-response.frozen
  cassettes/features/v2/cloud_cost_management/Update-if-exists-or-create-a-new-budget-returns-Not-Found-response.yml
  cassettes/features/v2/cloud_cost_management/Update-if-exists-or-create-a-new-budget-returns-OK-response.frozen
  cassettes/features/v2/cloud_cost_management/Update-if-exists-or-create-a-new-budget-returns-OK-response.yml
  examples/v2/cloud-cost-management/DeleteBudget.rb
  examples/v2/cloud-cost-management/GetBudget.rb
  examples/v2/cloud-cost-management/ListBudgets.rb
  examples/v2/cloud-cost-management/UpsertBudget.rb
  features/scenarios_model_mapping.rb
  features/v2/cloud_cost_management.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/cloud_cost_management_api.rb
  lib/datadog_api_client/v2/models/budget.rb
  lib/datadog_api_client/v2/models/budget_array.rb
  lib/datadog_api_client/v2/models/budget_attributes.rb
  lib/datadog_api_client/v2/models/budget_entry.rb
  lib/datadog_api_client/v2/models/budget_with_entries.rb
  lib/datadog_api_client/v2/models/budget_with_entries_data.rb
  lib/datadog_api_client/v2/models/tag_filter.rb
Due: generate, format-examples

Regenerate client from commit 6e2d4035 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/tags_api.rb
Due: generate

Regenerate client from commit 4f95b6c2 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: generate

test
  .github/workflows/test_integration.yml
Due: none

Regenerate client from commit 3e323c5a of spec repo
  .apigentools-info
  cassettes/features/v2/security_monitoring/Create-a-custom-framework-returns-Bad-Request-response.frozen
  cassettes/features/v2/security_monitoring/Create-a-custom-framework-returns-Bad-Request-response.yml
  cassettes/features/v2/security_monitoring/Create-a-custom-framework-returns-Conflict-response.frozen
  cassettes/features/v2/security_monitoring/Create-a-custom-framework-returns-Conflict-response.yml
  cassettes/features/v2/security_monitoring/Create-a-custom-framework-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Create-a-custom-framework-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Delete-a-custom-framework-returns-Bad-Request-response.frozen
  cassettes/features/v2/security_monitoring/Delete-a-custom-framework-returns-Bad-Request-response.yml
  cassettes/features/v2/security_monitoring/Delete-a-custom-framework-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Delete-a-custom-framework-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Get-a-custom-framework-returns-Bad-Request-response.frozen
  cassettes/features/v2/security_monitoring/Get-a-custom-framework-returns-Bad-Request-response.yml
  cassettes/features/v2/security_monitoring/Get-a-custom-framework-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Get-a-custom-framework-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Update-a-custom-framework-returns-Bad-Request-response.frozen
  cassettes/features/v2/security_monitoring/Update-a-custom-framework-returns-Bad-Request-response.yml
  cassettes/features/v2/security_monitoring/Update-a-custom-framework-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Update-a-custom-framework-returns-OK-response.yml
  examples/v2/security-monitoring/CreateCustomFramework.rb
  examples/v2/security-monitoring/DeleteCustomFramework.rb
  examples/v2/security-monitoring/GetCustomFramework.rb
  examples/v2/security-monitoring/UpdateCustomFramework.rb
  features/v2/given.json
  features/v2/security_monitoring.feature
Due: format-examples

Regenerate client from commit 6afec577 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 7eb88f6a of spec repo
  .apigentools-info
  features/v2/security_monitoring.feature
Due: none

Bump datadog_api_client to 2.33.0
  lib/datadog_api_client/version.rb
Due: generate

Revert "Release 2.33.0 (#2369)"
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate

add new release workflow
  .github/workflows/publish.yml
Due: none

lint
  .github/workflows/publish.yml
Due: none

Revert "Release 2.33.0 (#2369)" (#2371)
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate
