Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features, licensed

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generated
    name: Do not commit generated files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^lib/datadog_api_client/v[1-9].*'
    verbose: true
  - id: generated-features
    name: Do not commit generated feature files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^features/v[1-9][0-9]*/.*.feature$'
    verbose: true
  - id: licensed
    name: Licensed
    language: ruby
    language_version: system
    additional_dependencies:
      - licensed
    entry: .licenses/check.sh
    pass_filenames: false
    files: "^(.*.gemspec|Gemfile|.licensed.yml)$"
    verbose: true

Escape parameter name "end"
  features/step_definitions/request.rb
  features/support/templating.rb
Due: none

Regenerate client from commit 6ddcc8e of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/SyntheticsAPITestConfig.md
  docs/v1/SyntheticsAssertionTarget.md
  docs/v1/SyntheticsCIBatchMetadataGit.md
  features/v1/snapshots.feature
  lib/datadog_api_client/v1/models/synthetics_api_test_config.rb
  lib/datadog_api_client/v1/models/synthetics_assertion_target.rb
  lib/datadog_api_client/v1/models/synthetics_ci_batch_metadata_git.rb
  lib/datadog_api_client/v1/models/synthetics_step_detail.rb
Due: generated, generated-features

Regenerate client from commit 084ca04 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/UsageNetworkFlowsHour.md
  lib/datadog_api_client/v1/models/usage_network_flows_hour.rb
Due: generated

Regenerate client from commit fabbc01 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/slo_correction_response_attributes.rb
Due: generated

Regenerate client from commit c588c56 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-a-formulas-and-functions-change-widget.yml
  docs/v1/ChangeWidgetRequest.md
  features/v1/dashboards.feature
  lib/datadog_api_client/v1/models/change_widget_request.rb
Due: generated, generated-features

Regenerate client from commit cbb6f12 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/UsageMeteringAPI.md
  docs/v1/UsageRumUnitsHour.md
  docs/v1/UsageRumUnitsResponse.md
  docs/v1/UsageSummaryDate.md
  docs/v1/UsageSummaryDateOrg.md
  docs/v1/UsageSummaryResponse.md
  features/v1/undo.json
  features/v1/usage_metering.feature
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/usage_rum_units_hour.rb
  lib/datadog_api_client/v1/models/usage_rum_units_response.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
  spec/v1/models/usage_rum_units_hour_spec.rb
  spec/v1/models/usage_rum_units_response_spec.rb
Due: generated, generated-features

Regenerate client from commit a5c075c of spec repo
  .apigentools-info
  docs/v1/UsageRumUnitsHour.md
  docs/v1/UsageRumUnitsResponse.md
Due: none

Regenerate client from commit 82e0a55 of spec repo
  .apigentools-info
  docs/v1/UsageRumUnitsHour.md
  docs/v1/UsageRumUnitsResponse.md
Due: none

Regenerate client from commit 2b850b7 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/synthetics/Trigger-some-Synthetics-tests-returns-OK-response.yml
  docs/v1/README.md
  docs/v1/SyntheticsAPI.md
  docs/v1/SyntheticsTriggerBody.md
  docs/v1/SyntheticsTriggerTest.md
  features/v1/synthetics.feature
  features/v1/undo.json
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/api/synthetics_api.rb
  lib/datadog_api_client/v1/models/synthetics_trigger_body.rb
  lib/datadog_api_client/v1/models/synthetics_trigger_test.rb
  spec/v1/models/synthetics_trigger_body_spec.rb
  spec/v1/models/synthetics_trigger_test_spec.rb
Due: generated, generated-features

Add more cops
  .rubocop.yml
Due: none

Handle SLO examples
  extract-code-blocks.awk
Due: none

Regenerate client from commit c16b6e1 of spec repo
  .apigentools-info
  docs/v1/SyntheticsTriggerBody.md
  docs/v1/SyntheticsTriggerTest.md
Due: none

Regenerate client from commit ec0039a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/synthetics/Create-an-API-test-with-UDP-subtype-returns-OK-Returns-the-created-test-details-response.yml
  docs/v1/SyntheticsTestRequest.md
  docs/v1/SyntheticsTriggerBody.md
  docs/v1/SyntheticsTriggerTest.md
  features/v1/synthetics.feature
  features/v1/synthetics_api_test_udp_payload.json
  lib/datadog_api_client/v1/models/synthetics_assertion_type.rb
  lib/datadog_api_client/v1/models/synthetics_test_details_sub_type.rb
  lib/datadog_api_client/v1/models/synthetics_test_request.rb
Due: generated, generated-features

use .rb extension for examples
  check-examples.sh
  extract-code-blocks.awk
Due: none

Lint
  .rubocop.yml
Due: none

Regenerate client from commit 3b593f9 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/synthetics/Create-an-API-test-with-WEBSOCKET-subtype-returns-OK-Returns-the-created-test-details-response.yml
  docs/v1/SyntheticsTestRequest.md
  features/v1/synthetics.feature
  features/v1/synthetics_api_test_websocket_payload.json
  lib/datadog_api_client/v1/models/synthetics_test_details_sub_type.rb
  lib/datadog_api_client/v1/models/synthetics_test_request.rb
Due: generated, generated-features

Regenerate client from commit 4a09063 of spec repo
  .apigentools-info
  examples/v2/logs-metrics/CreateLogsMetric.rb
Due: none

Regenerate client from commit fabf585 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/UsageFargateHour.md
  docs/v1/UsageSummaryDate.md
  docs/v1/UsageSummaryDateOrg.md
  docs/v1/UsageSummaryResponse.md
  examples/v2/security-monitoring/CreateSecurityMonitoringRule.rb
  lib/datadog_api_client/v1/models/usage_fargate_hour.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generated

Update CreateSecurityMonitoringRule.rb
  examples/v2/security-monitoring/CreateSecurityMonitoringRule.rb
Due: none

Regenerate client from commit d85e5fe of spec repo
  .apigentools-info
  examples/v2/incidents/UpdateIncident.rb
Due: none

Regenerate client from commit 2287fe9 of spec repo
  .apigentools-info
  examples/v1/monitors/CheckCanDeleteMonitor.rb
Due: none

Regenerate client from commit 97af4ac of spec repo
  .apigentools-info
  examples/v2/users/UpdateUser.rb
Due: none

Regenerate client from commit 1f673ca of spec repo
  .apigentools-info
  examples/v1/hosts/ListHosts.rb
  features/v1/hosts.feature
Due: generated-features

Regenerate client from commit b4edd57 of spec repo
  .apigentools-info
  examples/v1/hosts/ListHosts.rb
  features/v1/hosts.feature
Due: generated-features

Uncompress body on errors
  .generator/templates/api_client_typhoeus_partial.mustache
Due: none

Regenerate client from commit ac80c5e of spec repo
  .apigentools-info
  lib/datadog_api_client/v1/api_client.rb
  lib/datadog_api_client/v2/api_client.rb
Due: generated

Regenerate client from commit d8c692b of spec repo
  .apigentools-info
  examples/v2/users/CreateUser.rb
Due: none

Regenerate client from commit cec9934 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  docs/v1/MetricsAPI.md
  docs/v1/ServiceChecksAPI.md
  docs/v1/UsageMeteringAPI.md
  features/v1/logs_indexes.feature
  features/v2/logs.feature
  features/v2/logs_metrics.feature
  features/v2/metrics.feature
  features/v2/security_monitoring.feature
  lib/datadog_api_client/v1/api/metrics_api.rb
  lib/datadog_api_client/v1/api/service_checks_api.rb
  lib/datadog_api_client/v1/api/usage_metering_api.rb
Due: generated, generated-features

Regenerate client from commit cab9320 of spec repo
  .apigentools-info
  examples/v1/service-level-objective-corrections/CreateSLOCorrection.rb
  examples/v1/service-level-objective-corrections/GetSLOCorrection.rb
  examples/v1/service-level-objective-corrections/ListSLOCorrection.rb
  examples/v1/service-level-objective-corrections/UpdateSLOCorrection.rb
  examples/v2/incident-services/CreateIncidentService.rb
  examples/v2/incident-services/DeleteIncidentService.rb
  examples/v2/incident-services/GetIncidentService.rb
  examples/v2/incident-services/ListIncidentServices.rb
  examples/v2/incident-services/UpdateIncidentService.rb
  examples/v2/incident-teams/CreateIncidentTeam.rb
  examples/v2/incident-teams/DeleteIncidentTeam.rb
  examples/v2/incident-teams/GetIncidentTeam.rb
  examples/v2/incident-teams/ListIncidentTeams.rb
  examples/v2/incident-teams/UpdateIncidentTeam.rb
  examples/v2/incidents/CreateIncident.rb
  examples/v2/incidents/DeleteIncident.rb
  examples/v2/incidents/GetIncident.rb
  examples/v2/incidents/ListIncidents.rb
  examples/v2/incidents/UpdateIncident.rb
Due: none

Regenerate client from commit f1dce60 of spec repo
  .apigentools-info
  features/v1/authentication.feature
Due: generated-features

Regenerate client from commit 7d4329a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/synthetics_trigger_ci_tests_response.rb
Due: generated

Regenerate client from commit ddc1872 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/EventCreateRequest.md
  lib/datadog_api_client/v1/models/event_create_request.rb
Due: generated

Remove manual example
  examples/v1/metrics/SubmitMetrics.rbbeta
Due: none

Remove manual example (#597)
  examples/v1/metrics/SubmitMetrics.rbbeta
Due: none

Remove rubocop cache
  .rubocop.yml
Due: none

Remove rubocop cache (#598)
  .rubocop.yml
Due: none

Regenerate client from commit a3413fa of spec repo
  .apigentools-info
  cassettes/features/v2/logs/Search-logs-returns-OK-response.yml
  examples/v2/logs/ListLogs.rb
  features/v2/logs.feature
Due: generated-features

Regenerate client from commit ea5d03a of spec repo
  .apigentools-info
  examples/v2/logs/AggregateLogs.rb
Due: none

Regenerate client from commit ea5d03a of spec repo
  .apigentools-info
  examples/v2/roles/AddPermissionToRole.rb
Due: none
