Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Regenerate client from commit a1235a0d of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/on-call/Create-on-call-escalation-policy-returns-Created-response.frozen
  cassettes/features/v2/on-call/Create-on-call-escalation-policy-returns-Created-response.yml
  cassettes/features/v2/on-call/Delete-on-call-escalation-policy-returns-No-Content-response.frozen
  cassettes/features/v2/on-call/Delete-on-call-escalation-policy-returns-No-Content-response.yml
  cassettes/features/v2/on-call/Update-on-call-escalation-policy-returns-OK-response.frozen
  cassettes/features/v2/on-call/Update-on-call-escalation-policy-returns-OK-response.yml
  examples/v2/network-device-monitoring/ListDevices_2712868412.rb
  features/scenarios_model_mapping.rb
  features/v2/network_device_monitoring.feature
  lib/datadog_api_client/v2/api/network_device_monitoring_api.rb
Due: generate, format-examples

Regenerate client from commit 49255f5b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/metrics/EstimateMetricsOutputSeries.rb
  features/v2/metrics.feature
  lib/datadog_api_client/v2/api/metrics_api.rb
  lib/datadog_api_client/v2/models/metric_custom_aggregation.rb
Due: generate, format-examples

Regenerate client from commit ba8b66cb of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/entity_v3_datadog_code_location_item.rb
  lib/datadog_api_client/v2/models/http_integration.rb
  lib/datadog_api_client/v2/models/http_integration_update.rb
Due: generate

Regenerate client from commit 4b632dba of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/incident_severity.rb
Due: generate

Regenerate client from commit 9f916c56 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/events/CreateEvent.rb
  features/v2/events.feature
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/events_api.rb
  lib/datadog_api_client/v2/models/alert_event_custom_attributes.rb
  lib/datadog_api_client/v2/models/alert_event_custom_attributes_links_items.rb
  lib/datadog_api_client/v2/models/alert_event_custom_attributes_links_items_category.rb
  lib/datadog_api_client/v2/models/alert_event_custom_attributes_priority.rb
  lib/datadog_api_client/v2/models/alert_event_custom_attributes_status.rb
  lib/datadog_api_client/v2/models/event_create_request_payload.rb
  lib/datadog_api_client/v2/models/event_create_response.rb
  lib/datadog_api_client/v2/models/event_create_response_attributes_attributes_evt.rb
  lib/datadog_api_client/v2/models/event_create_response_payload.rb
  lib/datadog_api_client/v2/models/event_create_response_payload_links.rb
  lib/datadog_api_client/v2/models/event_payload.rb
  lib/datadog_api_client/v2/models/event_payload_attributes.rb
  lib/datadog_api_client/v2/models/event_payload_integration_id.rb
Due: generate, format-examples

Regenerate client from commit 39adb7c0 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit 3199f806 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Fix api_instance name with a dash (#2398)
  .generator/conftest.py
  examples/v2/on-call/CreateOnCallEscalationPolicy.rb
  examples/v2/on-call/CreateOnCallSchedule.rb
  examples/v2/on-call/DeleteOnCallEscalationPolicy.rb
  examples/v2/on-call/DeleteOnCallSchedule.rb
  examples/v2/on-call/GetOnCallEscalationPolicy.rb
  examples/v2/on-call/GetOnCallSchedule.rb
  examples/v2/on-call/GetOnCallTeamRoutingRules.rb
  examples/v2/on-call/SetOnCallTeamRoutingRules.rb
  examples/v2/on-call/UpdateOnCallEscalationPolicy.rb
  examples/v2/on-call/UpdateOnCallSchedule.rb
Due: generate, format-examples

Regenerate client from commit f0e5e32f of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/on-call/CreateOnCallSchedule.rb
  examples/v2/on-call/UpdateOnCallSchedule.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/layer_attributes.rb
  lib/datadog_api_client/v2/models/layer_attributes_restrictions_items.rb
  lib/datadog_api_client/v2/models/layer_attributes_restrictions_items_end_day.rb
  lib/datadog_api_client/v2/models/layer_attributes_restrictions_items_start_day.rb
  lib/datadog_api_client/v2/models/schedule_create_request_data_attributes_layers_items.rb
  lib/datadog_api_client/v2/models/schedule_create_request_data_attributes_layers_items_restrictions_items.rb
  lib/datadog_api_client/v2/models/schedule_create_request_data_attributes_layers_items_restrictions_items_end_day.rb
  lib/datadog_api_client/v2/models/schedule_create_request_data_attributes_layers_items_restrictions_items_start_day.rb
  lib/datadog_api_client/v2/models/schedule_update_request_data_attributes_layers_items.rb
  lib/datadog_api_client/v2/models/schedule_update_request_data_attributes_layers_items_restrictions_items.rb
  lib/datadog_api_client/v2/models/schedule_update_request_data_attributes_layers_items_restrictions_items_end_day.rb
  lib/datadog_api_client/v2/models/schedule_update_request_data_attributes_layers_items_restrictions_items_start_day.rb
Due: generate, format-examples

Regenerate client from commit 24ffda43 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit c7bad6f6 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit c4d0aeef of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/on-call-paging/AcknowledgeOnCallPage.rb
  examples/v2/on-call-paging/CreateOnCallPage.rb
  examples/v2/on-call-paging/EscalateOnCallPage.rb
  examples/v2/on-call-paging/ResolveOnCallPage.rb
  features/scenarios_model_mapping.rb
  features/v2/on-call_paging.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/on_call_paging_api.rb
  lib/datadog_api_client/v2/models/create_page_request.rb
  lib/datadog_api_client/v2/models/create_page_request_data.rb
  lib/datadog_api_client/v2/models/create_page_request_data_attributes.rb
  lib/datadog_api_client/v2/models/create_page_request_data_attributes_target.rb
  lib/datadog_api_client/v2/models/create_page_request_data_type.rb
  lib/datadog_api_client/v2/models/create_page_response.rb
  lib/datadog_api_client/v2/models/create_page_response_data.rb
  lib/datadog_api_client/v2/models/create_page_response_data_type.rb
  lib/datadog_api_client/v2/models/page_urgency.rb
Due: generate, format-examples

Regenerate client from commit e275534d of spec repo
  .apigentools-info
  cassettes/features/v2/on-call/Delete-on-call-escalation-policy-returns-No-Content-response.frozen
  cassettes/features/v2/on-call/Delete-on-call-escalation-policy-returns-No-Content-response.yml
Due: none

Fix frozen string errors again, more durably this time
  .generator/src/generator/templates/configuration.j2
  lib/datadog_api_client/configuration.rb
Due: generate

Regenerate client from commit dc3b522f of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/on-call/Get-the-schedule-of-an-on-call-user-returns-OK-response.frozen
  cassettes/features/v2/on-call/Get-the-schedule-of-an-on-call-user-returns-OK-response.yml
  examples/v2/on-call/GetScheduleOnCallUser.rb
  features/scenarios_model_mapping.rb
  features/v2/on-call.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/on_call_api.rb
  lib/datadog_api_client/v2/models/shift.rb
  lib/datadog_api_client/v2/models/shift_data.rb
  lib/datadog_api_client/v2/models/shift_data_attributes.rb
  lib/datadog_api_client/v2/models/shift_data_relationships.rb
  lib/datadog_api_client/v2/models/shift_data_relationships_user.rb
  lib/datadog_api_client/v2/models/shift_data_relationships_user_data.rb
  lib/datadog_api_client/v2/models/shift_data_relationships_user_data_type.rb
  lib/datadog_api_client/v2/models/shift_data_type.rb
  lib/datadog_api_client/v2/models/shift_included.rb
Due: generate, format-examples

Regenerate client from commit b673a489 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/on-call/Delete-on-call-escalation-policy-returns-No-Content-response.frozen
  cassettes/features/v2/on-call/Delete-on-call-escalation-policy-returns-No-Content-response.yml
  cassettes/features/v2/security_monitoring/Get-a-custom-framework-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Get-a-custom-framework-returns-OK-response.yml
  lib/datadog_api_client/v2/models/custom_framework_without_requirements.rb
  lib/datadog_api_client/v2/models/full_custom_framework_data_attributes.rb
Due: generate

Regenerate client from commit 996fd99d of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/on-call/Delete-on-call-escalation-policy-returns-No-Content-response.frozen
  cassettes/features/v2/on-call/Delete-on-call-escalation-policy-returns-No-Content-response.yml
  lib/datadog_api_client/v2/models/observability_pipeline_google_cloud_storage_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_metadata_entry.rb
Due: generate

Regenerate client from commit 90c6252d of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/on-call/Get-the-schedule-of-an-on-call-user-returns-OK-response.frozen
  cassettes/features/v2/on-call/Get-the-schedule-of-an-on-call-user-returns-OK-response.yml
  cassettes/features/v2/on-call/Get-the-schedule-on-call-user-returns-OK-response.frozen
  cassettes/features/v2/on-call/Get-the-schedule-on-call-user-returns-OK-response.yml
  examples/v2/on-call/GetScheduleOnCallUser.rb
  features/v2/on-call.feature
  lib/datadog_api_client/v2/api/on_call_api.rb
Due: generate, format-examples

Regenerate client from commit 64f5e7ee of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/metrics_api.rb
  lib/datadog_api_client/v2/models/metric_tag_configuration_attributes.rb
  lib/datadog_api_client/v2/models/metric_tag_configuration_create_attributes.rb
  lib/datadog_api_client/v2/models/metric_tag_configuration_update_attributes.rb
Due: generate

Regenerate client from commit 9d44adf0 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/synthetics_assertion_body_hash_target.rb
  lib/datadog_api_client/v1/models/synthetics_assertion_json_path_target_target.rb
  lib/datadog_api_client/v1/models/synthetics_assertion_target.rb
  lib/datadog_api_client/v1/models/synthetics_assertion_target_value.rb
  lib/datadog_api_client/v1/models/synthetics_assertion_x_path_target_target.rb
Due: generate

Regenerate client from commit 07378d9e of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/monitors/Create-a-RUM-formula-and-functions-monitor-returns-OK-response.frozen
  cassettes/features/v1/monitors/Create-a-RUM-formula-and-functions-monitor-returns-OK-response.yml
  cassettes/features/v1/monitors/Create-a-metric-monitor-with-a-custom-schedule-returns-OK-response.frozen
  cassettes/features/v1/monitors/Create-a-metric-monitor-with-a-custom-schedule-returns-OK-response.yml
  cassettes/features/v1/monitors/Create-an-Error-Tracking-monitor-returns-OK-response.frozen
  cassettes/features/v1/monitors/Create-an-Error-Tracking-monitor-returns-OK-response.yml
  examples/v1/monitors/CreateMonitor_1539578087.rb
  examples/v1/monitors/CreateMonitor_440013737.rb
  features/v1/monitor_error_tracking_alert_payload.json
  features/v1/monitors.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/monitor.rb
  lib/datadog_api_client/v1/models/monitor_draft_status.rb
  lib/datadog_api_client/v1/models/monitor_update_request.rb
Due: generate, format-examples

Regenerate client from commit 78a2a583 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/List-resource-filters-returns-Bad-Request-response.frozen
  cassettes/features/v2/security_monitoring/List-resource-filters-returns-Bad-Request-response.yml
  cassettes/features/v2/security_monitoring/List-resource-filters-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/List-resource-filters-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Update-resource-filters-returns-Bad-Request-response.frozen
  cassettes/features/v2/security_monitoring/Update-resource-filters-returns-Bad-Request-response.yml
  cassettes/features/v2/security_monitoring/Update-resource-filters-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Update-resource-filters-returns-OK-response.yml
  examples/v2/security-monitoring/GetResourceEvaluationFilters.rb
  examples/v2/security-monitoring/UpdateResourceEvaluationFilters.rb
  features/scenarios_model_mapping.rb
  features/v2/security_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/get_resource_evaluation_filters_response.rb
  lib/datadog_api_client/v2/models/get_resource_evaluation_filters_response_data.rb
  lib/datadog_api_client/v2/models/historical_job_options.rb
  lib/datadog_api_client/v2/models/resource_filter_attributes.rb
  lib/datadog_api_client/v2/models/resource_filter_request_type.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_keep_alive.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_options.rb
  lib/datadog_api_client/v2/models/update_resource_evaluation_filters_request.rb
  lib/datadog_api_client/v2/models/update_resource_evaluation_filters_request_data.rb
  lib/datadog_api_client/v2/models/update_resource_evaluation_filters_response.rb
  lib/datadog_api_client/v2/models/update_resource_evaluation_filters_response_data.rb
Due: generate, format-examples

Fix frozen string errors again, more durably this time (#2407)
  .generator/src/generator/templates/configuration.j2
  lib/datadog_api_client/configuration.rb
Due: generate

Regenerate client from commit 302f87a7 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/ListFindings_2932019633.rb
  features/scenarios_model_mapping.rb
  features/v2/security_monitoring.feature
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/finding_attributes.rb
Due: generate, format-examples

Regenerate client from commit dac51bc6 of spec repo
  .apigentools-info
  features/v2/csm_threats.feature
Due: none

Regenerate client from commit f89617c7 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/monitor.rb
Due: generate

Regenerate client from commit fec20f97 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/List-resource-filters-returns-Bad-Request-response.frozen
  cassettes/features/v2/security_monitoring/List-resource-filters-returns-Bad-Request-response.yml
  cassettes/features/v2/security_monitoring/List-resource-filters-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/List-resource-filters-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Update-resource-filters-returns-Bad-Request-response.frozen
  cassettes/features/v2/security_monitoring/Update-resource-filters-returns-Bad-Request-response.yml
  cassettes/features/v2/security_monitoring/Update-resource-filters-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Update-resource-filters-returns-OK-response.yml
  examples/v2/security-monitoring/GetResourceEvaluationFilters.rb
  examples/v2/security-monitoring/UpdateResourceEvaluationFilters.rb
  features/scenarios_model_mapping.rb
  features/v2/security_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/get_resource_evaluation_filters_response.rb
  lib/datadog_api_client/v2/models/get_resource_evaluation_filters_response_data.rb
  lib/datadog_api_client/v2/models/historical_job_options.rb
  lib/datadog_api_client/v2/models/resource_filter_attributes.rb
  lib/datadog_api_client/v2/models/resource_filter_request_type.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_keep_alive.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_options.rb
  lib/datadog_api_client/v2/models/update_resource_evaluation_filters_request.rb
  lib/datadog_api_client/v2/models/update_resource_evaluation_filters_request_data.rb
  lib/datadog_api_client/v2/models/update_resource_evaluation_filters_response.rb
  lib/datadog_api_client/v2/models/update_resource_evaluation_filters_response_data.rb
Due: generate, format-examples

Regenerate client from commit 3e3bf46c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/List-findings-returns-OK-response-with-details.frozen
  cassettes/features/v2/security_monitoring/List-findings-returns-OK-response-with-details.yml
  examples/v2/security-monitoring/ListFindings_2932019633.rb
  features/scenarios_model_mapping.rb
  features/v2/security_monitoring.feature
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/finding_attributes.rb
Due: generate, format-examples

Regenerate client from commit e044e1a4 of spec repo
  .apigentools-info
  cassettes/features/v2/workflow_automation/Create-a-Workflow-returns-Bad-request-response.frozen
  cassettes/features/v2/workflow_automation/Create-a-Workflow-returns-Bad-request-response.yml
  cassettes/features/v2/workflow_automation/Create-a-Workflow-returns-Successfully-created-a-workflow-response.frozen
  cassettes/features/v2/workflow_automation/Create-a-Workflow-returns-Successfully-created-a-workflow-response.yml
  cassettes/features/v2/workflow_automation/Delete-an-existing-Workflow-returns-Not-found-response.frozen
  cassettes/features/v2/workflow_automation/Delete-an-existing-Workflow-returns-Not-found-response.yml
  cassettes/features/v2/workflow_automation/Delete-an-existing-Workflow-returns-Successfully-deleted-a-workflow-response.frozen
  cassettes/features/v2/workflow_automation/Delete-an-existing-Workflow-returns-Successfully-deleted-a-workflow-response.yml
  cassettes/features/v2/workflow_automation/Get-an-existing-Workflow-returns-Bad-request-response.frozen
  cassettes/features/v2/workflow_automation/Get-an-existing-Workflow-returns-Bad-request-response.yml
  cassettes/features/v2/workflow_automation/Get-an-existing-Workflow-returns-Not-found-response.frozen
  cassettes/features/v2/workflow_automation/Get-an-existing-Workflow-returns-Not-found-response.yml
  cassettes/features/v2/workflow_automation/Get-an-existing-Workflow-returns-Successfully-got-a-workflow-response.frozen
  cassettes/features/v2/workflow_automation/Get-an-existing-Workflow-returns-Successfully-got-a-workflow-response.yml
  cassettes/features/v2/workflow_automation/Update-an-existing-Workflow-returns-Bad-request-response.frozen
  cassettes/features/v2/workflow_automation/Update-an-existing-Workflow-returns-Bad-request-response.yml
  cassettes/features/v2/workflow_automation/Update-an-existing-Workflow-returns-Not-found-response.frozen
  cassettes/features/v2/workflow_automation/Update-an-existing-Workflow-returns-Not-found-response.yml
  cassettes/features/v2/workflow_automation/Update-an-existing-Workflow-returns-Successfully-updated-a-workflow-response.frozen
  cassettes/features/v2/workflow_automation/Update-an-existing-Workflow-returns-Successfully-updated-a-workflow-response.yml
  examples/v2/workflow-automation/CreateWorkflow.rb
  examples/v2/workflow-automation/UpdateWorkflow.rb
  features/v2/workflow_automation.feature
Due: format-examples

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
