Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Regenerate client from commit 4498df0 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/google_chat_integration/Create-organization-handle-returns-CREATED-response.frozen
  cassettes/features/v2/google_chat_integration/Create-organization-handle-returns-CREATED-response.yml
  cassettes/features/v2/google_chat_integration/Delete-organization-handle-returns-OK-response.frozen
  cassettes/features/v2/google_chat_integration/Delete-organization-handle-returns-OK-response.yml
  cassettes/features/v2/google_chat_integration/Get-all-organization-handles-returns-OK-response.frozen
  cassettes/features/v2/google_chat_integration/Get-all-organization-handles-returns-OK-response.yml
  cassettes/features/v2/google_chat_integration/Get-organization-handle-returns-OK-response.frozen
  cassettes/features/v2/google_chat_integration/Get-organization-handle-returns-OK-response.yml
  cassettes/features/v2/google_chat_integration/Get-space-information-by-display-name-returns-OK-response.frozen
  cassettes/features/v2/google_chat_integration/Get-space-information-by-display-name-returns-OK-response.yml
  cassettes/features/v2/google_chat_integration/Update-organization-handle-returns-OK-response.frozen
  cassettes/features/v2/google_chat_integration/Update-organization-handle-returns-OK-response.yml
  examples/v2/google-chat-integration/CreateOrganizationHandle.rb
  examples/v2/google-chat-integration/DeleteOrganizationHandle.rb
  examples/v2/google-chat-integration/GetOrganizationHandle.rb
  examples/v2/google-chat-integration/GetSpaceByDisplayName.rb
  examples/v2/google-chat-integration/ListOrganizationHandles.rb
  examples/v2/google-chat-integration/UpdateOrganizationHandle.rb
  features/scenarios_model_mapping.rb
  features/v2/given.json
  features/v2/google_chat_integration.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/google_chat_integration_api.rb
  lib/datadog_api_client/v2/models/google_chat_app_named_space_response.rb
  lib/datadog_api_client/v2/models/google_chat_app_named_space_response_attributes.rb
  lib/datadog_api_client/v2/models/google_chat_app_named_space_response_data.rb
  lib/datadog_api_client/v2/models/google_chat_app_named_space_type.rb
  lib/datadog_api_client/v2/models/google_chat_create_organization_handle_request.rb
  lib/datadog_api_client/v2/models/google_chat_create_organization_handle_request_attributes.rb
  lib/datadog_api_client/v2/models/google_chat_create_organization_handle_request_data.rb
  lib/datadog_api_client/v2/models/google_chat_organization_handle_response.rb
  lib/datadog_api_client/v2/models/google_chat_organization_handle_response_attributes.rb
  lib/datadog_api_client/v2/models/google_chat_organization_handle_response_data.rb
  lib/datadog_api_client/v2/models/google_chat_organization_handle_type.rb
  lib/datadog_api_client/v2/models/google_chat_organization_handles_response.rb
  lib/datadog_api_client/v2/models/google_chat_update_organization_handle_request.rb
  lib/datadog_api_client/v2/models/google_chat_update_organization_handle_request_attributes.rb
  lib/datadog_api_client/v2/models/google_chat_update_organization_handle_request_data.rb
Due: generate, format-examples

Regenerate client from commit a349cc0 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/google_chat_integration/Create-organization-handle-returns-CREATED-response.frozen
  cassettes/features/v2/google_chat_integration/Create-organization-handle-returns-CREATED-response.yml
  cassettes/features/v2/google_chat_integration/Delete-organization-handle-returns-OK-response.frozen
  cassettes/features/v2/google_chat_integration/Delete-organization-handle-returns-OK-response.yml
  cassettes/features/v2/google_chat_integration/Get-all-organization-handles-returns-OK-response.frozen
  cassettes/features/v2/google_chat_integration/Get-all-organization-handles-returns-OK-response.yml
  cassettes/features/v2/google_chat_integration/Get-organization-handle-returns-OK-response.frozen
  cassettes/features/v2/google_chat_integration/Get-organization-handle-returns-OK-response.yml
  cassettes/features/v2/google_chat_integration/Get-space-information-by-display-name-returns-OK-response.frozen
  cassettes/features/v2/google_chat_integration/Get-space-information-by-display-name-returns-OK-response.yml
  cassettes/features/v2/google_chat_integration/Update-organization-handle-returns-OK-response.frozen
  cassettes/features/v2/google_chat_integration/Update-organization-handle-returns-OK-response.yml
  examples/v2/google-chat-integration/CreateOrganizationHandle.rb
  examples/v2/google-chat-integration/DeleteOrganizationHandle.rb
  examples/v2/google-chat-integration/GetOrganizationHandle.rb
  examples/v2/google-chat-integration/GetSpaceByDisplayName.rb
  examples/v2/google-chat-integration/ListOrganizationHandles.rb
  examples/v2/google-chat-integration/UpdateOrganizationHandle.rb
  features/scenarios_model_mapping.rb
  features/v2/given.json
  features/v2/google_chat_integration.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/google_chat_integration_api.rb
  lib/datadog_api_client/v2/models/google_chat_app_named_space_response.rb
  lib/datadog_api_client/v2/models/google_chat_app_named_space_response_attributes.rb
  lib/datadog_api_client/v2/models/google_chat_app_named_space_response_data.rb
  lib/datadog_api_client/v2/models/google_chat_app_named_space_type.rb
  lib/datadog_api_client/v2/models/google_chat_create_organization_handle_request.rb
  lib/datadog_api_client/v2/models/google_chat_create_organization_handle_request_attributes.rb
  lib/datadog_api_client/v2/models/google_chat_create_organization_handle_request_data.rb
  lib/datadog_api_client/v2/models/google_chat_organization_handle_response.rb
  lib/datadog_api_client/v2/models/google_chat_organization_handle_response_attributes.rb
  lib/datadog_api_client/v2/models/google_chat_organization_handle_response_data.rb
  lib/datadog_api_client/v2/models/google_chat_organization_handle_type.rb
  lib/datadog_api_client/v2/models/google_chat_organization_handles_response.rb
  lib/datadog_api_client/v2/models/google_chat_update_organization_handle_request.rb
  lib/datadog_api_client/v2/models/google_chat_update_organization_handle_request_attributes.rb
  lib/datadog_api_client/v2/models/google_chat_update_organization_handle_request_data.rb
Due: generate, format-examples

Regenerate client from commit c501bee of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-a-bar-chart-widget-with-stacked-type-and-no-legend-specified.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-a-bar-chart-widget-with-stacked-type-and-no-legend-specified.yml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-bar-chart-widget-sorted-by-group.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-bar-chart-widget-sorted-by-group.yml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-bar-chart-widget.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-bar-chart-widget.yml
  examples/v1/dashboards/CreateDashboard_1712853070.rb
  examples/v1/dashboards/CreateDashboard_2345541687.rb
  examples/v1/dashboards/CreateDashboard_2617251399.rb
  features/v1/dashboards.feature
  features/v1/dashboards_json_payload/bar_chart_widget.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/bar_chart_widget_definition.rb
  lib/datadog_api_client/v1/models/bar_chart_widget_definition_type.rb
  lib/datadog_api_client/v1/models/bar_chart_widget_display.rb
  lib/datadog_api_client/v1/models/bar_chart_widget_flat.rb
  lib/datadog_api_client/v1/models/bar_chart_widget_flat_type.rb
  lib/datadog_api_client/v1/models/bar_chart_widget_legend.rb
  lib/datadog_api_client/v1/models/bar_chart_widget_request.rb
  lib/datadog_api_client/v1/models/bar_chart_widget_scaling.rb
  lib/datadog_api_client/v1/models/bar_chart_widget_stacked.rb
  lib/datadog_api_client/v1/models/bar_chart_widget_stacked_type.rb
  lib/datadog_api_client/v1/models/bar_chart_widget_style.rb
  lib/datadog_api_client/v1/models/split_graph_source_widget_definition.rb
Due: generate, format-examples

Bump versions and add changelog entries.
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit e77ae2a of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Delete-a-suppression-rule-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Delete-a-suppression-rule-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Get-a-suppression-rule-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Get-a-suppression-rule-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Get-a-suppression-s-version-history-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Get-a-suppression-s-version-history-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Get-all-suppression-rules-returns-OK-response-with-pagination.frozen
  cassettes/features/v2/security_monitoring/Get-all-suppression-rules-returns-OK-response-with-pagination.yml
  cassettes/features/v2/security_monitoring/Get-all-suppression-rules-returns-OK-response-with-sort-ascending.frozen
  cassettes/features/v2/security_monitoring/Get-all-suppression-rules-returns-OK-response-with-sort-ascending.yml
  cassettes/features/v2/security_monitoring/Get-all-suppression-rules-returns-OK-response-with-sort-descending.frozen
  cassettes/features/v2/security_monitoring/Get-all-suppression-rules-returns-OK-response-with-sort-descending.yml
  cassettes/features/v2/security_monitoring/Update-a-suppression-rule-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Update-a-suppression-rule-returns-OK-response.yml
  examples/v2/security-monitoring/ListSecurityMonitoringSuppressions_1315707136.rb
  examples/v2/security-monitoring/ListSecurityMonitoringSuppressions_1741429096.rb
  examples/v2/security-monitoring/ListSecurityMonitoringSuppressions_3985905558.rb
  features/scenarios_model_mapping.rb
  features/v2/given.json
  features/v2/security_monitoring.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/security_monitoring_paginated_suppressions_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_suppression_sort.rb
  lib/datadog_api_client/v2/models/security_monitoring_suppressions_meta.rb
  lib/datadog_api_client/v2/models/security_monitoring_suppressions_page_meta.rb
Due: generate, format-examples

Regenerate client from commit 310d812 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Group-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Group-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-Bad-Request-response.yml
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-with-should-save-match-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-with-should-save-match-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Group-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Group-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Rule-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Rule-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/List-Scanning-Groups-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/List-Scanning-Groups-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Reorder-Groups-returns-Bad-Request-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Reorder-Groups-returns-Bad-Request-response.yml
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Group-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Group-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-Bad-Request-response.yml
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-OK-response.yml
  features/v2/sensitive_data_scanner.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/sensitive_data_scanner_rule_attributes.rb
  lib/datadog_api_client/v2/models/sensitive_data_scanner_suppressions.rb
Due: generate

Regenerate client from commit d9c9721 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/metrics_api.rb
Due: generate

Regenerate client from commit a49cdd4 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/v2/api/metrics_api.rb
  lib/datadog_api_client/v2/models/metric_all_tags.rb
  lib/datadog_api_client/v2/models/metric_all_tags_attributes.rb
  lib/datadog_api_client/v2/models/metric_all_tags_response.rb
Due: generate

Regenerate client from commit 938d9b0 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/monitors_api.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_events_data_source.rb
  lib/datadog_api_client/v1/models/monitor_type.rb
Due: generate

Regenerate client from commit 9747303 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/case_attributes.rb
  lib/datadog_api_client/v2/models/case_create_attributes.rb
  lib/datadog_api_client/v2/models/case_status_group.rb
  lib/datadog_api_client/v2/models/case_update_status_attributes.rb
  lib/datadog_api_client/v2/models/issue_case_attributes.rb
Due: generate

Regenerate client from commit a39e4b1 of spec repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v1/models/synthetics_global_variable_attributes.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_test_options.rb
  lib/datadog_api_client/v1/models/synthetics_private_location_metadata.rb
  lib/datadog_api_client/v1/models/synthetics_test_options.rb
  lib/datadog_api_client/v2/models/synthetics_global_variable_attributes.rb
Due: generate

Regenerate client from commit a0cd297 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Group-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Group-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-Bad-Request-response.yml
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-with-should-save-match-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-with-should-save-match-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Group-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Group-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Rule-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Rule-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/List-Scanning-Groups-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/List-Scanning-Groups-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Reorder-Groups-returns-Bad-Request-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Reorder-Groups-returns-Bad-Request-response.yml
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Group-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Group-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-Bad-Request-response.yml
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-OK-response.yml
  features/v2/sensitive_data_scanner.feature
Due: generate

Regenerate client from commit ad3e472 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/aws_integration/Create-AWS-CCM-config-returns-AWS-CCM-Config-object-response.frozen
  cassettes/features/v2/aws_integration/Create-AWS-CCM-config-returns-AWS-CCM-Config-object-response.yml
  cassettes/features/v2/aws_integration/Create-AWS-CCM-config-returns-Conflict-response.frozen
  cassettes/features/v2/aws_integration/Create-AWS-CCM-config-returns-Conflict-response.yml
  cassettes/features/v2/aws_integration/Create-AWS-CCM-config-returns-Not-Found-response.frozen
  cassettes/features/v2/aws_integration/Create-AWS-CCM-config-returns-Not-Found-response.yml
  cassettes/features/v2/aws_integration/Delete-AWS-CCM-config-returns-No-Content-response.frozen
  cassettes/features/v2/aws_integration/Delete-AWS-CCM-config-returns-No-Content-response.yml
  cassettes/features/v2/aws_integration/Delete-AWS-CCM-config-returns-Not-Found-response.frozen
  cassettes/features/v2/aws_integration/Delete-AWS-CCM-config-returns-Not-Found-response.yml
  cassettes/features/v2/aws_integration/Get-AWS-CCM-config-returns-AWS-CCM-Config-object-response.frozen
  cassettes/features/v2/aws_integration/Get-AWS-CCM-config-returns-AWS-CCM-Config-object-response.yml
  cassettes/features/v2/aws_integration/Get-AWS-CCM-config-returns-Not-Found-response.frozen
  cassettes/features/v2/aws_integration/Get-AWS-CCM-config-returns-Not-Found-response.yml
  cassettes/features/v2/aws_integration/Update-AWS-CCM-config-returns-AWS-CCM-Config-object-response.frozen
  cassettes/features/v2/aws_integration/Update-AWS-CCM-config-returns-AWS-CCM-Config-object-response.yml
  cassettes/features/v2/aws_integration/Update-AWS-CCM-config-returns-Not-Found-response.frozen
  cassettes/features/v2/aws_integration/Update-AWS-CCM-config-returns-Not-Found-response.yml
  examples/v2/aws-integration/CreateAWSAccountCCMConfig.rb
  examples/v2/aws-integration/DeleteAWSAccountCCMConfig.rb
  examples/v2/aws-integration/GetAWSAccountCCMConfig.rb
  examples/v2/aws-integration/UpdateAWSAccountCCMConfig.rb
  features/scenarios_model_mapping.rb
  features/v2/aws_integration.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/aws_integration_api.rb
  lib/datadog_api_client/v2/models/aws_ccm_config.rb
  lib/datadog_api_client/v2/models/aws_ccm_config_request.rb
  lib/datadog_api_client/v2/models/aws_ccm_config_request_attributes.rb
  lib/datadog_api_client/v2/models/aws_ccm_config_request_data.rb
  lib/datadog_api_client/v2/models/aws_ccm_config_response.rb
  lib/datadog_api_client/v2/models/aws_ccm_config_response_attributes.rb
  lib/datadog_api_client/v2/models/aws_ccm_config_response_data.rb
  lib/datadog_api_client/v2/models/aws_ccm_config_type.rb
  lib/datadog_api_client/v2/models/data_export_config.rb
Due: generate, format-examples

Regenerate client from commit 699eed2 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/synthetics/Search-Synthetics-suites-returns-OK-response.frozen
  cassettes/features/v2/synthetics/Search-Synthetics-suites-returns-OK-response.yml
  cassettes/features/v2/synthetics/Synthetics-Create-a-test-suite-returns-OK-response.frozen
  cassettes/features/v2/synthetics/Synthetics-Create-a-test-suite-returns-OK-response.yml
  examples/v2/synthetics/CreateSyntheticsSuite.rb
  examples/v2/synthetics/DeleteSyntheticsSuites.rb
  examples/v2/synthetics/EditSyntheticsSuite.rb
  examples/v2/synthetics/GetSyntheticsSuite.rb
  examples/v2/synthetics/SearchSuites.rb
  features/scenarios_model_mapping.rb
  features/v2/synthetics.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/synthetics_api.rb
  lib/datadog_api_client/v2/models/deleted_suite_response_data.rb
  lib/datadog_api_client/v2/models/deleted_suite_response_data_attributes.rb
  lib/datadog_api_client/v2/models/deleted_suites_request_delete.rb
  lib/datadog_api_client/v2/models/deleted_suites_request_delete_attributes.rb
  lib/datadog_api_client/v2/models/deleted_suites_request_delete_request.rb
  lib/datadog_api_client/v2/models/deleted_suites_request_type.rb
  lib/datadog_api_client/v2/models/deleted_suites_response.rb
  lib/datadog_api_client/v2/models/suite_create_edit.rb
  lib/datadog_api_client/v2/models/suite_create_edit_request.rb
  lib/datadog_api_client/v2/models/suite_search_response_type.rb
  lib/datadog_api_client/v2/models/synthetics_suite.rb
  lib/datadog_api_client/v2/models/synthetics_suite_options.rb
  lib/datadog_api_client/v2/models/synthetics_suite_response.rb
  lib/datadog_api_client/v2/models/synthetics_suite_response_data.rb
  lib/datadog_api_client/v2/models/synthetics_suite_search_response.rb
  lib/datadog_api_client/v2/models/synthetics_suite_search_response_data.rb
  lib/datadog_api_client/v2/models/synthetics_suite_search_response_data_attributes.rb
  lib/datadog_api_client/v2/models/synthetics_suite_test.rb
  lib/datadog_api_client/v2/models/synthetics_suite_test_alerting_criticality.rb
  lib/datadog_api_client/v2/models/synthetics_suite_type.rb
  lib/datadog_api_client/v2/models/synthetics_suite_types.rb
Due: generate, format-examples

provide default value for uuid formats
  .generator/conftest.py
Due: generate

Regenerate client from commit beee472 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/jira-integration/CreateJiraIssueTemplate.rb
  examples/v2/jira-integration/DeleteJiraAccount.rb
  examples/v2/jira-integration/DeleteJiraIssueTemplate.rb
  examples/v2/jira-integration/GetJiraIssueTemplate.rb
  examples/v2/jira-integration/ListJiraAccounts.rb
  examples/v2/jira-integration/ListJiraIssueTemplates.rb
  examples/v2/jira-integration/UpdateJiraIssueTemplate.rb
  features/scenarios_model_mapping.rb
  features/v2/jira_integration.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/jira_integration_api.rb
  lib/datadog_api_client/v2/models/jira_account_attributes.rb
  lib/datadog_api_client/v2/models/jira_account_data.rb
  lib/datadog_api_client/v2/models/jira_account_relationship.rb
  lib/datadog_api_client/v2/models/jira_account_type.rb
  lib/datadog_api_client/v2/models/jira_accounts_meta.rb
  lib/datadog_api_client/v2/models/jira_accounts_response.rb
  lib/datadog_api_client/v2/models/jira_issue_template_create_request.rb
  lib/datadog_api_client/v2/models/jira_issue_template_create_request_attributes.rb
  lib/datadog_api_client/v2/models/jira_issue_template_create_request_attributes_jira_account.rb
  lib/datadog_api_client/v2/models/jira_issue_template_create_request_data.rb
  lib/datadog_api_client/v2/models/jira_issue_template_data.rb
  lib/datadog_api_client/v2/models/jira_issue_template_data_attributes.rb
  lib/datadog_api_client/v2/models/jira_issue_template_data_relationships.rb
  lib/datadog_api_client/v2/models/jira_issue_template_response.rb
  lib/datadog_api_client/v2/models/jira_issue_template_type.rb
  lib/datadog_api_client/v2/models/jira_issue_template_update_request.rb
  lib/datadog_api_client/v2/models/jira_issue_template_update_request_attributes.rb
  lib/datadog_api_client/v2/models/jira_issue_template_update_request_data.rb
  lib/datadog_api_client/v2/models/jira_issue_templates_response.rb
Due: generate, format-examples

Regenerate client from commit 904d2dd of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/incidents/CreateIncidentPostmortemAttachment.rb
  features/scenarios_model_mapping.rb
  features/v2/incidents.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/incidents_api.rb
  lib/datadog_api_client/v2/models/postmortem_attachment_request.rb
  lib/datadog_api_client/v2/models/postmortem_attachment_request_attributes.rb
  lib/datadog_api_client/v2/models/postmortem_attachment_request_data.rb
  lib/datadog_api_client/v2/models/postmortem_cell.rb
  lib/datadog_api_client/v2/models/postmortem_cell_attributes.rb
  lib/datadog_api_client/v2/models/postmortem_cell_definition.rb
  lib/datadog_api_client/v2/models/postmortem_cell_type.rb
Due: generate, format-examples

provide default value for uuid formats (#2915)
  .generator/conftest.py
Due: generate

Regenerate client from commit c5903d9 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/jira-integration/CreateJiraIssueTemplate.rb
  examples/v2/jira-integration/DeleteJiraAccount.rb
  examples/v2/jira-integration/DeleteJiraIssueTemplate.rb
  examples/v2/jira-integration/GetJiraIssueTemplate.rb
  examples/v2/jira-integration/ListJiraAccounts.rb
  examples/v2/jira-integration/ListJiraIssueTemplates.rb
  examples/v2/jira-integration/UpdateJiraIssueTemplate.rb
  features/scenarios_model_mapping.rb
  features/v2/jira_integration.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/jira_integration_api.rb
  lib/datadog_api_client/v2/models/jira_account_attributes.rb
  lib/datadog_api_client/v2/models/jira_account_data.rb
  lib/datadog_api_client/v2/models/jira_account_relationship.rb
  lib/datadog_api_client/v2/models/jira_account_type.rb
  lib/datadog_api_client/v2/models/jira_accounts_meta.rb
  lib/datadog_api_client/v2/models/jira_accounts_response.rb
  lib/datadog_api_client/v2/models/jira_issue_template_create_request.rb
  lib/datadog_api_client/v2/models/jira_issue_template_create_request_attributes.rb
  lib/datadog_api_client/v2/models/jira_issue_template_create_request_attributes_jira_account.rb
  lib/datadog_api_client/v2/models/jira_issue_template_create_request_data.rb
  lib/datadog_api_client/v2/models/jira_issue_template_data.rb
  lib/datadog_api_client/v2/models/jira_issue_template_data_attributes.rb
  lib/datadog_api_client/v2/models/jira_issue_template_data_relationships.rb
  lib/datadog_api_client/v2/models/jira_issue_template_response.rb
  lib/datadog_api_client/v2/models/jira_issue_template_type.rb
  lib/datadog_api_client/v2/models/jira_issue_template_update_request.rb
  lib/datadog_api_client/v2/models/jira_issue_template_update_request_attributes.rb
  lib/datadog_api_client/v2/models/jira_issue_template_update_request_data.rb
  lib/datadog_api_client/v2/models/jira_issue_templates_response.rb
Due: generate, format-examples

Regenerate client from commit e1038df of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/security_monitoring_suppression_sort.rb
Due: generate

Add path parameter support for undo operations
  features/step_definitions/request.rb
Due: none

Regenerate client from commit 76213e2 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/v2/api/metrics_api.rb
  lib/datadog_api_client/v2/models/metric_all_tags.rb
  lib/datadog_api_client/v2/models/metric_all_tags_attributes.rb
  lib/datadog_api_client/v2/models/metric_all_tags_response.rb
Due: generate

Regenerate client from commit 5db4165 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/monitors_api.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_events_data_source.rb
  lib/datadog_api_client/v1/models/monitor_type.rb
Due: generate

Regenerate client from commit ed7c622 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Bulk-export-security-monitoring-rules-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Bulk-export-security-monitoring-rules-returns-OK-response.yml
  examples/v2/security-monitoring/BulkExportSecurityMonitoringRules.rb
  features/scenarios_model_mapping.rb
  features/v2/security_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_bulk_export_attributes.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_bulk_export_data.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_bulk_export_data_type.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_bulk_export_payload.rb
Due: generate, format-examples

Regenerate client from commit c53fa50 of spec repo
  .generator/schemas/v1/openapi.yaml
  examples/v1/logs-indexes/CreateLogsIndex.rb
  examples/v1/logs-indexes/UpdateLogsIndex.rb
  features/v1/logs_indexes.feature
  lib/datadog_api_client/v1/models/logs_index.rb
  lib/datadog_api_client/v1/models/logs_index_update_request.rb
Due: generate, format-examples

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
