Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Regenerate client from commit 769244ad of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/case_management_api.rb
Due: generate

Regenerate client from commit 3cb094c8 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v1/api/authentication_api.rb
  lib/datadog_api_client/v1/api/aws_integration_api.rb
  lib/datadog_api_client/v1/api/logs_indexes_api.rb
  lib/datadog_api_client/v1/api/logs_pipelines_api.rb
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/api/users_api.rb
  lib/datadog_api_client/v2/api/authn_mappings_api.rb
  lib/datadog_api_client/v2/api/cloud_cost_management_api.rb
  lib/datadog_api_client/v2/api/events_api.rb
  lib/datadog_api_client/v2/api/logs_archives_api.rb
  lib/datadog_api_client/v2/api/logs_metrics_api.rb
  lib/datadog_api_client/v2/api/metrics_api.rb
Due: generate

Regenerate client from commit 27a03d2c of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/ip_allowlist_api.rb
  lib/datadog_api_client/v2/api/spans_api.rb
Due: generate

Regenerate client from commit f983a01b of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit c5ba75e0 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
Due: generate

Regenerate client from commit 48746015 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/service_level_objective.rb
  lib/datadog_api_client/v1/models/service_level_objective_request.rb
  lib/datadog_api_client/v1/models/slo_overall_statuses.rb
  lib/datadog_api_client/v1/models/slo_response_data.rb
  lib/datadog_api_client/v1/models/slo_threshold.rb
  lib/datadog_api_client/v1/models/slo_timeframe.rb
Due: generate

Regenerate client from commit 45952461 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/slo_history_monitor.rb
  lib/datadog_api_client/v1/models/slo_history_sli_data.rb
Due: generate

Regenerate client from commit 4e2ffe7b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/logs_api.rb
  lib/datadog_api_client/v2/models/logs_query_filter.rb
  lib/datadog_api_client/v2/models/logs_storage_tier.rb
Due: generate

Regenerate client from commit 77064b00 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/spans_api.rb
Due: generate

Regenerate client from commit 6340fda5 of spec repo
  .apigentools-info
  cassettes/features/v2/security_monitoring/Create-a-suppression-rule-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Create-a-suppression-rule-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Create-a-suppression-rule-with-an-exclusion-query-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Create-a-suppression-rule-with-an-exclusion-query-returns-OK-response.yml
  examples/v2/security-monitoring/CreateSecurityMonitoringSuppression.rb
  examples/v2/security-monitoring/CreateSecurityMonitoringSuppression_3192265332.rb
  features/v1/synthetics.feature
  features/v2/security_monitoring.feature
Due: format-examples

Bump datadog_api_client to 2.23.0
  lib/datadog_api_client/version.rb
Due: generate

update changelog
  CHANGELOG.md
Due: none

Bump datadog_api_client to 2.23.0.dev.1
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit c1476f30 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/synthetics_test_options_monitor_options.rb
Due: generate

Regenerate client from commit 94c7d978 of spec repo
  .apigentools-info
  features/v1/usage_metering.feature
  features/v2/usage_metering.feature
Due: none

Regenerate client from commit b829bfa2 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/csm_threats/Create-a-CSM-Threats-Agent-rule-returns-OK-response.frozen
  cassettes/features/v2/csm_threats/Create-a-CSM-Threats-Agent-rule-returns-OK-response.yml
  examples/v2/csm-threats/CreateCSMThreatsAgentRule.rb
  features/v2/csm_threats.feature
  lib/datadog_api_client/v2/models/cloud_workload_security_agent_rule_create_attributes.rb
Due: generate, format-examples

Regenerate client from commit 95a954a4 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-a-toplist-widget-sorted-by-group.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-a-toplist-widget-sorted-by-group.yml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-geomap-widget.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-geomap-widget.yml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-logs-query-table-widget-and-storage-parameter.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-logs-query-table-widget-and-storage-parameter.yml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-query-table-widget.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-query-table-widget.yml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-toplist-widget.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-toplist-widget.yml
  examples/v1/dashboards/CreateDashboard_1213075383.rb
  examples/v1/dashboards/CreateDashboard_2563642929.rb
  examples/v1/dashboards/CreateDashboard_3669695268.rb
  examples/v1/dashboards/CreateDashboard_915214113.rb
  features/v1/dashboards.feature
  features/v1/dashboards_json_payload/geomap_widget.json
  features/v1/dashboards_json_payload/query_table_widget.json
  features/v1/dashboards_json_payload/toplist_widget.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/formula_type.rb
  lib/datadog_api_client/v1/models/geomap_widget_request.rb
  lib/datadog_api_client/v1/models/group_type.rb
  lib/datadog_api_client/v1/models/table_widget_request.rb
  lib/datadog_api_client/v1/models/toplist_widget_request.rb
  lib/datadog_api_client/v1/models/widget_formula_sort.rb
  lib/datadog_api_client/v1/models/widget_group_sort.rb
  lib/datadog_api_client/v1/models/widget_sort_by.rb
  lib/datadog_api_client/v1/models/widget_sort_order_by.rb
Due: generate, format-examples

Regenerate client from commit b9b11fda of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 9445af96 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Test-a-rule-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Test-a-rule-returns-OK-response.yml
  examples/v2/security-monitoring/TestExistingSecurityMonitoringRule.rb
  examples/v2/security-monitoring/TestSecurityMonitoringRule.rb
  features/scenarios_model_mapping.rb
  features/v2/security_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_query_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_query_payload_data.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_test_request.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_test_response.rb
Due: generate, format-examples

Regenerate client from commit 03c4f8e6 of spec repo
  .apigentools-info
  cassettes/features/v2/csm_threats/Update-a-CSM-Threats-Agent-rule-returns-Bad-Request-response.yml
  cassettes/features/v2/csm_threats/Update-a-Cloud-Workload-Security-Agent-rule-returns-Bad-Request-response.yml
  cassettes/features/v2/csm_threats/Update-a-Cloud-Workload-Security-Agent-rule-returns-Not-Found-response.yml
  cassettes/features/v2/csm_threats/Update-a-Cloud-Workload-Security-Agent-rule-returns-OK-response.yml
Due: none

Regenerate client from commit 6cd5686a of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 5a618bf5 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/monitors_api.rb
Due: generate

Regenerate client from commit faa2d929 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/api_management_api.rb
Due: generate

Regenerate client from commit e834e6d7 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/event.rb
Due: generate

Regenerate client from commit 314f8988 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/synthetics/Create-a-browser-test-returns-OK-Returns-saved-rumSettings-response.frozen
  cassettes/features/v1/synthetics/Create-a-browser-test-returns-OK-Returns-saved-rumSettings-response.yml
  cassettes/features/v1/synthetics/Create-a-browser-test-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-a-browser-test-returns-OK-Returns-the-created-test-details-response.yml
  cassettes/features/v1/synthetics/Create-a-browser-test-with-advanced-scheduling-options-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-a-browser-test-with-advanced-scheduling-options-returns-OK-Returns-the-created-test-details-response.yml
  cassettes/features/v1/synthetics/Create-a-global-variable-from-test-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Create-a-global-variable-from-test-returns-OK-response.yml
  cassettes/features/v1/synthetics/Create-an-API-GRPC-test-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-GRPC-test-returns-OK-Returns-the-created-test-details-response.yml
  cassettes/features/v1/synthetics/Create-an-API-HTTP-test-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-HTTP-test-returns-OK-Returns-the-created-test-details-response.yml
  cassettes/features/v1/synthetics/Create-an-API-HTTP-with-oauth-rop-test-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-HTTP-with-oauth-rop-test-returns-OK-Returns-the-created-test-details-response.yml
  cassettes/features/v1/synthetics/Create-an-API-SSL-test-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-SSL-test-returns-OK-Returns-the-created-test-details-response.yml
  cassettes/features/v1/synthetics/Create-an-API-test-with-UDP-subtype-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-test-with-UDP-subtype-returns-OK-Returns-the-created-test-details-response.yml
  cassettes/features/v1/synthetics/Create-an-API-test-with-WEBSOCKET-subtype-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-test-with-WEBSOCKET-subtype-returns-OK-Returns-the-created-test-details-response.yml
  cassettes/features/v1/synthetics/Create-an-API-test-with-a-file-payload-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-test-with-a-file-payload-returns-OK-Returns-the-created-test-details-response.yml
  cassettes/features/v1/synthetics/Create-an-API-test-with-multi-subtype-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-test-with-multi-subtype-returns-OK-Returns-the-created-test-details-response.yml
  cassettes/features/v1/synthetics/Edit-an-API-test-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Edit-an-API-test-returns-OK-response.yml
  cassettes/features/v1/synthetics/Get-the-list-of-default-locations-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Get-the-list-of-default-locations-returns-OK-response.yml
  cassettes/features/v1/synthetics/Patch-a-Synthetic-test-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Patch-a-Synthetic-test-returns-OK-response.yml
  cassettes/features/v1/synthetics/Trigger-Synthetic-tests-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Trigger-Synthetic-tests-returns-OK-response.yml
  examples/v1/synthetics/CreateSyntheticsAPITest_1241981394.rb
  features/v1/synthetics.feature
  features/v1/synthetics_api_http_test_with_file_payload.json
  lib/datadog_api_client/v1/models/synthetics_test_request_body_file.rb
Due: generate, format-examples

Regenerate client from commit df6778e5 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/TestSecurityMonitoringRule.rb
  examples/v2/security-monitoring/ValidateSecurityMonitoringRule.rb
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/cloud_configuration_rule_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_test_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_test_request.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_type_test.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_validate_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_rule_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_create_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_test_payload.rb
Due: generate, format-examples

Regenerate client from commit 60183db6 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/synthetics/Create-an-API-test-with-a-file-payload-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-test-with-a-file-payload-returns-OK-Returns-the-created-test-details-response.yml
  examples/v1/synthetics/CreateSyntheticsAPITest_1241981394.rb
  features/v1/synthetics.feature
  features/v1/synthetics_api_http_test_with_file_payload.json
  lib/datadog_api_client/v1/models/synthetics_test_request_body_file.rb
Due: generate, format-examples

Regenerate client from commit 8e7244ae of spec repo
  .apigentools-info
  cassettes/features/v2/csm_threats/Update-a-CSM-Threats-Agent-rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/csm_threats/Update-a-CSM-Threats-Agent-rule-returns-Bad-Request-response.yml
  cassettes/features/v2/csm_threats/Update-a-Cloud-Workload-Security-Agent-rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/csm_threats/Update-a-Cloud-Workload-Security-Agent-rule-returns-Bad-Request-response.yml
  cassettes/features/v2/csm_threats/Update-a-Cloud-Workload-Security-Agent-rule-returns-Not-Found-response.frozen
  cassettes/features/v2/csm_threats/Update-a-Cloud-Workload-Security-Agent-rule-returns-Not-Found-response.yml
  cassettes/features/v2/csm_threats/Update-a-Cloud-Workload-Security-Agent-rule-returns-OK-response.frozen
  cassettes/features/v2/csm_threats/Update-a-Cloud-Workload-Security-Agent-rule-returns-OK-response.yml
  examples/v2/csm-threats/UpdateCloudWorkloadSecurityAgentRule.rb
  features/v2/csm_threats.feature
Due: format-examples

Regenerate client from commit 837921b8 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/authn_mappings_api.rb
  lib/datadog_api_client/v2/models/authn_mapping_resource_type.rb
Due: generate

Regenerate client from commit 73749e78 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/aws-integration/CreateAWSAccountv2.rb
  examples/v2/aws-integration/DeleteAWSAccountv2.rb
  examples/v2/aws-integration/GetAWSAccountv2.rb
  examples/v2/aws-integration/ListAWSAccountsv2.rb
  examples/v2/aws-integration/PatchAWSAccountv2.rb
  features/scenarios_model_mapping.rb
  features/v1/aws_integration.feature
  features/v1/aws_logs_integration.feature
  features/v2/aws_integration.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/aws_integration_api.rb
  lib/datadog_api_client/v2/models/aws_account.rb
  lib/datadog_api_client/v2/models/aws_account_attributes.rb
  lib/datadog_api_client/v2/models/aws_account_create.rb
  lib/datadog_api_client/v2/models/aws_account_create_attributes.rb
  lib/datadog_api_client/v2/models/aws_account_create_request.rb
  lib/datadog_api_client/v2/models/aws_account_patch.rb
  lib/datadog_api_client/v2/models/aws_account_patch_attributes.rb
  lib/datadog_api_client/v2/models/aws_account_patch_request.rb
  lib/datadog_api_client/v2/models/aws_account_response.rb
  lib/datadog_api_client/v2/models/aws_account_type.rb
  lib/datadog_api_client/v2/models/aws_accounts_response.rb
  lib/datadog_api_client/v2/models/aws_auth_config.rb
  lib/datadog_api_client/v2/models/aws_lambda_forwarder.rb
  lib/datadog_api_client/v2/models/aws_logs.rb
  lib/datadog_api_client/v2/models/aws_metrics.rb
  lib/datadog_api_client/v2/models/aws_namespace_tag_filter.rb
  lib/datadog_api_client/v2/models/aws_namespaces_list.rb
  lib/datadog_api_client/v2/models/aws_regions_list.rb
  lib/datadog_api_client/v2/models/aws_resources.rb
  lib/datadog_api_client/v2/models/aws_traces.rb
  lib/datadog_api_client/v2/models/awsx_ray_services_list.rb
Due: generate, format-examples

Regenerate client from commit 93296fc6 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/synthetics_test_options_monitor_options.rb
Due: generate

Regenerate client from commit 39ba1c0d of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/key-management/GetApplicationKey_1225400040.rb
  features/v2/key_management.feature
  lib/datadog_api_client/v2/api/key_management_api.rb
Due: generate, format-examples

Regenerate client from commit eaf0da43 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/monitors/Get-a-synthetics-monitor-s-details.frozen
  cassettes/features/v1/monitors/Get-a-synthetics-monitor-s-details.yml
  cassettes/features/v1/synthetics/Create-an-API-HTTP-test-has-bodyHash-filled-out.frozen
  cassettes/features/v1/synthetics/Create-an-API-HTTP-test-has-bodyHash-filled-out.yml
  cassettes/features/v1/synthetics/Create-an-API-HTTP-test-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-HTTP-test-returns-OK-Returns-the-created-test-details-response.yml
  cassettes/features/v1/synthetics/Edit-an-API-test-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Edit-an-API-test-returns-OK-response.yml
  cassettes/features/v1/synthetics/Patch-a-Synthetic-test-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Patch-a-Synthetic-test-returns-OK-response.yml
  cassettes/features/v1/synthetics/Trigger-Synthetic-tests-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Trigger-Synthetic-tests-returns-OK-response.yml
  examples/v1/synthetics/CreateSyntheticsAPITest_1987645492.rb
  features/v1/given.json
  features/v1/synthetics.feature
  features/v1/synthetics_api_http_test_payload.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/synthetics_assertion.rb
  lib/datadog_api_client/v1/models/synthetics_assertion_body_hash_operator.rb
  lib/datadog_api_client/v1/models/synthetics_assertion_body_hash_target.rb
  lib/datadog_api_client/v1/models/synthetics_assertion_body_hash_type.rb
Due: generate, format-examples

Regenerate client from commit cee92551 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/dora_incident_request_attributes.rb
Due: generate

Regenerate client from commit 71f2f0da of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/api-management/ListAPIs.rb
  features/scenarios_model_mapping.rb
  features/v2/api_management.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/api_management_api.rb
  lib/datadog_api_client/v2/models/list_ap_is_response.rb
  lib/datadog_api_client/v2/models/list_ap_is_response_data.rb
  lib/datadog_api_client/v2/models/list_ap_is_response_meta.rb
  lib/datadog_api_client/v2/models/list_ap_is_response_meta_pagination.rb
Due: generate, format-examples

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
