Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Support x-keep-typed-in-additional-properties in Ruby model generator
  .generator/src/generator/templates/model_generic.j2
Due: generate

fix: copy typed fields into additional_properties after coercion, not before
  .generator/src/generator/templates/model_generic.j2
Due: generate

Regenerate client from commit db16515 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/synthetics_test_options.rb
Due: generate

Regenerate client from commit ae77269 of spec repo
  .generator/schemas/v1/openapi.yaml
Due: generate

fix: copy typed fields to additional_properties in build_from_hash
  lib/datadog_api_client/v1/model_base.rb
  lib/datadog_api_client/v2/model_base.rb
Due: generate

Bump versions and add changelog entries.
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate

pin lib
  Gemfile
Due: none

pin lib (#3501)
  Gemfile
Due: none

Bump versions and add changelog entries. (#3502)
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit 6eb9bbe of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/aws_logs_integration_api.rb
Due: generate

Regenerate client from commit aa1e8de of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-a-live-default-timeframe-returns-OK-response.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-a-live-default-timeframe-returns-OK-response.yml
  examples/v1/dashboards/CreateDashboard_4032568083.rb
  features/v1/dashboards.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/dashboard.rb
  lib/datadog_api_client/v1/models/dashboard_default_timeframe_setting.rb
  lib/datadog_api_client/v1/models/dashboard_fixed_timeframe.rb
  lib/datadog_api_client/v1/models/dashboard_fixed_timeframe_type.rb
  lib/datadog_api_client/v1/models/dashboard_live_timeframe.rb
  lib/datadog_api_client/v1/models/dashboard_live_timeframe_type.rb
Due: generate, format-examples

Regenerate client from commit 3ceeb66 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Array-Map-Processor-returns-OK-response.frozen
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Array-Map-Processor-returns-OK-response.yml
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Array-Map-Processor-using-arithmetic-sub-processor-returns-OK-response.frozen
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Array-Map-Processor-using-arithmetic-sub-processor-returns-OK-response.yml
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Array-Map-Processor-using-category-sub-processor-returns-OK-response.frozen
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Array-Map-Processor-using-category-sub-processor-returns-OK-response.yml
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Array-Map-Processor-with-preserve-source-false-returns-OK-response.frozen
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Array-Map-Processor-with-preserve-source-false-returns-OK-response.yml
  examples/v1/logs-pipelines/CreateLogsPipeline_104735144.rb
  examples/v1/logs-pipelines/CreateLogsPipeline_1185292896.rb
  examples/v1/logs-pipelines/CreateLogsPipeline_2402034476.rb
  examples/v1/logs-pipelines/CreateLogsPipeline_3996915493.rb
  features/v1/logs_pipelines.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/logs_array_map_arithmetic_sub_processor.rb
  lib/datadog_api_client/v1/models/logs_array_map_attribute_remapper.rb
  lib/datadog_api_client/v1/models/logs_array_map_category_sub_processor.rb
  lib/datadog_api_client/v1/models/logs_array_map_processor.rb
  lib/datadog_api_client/v1/models/logs_array_map_processor_type.rb
  lib/datadog_api_client/v1/models/logs_array_map_string_builder_sub_processor.rb
  lib/datadog_api_client/v1/models/logs_array_map_sub_processor.rb
Due: generate, format-examples

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
