Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

Regenerate client from commit ee5e86e of spec repo
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateSyntheticsAPITest_1487281163.rb
  examples/v1/synthetics/CreateSyntheticsAPITest_1987645492.rb
  features/v1/given.json
  features/v1/synthetics.feature
  features/v1/synthetics_api_http_test_payload.json
  generated-test/test-runner-data/v1/synthetics/create-an-api-http-test-has-bodyhash-filled-out.json
  generated-test/test-runner-data/v1/synthetics/create-an-api-http-test-returns-ok-returns-the-created-test-details-response.json
  generated-test/test-server-data/v1/monitors.json
  generated-test/test-server-data/v1/synthetics.json
  lib/datadog_api_client/v1/models/synthetics_mobile_test_options.rb
  lib/datadog_api_client/v1/models/synthetics_test_options.rb
Due: generate, format-examples

Regenerate client from commit d5c2179 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/llm_obs_create_prompt_data_attributes.rb
  lib/datadog_api_client/v2/models/llm_obs_create_prompt_version_data_attributes.rb
  lib/datadog_api_client/v2/models/llm_obs_prompt_chat_template_item.rb
  lib/datadog_api_client/v2/models/llm_obs_prompt_message_placeholder.rb
  lib/datadog_api_client/v2/models/llm_obs_prompt_message_placeholder_type.rb
  lib/datadog_api_client/v2/models/llm_obs_prompt_sdk_data_attributes.rb
  lib/datadog_api_client/v2/models/llm_obs_prompt_version_data_attributes.rb
Due: generate

Regenerate client from commit f2e1f26 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/v2/roles.feature
  lib/datadog_api_client/v2/models/role_create_attributes.rb
  lib/datadog_api_client/v2/models/role_update_attributes.rb
Due: generate

Regenerate client from commit 2363562 of spec repo
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_1996494326.rb
  examples/v1/synthetics/CreateSyntheticsAPITest_1487281163.rb
  examples/v1/synthetics/CreateSyntheticsAPITest_1987645492.rb
  features/v1/dashboards.feature
  features/v1/given.json
  features/v1/synthetics.feature
  features/v1/synthetics_api_http_test_payload.json
  generated-test/test-runner-data/manifest.json
  generated-test/test-runner-data/v1/dashboards/create-a-new-dashboard-with-case-stream-list-stream-widget.json
  generated-test/test-runner-data/v1/synthetics/create-an-api-http-test-has-bodyhash-filled-out.json
  generated-test/test-runner-data/v1/synthetics/create-an-api-http-test-returns-ok-returns-the-created-test-details-response.json
  generated-test/test-server-data/v1/dashboards.json
  generated-test/test-server-data/v1/monitors.json
  generated-test/test-server-data/v1/synthetics.json
  lib/datadog_api_client/v1/models/list_stream_source.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_test_options.rb
  lib/datadog_api_client/v1/models/synthetics_test_options.rb
Due: generate, format-examples

Regenerate client from commit 6830898 of spec repo
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateSyntheticsAPITest_1487281163.rb
  examples/v1/synthetics/CreateSyntheticsAPITest_1987645492.rb
  features/v1/given.json
  features/v1/synthetics.feature
  features/v1/synthetics_api_http_test_payload.json
  generated-test/test-runner-data/v1/synthetics/create-an-api-http-test-has-bodyhash-filled-out.json
  generated-test/test-runner-data/v1/synthetics/create-an-api-http-test-returns-ok-returns-the-created-test-details-response.json
  generated-test/test-server-data/v1/monitors.json
  generated-test/test-server-data/v1/synthetics.json
  lib/datadog_api_client/v1/models/synthetics_mobile_test_options.rb
  lib/datadog_api_client/v1/models/synthetics_test_options.rb
Due: generate, format-examples

Regenerate client from commit b0ede7c of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/table_row_resource_array_meta.rb
Due: generate

Regenerate client from commit 6261ff4 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/observability-pipelines/ValidatePipeline_1795564228.rb
  examples/v2/observability-pipelines/ValidatePipeline_4239139905.rb
  features/v2/observability_pipelines.feature
  generated-test/test-runner-data/manifest.json
  generated-test/test-runner-data/v2/observability-pipelines/validate-a-metrics-pipeline-with-enrichment-table-processor-file-lookup-returns-ok-response.json
  generated-test/test-runner-data/v2/observability-pipelines/validate-a-metrics-pipeline-with-enrichment-table-processor-reference-table-returns-ok-response.json
  generated-test/test-server-data/v2/observability-pipelines.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/observability_pipeline_metric_enrichment_table_file.rb
  lib/datadog_api_client/v2/models/observability_pipeline_metric_enrichment_table_file_key.rb
  lib/datadog_api_client/v2/models/observability_pipeline_metric_enrichment_table_file_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_metric_enrichment_table_lookup_source.rb
  lib/datadog_api_client/v2/models/observability_pipeline_metric_enrichment_table_metric_name_lookup.rb
  lib/datadog_api_client/v2/models/observability_pipeline_metric_enrichment_table_metric_name_lookup_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_metric_enrichment_table_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_metric_enrichment_table_reference_key.rb
  lib/datadog_api_client/v2/models/observability_pipeline_metric_enrichment_table_reference_table.rb
  lib/datadog_api_client/v2/models/observability_pipeline_metric_enrichment_table_reference_table_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_metric_enrichment_table_tag_lookup.rb
  lib/datadog_api_client/v2/models/observability_pipeline_metric_enrichment_table_tag_lookup_type.rb
Due: generate, format-examples

Regenerate client from commit c68e14e of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/rum-operations/CreateRUMOperationStrongLink.rb
  examples/v2/rum-operations/DeleteRUMOperationStrongLink.rb
  examples/v2/rum-operations/ListRUMOperationStrongLinks.rb
  examples/v2/rum-operations/UpdateRUMOperationStrongLink.rb
  features/v2/rum_operations.feature
  lib/datadog_api_client/v2/api/rum_operations_api.rb
  lib/datadog_api_client/v2/models/rum_operation_request_attributes.rb
  lib/datadog_api_client/v2/models/rum_operation_response_attributes.rb
  lib/datadog_api_client/v2/models/rum_operation_strong_link_create_request.rb
  lib/datadog_api_client/v2/models/rum_operation_strong_link_create_request_attributes.rb
  lib/datadog_api_client/v2/models/rum_operation_strong_link_create_request_data.rb
  lib/datadog_api_client/v2/models/rum_operation_strong_link_response.rb
  lib/datadog_api_client/v2/models/rum_operation_strong_link_response_attributes.rb
  lib/datadog_api_client/v2/models/rum_operation_strong_link_response_data.rb
  lib/datadog_api_client/v2/models/rum_operation_strong_link_status.rb
  lib/datadog_api_client/v2/models/rum_operation_strong_link_type.rb
  lib/datadog_api_client/v2/models/rum_operation_strong_link_update_request.rb
  lib/datadog_api_client/v2/models/rum_operation_strong_link_update_request_attributes.rb
  lib/datadog_api_client/v2/models/rum_operation_strong_link_update_request_data.rb
  lib/datadog_api_client/v2/models/rum_operation_strong_link_update_status.rb
  lib/datadog_api_client/v2/models/rum_operation_strong_links_list_response.rb
  lib/datadog_api_client/v2/models/rum_operation_strong_links_list_response_meta.rb
Due: generate, format-examples

ci: report generated PR status to ddoghq
  .github/workflows/approved_status.yml
  .github/workflows/reusable-integration-test.yml
  .github/workflows/test.yml
Due: none

Regenerate client from commit 67021fe of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/data_deletion_response_item_attributes.rb
Due: generate

Regenerate client from commit 0b803b8 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/logs-archive-searches/CreateArchiveSearch.rb
  examples/v2/logs-archive-searches/GetArchiveSearch.rb
  features/scenarios_model_mapping.rb
  features/v2/logs_archive_searches.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/logs_archive_searches_api.rb
  lib/datadog_api_client/v2/models/archive_search_create_rehydration.rb
  lib/datadog_api_client/v2/models/archive_search_create_request.rb
  lib/datadog_api_client/v2/models/archive_search_create_request_attributes.rb
  lib/datadog_api_client/v2/models/archive_search_create_request_data.rb
  lib/datadog_api_client/v2/models/archive_search_rehydration.rb
  lib/datadog_api_client/v2/models/archive_search_rehydration_tier.rb
  lib/datadog_api_client/v2/models/archive_search_response.rb
  lib/datadog_api_client/v2/models/archive_search_response_attributes.rb
  lib/datadog_api_client/v2/models/archive_search_response_data.rb
  lib/datadog_api_client/v2/models/archive_search_status.rb
  lib/datadog_api_client/v2/models/archive_search_type.rb
Due: generate, format-examples

Regenerate client from commit 0e116ca of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-cost-management/SearchCostRecommendations.rb
  features/v2/cloud_cost_management.feature
  lib/datadog_api_client/v2/models/recommendations_filter_request_data.rb
  lib/datadog_api_client/v2/models/recommendations_filter_request_data_attributes.rb
  lib/datadog_api_client/v2/models/recommendations_filter_request_sort_items.rb
Due: generate, format-examples

Regenerate client from commit e4afd88 of spec repo
  .generator/schemas/v1/openapi.yaml
  features/v1/dashboards.feature
  generated-test/test-server-data/v1/dashboards.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/dashboard.rb
  lib/datadog_api_client/v1/models/dashboard_experience_type.rb
Due: generate

Regenerate client from commit f2f1df9 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/usage-metering/CreateQuotas.rb
  examples/v2/usage-metering/DeletePendingQuota.rb
  examples/v2/usage-metering/DeleteQuota.rb
  examples/v2/usage-metering/UpdateQuota.rb
  features/scenarios_model_mapping.rb
  features/v2/undo.json
  features/v2/usage_metering.feature
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/usage_metering_api.rb
  lib/datadog_api_client/v2/models/usage_quota_bulk_result_attributes.rb
  lib/datadog_api_client/v2/models/usage_quota_bulk_result_data.rb
  lib/datadog_api_client/v2/models/usage_quota_create_attributes.rb
  lib/datadog_api_client/v2/models/usage_quota_create_data.rb
  lib/datadog_api_client/v2/models/usage_quota_response_attributes.rb
  lib/datadog_api_client/v2/models/usage_quota_update_attributes.rb
  lib/datadog_api_client/v2/models/usage_quota_update_data.rb
Due: generate, format-examples

Regenerate client from commit ce955bc of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/rum-insights/QueryAggregatedSignalsProblems.rb
  features/scenarios_model_mapping.rb
  features/v2/rum_insights.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/rum_insights_api.rb
  lib/datadog_api_client/v2/models/aggregated_high_frozen_frame_rate.rb
  lib/datadog_api_client/v2/models/aggregated_high_script_eval.rb
  lib/datadog_api_client/v2/models/aggregated_low_cache_hit_rate.rb
  lib/datadog_api_client/v2/models/aggregated_mobile_scroll_friction.rb
  lib/datadog_api_client/v2/models/aggregated_signals_problems_request.rb
  lib/datadog_api_client/v2/models/aggregated_signals_problems_request_attributes.rb
  lib/datadog_api_client/v2/models/aggregated_signals_problems_request_data.rb
  lib/datadog_api_client/v2/models/aggregated_signals_problems_request_type.rb
  lib/datadog_api_client/v2/models/aggregated_signals_problems_response.rb
  lib/datadog_api_client/v2/models/aggregated_signals_problems_response_attributes.rb
  lib/datadog_api_client/v2/models/aggregated_signals_problems_response_data.rb
  lib/datadog_api_client/v2/models/aggregated_slow_fcp_high_bytes.rb
  lib/datadog_api_client/v2/models/aggregated_slow_interaction_long_task.rb
  lib/datadog_api_client/v2/models/aggregated_uncompressed_resource.rb
  lib/datadog_api_client/v2/models/signals_problems_detections.rb
  lib/datadog_api_client/v2/models/signals_problems_sample_metadata.rb
Due: generate, format-examples

Regenerate client from commit f33587c of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/team_notification_rule_attributes.rb
  lib/datadog_api_client/v2/models/team_notification_rule_attributes_service_now.rb
Due: generate

Regenerate client from commit e04637e of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/security_monitoring_signal_rule_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_response.rb
Due: generate

Regenerate client from commit 5080016 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/ci-visibility-logs/SubmitCILog.rb
  examples/v2/ci-visibility-logs/SubmitCILog_1818302850.rb
  examples/v2/ci-visibility-logs/SubmitCILog_4195490686.rb
  features/scenarios_model_mapping.rb
  features/v2/ci_visibility_logs.feature
  features/v2/undo.json
  generated-test/test-runner-data/manifest.json
  generated-test/test-runner-data/v2/ci-visibility-logs/send-batched-ci-job-logs-returns-request-accepted-for-processing-response.json
  generated-test/test-runner-data/v2/ci-visibility-logs/send-one-ci-job-log-returns-request-accepted-for-processing-response.json
  generated-test/test-server-data/manifest.json
  generated-test/test-server-data/v2/ci-visibility-logs.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/ci_visibility_logs_api.rb
  lib/datadog_api_client/v2/models/ci_log_attribute_value.rb
  lib/datadog_api_client/v2/models/ci_log_content_encoding.rb
  lib/datadog_api_client/v2/models/ci_log_errors.rb
  lib/datadog_api_client/v2/models/ci_log_intake_error.rb
  lib/datadog_api_client/v2/models/ci_log_intake_errors.rb
  lib/datadog_api_client/v2/models/ci_log_item.rb
Due: generate, format-examples

Regenerate client from commit caffa6f of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/sca_request_data_attributes_dependencies_items.rb
Due: generate

Regenerate client from commit 1c21cd5 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/csm-threats/CreateCSMThreatsAgentPolicy.rb
  examples/v2/csm-threats/UpdateCSMThreatsAgentPolicy.rb
  features/v2/csm_threats.feature
  features/v2/given.json
  generated-test/test-runner-data/manifest.json
  generated-test/test-runner-data/v2/csm-threats/create-a-workload-protection-policy-returns-created-response.json
  generated-test/test-runner-data/v2/csm-threats/update-a-workload-protection-policy-returns-ok-response.json
  generated-test/test-server-data/v2/csm-threats.json
Due: generate, format-examples

Regenerate client from commit b1d0846 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/dora-metrics/PatchDORADeploymentByVersion.rb
  features/v2/dora_metrics.feature
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/dora_metrics_api.rb
Due: generate, format-examples

Regenerate client from commit 841710f of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/dora-metrics/PatchDORADeployment.rb
  features/v2/dora_metrics.feature
  generated-test/test-server-data/v2/dora-metrics.json
  lib/datadog_api_client/v2/api/dora_metrics_api.rb
Due: generate, format-examples

Regenerate client from commit c7c1fad of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/spa/GetSPARecommendationsV2.rb
  features/scenarios_model_mapping.rb
  features/v2/spa.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/spa_api.rb
  lib/datadog_api_client/v2/models/recommendation_v2_request_attributes.rb
  lib/datadog_api_client/v2/models/recommendation_v2_request_body.rb
  lib/datadog_api_client/v2/models/recommendation_v2_request_data.rb
  lib/datadog_api_client/v2/models/recommendation_v2_request_type.rb
Due: generate, format-examples

Regenerate client from commit 6242232 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/v2/logs_archive_searches.feature
Due: generate

Regenerate client from commit dc2c4b0 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/ai-impact/CreateAIImpactUserActivity.rb
  features/scenarios_model_mapping.rb
  features/v2/ai_impact.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/ai_impact_api.rb
  lib/datadog_api_client/v2/models/ai_impact_user_activity_attributes.rb
  lib/datadog_api_client/v2/models/ai_impact_user_activity_data.rb
  lib/datadog_api_client/v2/models/ai_impact_user_activity_request.rb
  lib/datadog_api_client/v2/models/ai_impact_user_activity_type.rb
Due: generate, format-examples

Regenerate client from commit f6bc4f1 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/salesforce_integration_api.rb
Due: generate

Regenerate client from commit 3ff9804 of spec repo
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateGlobalVariable_2215516655.rb
  features/v1/synthetics.feature
  lib/datadog_api_client/v1/models/synthetics_global_variable.rb
  lib/datadog_api_client/v1/models/synthetics_global_variable_request.rb
Due: generate, format-examples

ci: report generated PR status to ddoghq (#3894)
  .github/workflows/approved_status.yml
  .github/workflows/reusable-integration-test.yml
  .github/workflows/test.yml
Due: none

Regenerate client from commit 8b09b8b of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/org-groups/BulkDeleteOrgGroupMemberships.rb
  examples/v2/org-groups/CreateOrgGroupMemberships.rb
  examples/v2/org-groups/DeleteOrgGroupMembership.rb
  features/scenarios_model_mapping.rb
  features/v2/org_groups.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/org_groups_api.rb
  lib/datadog_api_client/v2/models/org_group_membership_bulk_delete_request.rb
  lib/datadog_api_client/v2/models/org_group_membership_bulk_delete_request_data.rb
  lib/datadog_api_client/v2/models/org_group_membership_create_attributes.rb
  lib/datadog_api_client/v2/models/org_group_membership_create_data.rb
  lib/datadog_api_client/v2/models/org_group_membership_create_relationships.rb
  lib/datadog_api_client/v2/models/org_group_membership_create_request.rb
Due: generate, format-examples

Regenerate client from commit 008159b of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/teams/ListTeams_3712027764.rb
  examples/v2/teams/ListTeams_4010677014.rb
  features/v2/teams.feature
  lib/datadog_api_client/v2/api/teams_api.rb
Due: generate, format-examples

Regenerate client from commit 46c1a63 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/ci-visibility-logs/SubmitCILog.rb
  examples/v2/ci-visibility-logs/SubmitCILog_1818302850.rb
  examples/v2/ci-visibility-logs/SubmitCILog_4195490686.rb
  features/scenarios_model_mapping.rb
  features/v2/ci_visibility_logs.feature
  features/v2/undo.json
  generated-test/test-runner-data/manifest.json
  generated-test/test-runner-data/v2/ci-visibility-logs/send-batched-ci-job-logs-returns-request-accepted-for-processing-response.json
  generated-test/test-runner-data/v2/ci-visibility-logs/send-one-ci-job-log-returns-request-accepted-for-processing-response.json
  generated-test/test-server-data/manifest.json
  generated-test/test-server-data/v2/ci-visibility-logs.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/ci_visibility_logs_api.rb
  lib/datadog_api_client/v2/models/ci_log_attribute_value.rb
  lib/datadog_api_client/v2/models/ci_log_content_encoding.rb
  lib/datadog_api_client/v2/models/ci_log_errors.rb
  lib/datadog_api_client/v2/models/ci_log_intake_error.rb
  lib/datadog_api_client/v2/models/ci_log_intake_errors.rb
  lib/datadog_api_client/v2/models/ci_log_item.rb
Due: generate, format-examples

Regenerate client from commit 7d68783 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/dora-metrics/PatchDORADeploymentByVersion.rb
  features/v2/dora_metrics.feature
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/dora_metrics_api.rb
Due: generate, format-examples

Regenerate client from commit b330a66 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-cost-management/ListCostCloudAccountsV2.rb
  examples/v2/cloud-cost-management/ListCostCloudAccountsV2_1125785160.rb
  examples/v2/cloud-cost-management/ListCostCloudAccountsV2_1976704126.rb
  examples/v2/cloud-cost-management/ListCostCloudAccountsV2_3127976520.rb
  examples/v2/cloud-cost-management/ListCostCloudAccountsV2_3442024574.rb
  examples/v2/cloud-cost-management/ListCostCloudAccountsV2_420814529.rb
  features/scenarios_model_mapping.rb
  features/v2/cloud_cost_management.feature
  features/v2/undo.json
  generated-test/test-runner-data/manifest.json
  generated-test/test-runner-data/v2/cloud-cost-management/list-cloud-cost-management-cloud-accounts-returns-bad-request-response.json
  generated-test/test-runner-data/v2/cloud-cost-management/list-cloud-cost-management-cloud-accounts-returns-ok-response.json
  generated-test/test-runner-data/v2/cloud-cost-management/list-cloud-cost-management-cloud-accounts-with-an-empty-filter-returns-ok-response.json
  generated-test/test-runner-data/v2/cloud-cost-management/list-cloud-cost-management-cloud-accounts-with-aws-cur-2-0-filter-returns-ok-response.json
  generated-test/test-runner-data/v2/cloud-cost-management/list-cloud-cost-management-cloud-accounts-with-mixed-case-aws-cur-2-0-filter-returns-ok-response.json
  generated-test/test-runner-data/v2/cloud-cost-management/list-cloud-cost-management-cloud-accounts-with-mixed-case-oci-filter-returns-ok-response.json
  generated-test/test-runner-data/v2/cloud-cost-management/list-cloud-cost-management-cloud-accounts-with-oci-filter-returns-ok-response.json
  generated-test/test-server-data/v2/cloud-cost-management.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/cloud_cost_management_api.rb
  lib/datadog_api_client/v2/models/cloud_cost_account.rb
  lib/datadog_api_client/v2/models/cloud_cost_account_attributes.rb
  lib/datadog_api_client/v2/models/cloud_cost_account_type.rb
  lib/datadog_api_client/v2/models/cloud_cost_accounts_response.rb
Due: generate, format-examples

Regenerate client from commit 2c39d5b of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/network-health-insights/ListNetworkHealthInsights.rb
  features/scenarios_model_mapping.rb
  features/v2/network_health_insights.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/network_health_insights_api.rb
  lib/datadog_api_client/v2/models/network_health_insight.rb
  lib/datadog_api_client/v2/models/network_health_insight_attributes.rb
  lib/datadog_api_client/v2/models/network_health_insight_category.rb
  lib/datadog_api_client/v2/models/network_health_insight_failure_type.rb
  lib/datadog_api_client/v2/models/network_health_insight_traffic_volume.rb
  lib/datadog_api_client/v2/models/network_health_insights_response.rb
  lib/datadog_api_client/v2/models/network_health_insights_type.rb
Due: generate, format-examples

Regenerate client from commit 2c8a876 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/bits-ai/GetMonitorAutomation.rb
  examples/v2/bits-ai/GetMonitorAutomation_1312691475.rb
  examples/v2/bits-ai/UpdateMonitorAutomation.rb
  examples/v2/bits-ai/UpdateMonitorAutomation_2360742230.rb
  examples/v2/bits-ai/UpdateMonitorAutomation_2686390723.rb
  features/scenarios_model_mapping.rb
  features/v2/bits_ai.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/bits_ai_api.rb
  lib/datadog_api_client/v2/models/monitor_automation_attributes.rb
  lib/datadog_api_client/v2/models/monitor_automation_data.rb
  lib/datadog_api_client/v2/models/monitor_automation_request.rb
  lib/datadog_api_client/v2/models/monitor_automation_request_data.rb
  lib/datadog_api_client/v2/models/monitor_automation_response.rb
  lib/datadog_api_client/v2/models/monitor_automation_type.rb
Due: generate, format-examples
