Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

Regenerate client from commit 3e79118 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/bits-ai/GetInvestigation.rb
  examples/v2/bits-ai/ListInvestigations.rb
  examples/v2/bits-ai/ListInvestigations_130750454.rb
  examples/v2/bits-ai/TriggerInvestigation.rb
  examples/v2/test-optimization/GetFlakyTestsManagementPolicies.rb
  examples/v2/test-optimization/UpdateFlakyTestsManagementPolicies.rb
  features/scenarios_model_mapping.rb
  features/v2/bits_ai.feature
  features/v2/test_optimization.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/bits_ai_api.rb
  lib/datadog_api_client/v2/api/test_optimization_api.rb
  lib/datadog_api_client/v2/models/get_investigation_response.rb
  lib/datadog_api_client/v2/models/get_investigation_response_data.rb
  lib/datadog_api_client/v2/models/get_investigation_response_data_attributes.rb
  lib/datadog_api_client/v2/models/get_investigation_response_links.rb
  lib/datadog_api_client/v2/models/investigation_conclusion.rb
  lib/datadog_api_client/v2/models/investigation_type.rb
  lib/datadog_api_client/v2/models/list_investigations_response.rb
  lib/datadog_api_client/v2/models/list_investigations_response_data.rb
  lib/datadog_api_client/v2/models/list_investigations_response_data_attributes.rb
  lib/datadog_api_client/v2/models/list_investigations_response_links.rb
  lib/datadog_api_client/v2/models/list_investigations_response_meta.rb
  lib/datadog_api_client/v2/models/list_investigations_response_meta_page.rb
  lib/datadog_api_client/v2/models/monitor_alert_trigger_attributes.rb
  lib/datadog_api_client/v2/models/trigger_attributes.rb
  lib/datadog_api_client/v2/models/trigger_investigation_request.rb
  lib/datadog_api_client/v2/models/trigger_investigation_request_data.rb
  lib/datadog_api_client/v2/models/trigger_investigation_request_data_attributes.rb
  lib/datadog_api_client/v2/models/trigger_investigation_request_type.rb
  lib/datadog_api_client/v2/models/trigger_investigation_response.rb
  lib/datadog_api_client/v2/models/trigger_investigation_response_data.rb
  lib/datadog_api_client/v2/models/trigger_investigation_response_data_attributes.rb
  lib/datadog_api_client/v2/models/trigger_investigation_response_type.rb
  lib/datadog_api_client/v2/models/trigger_type.rb
Due: generate, format-examples

Regenerate client from commit c4a3f00 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/test-optimization/GetFlakyTestsManagementPolicies.rb
  examples/v2/test-optimization/UpdateFlakyTestsManagementPolicies.rb
  features/scenarios_model_mapping.rb
  features/v2/test_optimization.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/test_optimization_api.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_attempt_to_fix.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_attributes.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_auto_disable_rule.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_auto_quarantine_rule.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_branch_rule.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_data.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_disabled.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_disabled_failure_rate_rule.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_disabled_status.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_get_request.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_get_request_attributes.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_get_request_data.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_quarantined.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_quarantined_failure_rate_rule.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_response.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_type.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_update_request.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_update_request_attributes.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_update_request_data.rb
  lib/datadog_api_client/v2/models/test_optimization_get_flaky_tests_management_policies_request_data_type.rb
  lib/datadog_api_client/v2/models/test_optimization_update_flaky_tests_management_policies_request_data_type.rb
Due: generate, format-examples

Regenerate client from commit 2238742 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit f4e1087 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/logs_custom_destinations/Create-a-Splunk-custom-destination-with-a-null-sourcetype-returns-OK-response.frozen
  cassettes/features/v2/logs_custom_destinations/Create-a-Splunk-custom-destination-with-a-null-sourcetype-returns-OK-response.yml
  cassettes/features/v2/logs_custom_destinations/Create-a-Splunk-custom-destination-with-a-sourcetype-returns-OK-response.frozen
  cassettes/features/v2/logs_custom_destinations/Create-a-Splunk-custom-destination-with-a-sourcetype-returns-OK-response.yml
  cassettes/features/v2/logs_custom_destinations/Create-a-Splunk-custom-destination-with-an-empty-string-sourcetype-returns-OK-response.frozen
  cassettes/features/v2/logs_custom_destinations/Create-a-Splunk-custom-destination-with-an-empty-string-sourcetype-returns-OK-response.yml
  cassettes/features/v2/logs_custom_destinations/Create-a-Splunk-custom-destination-with-an-invalid-sourcetype-returns-Bad-Request-response.frozen
  cassettes/features/v2/logs_custom_destinations/Create-a-Splunk-custom-destination-with-an-invalid-sourcetype-returns-Bad-Request-response.yml
  cassettes/features/v2/logs_custom_destinations/Create-a-Splunk-custom-destination-without-a-sourcetype-returns-OK-response.frozen
  cassettes/features/v2/logs_custom_destinations/Create-a-Splunk-custom-destination-without-a-sourcetype-returns-OK-response.yml
  cassettes/features/v2/logs_custom_destinations/Update-a-Splunk-custom-destination-s-attributes-preserves-the-absent-sourcetype-returns-OK-response.frozen
  cassettes/features/v2/logs_custom_destinations/Update-a-Splunk-custom-destination-s-attributes-preserves-the-absent-sourcetype-returns-OK-response.yml
  cassettes/features/v2/logs_custom_destinations/Update-a-Splunk-custom-destination-s-destination-preserves-the-null-sourcetype-returns-OK-response.frozen
  cassettes/features/v2/logs_custom_destinations/Update-a-Splunk-custom-destination-s-destination-preserves-the-null-sourcetype-returns-OK-response.yml
  cassettes/features/v2/logs_custom_destinations/Update-a-Splunk-custom-destination-s-destination-preserves-the-sourcetype-returns-OK-response.frozen
  cassettes/features/v2/logs_custom_destinations/Update-a-Splunk-custom-destination-s-destination-preserves-the-sourcetype-returns-OK-response.yml
  cassettes/features/v2/logs_custom_destinations/Update-a-Splunk-custom-destination-with-a-null-sourcetype-returns-OK-response.frozen
  cassettes/features/v2/logs_custom_destinations/Update-a-Splunk-custom-destination-with-a-null-sourcetype-returns-OK-response.yml
  cassettes/features/v2/logs_custom_destinations/Update-a-Splunk-custom-destination-with-a-sourcetype-returns-OK-response.frozen
  cassettes/features/v2/logs_custom_destinations/Update-a-Splunk-custom-destination-with-a-sourcetype-returns-OK-response.yml
  examples/v2/logs-custom-destinations/CreateLogsCustomDestination_140188544.rb
  examples/v2/logs-custom-destinations/CreateLogsCustomDestination_1718754520.rb
  examples/v2/logs-custom-destinations/CreateLogsCustomDestination_2534546779.rb
  examples/v2/logs-custom-destinations/CreateLogsCustomDestination_3120242932.rb
  examples/v2/logs-custom-destinations/UpdateLogsCustomDestination_2034509257.rb
  examples/v2/logs-custom-destinations/UpdateLogsCustomDestination_213195663.rb
  examples/v2/logs-custom-destinations/UpdateLogsCustomDestination_2612469098.rb
  examples/v2/logs-custom-destinations/UpdateLogsCustomDestination_2701272624.rb
  examples/v2/logs-custom-destinations/UpdateLogsCustomDestination_3227001838.rb
  features/v2/given.json
  features/v2/logs_custom_destinations.feature
  lib/datadog_api_client/v2/models/custom_destination_forward_destination_splunk.rb
  lib/datadog_api_client/v2/models/custom_destination_response_forward_destination_splunk.rb
Due: generate, format-examples

Regenerate client from commit b130887 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/security_monitoring_standard_data_source.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_query.rb
  lib/datadog_api_client/v2/models/threat_hunting_job_query.rb
Due: generate

Regenerate client from commit 29fa400 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/observability_pipeline_parse_grok_processor_rule.rb
Due: generate

Regenerate client from commit a93c9a1 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/observability_pipeline_config.rb
Due: generate

Regenerate client from commit 17aa8b0 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/v2/api/cloud_cost_management_api.rb
  lib/datadog_api_client/v2/models/custom_cost_list_response_meta.rb
Due: generate

Regenerate client from commit b878fc2 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/v2/api/status_pages_api.rb
Due: generate

Regenerate client from commit a8278b6 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-scatterplot-widget.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-scatterplot-widget.yml
  examples/v1/dashboards/CreateDashboard_2342457693.rb
  features/v1/dashboards.feature
  features/v1/dashboards_json_payload/scatterplot_widget.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/scatterplot_data_projection_dimension.rb
  lib/datadog_api_client/v1/models/scatterplot_data_projection_projection.rb
  lib/datadog_api_client/v1/models/scatterplot_data_projection_projection_type.rb
  lib/datadog_api_client/v1/models/scatterplot_data_projection_query.rb
  lib/datadog_api_client/v1/models/scatterplot_data_projection_query_storage.rb
  lib/datadog_api_client/v1/models/scatterplot_table_request.rb
  lib/datadog_api_client/v1/models/scatterplot_table_request_type.rb
Due: generate, format-examples

Regenerate client from commit e91e9c1 of spec repo
  features/v2/ip_allowlist.feature
  features/v2/roles.feature
Due: none
