Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

Regenerate client from commit 79101cb of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-cost-management/UpsertBudget.rb
  features/v2/cloud_cost_management.feature
  lib/datadog_api_client/v2/models/budget_attributes_costs_unit.rb
Due: generate, format-examples

Regenerate client from commit 4e30fb0 of spec repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 01df309 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/oci-integration/CreateTenancyConfig.rb
  examples/v2/oci-integration/GetTenancyConfigs.rb
  features/v2/oci_integration.feature
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/oci_integration_api.rb
Due: generate, format-examples

Regenerate client from commit b241667 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/o_auth2_client_public_api.rb
  lib/datadog_api_client/v2/models/oidc_discovery_document.rb
Due: generate

Regenerate client from commit 41af64d of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-cost-management/UpsertBudget.rb
  features/v2/cloud_cost_management.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/budget_with_entries_meta.rb
Due: generate, format-examples

Regenerate client from commit 5ab3bad of spec repo
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 1fa4f2f of spec repo
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit ba3b721 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/workflow-automation/CreateWorkflow.rb
  examples/v2/workflow-automation/UpdateWorkflow.rb
  features/v2/workflow_automation.feature
  generated-test/test-runner-data/v2/workflow-automation/create-a-workflow-returns-successfully-created-a-workflow-response.json
  generated-test/test-runner-data/v2/workflow-automation/update-an-existing-workflow-returns-successfully-updated-a-workflow-response.json
  generated-test/test-server-data/v2/workflow-automation.json
  lib/datadog_api_client/v2/models/workflow_data_attributes.rb
  lib/datadog_api_client/v2/models/workflow_data_update_attributes.rb
  lib/datadog_api_client/v2/models/workflow_list_item_attributes.rb
Due: generate, format-examples

Regenerate client from commit 662b379 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/teams_api.rb
Due: generate

Regenerate client from commit 02c568f of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-cost-management/UpsertBudget.rb
  features/v2/cloud_cost_management.feature
  lib/datadog_api_client/v2/models/budget_attributes_costs_unit.rb
Due: generate, format-examples

Regenerate client from commit 69f86c7 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/teams_api.rb
Due: generate

Regenerate client from commit 8bddd20 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-cost-management/UpsertBudget.rb
  features/v2/cloud_cost_management.feature
  lib/datadog_api_client/v2/models/budget_attributes.rb
Due: generate, format-examples

Regenerate client from commit 93c07d3 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-cost-management/UpsertBudget.rb
  features/v2/cloud_cost_management.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/budget_attributes.rb
  lib/datadog_api_client/v2/models/budget_with_entries_meta.rb
Due: generate, format-examples

Regenerate client from commit 96c58f8 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/embedded_app_widget_definition.rb
  lib/datadog_api_client/v1/models/embedded_app_widget_definition_type.rb
  lib/datadog_api_client/v1/models/embedded_app_widget_input.rb
  lib/datadog_api_client/v1/models/widget_definition.rb
Due: generate

Regenerate client from commit fded47e of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/security_entity_risk_score_attributes.rb
Due: generate

Regenerate client from commit 7ba0e17 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/full_api_key_attributes.rb
  lib/datadog_api_client/v2/models/partial_api_key_attributes.rb
Due: generate

Regenerate client from commit ee2f8d4 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/downtimes_api.rb
  lib/datadog_api_client/v2/models/downtime_response_attributes.rb
  lib/datadog_api_client/v2/models/downtime_run_as_item.rb
  lib/datadog_api_client/v2/models/downtime_run_as_principal.rb
  lib/datadog_api_client/v2/models/downtime_run_as_principal_type.rb
Due: generate

ci: trust datadog-api-spec workflows via Octo STS
  .github/chainguard/datadog-api-spec.github.cache-builder.sts.yaml
  .github/chainguard/datadog-api-spec.github.ci-cd.detect-client-changes.sts.yaml
  .github/chainguard/datadog-api-spec.github.ci-cd.pipeline-generate.sts.yaml
  .github/chainguard/datadog-api-spec.github.merged.cleanup.sts.yaml
Due: none

Regenerate client from commit bfbfb7d of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/teams_api.rb
Due: generate

ci: constrain token policies to master PRs
  .github/chainguard/datadog-api-spec.github.ci-cd.detect-client-changes.sts.yaml
  .github/chainguard/datadog-api-spec.github.ci-cd.pipeline-generate.sts.yaml
  .github/chainguard/datadog-api-spec.github.merged.cleanup.sts.yaml
Due: none

ci: limit token policies to ci-cd
  .github/chainguard/datadog-api-spec.github.cache-builder.sts.yaml
  .github/chainguard/datadog-api-spec.github.merged.cleanup.sts.yaml
Due: none

ci: support current and post-migration sources
  .github/chainguard/datadog-api-spec.github.ci-cd.detect-client-changes.ddoghq.sts.yaml
  .github/chainguard/datadog-api-spec.github.ci-cd.detect-client-changes.sts.yaml
  .github/chainguard/datadog-api-spec.github.ci-cd.pipeline-generate.ddoghq.sts.yaml
  .github/chainguard/datadog-api-spec.github.ci-cd.pipeline-generate.sts.yaml
Due: none

ci: trust datadog-api-spec ci-cd via Octo STS (#3828)
  .github/chainguard/datadog-api-spec.github.ci-cd.detect-client-changes.ddoghq.sts.yaml
  .github/chainguard/datadog-api-spec.github.ci-cd.detect-client-changes.sts.yaml
  .github/chainguard/datadog-api-spec.github.ci-cd.pipeline-generate.ddoghq.sts.yaml
  .github/chainguard/datadog-api-spec.github.ci-cd.pipeline-generate.sts.yaml
Due: none

Regenerate client from commit c0f313d of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/ip_ranges_api.rb
Due: generate

Support request compression test step
  features/step_definitions/request.rb
Due: none

Apply generated request compression
  features/support/test_runner.rb
Due: none

Regenerate client from commit 45b46d0 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-cost-management/SearchCostRecommendations.rb
  features/v2/cloud_cost_management.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/recommendations_filter_request_data.rb
  lib/datadog_api_client/v2/models/recommendations_filter_request_data_attributes.rb
  lib/datadog_api_client/v2/models/recommendations_filter_request_data_type.rb
Due: generate, format-examples

Regenerate client from commit 5b48448 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/bits-ai/TriggerInvestigation.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/bits_ai_api.rb
  lib/datadog_api_client/v2/models/general_investigation_attributes.rb
  lib/datadog_api_client/v2/models/general_investigation_attributes_with_time_bounds.rb
  lib/datadog_api_client/v2/models/general_investigation_attributes_without_time_bounds.rb
  lib/datadog_api_client/v2/models/general_investigation_trigger.rb
  lib/datadog_api_client/v2/models/general_investigation_trigger_type.rb
  lib/datadog_api_client/v2/models/monitor_alert_trigger.rb
  lib/datadog_api_client/v2/models/monitor_alert_trigger_type.rb
Due: generate, format-examples

Regenerate client from commit 49e5302 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/usage_metering_api.rb
Due: generate

Regenerate client from commit a452a54 of spec repo
  examples/v2/metrics/CreateTagIndexingRule.rb
  examples/v2/metrics/UpdateTagIndexingRule.rb
  features/v2/metrics.feature
  generated-test/test-runner-data/v2/metrics/create-a-tag-indexing-rule-returns-created-response.json
  generated-test/test-runner-data/v2/metrics/update-a-tag-indexing-rule-returns-bad-request-response.json
  generated-test/test-runner-data/v2/metrics/update-a-tag-indexing-rule-returns-not-found-response.json
  generated-test/test-runner-data/v2/metrics/update-a-tag-indexing-rule-returns-ok-response.json
Due: format-examples

Regenerate client from commit 60c67b3 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/teams_api.rb
Due: generate

Support explicit compression selection
  features/step_definitions/request.rb
  features/support/test_runner.rb
Due: none

Regenerate client from commit 57b70f0 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/downtimes_api.rb
Due: generate
