Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Regenerate client from commit 9fb9d74 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/synthetics/Search-Synthetics-suites-returns-OK-response.frozen
  cassettes/features/v2/synthetics/Search-Synthetics-suites-returns-OK-response.yml
  cassettes/features/v2/synthetics/Synthetics-Create-a-test-suite-returns-OK-response.frozen
  cassettes/features/v2/synthetics/Synthetics-Create-a-test-suite-returns-OK-response.yml
  examples/v2/synthetics/CreateSyntheticsSuite.rb
  examples/v2/synthetics/DeleteSyntheticsSuites.rb
  examples/v2/synthetics/EditSyntheticsSuite.rb
  examples/v2/synthetics/GetSyntheticsSuite.rb
  examples/v2/synthetics/SearchSuites.rb
  features/scenarios_model_mapping.rb
  features/v2/synthetics.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/synthetics_api.rb
  lib/datadog_api_client/v2/models/deleted_suite_response_data.rb
  lib/datadog_api_client/v2/models/deleted_suite_response_data_attributes.rb
  lib/datadog_api_client/v2/models/deleted_suites_request_delete.rb
  lib/datadog_api_client/v2/models/deleted_suites_request_delete_attributes.rb
  lib/datadog_api_client/v2/models/deleted_suites_request_delete_request.rb
  lib/datadog_api_client/v2/models/deleted_suites_request_type.rb
  lib/datadog_api_client/v2/models/deleted_suites_response.rb
  lib/datadog_api_client/v2/models/suite_create_edit.rb
  lib/datadog_api_client/v2/models/suite_create_edit_request.rb
  lib/datadog_api_client/v2/models/suite_search_response_type.rb
  lib/datadog_api_client/v2/models/synthetics_suite.rb
  lib/datadog_api_client/v2/models/synthetics_suite_options.rb
  lib/datadog_api_client/v2/models/synthetics_suite_response.rb
  lib/datadog_api_client/v2/models/synthetics_suite_response_data.rb
  lib/datadog_api_client/v2/models/synthetics_suite_search_response.rb
  lib/datadog_api_client/v2/models/synthetics_suite_search_response_data.rb
  lib/datadog_api_client/v2/models/synthetics_suite_search_response_data_attributes.rb
  lib/datadog_api_client/v2/models/synthetics_suite_test.rb
  lib/datadog_api_client/v2/models/synthetics_suite_test_alerting_criticality.rb
  lib/datadog_api_client/v2/models/synthetics_suite_type.rb
  lib/datadog_api_client/v2/models/synthetics_suite_types.rb
Due: generate, format-examples

Regenerate client from commit 55e1909 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/rum_retention_filter_attributes.rb
  lib/datadog_api_client/v2/models/rum_retention_filter_create_attributes.rb
  lib/datadog_api_client/v2/models/rum_retention_filter_update_attributes.rb
Due: generate

Regenerate client from commit 288e4b4 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/high-availability-multiregion/CreateHamrOrgConnection.rb
  examples/v2/high-availability-multiregion/GetHamrOrgConnection.rb
  features/scenarios_model_mapping.rb
  features/v2/high_availability_multiregion.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/high_availability_multi_region_api.rb
  lib/datadog_api_client/v2/models/hamr_org_connection_attributes_request.rb
  lib/datadog_api_client/v2/models/hamr_org_connection_attributes_response.rb
  lib/datadog_api_client/v2/models/hamr_org_connection_data_request.rb
  lib/datadog_api_client/v2/models/hamr_org_connection_data_response.rb
  lib/datadog_api_client/v2/models/hamr_org_connection_request.rb
  lib/datadog_api_client/v2/models/hamr_org_connection_response.rb
  lib/datadog_api_client/v2/models/hamr_org_connection_status.rb
  lib/datadog_api_client/v2/models/hamr_org_connection_type.rb
Due: generate, format-examples

Regenerate client from commit 8417e6d of spec repo
  cassettes/features/v2/security_monitoring/Delete-a-suppression-rule-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Delete-a-suppression-rule-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Get-a-suppression-rule-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Get-a-suppression-rule-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Get-a-suppression-s-version-history-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Get-a-suppression-s-version-history-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Get-all-suppression-rules-returns-OK-response-with-pagination.frozen
  cassettes/features/v2/security_monitoring/Get-all-suppression-rules-returns-OK-response-with-pagination.yml
  cassettes/features/v2/security_monitoring/Get-all-suppression-rules-returns-OK-response-with-sort-ascending.frozen
  cassettes/features/v2/security_monitoring/Get-all-suppression-rules-returns-OK-response-with-sort-ascending.yml
  cassettes/features/v2/security_monitoring/Get-all-suppression-rules-returns-OK-response-with-sort-descending.frozen
  cassettes/features/v2/security_monitoring/Get-all-suppression-rules-returns-OK-response-with-sort-descending.yml
  cassettes/features/v2/security_monitoring/Update-a-suppression-rule-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Update-a-suppression-rule-returns-OK-response.yml
  features/v2/given.json
  features/v2/security_monitoring.feature
Due: none

Regenerate client from commit e90b1fa of spec repo
  features/v2/rum_audience_management.feature
Due: none

Regenerate client from commit d1d128a of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/monitor_options_notification_presets.rb
  lib/datadog_api_client/v1/models/synthetics_test_options_monitor_options_notification_preset_name.rb
Due: generate

Regenerate client from commit 0ae64e3 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-cost-management/GetBudget.rb
  examples/v2/cloud-cost-management/UpsertBudget.rb
  examples/v2/cloud-cost-management/ValidateBudget.rb
  examples/v2/cloud-cost-management/ValidateCsvBudget.rb
  features/scenarios_model_mapping.rb
  features/v2/cloud_cost_management.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/cloud_cost_management_api.rb
  lib/datadog_api_client/v2/models/budget.rb
  lib/datadog_api_client/v2/models/budget_validation_request.rb
  lib/datadog_api_client/v2/models/budget_validation_request_data.rb
  lib/datadog_api_client/v2/models/budget_validation_response.rb
  lib/datadog_api_client/v2/models/budget_validation_response_data.rb
  lib/datadog_api_client/v2/models/budget_validation_response_data_attributes.rb
  lib/datadog_api_client/v2/models/budget_validation_response_data_type.rb
  lib/datadog_api_client/v2/models/budget_with_entries_data_attributes.rb
  lib/datadog_api_client/v2/models/budget_with_entries_data_attributes_entries_items.rb
  lib/datadog_api_client/v2/models/budget_with_entries_data_attributes_entries_items_tag_filters_items.rb
  lib/datadog_api_client/v2/models/budget_with_entries_data_type.rb
Due: generate, format-examples

Regenerate client from commit 2c69f89 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Group-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Group-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-Bad-Request-response.yml
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-with-should-save-match-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-with-should-save-match-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Group-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Group-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Rule-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Rule-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/List-Scanning-Groups-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/List-Scanning-Groups-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Reorder-Groups-returns-Bad-Request-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Reorder-Groups-returns-Bad-Request-response.yml
  cassettes/features/v2/sensitive_data_scanner/Reorder-Groups-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Reorder-Groups-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Group-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Group-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-Bad-Request-response.yml
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-OK-response.yml
  features/v2/sensitive_data_scanner.feature
Due: generate

Regenerate client from commit 94d8b20 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-cost-management/GetBudget.rb
  examples/v2/cloud-cost-management/UpsertBudget.rb
  examples/v2/cloud-cost-management/ValidateBudget.rb
  examples/v2/cloud-cost-management/ValidateCsvBudget.rb
  features/scenarios_model_mapping.rb
  features/v2/cloud_cost_management.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/cloud_cost_management_api.rb
  lib/datadog_api_client/v2/models/budget.rb
  lib/datadog_api_client/v2/models/budget_validation_request.rb
  lib/datadog_api_client/v2/models/budget_validation_request_data.rb
  lib/datadog_api_client/v2/models/budget_validation_response.rb
  lib/datadog_api_client/v2/models/budget_validation_response_data.rb
  lib/datadog_api_client/v2/models/budget_validation_response_data_attributes.rb
  lib/datadog_api_client/v2/models/budget_validation_response_data_type.rb
  lib/datadog_api_client/v2/models/budget_with_entries_data_attributes.rb
  lib/datadog_api_client/v2/models/budget_with_entries_data_attributes_entries_items.rb
  lib/datadog_api_client/v2/models/budget_with_entries_data_attributes_entries_items_tag_filters_items.rb
  lib/datadog_api_client/v2/models/budget_with_entries_data_type.rb
Due: generate, format-examples

Regenerate client from commit 8b43fc8 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/test-optimization/UpdateFlakyTests.rb
  features/scenarios_model_mapping.rb
  features/v2/test_optimization.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/test_optimization_api.rb
  lib/datadog_api_client/v2/models/update_flaky_tests_request.rb
  lib/datadog_api_client/v2/models/update_flaky_tests_request_attributes.rb
  lib/datadog_api_client/v2/models/update_flaky_tests_request_data.rb
  lib/datadog_api_client/v2/models/update_flaky_tests_request_data_type.rb
  lib/datadog_api_client/v2/models/update_flaky_tests_request_test.rb
  lib/datadog_api_client/v2/models/update_flaky_tests_request_test_new_state.rb
  lib/datadog_api_client/v2/models/update_flaky_tests_response.rb
  lib/datadog_api_client/v2/models/update_flaky_tests_response_attributes.rb
  lib/datadog_api_client/v2/models/update_flaky_tests_response_data.rb
  lib/datadog_api_client/v2/models/update_flaky_tests_response_data_type.rb
  lib/datadog_api_client/v2/models/update_flaky_tests_response_result.rb
Due: generate, format-examples

Regenerate client from commit 319e516 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Get-SBOM-returns-Not-found-asset-not-found-response.frozen
  cassettes/features/v2/security_monitoring/Get-SBOM-returns-Not-found-asset-not-found-response.yml
  cassettes/features/v2/security_monitoring/List-assets-SBOMs-returns-Not-found-There-is-no-request-associated-with-the-provided-token-response.frozen
  cassettes/features/v2/security_monitoring/List-assets-SBOMs-returns-Not-found-There-is-no-request-associated-with-the-provided-token-response.yml
  cassettes/features/v2/security_monitoring/List-assets-SBOMs-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/List-assets-SBOMs-returns-OK-response.yml
  examples/v2/security-monitoring/GetSBOM.rb
  examples/v2/security-monitoring/ListAssetsSBOMs.rb
  features/v2/security_monitoring.feature
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
Due: generate, format-examples

Regenerate client from commit ab01d4d of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Create-Jira-issue-for-security-finding-returns-Created-response.frozen
  cassettes/features/v2/security_monitoring/Create-Jira-issue-for-security-finding-returns-Created-response.yml
  cassettes/features/v2/security_monitoring/Create-Jira-issue-for-security-findings-returns-Created-response.frozen
  cassettes/features/v2/security_monitoring/Create-Jira-issue-for-security-findings-returns-Created-response.yml
  cassettes/features/v2/security_monitoring/Create-Jira-issues-for-security-findings-returns-Bad-Request-response.frozen
  cassettes/features/v2/security_monitoring/Create-Jira-issues-for-security-findings-returns-Bad-Request-response.yml
  cassettes/features/v2/security_monitoring/Create-Jira-issues-for-security-findings-returns-Created-response.frozen
  cassettes/features/v2/security_monitoring/Create-Jira-issues-for-security-findings-returns-Created-response.yml
  cassettes/features/v2/security_monitoring/Create-Jira-issues-for-security-findings-returns-Not-Found-response.frozen
  cassettes/features/v2/security_monitoring/Create-Jira-issues-for-security-findings-returns-Not-Found-response.yml
  examples/v2/security-monitoring/CreateJiraIssues_379590688.rb
  examples/v2/security-monitoring/CreateJiraIssues_829823123.rb
  features/v2/security_monitoring.feature
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/create_jira_issue_request_data_attributes.rb
Due: generate, format-examples

Regenerate client from commit 8f889fc of spec repo
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 83ca8fa of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-timeseries-widget-using-order-by-tags.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-timeseries-widget-using-order-by-tags.yml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-timeseries-widget-using-order-by-values.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-timeseries-widget-using-order-by-values.yml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-timeseries-widget-without-order-by-for-backward-compatibility.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-timeseries-widget-without-order-by-for-backward-compatibility.yml
  examples/v1/dashboards/CreateDashboard_1259346254.rb
  examples/v1/dashboards/CreateDashboard_3631423980.rb
  examples/v1/dashboards/CreateDashboard_416487533.rb
  features/v1/dashboards.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/widget_request_style.rb
  lib/datadog_api_client/v1/models/widget_style_order_by.rb
Due: generate, format-examples

Regenerate client from commit b317bd8 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/case_attributes.rb
  lib/datadog_api_client/v2/models/case_create_attributes.rb
  lib/datadog_api_client/v2/models/case_status_group.rb
  lib/datadog_api_client/v2/models/case_update_status_attributes.rb
  lib/datadog_api_client/v2/models/issue_case_attributes.rb
Due: generate

Regenerate client from commit 42acf0f of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/on_call_trigger.rb
  lib/datadog_api_client/v2/models/on_call_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/trigger.rb
Due: generate

Regenerate client from commit 1bce4c0 of spec repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v1/models/synthetics_global_variable_attributes.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_test_options.rb
  lib/datadog_api_client/v1/models/synthetics_private_location_metadata.rb
  lib/datadog_api_client/v1/models/synthetics_test_options.rb
  lib/datadog_api_client/v2/models/synthetics_global_variable_attributes.rb
Due: generate

Regenerate client from commit 7d8c547 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/observability_pipeline_http_client_source_auth_strategy.rb
  lib/datadog_api_client/v2/models/observability_pipeline_open_search_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_open_search_destination_data_stream.rb
Due: generate

Add path parameter support for undo operations (#2928)
  features/step_definitions/request.rb
Due: none

Regenerate client from commit 667ed97 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/incidents/CreateGlobalIncidentHandle.rb
  examples/v2/incidents/DeleteGlobalIncidentHandle.rb
  examples/v2/incidents/GetGlobalIncidentSettings.rb
  examples/v2/incidents/ListGlobalIncidentHandles.rb
  examples/v2/incidents/UpdateGlobalIncidentHandle.rb
  examples/v2/incidents/UpdateGlobalIncidentSettings.rb
  features/scenarios_model_mapping.rb
  features/v2/incidents.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/incidents_api.rb
  lib/datadog_api_client/v2/models/global_incident_settings_attributes_request.rb
  lib/datadog_api_client/v2/models/global_incident_settings_attributes_response.rb
  lib/datadog_api_client/v2/models/global_incident_settings_data_request.rb
  lib/datadog_api_client/v2/models/global_incident_settings_data_response.rb
  lib/datadog_api_client/v2/models/global_incident_settings_request.rb
  lib/datadog_api_client/v2/models/global_incident_settings_response.rb
  lib/datadog_api_client/v2/models/global_incident_settings_type.rb
  lib/datadog_api_client/v2/models/incident_handle_attributes_fields.rb
  lib/datadog_api_client/v2/models/incident_handle_attributes_request.rb
  lib/datadog_api_client/v2/models/incident_handle_attributes_response.rb
  lib/datadog_api_client/v2/models/incident_handle_data_request.rb
  lib/datadog_api_client/v2/models/incident_handle_data_response.rb
  lib/datadog_api_client/v2/models/incident_handle_included_item_response.rb
  lib/datadog_api_client/v2/models/incident_handle_relationship.rb
  lib/datadog_api_client/v2/models/incident_handle_relationship_data.rb
  lib/datadog_api_client/v2/models/incident_handle_relationships.rb
  lib/datadog_api_client/v2/models/incident_handle_relationships_request.rb
  lib/datadog_api_client/v2/models/incident_handle_request.rb
  lib/datadog_api_client/v2/models/incident_handle_response.rb
  lib/datadog_api_client/v2/models/incident_handle_type.rb
  lib/datadog_api_client/v2/models/incident_handles_response.rb
Due: generate, format-examples

Regenerate client from commit d1403f5 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/service-level-objectives/GetSloStatus.rb
  features/scenarios_model_mapping.rb
  features/v2/service_level_objectives.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/service_level_objectives_api.rb
  lib/datadog_api_client/v2/models/raw_error_budget_remaining.rb
  lib/datadog_api_client/v2/models/slo_status_data.rb
  lib/datadog_api_client/v2/models/slo_status_data_attributes.rb
  lib/datadog_api_client/v2/models/slo_status_response.rb
  lib/datadog_api_client/v2/models/slo_status_type.rb
Due: generate, format-examples

Regenerate client from commit 0fee65c of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/cloud_cost_management_api.rb
Due: generate

Regenerate client from commit e1f3e97 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/dora-metrics/PatchDORADeployment.rb
  features/scenarios_model_mapping.rb
  features/v2/dora_metrics.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/dora_metrics_api.rb
  lib/datadog_api_client/v2/models/dora_deployment_patch_remediation.rb
  lib/datadog_api_client/v2/models/dora_deployment_patch_remediation_type.rb
  lib/datadog_api_client/v2/models/dora_deployment_patch_request.rb
  lib/datadog_api_client/v2/models/dora_deployment_patch_request_attributes.rb
  lib/datadog_api_client/v2/models/dora_deployment_patch_request_data.rb
  lib/datadog_api_client/v2/models/dora_deployment_patch_request_data_type.rb
Due: generate, format-examples

Revert "Update api spec with additional monitor notification presets (#2939)"
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/monitor_options_notification_presets.rb
  lib/datadog_api_client/v1/models/synthetics_test_options_monitor_options_notification_preset_name.rb
Due: generate

Revert "Update api spec with additional monitor notification presets (#2939)" (#2947)
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/monitor_options_notification_presets.rb
  lib/datadog_api_client/v1/models/synthetics_test_options_monitor_options_notification_preset_name.rb
Due: generate

Regenerate client from commit c41acce of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/monitor_options_notification_presets.rb
  lib/datadog_api_client/v1/models/synthetics_test_options_monitor_options_notification_preset_name.rb
Due: generate

Regenerate client from commit 15dbc5e of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/incidents/CreateIncidentConfigRule.rb
  examples/v2/incidents/DeleteIncidentConfigRule.rb
  examples/v2/incidents/GetIncidentConfigRule.rb
  examples/v2/incidents/ListIncidentConfigRules.rb
  examples/v2/incidents/UpdateIncidentConfigRule.rb
  features/scenarios_model_mapping.rb
  features/v2/incidents.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/incidents_api.rb
  lib/datadog_api_client/v2/models/incident_rule_attributes_request.rb
  lib/datadog_api_client/v2/models/incident_rule_attributes_response.rb
  lib/datadog_api_client/v2/models/incident_rule_data_request.rb
  lib/datadog_api_client/v2/models/incident_rule_data_response.rb
  lib/datadog_api_client/v2/models/incident_rule_request.rb
  lib/datadog_api_client/v2/models/incident_rule_response.rb
  lib/datadog_api_client/v2/models/incident_rule_type.rb
  lib/datadog_api_client/v2/models/incident_rules_response.rb
Due: generate, format-examples

Regenerate client from commit 8462b0a of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/hourly_usage_attribution_usage_type.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_supported_metrics.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_values.rb
Due: generate

Regenerate client from commit d98173c of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/case-management/ListCaseWatchers.rb
  examples/v2/case-management/UnwatchCase.rb
  examples/v2/case-management/WatchCase.rb
  features/scenarios_model_mapping.rb
  features/v2/case_management.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/case_management_api.rb
  lib/datadog_api_client/v2/models/watcher.rb
  lib/datadog_api_client/v2/models/watcher_relationships.rb
  lib/datadog_api_client/v2/models/watcher_resource_type.rb
  lib/datadog_api_client/v2/models/watcher_user_relationship.rb
  lib/datadog_api_client/v2/models/watchers_response.rb
Due: generate, format-examples

Regenerate client from commit 56f2c5a of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit e143fcd of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/observability_pipeline_config.rb
Due: generate

fix getting path parameter in undo operation
  features/step_definitions/request.rb
Due: none

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
