Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Regenerate client from commit 1f58e760 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/monitor_options.rb
Due: generate

Regenerate client from commit ee61330d of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/hourly_usage_attribution_usage_type.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_supported_metrics.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_values.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
  lib/datadog_api_client/v2/api/usage_metering_api.rb
Due: generate

Regenerate client from commit 38b3c05a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/monitors/Create-a-RUM-formula-and-functions-monitor-returns-OK-response.frozen
  cassettes/features/v1/monitors/Create-a-RUM-formula-and-functions-monitor-returns-OK-response.yml
  cassettes/features/v1/monitors/Create-a-metric-monitor-with-a-custom-schedule-returns-OK-response.frozen
  cassettes/features/v1/monitors/Create-a-metric-monitor-with-a-custom-schedule-returns-OK-response.yml
  cassettes/features/v1/monitors/Create-an-Error-Tracking-monitor-returns-OK-response.frozen
  cassettes/features/v1/monitors/Create-an-Error-Tracking-monitor-returns-OK-response.yml
  examples/v1/monitors/CreateMonitor_1539578087.rb
  examples/v1/monitors/CreateMonitor_440013737.rb
  features/v1/monitor_error_tracking_alert_payload.json
  features/v1/monitors.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/monitor.rb
  lib/datadog_api_client/v1/models/monitor_draft_status.rb
  lib/datadog_api_client/v1/models/monitor_update_request.rb
Due: generate, format-examples

Regenerate client from commit 380ea6cc of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/snapshots_api.rb
Due: generate

Regenerate client from commit 0e7259ca of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/dora_metrics/Send-a-failure-event-for-DORA-Metrics-returns-OK-response.frozen
  cassettes/features/v2/dora_metrics/Send-a-failure-event-for-DORA-Metrics-returns-OK-response.yml
  examples/v2/dora-metrics/CreateDORADeployment.rb
  examples/v2/dora-metrics/CreateDORAFailure.rb
  examples/v2/dora-metrics/CreateDORAIncident_1768887482.rb
  features/scenarios_model_mapping.rb
  features/v2/dora_metrics.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/dora_metrics_api.rb
  lib/datadog_api_client/v2/models/dora_failure_request.rb
  lib/datadog_api_client/v2/models/dora_failure_request_attributes.rb
  lib/datadog_api_client/v2/models/dora_failure_request_data.rb
  lib/datadog_api_client/v2/models/dora_failure_response.rb
  lib/datadog_api_client/v2/models/dora_failure_response_data.rb
  lib/datadog_api_client/v2/models/dora_failure_type.rb
Due: generate, format-examples

Regenerate client from commit 18589186 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit faa72400 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/List-findings-returns-OK-response-with-details.frozen
  cassettes/features/v2/security_monitoring/List-findings-returns-OK-response-with-details.yml
  examples/v2/security-monitoring/ListFindings_2932019633.rb
  features/scenarios_model_mapping.rb
  features/v2/security_monitoring.feature
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/finding_attributes.rb
Due: generate, format-examples

Regenerate client from commit 698653bf of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/events/Post-an-event-returns-Bad-request-response.frozen
  cassettes/features/v2/events/Post-an-event-returns-Bad-request-response.yml
  cassettes/features/v2/events/Post-an-event-returns-OK-response.frozen
  cassettes/features/v2/events/Post-an-event-returns-OK-response.yml
  examples/v2/events/CreateEvent.rb
  features/v2/events.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/events_api.rb
  lib/datadog_api_client/v2/models/alert_event_custom_attributes.rb
  lib/datadog_api_client/v2/models/alert_event_custom_attributes_links_items.rb
  lib/datadog_api_client/v2/models/alert_event_custom_attributes_links_items_category.rb
  lib/datadog_api_client/v2/models/alert_event_custom_attributes_priority.rb
  lib/datadog_api_client/v2/models/alert_event_custom_attributes_status.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_author.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_changed_resource.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_impacted_resources_items.rb
  lib/datadog_api_client/v2/models/event_create_request_payload.rb
  lib/datadog_api_client/v2/models/event_create_response.rb
  lib/datadog_api_client/v2/models/event_create_response_attributes_attributes_evt.rb
  lib/datadog_api_client/v2/models/event_create_response_payload.rb
  lib/datadog_api_client/v2/models/event_create_response_payload_links.rb
  lib/datadog_api_client/v2/models/event_payload.rb
  lib/datadog_api_client/v2/models/event_payload_attributes.rb
  lib/datadog_api_client/v2/models/event_payload_integration_id.rb
Due: generate, format-examples

Regenerate client from commit 14586db5 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/synthetics/Create-a-FIDO-global-variable-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Create-a-FIDO-global-variable-returns-OK-response.yml
  cassettes/features/v1/synthetics/Create-a-TOTP-global-variable-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Create-a-TOTP-global-variable-returns-OK-response.yml
  cassettes/features/v1/synthetics/Create-a-global-variable-from-test-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Create-a-global-variable-from-test-returns-OK-response.yml
  cassettes/features/v1/synthetics/Create-an-API-test-with-multi-subtype-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-test-with-multi-subtype-returns-OK-Returns-the-created-test-details-response.yml
  examples/v1/synthetics/CreateSyntheticsAPITest_1279271422.rb
  features/v1/given.json
  features/v1/synthetics.feature
  features/v1/synthetics_api_test_multi_step_payload.json
  lib/datadog_api_client/v1/models/synthetics_api_test_step_subtype.rb
  lib/datadog_api_client/v1/models/synthetics_test_request.rb
Due: generate, format-examples

Regenerate client from commit 4eccd962 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/synthetics_api.rb
Due: generate

Regenerate client from commit d5513dd9 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit e591d5d4 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit b8f8eb97 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/geomap_widget_definition_view.rb
Due: generate

Regenerate client from commit 01341d5b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/software-catalog/DeleteCatalogKind.rb
  examples/v2/software-catalog/ListCatalogKind.rb
  examples/v2/software-catalog/ListCatalogKind_3806205775.rb
  examples/v2/software-catalog/UpsertCatalogKind.rb
  features/scenarios_model_mapping.rb
  features/v2/given.json
  features/v2/software_catalog.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/software_catalog_api.rb
  lib/datadog_api_client/v2/models/kind_attributes.rb
  lib/datadog_api_client/v2/models/kind_data.rb
  lib/datadog_api_client/v2/models/kind_metadata.rb
  lib/datadog_api_client/v2/models/kind_obj.rb
  lib/datadog_api_client/v2/models/kind_response_meta.rb
  lib/datadog_api_client/v2/models/list_kind_catalog_response.rb
  lib/datadog_api_client/v2/models/upsert_catalog_kind_request.rb
  lib/datadog_api_client/v2/models/upsert_catalog_kind_response.rb
Due: generate, format-examples

Regenerate client from commit 79e7c933 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/snapshots_api.rb
Due: generate

Regenerate client from commit 53d58e94 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-cost-management/CreateCostGCPUsageCostConfig.rb
  examples/v2/cloud-cost-management/DeleteCostGCPUsageCostConfig.rb
  examples/v2/cloud-cost-management/ListCostGCPUsageCostConfigs.rb
  examples/v2/cloud-cost-management/UpdateCostGCPUsageCostConfig.rb
  features/scenarios_model_mapping.rb
  features/v2/cloud_cost_management.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/cloud_cost_management_api.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_attributes.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_patch_data.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_patch_request.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_patch_request_attributes.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_patch_request_type.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_post_data.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_post_request.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_post_request_attributes.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_post_request_type.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_response.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_type.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_configs_response.rb
Due: generate, format-examples

Regenerate client from commit 37759f0c of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/hosts_api.rb
Due: generate

Regenerate client from commit 9dcf13b7 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit fe9ef081 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Bump versions and add changelog entries.
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit 593ab828 of spec repo
  .apigentools-info
  cassettes/features/v2/monitor_notification_rules/Create-a-monitor-notification-rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/monitor_notification_rules/Create-a-monitor-notification-rule-returns-Bad-Request-response.yml
  cassettes/features/v2/monitor_notification_rules/Create-a-monitor-notification-rule-returns-OK-response.frozen
  cassettes/features/v2/monitor_notification_rules/Create-a-monitor-notification-rule-returns-OK-response.yml
  cassettes/features/v2/monitor_notification_rules/Delete-a-monitor-notification-rule-returns-Not-Found-response.frozen
  cassettes/features/v2/monitor_notification_rules/Delete-a-monitor-notification-rule-returns-Not-Found-response.yml
  cassettes/features/v2/monitor_notification_rules/Delete-a-monitor-notification-rule-returns-OK-response.frozen
  cassettes/features/v2/monitor_notification_rules/Delete-a-monitor-notification-rule-returns-OK-response.yml
  cassettes/features/v2/monitor_notification_rules/Get-a-monitor-notification-rule-returns-Not-Found-response.frozen
  cassettes/features/v2/monitor_notification_rules/Get-a-monitor-notification-rule-returns-Not-Found-response.yml
  cassettes/features/v2/monitor_notification_rules/Get-a-monitor-notification-rule-returns-OK-response.frozen
  cassettes/features/v2/monitor_notification_rules/Get-a-monitor-notification-rule-returns-OK-response.yml
  cassettes/features/v2/monitor_notification_rules/Get-all-monitor-notification-rules-returns-OK-response.frozen
  cassettes/features/v2/monitor_notification_rules/Get-all-monitor-notification-rules-returns-OK-response.yml
  cassettes/features/v2/monitor_notification_rules/Update-a-monitor-notification-rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/monitor_notification_rules/Update-a-monitor-notification-rule-returns-Bad-Request-response.yml
  cassettes/features/v2/monitor_notification_rules/Update-a-monitor-notification-rule-returns-Not-Found-response.frozen
  cassettes/features/v2/monitor_notification_rules/Update-a-monitor-notification-rule-returns-Not-Found-response.yml
  cassettes/features/v2/monitor_notification_rules/Update-a-monitor-notification-rule-returns-OK-response.frozen
  cassettes/features/v2/monitor_notification_rules/Update-a-monitor-notification-rule-returns-OK-response.yml
Due: none

Regenerate client from commit 123108ff of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/dora-metrics/CreateDORAFailure.rb
  examples/v2/dora-metrics/CreateDORAIncident.rb
  features/v2/dora_metrics.feature
  lib/datadog_api_client/v2/models/dora_deployment_request_attributes.rb
  lib/datadog_api_client/v2/models/dora_failure_request_attributes.rb
Due: generate, format-examples

Regenerate client from commit 943275a2 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/csm_threats/Create-a-Workload-Protection-agent-rule-with-set-action-returns-OK-response.frozen
  cassettes/features/v2/csm_threats/Create-a-Workload-Protection-agent-rule-with-set-action-returns-OK-response.yml
  cassettes/features/v2/csm_threats/Delete-a-Workload-Protection-agent-rule-returns-OK-response.frozen
  cassettes/features/v2/csm_threats/Delete-a-Workload-Protection-agent-rule-returns-OK-response.yml
  cassettes/features/v2/csm_threats/Get-a-Workload-Protection-agent-rule-returns-OK-response.frozen
  cassettes/features/v2/csm_threats/Get-a-Workload-Protection-agent-rule-returns-OK-response.yml
  cassettes/features/v2/csm_threats/Update-a-Workload-Protection-agent-rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/csm_threats/Update-a-Workload-Protection-agent-rule-returns-Bad-Request-response.yml
  examples/v2/csm-threats/CreateCSMThreatsAgentRule_1295653933.rb
  features/v2/csm_threats.feature
  features/v2/given.json
  lib/datadog_api_client/v2/models/cloud_workload_security_agent_rule_action.rb
Due: generate, format-examples

Regenerate client from commit 847bdb30 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 583e858c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/events/Post-an-event-returns-Bad-request-response.frozen
  cassettes/features/v2/events/Post-an-event-returns-Bad-request-response.yml
  cassettes/features/v2/events/Post-an-event-returns-OK-response.frozen
  cassettes/features/v2/events/Post-an-event-returns-OK-response.yml
  examples/v2/events/CreateEvent.rb
  features/v2/events.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/events_api.rb
  lib/datadog_api_client/v2/models/alert_event_custom_attributes.rb
  lib/datadog_api_client/v2/models/alert_event_custom_attributes_links_items.rb
  lib/datadog_api_client/v2/models/alert_event_custom_attributes_links_items_category.rb
  lib/datadog_api_client/v2/models/alert_event_custom_attributes_priority.rb
  lib/datadog_api_client/v2/models/alert_event_custom_attributes_status.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_author.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_changed_resource.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_impacted_resources_items.rb
  lib/datadog_api_client/v2/models/event_create_request_payload.rb
  lib/datadog_api_client/v2/models/event_create_response.rb
  lib/datadog_api_client/v2/models/event_create_response_attributes.rb
  lib/datadog_api_client/v2/models/event_create_response_attributes_attributes.rb
  lib/datadog_api_client/v2/models/event_create_response_attributes_attributes_evt.rb
  lib/datadog_api_client/v2/models/event_create_response_payload.rb
  lib/datadog_api_client/v2/models/event_create_response_payload_links.rb
  lib/datadog_api_client/v2/models/event_payload.rb
  lib/datadog_api_client/v2/models/event_payload_attributes.rb
  lib/datadog_api_client/v2/models/event_payload_integration_id.rb
Due: generate, format-examples

add config for commit signing
  repository.datadog.yaml
Due: none

Regenerate client from commit 70117347 of spec repo
  .apigentools-info
  features/v2/security_monitoring.feature
Due: none

Regenerate client from commit b2804f41 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/hourly_usage_attribution_usage_type.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_supported_metrics.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_values.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
  lib/datadog_api_client/v2/api/usage_metering_api.rb
Due: generate

Regenerate client from commit 2b721f6d of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/cloud_configuration_rule_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_case.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_update_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_rule_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_rule_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_query.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_third_party_rule_case.rb
Due: generate

Regenerate client from commit c7c18a3a of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-Bad-Request-response.yml
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Group-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Group-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Rule-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Rule-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/List-Scanning-Groups-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/List-Scanning-Groups-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Reorder-Groups-returns-Bad-Request-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Reorder-Groups-returns-Bad-Request-response.yml
  cassettes/features/v2/sensitive_data_scanner/Reorder-Groups-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Reorder-Groups-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Group-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Group-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-Bad-Request-response.yml
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-OK-response.yml
  features/v2/given.json
  features/v2/sensitive_data_scanner.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/sensitive_data_scanner_samplings.rb
Due: generate

Regenerate client from commit 065a04e5 of spec repo
  .apigentools-info
Due: none

fix generator
  .generator/src/generator/formatter.py
  .generator/src/generator/openapi.py
Due: generate

pre-commit fixes
  lib/datadog_api_client/v2/models/action_query_spec_inputs.rb
Due: generate

Fix generation for additionalProperties containers (#2469)
  .generator/src/generator/formatter.py
  .generator/src/generator/openapi.py
  lib/datadog_api_client/v2/models/action_query_spec_inputs.rb
Due: generate

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
