Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

pre-commit fixes
  examples/v2/security-monitoring/ListHistoricalJobs.rb
Due: format-examples

sort enabled ops
  .generator/src/generator/templates/example.j2
Due: generate

sort enabled operations in examples (#2098)
  .generator/src/generator/templates/example.j2
  examples/v2/security-monitoring/ListHistoricalJobs.rb
Due: generate, format-examples

bump ddtrace
  Gemfile
Due: none

Revert "bump ddtrace"
  Gemfile
Due: none

bump to 2.6.0
  Gemfile
Due: none

Revert "bump to 2.6.0"
  Gemfile
Due: none

Regenerate client from commit 9a869b6b of spec repo
  .apigentools-info
  examples/v2/security-monitoring/CancelHistoricalJob.rb
  examples/v2/security-monitoring/GetHistoricalJob.rb
Due: format-examples

Regenerate client from commit 1406acd6 of spec repo
  .apigentools-info
  features/v2/sensitive_data_scanner.feature
Due: none

Regenerate client from commit 5cabc1c5 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/aws_namespace.rb
Due: generate

Regenerate client from commit f35f7750 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
Due: generate

Regenerate client from commit 1939caa6 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

update enum list deserialization
  spec/fixtures/downtimes_unknown_nested_enum_in_list.json
  spec/fixtures/synthetics_unknown_nested_enum_in_list.json
  spec/v1/deserialization_spec.rb
Due: none

dep update
  .generator/poetry.lock
  .generator/pyproject.toml
Due: generate

Regenerate client from commit f858f395 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  features/v1/logs_indexes.feature
  features/v1/logs_pipelines.feature
  features/v2/logs_archives.feature
  features/v2/logs_metrics.feature
Due: generate

Regenerate client from commit 04f6c81e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
Due: generate

Regenerate client from commit 2e48953d of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit ebf27b5e of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateSyntheticsAPITest.rb
  examples/v1/synthetics/CreateSyntheticsBrowserTest.rb
  examples/v1/synthetics/CreateSyntheticsBrowserTest_2932742688.rb
  examples/v1/synthetics/CreateSyntheticsBrowserTest_397420811.rb
  examples/v1/synthetics/TriggerCITests.rb
  examples/v1/synthetics/UpdateBrowserTest.rb
  features/v1/synthetics.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/synthetics_batch_result.rb
  lib/datadog_api_client/v1/models/synthetics_ci_test.rb
  lib/datadog_api_client/v1/models/synthetics_device.rb
  lib/datadog_api_client/v1/models/synthetics_device_id.rb
  lib/datadog_api_client/v1/models/synthetics_test_options.rb
  lib/datadog_api_client/v1/models/synthetics_trigger_ci_test_run_result.rb
Due: generate, format-examples

Regenerate client from commit 34905ccb of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-logs-pattern-stream-list-stream-widget.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-logs-pattern-stream-list-stream-widget.yml
  examples/v1/dashboards/CreateDashboard_1039800684.rb
  features/v1/dashboards.feature
  lib/datadog_api_client/v1/models/list_stream_column.rb
  lib/datadog_api_client/v1/models/list_stream_query.rb
Due: generate, format-examples

Regenerate client from commit ad36259c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/events/CreateEvent.rb
  features/scenarios_model_mapping.rb
  features/v2/events.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/events_api.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_author.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_author_type.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_changed_resource.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_changed_resource_type.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_impacted_resources_items.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_impacted_resources_items_type.rb
  lib/datadog_api_client/v2/models/event_category.rb
  lib/datadog_api_client/v2/models/event_create_request.rb
  lib/datadog_api_client/v2/models/event_create_request_payload.rb
  lib/datadog_api_client/v2/models/event_create_request_type.rb
  lib/datadog_api_client/v2/models/event_create_response.rb
  lib/datadog_api_client/v2/models/event_create_response_attributes.rb
  lib/datadog_api_client/v2/models/event_create_response_attributes_attributes.rb
  lib/datadog_api_client/v2/models/event_create_response_attributes_attributes_evt.rb
  lib/datadog_api_client/v2/models/event_create_response_payload.rb
  lib/datadog_api_client/v2/models/event_payload.rb
  lib/datadog_api_client/v2/models/event_payload_attributes.rb
Due: generate, format-examples

Regenerate client from commit 5b0e59c5 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit a8220421 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/hourly_usage_attribution_usage_type.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_supported_metrics.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_values.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit d016c5b7 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/List-rules-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/List-rules-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Update-a-cloud-configuration-rule-s-details-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Update-a-cloud-configuration-rule-s-details-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Update-an-existing-rule-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Update-an-existing-rule-returns-OK-response.yml
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_response.rb
Due: generate

Regenerate client from commit 80b43a3b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/events_api.rb
Due: generate

Regenerate client from commit 3c840607 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/usage_metering_api.rb
Due: generate

Regenerate client from commit a5271b93 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/ci_visibility_pipelines/Aggregate-pipelines-events-returns-OK-response.frozen
  cassettes/features/v2/ci_visibility_pipelines/Aggregate-pipelines-events-returns-OK-response.yml
  cassettes/features/v2/ci_visibility_pipelines/Get-a-list-of-pipelines-events-returns-OK-response.frozen
  cassettes/features/v2/ci_visibility_pipelines/Get-a-list-of-pipelines-events-returns-OK-response.yml
  cassettes/features/v2/ci_visibility_pipelines/Search-pipelines-events-returns-OK-response.frozen
  cassettes/features/v2/ci_visibility_pipelines/Search-pipelines-events-returns-OK-response.yml
  cassettes/features/v2/ci_visibility_pipelines/Send-pipeline-event-returns-Request-accepted-for-processing-response.frozen
  cassettes/features/v2/ci_visibility_pipelines/Send-pipeline-event-returns-Request-accepted-for-processing-response.yml
  cassettes/features/v2/ci_visibility_pipelines/Send-pipeline-job-event-returns-Request-accepted-for-processing-response.frozen
  cassettes/features/v2/ci_visibility_pipelines/Send-running-pipeline-event-returns-Request-accepted-for-processing-response.frozen
  cassettes/features/v2/ci_visibility_pipelines/Send-running-pipeline-event-returns-Request-accepted-for-processing-response.yml
  examples/v2/ci-visibility-pipelines/CreateCIAppPipelineEvent_129899466.rb
  examples/v2/ci-visibility-pipelines/CreateCIAppPipelineEvent_2341150096.rb
  features/v2/ci_visibility_pipelines.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/ci_app_pipeline_event_finished_pipeline.rb
  lib/datadog_api_client/v2/models/ci_app_pipeline_event_in_progress_pipeline.rb
  lib/datadog_api_client/v2/models/ci_app_pipeline_event_pipeline.rb
  lib/datadog_api_client/v2/models/ci_app_pipeline_event_pipeline_in_progress_status.rb
Due: generate, format-examples

Regenerate client from commit c2a87e35 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/job_definition.rb
  lib/datadog_api_client/v2/models/security_monitoring_reference_table.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_case_create.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_evaluation_window.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_impossible_travel_options.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_keep_alive.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_new_value_options.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_options.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_third_party_options.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_update_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_rule_create_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_rule_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_rule_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_create_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_test_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_third_party_rule_case_create.rb
Due: generate

Regenerate client from commit cf1aa5ea of spec repo
  .apigentools-info
  features/v1/logs_indexes.feature
  features/v2/logs.feature
  features/v2/logs_archives.feature
  features/v2/logs_custom_destinations.feature
  features/v2/logs_metrics.feature
Due: none

Regenerate client from commit fd3dd4d0 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/v1/logs_indexes.feature
  features/v2/events.feature
  features/v2/logs.feature
  features/v2/logs_archives.feature
  features/v2/logs_custom_destinations.feature
  features/v2/logs_metrics.feature
  lib/datadog_api_client/v2/api/events_api.rb
Due: generate

Regenerate client from commit f7dfe1a6 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/synthetics_fetch_uptimes_payload.rb
Due: generate

Regenerate client from commit 48a734bf of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit df351555 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Create-a-suppression-rule-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Create-a-suppression-rule-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Create-a-suppression-rule-with-an-exclusion-query-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Create-a-suppression-rule-with-an-exclusion-query-returns-OK-response.yml
  examples/v2/security-monitoring/CreateSecurityMonitoringSuppression.rb
  examples/v2/security-monitoring/CreateSecurityMonitoringSuppression_3192265332.rb
  features/v2/security_monitoring.feature
  lib/datadog_api_client/v2/models/security_monitoring_suppression_attributes.rb
  lib/datadog_api_client/v2/models/security_monitoring_suppression_create_attributes.rb
  lib/datadog_api_client/v2/models/security_monitoring_suppression_update_attributes.rb
Due: generate, format-examples

Regenerate client from commit 24699f8e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/aws_integration_api.rb
  lib/datadog_api_client/v2/models/aws_account_create_request.rb
  lib/datadog_api_client/v2/models/aws_account_create_request_attributes.rb
  lib/datadog_api_client/v2/models/aws_account_create_request_data.rb
  lib/datadog_api_client/v2/models/aws_account_partition.rb
  lib/datadog_api_client/v2/models/aws_account_response.rb
  lib/datadog_api_client/v2/models/aws_account_response_attributes.rb
  lib/datadog_api_client/v2/models/aws_account_response_data.rb
  lib/datadog_api_client/v2/models/aws_account_update_request.rb
  lib/datadog_api_client/v2/models/aws_account_update_request_attributes.rb
  lib/datadog_api_client/v2/models/aws_account_update_request_data.rb
  lib/datadog_api_client/v2/models/aws_accounts_response.rb
  lib/datadog_api_client/v2/models/aws_auth_config.rb
  lib/datadog_api_client/v2/models/aws_auth_config_keys.rb
  lib/datadog_api_client/v2/models/aws_auth_config_role.rb
  lib/datadog_api_client/v2/models/aws_lambda_forwarder_config.rb
  lib/datadog_api_client/v2/models/aws_logs_config.rb
  lib/datadog_api_client/v2/models/aws_metrics_config.rb
  lib/datadog_api_client/v2/models/aws_namespace_filters.rb
  lib/datadog_api_client/v2/models/aws_namespace_filters_exclude_only.rb
  lib/datadog_api_client/v2/models/aws_namespace_filters_include_only.rb
  lib/datadog_api_client/v2/models/aws_namespace_tag_filter.rb
  lib/datadog_api_client/v2/models/aws_namespaces_response.rb
  lib/datadog_api_client/v2/models/aws_namespaces_response_attributes.rb
  lib/datadog_api_client/v2/models/aws_namespaces_response_data.rb
  lib/datadog_api_client/v2/models/aws_new_external_id_response.rb
  lib/datadog_api_client/v2/models/aws_new_external_id_response_attributes.rb
  lib/datadog_api_client/v2/models/aws_new_external_id_response_data.rb
  lib/datadog_api_client/v2/models/aws_regions.rb
  lib/datadog_api_client/v2/models/aws_regions_include_all.rb
  lib/datadog_api_client/v2/models/aws_regions_include_only.rb
  lib/datadog_api_client/v2/models/aws_resources_config.rb
  lib/datadog_api_client/v2/models/aws_traces_config.rb
  lib/datadog_api_client/v2/models/x_ray_services_include_all.rb
  lib/datadog_api_client/v2/models/x_ray_services_include_only.rb
  lib/datadog_api_client/v2/models/x_ray_services_list.rb
Due: generate
