Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

generated-features:
  name: Do not commit generated feature files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

Add time based variable in context
  features/step_definitions/request.rb
Due: none

cassette
  cassettes/features/v1/service_level_objective_corrections/Get-an-SLO-correction-for-an-SLO-returns-OK-response.yml
Due: none

Remove test that cannot pass anymore
  spec/v1/models/time_series_formula_and_function_event_query_definition_group_by_sort_spec.rb
Due: none

Regenerate client from commit f02c467 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/TimeSeriesFormulaAndFunctionEventQueryDefinition.md
  docs/v1/TimeSeriesFormulaAndFunctionEventQueryDefinitionGroupBy.md
  docs/v1/TimeSeriesFormulaAndFunctionEventQueryDefinitionSort.md
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/time_series_formula_and_function_event_query_definition.rb
  lib/datadog_api_client/v1/models/time_series_formula_and_function_event_query_definition_group_by.rb
  lib/datadog_api_client/v1/models/time_series_formula_and_function_event_query_definition_sort.rb
  spec/v1/models/time_series_formula_and_function_event_query_definition_sort_spec.rb
Due: generated

Regenerate client from commit 56d3544 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/SLOHistoryMetricsSeriesMetadata.md
  lib/datadog_api_client/v1/models/slo_history_metrics_series_metadata.rb
Due: generated

Regenerate client from commit 756b2f6 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/SLOHistoryMetricsSeriesMetadata.md
  docs/v1/SLOHistoryMetricsSeriesMetadataUnit.md
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/slo_history_metrics_series_metadata_unit.rb
  spec/v1/models/slo_history_metrics_series_metadata_unit_spec.rb
Due: generated

Regenerate client from commit 0e53363 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  features/v1/given.json
  features/v1/service_level_objective_corrections.feature
  features/v1/undo.json
Due: generated-features

Remove test hitting non-existent module
  spec/v1/models/formula_and_function_events_sort_type_spec.rb
Due: none

Regenerate client from commit 7973735 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/FormulaAndFunctionEventsSortType.md
  docs/v1/README.md
  docs/v1/TimeSeriesFormulaAndFunctionEventQueryDefinitionSort.md
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/formula_and_function_events_sort_type.rb
  lib/datadog_api_client/v1/models/time_series_formula_and_function_event_query_definition_sort.rb
Due: generated

Regenerate client from commit 1b26a0f of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/AWSTagFilterDeleteRequest.md
  lib/datadog_api_client/v1/models/aws_tag_filter_delete_request.rb
Due: generated

Regenerate client from commit bd96110 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/ServiceLevelObjectivesApi.md
  lib/datadog_api_client/v1/api/service_level_objectives_api.rb
Due: generated

Regenerate client from commit 104aacd of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  data/v2/openapi.yaml
  docs/v1/LogsIndexesApi.md
  docs/v2/LogsApi.md
  docs/v2/LogsArchivesApi.md
  features/v1/logs_indexes.feature
  features/v2/logs.feature
  features/v2/logs_archives.feature
  lib/datadog_api_client/v1/configuration.rb
  lib/datadog_api_client/v2/configuration.rb
Due: generated, generated-features

Regenerate client from commit e3e4b05 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  data/v2/openapi.yaml
  features/v1/logs.feature
  features/v2/logs.feature
Due: generated-features

Regenerate client from commit 329a27b of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  lib/datadog_api_client/v1/models/formula_and_function_events_data_source.rb
Due: generated

Regenerate client from commit f2771da of spec repo
  .apigentools-info
  docs/v1/AWSIntegrationApi.md
  docs/v1/AWSLogsIntegrationApi.md
  docs/v1/AuthenticationApi.md
  docs/v1/AzureIntegrationApi.md
  docs/v1/DashboardListsApi.md
  docs/v1/DashboardsApi.md
  docs/v1/DowntimesApi.md
  docs/v1/EventsApi.md
  docs/v1/GCPIntegrationApi.md
  docs/v1/HostsApi.md
  docs/v1/IPRangesApi.md
  docs/v1/KeyManagementApi.md
  docs/v1/LogsApi.md
  docs/v1/LogsIndexesApi.md
  docs/v1/LogsPipelinesApi.md
  docs/v1/MetricsApi.md
  docs/v1/MonitorsApi.md
  docs/v1/OrganizationsApi.md
  docs/v1/PagerDutyIntegrationApi.md
  docs/v1/ServiceLevelObjectiveCorrectionsApi.md
  docs/v1/ServiceLevelObjectivesApi.md
  docs/v1/SnapshotsApi.md
  docs/v1/SyntheticsApi.md
  docs/v1/TagsApi.md
  docs/v1/UsageMeteringApi.md
  docs/v1/UsersApi.md
  docs/v2/DashboardListsApi.md
  docs/v2/IncidentServicesApi.md
  docs/v2/IncidentTeamsApi.md
  docs/v2/IncidentsApi.md
  docs/v2/KeyManagementApi.md
  docs/v2/LogsApi.md
  docs/v2/LogsArchivesApi.md
  docs/v2/LogsMetricsApi.md
  docs/v2/ProcessesApi.md
  docs/v2/RolesApi.md
  docs/v2/SecurityMonitoringApi.md
  docs/v2/UsersApi.md
Due: none

Regenerate client from commit 5b68d44 of spec repo
  .apigentools-info
  data/v2/openapi.yaml
  docs/v2/DashboardListsApi.md
  docs/v2/README.md
  features/v2/dashboard_lists.feature
  lib/datadog_api_client/v2/api/dashboard_lists_api.rb
Due: generated, generated-features

add unique_alnum
  features/step_definitions/request.rb
Due: none

cassettes
  cassettes/features/v2/metrics/Create-a-Tag-Configuration-returns-Created-response.yml
  cassettes/features/v2/metrics/Delete-a-Tag-Configuration-returns-No-Content-response.yml
  cassettes/features/v2/metrics/List-Tag-Configuration-by-Name-returns-Success-response.yml
  cassettes/features/v2/metrics/List-Tag-Configurations-returns-Success-response.yml
  cassettes/features/v2/metrics/Update-a-Tag-Configuration-returns-OK-response.yml
Due: none

Fix syntax error (#8675)
  .generator/templates/partial_model_generic.mustache
Due: none

Fix syntax error (#8675)
  partial_model_generic.mustache
Due: none

Regenerate client from commit e7a07c6 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/UsageAttributionValues.md
  docs/v1/UsageBillableSummaryKeys.md
  lib/datadog_api_client/v1/models/usage_attribution_sort.rb
  lib/datadog_api_client/v1/models/usage_attribution_values.rb
  lib/datadog_api_client/v1/models/usage_billable_summary_keys.rb
Due: generated

Regenerate client from commit 3ee9214 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/GeomapWidgetDefinition.md
  docs/v1/GeomapWidgetDefinitionStyle.md
  docs/v1/GeomapWidgetDefinitionType.md
  docs/v1/GeomapWidgetDefinitionView.md
  docs/v1/GeomapWidgetRequest.md
  docs/v1/README.md
  docs/v1/WidgetDefinition.md
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/geomap_widget_definition.rb
  lib/datadog_api_client/v1/models/geomap_widget_definition_style.rb
  lib/datadog_api_client/v1/models/geomap_widget_definition_type.rb
  lib/datadog_api_client/v1/models/geomap_widget_definition_view.rb
  lib/datadog_api_client/v1/models/geomap_widget_request.rb
  lib/datadog_api_client/v1/models/widget_definition.rb
  spec/v1/models/geomap_widget_definition_spec.rb
  spec/v1/models/geomap_widget_definition_style_spec.rb
  spec/v1/models/geomap_widget_definition_type_spec.rb
  spec/v1/models/geomap_widget_definition_view_spec.rb
  spec/v1/models/geomap_widget_request_spec.rb
Due: generated

cassettes
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-a-profile-metric-query.yml
Due: none

Regenerate client from commit b7e0d58 of spec repo
  .apigentools-info
  data/v2/openapi.yaml
  docs/v2/MetricsApi.md
  lib/datadog_api_client/v2/api/metrics_api.rb
Due: generated

Regenerate client from commit b8bbf4c of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/ChangeWidgetRequest.md
  docs/v1/DistributionWidgetRequest.md
  docs/v1/HeatMapWidgetRequest.md
  docs/v1/HostMapRequest.md
  docs/v1/QueryValueWidgetRequest.md
  docs/v1/ScatterPlotRequest.md
  docs/v1/TableWidgetRequest.md
  docs/v1/TimeseriesWidgetRequest.md
  docs/v1/ToplistWidgetRequest.md
  features/v1/dashboards.feature
  lib/datadog_api_client/v1/models/change_widget_request.rb
  lib/datadog_api_client/v1/models/distribution_widget_request.rb
  lib/datadog_api_client/v1/models/heat_map_widget_request.rb
  lib/datadog_api_client/v1/models/host_map_request.rb
  lib/datadog_api_client/v1/models/query_value_widget_request.rb
  lib/datadog_api_client/v1/models/scatter_plot_request.rb
  lib/datadog_api_client/v1/models/table_widget_request.rb
  lib/datadog_api_client/v1/models/timeseries_widget_request.rb
  lib/datadog_api_client/v1/models/toplist_widget_request.rb
Due: generated, generated-features

Regenerate client from commit 153fb41 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  lib/datadog_api_client/v1/models/synthetics_assertion_type.rb
Due: generated

Regenerate client from commit 0eff793 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/MonitorsApi.md
  lib/datadog_api_client/v1/api/monitors_api.rb
Due: generated

Regenerate client from commit 12104ad of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/UsageAttributionBody.md
  lib/datadog_api_client/v1/models/usage_attribution_body.rb
Due: generated

[Ruby] force users to specify the temp folder path to address security concerns (#8730)
  api_client.mustache
  api_client_typhoeus_partial.mustache
Due: none

[Ruby] force users to specify the temp folder path to address security concerns (#8730)
  .generator/templates/api_client.mustache
  .generator/templates/api_client_typhoeus_partial.mustache
Due: none

Regenerate client from commit f5b1c64 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  data/v2/openapi.yaml
  lib/datadog_api_client/v1/configuration.rb
  lib/datadog_api_client/v2/configuration.rb
Due: generated

Regenerate client from commit 11611e4 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/MonitorsApi.md
  lib/datadog_api_client/v1/api/monitors_api.rb
  lib/datadog_api_client/v1/models/monitor_type.rb
Due: generated

Regenerate client from commit ab657a6 of spec repo
  .apigentools-info
  .openapi-generator/FILES
  data/v2/openapi.yaml
  docs/v2/README.md
  docs/v2/SecurityMonitoringRuleDetectionMethod.md
  docs/v2/SecurityMonitoringRuleNewValueOptions.md
  docs/v2/SecurityMonitoringRuleNewValueOptionsForgetAfter.md
  docs/v2/SecurityMonitoringRuleNewValueOptionsLearningDuration.md
  docs/v2/SecurityMonitoringRuleOptions.md
  lib/datadog_api_client/v2.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_detection_method.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_new_value_options.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_new_value_options_forget_after.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_new_value_options_learning_duration.rb
  spec/v2/models/security_monitoring_rule_detection_method_spec.rb
  spec/v2/models/security_monitoring_rule_new_value_options_forget_after_spec.rb
  spec/v2/models/security_monitoring_rule_new_value_options_learning_duration_spec.rb
  spec/v2/models/security_monitoring_rule_new_value_options_spec.rb
Due: generated

Revert "[Ruby] force users to specify the temp folder path to address security concerns (#8730)" (#8807)
  .generator/templates/api_client.mustache
  .generator/templates/api_client_typhoeus_partial.mustache
Due: none

Revert "[Ruby] force users to specify the temp folder path to address security concerns (#8730)" (#8807)
  api_client.mustache
  api_client_typhoeus_partial.mustache
Due: none

Regenerate client from commit 0e18234 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/SlackIntegrationApi.md
  docs/v1/SlackIntegrationChannel.md
  docs/v1/SlackIntegrationChannelDisplay.md
  features/v1/slack_integration.feature
  features/v1/undo.json
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/api/slack_integration_api.rb
  lib/datadog_api_client/v1/models/slack_integration_channel.rb
  lib/datadog_api_client/v1/models/slack_integration_channel_display.rb
  spec/v1/api/slack_integration_api_spec.rb
  spec/v1/models/slack_integration_channel_display_spec.rb
  spec/v1/models/slack_integration_channel_spec.rb
Due: generated, generated-features

Path conditions:
  generated: any of: ^lib/datadog_api_client/v[1-9].*
  generated-features: any of: ^features/v[1-9][0-9]*/.*.feature$
