Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Regenerate client from commit de2517ad of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/aws-integration/GetAWSIntegrationIAMPermissions.rb
  features/v2/aws_integration.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/aws_integration_api.rb
  lib/datadog_api_client/v2/models/aws_integration_iam_permissions_response.rb
  lib/datadog_api_client/v2/models/aws_integration_iam_permissions_response_attributes.rb
  lib/datadog_api_client/v2/models/aws_integration_iam_permissions_response_data.rb
  lib/datadog_api_client/v2/models/aws_integration_iam_permissions_response_data_type.rb
Due: generate, format-examples

Regenerate client from commit e327e6df of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/monitors/CreateMonitorNotificationRule.rb
  examples/v2/monitors/DeleteMonitorNotificationRule.rb
  examples/v2/monitors/GetMonitorNotificationRule.rb
  examples/v2/monitors/GetMonitorNotificationRules.rb
  examples/v2/monitors/UpdateMonitorNotificationRule.rb
  features/v2/monitors.feature
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/monitors_api.rb
Due: generate, format-examples

Regenerate client from commit f04c3355 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/hourly_usage_attribution_usage_type.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_supported_metrics.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_values.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
  lib/datadog_api_client/v2/api/usage_metering_api.rb
Due: generate

Regenerate client from commit 86252ae7 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/on-call/Update-On-Call-schedule-returns-OK-response.frozen
  cassettes/features/v2/on-call/Update-On-Call-schedule-returns-OK-response.yml
  examples/v2/on-call/UpdateOnCallSchedule.rb
  features/v2/on-call.feature
  lib/datadog_api_client/v2/models/layer_attributes.rb
  lib/datadog_api_client/v2/models/layer_attributes_interval.rb
  lib/datadog_api_client/v2/models/schedule_create_request_data_attributes_layers_items.rb
  lib/datadog_api_client/v2/models/schedule_update_request_data_attributes_layers_items.rb
Due: generate, format-examples

Regenerate client from commit d781944f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Array-Processor-Append-Operation-returns-OK-response.frozen
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Array-Processor-Append-Operation-returns-OK-response.yml
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Array-Processor-Append-Operation-with-preserve-source-false-returns-OK-response.frozen
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Array-Processor-Append-Operation-with-preserve-source-false-returns-OK-response.yml
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Array-Processor-Append-Operation-with-preserve-source-true-returns-OK-response.frozen
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Array-Processor-Append-Operation-with-preserve-source-true-returns-OK-response.yml
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Array-Processor-Length-Operation-returns-OK-response.frozen
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Array-Processor-Length-Operation-returns-OK-response.yml
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Array-Processor-Select-Operation-returns-OK-response.frozen
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Array-Processor-Select-Operation-returns-OK-response.yml
  examples/v1/logs-pipelines/CreateLogsPipeline_1248402480.rb
  examples/v1/logs-pipelines/CreateLogsPipeline_1267211320.rb
  examples/v1/logs-pipelines/CreateLogsPipeline_1271012410.rb
  examples/v1/logs-pipelines/CreateLogsPipeline_3314493032.rb
  examples/v1/logs-pipelines/CreateLogsPipeline_3934594739.rb
  features/v1/logs_pipelines.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/logs_array_processor.rb
  lib/datadog_api_client/v1/models/logs_array_processor_operation.rb
  lib/datadog_api_client/v1/models/logs_array_processor_operation_append.rb
  lib/datadog_api_client/v1/models/logs_array_processor_operation_append_type.rb
  lib/datadog_api_client/v1/models/logs_array_processor_operation_length.rb
  lib/datadog_api_client/v1/models/logs_array_processor_operation_length_type.rb
  lib/datadog_api_client/v1/models/logs_array_processor_operation_select.rb
  lib/datadog_api_client/v1/models/logs_array_processor_operation_select_type.rb
  lib/datadog_api_client/v1/models/logs_array_processor_type.rb
Due: generate, format-examples

Regenerate client from commit fa2473ca of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/hourly_usage_attribution_usage_type.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_supported_metrics.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_values.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
  lib/datadog_api_client/v2/api/usage_metering_api.rb
Due: generate

Regenerate client from commit d8a905f6 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/restriction_policies_api.rb
Due: generate

Regenerate client from commit b4d9ccd of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/restriction_policies_api.rb
Due: generate

Regenerate client from commit d9879085 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/on-call/Update-On-Call-schedule-returns-OK-response.frozen
  cassettes/features/v2/on-call/Update-On-Call-schedule-returns-OK-response.yml
  examples/v2/on-call/UpdateOnCallSchedule.rb
  features/v2/on-call.feature
  lib/datadog_api_client/v2/api/restriction_policies_api.rb
  lib/datadog_api_client/v2/models/layer_attributes.rb
  lib/datadog_api_client/v2/models/layer_attributes_interval.rb
  lib/datadog_api_client/v2/models/schedule_create_request_data_attributes_layers_items.rb
  lib/datadog_api_client/v2/models/schedule_update_request_data_attributes_layers_items.rb
Due: generate, format-examples

Regenerate client from commit 1832279f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/slo_response_data.rb
Due: generate

Regenerate client from commit 811e2579 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/slo_response_data.rb
Due: generate

Regenerate client from commit 6fc2e412 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/metrics/GetMetricTagCardinalityDetails.rb
  features/scenarios_model_mapping.rb
  features/v2/metrics.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/metrics_api.rb
  lib/datadog_api_client/v2/models/metric_tag_cardinalities_meta.rb
  lib/datadog_api_client/v2/models/metric_tag_cardinalities_response.rb
  lib/datadog_api_client/v2/models/metric_tag_cardinality.rb
  lib/datadog_api_client/v2/models/metric_tag_cardinality_attributes.rb
Due: generate, format-examples

Regenerate client from commit 7b042e12 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/restriction_policies_api.rb
Due: generate

Regenerate client from commit 7331abb4 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/logs_custom_destinations/Create-a-Google-Security-Operations-custom-destination-returns-OK-response.frozen
  cassettes/features/v2/logs_custom_destinations/Create-a-Google-Security-Operations-custom-destination-returns-OK-response.yml
  examples/v2/logs-custom-destinations/CreateLogsCustomDestination_1006705740.rb
  features/v2/logs_custom_destinations.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/custom_destination_forward_destination.rb
  lib/datadog_api_client/v2/models/custom_destination_forward_destination_google_security_operations.rb
  lib/datadog_api_client/v2/models/custom_destination_forward_destination_google_security_operations_type.rb
  lib/datadog_api_client/v2/models/custom_destination_google_security_operations_destination_auth.rb
  lib/datadog_api_client/v2/models/custom_destination_google_security_operations_destination_auth_type.rb
  lib/datadog_api_client/v2/models/custom_destination_response_forward_destination.rb
  lib/datadog_api_client/v2/models/custom_destination_response_forward_destination_google_security_operations.rb
  lib/datadog_api_client/v2/models/custom_destination_response_forward_destination_google_security_operations_type.rb
  lib/datadog_api_client/v2/models/custom_destination_response_google_security_operations_destination_auth.rb
  lib/datadog_api_client/v2/models/custom_destination_response_google_security_operations_destination_auth_type.rb
Due: generate, format-examples

Regenerate client from commit 8e33901f of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/events_data_source.rb
Due: generate

Regenerate client from commit d0906173 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/hourly_usage_attribution_body.rb
  lib/datadog_api_client/v1/models/hourly_usage_attribution_usage_type.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_body.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_values.rb
Due: generate

Regenerate client from commit c5b3557c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/entity_v3_api.rb
  lib/datadog_api_client/v2/models/entity_v3_api_version.rb
  lib/datadog_api_client/v2/models/entity_v3_datastore.rb
  lib/datadog_api_client/v2/models/entity_v3_queue.rb
  lib/datadog_api_client/v2/models/entity_v3_service.rb
  lib/datadog_api_client/v2/models/entity_v3_system.rb
Due: generate

Regenerate client from commit e99e5b10 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_billable_summary_body.rb
Due: generate

Regenerate client from commit 85b5b0e6 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/List-assets-SBOMs-returns-Not-found-There-is-no-request-associated-with-the-provided-token-response.frozen
  cassettes/features/v2/security_monitoring/List-assets-SBOMs-returns-Not-found-There-is-no-request-associated-with-the-provided-token-response.yml
  cassettes/features/v2/security_monitoring/List-assets-SBOMs-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/List-assets-SBOMs-returns-OK-response.yml
  examples/v2/security-monitoring/ListAssetsSBOMs.rb
  features/scenarios_model_mapping.rb
  features/v2/security_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/list_assets_sbo_ms_response.rb
  lib/datadog_api_client/v2/models/sbom_attributes.rb
  lib/datadog_api_client/v2/models/sbom_component.rb
  lib/datadog_api_client/v2/models/sbom_component_dependency.rb
  lib/datadog_api_client/v2/models/sbom_component_license.rb
  lib/datadog_api_client/v2/models/sbom_component_license_license.rb
  lib/datadog_api_client/v2/models/sbom_component_license_type.rb
  lib/datadog_api_client/v2/models/sbom_component_property.rb
  lib/datadog_api_client/v2/models/sbom_component_supplier.rb
  lib/datadog_api_client/v2/models/sbom_metadata_author.rb
  lib/datadog_api_client/v2/models/vulnerability_attributes.rb
Due: generate, format-examples

Regenerate client from commit 911f8778 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_destination_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_source_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_remap_vrl_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_remap_vrl_processor_remap.rb
  lib/datadog_api_client/v2/models/observability_pipeline_remap_vrl_processor_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_encoding.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_bytes.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_bytes_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_character_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_character_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_newline_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_newline_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_mode.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_bytes.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_bytes_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_character_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_character_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_chunked_gelf.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_chunked_gelf_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_newline_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_newline_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_octet_counting.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_octet_counting_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_mode.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_type.rb
Due: generate

Regenerate client from commit fb5c5947 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/List-assets-SBOMs-returns-Not-found-There-is-no-request-associated-with-the-provided-token-response.frozen
  cassettes/features/v2/security_monitoring/List-assets-SBOMs-returns-Not-found-There-is-no-request-associated-with-the-provided-token-response.yml
  cassettes/features/v2/security_monitoring/List-assets-SBOMs-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/List-assets-SBOMs-returns-OK-response.yml
  examples/v2/security-monitoring/ListAssetsSBOMs.rb
  features/scenarios_model_mapping.rb
  features/v2/security_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/list_assets_sbo_ms_response.rb
  lib/datadog_api_client/v2/models/sbom_attributes.rb
  lib/datadog_api_client/v2/models/sbom_component.rb
  lib/datadog_api_client/v2/models/sbom_component_dependency.rb
  lib/datadog_api_client/v2/models/sbom_component_license.rb
  lib/datadog_api_client/v2/models/sbom_component_license_license.rb
  lib/datadog_api_client/v2/models/sbom_component_license_type.rb
  lib/datadog_api_client/v2/models/sbom_component_property.rb
  lib/datadog_api_client/v2/models/sbom_component_supplier.rb
  lib/datadog_api_client/v2/models/sbom_metadata_author.rb
  lib/datadog_api_client/v2/models/vulnerability_attributes.rb
Due: generate, format-examples

Regenerate client from commit fe6b4ea7 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 2b1fa27a of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/events_api.rb
Due: generate

Regenerate client from commit b9e8241d of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/synthetics/Create-a-FIDO-global-variable-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Create-a-FIDO-global-variable-returns-OK-response.yml
  cassettes/features/v1/synthetics/Create-a-TOTP-global-variable-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Create-a-TOTP-global-variable-returns-OK-response.yml
  cassettes/features/v1/synthetics/Create-a-global-variable-from-test-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Create-a-global-variable-from-test-returns-OK-response.yml
  cassettes/features/v1/synthetics/Create-an-API-SSL-test-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-SSL-test-returns-OK-Returns-the-created-test-details-response.yml
  cassettes/features/v1/synthetics/Create-an-API-test-with-multi-subtype-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-test-with-multi-subtype-returns-OK-Returns-the-created-test-details-response.yml
  examples/v1/synthetics/CreateSyntheticsAPITest_1072503741.rb
  examples/v1/synthetics/CreateSyntheticsAPITest_1279271422.rb
  features/v1/given.json
  features/v1/synthetics.feature
  features/v1/synthetics_api_ssl_test_payload.json
  features/v1/synthetics_api_test_multi_step_payload.json
  lib/datadog_api_client/v1/models/synthetics_test_options.rb
  lib/datadog_api_client/v1/models/synthetics_test_request.rb
Due: generate, format-examples

Regenerate client from commit b659902a of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/datasets/CreateDataset.rb
  examples/v2/datasets/DeleteDataset.rb
  examples/v2/datasets/GetAllDatasets.rb
  examples/v2/datasets/GetDataset.rb
  features/scenarios_model_mapping.rb
  features/v2/datasets.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/datasets_api.rb
  lib/datadog_api_client/v2/models/dataset.rb
  lib/datadog_api_client/v2/models/dataset_attributes.rb
  lib/datadog_api_client/v2/models/dataset_create_request.rb
  lib/datadog_api_client/v2/models/dataset_response_multi.rb
  lib/datadog_api_client/v2/models/dataset_response_single.rb
  lib/datadog_api_client/v2/models/filters_per_product.rb
Due: generate, format-examples

use base branch
  .github/workflows/test.yml
Due: none

updated review context
  .github/workflows/approved_status.yml
Due: none

Regenerate client from commit 8be7a49 of spec repo
  .generator/schemas/v1/openapi.yaml
Due: generate

Revert "[AAWF-509] Migrate all of the clients to single generator (#2523)"
  .github/workflows/approved_status.yml
  .github/workflows/test.yml
Due: none

Regenerate client from commit b5c3e077 of spec repo
  .apigentools-info
Due: none

Regenerate client from commit a5e8c5b3 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/datasets/CreateDataset.rb
  examples/v2/datasets/DeleteDataset.rb
  examples/v2/datasets/GetAllDatasets.rb
  examples/v2/datasets/GetDataset.rb
  features/scenarios_model_mapping.rb
  features/v2/datasets.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/datasets_api.rb
  lib/datadog_api_client/v2/models/dataset.rb
  lib/datadog_api_client/v2/models/dataset_attributes.rb
  lib/datadog_api_client/v2/models/dataset_create_request.rb
  lib/datadog_api_client/v2/models/dataset_response_multi.rb
  lib/datadog_api_client/v2/models/dataset_response_single.rb
  lib/datadog_api_client/v2/models/filters_per_product.rb
Due: generate, format-examples

Regenerate client from commit 36ebfd8 of spec repo
  .generated-info
Due: none

Regenerate client from commit bb240c6 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/events_api.rb
Due: generate

remove legacy info file
  .apigentools-info
Due: none

remove legacy info file (#2535)
  .apigentools-info
Due: none

Bump versions and add changelog entries.
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
