Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

Regenerate client from commit 7f05c75 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/hourly_usage_attribution_usage_type.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_supported_metrics.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_values.rb
Due: generate

Regenerate client from commit ae32bf6 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/api/synthetics_api.rb
  lib/datadog_api_client/v1/models/synthetics_list_tests_response.rb
  lib/datadog_api_client/v1/models/synthetics_test_details_without_steps.rb
Due: generate

Regenerate client from commit c794ec1 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/synthetics/PatchGlobalVariable.rb
  features/scenarios_model_mapping.rb
  features/v2/synthetics.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/synthetics_api.rb
  lib/datadog_api_client/v2/models/global_variable_data.rb
  lib/datadog_api_client/v2/models/global_variable_json_patch_request.rb
  lib/datadog_api_client/v2/models/global_variable_json_patch_request_data.rb
  lib/datadog_api_client/v2/models/global_variable_json_patch_request_data_attributes.rb
  lib/datadog_api_client/v2/models/global_variable_json_patch_type.rb
  lib/datadog_api_client/v2/models/global_variable_response.rb
  lib/datadog_api_client/v2/models/global_variable_type.rb
  lib/datadog_api_client/v2/models/json_patch_operation.rb
  lib/datadog_api_client/v2/models/json_patch_operation_op.rb
  lib/datadog_api_client/v2/models/synthetics_global_variable.rb
  lib/datadog_api_client/v2/models/synthetics_global_variable_attributes.rb
  lib/datadog_api_client/v2/models/synthetics_global_variable_options.rb
  lib/datadog_api_client/v2/models/synthetics_global_variable_parse_test_options.rb
  lib/datadog_api_client/v2/models/synthetics_global_variable_parse_test_options_type.rb
  lib/datadog_api_client/v2/models/synthetics_global_variable_parser_type.rb
  lib/datadog_api_client/v2/models/synthetics_global_variable_totp_parameters.rb
  lib/datadog_api_client/v2/models/synthetics_global_variable_value.rb
  lib/datadog_api_client/v2/models/synthetics_variable_parser.rb
Due: generate, format-examples

Regenerate client from commit f8fc4c1 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/dora_deployment_request_attributes.rb
  lib/datadog_api_client/v2/models/dora_failure_request_attributes.rb
Due: generate

Regenerate client from commit 9f53851 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/synthetics/Search-Synthetics-suites-returns-OK-response.frozen
  cassettes/features/v2/synthetics/Search-Synthetics-suites-returns-OK-response.yml
  cassettes/features/v2/synthetics/Synthetics-Create-a-test-suite-returns-OK-response.frozen
  cassettes/features/v2/synthetics/Synthetics-Create-a-test-suite-returns-OK-response.yml
  examples/v2/synthetics/CreateSyntheticsSuite.rb
  examples/v2/synthetics/DeleteSyntheticsSuites.rb
  examples/v2/synthetics/EditSyntheticsSuite.rb
  examples/v2/synthetics/GetSyntheticsSuite.rb
  examples/v2/synthetics/SearchSuites.rb
  features/scenarios_model_mapping.rb
  features/v2/synthetics.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/synthetics_api.rb
  lib/datadog_api_client/v2/models/deleted_suite_response_data.rb
  lib/datadog_api_client/v2/models/deleted_suite_response_data_attributes.rb
  lib/datadog_api_client/v2/models/deleted_suites_request_delete.rb
  lib/datadog_api_client/v2/models/deleted_suites_request_delete_attributes.rb
  lib/datadog_api_client/v2/models/deleted_suites_request_delete_request.rb
  lib/datadog_api_client/v2/models/deleted_suites_request_type.rb
  lib/datadog_api_client/v2/models/deleted_suites_response.rb
  lib/datadog_api_client/v2/models/suite_create_edit.rb
  lib/datadog_api_client/v2/models/suite_create_edit_request.rb
  lib/datadog_api_client/v2/models/suite_search_response_type.rb
  lib/datadog_api_client/v2/models/synthetics_suite.rb
  lib/datadog_api_client/v2/models/synthetics_suite_options.rb
  lib/datadog_api_client/v2/models/synthetics_suite_response.rb
  lib/datadog_api_client/v2/models/synthetics_suite_response_data.rb
  lib/datadog_api_client/v2/models/synthetics_suite_search_response.rb
  lib/datadog_api_client/v2/models/synthetics_suite_search_response_data.rb
  lib/datadog_api_client/v2/models/synthetics_suite_search_response_data_attributes.rb
  lib/datadog_api_client/v2/models/synthetics_suite_test.rb
  lib/datadog_api_client/v2/models/synthetics_suite_test_alerting_criticality.rb
  lib/datadog_api_client/v2/models/synthetics_suite_type.rb
  lib/datadog_api_client/v2/models/synthetics_suite_types.rb
Due: generate, format-examples

Regenerate client from commit 83ecf74 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
Due: generate

Bump versions and add changelog entries.
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit 548f796 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/aws_integration/Create-an-AWS-account-returns-AWS-Account-object-response.frozen
  cassettes/features/v2/aws_integration/Create-an-AWS-account-returns-AWS-Account-object-response.yml
  cassettes/features/v2/aws_integration/Create-an-AWS-integration-returns-AWS-Account-object-response.frozen
  cassettes/features/v2/aws_integration/Create-an-AWS-integration-returns-AWS-Account-object-response.yml
  cassettes/features/v2/aws_integration/Create-an-AWS-integration-returns-Bad-Request-response.frozen
  cassettes/features/v2/aws_integration/Create-an-AWS-integration-returns-Bad-Request-response.yml
  cassettes/features/v2/aws_integration/Update-an-AWS-integration-returns-AWS-Account-object-response.frozen
  cassettes/features/v2/aws_integration/Update-an-AWS-integration-returns-AWS-Account-object-response.yml
  cassettes/features/v2/aws_integration/Update-an-AWS-integration-returns-Bad-Request-response.frozen
  cassettes/features/v2/aws_integration/Update-an-AWS-integration-returns-Bad-Request-response.yml
  cassettes/features/v2/aws_integration/Update-an-AWS-integration-returns-Not-Found-response.frozen
  cassettes/features/v2/aws_integration/Update-an-AWS-integration-returns-Not-Found-response.yml
  examples/v2/aws-integration/CreateAWSAccount.rb
  examples/v2/aws-integration/CreateAWSAccount_1716720881.rb
  examples/v2/aws-integration/UpdateAWSAccount.rb
  features/v2/aws_integration.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/aws_account_create_request_attributes.rb
  lib/datadog_api_client/v2/models/aws_account_response_attributes.rb
  lib/datadog_api_client/v2/models/aws_account_update_request_attributes.rb
  lib/datadog_api_client/v2/models/awsccm_config.rb
  lib/datadog_api_client/v2/models/data_export_config.rb
Due: generate, format-examples

Regenerate client from commit 0a38908 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/reference-tables/UpsertRows.rb
  features/v2/reference_tables.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/batch_upsert_rows_request_data_attributes.rb
  lib/datadog_api_client/v2/models/batch_upsert_rows_request_data_attributes_value.rb
Due: generate, format-examples

Regenerate client from commit d46daf7 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/reference-tables/UpdateReferenceTable.rb
  features/v2/reference_tables.feature
  lib/datadog_api_client/v2/models/patch_table_request_data_attributes.rb
Due: generate, format-examples

Regenerate client from commit d83341f of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-distribution-widget-with-markers-and-num-buckets.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-distribution-widget-with-markers-and-num-buckets.yml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-formula-and-function-distribution-widget.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-formula-and-function-distribution-widget.yml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-heatmap-widget-with-markers-and-num-buckets.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-heatmap-widget-with-markers-and-num-buckets.yml
  examples/v1/dashboards/CreateDashboard_1093147852.rb
  examples/v1/dashboards/CreateDashboard_1442588603.rb
  examples/v1/dashboards/CreateDashboard_1617893815.rb
  examples/v1/dashboards/CreateDashboard_252716965.rb
  examples/v1/dashboards/CreateDashboard_2823363212.rb
  examples/v1/dashboards/CreateDashboard_3882428227.rb
  features/v1/dashboards.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/distribution_widget_request.rb
  lib/datadog_api_client/v1/models/heat_map_widget_definition.rb
  lib/datadog_api_client/v1/models/heat_map_widget_request.rb
  lib/datadog_api_client/v1/models/heat_map_widget_x_axis.rb
  lib/datadog_api_client/v1/models/widget_histogram_request_type.rb
  lib/datadog_api_client/v1/models/widget_marker.rb
Due: generate, format-examples

Regenerate client from commit 07e8561 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/fleet_automation_api.rb
Due: generate

Regenerate client from commit ac4e81b of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/widget_time.rb
Due: generate

Regenerate client from commit a8db8b5 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/spa/GetSPARecommendations.rb
  examples/v2/spa/GetSPARecommendationsWithShard.rb
  features/scenarios_model_mapping.rb
  features/v2/spa.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/spa_api.rb
  lib/datadog_api_client/v2/models/recommendation_attributes.rb
Due: generate, format-examples

Regenerate client from commit 2ce6d32 of spec repo
  .generator/schemas/v1/openapi.yaml
  examples/v1/service-level-objectives/CreateSLO_512760759.rb
  features/v1/service_level_objectives.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/service_level_objective.rb
  lib/datadog_api_client/v1/models/service_level_objective_request.rb
  lib/datadog_api_client/v1/models/slo_count_definition.rb
  lib/datadog_api_client/v1/models/slo_count_spec.rb
  lib/datadog_api_client/v1/models/slo_response_data.rb
  lib/datadog_api_client/v1/models/slo_sli_spec.rb
Due: generate, format-examples

Regenerate client from commit 221df34 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/ListSecurityFindings.rb
  examples/v2/security-monitoring/ListSecurityFindings_2925663885.rb
  examples/v2/security-monitoring/SearchSecurityFindings.rb
  examples/v2/security-monitoring/SearchSecurityFindings_3678541639.rb
  features/v2/security_monitoring.feature
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
Due: generate, format-examples

Regenerate client from commit c6dcde6 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/on_call_api.rb
Due: generate

Regenerate client from commit 4e30ce0 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/aws_integration/Create-an-AWS-account-returns-AWS-Account-object-response.frozen
  cassettes/features/v2/aws_integration/Create-an-AWS-account-returns-AWS-Account-object-response.yml
  cassettes/features/v2/aws_integration/Create-an-AWS-integration-returns-AWS-Account-object-response.frozen
  cassettes/features/v2/aws_integration/Create-an-AWS-integration-returns-AWS-Account-object-response.yml
  cassettes/features/v2/aws_integration/Create-an-AWS-integration-returns-Bad-Request-response.frozen
  cassettes/features/v2/aws_integration/Create-an-AWS-integration-returns-Bad-Request-response.yml
  cassettes/features/v2/aws_integration/Update-an-AWS-integration-returns-AWS-Account-object-response.frozen
  cassettes/features/v2/aws_integration/Update-an-AWS-integration-returns-AWS-Account-object-response.yml
  cassettes/features/v2/aws_integration/Update-an-AWS-integration-returns-Bad-Request-response.frozen
  cassettes/features/v2/aws_integration/Update-an-AWS-integration-returns-Bad-Request-response.yml
  cassettes/features/v2/aws_integration/Update-an-AWS-integration-returns-Not-Found-response.frozen
  cassettes/features/v2/aws_integration/Update-an-AWS-integration-returns-Not-Found-response.yml
  examples/v2/aws-integration/CreateAWSAccount.rb
  examples/v2/aws-integration/CreateAWSAccount_1716720881.rb
  examples/v2/aws-integration/UpdateAWSAccount.rb
  features/v2/aws_integration.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/aws_account_create_request_attributes.rb
  lib/datadog_api_client/v2/models/aws_account_response_attributes.rb
  lib/datadog_api_client/v2/models/aws_account_update_request_attributes.rb
  lib/datadog_api_client/v2/models/awsccm_config.rb
  lib/datadog_api_client/v2/models/data_export_config.rb
Due: generate, format-examples

Regenerate client from commit aa13f77 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/events_api.rb
Due: generate

Regenerate client from commit ecae416 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/monitors/Create-a-Data-Quality-monitor-returns-OK-response.frozen
  cassettes/features/v1/monitors/Create-a-Data-Quality-monitor-returns-OK-response.yml
  examples/v1/monitors/CreateMonitor_3626832481.rb
  features/v1/monitors.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_data_quality_data_source.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_data_quality_model_type_override.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_data_quality_monitor_options.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_data_quality_query_definition.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_query_definition.rb
  lib/datadog_api_client/v1/models/monitor_type.rb
Due: generate, format-examples

Regenerate client from commit 3f138b3 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
Due: generate

Regenerate client from commit 081afac of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/spa/GetSPARecommendations.rb
  examples/v2/spa/GetSPARecommendationsWithShard.rb
  features/scenarios_model_mapping.rb
  features/v2/spa.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/spa_api.rb
  lib/datadog_api_client/v2/models/recommendation_attributes.rb
Due: generate, format-examples

Regenerate client from commit 65d1124 of spec repo
  features/v2/rum_audience_management.feature
Due: none

Regenerate client from commit 7904dfb of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-distribution-widget-with-markers-and-num-buckets.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-distribution-widget-with-markers-and-num-buckets.yml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-formula-and-function-distribution-widget.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-formula-and-function-distribution-widget.yml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-heatmap-widget-with-markers-and-num-buckets.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-heatmap-widget-with-markers-and-num-buckets.yml
  examples/v1/dashboards/CreateDashboard_1093147852.rb
  examples/v1/dashboards/CreateDashboard_1442588603.rb
  examples/v1/dashboards/CreateDashboard_1617893815.rb
  examples/v1/dashboards/CreateDashboard_252716965.rb
  examples/v1/dashboards/CreateDashboard_2823363212.rb
  examples/v1/dashboards/CreateDashboard_3882428227.rb
  features/v1/dashboards.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/distribution_widget_request.rb
  lib/datadog_api_client/v1/models/heat_map_widget_definition.rb
  lib/datadog_api_client/v1/models/heat_map_widget_request.rb
  lib/datadog_api_client/v1/models/heat_map_widget_x_axis.rb
  lib/datadog_api_client/v1/models/widget_histogram_request_type.rb
  lib/datadog_api_client/v1/models/widget_marker.rb
Due: generate, format-examples

Regenerate client from commit c511989 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/v2/gcp_integration.feature
  lib/datadog_api_client/v2/models/gcpsts_service_account_attributes.rb
Due: generate

Regenerate client from commit d33e689 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/heat_map_widget_x_axis.rb
Due: generate

Regenerate client from commit db113ff of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/on_call_api.rb
Due: generate

Regenerate client from commit d8e6baf of spec repo
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
Due: generate
