Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Regenerate client from commit e12aeab9 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/v2/service_definition.feature
Due: generate

Regenerate client from commit 8cb3faac of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/azure_integration/Delete-an-Azure-integration-returns-OK-response.frozen
  cassettes/features/v1/azure_integration/Delete-an-Azure-integration-returns-OK-response.yml
  cassettes/features/v1/azure_integration/Update-an-Azure-integration-returns-OK-response.frozen
  cassettes/features/v1/azure_integration/Update-an-Azure-integration-returns-OK-response.yml
  examples/v1/azure-integration/UpdateAzureHostFilters.rb
  examples/v1/azure-integration/UpdateAzureIntegration.rb
  features/v1/azure_integration.feature
  features/v1/given.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/azure_account.rb
  lib/datadog_api_client/v1/models/resource_provider_config.rb
Due: generate, format-examples

Regenerate client from commit 3f22290a of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/usage_metering_api.rb
Due: generate

Regenerate client from commit 5dd2cbe4 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Get-a-job-s-details-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Get-a-job-s-details-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/List-historical-jobs-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/List-historical-jobs-returns-OK-response.yml
  examples/v2/security-monitoring/RunHistoricalJob.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/historical_job_options.rb
  lib/datadog_api_client/v2/models/historical_job_query.rb
  lib/datadog_api_client/v2/models/job_definition.rb
  lib/datadog_api_client/v2/models/security_monitoring_reference_table.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_case_create.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_evaluation_window.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_impossible_travel_options.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_keep_alive.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_new_value_options.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_third_party_options.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_update_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_rule_create_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_rule_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_rule_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_create_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_test_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_third_party_rule_case_create.rb
Due: generate, format-examples

Regenerate client from commit e2cc2df0 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/agentless_scanning/Get-AWS-Scan-Options-returns-OK-response.frozen
  cassettes/features/v2/agentless_scanning/Get-AWS-Scan-Options-returns-OK-response.yml
  examples/v2/agentless-scanning/ListAwsScanOptions.rb
  features/v2/agentless_scanning.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/agentless_scanning_api.rb
  lib/datadog_api_client/v2/models/aws_scan_options_attributes.rb
  lib/datadog_api_client/v2/models/aws_scan_options_data.rb
  lib/datadog_api_client/v2/models/aws_scan_options_response.rb
  lib/datadog_api_client/v2/models/aws_scan_options_type.rb
Due: generate, format-examples

Regenerate client from commit 601229dc of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/csm_coverage_analysis/Get-the-CSM-Cloud-Accounts-Coverage-Analysis-returns-OK-response.frozen
  cassettes/features/v2/csm_coverage_analysis/Get-the-CSM-Cloud-Accounts-Coverage-Analysis-returns-OK-response.yml
  cassettes/features/v2/csm_coverage_analysis/Get-the-CSM-Hosts-and-Containers-Coverage-Analysis-returns-OK-response.frozen
  cassettes/features/v2/csm_coverage_analysis/Get-the-CSM-Hosts-and-Containers-Coverage-Analysis-returns-OK-response.yml
  cassettes/features/v2/csm_coverage_analysis/Get-the-CSM-Serverless-Coverage-Analysis-returns-OK-response.frozen
  cassettes/features/v2/csm_coverage_analysis/Get-the-CSM-Serverless-Coverage-Analysis-returns-OK-response.yml
  examples/v2/csm-coverage-analysis/GetCSMCloudAccountsCoverageAnalysis.rb
  examples/v2/csm-coverage-analysis/GetCSMHostsAndContainersCoverageAnalysis.rb
  examples/v2/csm-coverage-analysis/GetCSMServerlessCoverageAnalysis.rb
  features/v2/csm_coverage_analysis.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/csm_coverage_analysis_api.rb
  lib/datadog_api_client/v2/models/csm_cloud_accounts_coverage_analysis_attributes.rb
  lib/datadog_api_client/v2/models/csm_cloud_accounts_coverage_analysis_data.rb
  lib/datadog_api_client/v2/models/csm_cloud_accounts_coverage_analysis_response.rb
  lib/datadog_api_client/v2/models/csm_coverage_analysis.rb
  lib/datadog_api_client/v2/models/csm_hosts_and_containers_coverage_analysis_attributes.rb
  lib/datadog_api_client/v2/models/csm_hosts_and_containers_coverage_analysis_data.rb
  lib/datadog_api_client/v2/models/csm_hosts_and_containers_coverage_analysis_response.rb
  lib/datadog_api_client/v2/models/csm_serverless_coverage_analysis_attributes.rb
  lib/datadog_api_client/v2/models/csm_serverless_coverage_analysis_data.rb
  lib/datadog_api_client/v2/models/csm_serverless_coverage_analysis_response.rb
Due: generate, format-examples

Regenerate client from commit b13f9fae of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/monitors/Get-all-monitors-returns-Bad-Request-response.frozen
  cassettes/features/v1/monitors/Get-all-monitors-returns-Bad-Request-response.yml
  cassettes/features/v1/monitors/Get-all-monitors-returns-OK-response-with-pagination.frozen
  cassettes/features/v1/monitors/Get-all-monitors-returns-OK-response-with-pagination.yml
  examples/v1/monitors/ListMonitors.rb
  examples/v1/monitors/ListMonitors_2154432960.rb
  examples/v1/monitors/ListMonitors_463213563.rb
  features/v1/monitors.feature
  lib/datadog_api_client/v1/api/monitors_api.rb
Due: generate, format-examples

remove app_deployment
  features/v2/app_deployment.feature
Due: none

Regenerate client from commit 264ad912 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/jsonapi_error_item_source.rb
Due: generate

Regenerate client from commit 19946d35 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/synthetics/Create-a-browser-test-returns-OK-Returns-saved-rumSettings-response.frozen
  cassettes/features/v1/synthetics/Create-a-browser-test-returns-OK-Returns-saved-rumSettings-response.yml
  features/v1/synthetics.feature
  lib/datadog_api_client/v1/models/synthetics_step.rb
Due: generate

Regenerate client from commit 9d0fb25e of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/dashboard.rb
Due: generate

Regenerate client from commit b4e964b3 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Create-a-suppression-rule-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Create-a-suppression-rule-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Create-a-suppression-rule-with-an-exclusion-query-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Create-a-suppression-rule-with-an-exclusion-query-returns-OK-response.yml
  examples/v2/security-monitoring/CreateSecurityMonitoringSuppression.rb
  examples/v2/security-monitoring/CreateSecurityMonitoringSuppression_3192265332.rb
  features/v2/security_monitoring.feature
  lib/datadog_api_client/v2/models/security_monitoring_suppression_attributes.rb
  lib/datadog_api_client/v2/models/security_monitoring_suppression_create_attributes.rb
  lib/datadog_api_client/v2/models/security_monitoring_suppression_update_attributes.rb
Due: generate, format-examples

Regenerate client from commit bc53c28f of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/csm_coverage_analysis/Get-the-CSM-Cloud-Accounts-Coverage-Analysis-returns-OK-response.frozen
  cassettes/features/v2/csm_coverage_analysis/Get-the-CSM-Cloud-Accounts-Coverage-Analysis-returns-OK-response.yml
  cassettes/features/v2/csm_coverage_analysis/Get-the-CSM-Hosts-and-Containers-Coverage-Analysis-returns-OK-response.frozen
  cassettes/features/v2/csm_coverage_analysis/Get-the-CSM-Hosts-and-Containers-Coverage-Analysis-returns-OK-response.yml
  cassettes/features/v2/csm_coverage_analysis/Get-the-CSM-Serverless-Coverage-Analysis-returns-OK-response.frozen
  cassettes/features/v2/csm_coverage_analysis/Get-the-CSM-Serverless-Coverage-Analysis-returns-OK-response.yml
  examples/v2/csm-coverage-analysis/GetCSMCloudAccountsCoverageAnalysis.rb
  examples/v2/csm-coverage-analysis/GetCSMHostsAndContainersCoverageAnalysis.rb
  examples/v2/csm-coverage-analysis/GetCSMServerlessCoverageAnalysis.rb
  features/v2/csm_coverage_analysis.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/csm_coverage_analysis_api.rb
  lib/datadog_api_client/v2/models/csm_cloud_accounts_coverage_analysis_attributes.rb
  lib/datadog_api_client/v2/models/csm_cloud_accounts_coverage_analysis_data.rb
  lib/datadog_api_client/v2/models/csm_cloud_accounts_coverage_analysis_response.rb
  lib/datadog_api_client/v2/models/csm_coverage_analysis.rb
  lib/datadog_api_client/v2/models/csm_hosts_and_containers_coverage_analysis_attributes.rb
  lib/datadog_api_client/v2/models/csm_hosts_and_containers_coverage_analysis_data.rb
  lib/datadog_api_client/v2/models/csm_hosts_and_containers_coverage_analysis_response.rb
  lib/datadog_api_client/v2/models/csm_serverless_coverage_analysis_attributes.rb
  lib/datadog_api_client/v2/models/csm_serverless_coverage_analysis_data.rb
  lib/datadog_api_client/v2/models/csm_serverless_coverage_analysis_response.rb
Due: generate, format-examples

Regenerate client from commit 45b6b857 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-cost-management/CreateCostGCPUsageCostConfig.rb
  examples/v2/cloud-cost-management/DeleteCostGCPUsageCostConfig.rb
  examples/v2/cloud-cost-management/ListCostGCPUsageCostConfigs.rb
  examples/v2/cloud-cost-management/UpdateCostGCPUsageCostConfig.rb
  features/scenarios_model_mapping.rb
  features/v2/cloud_cost_management.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/cloud_cost_management_api.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_attributes.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_patch_data.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_patch_request.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_patch_request_attributes.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_patch_request_type.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_post_data.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_post_request.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_post_request_attributes.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_post_request_type.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_response.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_type.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_configs_response.rb
Due: generate, format-examples

Regenerate client from commit 733cf3ea of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/v2/api/restriction_policies_api.rb
Due: generate

migrate Datadog Test Optimization setup to use the new datadog-ci gem
  .github/workflows/test.yml
  Gemfile
  LICENSE-3rdparty.csv
  features/support/env.rb
Due: none

Regenerate client from commit 50c16e5f of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/logs/ListLogsGet.rb
  examples/v2/logs/ListLogsGet_175182691.rb
  examples/v2/logs/ListLogs_3400928236.rb
  examples/v2/logs/ListLogs_534975433.rb
  features/v2/logs.feature
  lib/datadog_api_client/v2/api/logs_api.rb
Due: generate, format-examples

Regenerate client from commit 08abd462 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit ed2af53b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/v2/api/restriction_policies_api.rb
Due: generate

Regenerate client from commit 24e28b93 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/v2/api/restriction_policies_api.rb
Due: generate

Regenerate client from commit b56ea2d7 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/jsonapi_error_item_source.rb
Due: generate

Regenerate client from commit d63fa330 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/dashboard.rb
Due: generate

Regenerate client from commit 1920836f of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/agentless_scanning/Get-AWS-Scan-Options-returns-OK-response.frozen
  cassettes/features/v2/agentless_scanning/Get-AWS-Scan-Options-returns-OK-response.yml
  examples/v2/agentless-scanning/ListAwsScanOptions.rb
  features/v2/agentless_scanning.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/agentless_scanning_api.rb
  lib/datadog_api_client/v2/models/aws_scan_options_attributes.rb
  lib/datadog_api_client/v2/models/aws_scan_options_data.rb
  lib/datadog_api_client/v2/models/aws_scan_options_response.rb
  lib/datadog_api_client/v2/models/aws_scan_options_type.rb
Due: generate, format-examples

remove apps.feature
  features/v2/apps.feature
Due: none

Regenerate client from commit 07ed2f56 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit 435429e0 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/monitors/Get-all-monitors-returns-Bad-Request-response.frozen
  cassettes/features/v1/monitors/Get-all-monitors-returns-Bad-Request-response.yml
  cassettes/features/v1/monitors/Get-all-monitors-returns-OK-response-with-pagination.frozen
  cassettes/features/v1/monitors/Get-all-monitors-returns-OK-response-with-pagination.yml
  examples/v1/monitors/ListMonitors.rb
  examples/v1/monitors/ListMonitors_2154432960.rb
  examples/v1/monitors/ListMonitors_463213563.rb
  features/v1/monitors.feature
  lib/datadog_api_client/v1/api/monitors_api.rb
Due: generate, format-examples

Regenerate client from commit 8d40e082 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  features/v1/events.feature
  features/v2/events.feature
Due: generate

Regenerate client from commit cf3ae49b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/spans_api.rb
Due: generate

Regenerate client from commit 2f8c42a8 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/logs-pipelines/CreateLogsPipeline.rb
  examples/v1/logs-pipelines/UpdateLogsPipeline.rb
  features/v1/logs_pipelines.feature
  lib/datadog_api_client/v1/models/logs_pipeline.rb
Due: generate, format-examples

Regenerate client from commit be17a7b8 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/logs-pipelines/CreateLogsPipeline.rb
  examples/v1/logs-pipelines/UpdateLogsPipeline.rb
  features/v1/logs_pipelines.feature
  lib/datadog_api_client/v1/models/logs_pipeline.rb
Due: generate, format-examples

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
