Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Bump versions and add changelog entries.
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit c7d416f of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/restriction_policies_api.rb
Due: generate

Regenerate client from commit 3711875 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/GetSecretsRules.rb
  examples/v2/security-monitoring/ListMultipleRulesets.rb
  features/scenarios_model_mapping.rb
  features/v2/security_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_request.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_request_data.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_request_data_attributes.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_request_data_type.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_response.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_response_data.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_response_data_attributes.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_response_data_attributes_rulesets_items.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_response_data_attributes_rulesets_items_data.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_response_data_attributes_rulesets_items_data_type.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_response_data_attributes_rulesets_items_rules_items.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_response_data_attributes_rulesets_items_rules_items_arguments_items.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_response_data_attributes_rulesets_items_rules_items_data.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_response_data_attributes_rulesets_items_rules_items_data_type.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_response_data_attributes_rulesets_items_rules_items_tests_items.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_response_data_type.rb
  lib/datadog_api_client/v2/models/secret_rule_array.rb
  lib/datadog_api_client/v2/models/secret_rule_data.rb
  lib/datadog_api_client/v2/models/secret_rule_data_attributes.rb
  lib/datadog_api_client/v2/models/secret_rule_data_attributes_match_validation.rb
  lib/datadog_api_client/v2/models/secret_rule_data_attributes_match_validation_invalid_http_status_code_items.rb
  lib/datadog_api_client/v2/models/secret_rule_data_attributes_match_validation_valid_http_status_code_items.rb
  lib/datadog_api_client/v2/models/secret_rule_data_type.rb
Due: generate, format-examples

Regenerate client from commit 95b8434 of spec repo
  features/v2/data_deletion.feature
Due: none

Regenerate client from commit e31a80b of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/aws_integration_api.rb
  lib/datadog_api_client/v1/api/aws_logs_integration_api.rb
  lib/datadog_api_client/v1/models/aws_account.rb
Due: generate

Regenerate client from commit deafda3 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/events_api.rb
Due: generate

Regenerate client from commit 8507789 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/aws_integration_api.rb
Due: generate

Regenerate client from commit 5ba3857 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/formula_and_function_events_data_source.rb
Due: generate

Regenerate client from commit ec89ca1 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/v2/reference_tables.feature
Due: generate

Regenerate client from commit a7c729e of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/software-catalog/PreviewCatalogEntities.rb
  features/v2/software_catalog.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/software_catalog_api.rb
  lib/datadog_api_client/v2/models/entity_response_array.rb
  lib/datadog_api_client/v2/models/entity_response_data_attributes.rb
  lib/datadog_api_client/v2/models/entity_response_data_relationships.rb
  lib/datadog_api_client/v2/models/entity_response_data_relationships_incidents.rb
  lib/datadog_api_client/v2/models/entity_response_data_relationships_incidents_data_items.rb
  lib/datadog_api_client/v2/models/entity_response_data_relationships_incidents_data_items_type.rb
  lib/datadog_api_client/v2/models/entity_response_data_relationships_oncalls.rb
  lib/datadog_api_client/v2/models/entity_response_data_relationships_oncalls_data_items.rb
  lib/datadog_api_client/v2/models/entity_response_data_relationships_oncalls_data_items_type.rb
  lib/datadog_api_client/v2/models/entity_response_data_relationships_raw_schema.rb
  lib/datadog_api_client/v2/models/entity_response_data_relationships_raw_schema_data.rb
  lib/datadog_api_client/v2/models/entity_response_data_relationships_raw_schema_data_type.rb
  lib/datadog_api_client/v2/models/entity_response_data_relationships_related_entities.rb
  lib/datadog_api_client/v2/models/entity_response_data_relationships_related_entities_data_items.rb
  lib/datadog_api_client/v2/models/entity_response_data_relationships_related_entities_data_items_type.rb
  lib/datadog_api_client/v2/models/entity_response_data_relationships_schema.rb
  lib/datadog_api_client/v2/models/entity_response_data_relationships_schema_data.rb
  lib/datadog_api_client/v2/models/entity_response_data_relationships_schema_data_type.rb
  lib/datadog_api_client/v2/models/entity_response_data_type.rb
  lib/datadog_api_client/v2/models/preview_entity_response_data.rb
Due: generate, format-examples

Regenerate client from commit 8386a26 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/v2/api/reference_tables_api.rb
Due: generate

Regenerate client from commit e8e45fc of spec repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
  lib/datadog_api_client/v2/api/usage_metering_api.rb
Due: generate

Regenerate client from commit 23b5e7e of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/metrics_api.rb
Due: generate

Regenerate client from commit f47923e of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/observability_pipeline_add_env_vars_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_processor_group.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_processors.rb
  lib/datadog_api_client/v2/models/observability_pipeline_custom_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_datadog_tags_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_dedupe_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_enrichment_table_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_filter_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_generate_metrics_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_ocsf_mapper_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_parse_grok_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_parse_json_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_quota_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_reduce_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_remove_fields_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_rename_fields_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_sample_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_sensitive_data_scanner_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_throttle_processor.rb
Due: generate

Regenerate client from commit e470158 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit ada708b of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/incidents_api.rb
Due: generate

Regenerate client from commit 160a422 of spec repo
  features/v2/monitors.feature
Due: none

Regenerate client from commit 901655b of spec repo
  features/v2/monitors.feature
Due: none

Regenerate client from commit 3c17510 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/table_result_v2_data_attributes_file_metadata_cloud_storage.rb
  lib/datadog_api_client/v2/models/table_result_v2_data_attributes_file_metadata_local_file.rb
Due: generate

Regenerate client from commit 12a343e of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/user_attributes.rb
Due: generate

Regenerate client from commit 77956c4 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/logs-restriction-queries/AddRoleToRestrictionQuery.rb
  examples/v2/logs-restriction-queries/AddRoleToRestrictionQuery_3894482781.rb
  examples/v2/logs-restriction-queries/CreateRestrictionQuery.rb
  examples/v2/logs-restriction-queries/DeleteRestrictionQuery.rb
  examples/v2/logs-restriction-queries/DeleteRestrictionQuery_1369314527.rb
  examples/v2/logs-restriction-queries/GetRestrictionQuery.rb
  examples/v2/logs-restriction-queries/GetRoleRestrictionQuery.rb
  examples/v2/logs-restriction-queries/ListRestrictionQueries.rb
  examples/v2/logs-restriction-queries/ListRestrictionQueryRoles.rb
  examples/v2/logs-restriction-queries/ListUserRestrictionQueries.rb
  examples/v2/logs-restriction-queries/RemoveRoleFromRestrictionQuery.rb
  examples/v2/logs-restriction-queries/RemoveRoleFromRestrictionQuery_950671518.rb
  examples/v2/logs-restriction-queries/UpdateRestrictionQuery.rb
  features/scenarios_model_mapping.rb
  features/v2/given.json
  features/v2/logs_restriction_queries.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/logs_restriction_queries_api.rb
  lib/datadog_api_client/v2/models/logs_restriction_queries_type.rb
  lib/datadog_api_client/v2/models/restriction_query_attributes.rb
  lib/datadog_api_client/v2/models/restriction_query_create_attributes.rb
  lib/datadog_api_client/v2/models/restriction_query_create_data.rb
  lib/datadog_api_client/v2/models/restriction_query_create_payload.rb
  lib/datadog_api_client/v2/models/restriction_query_list_response.rb
  lib/datadog_api_client/v2/models/restriction_query_response_included_item.rb
  lib/datadog_api_client/v2/models/restriction_query_role.rb
  lib/datadog_api_client/v2/models/restriction_query_role_attribute.rb
  lib/datadog_api_client/v2/models/restriction_query_roles_response.rb
  lib/datadog_api_client/v2/models/restriction_query_update_attributes.rb
  lib/datadog_api_client/v2/models/restriction_query_update_data.rb
  lib/datadog_api_client/v2/models/restriction_query_update_payload.rb
  lib/datadog_api_client/v2/models/restriction_query_with_relationships.rb
  lib/datadog_api_client/v2/models/restriction_query_with_relationships_response.rb
  lib/datadog_api_client/v2/models/restriction_query_without_relationships.rb
  lib/datadog_api_client/v2/models/restriction_query_without_relationships_response.rb
Due: generate, format-examples

Regenerate client from commit 31feed4 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/logs-restriction-queries/AddRoleToRestrictionQuery.rb
  examples/v2/logs-restriction-queries/CreateRestrictionQuery.rb
  examples/v2/logs-restriction-queries/DeleteRestrictionQuery.rb
  examples/v2/logs-restriction-queries/GetRestrictionQuery.rb
  examples/v2/logs-restriction-queries/GetRoleRestrictionQuery.rb
  examples/v2/logs-restriction-queries/ListRestrictionQueries.rb
  examples/v2/logs-restriction-queries/ListRestrictionQueryRoles.rb
  examples/v2/logs-restriction-queries/ListUserRestrictionQueries.rb
  examples/v2/logs-restriction-queries/RemoveRoleFromRestrictionQuery.rb
  examples/v2/logs-restriction-queries/UpdateRestrictionQuery.rb
  features/scenarios_model_mapping.rb
  features/v2/logs_restriction_queries.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/logs_restriction_queries_api.rb
  lib/datadog_api_client/v2/models/logs_restriction_queries_type.rb
  lib/datadog_api_client/v2/models/restriction_query_attributes.rb
  lib/datadog_api_client/v2/models/restriction_query_create_attributes.rb
  lib/datadog_api_client/v2/models/restriction_query_create_data.rb
  lib/datadog_api_client/v2/models/restriction_query_create_payload.rb
  lib/datadog_api_client/v2/models/restriction_query_list_response.rb
  lib/datadog_api_client/v2/models/restriction_query_relationships.rb
  lib/datadog_api_client/v2/models/restriction_query_response_included_item.rb
  lib/datadog_api_client/v2/models/restriction_query_role.rb
  lib/datadog_api_client/v2/models/restriction_query_role_attribute.rb
  lib/datadog_api_client/v2/models/restriction_query_roles_response.rb
  lib/datadog_api_client/v2/models/restriction_query_update_attributes.rb
  lib/datadog_api_client/v2/models/restriction_query_update_data.rb
  lib/datadog_api_client/v2/models/restriction_query_update_payload.rb
  lib/datadog_api_client/v2/models/restriction_query_with_relationships.rb
  lib/datadog_api_client/v2/models/restriction_query_with_relationships_response.rb
  lib/datadog_api_client/v2/models/restriction_query_without_relationships.rb
  lib/datadog_api_client/v2/models/restriction_query_without_relationships_response.rb
Due: generate, format-examples

Regenerate client from commit 505640d of spec repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v1/api/key_management_api.rb
  lib/datadog_api_client/v2/api/key_management_api.rb
Due: generate

Regenerate client from commit a1d10e5 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/monitors/Create-a-monitor-notification-rule-with-scope-returns-OK-response.frozen
  cassettes/features/v2/monitors/Create-a-monitor-notification-rule-with-scope-returns-OK-response.yml
  cassettes/features/v2/monitors/Update-a-monitor-notification-rule-with-scope-returns-OK-response.frozen
  cassettes/features/v2/monitors/Update-a-monitor-notification-rule-with-scope-returns-OK-response.yml
  examples/v2/monitors/CreateMonitorNotificationRule_1379932371.rb
  examples/v2/monitors/UpdateMonitorNotificationRule_1446058210.rb
  features/v2/monitors.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/monitor_notification_rule_filter.rb
  lib/datadog_api_client/v2/models/monitor_notification_rule_filter_scope.rb
Due: generate, format-examples

Regenerate client from commit b6a9475 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/error_tracking_api.rb
Due: generate

Regenerate client from commit 46390f1 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Create-a-suppression-rule-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Create-a-suppression-rule-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Delete-a-suppression-rule-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Delete-a-suppression-rule-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Get-a-suppression-rule-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Get-a-suppression-rule-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Update-a-suppression-rule-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Update-a-suppression-rule-returns-OK-response.yml
  examples/v2/security-monitoring/CreateSecurityMonitoringSuppression.rb
  features/v2/given.json
  features/v2/security_monitoring.feature
  lib/datadog_api_client/v2/models/security_monitoring_suppression_attributes.rb
  lib/datadog_api_client/v2/models/security_monitoring_suppression_create_attributes.rb
  lib/datadog_api_client/v2/models/security_monitoring_suppression_update_attributes.rb
Due: generate, format-examples

Regenerate client from commit 46eb50c of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/team-connections/CreateTeamConnections.rb
  examples/v2/team-connections/DeleteTeamConnections.rb
  examples/v2/team-connections/ListTeamConnections.rb
  examples/v2/team-connections/ListTeamConnections_1473516764.rb
  examples/v2/team-connections/ListTeamConnections_2418873869.rb
  features/scenarios_model_mapping.rb
  features/v2/given.json
  features/v2/team_connections.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/team_connections_api.rb
  lib/datadog_api_client/v2/models/connected_team_ref.rb
  lib/datadog_api_client/v2/models/connected_team_ref_data.rb
  lib/datadog_api_client/v2/models/connected_team_ref_data_type.rb
  lib/datadog_api_client/v2/models/connections_page_pagination.rb
  lib/datadog_api_client/v2/models/connections_response_meta.rb
  lib/datadog_api_client/v2/models/team_connection.rb
  lib/datadog_api_client/v2/models/team_connection_attributes.rb
  lib/datadog_api_client/v2/models/team_connection_create_data.rb
  lib/datadog_api_client/v2/models/team_connection_create_request.rb
  lib/datadog_api_client/v2/models/team_connection_delete_request.rb
  lib/datadog_api_client/v2/models/team_connection_delete_request_data_item.rb
  lib/datadog_api_client/v2/models/team_connection_relationships.rb
  lib/datadog_api_client/v2/models/team_connection_type.rb
  lib/datadog_api_client/v2/models/team_connections_response.rb
  lib/datadog_api_client/v2/models/team_ref.rb
  lib/datadog_api_client/v2/models/team_ref_data.rb
  lib/datadog_api_client/v2/models/team_ref_data_type.rb
Due: generate, format-examples

Regenerate client from commit 199abc9 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
Due: generate

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
