Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features, licensed

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generated
    name: Do not commit generated files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^lib/datadog_api_client/v[1-9].*'
    verbose: true
  - id: generated-features
    name: Do not commit generated feature files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^features/v[1-9][0-9]*/.*.feature$'
    verbose: true
  - id: licensed
    name: Licensed
    language: ruby
    language_version: system
    additional_dependencies:
      - licensed
    entry: .licenses/check.sh
    pass_filenames: false
    files: "^(.*.gemspec|Gemfile|.licensed.yml)$"
    verbose: true

Regenerate client from commit 2c887a0 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  lib/datadog_api_client/v1/models/dashboard.rb
Due: generated

Regenerate client from commit 0167d3f of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/MonitorGroupSearchResponse.md
  docs/v1/MonitorGroupSearchResponseCounts.md
  docs/v1/MonitorGroupSearchResult.md
  docs/v1/MonitorSearchResponse.md
  docs/v1/MonitorSearchResponseCounts.md
  docs/v1/MonitorSearchResponseMetadata.md
  docs/v1/MonitorSearchResult.md
  docs/v1/MonitorSearchResultNotification.md
  docs/v1/MonitorsAPI.md
  docs/v1/README.md
  features/v1/monitors.feature
  features/v1/undo.json
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/api/monitors_api.rb
  lib/datadog_api_client/v1/models/monitor_group_search_response.rb
  lib/datadog_api_client/v1/models/monitor_group_search_response_counts.rb
  lib/datadog_api_client/v1/models/monitor_group_search_result.rb
  lib/datadog_api_client/v1/models/monitor_search_response.rb
  lib/datadog_api_client/v1/models/monitor_search_response_counts.rb
  lib/datadog_api_client/v1/models/monitor_search_response_metadata.rb
  lib/datadog_api_client/v1/models/monitor_search_result.rb
  lib/datadog_api_client/v1/models/monitor_search_result_notification.rb
  spec/v1/models/monitor_group_search_response_counts_spec.rb
  spec/v1/models/monitor_group_search_response_spec.rb
  spec/v1/models/monitor_group_search_result_spec.rb
  spec/v1/models/monitor_search_response_counts_spec.rb
  spec/v1/models/monitor_search_response_metadata_spec.rb
  spec/v1/models/monitor_search_response_spec.rb
  spec/v1/models/monitor_search_result_notification_spec.rb
  spec/v1/models/monitor_search_result_spec.rb
Due: generated, generated-features

Regenerate client from commit 8c512ec of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/MonitorGroupSearchResponse.md
  docs/v1/MonitorGroupSearchResponseCounts.md
  docs/v1/MonitorGroupSearchResult.md
  docs/v1/MonitorSearchResponse.md
  docs/v1/MonitorSearchResponseCounts.md
  docs/v1/MonitorSearchResponseMetadata.md
  docs/v1/MonitorSearchResult.md
  docs/v1/MonitorSearchResultNotification.md
  docs/v1/MonitorsAPI.md
  docs/v1/README.md
  features/v1/monitors.feature
  features/v1/undo.json
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/api/monitors_api.rb
  lib/datadog_api_client/v1/models/monitor_group_search_response.rb
  lib/datadog_api_client/v1/models/monitor_group_search_response_counts.rb
  lib/datadog_api_client/v1/models/monitor_group_search_result.rb
  lib/datadog_api_client/v1/models/monitor_search_response.rb
  lib/datadog_api_client/v1/models/monitor_search_response_counts.rb
  lib/datadog_api_client/v1/models/monitor_search_response_metadata.rb
  lib/datadog_api_client/v1/models/monitor_search_result.rb
  lib/datadog_api_client/v1/models/monitor_search_result_notification.rb
  spec/v1/models/monitor_group_search_response_counts_spec.rb
  spec/v1/models/monitor_group_search_response_spec.rb
  spec/v1/models/monitor_group_search_result_spec.rb
  spec/v1/models/monitor_search_response_counts_spec.rb
  spec/v1/models/monitor_search_response_metadata_spec.rb
  spec/v1/models/monitor_search_response_spec.rb
  spec/v1/models/monitor_search_result_notification_spec.rb
  spec/v1/models/monitor_search_result_spec.rb
Due: generated, generated-features

Regenerate client from commit 5311d4c of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/SyntheticsAPITestConfig.md
  docs/v1/SyntheticsConfigVariable.md
  docs/v1/SyntheticsTestConfig.md
  features/v1/synthetics.feature
  lib/datadog_api_client/v1/models/synthetics_api_test_config.rb
  lib/datadog_api_client/v1/models/synthetics_config_variable.rb
  lib/datadog_api_client/v1/models/synthetics_config_variable_type.rb
  lib/datadog_api_client/v1/models/synthetics_test_config.rb
Due: generated, generated-features

Regenerate client from commit 2a54e42 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/SyntheticsAPI.md
  docs/v1/SyntheticsListGlobalVariablesResponse.md
  features/v1/synthetics.feature
  features/v1/undo.json
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/api/synthetics_api.rb
  lib/datadog_api_client/v1/models/synthetics_list_global_variables_response.rb
  spec/v1/models/synthetics_list_global_variables_response_spec.rb
Due: generated, generated-features

Post integration test status to spec PR
  .github/workflows/scripts/test_integration.js
  .github/workflows/test_integration.yml
Due: none

Re-record
  cassettes/features/v2/logs/Aggregate-compute-events-returns-OK-response.yml
Due: none

Regenerate client from commit ea553b9 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/UsageAuditLogsHour.md
  docs/v1/UsageAuditLogsResponse.md
  docs/v1/UsageCloudSecurityPostureManagementHour.md
  docs/v1/UsageCloudSecurityPostureManagementResponse.md
  docs/v1/UsageComplianceHour.md
  docs/v1/UsageComplianceResponse.md
  docs/v1/UsageMeteringAPI.md
  docs/v1/UsageSummaryDate.md
  docs/v1/UsageSummaryDateOrg.md
  docs/v1/UsageSummaryResponse.md
  features/v1/undo.json
  features/v1/usage_metering.feature
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/usage_audit_logs_hour.rb
  lib/datadog_api_client/v1/models/usage_audit_logs_response.rb
  lib/datadog_api_client/v1/models/usage_cloud_security_posture_management_hour.rb
  lib/datadog_api_client/v1/models/usage_cloud_security_posture_management_response.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
  spec/v1/models/usage_audit_logs_hour_spec.rb
  spec/v1/models/usage_audit_logs_response_spec.rb
  spec/v1/models/usage_cloud_security_posture_management_hour_spec.rb
  spec/v1/models/usage_cloud_security_posture_management_response_spec.rb
Due: generated, generated-features

Remove generated tests
  spec/v1/models/usage_compliance_hour_spec.rb
  spec/v1/models/usage_compliance_response_spec.rb
Due: none

Regenerate client from commit 6c05087 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/UsageAttributionValues.md
  docs/v1/UsageCWSHour.md
  docs/v1/UsageCWSResponse.md
  docs/v1/UsageMeteringAPI.md
  docs/v1/UsageSummaryDate.md
  docs/v1/UsageSummaryDateOrg.md
  docs/v1/UsageSummaryResponse.md
  features/v1/undo.json
  features/v1/usage_metering.feature
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/usage_attribution_values.rb
  lib/datadog_api_client/v1/models/usage_cws_hour.rb
  lib/datadog_api_client/v1/models/usage_cws_response.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
  spec/v1/models/usage_cws_hour_spec.rb
  spec/v1/models/usage_cws_response_spec.rb
Due: generated, generated-features

Regenerate client from commit 379360f of spec repo
  .apigentools-info
Due: none

Regenerate client from commit 32f7494 of spec repo
  .apigentools-info
  data/v2/openapi.yaml
  docs/v2/SecurityMonitoringAPI.md
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
Due: generated

Regenerate client from commit f5f3f9b of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/MonitorsAPI.md
  lib/datadog_api_client/v1/api/monitors_api.rb
Due: generated

Regenerate client from commit b3fffea of spec repo
  .apigentools-info
  features/v2/logs.feature
Due: generated-features

Regenerate client from commit 9151896 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/UsageTopAvgMetricsMetadata.md
  lib/datadog_api_client/v1/models/usage_top_avg_metrics_metadata.rb
Due: generated

Add workflow for PR approved
  .github/workflows/approved_status.yml
  .github/workflows/scripts/approved_status.js
Due: none

Regenerate client from commit 6fd1064 of spec repo
  .apigentools-info
Due: none

Bump datadog_api_client to 1.1.0
  lib/datadog_api_client/version.rb
Due: none

Changelog
  CHANGELOG.md
Due: none

Remove python only entry
  CHANGELOG.md
Due: none

Release 1.1.0 (#391)
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: none

Bump datadog_api_client to 1.1.1.dev.1
  lib/datadog_api_client/version.rb
Due: none

Bump datadog_api_client to 1.1.1.dev.1 (#392)
  lib/datadog_api_client/version.rb
Due: none

Regenerate client from commit e6c8320 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/SyntheticsTestOptions.md
  features/v1/synthetics.feature
  lib/datadog_api_client/v1/models/synthetics_test_options.rb
Due: generated, generated-features

Don't run approved workflow on non generated PRs
  .github/workflows/approved_status.yml
Due: none

Don't run approved workflow on non generated PRs (#394)
  .github/workflows/approved_status.yml
Due: none

Regenerate client from commit f570d1e of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/UsageBillableSummaryKeys.md
  lib/datadog_api_client/v1/models/usage_billable_summary_keys.rb
Due: generated

don't post status check on non generated prs
  .github/workflows/test_integration.yml
Due: none

Regenerate client from commit dfe65f1 of spec repo
  .apigentools-info
Due: none

Regenerate client from commit 6c1fcab of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/ServiceLevelObjectivesAPI.md
  lib/datadog_api_client/v1/api/service_level_objectives_api.rb
Due: generated

Regenerate client from commit 0664044 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/Dashboard.md
  features/v1/dashboards.feature
  lib/datadog_api_client/v1/models/dashboard.rb
Due: generated, generated-features

Regenerate client from commit 92478ee of spec repo
  .apigentools-info
  data/v2/openapi.yaml
  docs/v2/SecurityMonitoringAPI.md
  docs/v2/SecurityMonitoringListRulesResponse.md
  docs/v2/SecurityMonitoringRuleCreatePayload.md
  docs/v2/SecurityMonitoringRuleQueryCreate.md
  docs/v2/SecurityMonitoringRuleResponse.md
  docs/v2/SecurityMonitoringRuleUpdatePayload.md
  features/v2/security_monitoring.feature
  lib/datadog_api_client/v2/models/security_monitoring_list_rules_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_create_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_update_payload.rb
Due: generated, generated-features

Regenerate client from commit 67742c8 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/SLOHistoryMetricsSeriesMetadata.md
Due: none

Fix array handling, add cassettes
  .generator/templates/base_object.mustache
  cassettes/features/v1/metrics/Query-timeseries-points-returns-OK-response.yml
Due: none

Add functions for time in BDD
  features/step_definitions/request.rb
  features/support/templating.rb
Due: none

Remove test file
  spec/v2/models/security_filter_delete_response_spec.rb
Due: none

Regenerate client from commit ccc57f4 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/MetricsQueryMetadata.md
  lib/datadog_api_client/v1/models/metrics_query_metadata.rb
Due: generated

remove unneeded fixtures
  features/step_definitions/request.rb
  features/support/templating.rb
Due: none

Regenerate client from commit 4951cff of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  features/v1/given.json
  features/v1/service_level_objective_corrections.feature
Due: generated-features
