Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

Add new release workflow (#2372)
  .github/workflows/publish.yml
Due: none

Bump datadog_api_client to 2.34.0
  lib/datadog_api_client/version.rb
Due: generate

Bump datadog_api_client to 2.33.0
  lib/datadog_api_client/version.rb
Due: generate

Bump datadog_api_client to 2.33.0.dev.1
  lib/datadog_api_client/version.rb
Due: generate

Revert "Release 2.33.0 (#2374)"
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate

Revert "Release 2.33.0 (#2374)" (#2375)
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate

add permissions and add version import
  .github/workflows/publish.yml
  Rakefile
Due: none

add permissions and add version import (#2376)
  .github/workflows/publish.yml
  Rakefile
Due: none

add missing rake tasks
  Rakefile
Due: none

Revert "Release 2.33.0 (#2377)"
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate

add missing rake tasks (#2379)
  Rakefile
Due: none

Revert "Release 2.33.0 (#2377)" (#2380)
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit 272cce39 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/escalation_policy_included.rb
  lib/datadog_api_client/v2/models/escalation_policy_user.rb
  lib/datadog_api_client/v2/models/escalation_policy_user_attributes.rb
  lib/datadog_api_client/v2/models/escalation_policy_user_type.rb
  lib/datadog_api_client/v2/models/user_attributes_status.rb
Due: generate

Regenerate client from commit 788c51c1 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/monitor_options.rb
Due: generate

Regenerate client from commit f88cc028 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/software-catalog/ListCatalogRelation.rb
  examples/v2/software-catalog/ListCatalogRelation_1311054087.rb
  features/scenarios_model_mapping.rb
  features/v2/software_catalog.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/software_catalog_api.rb
  lib/datadog_api_client/v2/models/list_relation_catalog_response.rb
  lib/datadog_api_client/v2/models/list_relation_catalog_response_links.rb
  lib/datadog_api_client/v2/models/relation_attributes.rb
  lib/datadog_api_client/v2/models/relation_entity.rb
  lib/datadog_api_client/v2/models/relation_include_type.rb
  lib/datadog_api_client/v2/models/relation_meta.rb
  lib/datadog_api_client/v2/models/relation_relationships.rb
  lib/datadog_api_client/v2/models/relation_response.rb
  lib/datadog_api_client/v2/models/relation_response_meta.rb
  lib/datadog_api_client/v2/models/relation_response_type.rb
  lib/datadog_api_client/v2/models/relation_to_entity.rb
Due: generate, format-examples

Regenerate client from commit 34c9f079 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit 1fe088f3 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/synthetics_api.rb
Due: generate

Regenerate client from commit 381bcc9e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/on-call-paging/AcknowledgeOnCallPage.rb
  examples/v2/on-call-paging/CreateOnCallPage.rb
  examples/v2/on-call-paging/EscalateOnCallPage.rb
  examples/v2/on-call-paging/ResolveOnCallPage.rb
  features/scenarios_model_mapping.rb
  features/v2/on-call_paging.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/on_call_paging_api.rb
  lib/datadog_api_client/v2/models/create_page_request.rb
  lib/datadog_api_client/v2/models/create_page_request_data.rb
  lib/datadog_api_client/v2/models/create_page_request_data_attributes.rb
  lib/datadog_api_client/v2/models/create_page_request_data_attributes_target.rb
  lib/datadog_api_client/v2/models/create_page_request_data_type.rb
  lib/datadog_api_client/v2/models/create_page_response.rb
  lib/datadog_api_client/v2/models/create_page_response_data.rb
  lib/datadog_api_client/v2/models/create_page_response_data_type.rb
Due: generate, format-examples

Regenerate client from commit d0ee626b of spec repo
  .apigentools-info
  features/v1/metrics.feature
  features/v2/metrics.feature
Due: none

Regenerate client from commit 1faa96a2 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Fix api_instance name with a dash
  .generator/conftest.py
Due: generate

pre-commit fixes
  examples/v2/on-call/CreateOnCallEscalationPolicy.rb
  examples/v2/on-call/CreateOnCallSchedule.rb
  examples/v2/on-call/DeleteOnCallEscalationPolicy.rb
  examples/v2/on-call/DeleteOnCallSchedule.rb
  examples/v2/on-call/GetOnCallEscalationPolicy.rb
  examples/v2/on-call/GetOnCallSchedule.rb
  examples/v2/on-call/GetOnCallTeamRoutingRules.rb
  examples/v2/on-call/SetOnCallTeamRoutingRules.rb
  examples/v2/on-call/UpdateOnCallEscalationPolicy.rb
  examples/v2/on-call/UpdateOnCallSchedule.rb
Due: format-examples

bump ruby version for relases
  .github/workflows/publish.yml
Due: none

bump ruby version for relases (#2400)
  .github/workflows/publish.yml
Due: none
