Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Apply generated request compression
  features/support/test_runner.rb
Due: none

Support request compression test step
  features/step_definitions/request.rb
Due: none

Regenerate client from commit f23e221 of spec repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  features/v1/logs.feature
  features/v2/logs.feature
  generated-test/test-runner-data/manifest.json
  generated-test/test-runner-data/v1/logs/send-deflate-logs-returns-response-from-server-always-200-empty-json-response.json
  generated-test/test-runner-data/v2/logs/send-deflate-logs-returns-request-accepted-for-processing-always-202-empty-json-response.json
  generated-test/test-server
  generated-test/test-server-data/v1/logs.json
  generated-test/test-server-data/v2/logs.json
  lib/datadog_api_client/v1/api/logs_api.rb
  lib/datadog_api_client/v2/api/logs_api.rb
Due: generate

Regenerate client from commit 6bb6903 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/terraform-state-files/CreateTerraformBackendSyncConfig.rb
  examples/v2/terraform-state-files/DeleteTerraformBackendSyncConfig.rb
  examples/v2/terraform-state-files/ListTerraformBackendSyncConfigs.rb
  examples/v2/terraform-state-files/UpdateTerraformBackendSyncConfig.rb
  features/scenarios_model_mapping.rb
  features/v2/terraform_state_files.feature
  features/v2/undo.json
  generated-test/test-runner-data/manifest.json
  generated-test/test-runner-data/v2/terraform-state-files/create-a-terraform-backend-sync-configuration-returns-bad-request-response.json
  generated-test/test-runner-data/v2/terraform-state-files/delete-a-terraform-backend-sync-configuration-returns-bad-request-response.json
  generated-test/test-runner-data/v2/terraform-state-files/list-terraform-backend-sync-configurations-returns-ok-response.json
  generated-test/test-runner-data/v2/terraform-state-files/update-a-terraform-backend-sync-configuration-returns-conflict-response.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/terraform_state_files_api.rb
  lib/datadog_api_client/v2/models/terraform_backend_attributes.rb
  lib/datadog_api_client/v2/models/terraform_backend_bucket.rb
  lib/datadog_api_client/v2/models/terraform_backend_create_attributes.rb
  lib/datadog_api_client/v2/models/terraform_backend_create_data.rb
  lib/datadog_api_client/v2/models/terraform_backend_create_request.rb
  lib/datadog_api_client/v2/models/terraform_backend_data.rb
  lib/datadog_api_client/v2/models/terraform_backend_kind.rb
  lib/datadog_api_client/v2/models/terraform_backend_list_response.rb
  lib/datadog_api_client/v2/models/terraform_backend_response.rb
  lib/datadog_api_client/v2/models/terraform_backend_sync_status.rb
  lib/datadog_api_client/v2/models/terraform_backend_type.rb
  lib/datadog_api_client/v2/models/terraform_backend_update_attributes.rb
  lib/datadog_api_client/v2/models/terraform_backend_update_data.rb
  lib/datadog_api_client/v2/models/terraform_backend_update_request.rb
Due: generate, format-examples

Regenerate client from commit 9f62108 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/GetMatchingSignals.rb
  features/scenarios_model_mapping.rb
  features/v2/security_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/matching_signal_attributes.rb
  lib/datadog_api_client/v2/models/matching_signal_data.rb
  lib/datadog_api_client/v2/models/matching_signal_type.rb
  lib/datadog_api_client/v2/models/matching_signals_response.rb
Due: generate, format-examples

Regenerate client from commit 605b75b of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/incidents_api.rb
Due: generate

Regenerate client from commit 18afb2c of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/teams_api.rb
Due: generate

Regenerate client from commit 2ffb29f of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/table_row_resource_array_meta.rb
Due: generate

Regenerate client from commit e2193fc of spec repo
  examples/v2/metrics/CreateTagIndexingRule.rb
  examples/v2/metrics/UpdateTagIndexingRule.rb
  features/v2/metrics.feature
  generated-test/test-runner-data/v2/metrics/create-a-tag-indexing-rule-returns-created-response.json
  generated-test/test-runner-data/v2/metrics/update-a-tag-indexing-rule-returns-bad-request-response.json
  generated-test/test-runner-data/v2/metrics/update-a-tag-indexing-rule-returns-not-found-response.json
  generated-test/test-runner-data/v2/metrics/update-a-tag-indexing-rule-returns-ok-response.json
  generated-test/test-server-data/v2/metrics.json
Due: format-examples

Regenerate client from commit c1f6c48 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/terraform-state-files/CreateTerraformBackendSyncConfig.rb
  examples/v2/terraform-state-files/DeleteTerraformBackendSyncConfig.rb
  examples/v2/terraform-state-files/ListTerraformBackendSyncConfigs.rb
  examples/v2/terraform-state-files/UpdateTerraformBackendSyncConfig.rb
  features/scenarios_model_mapping.rb
  features/v2/terraform_state_files.feature
  features/v2/undo.json
  generated-test/test-runner-data/manifest.json
  generated-test/test-runner-data/v2/terraform-state-files/create-a-terraform-backend-sync-configuration-returns-bad-request-response.json
  generated-test/test-runner-data/v2/terraform-state-files/delete-a-terraform-backend-sync-configuration-returns-bad-request-response.json
  generated-test/test-runner-data/v2/terraform-state-files/list-terraform-backend-sync-configurations-returns-ok-response.json
  generated-test/test-runner-data/v2/terraform-state-files/update-a-terraform-backend-sync-configuration-returns-conflict-response.json
  generated-test/test-server-data/manifest.json
  generated-test/test-server-data/v2/terraform-state-files.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/terraform_state_files_api.rb
  lib/datadog_api_client/v2/models/terraform_backend_attributes.rb
  lib/datadog_api_client/v2/models/terraform_backend_bucket.rb
  lib/datadog_api_client/v2/models/terraform_backend_create_attributes.rb
  lib/datadog_api_client/v2/models/terraform_backend_create_data.rb
  lib/datadog_api_client/v2/models/terraform_backend_create_request.rb
  lib/datadog_api_client/v2/models/terraform_backend_data.rb
  lib/datadog_api_client/v2/models/terraform_backend_kind.rb
  lib/datadog_api_client/v2/models/terraform_backend_list_response.rb
  lib/datadog_api_client/v2/models/terraform_backend_response.rb
  lib/datadog_api_client/v2/models/terraform_backend_sync_status.rb
  lib/datadog_api_client/v2/models/terraform_backend_type.rb
  lib/datadog_api_client/v2/models/terraform_backend_update_attributes.rb
  lib/datadog_api_client/v2/models/terraform_backend_update_data.rb
  lib/datadog_api_client/v2/models/terraform_backend_update_request.rb
Due: generate, format-examples

Regenerate client from commit 7f0c07a of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/CreateStaticAnalysisServerAnalysis.rb
  features/v2/security_monitoring.feature
  lib/datadog_api_client/v2/models/analysis_request_rule.rb
  lib/datadog_api_client/v2/models/custom_rule_revision_attributes_severity.rb
  lib/datadog_api_client/v2/models/language.rb
Due: generate, format-examples

Regenerate client from commit a160e5f of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/GetMatchingSignals.rb
  features/scenarios_model_mapping.rb
  features/v2/security_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/matching_signal_attributes.rb
  lib/datadog_api_client/v2/models/matching_signal_data.rb
  lib/datadog_api_client/v2/models/matching_signal_type.rb
  lib/datadog_api_client/v2/models/matching_signals_response.rb
Due: generate, format-examples

Regenerate client from commit 552c309 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/metrics/CreateTagIndexingRule.rb
  examples/v2/metrics/UpdateTagIndexingRule.rb
  features/v2/metrics.feature
  generated-test/test-runner-data/v2/metrics/create-a-tag-indexing-rule-returns-created-response.json
  generated-test/test-runner-data/v2/metrics/update-a-tag-indexing-rule-returns-bad-request-response.json
  generated-test/test-runner-data/v2/metrics/update-a-tag-indexing-rule-returns-not-found-response.json
  generated-test/test-runner-data/v2/metrics/update-a-tag-indexing-rule-returns-ok-response.json
  generated-test/test-server-data/v2/metrics.json
  lib/datadog_api_client/v2/models/tag_indexing_rule_dynamic_tags.rb
Due: generate, format-examples

Regenerate client from commit a4a6ad3 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/gcp-integration/CreateGCPSTSAccount_2882283621.rb
  examples/v2/gcp-integration/UpdateGCPSTSAccount_4285997499.rb
  features/v2/gcp_integration.feature
  generated-test/test-runner-data/manifest.json
  generated-test/test-runner-data/v2/gcp-integration/create-a-new-entry-for-your-service-account-with-org-folder-resource-collection-enabled-returns-ok-response.json
  generated-test/test-runner-data/v2/gcp-integration/update-sts-service-account-returns-ok-response-with-org-folder-resource-collection-enabled.json
  generated-test/test-server-data/v2/gcp-integration.json
  lib/datadog_api_client/v2/models/gcpsts_service_account_attributes.rb
Due: generate, format-examples

Regenerate client from commit 099b3f3 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/ip_ranges_api.rb
Due: generate

Regenerate client from commit 41e19db of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/deployment_gates_evaluation_result_response_attributes.rb
  lib/datadog_api_client/v2/models/deployment_gates_evaluation_result_response_attributes_gate_status.rb
  lib/datadog_api_client/v2/models/deployment_gates_rule_response.rb
Due: generate

Regenerate client from commit 8308ab1 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/incidents_api.rb
Due: generate

Regenerate client from commit 4b5e808 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/incidents_api.rb
  lib/datadog_api_client/v2/models/full_api_key_attributes.rb
  lib/datadog_api_client/v2/models/partial_api_key_attributes.rb
Due: generate

Regenerate client from commit a603c17 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/bits_ai_api.rb
  lib/datadog_api_client/v2/models/full_api_key_attributes.rb
  lib/datadog_api_client/v2/models/partial_api_key_attributes.rb
Due: generate

Regenerate client from commit 920d72f of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/full_api_key_attributes.rb
  lib/datadog_api_client/v2/models/partial_api_key_attributes.rb
Due: generate

Regenerate client from commit 81ee39e of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/full_api_key_attributes.rb
  lib/datadog_api_client/v2/models/partial_api_key_attributes.rb
Due: generate

Regenerate client from commit 86a41f5 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/full_api_key_attributes.rb
  lib/datadog_api_client/v2/models/partial_api_key_attributes.rb
Due: generate

Regenerate client from commit 964c48e of spec repo
  features/v2/rum_replay_heatmaps.feature
  features/v2/rum_replay_playlists.feature
  features/v2/rum_replay_sessions.feature
  features/v2/rum_replay_viewership.feature
Due: none

Revert "ci: trust datadog-api-spec ci-cd via Octo STS (#3828)"
  .github/chainguard/datadog-api-spec.github.ci-cd.detect-client-changes.ddoghq.sts.yaml
  .github/chainguard/datadog-api-spec.github.ci-cd.detect-client-changes.sts.yaml
  .github/chainguard/datadog-api-spec.github.ci-cd.pipeline-generate.ddoghq.sts.yaml
  .github/chainguard/datadog-api-spec.github.ci-cd.pipeline-generate.sts.yaml
Due: none

Regenerate client from commit 0b71f4d of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-cost-management/SearchCostRecommendations.rb
  features/v2/cloud_cost_management.feature
  features/v2/rum_replay_heatmaps.feature
  features/v2/rum_replay_playlists.feature
  features/v2/rum_replay_sessions.feature
  features/v2/rum_replay_viewership.feature
  lib/datadog_api_client/v2/models/recommendations_filter_request_data.rb
  lib/datadog_api_client/v2/models/recommendations_filter_request_data_attributes.rb
  lib/datadog_api_client/v2/models/recommendations_filter_request_sort_items.rb
Due: generate, format-examples

Bump versions and add changelog entries.
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit 25a0f62 of spec repo
  .generator/schemas/v2/openapi.yaml
Due: generate

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
