Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Regenerate client from commit defc5f5 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-authentication/ListAWSCloudAuthPersonaMappings.rb
  features/v2/cloud_authentication.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/cloud_authentication_api.rb
  lib/datadog_api_client/v2/models/aws_cloud_auth_persona_mapping_attributes_response.rb
  lib/datadog_api_client/v2/models/aws_cloud_auth_persona_mapping_data_response.rb
  lib/datadog_api_client/v2/models/aws_cloud_auth_persona_mapping_type.rb
  lib/datadog_api_client/v2/models/aws_cloud_auth_persona_mappings_response.rb
Due: generate, format-examples

Regenerate client from commit 8d04493 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/dora-metrics/CreateDORAFailure.rb
  examples/v2/dora-metrics/CreateDORAIncident.rb
  examples/v2/dora-metrics/DeleteDORAFailure.rb
  examples/v2/dora-metrics/DeleteDORAFailure_3462074974.rb
  examples/v2/dora-metrics/GetDORAFailure.rb
  examples/v2/dora-metrics/ListDORAFailures_3269988848.rb
  features/v2/dora_metrics.feature
  lib/datadog_api_client/v2/api/dora_metrics_api.rb
  lib/datadog_api_client/v2/models/dora_deployment_patch_remediation.rb
  lib/datadog_api_client/v2/models/dora_deployment_patch_remediation_type.rb
  lib/datadog_api_client/v2/models/dora_deployment_patch_request_attributes.rb
  lib/datadog_api_client/v2/models/dora_failure_fetch_response.rb
  lib/datadog_api_client/v2/models/dora_failure_request.rb
  lib/datadog_api_client/v2/models/dora_failure_request_attributes.rb
  lib/datadog_api_client/v2/models/dora_failure_request_data.rb
  lib/datadog_api_client/v2/models/dora_failure_response.rb
  lib/datadog_api_client/v2/models/dora_failure_response_data.rb
  lib/datadog_api_client/v2/models/dora_failure_type.rb
  lib/datadog_api_client/v2/models/dora_failures_list_response.rb
  lib/datadog_api_client/v2/models/dora_incident_object.rb
  lib/datadog_api_client/v2/models/dora_list_failures_request.rb
  lib/datadog_api_client/v2/models/dora_list_failures_request_attributes.rb
  lib/datadog_api_client/v2/models/dora_list_failures_request_data.rb
Due: generate, format-examples

Regenerate client from commit 5e39923 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/code_coverage_api.rb
Due: generate

Regenerate client from commit 0d5ba16 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/incident_condition.rb
  lib/datadog_api_client/v2/models/incident_schedule_trigger.rb
  lib/datadog_api_client/v2/models/incident_schedule_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/trigger.rb
Due: generate

Regenerate client from commit 41ffb5f of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/integrations/List-Integrations-returns-Successful-Response-response.frozen
  cassettes/features/v2/integrations/List-Integrations-returns-Successful-Response-response.yml
  examples/v2/integrations/ListIntegrations.rb
  features/v2/integrations.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/integrations_api.rb
  lib/datadog_api_client/v2/models/integration.rb
  lib/datadog_api_client/v2/models/integration_attributes.rb
  lib/datadog_api_client/v2/models/integration_links.rb
  lib/datadog_api_client/v2/models/integration_type.rb
  lib/datadog_api_client/v2/models/list_integrations_response.rb
Due: generate, format-examples

Regenerate client from commit ffa13ba of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/metrics_api.rb
Due: generate

Regenerate client from commit aaac81a of spec repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/integrations/List-Integrations-returns-Successful-Response-response.frozen
  cassettes/features/v2/integrations/List-Integrations-returns-Successful-Response-response.yml
  examples/v2/integrations/ListIntegrations.rb
  features/v1/notebooks.feature
  features/v2/integrations.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/notebook_create_data_attributes.rb
  lib/datadog_api_client/v1/models/notebook_template_variable.rb
  lib/datadog_api_client/v1/models/notebook_update_data_attributes.rb
  lib/datadog_api_client/v1/models/notebooks_response_data_attributes.rb
  lib/datadog_api_client/v2/api/integrations_api.rb
  lib/datadog_api_client/v2/models/integration.rb
  lib/datadog_api_client/v2/models/integration_attributes.rb
  lib/datadog_api_client/v2/models/integration_links.rb
  lib/datadog_api_client/v2/models/integration_type.rb
Due: generate, format-examples

Regenerate client from commit 23789bc of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/google_chat_integration/Create-organization-handle-returns-CREATED-response.frozen
  cassettes/features/v2/google_chat_integration/Create-organization-handle-returns-CREATED-response.yml
  cassettes/features/v2/google_chat_integration/Delete-organization-handle-returns-OK-response.frozen
  cassettes/features/v2/google_chat_integration/Delete-organization-handle-returns-OK-response.yml
  cassettes/features/v2/google_chat_integration/Get-all-organization-handles-returns-OK-response.frozen
  cassettes/features/v2/google_chat_integration/Get-all-organization-handles-returns-OK-response.yml
  cassettes/features/v2/google_chat_integration/Get-organization-handle-returns-OK-response.frozen
  cassettes/features/v2/google_chat_integration/Get-organization-handle-returns-OK-response.yml
  cassettes/features/v2/google_chat_integration/Get-space-information-by-display-name-returns-OK-response.frozen
  cassettes/features/v2/google_chat_integration/Get-space-information-by-display-name-returns-OK-response.yml
  cassettes/features/v2/google_chat_integration/Update-organization-handle-returns-OK-response.frozen
  cassettes/features/v2/google_chat_integration/Update-organization-handle-returns-OK-response.yml
  examples/v2/google-chat-integration/CreateOrganizationHandle.rb
  examples/v2/google-chat-integration/DeleteOrganizationHandle.rb
  examples/v2/google-chat-integration/GetOrganizationHandle.rb
  examples/v2/google-chat-integration/GetSpaceByDisplayName.rb
  examples/v2/google-chat-integration/ListOrganizationHandles.rb
  examples/v2/google-chat-integration/UpdateOrganizationHandle.rb
  features/scenarios_model_mapping.rb
  features/v2/given.json
  features/v2/google_chat_integration.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/google_chat_integration_api.rb
  lib/datadog_api_client/v2/models/google_chat_app_named_space_response.rb
  lib/datadog_api_client/v2/models/google_chat_app_named_space_response_attributes.rb
  lib/datadog_api_client/v2/models/google_chat_app_named_space_response_data.rb
  lib/datadog_api_client/v2/models/google_chat_app_named_space_type.rb
  lib/datadog_api_client/v2/models/google_chat_create_organization_handle_request.rb
  lib/datadog_api_client/v2/models/google_chat_create_organization_handle_request_attributes.rb
  lib/datadog_api_client/v2/models/google_chat_create_organization_handle_request_data.rb
  lib/datadog_api_client/v2/models/google_chat_organization_handle_response.rb
  lib/datadog_api_client/v2/models/google_chat_organization_handle_response_attributes.rb
  lib/datadog_api_client/v2/models/google_chat_organization_handle_response_data.rb
  lib/datadog_api_client/v2/models/google_chat_organization_handle_type.rb
  lib/datadog_api_client/v2/models/google_chat_organization_handles_response.rb
  lib/datadog_api_client/v2/models/google_chat_update_organization_handle_request.rb
  lib/datadog_api_client/v2/models/google_chat_update_organization_handle_request_attributes.rb
  lib/datadog_api_client/v2/models/google_chat_update_organization_handle_request_data.rb
Due: generate, format-examples

Regenerate client from commit bab3522 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/incident_integration_metadata_attributes.rb
Due: generate

Regenerate client from commit ee61d88 of spec repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/integrations/List-Integrations-returns-Successful-Response-response.frozen
  cassettes/features/v2/integrations/List-Integrations-returns-Successful-Response-response.yml
  examples/v2/integrations/ListIntegrations.rb
  features/v2/integrations.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/integrations_api.rb
  lib/datadog_api_client/v2/models/integration.rb
  lib/datadog_api_client/v2/models/integration_attributes.rb
  lib/datadog_api_client/v2/models/integration_links.rb
  lib/datadog_api_client/v2/models/integration_type.rb
  lib/datadog_api_client/v2/models/list_integrations_response.rb
Due: generate, format-examples

Regenerate client from commit 5ee7c11 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/form_trigger.rb
  lib/datadog_api_client/v2/models/form_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/trigger.rb
Due: generate

Regenerate client from commit 2c64a11 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/dora-metrics/CreateDORAFailure.rb
  examples/v2/dora-metrics/CreateDORAIncident.rb
  examples/v2/dora-metrics/DeleteDORAFailure.rb
  examples/v2/dora-metrics/DeleteDORAFailure_3462074974.rb
  examples/v2/dora-metrics/GetDORAFailure.rb
  examples/v2/dora-metrics/ListDORAFailures_3269988848.rb
  features/v2/dora_metrics.feature
  lib/datadog_api_client/v2/api/dora_metrics_api.rb
  lib/datadog_api_client/v2/models/dora_deployment_patch_remediation.rb
  lib/datadog_api_client/v2/models/dora_deployment_patch_remediation_type.rb
  lib/datadog_api_client/v2/models/dora_deployment_patch_request_attributes.rb
  lib/datadog_api_client/v2/models/dora_failure_fetch_response.rb
  lib/datadog_api_client/v2/models/dora_failure_request.rb
  lib/datadog_api_client/v2/models/dora_failure_request_attributes.rb
  lib/datadog_api_client/v2/models/dora_failure_request_data.rb
  lib/datadog_api_client/v2/models/dora_failure_response.rb
  lib/datadog_api_client/v2/models/dora_failure_response_data.rb
  lib/datadog_api_client/v2/models/dora_failure_type.rb
  lib/datadog_api_client/v2/models/dora_failures_list_response.rb
  lib/datadog_api_client/v2/models/dora_incident_object.rb
  lib/datadog_api_client/v2/models/dora_list_failures_request.rb
  lib/datadog_api_client/v2/models/dora_list_failures_request_attributes.rb
  lib/datadog_api_client/v2/models/dora_list_failures_request_data.rb
Due: generate, format-examples

Regenerate client from commit 1ceefea of spec repo
  features/v2/monitors.feature
Due: none

Regenerate client from commit e047585 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/incident_condition.rb
  lib/datadog_api_client/v2/models/incident_schedule_trigger.rb
  lib/datadog_api_client/v2/models/incident_schedule_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/trigger.rb
Due: generate

Regenerate client from commit 763f869 of spec repo
  .generator/schemas/v1/openapi.yaml
  features/v1/notebooks.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/notebook_template_variable.rb
  lib/datadog_api_client/v1/models/notebook_update_data_attributes.rb
  lib/datadog_api_client/v1/models/notebooks_response_data_attributes.rb
Due: generate

Regenerate client from commit fc31fb4 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-authentication/CreateAWSCloudAuthPersonaMapping.rb
  examples/v2/cloud-authentication/DeleteAWSCloudAuthPersonaMapping.rb
  examples/v2/cloud-authentication/GetAWSCloudAuthPersonaMapping.rb
  features/scenarios_model_mapping.rb
  features/v2/cloud_authentication.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/cloud_authentication_api.rb
  lib/datadog_api_client/v2/models/aws_cloud_auth_persona_mapping_create_attributes.rb
  lib/datadog_api_client/v2/models/aws_cloud_auth_persona_mapping_create_data.rb
  lib/datadog_api_client/v2/models/aws_cloud_auth_persona_mapping_create_request.rb
  lib/datadog_api_client/v2/models/aws_cloud_auth_persona_mapping_response.rb
Due: generate, format-examples

Configure our publish branch with only the latest commit
  .github/workflows/docs.yml
Due: none

Configure our publish branch with only the latest commit (#3033)
  .github/workflows/docs.yml
Due: none

Regenerate client from commit de14407 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/product-analytics/QueryProductAnalyticsSankey.rb
  features/scenarios_model_mapping.rb
  features/v2/product_analytics.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/product_analytics_api.rb
  lib/datadog_api_client/v2/models/product_analytics_join_keys.rb
  lib/datadog_api_client/v2/models/product_analytics_sampling.rb
  lib/datadog_api_client/v2/models/product_analytics_sankey_aggregated_node.rb
  lib/datadog_api_client/v2/models/product_analytics_sankey_aggregated_node_type.rb
  lib/datadog_api_client/v2/models/product_analytics_sankey_definition.rb
  lib/datadog_api_client/v2/models/product_analytics_sankey_link.rb
  lib/datadog_api_client/v2/models/product_analytics_sankey_node.rb
  lib/datadog_api_client/v2/models/product_analytics_sankey_node_type.rb
  lib/datadog_api_client/v2/models/product_analytics_sankey_request.rb
  lib/datadog_api_client/v2/models/product_analytics_sankey_request_attributes.rb
  lib/datadog_api_client/v2/models/product_analytics_sankey_request_data.rb
  lib/datadog_api_client/v2/models/product_analytics_sankey_request_type.rb
  lib/datadog_api_client/v2/models/product_analytics_sankey_response.rb
  lib/datadog_api_client/v2/models/product_analytics_sankey_response_attributes.rb
  lib/datadog_api_client/v2/models/product_analytics_sankey_response_data.rb
  lib/datadog_api_client/v2/models/product_analytics_sankey_response_type.rb
  lib/datadog_api_client/v2/models/product_analytics_sankey_search.rb
  lib/datadog_api_client/v2/models/product_analytics_sankey_time.rb
Due: generate, format-examples

Regenerate client from commit 286a394 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/synthetics/Create-a-test-suite-returns-OK-response.frozen
  cassettes/features/v2/synthetics/Create-a-test-suite-returns-OK-response.yml
  lib/datadog_api_client/configuration.rb
Due: generate

Regenerate client from commit b2190fe of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/software_catalog/Create-or-update-entities-returns-ACCEPTED-response.frozen
  cassettes/features/v2/software_catalog/Create-or-update-entities-returns-ACCEPTED-response.yml
  cassettes/features/v2/synthetics/Create-a-test-suite-returns-OK-response.frozen
  cassettes/features/v2/synthetics/Create-a-test-suite-returns-OK-response.yml
  examples/v2/software-catalog/AcceptRecommendedEntities.rb
  examples/v2/software-catalog/ConvertCatalogEntities.rb
  examples/v2/software-catalog/DeclineRecommendedEntities.rb
  examples/v2/software-catalog/GetIDPConfigValue.rb
  examples/v2/software-catalog/TriggerRecommendedEntities.rb
  examples/v2/software-catalog/UpsertIDPConfigValue.rb
  features/scenarios_model_mapping.rb
  features/v2/software_catalog.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/software_catalog_api.rb
  lib/datadog_api_client/v2/models/entity_schema_version.rb
  lib/datadog_api_client/v2/models/idp_config_attributes.rb
  lib/datadog_api_client/v2/models/idp_config_data.rb
  lib/datadog_api_client/v2/models/idp_config_request.rb
  lib/datadog_api_client/v2/models/idp_config_request_attributes.rb
  lib/datadog_api_client/v2/models/idp_config_request_data.rb
  lib/datadog_api_client/v2/models/idp_config_response.rb
  lib/datadog_api_client/v2/models/idp_config_type.rb
  lib/datadog_api_client/v2/models/recommended_entity_id.rb
  lib/datadog_api_client/v2/models/recommended_entity_with_schema.rb
Due: generate, format-examples

Regenerate client from commit ac622a6 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/synthetics/Create-a-test-suite-returns-OK-response.frozen
  cassettes/features/v2/synthetics/Create-a-test-suite-returns-OK-response.yml
  lib/datadog_api_client/v2/models/observability_pipeline_sensitive_data_scanner_processor_action_hash.rb
  lib/datadog_api_client/v2/models/observability_pipeline_sensitive_data_scanner_processor_action_partial_redact_options.rb
  lib/datadog_api_client/v2/models/observability_pipeline_sensitive_data_scanner_processor_action_redact_options.rb
  lib/datadog_api_client/v2/models/observability_pipeline_sensitive_data_scanner_processor_rule.rb
  lib/datadog_api_client/v2/models/observability_pipeline_sensitive_data_scanner_processor_scope_options.rb
Due: generate

Regenerate client from commit caf0f6b of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v2/synthetics/Create-a-test-suite-returns-OK-response.frozen
  cassettes/features/v2/synthetics/Create-a-test-suite-returns-OK-response.yml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit 39dcfb8 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v2/synthetics/Create-a-test-suite-returns-OK-response.frozen
  cassettes/features/v2/synthetics/Create-a-test-suite-returns-OK-response.yml
  examples/v1/notebooks/CreateNotebook.rb
  examples/v1/notebooks/UpdateNotebook.rb
  features/v1/given.json
  features/v1/notebook_payload.json
  features/v1/notebooks.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/notebook_template_variable.rb
  lib/datadog_api_client/v1/models/notebook_update_data_attributes.rb
  lib/datadog_api_client/v1/models/notebooks_response_data_attributes.rb
Due: generate, format-examples

Regenerate client from commit f7eb513 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/synthetics/Create-a-test-suite-returns-OK-response.frozen
  cassettes/features/v2/synthetics/Create-a-test-suite-returns-OK-response.yml
  lib/datadog_api_client/v2/api/metrics_api.rb
Due: generate

Regenerate client from commit d6ac731 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/synthetics/Create-a-test-suite-returns-OK-response.frozen
  cassettes/features/v2/synthetics/Create-a-test-suite-returns-OK-response.yml
  features/v2/synthetics.feature
Due: generate

Regenerate client from commit e8da02f of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/synthetics/Create-a-test-suite-returns-OK-response.frozen
  cassettes/features/v2/synthetics/Create-a-test-suite-returns-OK-response.yml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/on_call_api.rb
  lib/datadog_api_client/v2/models/escalation_policy_action.rb
  lib/datadog_api_client/v2/models/escalation_policy_action_type.rb
  lib/datadog_api_client/v2/models/routing_rule_action.rb
Due: generate

Regenerate client from commit 92afd61 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/synthetics/Create-a-test-suite-returns-OK-response.frozen
  cassettes/features/v2/synthetics/Create-a-test-suite-returns-OK-response.yml
  lib/datadog_api_client/v2/api/case_management_api.rb
Due: generate

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
