Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Regenerate client from commit 3288a6f0 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/synthetics/Create-a-FIDO-global-variable-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Create-a-FIDO-global-variable-returns-OK-response.yml
  cassettes/features/v1/synthetics/Create-a-TOTP-global-variable-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Create-a-TOTP-global-variable-returns-OK-response.yml
  cassettes/features/v1/synthetics/Create-a-global-variable-from-test-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Create-a-global-variable-from-test-returns-OK-response.yml
  cassettes/features/v1/synthetics/Create-an-API-GRPC-test-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-GRPC-test-returns-OK-Returns-the-created-test-details-response.yml
  cassettes/features/v1/synthetics/Create-an-API-SSL-test-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-SSL-test-returns-OK-Returns-the-created-test-details-response.yml
  cassettes/features/v1/synthetics/Create-an-API-test-with-UDP-subtype-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-test-with-UDP-subtype-returns-OK-Returns-the-created-test-details-response.yml
  cassettes/features/v1/synthetics/Create-an-API-test-with-multi-subtype-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-test-with-multi-subtype-returns-OK-Returns-the-created-test-details-response.yml
  examples/v1/synthetics/CreateSyntheticsAPITest_1072503741.rb
  examples/v1/synthetics/CreateSyntheticsAPITest_1279271422.rb
  examples/v1/synthetics/CreateSyntheticsAPITest_1402674167.rb
  examples/v1/synthetics/CreateSyntheticsAPITest_3829801148.rb
  features/v1/given.json
  features/v1/synthetics_api_grpc_test_payload.json
  features/v1/synthetics_api_ssl_test_payload.json
  features/v1/synthetics_api_test_multi_step_payload.json
  features/v1/synthetics_api_test_udp_payload.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/synthetics_test_request.rb
  lib/datadog_api_client/v1/models/synthetics_test_request_port.rb
Due: generate, format-examples

Regenerate client from commit 7c86a87a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/authn_mappings_api.rb
  lib/datadog_api_client/v2/api/incidents_api.rb
  lib/datadog_api_client/v2/api/restriction_policies_api.rb
Due: generate

add support for top level indexing
  features/support/templating.rb
Due: none

Regenerate client from commit 6faa6fb3 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/abbreviated_team.rb
  lib/datadog_api_client/v2/models/abbreviated_team_attributes.rb
  lib/datadog_api_client/v2/models/abbreviated_team_type.rb
  lib/datadog_api_client/v2/models/user_team_included.rb
  lib/datadog_api_client/v2/models/user_team_user.rb
  lib/datadog_api_client/v2/models/user_team_user_attributes.rb
Due: generate

Set specific permissions on workflows. (#1996)
  .github/workflows/approved_status.yml
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
  .github/workflows/prepare_release.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

Regenerate client from commit bee8c3e1 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/abbreviated_team.rb
  lib/datadog_api_client/v2/models/abbreviated_team_attributes.rb
  lib/datadog_api_client/v2/models/abbreviated_team_type.rb
  lib/datadog_api_client/v2/models/user_team_included.rb
  lib/datadog_api_client/v2/models/user_team_user.rb
  lib/datadog_api_client/v2/models/user_team_user_attributes.rb
Due: generate

Use posix timestamp
  examples/v1/metrics/SubmitDistributionPoints.rb
  examples/v1/metrics/SubmitDistributionPoints_3109558960.rb
Due: format-examples

Regenerate client from commit 6093038f of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/v2/incidents.feature
  lib/datadog_api_client/v2/models/incident_notification_handle.rb
Due: generate

Regenerate client from commit 966987f5 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-query-table-widget-and-text-formatting.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-query-table-widget-and-text-formatting.yml
  examples/v1/dashboards/CreateDashboard_794302680.rb
  features/v1/dashboards.feature
  features/v1/dashboards_json_payload/query_table_widget_text_formatting.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/table_widget_request.rb
  lib/datadog_api_client/v1/models/table_widget_text_format_match.rb
  lib/datadog_api_client/v1/models/table_widget_text_format_match_type.rb
  lib/datadog_api_client/v1/models/table_widget_text_format_palette.rb
  lib/datadog_api_client/v1/models/table_widget_text_format_replace.rb
  lib/datadog_api_client/v1/models/table_widget_text_format_replace_all.rb
  lib/datadog_api_client/v1/models/table_widget_text_format_replace_all_type.rb
  lib/datadog_api_client/v1/models/table_widget_text_format_replace_substring.rb
  lib/datadog_api_client/v1/models/table_widget_text_format_replace_substring_type.rb
  lib/datadog_api_client/v1/models/table_widget_text_format_rule.rb
Due: generate, format-examples

Regenerate client from commit bae57ce1 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/powerpack_template_variable.rb
Due: generate

Regenerate client from commit c4c9bbbf of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/usage-metering/GetBillingDimensionMapping.rb
  features/scenarios_model_mapping.rb
  features/v2/undo.json
  features/v2/usage_metering.feature
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/usage_metering_api.rb
  lib/datadog_api_client/v2/models/billing_dimensions_mapping_body_item.rb
  lib/datadog_api_client/v2/models/billing_dimensions_mapping_body_item_attributes.rb
  lib/datadog_api_client/v2/models/billing_dimensions_mapping_body_item_attributes_endpoints_items.rb
  lib/datadog_api_client/v2/models/billing_dimensions_mapping_body_item_attributes_endpoints_items_status.rb
  lib/datadog_api_client/v2/models/billing_dimensions_mapping_response.rb
Due: generate, format-examples

Regenerate client from commit 253b7b76 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 41592dc6 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/usage_metering_api.rb
Due: generate

Regenerate client from commit 74e85997 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/fastly_services_response.rb
Due: generate

Regenerate client from commit 7752efd3 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/fastly_services_response.rb
Due: generate

Regenerate client from commit 77d3d5e5 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/v2/users.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/user_orgs_serializable.rb
  lib/datadog_api_client/v2/models/user_orgs_serializable_attributes.rb
  lib/datadog_api_client/v2/models/user_orgs_serializable_type.rb
  lib/datadog_api_client/v2/models/user_override_identity_provider.rb
  lib/datadog_api_client/v2/models/user_override_identity_provider_attributes.rb
  lib/datadog_api_client/v2/models/user_override_identity_provider_type.rb
  lib/datadog_api_client/v2/models/user_response_included_item.rb
  lib/datadog_api_client/v2/models/user_update_attributes.rb
Due: generate

Regenerate client from commit 2eb52c63 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit 0d76884c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/dora_deployment_request_attributes.rb
Due: generate

Regenerate client from commit 1fa8186c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/abbreviated_team.rb
  lib/datadog_api_client/v2/models/abbreviated_team_attributes.rb
  lib/datadog_api_client/v2/models/abbreviated_team_type.rb
  lib/datadog_api_client/v2/models/user_team_included.rb
  lib/datadog_api_client/v2/models/user_team_user.rb
  lib/datadog_api_client/v2/models/user_team_user_attributes.rb
Due: generate

Regenerate client from commit 279f186f of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/finding_detection_type.rb
Due: generate

Regenerate client from commit 83debf9e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/metrics_api.rb
Due: generate

Regenerate client from commit eb66b1cf of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/metrics_api.rb
  lib/datadog_api_client/v2/models/metric_tag_configuration_attributes.rb
  lib/datadog_api_client/v2/models/metric_tag_configuration_create_attributes.rb
  lib/datadog_api_client/v2/models/metric_tag_configuration_metric_type_category.rb
  lib/datadog_api_client/v2/models/metric_tag_configuration_update_attributes.rb
Due: generate

Regenerate client from commit 60bc9127 of spec repo
  .apigentools-info
  cassettes/features/v1/dashboards/Clients-deserialize-a-dashboard-with-a-empty-time-object.frozen
  cassettes/features/v1/dashboards/Clients-deserialize-a-dashboard-with-a-empty-time-object.yml
  examples/v1/dashboards/CreateDashboard_1433408735.rb
  features/v1/dashboards.feature
Due: format-examples

Regenerate client from commit 3c5d6057 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/teams/CreateTeamMembership.rb
  features/v2/teams.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/abbreviated_team.rb
  lib/datadog_api_client/v2/models/abbreviated_team_attributes.rb
  lib/datadog_api_client/v2/models/abbreviated_team_type.rb
  lib/datadog_api_client/v2/models/user_team_included.rb
  lib/datadog_api_client/v2/models/user_team_user.rb
  lib/datadog_api_client/v2/models/user_team_user_attributes.rb
Due: generate, format-examples

Regenerate client from commit 909e369c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Create-a-detection-rule-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Create-a-detection-rule-returns-OK-response.yml
  examples/v2/security-monitoring/CreateSecurityMonitoringRule.rb
  features/v2/security_monitoring.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/security_monitoring_reference_table.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_update_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_create_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_test_payload.rb
Due: generate, format-examples

Regenerate client from commit 64b1c61a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-a-toplist-widget-with-stacked-type-and-no-legend-specified.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-a-toplist-widget-with-stacked-type-and-no-legend-specified.yml
  cassettes/features/v2/security_monitoring/Create-a-detection-rule-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Create-a-detection-rule-returns-OK-response.yml
  examples/v1/dashboards/CreateDashboard_1413226400.rb
  examples/v2/security-monitoring/CreateSecurityMonitoringRule.rb
  features/v1/dashboards.feature
  features/v2/security_monitoring.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/toplist_widget_stacked.rb
  lib/datadog_api_client/v2/models/security_monitoring_reference_table.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_update_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_create_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_test_payload.rb
Due: generate, format-examples

Regenerate client from commit d90ee2ef of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/hourly_usage_attribution_usage_type.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_supported_metrics.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_values.rb
Due: generate

Regenerate client from commit 763d3bd7 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/logs_restriction_queries_api.rb
  lib/datadog_api_client/v2/models/logs_restriction_queries_type.rb
  lib/datadog_api_client/v2/models/restriction_query_attributes.rb
  lib/datadog_api_client/v2/models/restriction_query_create_attributes.rb
  lib/datadog_api_client/v2/models/restriction_query_create_data.rb
  lib/datadog_api_client/v2/models/restriction_query_create_payload.rb
  lib/datadog_api_client/v2/models/restriction_query_list_response.rb
  lib/datadog_api_client/v2/models/restriction_query_relationships.rb
  lib/datadog_api_client/v2/models/restriction_query_response_included_item.rb
  lib/datadog_api_client/v2/models/restriction_query_role.rb
  lib/datadog_api_client/v2/models/restriction_query_role_attribute.rb
  lib/datadog_api_client/v2/models/restriction_query_roles_response.rb
  lib/datadog_api_client/v2/models/restriction_query_update_attributes.rb
  lib/datadog_api_client/v2/models/restriction_query_update_data.rb
  lib/datadog_api_client/v2/models/restriction_query_update_payload.rb
  lib/datadog_api_client/v2/models/restriction_query_with_relationships.rb
  lib/datadog_api_client/v2/models/restriction_query_with_relationships_response.rb
  lib/datadog_api_client/v2/models/restriction_query_without_relationships.rb
  lib/datadog_api_client/v2/models/restriction_query_without_relationships_response.rb
Due: generate

pre-commit fixes
  lib/datadog_api_client/configuration.rb
Due: generate

Update configuration for frozen-string-literal (#1971)
  lib/datadog_api_client/configuration.rb
Due: generate

Regenerate client from commit 34a01c1d of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit c09e55c6 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/synthetics/Create-a-mobile-test-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-a-mobile-test-returns-OK-Returns-the-created-test-details-response.yml
  cassettes/features/v1/synthetics/Edit-a-Mobile-test-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Edit-a-Mobile-test-returns-OK-response.yml
  cassettes/features/v1/synthetics/Get-a-Mobile-test-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Get-a-Mobile-test-returns-OK-response.yml
  examples/v1/synthetics/CreateSyntheticsMobileTest.rb
  examples/v1/synthetics/GetMobileTest.rb
  examples/v1/synthetics/UpdateMobileTest.rb
  features/scenarios_model_mapping.rb
  features/v1/given.json
  features/v1/synthetics.feature
  features/v1/synthetics_mobile_test_payload.json
  features/v1/synthetics_mobile_test_update_payload.json
  features/v1/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/api/synthetics_api.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_device_id.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_type.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_test.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_test_binding.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_test_binding_items.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_test_binding_items_role.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_test_ci_options.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_test_config.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_test_initial_application_arguments.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_test_initial_application_arguments_property_names.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_test_options.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_test_options_monitor_options.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_test_options_monitor_options_notification_preset_name.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_test_type.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_tests_mobile_application.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_tests_mobile_application_reference_type.rb
Due: generate, format-examples

Regenerate client from commit e02e4f4c of spec repo
  .apigentools-info
  cassettes/features/v2/logs/Aggregate-compute-events-returns-OK-response.frozen
  cassettes/features/v2/logs/Aggregate-compute-events-returns-OK-response.yml
  cassettes/features/v2/logs/Aggregate-compute-events-with-group-by-returns-OK-response.frozen
  cassettes/features/v2/logs/Aggregate-compute-events-with-group-by-returns-OK-response.yml
  cassettes/features/v2/logs/Aggregate-events-returns-OK-response.frozen
  cassettes/features/v2/logs/Aggregate-events-returns-OK-response.yml
  cassettes/features/v2/logs/Get-a-quick-list-of-logs-returns-OK-response.frozen
  cassettes/features/v2/logs/Get-a-quick-list-of-logs-returns-OK-response.yml
  cassettes/features/v2/logs/Search-logs-returns-OK-response.frozen
  cassettes/features/v2/logs/Search-logs-returns-OK-response.yml
  cassettes/features/v2/logs/Send-logs-returns-Request-accepted-for-processing-always-202-empty-JSON-response.frozen
  cassettes/features/v2/logs/Send-logs-returns-Request-accepted-for-processing-always-202-empty-JSON-response.yml
  examples/v2/logs/AggregateLogs_2955613758.rb
  features/v2/logs.feature
Due: format-examples

Regenerate client from commit 3b4747f4 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/synthetics/Fetch-uptime-for-multiple-tests-returns-JSON-format-is-wrong-response.frozen
  cassettes/features/v1/synthetics/Fetch-uptime-for-multiple-tests-returns-JSON-format-is-wrong-response.yml
  cassettes/features/v1/synthetics/Fetch-uptime-for-multiple-tests-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Fetch-uptime-for-multiple-tests-returns-OK-response.yml
  examples/v1/synthetics/FetchUptimes.rb
  features/scenarios_model_mapping.rb
  features/v1/synthetics.feature
  features/v1/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/api/synthetics_api.rb
  lib/datadog_api_client/v1/models/synthetics_fetch_uptimes_payload.rb
  lib/datadog_api_client/v1/models/synthetics_test_uptime.rb
  lib/datadog_api_client/v1/models/synthetics_uptime.rb
Due: generate, format-examples

Bump datadog_api_client to 2.27.1
  lib/datadog_api_client/version.rb
Due: generate

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
