Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

Regenerate client from commit 36f6e1d of spec repo
  .generator/schemas/v2/openapi.yaml
  features/v2/case_management.feature
Due: generate

Regenerate client from commit 48d645b of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/annotation.rb
  lib/datadog_api_client/v2/models/annotation_display.rb
  lib/datadog_api_client/v2/models/annotation_display_bounds.rb
  lib/datadog_api_client/v2/models/annotation_markdown_text_annotation.rb
  lib/datadog_api_client/v2/models/spec.rb
Due: generate

Regenerate client from commit bafa1f4 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/v2/api/metrics_api.rb
  lib/datadog_api_client/v2/models/metric_estimate_attributes.rb
  lib/datadog_api_client/v2/models/metric_estimate_type.rb
Due: generate

Regenerate client from commit 3b4f16c of spec repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v1/api/metrics_api.rb
  lib/datadog_api_client/v2/api/metrics_api.rb
Due: generate

Regenerate client from commit fb71829 of spec repo
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 709b372 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/data_deletion/Cancels-a-data-deletion-request-returns-Bad-Request-response.frozen
  cassettes/features/v2/data_deletion/Cancels-a-data-deletion-request-returns-Bad-Request-response.yml
  cassettes/features/v2/data_deletion/Cancels-a-data-deletion-request-returns-OK-response.frozen
  cassettes/features/v2/data_deletion/Cancels-a-data-deletion-request-returns-OK-response.yml
  cassettes/features/v2/data_deletion/Cancels-a-data-deletion-request-returns-Precondition-failed-error-response.frozen
  cassettes/features/v2/data_deletion/Cancels-a-data-deletion-request-returns-Precondition-failed-error-response.yml
  cassettes/features/v2/data_deletion/Creates-a-data-deletion-request-returns-OK-response.frozen
  cassettes/features/v2/data_deletion/Creates-a-data-deletion-request-returns-OK-response.yml
  cassettes/features/v2/data_deletion/Creates-a-data-deletion-request-returns-Precondition-failed-error-response.frozen
  cassettes/features/v2/data_deletion/Creates-a-data-deletion-request-returns-Precondition-failed-error-response.yml
  cassettes/features/v2/data_deletion/Gets-a-list-of-data-deletion-requests-returns-OK-response.frozen
  cassettes/features/v2/data_deletion/Gets-a-list-of-data-deletion-requests-returns-OK-response.yml
  examples/v2/data-deletion/CancelDataDeletionRequest.rb
  examples/v2/data-deletion/CreateDataDeletionRequest.rb
  examples/v2/data-deletion/GetDataDeletionRequests.rb
  features/v2/data_deletion.feature
  features/v2/given.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/data_deletion_api.rb
  lib/datadog_api_client/v2/models/create_data_deletion_request_body_attributes.rb
  lib/datadog_api_client/v2/models/data_deletion_response_item_attributes.rb
Due: generate, format-examples

Regenerate client from commit 69003f9 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/static-analysis/CreateSCAResult.rb
  features/v2/static_analysis.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_dependencies_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_dependencies_items_locations_items_file_position.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_dependencies_items_locations_items_nullable_file_position.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_scan_start_timestamp.rb
Due: generate, format-examples

Regenerate client from commit 6dc3a80 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/asset_operating_system.rb
  lib/datadog_api_client/v2/models/scanned_asset_metadata.rb
  lib/datadog_api_client/v2/models/scanned_asset_metadata_type.rb
  lib/datadog_api_client/v2/models/vulnerability_type.rb
Due: generate

Regenerate client from commit 2356be1 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/device_tags_by_source.rb
Due: generate

Regenerate client from commit 9ac8b28 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/rum-retention-filters/CreateExclusionFilter.rb
  examples/v2/rum-retention-filters/DeleteExclusionFilter.rb
  examples/v2/rum-retention-filters/GetExclusionFilter.rb
  examples/v2/rum-retention-filters/ListExclusionFilters.rb
  examples/v2/rum-retention-filters/UpdateExclusionFilter.rb
  features/scenarios_model_mapping.rb
  features/v2/rum_retention_filters.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/rum_retention_filters_api.rb
  lib/datadog_api_client/v2/models/rum_exclusion_filter_attributes.rb
  lib/datadog_api_client/v2/models/rum_exclusion_filter_create_attributes.rb
  lib/datadog_api_client/v2/models/rum_exclusion_filter_create_data.rb
  lib/datadog_api_client/v2/models/rum_exclusion_filter_create_request.rb
  lib/datadog_api_client/v2/models/rum_exclusion_filter_data.rb
  lib/datadog_api_client/v2/models/rum_exclusion_filter_event_type.rb
  lib/datadog_api_client/v2/models/rum_exclusion_filter_meta.rb
  lib/datadog_api_client/v2/models/rum_exclusion_filter_response.rb
  lib/datadog_api_client/v2/models/rum_exclusion_filter_type.rb
  lib/datadog_api_client/v2/models/rum_exclusion_filter_update_attributes.rb
  lib/datadog_api_client/v2/models/rum_exclusion_filter_update_data.rb
  lib/datadog_api_client/v2/models/rum_exclusion_filter_update_request.rb
  lib/datadog_api_client/v2/models/rum_exclusion_filters_response.rb
Due: generate, format-examples

Regenerate client from commit b90a9c8 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/annotation.rb
  lib/datadog_api_client/v2/models/annotation_display.rb
  lib/datadog_api_client/v2/models/annotation_display_bounds.rb
  lib/datadog_api_client/v2/models/annotation_markdown_text_annotation.rb
  lib/datadog_api_client/v2/models/spec.rb
Due: generate

ci: run formatters during generation
  .pre-commit-config.yaml
Due: generate

ci: use generated BDD test runner
  .github/workflows/reusable-integration-test.yml
  .github/workflows/reusable-ruby-test.yml
Due: none

Regenerate client from commit edc0743 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/detach_case_request_data.rb
Due: generate

Regenerate client from commit 372caf3 of spec repo
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 4be576d of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/rum-teams-ownership/CreateTeamsOwnershipMapping.rb
  examples/v2/rum-teams-ownership/CreateTeamsOwnershipMapping_1881412984.rb
  examples/v2/rum-teams-ownership/CreateTeamsOwnershipMappingsBatch.rb
  examples/v2/rum-teams-ownership/DeleteTeamsOwnershipMapping.rb
  examples/v2/rum-teams-ownership/GetTeamsOwnershipMapping.rb
  examples/v2/rum-teams-ownership/ListTeamsOwnershipMappings.rb
  examples/v2/rum-teams-ownership/ListTeamsOwnershipRules.rb
  features/scenarios_model_mapping.rb
  features/v2/given.json
  features/v2/rum_teams_ownership.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/rum_teams_ownership_api.rb
  lib/datadog_api_client/v2/models/teams_ownership_mapping_batch_error.rb
  lib/datadog_api_client/v2/models/teams_ownership_mapping_batch_operation.rb
  lib/datadog_api_client/v2/models/teams_ownership_mapping_batch_operation_data.rb
  lib/datadog_api_client/v2/models/teams_ownership_mapping_batch_operation_data_attributes.rb
  lib/datadog_api_client/v2/models/teams_ownership_mapping_batch_operation_op.rb
  lib/datadog_api_client/v2/models/teams_ownership_mapping_batch_operation_ref.rb
  lib/datadog_api_client/v2/models/teams_ownership_mapping_batch_request.rb
  lib/datadog_api_client/v2/models/teams_ownership_mapping_batch_response.rb
  lib/datadog_api_client/v2/models/teams_ownership_mapping_batch_result.rb
  lib/datadog_api_client/v2/models/teams_ownership_mapping_batch_result_data.rb
  lib/datadog_api_client/v2/models/teams_ownership_mapping_batch_result_data_attributes.rb
  lib/datadog_api_client/v2/models/teams_ownership_mapping_create_data.rb
  lib/datadog_api_client/v2/models/teams_ownership_mapping_create_data_attributes.rb
  lib/datadog_api_client/v2/models/teams_ownership_mapping_create_request.rb
  lib/datadog_api_client/v2/models/teams_ownership_mapping_response.rb
  lib/datadog_api_client/v2/models/teams_ownership_mapping_response_attributes.rb
  lib/datadog_api_client/v2/models/teams_ownership_mapping_response_data.rb
  lib/datadog_api_client/v2/models/teams_ownership_mapping_type.rb
  lib/datadog_api_client/v2/models/teams_ownership_mappings_response.rb
  lib/datadog_api_client/v2/models/teams_ownership_match_type.rb
  lib/datadog_api_client/v2/models/teams_ownership_rule_response_attributes.rb
  lib/datadog_api_client/v2/models/teams_ownership_rule_response_data.rb
  lib/datadog_api_client/v2/models/teams_ownership_rule_team_mapping.rb
  lib/datadog_api_client/v2/models/teams_ownership_rule_type.rb
  lib/datadog_api_client/v2/models/teams_ownership_rules_response.rb
Due: generate, format-examples

Regenerate client from commit e2125c8 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/rum-retention-quota/DeleteRumQuotaConfig.rb
  examples/v2/rum-retention-quota/GetRumQuotaConfig.rb
  examples/v2/rum-retention-quotas/DeleteRumQuotaConfig.rb
  examples/v2/rum-retention-quotas/GetRumQuotaConfig.rb
  examples/v2/rum-retention-quotas/UpsertRumQuotaConfig.rb
  features/v2/rum_retention_quota.feature
  features/v2/rum_retention_quotas.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/rum_retention_quotas_api.rb
  lib/datadog_api_client/v2/models/rum_retention_quota_adaptive_config.rb
  lib/datadog_api_client/v2/models/rum_retention_quota_config_attributes.rb
  lib/datadog_api_client/v2/models/rum_retention_quota_config_update_attributes.rb
  lib/datadog_api_client/v2/models/rum_retention_quota_mode.rb
  lib/datadog_api_client/v2/models/rum_retention_quota_scope_type.rb
Due: generate, format-examples

Regenerate client from commit 5196374 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/observability_pipeline_spec.rb
  lib/datadog_api_client/v2/models/observability_pipeline_spec_data.rb
Due: generate

[AGV-1596] Add is_iac support to send X-Datadog-Managed-By header
  .generator/src/generator/templates/api_client.j2
  .generator/src/generator/templates/configuration.j2
  lib/datadog_api_client/api_client.rb
  lib/datadog_api_client/configuration.rb
  spec/api_client_spec.rb
Due: generate

Regenerate client from commit 0ca1b45 of spec repo
  features/v1/authentication.feature
  features/v1/key_management.feature
  features/v2/key_management.feature
  features/v2/service_accounts.feature
Due: none

Regenerate client from commit 45567e1 of spec repo
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 610ac2d of spec repo
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 49871d0 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/cost_aggregation_type.rb
Due: generate

Regenerate client from commit 0172867 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/threat-intelligence/SubmitStixThreatIntel.rb
  features/scenarios_model_mapping.rb
  features/v2/threat_intelligence.feature
  features/v2/undo.json
  generated-test/test-runner-data/manifest.json
  generated-test/test-runner-data/v2/threat-intelligence/ingest-stix-threat-intelligence-returns-ok-response.json
  generated-test/test-server-data/manifest.json
  generated-test/test-server-data/v2/threat-intelligence.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/threat_intelligence_api.rb
  lib/datadog_api_client/v2/models/stix_bundle_request.rb
  lib/datadog_api_client/v2/models/stix_bundle_type.rb
  lib/datadog_api_client/v2/models/stix_content_encoding.rb
  lib/datadog_api_client/v2/models/stix_ingest_response.rb
  lib/datadog_api_client/v2/models/stix_ingest_response_attributes.rb
  lib/datadog_api_client/v2/models/stix_ingest_response_data.rb
  lib/datadog_api_client/v2/models/stix_ingest_response_type.rb
  lib/datadog_api_client/v2/models/stix_object.rb
  lib/datadog_api_client/v2/models/stix_pattern_type.rb
  lib/datadog_api_client/v2/models/stix_spec_version.rb
Due: generate, format-examples

Regenerate client from commit e8cb6a3 of spec repo
  lib/datadog_api_client/api_client.rb
  lib/datadog_api_client/configuration.rb
Due: generate

Add tests for IaC managed-by header
  spec/api_client_spec.rb
Due: none

Regenerate client from commit 6cb59b9 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/azure_storage_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_destination_compression.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_destination_compression_gzip.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_destination_compression_gzip_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_destination_compression_zstd.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_destination_compression_zstd_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_azure_storage_destination_compression.rb
  lib/datadog_api_client/v2/models/observability_pipeline_azure_storage_destination_compression_gzip.rb
  lib/datadog_api_client/v2/models/observability_pipeline_azure_storage_destination_compression_gzip_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_azure_storage_destination_compression_zstd.rb
  lib/datadog_api_client/v2/models/observability_pipeline_azure_storage_destination_compression_zstd_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_google_cloud_storage_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_google_cloud_storage_destination_compression.rb
  lib/datadog_api_client/v2/models/observability_pipeline_google_cloud_storage_destination_compression_gzip.rb
  lib/datadog_api_client/v2/models/observability_pipeline_google_cloud_storage_destination_compression_gzip_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_google_cloud_storage_destination_compression_zstd.rb
  lib/datadog_api_client/v2/models/observability_pipeline_google_cloud_storage_destination_compression_zstd_type.rb
Due: generate

Regenerate client from commit 9324879 of spec repo
  lib/datadog_api_client/api_client.rb
  lib/datadog_api_client/configuration.rb
Due: generate

Regenerate client from commit ad69f99 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/api_client.rb
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/models/cost_aggregation_type.rb
Due: generate

Regenerate client from commit abdcd60 of spec repo
  lib/datadog_api_client/api_client.rb
  lib/datadog_api_client/configuration.rb
Due: generate

Regenerate client from commit 2c9d133 of spec repo
  features/v1/usage_metering.feature
  features/v2/usage_metering.feature
  generated-test/test-runner-data/manifest.json
  generated-test/test-runner-data/v1/usage-metering/get-specified-daily-custom-reports-returns-ok-response.json
  generated-test/test-runner-data/v1/usage-metering/get-specified-monthly-custom-reports-returns-ok-response.json
  generated-test/test-runner-data/v2/usage-metering/get-cost-across-multi-org-account-returns-ok-response.json
  generated-test/test-runner-data/v2/usage-metering/get-hourly-usage-for-application-security-returns-bad-request-response.json
  generated-test/test-runner-data/v2/usage-metering/get-hourly-usage-for-application-security-returns-ok-response.json
  generated-test/test-runner-data/v2/usage-metering/get-hourly-usage-for-lambda-traced-invocations-returns-bad-request-response.json
  generated-test/test-runner-data/v2/usage-metering/get-hourly-usage-for-lambda-traced-invocations-returns-ok-response.json
  generated-test/test-runner-data/v2/usage-metering/get-hourly-usage-for-observability-pipelines-returns-bad-request-response.json
  generated-test/test-runner-data/v2/usage-metering/get-hourly-usage-for-observability-pipelines-returns-ok-response.json
  lib/datadog_api_client/api_client.rb
  lib/datadog_api_client/configuration.rb
Due: generate
