Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Regenerate client from commit a88bcc5 of spec repo
  .generator/schemas/v1/openapi.yaml
  features/v1/monitors.feature
  lib/datadog_api_client/v1/models/monitor_options.rb
  lib/datadog_api_client/v1/models/on_missing_data_option.rb
Due: generate

fix: add missing EntityV3APISpecInterface model and inflector entry
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/entity_v3_api_spec_interface.rb
Due: generate

pre-commit fixes
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/entity_v3_api_spec_interface.rb
Due: generate

fix: treat additionalProperties: false as a regular object in child_models
  .generator/src/generator/openapi.py
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/entity_v3_api_spec_interface.rb
Due: generate

Regenerate client from commit c9aabc1 of spec repo
  .generator/schemas/v1/openapi.yaml
  features/v1/notebooks.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/notebook_create_data_attributes.rb
  lib/datadog_api_client/v1/models/notebook_response_data_attributes.rb
  lib/datadog_api_client/v1/models/notebook_template_variable.rb
  lib/datadog_api_client/v1/models/notebook_template_variable_available_values_query.rb
  lib/datadog_api_client/v1/models/notebook_template_variable_available_values_query_group_by.rb
  lib/datadog_api_client/v1/models/notebook_template_variable_available_values_query_log_rum_spans.rb
  lib/datadog_api_client/v1/models/notebook_template_variable_available_values_query_metrics.rb
  lib/datadog_api_client/v1/models/notebook_template_variable_available_values_query_search.rb
  lib/datadog_api_client/v1/models/notebook_update_data_attributes.rb
  lib/datadog_api_client/v1/models/notebooks_response_data_attributes.rb
Due: generate

Regenerate client from commit 19796bd of spec repo
  cassettes/features/v2/security_monitoring/List-assets-SBOMs-returns-Bad-request-Invalid-pagination-token-response.frozen
  cassettes/features/v2/security_monitoring/List-assets-SBOMs-returns-Bad-request-Invalid-pagination-token-response.yml
  cassettes/features/v2/security_monitoring/List-assets-SBOMs-returns-Not-found-There-is-no-request-associated-with-the-provided-token-response.frozen
  cassettes/features/v2/security_monitoring/List-scanned-assets-metadata-returns-Bad-request-Invalid-Pagination-Token-response.frozen
  cassettes/features/v2/security_monitoring/List-scanned-assets-metadata-returns-Bad-request-Invalid-Pagination-Token-response.yml
  cassettes/features/v2/security_monitoring/List-scanned-assets-metadata-returns-Not-found-asset-not-found-response.frozen
  cassettes/features/v2/security_monitoring/List-vulnerabilities-returns-Bad-request-Invalid-pagination-token-response.frozen
  cassettes/features/v2/security_monitoring/List-vulnerabilities-returns-Bad-request-Invalid-pagination-token-response.yml
  cassettes/features/v2/security_monitoring/List-vulnerabilities-returns-Not-found-There-is-no-request-associated-with-the-provided-token-response.frozen
  cassettes/features/v2/security_monitoring/List-vulnerable-assets-returns-Bad-request-Invalid-Pagination-Token-response.frozen
  cassettes/features/v2/security_monitoring/List-vulnerable-assets-returns-Bad-request-Invalid-Pagination-Token-response.yml
  cassettes/features/v2/security_monitoring/List-vulnerable-assets-returns-Not-found-There-is-no-request-associated-with-the-provided-token-response.frozen
  features/v2/security_monitoring.feature
Due: none

Fix generator to include additional properties with boolean values (#3553)
  .generator/src/generator/openapi.py
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/entity_v3_api_spec_interface.rb
Due: generate

Regenerate client from commit ee76c66 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/monitor_options.rb
  lib/datadog_api_client/v1/models/on_missing_data_option.rb
Due: generate

fix: remove UsageSummaryDate models excluded by the new Ruby generator
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

pre-commit fixes
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit 7e2a1a8 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-hostmap-DDSQL-widget.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-hostmap-DDSQL-widget.yml
  examples/v1/dashboards/CreateDashboard_2780500284.rb
  examples/v1/dashboards/CreateDashboard_2882802132.rb
  features/v1/dashboards.feature
  features/v1/dashboards_json_payload/hostmap_ddsql_widget.json
  features/v1/monitors.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/dataset_list_query.rb
  lib/datadog_api_client/v1/models/dataset_list_query_data_source_type.rb
  lib/datadog_api_client/v1/models/dataset_list_query_sort.rb
  lib/datadog_api_client/v1/models/dataset_list_query_sort_field.rb
  lib/datadog_api_client/v1/models/host_map_request.rb
  lib/datadog_api_client/v1/models/host_map_widget_definition.rb
  lib/datadog_api_client/v1/models/host_map_widget_definition_request_type.rb
  lib/datadog_api_client/v1/models/host_map_widget_definition_requests.rb
  lib/datadog_api_client/v1/models/host_map_widget_definition_style.rb
  lib/datadog_api_client/v1/models/host_map_widget_projection.rb
  lib/datadog_api_client/v1/models/host_map_widget_projection_dimension_mapping.rb
  lib/datadog_api_client/v1/models/host_map_widget_projection_type.rb
  lib/datadog_api_client/v1/models/published_dataset_provider.rb
Due: generate, format-examples

Regenerate client from commit 611f42b of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/synthetics/Create-an-API-SSL-test-returns-OK-Returns-the-created-test-details-response.yml
  examples/v1/synthetics/CreateSyntheticsAPITest_1072503741.rb
  features/v1/synthetics.feature
  features/v1/synthetics_api_ssl_test_payload.json
  lib/datadog_api_client/v1/models/synthetics_test_options.rb
Due: generate, format-examples

Regenerate client from commit 16e5fd0 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/synthetics/Create-an-API-SSL-test-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-SSL-test-returns-OK-Returns-the-created-test-details-response.yml
  examples/v1/synthetics/CreateSyntheticsAPITest_1072503741.rb
  features/v1/synthetics.feature
  features/v1/synthetics_api_ssl_test_payload.json
  lib/datadog_api_client/v1/models/synthetics_test_options.rb
Due: generate, format-examples

Regenerate client from commit 492dc21 of spec repo
  .generator/schemas/v1/openapi.yaml
  features/v1/dashboards.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/dashboard_available_values_events_data_source.rb
  lib/datadog_api_client/v1/models/dashboard_available_values_events_query.rb
  lib/datadog_api_client/v1/models/dashboard_available_values_events_query_group_by_items.rb
  lib/datadog_api_client/v1/models/dashboard_available_values_events_query_search.rb
  lib/datadog_api_client/v1/models/dashboard_available_values_metrics_query.rb
  lib/datadog_api_client/v1/models/dashboard_template_variable.rb
  lib/datadog_api_client/v1/models/dashboard_template_variable_available_values_query.rb
Due: generate

Pin simplecov to < 1.0.0 to fix test suite crash
  Gemfile
Due: none

Pin simplecov to < 1.0.0 to fix test suite crash (#3571)
  Gemfile
Due: none

Regenerate client from commit 306edfe of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/widget_calendar_aligned_span.rb
  lib/datadog_api_client/v1/models/widget_calendar_aligned_span_type.rb
  lib/datadog_api_client/v1/models/widget_live_span.rb
  lib/datadog_api_client/v1/models/widget_time.rb
Due: generate

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
