Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

Regenerate client from commit 93ae89a8 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 7511c5f0 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit 3f8bbb67 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/data_deletion/Cancels-a-data-deletion-request-returns-Bad-Request-response.frozen
  cassettes/features/v2/data_deletion/Cancels-a-data-deletion-request-returns-Bad-Request-response.yml
  cassettes/features/v2/data_deletion/Cancels-a-data-deletion-request-returns-OK-response.frozen
  cassettes/features/v2/data_deletion/Cancels-a-data-deletion-request-returns-OK-response.yml
  cassettes/features/v2/data_deletion/Cancels-a-data-deletion-request-returns-Precondition-failed-error-response.frozen
  cassettes/features/v2/data_deletion/Cancels-a-data-deletion-request-returns-Precondition-failed-error-response.yml
  cassettes/features/v2/data_deletion/Creates-a-data-deletion-request-returns-OK-response.frozen
  cassettes/features/v2/data_deletion/Creates-a-data-deletion-request-returns-OK-response.yml
  cassettes/features/v2/data_deletion/Creates-a-data-deletion-request-returns-Precondition-failed-error-response.frozen
  cassettes/features/v2/data_deletion/Creates-a-data-deletion-request-returns-Precondition-failed-error-response.yml
  cassettes/features/v2/data_deletion/Gets-a-list-of-data-deletion-requests-returns-OK-response.frozen
  cassettes/features/v2/data_deletion/Gets-a-list-of-data-deletion-requests-returns-OK-response.yml
  examples/v2/data-deletion/CancelDataDeletionRequest.rb
  examples/v2/data-deletion/CreateDataDeletionRequest.rb
  examples/v2/data-deletion/GetDataDeletionRequests.rb
  features/scenarios_model_mapping.rb
  features/v2/data_deletion.feature
  features/v2/given.json
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/data_deletion_api.rb
  lib/datadog_api_client/v2/models/cancel_data_deletion_response_body.rb
  lib/datadog_api_client/v2/models/create_data_deletion_request_body.rb
  lib/datadog_api_client/v2/models/create_data_deletion_request_body_attributes.rb
  lib/datadog_api_client/v2/models/create_data_deletion_request_body_data.rb
  lib/datadog_api_client/v2/models/create_data_deletion_response_body.rb
  lib/datadog_api_client/v2/models/data_deletion_response_item.rb
  lib/datadog_api_client/v2/models/data_deletion_response_item_attributes.rb
  lib/datadog_api_client/v2/models/data_deletion_response_meta.rb
  lib/datadog_api_client/v2/models/get_data_deletions_response_body.rb
Due: generate, format-examples

Regenerate client from commit 052a1901 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
Due: generate

Regenerate client from commit 88f11f7c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
Due: generate

Regenerate client from commit ce3146c2 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 06fd4aa3 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/v2/usage_metering.feature
Due: generate

Regenerate client from commit 7e7481f3 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/scim/CreateSCIMGroup.rb
  examples/v2/scim/DeleteSCIMGroup.rb
  examples/v2/scim/GetSCIMGroup.rb
  examples/v2/scim/ListSCIMGroups.rb
  examples/v2/scim/PatchSCIMGroup.rb
  examples/v2/scim/UpdateSCIMGroup.rb
  features/scenarios_model_mapping.rb
  features/v2/scim.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/scim_api.rb
  lib/datadog_api_client/v2/models/external_user_group.rb
  lib/datadog_api_client/v2/models/external_user_group_members_items.rb
  lib/datadog_api_client/v2/models/external_user_group_meta.rb
  lib/datadog_api_client/v2/models/external_user_group_patch_request.rb
  lib/datadog_api_client/v2/models/external_user_group_patch_request_operations_items.rb
  lib/datadog_api_client/v2/models/external_user_group_patch_request_operations_items_op.rb
  lib/datadog_api_client/v2/models/list_external_user_group_response.rb
  lib/datadog_api_client/v2/models/list_external_user_group_response_resources_items.rb
  lib/datadog_api_client/v2/models/list_external_user_group_response_resources_items_members_items.rb
Due: generate, format-examples

Regenerate client from commit 2b956c71 of spec repo
  .apigentools-info
  features/v2/data_deletion.feature
Due: none

Regenerate client from commit 142985c7 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-cost-management/GetCloudCostActivity.rb
  features/v2/cloud_cost_management.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/cloud_cost_management_api.rb
  lib/datadog_api_client/v2/models/cloud_cost_activity.rb
  lib/datadog_api_client/v2/models/cloud_cost_activity_attributes.rb
  lib/datadog_api_client/v2/models/cloud_cost_activity_response.rb
  lib/datadog_api_client/v2/models/cloud_cost_activity_type.rb
Due: generate, format-examples

Regenerate client from commit cfc6b497 of spec repo
  .apigentools-info
  cassettes/features/v2/rum_metrics/Create-a-rum-based-metric-returns-Bad-Request-response.frozen
  cassettes/features/v2/rum_metrics/Create-a-rum-based-metric-returns-Bad-Request-response.yml
  cassettes/features/v2/rum_metrics/Create-a-rum-based-metric-returns-Conflict-response.frozen
  cassettes/features/v2/rum_metrics/Create-a-rum-based-metric-returns-Conflict-response.yml
  cassettes/features/v2/rum_metrics/Create-a-rum-based-metric-returns-Created-response.frozen
  cassettes/features/v2/rum_metrics/Create-a-rum-based-metric-returns-Created-response.yml
  cassettes/features/v2/rum_metrics/Delete-a-rum-based-metric-returns-No-Content-response.frozen
  cassettes/features/v2/rum_metrics/Delete-a-rum-based-metric-returns-No-Content-response.yml
  cassettes/features/v2/rum_metrics/Delete-a-rum-based-metric-returns-Not-Found-response.frozen
  cassettes/features/v2/rum_metrics/Delete-a-rum-based-metric-returns-Not-Found-response.yml
  cassettes/features/v2/rum_metrics/Get-a-rum-based-metric-returns-Not-Found-response.frozen
  cassettes/features/v2/rum_metrics/Get-a-rum-based-metric-returns-Not-Found-response.yml
  cassettes/features/v2/rum_metrics/Get-a-rum-based-metric-returns-OK-response.frozen
  cassettes/features/v2/rum_metrics/Get-a-rum-based-metric-returns-OK-response.yml
  cassettes/features/v2/rum_metrics/Get-all-rum-based-metrics-returns-OK-response.frozen
  cassettes/features/v2/rum_metrics/Get-all-rum-based-metrics-returns-OK-response.yml
  cassettes/features/v2/rum_metrics/Update-a-rum-based-metric-returns-Bad-Request-response.frozen
  cassettes/features/v2/rum_metrics/Update-a-rum-based-metric-returns-Bad-Request-response.yml
  cassettes/features/v2/rum_metrics/Update-a-rum-based-metric-returns-Conflict-response.frozen
  cassettes/features/v2/rum_metrics/Update-a-rum-based-metric-returns-Conflict-response.yml
  cassettes/features/v2/rum_metrics/Update-a-rum-based-metric-returns-Not-Found-response.frozen
  cassettes/features/v2/rum_metrics/Update-a-rum-based-metric-returns-Not-Found-response.yml
  cassettes/features/v2/rum_metrics/Update-a-rum-based-metric-returns-OK-response.frozen
  cassettes/features/v2/rum_metrics/Update-a-rum-based-metric-returns-OK-response.yml
  features/v2/given.json
Due: none

Regenerate client from commit 843392e2 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/data_deletion/Cancels-a-data-deletion-request-returns-Bad-Request-response.frozen
  cassettes/features/v2/data_deletion/Cancels-a-data-deletion-request-returns-Bad-Request-response.yml
  cassettes/features/v2/data_deletion/Cancels-a-data-deletion-request-returns-OK-response.frozen
  cassettes/features/v2/data_deletion/Cancels-a-data-deletion-request-returns-OK-response.yml
  cassettes/features/v2/data_deletion/Cancels-a-data-deletion-request-returns-Precondition-failed-error-response.frozen
  cassettes/features/v2/data_deletion/Cancels-a-data-deletion-request-returns-Precondition-failed-error-response.yml
  cassettes/features/v2/data_deletion/Creates-a-data-deletion-request-returns-OK-response.frozen
  cassettes/features/v2/data_deletion/Creates-a-data-deletion-request-returns-OK-response.yml
  cassettes/features/v2/data_deletion/Creates-a-data-deletion-request-returns-Precondition-failed-error-response.frozen
  cassettes/features/v2/data_deletion/Creates-a-data-deletion-request-returns-Precondition-failed-error-response.yml
  cassettes/features/v2/data_deletion/Gets-a-list-of-data-deletion-requests-returns-OK-response.frozen
  cassettes/features/v2/data_deletion/Gets-a-list-of-data-deletion-requests-returns-OK-response.yml
  examples/v2/data-deletion/CreateDataDeletionRequest.rb
  features/v2/data_deletion.feature
  features/v2/given.json
  lib/datadog_api_client/v2/api/data_deletion_api.rb
  lib/datadog_api_client/v2/models/data_deletion_response_item_attributes.rb
Due: generate, format-examples

Regenerate client from commit 970515f9 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit fb5856bc of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/widget_layout.rb
Due: generate

Regenerate client from commit dca8eed3 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/metrics/Get-a-list-of-metrics-returns-Success-response-with-pagination.frozen
  cassettes/features/v2/metrics/Get-a-list-of-metrics-returns-Success-response-with-pagination.yml
  examples/v2/metrics/ListTagConfigurations_3969783727.rb
  features/scenarios_model_mapping.rb
  features/v2/metrics.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/metrics_api.rb
  lib/datadog_api_client/v2/models/metric_meta_page.rb
  lib/datadog_api_client/v2/models/metric_meta_page_type.rb
  lib/datadog_api_client/v2/models/metric_pagination_meta.rb
  lib/datadog_api_client/v2/models/metrics_list_response_links.rb
Due: generate, format-examples

Regenerate client from commit 40cfa1aa of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/restriction_policies_api.rb
Due: generate

Regenerate client from commit f2b02207 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/synthetics_fetch_uptimes_payload.rb
Due: generate

Regenerate client from commit 211b93c6 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/workflow_automation_api.rb
Due: generate

Regenerate client from commit ef151ed1 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/aws_integration_api.rb
  lib/datadog_api_client/v2/models/aws_account_create_request.rb
  lib/datadog_api_client/v2/models/aws_account_create_request_attributes.rb
  lib/datadog_api_client/v2/models/aws_account_create_request_data.rb
  lib/datadog_api_client/v2/models/aws_account_partition.rb
  lib/datadog_api_client/v2/models/aws_account_response.rb
  lib/datadog_api_client/v2/models/aws_account_response_attributes.rb
  lib/datadog_api_client/v2/models/aws_account_response_data.rb
  lib/datadog_api_client/v2/models/aws_account_update_request.rb
  lib/datadog_api_client/v2/models/aws_account_update_request_attributes.rb
  lib/datadog_api_client/v2/models/aws_account_update_request_data.rb
  lib/datadog_api_client/v2/models/aws_accounts_response.rb
  lib/datadog_api_client/v2/models/aws_auth_config.rb
  lib/datadog_api_client/v2/models/aws_auth_config_keys.rb
  lib/datadog_api_client/v2/models/aws_auth_config_role.rb
  lib/datadog_api_client/v2/models/aws_lambda_forwarder_config.rb
  lib/datadog_api_client/v2/models/aws_logs_config.rb
  lib/datadog_api_client/v2/models/aws_metrics_config.rb
  lib/datadog_api_client/v2/models/aws_namespace_filters.rb
  lib/datadog_api_client/v2/models/aws_namespace_filters_exclude_only.rb
  lib/datadog_api_client/v2/models/aws_namespace_filters_include_only.rb
  lib/datadog_api_client/v2/models/aws_namespace_tag_filter.rb
  lib/datadog_api_client/v2/models/aws_namespaces_response.rb
  lib/datadog_api_client/v2/models/aws_namespaces_response_attributes.rb
  lib/datadog_api_client/v2/models/aws_namespaces_response_data.rb
  lib/datadog_api_client/v2/models/aws_new_external_id_response.rb
  lib/datadog_api_client/v2/models/aws_new_external_id_response_attributes.rb
  lib/datadog_api_client/v2/models/aws_new_external_id_response_data.rb
  lib/datadog_api_client/v2/models/aws_regions.rb
  lib/datadog_api_client/v2/models/aws_regions_include_all.rb
  lib/datadog_api_client/v2/models/aws_regions_include_only.rb
  lib/datadog_api_client/v2/models/aws_resources_config.rb
  lib/datadog_api_client/v2/models/aws_traces_config.rb
  lib/datadog_api_client/v2/models/x_ray_services_include_all.rb
  lib/datadog_api_client/v2/models/x_ray_services_include_only.rb
  lib/datadog_api_client/v2/models/x_ray_services_list.rb
Due: generate

Regenerate client from commit e53ab0e3 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/metrics/Get-a-list-of-metrics-returns-Success-response-with-pagination.frozen
  cassettes/features/v2/metrics/Get-a-list-of-metrics-returns-Success-response-with-pagination.yml
  examples/v2/metrics/ListTagConfigurations_3969783727.rb
  features/scenarios_model_mapping.rb
  features/v2/metrics.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/metrics_api.rb
  lib/datadog_api_client/v2/models/metric_meta_page.rb
  lib/datadog_api_client/v2/models/metric_meta_page_type.rb
  lib/datadog_api_client/v2/models/metric_pagination_meta.rb
  lib/datadog_api_client/v2/models/metrics_list_response_links.rb
Due: generate, format-examples

Regenerate client from commit 4f71be94 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/List-rules-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/List-rules-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Update-a-cloud-configuration-rule-s-details-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Update-a-cloud-configuration-rule-s-details-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Update-an-existing-rule-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Update-an-existing-rule-returns-OK-response.yml
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_response.rb
Due: generate

Regenerate client from commit 408f0b84 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-cost-management/GetCloudCostActivity.rb
  features/v2/cloud_cost_management.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/cloud_cost_management_api.rb
  lib/datadog_api_client/v2/models/cloud_cost_activity.rb
  lib/datadog_api_client/v2/models/cloud_cost_activity_attributes.rb
  lib/datadog_api_client/v2/models/cloud_cost_activity_response.rb
  lib/datadog_api_client/v2/models/cloud_cost_activity_type.rb
Due: generate, format-examples

Regenerate client from commit aee36841 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/workflow_automation_api.rb
Due: generate

Regenerate client from commit f35e3502 of spec repo
  .apigentools-info
  cassettes/features/v2/rum/Aggregate-RUM-events-returns-OK-response.frozen
  cassettes/features/v2/rum/Aggregate-RUM-events-returns-OK-response.yml
  cassettes/features/v2/rum/Create-a-new-RUM-application-returns-OK-response.frozen
  cassettes/features/v2/rum/Create-a-new-RUM-application-returns-OK-response.yml
  cassettes/features/v2/rum/Delete-a-RUM-application-returns-No-Content-response.frozen
  cassettes/features/v2/rum/Delete-a-RUM-application-returns-No-Content-response.yml
  cassettes/features/v2/rum/Delete-a-RUM-application-returns-Not-Found-response.frozen
  cassettes/features/v2/rum/Delete-a-RUM-application-returns-Not-Found-response.yml
  cassettes/features/v2/rum/Get-a-RUM-application-returns-Not-Found-response.frozen
  cassettes/features/v2/rum/Get-a-RUM-application-returns-Not-Found-response.yml
  cassettes/features/v2/rum/Get-a-RUM-application-returns-OK-response.frozen
  cassettes/features/v2/rum/Get-a-RUM-application-returns-OK-response.yml
  cassettes/features/v2/rum/Get-a-list-of-RUM-events-returns-OK-response.frozen
  cassettes/features/v2/rum/Get-a-list-of-RUM-events-returns-OK-response.yml
  cassettes/features/v2/rum/List-all-the-RUM-applications-returns-OK-response.frozen
  cassettes/features/v2/rum/List-all-the-RUM-applications-returns-OK-response.yml
  cassettes/features/v2/rum/Search-RUM-events-returns-OK-response.frozen
  cassettes/features/v2/rum/Search-RUM-events-returns-OK-response.yml
  cassettes/features/v2/rum/Update-a-RUM-application-returns-OK-response.frozen
  cassettes/features/v2/rum/Update-a-RUM-application-returns-OK-response.yml
  cassettes/features/v2/rum/Update-a-RUM-application-returns-Unprocessable-Entity-response.frozen
  cassettes/features/v2/rum/Update-a-RUM-application-returns-Unprocessable-Entity-response.yml
  features/v2/given.json
  features/v2/rum.feature
Due: none

Regenerate client from commit 2645d736 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/usage_metering_api.rb
Due: generate

Regenerate client from commit 5da0cd35 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/ci_visibility_pipelines/Aggregate-pipelines-events-returns-OK-response.frozen
  cassettes/features/v2/ci_visibility_pipelines/Aggregate-pipelines-events-returns-OK-response.yml
  cassettes/features/v2/ci_visibility_pipelines/Get-a-list-of-pipelines-events-returns-OK-response.frozen
  cassettes/features/v2/ci_visibility_pipelines/Get-a-list-of-pipelines-events-returns-OK-response.yml
  cassettes/features/v2/ci_visibility_pipelines/Search-pipelines-events-returns-OK-response.frozen
  cassettes/features/v2/ci_visibility_pipelines/Search-pipelines-events-returns-OK-response.yml
  cassettes/features/v2/ci_visibility_pipelines/Send-pipeline-event-returns-Request-accepted-for-processing-response.frozen
  cassettes/features/v2/ci_visibility_pipelines/Send-pipeline-event-returns-Request-accepted-for-processing-response.yml
  cassettes/features/v2/ci_visibility_pipelines/Send-pipeline-job-event-returns-Request-accepted-for-processing-response.frozen
  cassettes/features/v2/ci_visibility_pipelines/Send-running-pipeline-event-returns-Request-accepted-for-processing-response.frozen
  cassettes/features/v2/ci_visibility_pipelines/Send-running-pipeline-event-returns-Request-accepted-for-processing-response.yml
  examples/v2/ci-visibility-pipelines/CreateCIAppPipelineEvent_129899466.rb
  examples/v2/ci-visibility-pipelines/CreateCIAppPipelineEvent_2341150096.rb
  features/v2/ci_visibility_pipelines.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/ci_app_pipeline_event_finished_pipeline.rb
  lib/datadog_api_client/v2/models/ci_app_pipeline_event_in_progress_pipeline.rb
  lib/datadog_api_client/v2/models/ci_app_pipeline_event_pipeline.rb
  lib/datadog_api_client/v2/models/ci_app_pipeline_event_pipeline_in_progress_status.rb
Due: generate, format-examples

disable bearer auth
  .generator/src/generator/templates/configuration.j2
Due: generate

fix(github-workflows): use official GitHub action for token generation
  .github/workflows/approved_status.yml
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

Regenerate client from commit 1c4c91d4 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/restriction_policies_api.rb
Due: generate

Regenerate client from commit d3653154 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/csm_agents/Get-all-CSM-Threats-Agent-rules-returns-OK-response.frozen
  cassettes/features/v2/csm_agents/Get-all-CSM-Threats-Agent-rules-returns-OK-response.yml
  examples/v2/csm-agents/ListAllCSMAgents.rb
  features/scenarios_model_mapping.rb
  features/v2/csm_agents.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/csm_agents_api.rb
  lib/datadog_api_client/v2/models/csm_agent_data.rb
  lib/datadog_api_client/v2/models/csm_agents_attributes.rb
  lib/datadog_api_client/v2/models/csm_agents_metadata.rb
  lib/datadog_api_client/v2/models/csm_agents_response.rb
  lib/datadog_api_client/v2/models/csm_agents_type.rb
  lib/datadog_api_client/v2/models/order_direction.rb
Due: generate, format-examples

Regenerate client from commit 7a9d0200 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Due: generate

fix(github-workflows): use official GitHub action for token generation (#2144)
  .github/workflows/approved_status.yml
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none
