Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Bump datadog_api_client to 2.27.1.dev.1
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit 3f12bebc of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-a-toplist-widget-with-stacked-type-and-no-legend-specified.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-a-toplist-widget-with-stacked-type-and-no-legend-specified.yml
  examples/v1/dashboards/CreateDashboard_1413226400.rb
  features/v1/dashboards.feature
  lib/datadog_api_client/v1/models/toplist_widget_stacked.rb
Due: generate, format-examples

Regenerate client from commit 76b7b19d of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/monitors_api.rb
Due: generate

Regenerate client from commit 2c46d95c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/incident_response_included_item.rb
  lib/datadog_api_client/v2/models/incident_user_attributes.rb
  lib/datadog_api_client/v2/models/incident_user_data.rb
Due: generate

mult form parameter support
  .generator/src/generator/templates/api_client.j2
  features/step_definitions/request.rb
  features/support/env.rb
Due: generate

Regenerate client from commit 7a63d530 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateSyntheticsMobileTest.rb
  examples/v1/synthetics/UpdateMobileTest.rb
  features/v1/synthetics.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_device_id.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_test.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_test_options.rb
  lib/datadog_api_client/v1/models/synthetics_test_details_type.rb
Due: generate, format-examples

Regenerate client from commit f28ad048 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/incident_integration_metadata_metadata.rb
  lib/datadog_api_client/v2/models/ms_teams_integration_metadata.rb
  lib/datadog_api_client/v2/models/ms_teams_integration_metadata_teams_item.rb
Due: generate

Regenerate client from commit ef7c2778 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
  lib/datadog_api_client/v2/api/usage_metering_api.rb
Due: generate

Regenerate client from commit e9adfd01 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v2/incidents/CreateIncidentType.rb
  examples/v2/incidents/DeleteIncidentType.rb
  examples/v2/incidents/GetIncidentType.rb
  examples/v2/incidents/ListIncidentTypes.rb
  examples/v2/incidents/UpdateIncidentType.rb
  features/scenarios_model_mapping.rb
  features/v2/given.json
  features/v2/incidents.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/incidents_api.rb
  lib/datadog_api_client/v2/models/incident_create_attributes.rb
  lib/datadog_api_client/v2/models/incident_response_attributes.rb
  lib/datadog_api_client/v2/models/incident_type_attributes.rb
  lib/datadog_api_client/v2/models/incident_type_create_data.rb
  lib/datadog_api_client/v2/models/incident_type_create_request.rb
  lib/datadog_api_client/v2/models/incident_type_list_response.rb
  lib/datadog_api_client/v2/models/incident_type_patch_data.rb
  lib/datadog_api_client/v2/models/incident_type_patch_request.rb
  lib/datadog_api_client/v2/models/incident_type_response.rb
  lib/datadog_api_client/v2/models/incident_type_type.rb
  lib/datadog_api_client/v2/models/incident_type_update_attributes.rb
Due: generate, format-examples

Regenerate client from commit 5b4f9ebe of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v1/gcp_integration/Create-a-GCP-integration-returns-OK-response.frozen
  cassettes/features/v1/gcp_integration/Create-a-GCP-integration-returns-OK-response.yml
  cassettes/features/v1/gcp_integration/Delete-a-GCP-integration-returns-OK-response.frozen
  cassettes/features/v1/gcp_integration/Delete-a-GCP-integration-returns-OK-response.yml
  cassettes/features/v1/gcp_integration/Update-a-GCP-integration-cloud-run-revision-filters-returns-OK-response.frozen
  cassettes/features/v1/gcp_integration/Update-a-GCP-integration-cloud-run-revision-filters-returns-OK-response.yml
  cassettes/features/v1/gcp_integration/Update-a-GCP-integration-returns-OK-response.frozen
  cassettes/features/v1/gcp_integration/Update-a-GCP-integration-returns-OK-response.yml
  cassettes/features/v2/gcp_integration/Create-a-new-entry-for-your-service-account-with-security-command-center-enabled-returns-OK-response.frozen
  cassettes/features/v2/gcp_integration/Create-a-new-entry-for-your-service-account-with-security-command-center-enabled-returns-OK-response.yml
  examples/v1/gcp-integration/CreateGCPIntegration.rb
  examples/v1/gcp-integration/UpdateGCPIntegration.rb
  examples/v1/gcp-integration/UpdateGCPIntegration_3544259255.rb
  examples/v2/gcp-integration/CreateGCPSTSAccount_2597004741.rb
  features/v1/gcp_integration.feature
  features/v1/given.json
  features/v2/gcp_integration.feature
  lib/datadog_api_client/v1/models/gcp_account.rb
  lib/datadog_api_client/v2/models/gcpsts_service_account_attributes.rb
Due: generate, format-examples

Regenerate client from commit 14f75a85 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/usage-metering/GetMonthlyCostAttribution.rb
  lib/datadog_api_client/v2/api/usage_metering_api.rb
Due: generate, format-examples

Regenerate client from commit 6c26a0dd of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/asm-exclusion-filters/CreateASMExclusionFilter.rb
  examples/v2/asm-exclusion-filters/DeleteASMExclusionFilter.rb
  examples/v2/asm-exclusion-filters/GetASMExclusionFilters.rb
  examples/v2/asm-exclusion-filters/ListASMExclusionFilters.rb
  examples/v2/asm-exclusion-filters/UpdateASMExclusionFilter.rb
  features/scenarios_model_mapping.rb
  features/v2/asm_exclusion_filters.feature
  features/v2/given.json
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/asm_exclusion_filters_api.rb
  lib/datadog_api_client/v2/models/asm_exclusion_filter_attributes.rb
  lib/datadog_api_client/v2/models/asm_exclusion_filter_create_attributes.rb
  lib/datadog_api_client/v2/models/asm_exclusion_filter_create_data.rb
  lib/datadog_api_client/v2/models/asm_exclusion_filter_create_request.rb
  lib/datadog_api_client/v2/models/asm_exclusion_filter_data.rb
  lib/datadog_api_client/v2/models/asm_exclusion_filter_list_attributes.rb
  lib/datadog_api_client/v2/models/asm_exclusion_filter_list_response.rb
  lib/datadog_api_client/v2/models/asm_exclusion_filter_list_rules_target.rb
  lib/datadog_api_client/v2/models/asm_exclusion_filter_list_rules_target_tags.rb
  lib/datadog_api_client/v2/models/asm_exclusion_filter_metadata.rb
  lib/datadog_api_client/v2/models/asm_exclusion_filter_response.rb
  lib/datadog_api_client/v2/models/asm_exclusion_filter_rules_target.rb
  lib/datadog_api_client/v2/models/asm_exclusion_filter_scope.rb
  lib/datadog_api_client/v2/models/asm_exclusion_filter_type.rb
  lib/datadog_api_client/v2/models/asm_exclusion_filter_update_attributes.rb
  lib/datadog_api_client/v2/models/asm_exclusion_filter_update_data.rb
  lib/datadog_api_client/v2/models/asm_exclusion_filter_update_request.rb
  lib/datadog_api_client/v2/models/asm_exclusion_list_filter_data.rb
Due: generate, format-examples

Regenerate client from commit eb227ded of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/slo_history_monitor.rb
Due: generate

Regenerate client from commit a458c3a4 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/finding_attributes.rb
  lib/datadog_api_client/v2/models/finding_vulnerability_type.rb
Due: generate

Regenerate client from commit 43ae024c of spec repo
  .apigentools-info
  cassettes/features/v1/monitors/Validate-a-monitor-returns-OK-response.frozen
  cassettes/features/v1/monitors/Validate-a-monitor-returns-OK-response.yml
  cassettes/features/v1/monitors/Validate-a-multi-alert-monitor-returns-OK-response.frozen
  cassettes/features/v1/monitors/Validate-a-multi-alert-monitor-returns-OK-response.yml
  cassettes/features/v1/monitors/Validate-an-existing-monitor-returns-OK-response.frozen
  cassettes/features/v1/monitors/Validate-an-existing-monitor-returns-OK-response.yml
  examples/v1/monitors/ValidateExistingMonitor.rb
  examples/v1/monitors/ValidateMonitor.rb
  examples/v1/monitors/ValidateMonitor_4247196452.rb
  features/v1/monitor_payload.json
  features/v1/multi_alert_monitor_payload.json
Due: format-examples

Regenerate client from commit ef2b78d8 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/events/CreateEvent.rb
  features/scenarios_model_mapping.rb
  features/v1/given.json
  features/v2/events.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/events_api.rb
  lib/datadog_api_client/v2/models/change_event.rb
  lib/datadog_api_client/v2/models/change_event_category.rb
  lib/datadog_api_client/v2/models/change_event_create_request.rb
  lib/datadog_api_client/v2/models/change_event_create_request_type.rb
  lib/datadog_api_client/v2/models/change_event_create_response.rb
  lib/datadog_api_client/v2/models/change_event_create_response_attributes.rb
  lib/datadog_api_client/v2/models/change_event_create_response_attributes_attributes.rb
  lib/datadog_api_client/v2/models/change_event_create_response_attributes_attributes_evt.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_author.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_author_type.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_changed_resource.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_changed_resource_type.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_impacted_resources_items.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_impacted_resources_items_type.rb
Due: generate, format-examples

Regenerate client from commit 3984d2f2 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  features/v1/given.json
  lib/datadog_api_client/v1/models/list_stream_source.rb
Due: generate

Regenerate client from commit 672b8739 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/metrics_api.rb
Due: generate

Regenerate client from commit d5d7664b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/events/CreateEvent.rb
  features/scenarios_model_mapping.rb
  features/v1/given.json
  features/v2/events.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/events_api.rb
  lib/datadog_api_client/v2/models/change_event.rb
  lib/datadog_api_client/v2/models/change_event_category.rb
  lib/datadog_api_client/v2/models/change_event_create_request.rb
  lib/datadog_api_client/v2/models/change_event_create_request_type.rb
  lib/datadog_api_client/v2/models/change_event_create_response.rb
  lib/datadog_api_client/v2/models/change_event_create_response_attributes.rb
  lib/datadog_api_client/v2/models/change_event_create_response_attributes_attributes.rb
  lib/datadog_api_client/v2/models/change_event_create_response_attributes_attributes_evt.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_author.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_author_type.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_changed_resource.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_changed_resource_type.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_impacted_resources_items.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_impacted_resources_items_type.rb
Due: generate, format-examples

Regenerate client from commit 56b8bb9b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-alert-graph-widget.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-alert-graph-widget.yml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-alert-value-widget.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-alert-value-widget.yml
  cassettes/features/v1/downtimes/Schedule-a-monitor-downtime-returns-OK-response.frozen
  cassettes/features/v1/downtimes/Schedule-a-monitor-downtime-returns-OK-response.yml
  cassettes/features/v1/monitors/Check-if-a-monitor-can-be-deleted-returns-OK-response.frozen
  cassettes/features/v1/monitors/Check-if-a-monitor-can-be-deleted-returns-OK-response.yml
  cassettes/features/v1/monitors/Delete-a-monitor-returns-OK-response.frozen
  cassettes/features/v1/monitors/Delete-a-monitor-returns-OK-response.yml
  cassettes/features/v1/monitors/Edit-a-monitor-returns-OK-response.frozen
  cassettes/features/v1/monitors/Edit-a-monitor-returns-OK-response.yml
  cassettes/features/v1/monitors/Get-a-monitor-s-details-returns-OK-response.frozen
  cassettes/features/v1/monitors/Get-a-monitor-s-details-returns-OK-response.yml
  cassettes/features/v1/monitors/Get-a-monitor-s-details-with-downtime-returns-OK-response.yml
  cassettes/features/v1/monitors/Validate-an-existing-monitor-returns-Invalid-JSON-response.frozen
  cassettes/features/v1/monitors/Validate-an-existing-monitor-returns-Invalid-JSON-response.yml
  cassettes/features/v1/monitors/Validate-an-existing-monitor-returns-OK-response.frozen
  cassettes/features/v1/monitors/Validate-an-existing-monitor-returns-OK-response.yml
  features/v1/given.json
  lib/datadog_api_client/v2/api/metrics_api.rb
Due: generate

Regenerate client from commit 049920eb of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/hourly_usage_attribution_usage_type.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_supported_metrics.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_values.rb
Due: generate

Regenerate client from commit 85278ed5 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/synthetics_ci_test_body.rb
Due: generate

Regenerate client from commit 2a5e035c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/sensitive_data_scanner_meta.rb
Due: generate

Regenerate client from commit 3a805b0a of spec repo
  .apigentools-info
  features/v2/gcp_integration.feature
Due: none

Regenerate client from commit cd45bf1d of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  features/v1/synthetics.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_check.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_direction.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_element.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_element_context_type.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_element_relative_position.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_element_user_locator.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_element_user_locator_values_items.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_element_user_locator_values_items_type.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_position.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_position_positions_items.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_variable.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_test_binding_relation.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_test_config.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_test_options.rb
Due: generate

Regenerate client from commit da2ec797 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 86072741 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/usage-metering/GetMonthlyCostAttribution.rb
  features/v2/usage_metering.feature
  lib/datadog_api_client/v2/api/usage_metering_api.rb
Due: generate, format-examples

Regenerate client from commit 97c53c7d of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/application-security-exclusion-filters/CreateApplicationSecurityExclusionFilter.rb
  examples/v2/application-security-exclusion-filters/DeleteApplicationSecurityExclusionFilter.rb
  examples/v2/application-security-exclusion-filters/GetApplicationSecurityExclusionFilters.rb
  examples/v2/application-security-exclusion-filters/ListApplicationSecurityExclusionFilters.rb
  examples/v2/application-security-exclusion-filters/UpdateApplicationSecurityExclusionFilter.rb
  features/scenarios_model_mapping.rb
  features/v2/application_security_exclusion_filters.feature
  features/v2/given.json
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/application_security_exclusion_filters_api.rb
  lib/datadog_api_client/v2/models/application_security_exclusion_filter_attributes.rb
  lib/datadog_api_client/v2/models/application_security_exclusion_filter_create_attributes.rb
  lib/datadog_api_client/v2/models/application_security_exclusion_filter_create_data.rb
  lib/datadog_api_client/v2/models/application_security_exclusion_filter_create_request.rb
  lib/datadog_api_client/v2/models/application_security_exclusion_filter_data.rb
  lib/datadog_api_client/v2/models/application_security_exclusion_filter_list_attributes.rb
  lib/datadog_api_client/v2/models/application_security_exclusion_filter_list_response.rb
  lib/datadog_api_client/v2/models/application_security_exclusion_filter_list_rules_target.rb
  lib/datadog_api_client/v2/models/application_security_exclusion_filter_list_rules_target_tags.rb
  lib/datadog_api_client/v2/models/application_security_exclusion_filter_metadata.rb
  lib/datadog_api_client/v2/models/application_security_exclusion_filter_response.rb
  lib/datadog_api_client/v2/models/application_security_exclusion_filter_rules_target.rb
  lib/datadog_api_client/v2/models/application_security_exclusion_filter_scope.rb
  lib/datadog_api_client/v2/models/application_security_exclusion_filter_type.rb
  lib/datadog_api_client/v2/models/application_security_exclusion_filter_update_attributes.rb
  lib/datadog_api_client/v2/models/application_security_exclusion_filter_update_data.rb
  lib/datadog_api_client/v2/models/application_security_exclusion_filter_update_request.rb
  lib/datadog_api_client/v2/models/application_security_exclusion_list_filter_data.rb
Due: generate, format-examples

Regenerate client from commit c4a891f3 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v2/usage-metering/GetMonthlyCostAttribution.rb
  features/v2/usage_metering.feature
  lib/datadog_api_client/v1/models/synthetics_step_detail.rb
  lib/datadog_api_client/v2/api/usage_metering_api.rb
Due: generate, format-examples

Regenerate client from commit fb024a45 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-llm-observability-stream-list-stream-widget.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-llm-observability-stream-list-stream-widget.yml
  examples/v1/dashboards/CreateDashboard_3298564989.rb
  features/v1/dashboards.feature
  lib/datadog_api_client/v1/models/list_stream_source.rb
Due: generate, format-examples

Regenerate client from commit 3cbe2c1b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/events/CreateEvent.rb
  features/scenarios_model_mapping.rb
  features/v2/events.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/events_api.rb
  lib/datadog_api_client/v2/models/change_event.rb
  lib/datadog_api_client/v2/models/change_event_category.rb
  lib/datadog_api_client/v2/models/change_event_create_request.rb
  lib/datadog_api_client/v2/models/change_event_create_request_payload.rb
  lib/datadog_api_client/v2/models/change_event_create_request_type.rb
  lib/datadog_api_client/v2/models/change_event_create_response.rb
  lib/datadog_api_client/v2/models/change_event_create_response_attributes.rb
  lib/datadog_api_client/v2/models/change_event_create_response_attributes_attributes.rb
  lib/datadog_api_client/v2/models/change_event_create_response_attributes_attributes_evt.rb
  lib/datadog_api_client/v2/models/change_event_create_response_payload.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_author.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_author_type.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_changed_resource.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_changed_resource_type.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_impacted_resources_items.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_impacted_resources_items_type.rb
Due: generate, format-examples

Regenerate client from commit 112f4aa8 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  features/v1/synthetics.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_direction.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_element.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_element_context_type.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_element_relative_position.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_element_user_locator.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_element_user_locator_values_items.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_element_user_locator_values_items_type.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_positions_items.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_variable.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_test_binding.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_test_binding_relation.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_test_config.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_test_options.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_tests_mobile_application.rb
  lib/datadog_api_client/v1/models/synthetics_test_ci_options.rb
  lib/datadog_api_client/v1/models/synthetics_test_options_scheduling.rb
Due: generate

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
