Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

Regenerate client from commit fde8b90 of spec repo
  .generated-info
  features/v2/authn_mappings.feature
Due: none

Regenerate client from commit e9346e4 of spec repo
  .generated-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/change_widget_request.rb
Due: generate

Regenerate client from commit 4413e63 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/rum/Create-a-new-RUM-application-returns-OK-response.frozen
  cassettes/features/v2/rum/Create-a-new-RUM-application-returns-OK-response.yml
  cassettes/features/v2/rum/Create-a-new-RUM-application-with-Product-Scales-returns-OK-response.frozen
  cassettes/features/v2/rum/Create-a-new-RUM-application-with-Product-Scales-returns-OK-response.yml
  cassettes/features/v2/rum/Get-a-RUM-application-returns-OK-response.frozen
  cassettes/features/v2/rum/Get-a-RUM-application-returns-OK-response.yml
  cassettes/features/v2/rum/List-all-the-RUM-applications-returns-OK-response.frozen
  cassettes/features/v2/rum/List-all-the-RUM-applications-returns-OK-response.yml
  cassettes/features/v2/rum/Update-a-RUM-application-returns-OK-response.frozen
  cassettes/features/v2/rum/Update-a-RUM-application-returns-OK-response.yml
  cassettes/features/v2/rum/Update-a-RUM-application-with-Product-Scales-returns-OK-response.frozen
  cassettes/features/v2/rum/Update-a-RUM-application-with-Product-Scales-returns-OK-response.yml
  examples/v2/rum/CreateRUMApplication_1946294560.rb
  examples/v2/rum/UpdateRUMApplication_394074053.rb
  features/v2/rum.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/rum_application_attributes.rb
  lib/datadog_api_client/v2/models/rum_application_list_attributes.rb
  lib/datadog_api_client/v2/models/rum_application_update_attributes.rb
  lib/datadog_api_client/v2/models/rum_event_processing_scale.rb
  lib/datadog_api_client/v2/models/rum_event_processing_state.rb
  lib/datadog_api_client/v2/models/rum_product_analytics_retention_scale.rb
  lib/datadog_api_client/v2/models/rum_product_analytics_retention_state.rb
  lib/datadog_api_client/v2/models/rum_product_scales.rb
Due: generate, format-examples

Regenerate client from commit 3f570cf of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/ip_allowlist_entry_data.rb
  lib/datadog_api_client/v2/models/ip_allowlist_entry_type.rb
Due: generate

Regenerate client from commit 1211759 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/v2/api/usage_metering_api.rb
Due: generate

Regenerate client from commit ca16233 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/azure_storage_destination.rb
  lib/datadog_api_client/v2/models/microsoft_sentinel_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_open_search_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_buffer_options.rb
  lib/datadog_api_client/v2/models/observability_pipeline_buffer_options_disk_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_buffer_options_memory_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_disk_buffer_options.rb
  lib/datadog_api_client/v2/models/observability_pipeline_elasticsearch_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_google_chronicle_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_google_cloud_storage_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_memory_buffer_options.rb
  lib/datadog_api_client/v2/models/observability_pipeline_memory_buffer_size_options.rb
  lib/datadog_api_client/v2/models/observability_pipeline_new_relic_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_open_search_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_quota_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_rsyslog_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_sample_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_sentinel_one_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_splunk_hec_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_sumo_logic_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_syslog_ng_destination.rb
Due: generate

Regenerate client from commit a35d4f4 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/service-scorecards/UpdateScorecardOutcomesAsync.rb
  features/scenarios_model_mapping.rb
  features/v2/service_scorecards.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/service_scorecards_api.rb
  lib/datadog_api_client/v2/models/update_outcomes_async_attributes.rb
  lib/datadog_api_client/v2/models/update_outcomes_async_request.rb
  lib/datadog_api_client/v2/models/update_outcomes_async_request_data.rb
  lib/datadog_api_client/v2/models/update_outcomes_async_request_item.rb
  lib/datadog_api_client/v2/models/update_outcomes_async_type.rb
Due: generate, format-examples

Regenerate client from commit d58cb84 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
Due: generate

Regenerate client from commit 062a1a7 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/microsoft_teams_channel_info_response_data.rb
  lib/datadog_api_client/v2/models/microsoft_teams_channel_info_type.rb
Due: generate

Regenerate client from commit f3b0eec of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/microsoft_teams_channel_info_response_data.rb
  lib/datadog_api_client/v2/models/microsoft_teams_channel_info_type.rb
Due: generate

Regenerate client from commit 205813d of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/spa/GetSPARecommendations.rb
  features/scenarios_model_mapping.rb
  features/v2/spa.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/spa_api.rb
  lib/datadog_api_client/v2/models/component_recommendation.rb
  lib/datadog_api_client/v2/models/cpu.rb
  lib/datadog_api_client/v2/models/estimation.rb
  lib/datadog_api_client/v2/models/recommendation_attributes.rb
  lib/datadog_api_client/v2/models/recommendation_data.rb
  lib/datadog_api_client/v2/models/recommendation_document.rb
  lib/datadog_api_client/v2/models/recommendation_type.rb
Due: generate, format-examples

Regenerate client from commit c3b2b7d of spec repo
  .generated-info
  .generator/schemas/v1/openapi.yaml
  features/v1/logs_indexes.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/logs_api_limit_reached_response.rb
Due: generate

Regenerate client from commit 55aea96 of spec repo
  .generated-info
  cassettes/features/v2/agentless_scanning/Post-an-AWS-on-demand-task-returns-AWS-on-demand-task-created-successfully-response.frozen
  cassettes/features/v2/agentless_scanning/Post-an-AWS-on-demand-task-returns-AWS-on-demand-task-created-successfully-response.yml
  examples/v2/agentless-scanning/CreateAwsOnDemandTask.rb
  features/v2/agentless_scanning.feature
Due: format-examples

Regenerate client from commit b391bc2 of spec repo
  .generated-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/synthetics_ci_test.rb
Due: generate

Regenerate client from commit a862c6a of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/aws_account_update_request.rb
Due: generate

Regenerate client from commit f3350c8 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/agentless_scanning/Get-AWS-Scan-Options-returns-Not-Found-response.frozen
  cassettes/features/v2/agentless_scanning/Get-AWS-Scan-Options-returns-Not-Found-response.yml
  cassettes/features/v2/agentless_scanning/Get-AWS-Scan-Options-returns-OK-response.frozen
  cassettes/features/v2/agentless_scanning/List-AWS-Scan-Options-returns-OK-response.frozen
  cassettes/features/v2/agentless_scanning/List-AWS-Scan-Options-returns-OK-response.yml
  examples/v2/agentless-scanning/GetAwsScanOptions.rb
  examples/v2/agentless-scanning/ListAwsScanOptions.rb
  features/scenarios_model_mapping.rb
  features/v2/agentless_scanning.feature
  features/v2/given.json
  features/v2/undo.json
  lib/datadog_api_client/v2/api/agentless_scanning_api.rb
Due: generate, format-examples

Regenerate client from commit e22129c of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/aws_namespace_filters_exclude_only.rb
Due: generate

Regenerate client from commit 8726b93 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/aws_account_update_request.rb
Due: generate

Regenerate client from commit 1e6c346 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/cloud_cost_management/Update-Cloud-Cost-Management-AWS-CUR-config-returns-Not-Found-response.frozen
  cassettes/features/v2/cloud_cost_management/Update-Cloud-Cost-Management-AWS-CUR-config-returns-Not-Found-response.yml
  cassettes/features/v2/cloud_cost_management/Update-Cloud-Cost-Management-Azure-config-returns-Not-Found-response.frozen
  cassettes/features/v2/cloud_cost_management/Update-Cloud-Cost-Management-Azure-config-returns-Not-Found-response.yml
  features/v2/cloud_cost_management.feature
Due: generate

Regenerate client from commit f4e770d of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 9c213c7 of spec repo
  .generated-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit 8af92cd of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit f366d0e of spec repo
  .generated-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit 346907f of spec repo
  .generated-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_3120240311.rb
  features/v1/dashboards.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/widget_time.rb
  lib/datadog_api_client/v1/models/widget_time_hide_incomplete_data.rb
Due: generate, format-examples

Regenerate client from commit 335aa67 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 98e3371 of spec repo
  .generated-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/synthetics_ci_test.rb
Due: generate

Regenerate client from commit 702546c of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit fb522ba of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/data-deletion/CreateDataDeletionRequest.rb
  features/v2/data_deletion.feature
  features/v2/given.json
  lib/datadog_api_client/v2/models/create_data_deletion_request_body_attributes.rb
  lib/datadog_api_client/v2/models/data_deletion_response_item_attributes.rb
Due: generate, format-examples

Regenerate client from commit d70f7bd of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/on_call_paging_api.rb
Due: generate

Regenerate client from commit 9043ba6 of spec repo
  .generated-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/synthetics_ci_test.rb
Due: generate

Regenerate client from commit 2011bb0 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/data-deletion/CreateDataDeletionRequest.rb
  features/v2/data_deletion.feature
  features/v2/given.json
  lib/datadog_api_client/v2/models/create_data_deletion_request_body_attributes.rb
  lib/datadog_api_client/v2/models/data_deletion_response_item_attributes.rb
Due: generate, format-examples

Regenerate client from commit 62a19e4 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-with-should-save-match-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-with-should-save-match-returns-OK-response.yml
  examples/v2/sensitive-data-scanner/CreateScanningRule_502667299.rb
  features/v2/sensitive_data_scanner.feature
  lib/datadog_api_client/v2/models/sensitive_data_scanner_text_replacement.rb
Due: generate, format-examples

Regenerate client from commit 6d9663b of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/service_scorecards/Create-a-new-rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/service_scorecards/Create-a-new-rule-returns-Bad-Request-response.yml
  cassettes/features/v2/service_scorecards/Update-Scorecard-outcomes-asynchronously-returns-Accepted-response.frozen
  cassettes/features/v2/service_scorecards/Update-Scorecard-outcomes-asynchronously-returns-Accepted-response.yml
  cassettes/features/v2/service_scorecards/Update-Scorecard-outcomes-asynchronously-returns-Bad-Request-response.frozen
  cassettes/features/v2/service_scorecards/Update-Scorecard-outcomes-asynchronously-returns-Bad-Request-response.yml
  cassettes/features/v2/service_scorecards/Update-Scorecard-outcomes-asynchronously-returns-Conflict-response.frozen
  cassettes/features/v2/service_scorecards/Update-Scorecard-outcomes-asynchronously-returns-Conflict-response.yml
  cassettes/features/v2/service_scorecards/Update-an-existing-scorecard-rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/service_scorecards/Update-an-existing-scorecard-rule-returns-Bad-Request-response.yml
  cassettes/features/v2/service_scorecards/Update-an-existing-scorecard-rule-returns-Not-Found-response.frozen
  cassettes/features/v2/service_scorecards/Update-an-existing-scorecard-rule-returns-Not-Found-response.yml
  examples/v2/service-scorecards/UpdateScorecardOutcomesAsync.rb
  features/scenarios_model_mapping.rb
  features/v2/service_scorecards.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/service_scorecards_api.rb
  lib/datadog_api_client/v2/models/rule_attributes.rb
  lib/datadog_api_client/v2/models/update_outcomes_async_attributes.rb
  lib/datadog_api_client/v2/models/update_outcomes_async_request.rb
  lib/datadog_api_client/v2/models/update_outcomes_async_request_data.rb
  lib/datadog_api_client/v2/models/update_outcomes_async_request_item.rb
  lib/datadog_api_client/v2/models/update_outcomes_async_type.rb
Due: generate, format-examples

Regenerate client from commit fc88529 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 8b31479 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-timeseries-widget-with-legacy-live-span-time-format.frozen
  cassettes/features/v1/dashboards/Create-a-new-timeseries-widget-with-legacy-live-span-time-format.yml
  cassettes/features/v1/dashboards/Create-a-new-timeseries-widget-with-new-fixed-span-time-format.frozen
  cassettes/features/v1/dashboards/Create-a-new-timeseries-widget-with-new-fixed-span-time-format.yml
  cassettes/features/v1/dashboards/Create-a-new-timeseries-widget-with-new-live-span-time-format.frozen
  cassettes/features/v1/dashboards/Create-a-new-timeseries-widget-with-new-live-span-time-format.yml
  examples/v1/dashboards/CreateDashboard_3066042014.rb
  examples/v1/dashboards/CreateDashboard_3451918078.rb
  examples/v1/dashboards/CreateDashboard_4262729673.rb
  features/v1/dashboards.feature
  lib/datadog_api_client/v1/models/widget_legacy_live_span.rb
  lib/datadog_api_client/v1/models/widget_new_fixed_span.rb
  lib/datadog_api_client/v1/models/widget_new_live_span.rb
Due: generate, format-examples
