Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

Update API Clients team to include Web Frameworks team (#2219)
  .github/CODEOWNERS
Due: none

Regenerate client from commit 833109b8 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/monitors_api.rb
Due: generate

Regenerate client from commit b01f90f4 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/events/CreateEvent.rb
  features/v2/events.feature
  lib/datadog_api_client/v2/models/change_event_custom_attributes.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_changed_resource.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_changed_resource_type.rb
Due: generate, format-examples

Regenerate client from commit d6014add of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/entity_v3.rb
  lib/datadog_api_client/v2/models/entity_v3_api.rb
  lib/datadog_api_client/v2/models/entity_v3_api_datadog.rb
  lib/datadog_api_client/v2/models/entity_v3_api_kind.rb
  lib/datadog_api_client/v2/models/entity_v3_api_spec.rb
  lib/datadog_api_client/v2/models/entity_v3_api_spec_interface_definition.rb
  lib/datadog_api_client/v2/models/entity_v3_api_spec_interface_file_ref.rb
Due: generate

Regenerate client from commit b584742c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/microsoft_teams_integration/Create-workflow-webhook-handle-returns-CREATED-response.frozen
  cassettes/features/v2/microsoft_teams_integration/Create-workflow-webhook-handle-returns-CREATED-response.yml
  cassettes/features/v2/microsoft_teams_integration/Delete-workflow-webhook-handle-returns-OK-response.frozen
  cassettes/features/v2/microsoft_teams_integration/Delete-workflow-webhook-handle-returns-OK-response.yml
  cassettes/features/v2/microsoft_teams_integration/Get-all-workflow-webhook-handles-returns-OK-response.frozen
  cassettes/features/v2/microsoft_teams_integration/Get-all-workflow-webhook-handles-returns-OK-response.yml
  cassettes/features/v2/microsoft_teams_integration/Get-workflow-webhook-handle-information-returns-OK-response.frozen
  cassettes/features/v2/microsoft_teams_integration/Get-workflow-webhook-handle-information-returns-OK-response.yml
  cassettes/features/v2/microsoft_teams_integration/Update-workflow-webhook-handle-returns-OK-response.frozen
  cassettes/features/v2/microsoft_teams_integration/Update-workflow-webhook-handle-returns-OK-response.yml
  examples/v2/microsoft-teams-integration/CreateWorkflowsWebhookHandle.rb
  examples/v2/microsoft-teams-integration/CreateWorkflowsWebhookHandle_1716851881.rb
  examples/v2/microsoft-teams-integration/DeleteWorkflowsWebhookHandle.rb
  examples/v2/microsoft-teams-integration/DeleteWorkflowsWebhookHandle_107549514.rb
  examples/v2/microsoft-teams-integration/GetWorkflowsWebhookHandle.rb
  examples/v2/microsoft-teams-integration/GetWorkflowsWebhookHandle_3421443805.rb
  examples/v2/microsoft-teams-integration/ListWorkflowsWebhookHandles.rb
  examples/v2/microsoft-teams-integration/ListWorkflowsWebhookHandles_620762083.rb
  examples/v2/microsoft-teams-integration/UpdateWorkflowsWebhookHandle.rb
  examples/v2/microsoft-teams-integration/UpdateWorkflowsWebhookHandle_163189594.rb
  features/scenarios_model_mapping.rb
  features/v2/given.json
  features/v2/microsoft_teams_integration.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/microsoft_teams_integration_api.rb
  lib/datadog_api_client/v2/models/microsoft_teams_create_workflows_webhook_handle_request.rb
  lib/datadog_api_client/v2/models/microsoft_teams_update_workflows_webhook_handle_request.rb
  lib/datadog_api_client/v2/models/microsoft_teams_update_workflows_webhook_handle_request_data.rb
  lib/datadog_api_client/v2/models/microsoft_teams_workflows_webhook_handle_attributes.rb
  lib/datadog_api_client/v2/models/microsoft_teams_workflows_webhook_handle_request_attributes.rb
  lib/datadog_api_client/v2/models/microsoft_teams_workflows_webhook_handle_request_data.rb
  lib/datadog_api_client/v2/models/microsoft_teams_workflows_webhook_handle_response.rb
  lib/datadog_api_client/v2/models/microsoft_teams_workflows_webhook_handle_response_data.rb
  lib/datadog_api_client/v2/models/microsoft_teams_workflows_webhook_handle_type.rb
  lib/datadog_api_client/v2/models/microsoft_teams_workflows_webhook_handles_response.rb
  lib/datadog_api_client/v2/models/microsoft_teams_workflows_webhook_response_attributes.rb
Due: generate, format-examples

Regenerate client from commit 325cdedf of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/app_builder/Create-App-returns-Bad-Request-response.frozen
  cassettes/features/v2/app_builder/Create-App-returns-Bad-Request-response.yml
  cassettes/features/v2/app_builder/Create-App-returns-Created-response.frozen
  cassettes/features/v2/app_builder/Create-App-returns-Created-response.yml
  cassettes/features/v2/app_builder/Delete-App-returns-Not-Found-response.frozen
  cassettes/features/v2/app_builder/Delete-App-returns-Not-Found-response.yml
  cassettes/features/v2/app_builder/Delete-App-returns-OK-response.frozen
  cassettes/features/v2/app_builder/Delete-App-returns-OK-response.yml
  cassettes/features/v2/app_builder/Delete-Multiple-Apps-returns-Not-Found-response.frozen
  cassettes/features/v2/app_builder/Delete-Multiple-Apps-returns-Not-Found-response.yml
  cassettes/features/v2/app_builder/Delete-Multiple-Apps-returns-OK-response.frozen
  cassettes/features/v2/app_builder/Delete-Multiple-Apps-returns-OK-response.yml
  cassettes/features/v2/app_builder/Get-App-returns-Not-Found-response.frozen
  cassettes/features/v2/app_builder/Get-App-returns-Not-Found-response.yml
  cassettes/features/v2/app_builder/Get-App-returns-OK-response.frozen
  cassettes/features/v2/app_builder/Get-App-returns-OK-response.yml
  cassettes/features/v2/app_builder/List-Apps-returns-OK-response.frozen
  cassettes/features/v2/app_builder/List-Apps-returns-OK-response.yml
  cassettes/features/v2/app_builder/Publish-App-returns-Created-response.frozen
  cassettes/features/v2/app_builder/Publish-App-returns-Created-response.yml
  cassettes/features/v2/app_builder/Publish-App-returns-Not-Found-response.frozen
  cassettes/features/v2/app_builder/Publish-App-returns-Not-Found-response.yml
  cassettes/features/v2/app_builder/Unpublish-App-returns-Not-Found-response.frozen
  cassettes/features/v2/app_builder/Unpublish-App-returns-Not-Found-response.yml
  cassettes/features/v2/app_builder/Unpublish-App-returns-OK-response.frozen
  cassettes/features/v2/app_builder/Unpublish-App-returns-OK-response.yml
  cassettes/features/v2/app_builder/Update-App-returns-Bad-Request-response.frozen
  cassettes/features/v2/app_builder/Update-App-returns-Bad-Request-response.yml
  cassettes/features/v2/app_builder/Update-App-returns-OK-response.frozen
  cassettes/features/v2/app_builder/Update-App-returns-OK-response.yml
  examples/v2/app-builder/CreateApp.rb
  features/v2/app_builder.feature
  features/v2/given.json
  lib/datadog_api_client/v2/models/create_app_request_data_attributes.rb
  lib/datadog_api_client/v2/models/get_app_response_data_attributes.rb
  lib/datadog_api_client/v2/models/update_app_request_data_attributes.rb
  lib/datadog_api_client/v2/models/update_app_response_data_attributes.rb
Due: generate, format-examples

Regenerate client from commit b52549d9 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Get-SBOM-returns-Not-found-asset-not-found-response.frozen
  cassettes/features/v2/security_monitoring/Get-SBOM-returns-Not-found-asset-not-found-response.yml
  cassettes/features/v2/security_monitoring/Get-SBOM-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Get-SBOM-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/List-vulnerabilities-returns-Not-found-There-is-no-request-associated-with-the-provided-token-response.frozen
  cassettes/features/v2/security_monitoring/List-vulnerabilities-returns-Not-found-There-is-no-request-associated-with-the-provided-token-response.yml
  cassettes/features/v2/security_monitoring/List-vulnerabilities-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/List-vulnerabilities-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/List-vulnerable-assets-returns-Not-found-There-is-no-request-associated-with-the-provided-token-response.frozen
  cassettes/features/v2/security_monitoring/List-vulnerable-assets-returns-Not-found-There-is-no-request-associated-with-the-provided-token-response.yml
  cassettes/features/v2/security_monitoring/List-vulnerable-assets-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/List-vulnerable-assets-returns-OK-response.yml
  examples/v2/security-monitoring/GetSBOM.rb
  examples/v2/security-monitoring/ListVulnerabilities.rb
  examples/v2/security-monitoring/ListVulnerableAssets.rb
  features/v2/security_monitoring.feature
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
Due: generate, format-examples

Regenerate client from commit cba682f9 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/create_open_api_response_data.rb
  lib/datadog_api_client/v2/models/list_apis_response_data.rb
  lib/datadog_api_client/v2/models/update_open_api_response_data.rb
Due: generate

Regenerate client from commit 4fb9047a of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/entity_v3_metadata.rb
  lib/datadog_api_client/v2/models/entity_v3_metadata_owner.rb
Due: generate

Update api-clients to web-frameworks-approvers
  .github/CODEOWNERS
Due: none

Regenerate client from commit 4b363b50 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/incidents_api.rb
Due: generate

Update api-clients to web-frameworks-approvers (#2228)
  .github/CODEOWNERS
Due: none

Bump datadog_api_client to 2.30.0
  lib/datadog_api_client/version.rb
Due: generate

Bump datadog_api_client to 2.30.0.dev.1
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit 82f3d557 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/app_builder/Get-App-returns-Gone-response.frozen
  cassettes/features/v2/app_builder/Get-App-returns-Gone-response.yml
  features/scenarios_model_mapping.rb
  features/v2/app_builder.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/app_builder_api.rb
  lib/datadog_api_client/v2/models/app_version_selector.rb
  lib/datadog_api_client/v2/models/app_version_selector_constants.rb
Due: generate

Regenerate client from commit 35bc11b5 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v1/events/Post-an-event-returns-OK-response.yml
  cassettes/features/v1/events/Post-an-event-with-a-long-title-returns-OK-response.yml
  cassettes/features/v2/app_builder/Get-App-returns-OK-response.yml
  cassettes/features/v2/app_builder/Update-App-returns-OK-response.yml
  cassettes/features/v2/dora_metrics/Send-a-deployment-event-for-DORA-Metrics-returns-OK-response.yml
  cassettes/features/v2/dora_metrics/Send-an-incident-event-for-DORA-Metrics-returns-OK-response.yml
  examples/v2/dora-metrics/CreateDORADeployment.rb
  examples/v2/dora-metrics/CreateDORAIncident.rb
  features/v2/dora_metrics.feature
Due: generate, format-examples

Regenerate client from commit b89b292b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/v2/api/metrics_api.rb
Due: generate

Regenerate client from commit 970d122d of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/confluent_cloud_api.rb
Due: generate

Regenerate client from commit 1ff7c087 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v1/models/synthetics_browser_variable_type.rb
  lib/datadog_api_client/v2/api/confluent_cloud_api.rb
Due: generate

Regenerate client from commit 824f78a1 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/fastly_service.rb
Due: generate

Regenerate client from commit a3349759 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/v2/cloud_cost_management.feature
Due: generate

Regenerate client from commit b980d49f of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Create-a-detection-rule-with-type-application-security-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Create-a-detection-rule-with-type-application-security-returns-OK-response.yml
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_1965169892.rb
  features/v2/security_monitoring.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/job_definition.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_case.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_case_action.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_case_action_options.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_case_action_type.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_update_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_create_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_test_payload.rb
Due: generate, format-examples

Regenerate client from commit b53b7d50 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Create-a-detection-rule-with-type-application-security-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Create-a-detection-rule-with-type-application-security-returns-OK-response.yml
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_1965169892.rb
  features/v2/ci_visibility_tests.feature
  features/v2/security_monitoring.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/job_definition.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_case.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_case_action.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_case_action_options.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_case_action_type.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_update_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_create_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_test_payload.rb
Due: generate, format-examples

Regenerate client from commit b56263de of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/check_can_delete_monitor_response_data.rb
  lib/datadog_api_client/v1/models/check_can_delete_slo_response_data.rb
  lib/datadog_api_client/v1/models/slo_correction_list_response.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_element_user_locator.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit 90bdde54 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/synthetics_api.rb
Due: generate

Regenerate client from commit 154100ad of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/monitors_api.rb
Due: generate

Regenerate client from commit 15c0cf6c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Get-rule-version-history-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Get-rule-version-history-returns-OK-response.yml
  examples/v2/security-monitoring/GetRuleVersionHistory.rb
  examples/v2/security-monitoring/GetRuleVersionHistory_2467565841.rb
  features/scenarios_model_mapping.rb
  features/v2/security_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/get_rule_version_history_data.rb
  lib/datadog_api_client/v2/models/get_rule_version_history_data_type.rb
  lib/datadog_api_client/v2/models/get_rule_version_history_response.rb
  lib/datadog_api_client/v2/models/rule_version_history.rb
  lib/datadog_api_client/v2/models/rule_version_update.rb
  lib/datadog_api_client/v2/models/rule_version_update_type.rb
  lib/datadog_api_client/v2/models/rule_versions.rb
Due: generate, format-examples
