Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generated
    name: Do not commit generated files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^lib/datadog_api_client/v[1-9].*'
    verbose: true
  - id: generated-features
    name: Do not commit generated feature files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^features/v[1-9][0-9]*/.*.feature$'
    verbose: true

Dynamic USER_AGENT
  lib/datadog_api_client/version.rb
Due: none

Regenerate client from commit 95a29d3 of spec repo
  .apigentools-info
  lib/datadog_api_client/v1/api_client.rb
  lib/datadog_api_client/v2/api_client.rb
Due: generated

remove quotes
  features/step_definitions/request.rb
Due: none

[ruby] Support for per-operation servers (#7415)
  .generator/templates/api.mustache
  .generator/templates/api_client.mustache
  .generator/templates/api_client_faraday_partial.mustache
  .generator/templates/api_client_typhoeus_partial.mustache
  .generator/templates/configuration.mustache
Due: none

[ruby] Support for per-operation servers (#7415)
  api.mustache
  api_client.mustache
  api_client_faraday_partial.mustache
  api_client_typhoeus_partial.mustache
  configuration.mustache
Due: none

Add a length check to BDD tooling (#21)
  features/step_definitions/request.rb
Due: none

Enable operations with step
  features/step_definitions/request.rb
  features/support/templating.rb
Due: none

refactor
  features/step_definitions/request.rb
  features/support/hooks.rb
Due: none

Regenerate client from commit af5b067 of spec repo
  .apigentools-info
  lib/datadog_api_client/v1/api/authentication_api.rb
  lib/datadog_api_client/v1/api/aws_integration_api.rb
  lib/datadog_api_client/v1/api/aws_logs_integration_api.rb
  lib/datadog_api_client/v1/api/azure_integration_api.rb
  lib/datadog_api_client/v1/api/dashboard_lists_api.rb
  lib/datadog_api_client/v1/api/dashboards_api.rb
  lib/datadog_api_client/v1/api/downtimes_api.rb
  lib/datadog_api_client/v1/api/events_api.rb
  lib/datadog_api_client/v1/api/gcp_integration_api.rb
  lib/datadog_api_client/v1/api/hosts_api.rb
  lib/datadog_api_client/v1/api/ip_ranges_api.rb
  lib/datadog_api_client/v1/api/key_management_api.rb
  lib/datadog_api_client/v1/api/logs_api.rb
  lib/datadog_api_client/v1/api/logs_indexes_api.rb
  lib/datadog_api_client/v1/api/logs_pipelines_api.rb
  lib/datadog_api_client/v1/api/metrics_api.rb
  lib/datadog_api_client/v1/api/monitors_api.rb
  lib/datadog_api_client/v1/api/organizations_api.rb
  lib/datadog_api_client/v1/api/pager_duty_integration_api.rb
  lib/datadog_api_client/v1/api/service_level_objectives_api.rb
  lib/datadog_api_client/v1/api/snapshots_api.rb
  lib/datadog_api_client/v1/api/synthetics_api.rb
  lib/datadog_api_client/v1/api/tags_api.rb
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/api/users_api.rb
  lib/datadog_api_client/v1/configuration.rb
  lib/datadog_api_client/v2/api/dashboard_lists_api.rb
  lib/datadog_api_client/v2/api/logs_archives_api.rb
  lib/datadog_api_client/v2/api/roles_api.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/api/services_api.rb
  lib/datadog_api_client/v2/api/teams_api.rb
  lib/datadog_api_client/v2/api/users_api.rb
  lib/datadog_api_client/v2/configuration.rb
Due: generated

Regenerate client from commit f2bdaa1 of spec repo
  .apigentools-info
  docs/v1/LogsAttributeRemapper.md
  docs/v1/LogsProcessor.md
  lib/datadog_api_client/v1/models/logs_attribute_remapper.rb
  lib/datadog_api_client/v1/models/logs_processor.rb
Due: generated

Regenerate client from commit a60f5da of spec repo
  .apigentools-info
  lib/datadog_api_client/v1/models/synthetics_assertion_type.rb
Due: generated

Mark all parent spans as failed
  features/support/hooks.rb
Due: none

Fix missing authenticated api_client
  features/step_definitions/v2/roles.rb
  features/step_definitions/v2/users.rb
Due: none

Use AfterConfiguration events
  features/support/hooks.rb
Due: none

status = 1
  features/support/hooks.rb
Due: none

Mark all parent spans as failed (#30)
  features/step_definitions/v2/roles.rb
  features/step_definitions/v2/users.rb
  features/support/hooks.rb
Due: none

Regenerate client from commit e47f9cc of spec repo
  .apigentools-info
  docs/v1/README.md
  docs/v1/UsersApi.md
  docs/v2/README.md
  docs/v2/UsersApi.md
  features/v1/users.feature
  features/v2/dashboard_lists.feature
  features/v2/users.feature
  lib/datadog_api_client/v1/api/users_api.rb
  lib/datadog_api_client/v2/api/users_api.rb
Due: generated, generated-features

Regenerate client from commit 3fc3b9c of spec repo
  .apigentools-info
  docs/v1/README.md
  docs/v1/SyntheticsApi.md
  docs/v1/SyntheticsGlobalVariableValue.md
  features/v1/synthetics.feature
  lib/datadog_api_client/v1/api/synthetics_api.rb
  lib/datadog_api_client/v1/models/synthetics_global_variable_value.rb
Due: generated, generated-features

Use spec name for API key configuration
  features/step_definitions/request.rb
Due: none

Regenerate client from commit 28213aa of spec repo
  .apigentools-info
  docs/v1/ApmStatsQueryDefinition.md
  docs/v1/ApmStatsQueryRowType.md
  docs/v1/README.md
  docs/v1/TableWidgetRequest.md
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/apm_stats_query_definition.rb
  lib/datadog_api_client/v1/models/apm_stats_query_row_type.rb
  lib/datadog_api_client/v1/models/table_widget_request.rb
Due: generated

Regenerate client from commit 13ff862 of spec repo
  .apigentools-info
  docs/v1/AWSIntegrationApi.md
  docs/v1/AWSLogsIntegrationApi.md
  docs/v1/AuthenticationApi.md
  docs/v1/AzureIntegrationApi.md
  docs/v1/DashboardListsApi.md
  docs/v1/DashboardsApi.md
  docs/v1/DowntimesApi.md
  docs/v1/EventsApi.md
  docs/v1/GCPIntegrationApi.md
  docs/v1/HostsApi.md
  docs/v1/KeyManagementApi.md
  docs/v1/LogsApi.md
  docs/v1/LogsIndexesApi.md
  docs/v1/LogsPipelinesApi.md
  docs/v1/MetricsApi.md
  docs/v1/MonitorsApi.md
  docs/v1/OrganizationsApi.md
  docs/v1/PagerDutyIntegrationApi.md
  docs/v1/README.md
  docs/v1/ServiceLevelObjectivesApi.md
  docs/v1/SnapshotsApi.md
  docs/v1/SyntheticsApi.md
  docs/v1/TagsApi.md
  docs/v1/UsageMeteringApi.md
  docs/v1/UsersApi.md
  docs/v2/DashboardListsApi.md
  docs/v2/LogsArchivesApi.md
  docs/v2/README.md
  docs/v2/RolesApi.md
  docs/v2/SecurityMonitoringApi.md
  docs/v2/ServicesApi.md
  docs/v2/TeamsApi.md
  docs/v2/UsersApi.md
  lib/datadog_api_client/v1/configuration.rb
  lib/datadog_api_client/v2/configuration.rb
Due: generated

Regenerate client from commit cbeec4e of spec repo
  .apigentools-info
  lib/datadog_api_client/v1/api/authentication_api.rb
  lib/datadog_api_client/v1/api/aws_integration_api.rb
  lib/datadog_api_client/v1/api/aws_logs_integration_api.rb
  lib/datadog_api_client/v1/api/azure_integration_api.rb
  lib/datadog_api_client/v1/api/dashboard_lists_api.rb
  lib/datadog_api_client/v1/api/dashboards_api.rb
  lib/datadog_api_client/v1/api/downtimes_api.rb
  lib/datadog_api_client/v1/api/events_api.rb
  lib/datadog_api_client/v1/api/gcp_integration_api.rb
  lib/datadog_api_client/v1/api/hosts_api.rb
  lib/datadog_api_client/v1/api/ip_ranges_api.rb
  lib/datadog_api_client/v1/api/key_management_api.rb
  lib/datadog_api_client/v1/api/logs_api.rb
  lib/datadog_api_client/v1/api/logs_indexes_api.rb
  lib/datadog_api_client/v1/api/logs_pipelines_api.rb
  lib/datadog_api_client/v1/api/metrics_api.rb
  lib/datadog_api_client/v1/api/monitors_api.rb
  lib/datadog_api_client/v1/api/organizations_api.rb
  lib/datadog_api_client/v1/api/pager_duty_integration_api.rb
  lib/datadog_api_client/v1/api/service_level_objectives_api.rb
  lib/datadog_api_client/v1/api/snapshots_api.rb
  lib/datadog_api_client/v1/api/synthetics_api.rb
  lib/datadog_api_client/v1/api/tags_api.rb
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/api/users_api.rb
  lib/datadog_api_client/v1/configuration.rb
  lib/datadog_api_client/v2/api/dashboard_lists_api.rb
  lib/datadog_api_client/v2/api/logs_archives_api.rb
  lib/datadog_api_client/v2/api/roles_api.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/api/services_api.rb
  lib/datadog_api_client/v2/api/teams_api.rb
  lib/datadog_api_client/v2/api/users_api.rb
  lib/datadog_api_client/v2/configuration.rb
Due: generated

Add minimal tests for logs api v2
  features/step_definitions/request.rb
  features/v2/logs.feature
Due: generated-features

reset feature
  features/v2/logs.feature
Due: generated-features

Update features/support/templating.rb
  features/support/templating.rb
Due: none

cassettes
  cassettes/features/v1/ip_ranges/List-IP-Ranges-returns-OK-response.yml
  cassettes/features/v2/roles/Add-a-user-to-a-role-returns-OK-response.yml
  cassettes/features/v2/roles/Create-role-returns-OK-response.yml
  cassettes/features/v2/roles/Delete-role-returns-OK-response.yml
  cassettes/features/v2/roles/Get-a-role-returns-OK-response.yml
  cassettes/features/v2/roles/Get-all-users-of-a-role-returns-OK-response.yml
  cassettes/features/v2/roles/Grant-permission-to-a-role-returns-OK-response.yml
  cassettes/features/v2/roles/List-permissions-for-a-role-returns-OK-response.yml
  cassettes/features/v2/roles/List-permissions-returns-OK-response.yml
  cassettes/features/v2/roles/List-roles-returns-OK-response.yml
  cassettes/features/v2/roles/Remove-a-user-from-a-role-returns-OK-response.yml
  cassettes/features/v2/roles/Revoke-permission-returns-OK-response.yml
  cassettes/features/v2/roles/Update-a-role-returns-OK-response.yml
  cassettes/features/v2/services/Create-a-new-service-returns-CREATED-response.yml
  cassettes/features/v2/services/Delete-an-existing-service-returns-OK-response.yml
  cassettes/features/v2/services/Get-a-list-of-all-services-returns-OK-response.yml
  cassettes/features/v2/services/Get-details-of-a-service-returns-OK-response.yml
  cassettes/features/v2/services/Update-an-existing-service-returns-OK-response.yml
  cassettes/features/v2/teams/Create-a-new-team-returns-CREATED-response.yml
  cassettes/features/v2/teams/Delete-an-existing-team-returns-OK-response.yml
  cassettes/features/v2/teams/Get-a-list-of-all-teams-returns-OK-response.yml
  cassettes/features/v2/teams/Get-details-of-a-team-returns-OK-response.yml
  cassettes/features/v2/teams/Update-an-existing-team-returns-OK-response.yml
  cassettes/features/v2/users/Create-a-user-returns-OK-response.yml
  cassettes/features/v2/users/Disable-a-user-returns-OK-response.yml
  cassettes/features/v2/users/Get-a-user-invitation-returns-OK-response.yml
  cassettes/features/v2/users/Get-a-user-permissions-returns-OK-response.yml
  cassettes/features/v2/users/Get-a-user-returns-OK-response.yml
  cassettes/features/v2/users/List-all-users-returns-OK-response.yml
  cassettes/features/v2/users/Send-invitation-emails-returns-OK-response.yml
  cassettes/features/v2/users/Update-a-user-returns-OK-response.yml
Due: none

features + cassettes
  cassettes/features/v2/logs/Aggregate-events-returns-OK-response.yml
  cassettes/features/v2/logs/Get-a-list-of-logs-returns-OK-response.yml
  cassettes/features/v2/logs/Get-a-quick-list-of-logs-returns-OK-response.yml
  features/step_definitions/request.rb
  features/v2/logs.feature
Due: generated-features

Regenerate client from commit cc01f26 of spec repo
  .apigentools-info
  docs/v2/LogsApi.md
  features/v2/logs.feature
  lib/datadog_api_client/v2/api/logs_api.rb
  lib/datadog_api_client/v2/configuration.rb
Due: generated, generated-features

Regenerate client from commit ac49e68 of spec repo
  .apigentools-info
  docs/v1/SyntheticsApi.md
  docs/v1/SyntheticsCITest.md
  docs/v1/SyntheticsCITestMetadataCi.md
  docs/v1/SyntheticsCITestMetadataGit.md
  docs/v1/SyntheticsGlobalVariable.md
  docs/v1/SyntheticsGlobalVariableValue.md
  docs/v2/RelationshipToOrganizationData.md
  docs/v2/RelationshipToOrganizations.md
  docs/v2/RelationshipToUsers.md
  docs/v2/RoleCreateAttributes.md
  docs/v2/RoleUpdateData.md
  docs/v2/SecurityMonitoringRuleQueryCreate.md
  docs/v2/ServicesResponse.md
  docs/v2/TeamsResponse.md
  docs/v2/UserCreateAttributes.md
  docs/v2/UserInvitationsRequest.md
  docs/v2/UserUpdateData.md
  docs/v2/UsersApi.md
  features/v2/security_monitoring.feature
  lib/datadog_api_client/v1/api/synthetics_api.rb
  lib/datadog_api_client/v1/models/synthetics_ci_test_metadata_ci.rb
  lib/datadog_api_client/v1/models/synthetics_ci_test_metadata_git.rb
  lib/datadog_api_client/v1/models/synthetics_location.rb
  lib/datadog_api_client/v1/models/synthetics_test_options_monitor_options.rb
  lib/datadog_api_client/v1/models/synthetics_trigger_ci_tests_response_results.rb
  lib/datadog_api_client/v2/api/users_api.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_attributes.rb
Due: generated, generated-features

Regenerate client from commit de74943 of spec repo
  .apigentools-info
  docs/v1/TimeseriesWidgetDefinition.md
  docs/v1/TimeseriesWidgetRequest.md
  docs/v1/WidgetDefinition.md
  lib/datadog_api_client/v1/models/timeseries_widget_definition.rb
  lib/datadog_api_client/v1/models/timeseries_widget_request.rb
  lib/datadog_api_client/v1/models/widget_definition.rb
Due: generated

Regenerate client from commit 77e1e09 of spec repo
  .apigentools-info
  docs/v1/LogsAttributeRemapper.md
  docs/v1/LogsProcessor.md
  docs/v1/README.md
  docs/v1/TargetFormatType.md
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/logs_attribute_remapper.rb
  lib/datadog_api_client/v1/models/logs_processor.rb
  lib/datadog_api_client/v1/models/target_format_type.rb
Due: generated

Regenerate client from commit bdbc1cb of spec repo
  .apigentools-info
  docs/v1/TableWidgetDefinition.md
  docs/v1/TableWidgetRequest.md
  docs/v1/WidgetDefinition.md
  lib/datadog_api_client/v1/models/table_widget_definition.rb
  lib/datadog_api_client/v1/models/table_widget_request.rb
  lib/datadog_api_client/v1/models/widget_definition.rb
Due: generated

update default faraday versions (#7538)
  .generator/templates/gemspec.mustache
Due: none

update default faraday versions (#7538)
  gemspec.mustache
Due: none

Regenerate client from commit 8d1ef64 of spec repo
  .apigentools-info
  docs/v1/README.md
  docs/v1/TableWidgetCellDisplayMode.md
  docs/v1/TableWidgetDefinition.md
  docs/v1/TableWidgetHasSearchBar.md
  docs/v1/TableWidgetRequest.md
  docs/v1/WidgetDefinition.md
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/table_widget_cell_display_mode.rb
  lib/datadog_api_client/v1/models/table_widget_definition.rb
  lib/datadog_api_client/v1/models/table_widget_has_search_bar.rb
  lib/datadog_api_client/v1/models/table_widget_request.rb
  lib/datadog_api_client/v1/models/widget_definition.rb
Due: generated

Regenerate client from commit 3e66447 of spec repo
  .apigentools-info
  .openapi-generator/FILES
  docs/v2/LogsArchiveOrder.md
  docs/v2/LogsArchiveOrderAttributes.md
  docs/v2/LogsArchiveOrderDefinition.md
  docs/v2/LogsArchiveOrderDefinitionType.md
  docs/v2/LogsArchivesApi.md
  docs/v2/README.md
  features/v2/logs_archives.feature
  lib/datadog_api_client/v2.rb
  lib/datadog_api_client/v2/api/logs_archives_api.rb
  lib/datadog_api_client/v2/models/logs_archive_order.rb
  lib/datadog_api_client/v2/models/logs_archive_order_attributes.rb
  lib/datadog_api_client/v2/models/logs_archive_order_definition.rb
  lib/datadog_api_client/v2/models/logs_archive_order_definition_type.rb
Due: generated, generated-features

Regenerate client from commit db04bbb of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  data/v2/openapi.yaml
Due: none

Add 3rd party license list
  LICENSE-3rdparty.csv
Due: none

Update README.md
  README.md
Due: none
