Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generated
    name: Do not commit generated files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^lib/datadog_api_client/v[1-9].*'
    verbose: true
  - id: generated-features
    name: Do not commit generated feature files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^features/v[1-9][0-9]*/.*.feature$'
    verbose: true

Regenerate client from commit 1014300 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/LogsListRequest.md
  lib/datadog_api_client/v1/models/logs_list_request.rb
Due: generated

Regenerate client from commit e3c8008 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/UsageIncidentManagementHour.md
  docs/v1/UsageIncidentManagementResponse.md
  docs/v1/UsageMeteringApi.md
  docs/v1/UsageSummaryDate.md
  docs/v1/UsageSummaryDateOrg.md
  docs/v1/UsageSummaryResponse.md
  features/v1/usage_metering.feature
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/usage_incident_management_hour.rb
  lib/datadog_api_client/v1/models/usage_incident_management_response.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generated, generated-features

Regenerate client from commit ee26c54 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/UsageAttributionAggregatesBody.md
  docs/v1/UsageAttributionBody.md
  docs/v1/UsageAttributionMetadata.md
  docs/v1/UsageAttributionPagination.md
  docs/v1/UsageAttributionResponse.md
  docs/v1/UsageAttributionSort.md
  docs/v1/UsageAttributionValues.md
  docs/v1/UsageMeteringApi.md
  features/v1/usage_metering.feature
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/usage_attribution_aggregates_body.rb
  lib/datadog_api_client/v1/models/usage_attribution_body.rb
  lib/datadog_api_client/v1/models/usage_attribution_metadata.rb
  lib/datadog_api_client/v1/models/usage_attribution_pagination.rb
  lib/datadog_api_client/v1/models/usage_attribution_response.rb
  lib/datadog_api_client/v1/models/usage_attribution_sort.rb
  lib/datadog_api_client/v1/models/usage_attribution_values.rb
Due: generated, generated-features

Extract examples (#86)
  .gitignore
  check-examples.sh
  extract-code-blocks.awk
  extract-code-blocks.sh
Due: none

Regenerate client from commit 171775a of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/UsageAttributionAggregatesBody.md
  docs/v1/UsageAttributionBody.md
  docs/v1/UsageAttributionMetadata.md
  docs/v1/UsageAttributionPagination.md
  docs/v1/UsageAttributionResponse.md
  docs/v1/UsageAttributionSort.md
  docs/v1/UsageAttributionValues.md
  docs/v1/UsageMeteringApi.md
  features/v1/usage_metering.feature
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/usage_attribution_aggregates_body.rb
  lib/datadog_api_client/v1/models/usage_attribution_body.rb
  lib/datadog_api_client/v1/models/usage_attribution_metadata.rb
  lib/datadog_api_client/v1/models/usage_attribution_pagination.rb
  lib/datadog_api_client/v1/models/usage_attribution_response.rb
  lib/datadog_api_client/v1/models/usage_attribution_sort.rb
  lib/datadog_api_client/v1/models/usage_attribution_values.rb
Due: generated, generated-features

Add cassettes for process summaries test
  cassettes/features/v2/processes/Get-all-processes-returns-OK-response.yml
Due: none

Regenerate client from commit 92b08fe of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  lib/datadog_api_client/v1/models/event_alert_type.rb
Due: generated

Regenerate client from commit bdc559e of spec repo
  .apigentools-info
  .openapi-generator/FILES
  docs/v2/LogsAggregateBucketValueTimeseries.md
  docs/v2/README.md
  lib/datadog_api_client/v2.rb
  lib/datadog_api_client/v2/models/logs_aggregate_bucket_value.rb
  lib/datadog_api_client/v2/models/logs_aggregate_bucket_value_timeseries.rb
Due: generated

[ruby] fix oneOf handling (#5706)
  .generator/templates/api_client.mustache
  .generator/templates/api_doc.mustache
  .generator/templates/base_object.mustache
  .generator/templates/model.mustache
  .generator/templates/model_doc.mustache
  .generator/templates/model_test.mustache
  .generator/templates/partial_model_generic.mustache
  .generator/templates/partial_model_generic_doc.mustache
  .generator/templates/partial_oneof_module.mustache
  .generator/templates/partial_oneof_module_doc.mustache
Due: none

[ruby] fix oneOf handling (#5706)
  api_client.mustache
  api_doc.mustache
  base_object.mustache
  model.mustache
  model_doc.mustache
  model_test.mustache
  partial_model_generic.mustache
  partial_model_generic_doc.mustache
  partial_oneof_module.mustache
  partial_oneof_module_doc.mustache
Due: none

Regenerate client from commit 96fd18a of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/SyntheticsApi.md
  docs/v1/SyntheticsPrivateLocation.md
  docs/v1/SyntheticsPrivateLocationCreationResponse.md
  docs/v1/SyntheticsPrivateLocationCreationResponseResultEncryption.md
  docs/v1/SyntheticsPrivateLocationSecrets.md
  docs/v1/SyntheticsPrivateLocationSecretsAuthentication.md
  docs/v1/SyntheticsPrivateLocationSecretsConfigDecryption.md
  features/v1/synthetics.feature
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/api/synthetics_api.rb
  lib/datadog_api_client/v1/models/synthetics_private_location.rb
  lib/datadog_api_client/v1/models/synthetics_private_location_creation_response.rb
  lib/datadog_api_client/v1/models/synthetics_private_location_creation_response_result_encryption.rb
  lib/datadog_api_client/v1/models/synthetics_private_location_secrets.rb
  lib/datadog_api_client/v1/models/synthetics_private_location_secrets_authentication.rb
  lib/datadog_api_client/v1/models/synthetics_private_location_secrets_config_decryption.rb
Due: generated, generated-features

Regenerate client from commit 8ea24b0 of spec repo
  .apigentools-info
  .openapi-generator/FILES
  data/v2/openapi.yaml
  docs/v2/ProcessSummariesMeta.md
  docs/v2/ProcessSummariesMetaPage.md
  docs/v2/ProcessSummariesResponse.md
  docs/v2/ProcessSummary.md
  docs/v2/ProcessSummaryAttributes.md
  docs/v2/ProcessSummaryType.md
  docs/v2/ProcessesApi.md
  docs/v2/README.md
  features/v2/processes.feature
  lib/datadog_api_client/v2.rb
  lib/datadog_api_client/v2/api/processes_api.rb
  lib/datadog_api_client/v2/models/process_summaries_meta.rb
  lib/datadog_api_client/v2/models/process_summaries_meta_page.rb
  lib/datadog_api_client/v2/models/process_summaries_response.rb
  lib/datadog_api_client/v2/models/process_summary.rb
  lib/datadog_api_client/v2/models/process_summary_attributes.rb
  lib/datadog_api_client/v2/models/process_summary_type.rb
Due: generated, generated-features

Regenerate client from commit 605e8f8 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/UsageMeteringApi.md
  lib/datadog_api_client/v1/api/usage_metering_api.rb
Due: generated

Regenerate client from commit edb67b7 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/OrganizationCreateBody.md
  lib/datadog_api_client/v1/models/organization_create_body.rb
Due: generated

fix dashboard spec
  spec/v1/api/dashboards_api_spec.rb
Due: none

Regenerate client from commit 217b6e8 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/AWSIntegrationApi.md
  docs/v1/AWSNamespace.md
  docs/v1/AWSTagFilterCreateRequest.md
  docs/v1/AWSTagFilterDeleteRequest.md
  docs/v1/AWSTagFilterListResponse.md
  docs/v1/AWSTagFilterListResponseFilters.md
  docs/v1/README.md
  features/v1/aws_integration.feature
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/api/aws_integration_api.rb
  lib/datadog_api_client/v1/configuration.rb
  lib/datadog_api_client/v1/models/aws_namespace.rb
  lib/datadog_api_client/v1/models/aws_tag_filter_create_request.rb
  lib/datadog_api_client/v1/models/aws_tag_filter_delete_request.rb
  lib/datadog_api_client/v1/models/aws_tag_filter_list_response.rb
  lib/datadog_api_client/v1/models/aws_tag_filter_list_response_filters.rb
Due: generated, generated-features

rename dashboard cassette
  cassettes/spec/v1/api/dashboards_api_spec/DashboardsApi-dashboards-api-test-dashboards-lifecycle.yml
  cassettes/spec/v1/api/dashboards_api_spec/DashboardsApi_dashboards_api_test_dashboards_lifecycle.yml
Due: none

Update features/support/env.rb
  features/support/env.rb
Due: none

Regenerate client from commit 7af099d of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  features/v1/usage_metering.feature
  lib/datadog_api_client/v1/configuration.rb
Due: generated, generated-features

Fix cleanup of teams and services
  features/step_definitions/request.rb
Due: none

codecov ruby automatically uploads
  .azure-pipelines/all.yml
Due: none

Fix cleanup of teams and services, and codecov report uploading (#101)
  .azure-pipelines/all.yml
  features/step_definitions/request.rb
Due: none

start simplecov at the very top
  features/support/env.rb
Due: none

exclude test files from coverage
  features/support/env.rb
Due: none

Regenerate client from commit 7d970a8 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/UsageMeteringApi.md
  features/v1/usage_metering.feature
  lib/datadog_api_client/v1/api/usage_metering_api.rb
Due: generated, generated-features

Fix coverage report (#102)
  features/support/env.rb
Due: none

Regenerate client from commit 7f2258a of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/UsageMeteringApi.md
  lib/datadog_api_client/v1/api/usage_metering_api.rb
Due: generated

make the generated ruby oneOf specs pass (#8019)
  .generator/templates/model_test.mustache
Due: none

make the generated ruby oneOf specs pass (#8019)
  model_test.mustache
Due: none

Load undo methods
  features/step_definitions/request.rb
  features/v1/undo.json
  features/v1/usage_metering.feature
  features/v2/undo.json
Due: generated-features

fix test
  spec/v2/api/logs_api_spec.rb
Due: none

Regenerate client from commit 0e7cbcd of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/MonitorsApi.md
  lib/datadog_api_client/v1/api/monitors_api.rb
Due: generated

Regenerate client from commit 34f647e of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  data/v2/openapi.yaml
  docs/v1/HostsApi.md
  docs/v1/LogsIndexesApi.md
  docs/v2/LogsApi.md
  docs/v2/LogsArchivesApi.md
  docs/v2/RolesApi.md
  docs/v2/SecurityMonitoringApi.md
  docs/v2/UsersApi.md
  lib/datadog_api_client/v1/api/hosts_api.rb
  lib/datadog_api_client/v1/api/logs_indexes_api.rb
  lib/datadog_api_client/v2/api/logs_api.rb
  lib/datadog_api_client/v2/api/logs_archives_api.rb
  lib/datadog_api_client/v2/api/roles_api.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/api/users_api.rb
Due: generated

fix call with required body
  features/step_definitions/request.rb
  features/step_definitions/v2/roles.rb
  features/step_definitions/v2/users.rb
Due: none

debug only with true
  features/support/env.rb
Due: none

Regenerate client from commit 87f1f19 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  data/v2/openapi.yaml
  features/v1/usage_metering.feature
Due: generated-features

Regenerate client from commit cdc8c0b of spec repo
  .apigentools-info
  lib/datadog_api_client/v1/configuration.rb
  lib/datadog_api_client/v2/configuration.rb
Due: generated
