Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Regenerate client from commit f84630e6 of spec repo
  .apigentools-info
  cassettes/features/v2/teams/Get-all-teams-with-fields-team-parameter-returns-OK-response.frozen
  cassettes/features/v2/teams/Get-all-teams-with-fields-team-parameter-returns-OK-response.yml
  features/v2/teams.feature
Due: none

Bump datadog_api_client to 2.19.0
  lib/datadog_api_client/version.rb
Due: generate

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Bump datadog_api_client to 2.19.0.dev.1
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit 76753e01 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/log.rb
Due: generate

Regenerate client from commit 0d87bc66 of spec repo
  .apigentools-info
  features/v1/undo.json
Due: none

Regenerate client from commit b125495e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Create-a-suppression-rule-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Create-a-suppression-rule-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Delete-a-suppression-rule-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Delete-a-suppression-rule-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Get-a-suppression-rule-returns-Not-Found-response.frozen
  cassettes/features/v2/security_monitoring/Get-a-suppression-rule-returns-Not-Found-response.yml
  cassettes/features/v2/security_monitoring/Get-a-suppression-rule-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Get-a-suppression-rule-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Update-a-suppression-rule-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Update-a-suppression-rule-returns-OK-response.yml
  examples/v2/security-monitoring/CreateSecurityMonitoringSuppression.rb
  examples/v2/security-monitoring/DeleteSecurityMonitoringSuppression.rb
  examples/v2/security-monitoring/GetSecurityMonitoringSuppression.rb
  examples/v2/security-monitoring/ListSecurityMonitoringSuppressions.rb
  examples/v2/security-monitoring/UpdateSecurityMonitoringSuppression.rb
  features/scenarios_model_mapping.rb
  features/v2/given.json
  features/v2/security_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/security_monitoring_suppression.rb
  lib/datadog_api_client/v2/models/security_monitoring_suppression_attributes.rb
  lib/datadog_api_client/v2/models/security_monitoring_suppression_create_attributes.rb
  lib/datadog_api_client/v2/models/security_monitoring_suppression_create_data.rb
  lib/datadog_api_client/v2/models/security_monitoring_suppression_create_request.rb
  lib/datadog_api_client/v2/models/security_monitoring_suppression_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_suppression_type.rb
  lib/datadog_api_client/v2/models/security_monitoring_suppression_update_attributes.rb
  lib/datadog_api_client/v2/models/security_monitoring_suppression_update_data.rb
  lib/datadog_api_client/v2/models/security_monitoring_suppression_update_request.rb
  lib/datadog_api_client/v2/models/security_monitoring_suppressions_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_user.rb
Due: generate, format-examples

Regenerate client from commit bdf7d582 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Add support for file parameters
  .generator/src/generator/templates/api.j2
  features/step_definitions/request.rb
Due: generate

Regenerate client from commit 4d921fb1 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/dashboard.rb
  lib/datadog_api_client/v1/models/dashboard_summary_definition.rb
Due: generate

Regenerate client from commit 7dba000a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/slo_correction_create_request_attributes.rb
  lib/datadog_api_client/v1/models/slo_correction_response_attributes.rb
  lib/datadog_api_client/v1/models/slo_correction_update_request_attributes.rb
Due: generate

Regenerate client from commit b407748b of spec repo
  .apigentools-info
  features/v2/organizations.feature
  lib/datadog_api_client/v1/api/organizations_api.rb
  lib/datadog_api_client/v2/api/organizations_api.rb
Due: generate

Regenerate client from commit 20461e26 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/v2/dora_metrics.feature
  lib/datadog_api_client/v2/models/dora_deployment_request_attributes.rb
  lib/datadog_api_client/v2/models/dora_incident_request_attributes.rb
Due: generate

Regenerate client from commit 80f33fd7 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/synthetics_test_request.rb
Due: generate

Regenerate client from commit 7def3c63 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/logs-indexes/CreateLogsIndex.rb
  examples/v1/logs-indexes/UpdateLogsIndex.rb
  features/v1/logs_indexes.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/logs_daily_limit_reset.rb
  lib/datadog_api_client/v1/models/logs_index.rb
  lib/datadog_api_client/v1/models/logs_index_update_request.rb
Due: generate, format-examples

Regenerate client from commit 2129ce76 of spec repo
  .apigentools-info
  features/v2/organizations.feature
Due: none

Regenerate client from commit 9d7a3d85 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/usage_metering/Get-hourly-usage-for-Lambda-Traced-Invocations-returns-Bad-Request-response.frozen
  cassettes/features/v2/usage_metering/Get-hourly-usage-for-Lambda-traced-invocations-returns-Bad-Request-response.frozen
  cassettes/features/v2/usage_metering/Get-hourly-usage-for-Lambda-traced-invocations-returns-Bad-Request-response.yml
  cassettes/features/v2/usage_metering/Get-hourly-usage-for-Lambda-traced-invocations-returns-OK-response.frozen
  cassettes/features/v2/usage_metering/Get-hourly-usage-for-Lambda-traced-invocations-returns-OK-response.yml
  cassettes/features/v2/usage_metering/Get-hourly-usage-for-lambda-traced-invocations-returns-OK-response.frozen
  cassettes/features/v2/usage_metering/Get-hourly-usage-for-lambda-traced-invocations-returns-OK-response.yml
  examples/v1/usage-metering/GetUsageLambda.rb
  examples/v1/usage-metering/GetUsageLambda_3132428705.rb
  examples/v2/usage-metering/GetUsageLambdaTracedInvocations.rb
  features/v1/authentication.feature
  features/v1/aws_logs_integration.feature
  features/v1/usage_metering.feature
  features/v2/apm_retention_filters.feature
  features/v2/authn_mappings.feature
  features/v2/ci_visibility_pipelines.feature
  features/v2/ci_visibility_tests.feature
  features/v2/cloud_cost_management.feature
  features/v2/cloud_workload_security.feature
  features/v2/cloudflare_integration.feature
  features/v2/dora_metrics.feature
  features/v2/usage_metering.feature
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/usage_lambda_hour.rb
  lib/datadog_api_client/v1/models/usage_lambda_response.rb
  lib/datadog_api_client/v2/api/usage_metering_api.rb
Due: generate, format-examples

Regenerate client from commit bdb7b215 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/security_monitoring_suppression_update_attributes.rb
Due: generate

handle files in build_given
  features/step_definitions/request.rb
Due: none

Regenerate client from commit 29ecc007 of spec repo
  .apigentools-info
  features/v1/pagerduty_integration.feature
  features/v1/slack_integration.feature
  features/v2/cloudflare_integration.feature
  features/v2/confluent_cloud.feature
  features/v2/fastly_integration.feature
  features/v2/okta_integration.feature
Due: none

Regenerate client from commit a9a258a4 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/api-management/CreateOpenAPI.rb
  examples/v2/api-management/DeleteOpenAPI.rb
  examples/v2/api-management/GetOpenAPI.rb
  examples/v2/api-management/UpdateOpenAPI.rb
  features/scenarios_model_mapping.rb
  features/v2/api_management.feature
  features/v2/given.json
  features/v2/openapi-spec.yaml
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/api_management_api.rb
  lib/datadog_api_client/v2/models/create_open_api_response.rb
  lib/datadog_api_client/v2/models/create_open_api_response_attributes.rb
  lib/datadog_api_client/v2/models/create_open_api_response_data.rb
  lib/datadog_api_client/v2/models/open_api_endpoint.rb
  lib/datadog_api_client/v2/models/open_api_file.rb
  lib/datadog_api_client/v2/models/update_open_api_response.rb
  lib/datadog_api_client/v2/models/update_open_api_response_attributes.rb
  lib/datadog_api_client/v2/models/update_open_api_response_data.rb
Due: generate, format-examples

Regenerate client from commit 28baf464 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/synthetics/Create-a-browser-test-returns-OK-Returns-saved-rumSettings-response.frozen
  cassettes/features/v1/synthetics/Create-a-browser-test-returns-OK-Returns-saved-rumSettings-response.yml
  cassettes/features/v1/synthetics/Create-a-browser-test-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-a-browser-test-returns-OK-Returns-the-created-test-details-response.yml
  cassettes/features/v1/synthetics/Create-a-browser-test-with-advanced-scheduling-options-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-a-browser-test-with-advanced-scheduling-options-returns-OK-Returns-the-created-test-details-response.yml
  cassettes/features/v1/synthetics/Create-a-global-variable-from-test-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Create-a-global-variable-from-test-returns-OK-response.yml
  cassettes/features/v1/synthetics/Create-a-private-location-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Create-a-private-location-returns-OK-response.yml
  cassettes/features/v1/synthetics/Create-an-API-GRPC-test-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-GRPC-test-returns-OK-Returns-the-created-test-details-response.yml
  cassettes/features/v1/synthetics/Create-an-API-HTTP-test-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-HTTP-test-returns-OK-Returns-the-created-test-details-response.yml
  cassettes/features/v1/synthetics/Create-an-API-HTTP-with-oauth-rop-test-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-HTTP-with-oauth-rop-test-returns-OK-Returns-the-created-test-details-response.yml
  cassettes/features/v1/synthetics/Create-an-API-SSL-test-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-SSL-test-returns-OK-Returns-the-created-test-details-response.yml
  cassettes/features/v1/synthetics/Create-an-API-test-with-UDP-subtype-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-test-with-UDP-subtype-returns-OK-Returns-the-created-test-details-response.yml
  cassettes/features/v1/synthetics/Create-an-API-test-with-WEBSOCKET-subtype-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-test-with-WEBSOCKET-subtype-returns-OK-Returns-the-created-test-details-response.yml
  cassettes/features/v1/synthetics/Create-an-API-test-with-multi-subtype-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-test-with-multi-subtype-returns-OK-Returns-the-created-test-details-response.yml
  cassettes/features/v1/synthetics/Edit-an-API-test-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Edit-an-API-test-returns-OK-response.yml
  cassettes/features/v1/synthetics/Get-the-list-of-default-locations-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Get-the-list-of-default-locations-returns-OK-response.yml
  cassettes/features/v1/synthetics/Patch-a-Synthetic-test-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Patch-a-Synthetic-test-returns-OK-response.yml
  cassettes/features/v1/synthetics/Trigger-Synthetic-tests-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Trigger-Synthetic-tests-returns-OK-response.yml
  examples/v1/synthetics/CreateSyntheticsAPITest.rb
  examples/v1/synthetics/CreateSyntheticsBrowserTest.rb
  examples/v1/synthetics/TriggerCITests.rb
  examples/v1/synthetics/UpdateBrowserTest.rb
  features/v1/synthetics.feature
  features/v1/synthetics_browser_test_payload.json
Due: generate, format-examples

Regenerate client from commit a1db94fd of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/teams/Get-team-memberships-returns-Represents-a-user-s-association-to-a-team-response-with-pagination.frozen
  cassettes/features/v2/teams/Get-team-memberships-returns-Represents-a-user-s-association-to-a-team-response-with-pagination.yml
  examples/v2/teams/GetTeamMemberships_3799131168.rb
  features/v2/teams.feature
  lib/datadog_api_client/v2/api/teams_api.rb
Due: generate, format-examples

Regenerate client from commit 5ded48a3 of spec repo
  .apigentools-info
  cassettes/features/v2/okta_integration/Add-Okta-account-returns-OK-response.frozen
  cassettes/features/v2/okta_integration/Add-Okta-account-returns-OK-response.yml
  examples/v2/okta-integration/CreateOktaAccount.rb
  features/v2/okta_integration.feature
Due: format-examples

Regenerate client from commit db6c3b19 of spec repo
  .apigentools-info
  cassettes/features/v2/okta_integration/Update-Okta-account-returns-OK-response.frozen
  cassettes/features/v2/okta_integration/Update-Okta-account-returns-OK-response.yml
  features/v2/undo.json
Due: none

Regenerate client from commit 31c15660 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 52641937 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/v2/sensitive_data_scanner.feature
  lib/datadog_api_client/v2/models/sensitive_data_scanner_included_keyword_configuration.rb
Due: generate

Regenerate client from commit e545b10b of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/split_config.rb
Due: generate

Regenerate client from commit 4e68d2cd of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  features/v1/dashboards.feature
  features/v1/events.feature
  features/v1/hosts.feature
  features/v2/confluent_cloud.feature
  features/v2/container_images.feature
  features/v2/containers.feature
  features/v2/events.feature
  features/v2/fastly_integration.feature
  features/v2/incident_services.feature
  features/v2/incidents.feature
Due: generate

Regenerate client from commit 3518f3a0 of spec repo
  .apigentools-info
  features/v1/pagerduty_integration.feature
  features/v1/slack_integration.feature
  features/v2/cloudflare_integration.feature
  features/v2/confluent_cloud.feature
  features/v2/fastly_integration.feature
  features/v2/okta_integration.feature
Due: none

Regenerate client from commit 46672359 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v1/models/metrics_payload.rb
  lib/datadog_api_client/v1/models/metrics_query_metadata.rb
  lib/datadog_api_client/v1/models/slo_history_metrics.rb
  lib/datadog_api_client/v1/models/slo_history_metrics_series.rb
  lib/datadog_api_client/v1/models/slo_history_monitor.rb
  lib/datadog_api_client/v1/models/slo_history_sli_data.rb
  lib/datadog_api_client/v2/models/metric_payload.rb
Due: generate

Bump datadog_api_client to 2.20.0
  lib/datadog_api_client/version.rb
Due: generate

Bump datadog_api_client to 2.20.0.dev.1
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit 9348385b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/dora_metrics/Send-an-incident-event-for-DORA-Metrics-returns-OK-response.frozen
  cassettes/features/v2/dora_metrics/Send-an-incident-event-for-DORA-Metrics-returns-OK-response.yml
  examples/v2/dora-metrics/CreateDORAIncident.rb
  features/v2/dora_metrics.feature
  lib/datadog_api_client/v2/models/dora_incident_request_attributes.rb
Due: generate, format-examples

remove old feature files
  features/v2/cases.feature
  features/v2/cases_projects.feature
Due: none

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
