Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Regenerate client from commit d7f03c6 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/rum_cross_product_sampling.rb
  lib/datadog_api_client/v2/models/rum_cross_product_sampling_create.rb
  lib/datadog_api_client/v2/models/rum_cross_product_sampling_update.rb
  lib/datadog_api_client/v2/models/rum_retention_filter_attributes.rb
  lib/datadog_api_client/v2/models/rum_retention_filter_create_attributes.rb
  lib/datadog_api_client/v2/models/rum_retention_filter_update_attributes.rb
Due: generate

Regenerate client from commit f962957 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/observability_pipeline_splunk_hec_destination.rb
Due: generate

Regenerate client from commit b7e9aa0 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/test-optimization/SearchFlakyTests.rb
  examples/v2/test-optimization/SearchFlakyTests_1224086727.rb
  examples/v2/test-optimization/SearchFlakyTests_209064879.rb
  features/v2/test_optimization.feature
  lib/datadog_api_client/v2/models/flaky_tests_search_filter.rb
  lib/datadog_api_client/v2/models/flaky_tests_search_request_attributes.rb
Due: generate, format-examples

Regenerate client from commit d26eca0 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/deployment_gates/Create-deployment-rule-returns-OK-response.frozen
  cassettes/features/v2/deployment_gates/Create-deployment-rule-returns-OK-response.yml
  cassettes/features/v2/deployment_gates/Get-deployment-rule-returns-OK-response.frozen
  cassettes/features/v2/deployment_gates/Get-deployment-rule-returns-OK-response.yml
  cassettes/features/v2/deployment_gates/Update-deployment-rule-returns-OK-response.frozen
  cassettes/features/v2/deployment_gates/Update-deployment-rule-returns-OK-response.yml
  features/v2/deployment_gates.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/create_deployment_rule_params_data_attributes.rb
  lib/datadog_api_client/v2/models/deployment_rule_options_faulty_deployment_detection_response.rb
  lib/datadog_api_client/v2/models/deployment_rule_response_data_attributes.rb
  lib/datadog_api_client/v2/models/deployment_rules_options_response.rb
  lib/datadog_api_client/v2/models/update_deployment_rule_params_data_attributes.rb
Due: generate

Regenerate client from commit 71e0050 of spec repo
  features/v2/api_management.feature
Due: none

Regenerate client from commit 1afd9cd of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_generic_batch_settings.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_generic_compression.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_generic_compression_gzip.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_generic_compression_gzip_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_generic_compression_snappy.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_generic_compression_snappy_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_generic_compression_zstd.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_generic_compression_zstd_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_generic_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_generic_destination_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_generic_encoding.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_generic_encoding_json.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_generic_encoding_json_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_generic_encoding_parquet.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_generic_encoding_parquet_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_splunk_hec_destination.rb
Due: generate

Regenerate client from commit 9e46d1d of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/monitors/Create-a-monitor-with-aggregate-augmented-query-variables-returns-OK-response.frozen
  cassettes/features/v1/monitors/Create-a-monitor-with-aggregate-augmented-query-variables-returns-OK-response.yml
  cassettes/features/v1/monitors/Create-a-monitor-with-aggregate-filtered-query-variables-returns-OK-response.frozen
  cassettes/features/v1/monitors/Create-a-monitor-with-aggregate-filtered-query-variables-returns-OK-response.yml
  examples/v1/monitors/CreateMonitor_2082938111.rb
  examples/v1/monitors/CreateMonitor_2608995690.rb
  features/v1/monitors.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_aggregate_augment_query.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_aggregate_augmented_data_source.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_aggregate_augmented_query_definition.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_aggregate_base_query.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_aggregate_filter_query.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_aggregate_filtered_data_source.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_aggregate_filtered_query_definition.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_aggregate_query_filter.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_aggregate_query_join_condition.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_aggregate_query_join_type.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_event_query_definition_compute.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_metrics_aggregator.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_metrics_data_source.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_metrics_query_definition.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_reference_table_column.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_reference_table_data_source.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_reference_table_query_definition.rb
Due: generate, format-examples

Regenerate client from commit 64cbc01 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/dora_deployment_object_attributes.rb
  lib/datadog_api_client/v2/models/dora_git_info_response.rb
Due: generate

Regenerate client from commit 898cb1a of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/metrics_api.rb
Due: generate

Regenerate client from commit a357f01 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/metrics_api.rb
  lib/datadog_api_client/v2/models/metric_relationships.rb
  lib/datadog_api_client/v2/models/metric_volumes_include.rb
  lib/datadog_api_client/v2/models/metric_volumes_relationship.rb
  lib/datadog_api_client/v2/models/metric_volumes_relationship_data.rb
  lib/datadog_api_client/v2/models/metrics_and_metric_tag_configurations_response.rb
Due: generate

Regenerate client from commit 53a6366 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/service_level_objectives/Create-a-new-metric-SLO-object-using-bad-events-formula-returns-OK-response.frozen
  cassettes/features/v1/service_level_objectives/Create-a-new-metric-SLO-object-using-bad-events-formula-returns-OK-response.yml
  examples/v1/service-level-objectives/CreateSLO_707861409.rb
  features/v1/service_level_objectives.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/slo_count_definition.rb
  lib/datadog_api_client/v1/models/slo_count_definition_with_bad_events_formula.rb
  lib/datadog_api_client/v1/models/slo_count_definition_with_total_events_formula.rb
  lib/datadog_api_client/v1/models/slo_count_spec.rb
Due: generate, format-examples

Regenerate client from commit f480c5a of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/roles/List-permissions-returns-OK-response.frozen
  cassettes/features/v2/roles/List-permissions-returns-OK-response.yml
  features/v2/roles.feature
  lib/datadog_api_client/v2/models/permission_attributes.rb
Due: generate

Regenerate client from commit bd7318f of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/observability_pipeline_http_client_destination_compression.rb
  lib/datadog_api_client/v2/models/observability_pipeline_http_client_destination_compression_algorithm.rb
Due: generate

Regenerate client from commit 4d89aa8 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-apm-metrics-widget.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-apm-metrics-widget.yml
  examples/v1/dashboards/CreateDashboard_2252738813.rb
  features/v1/dashboards.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/formula_and_function_apm_metric_stat_name.rb
  lib/datadog_api_client/v1/models/formula_and_function_apm_metrics_data_source.rb
  lib/datadog_api_client/v1/models/formula_and_function_apm_metrics_query_definition.rb
  lib/datadog_api_client/v1/models/formula_and_function_apm_metrics_span_kind.rb
  lib/datadog_api_client/v1/models/formula_and_function_query_definition.rb
Due: generate, format-examples

Regenerate client from commit 000f1f8 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/observability_pipeline_http_client_destination_compression.rb
  lib/datadog_api_client/v2/models/observability_pipeline_http_client_destination_compression_algorithm.rb
Due: generate

Regenerate client from commit cf1d970 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/observability_pipeline_http_client_destination_compression.rb
  lib/datadog_api_client/v2/models/observability_pipeline_http_client_destination_compression_algorithm.rb
Due: generate

Regenerate client from commit 2cdbe8b of spec repo
  .generator/schemas/v2/openapi.yaml
  features/v2/events.feature
  lib/datadog_api_client/v2/api/events_api.rb
Due: generate

Regenerate client from commit 227d668 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/reference-tables/BatchRowsQuery.rb
  examples/v2/reference-tables/DeleteRows.rb
  features/scenarios_model_mapping.rb
  features/v2/reference_tables.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/reference_tables_api.rb
  lib/datadog_api_client/v2/models/batch_rows_query_data_type.rb
  lib/datadog_api_client/v2/models/batch_rows_query_request.rb
  lib/datadog_api_client/v2/models/batch_rows_query_request_data.rb
  lib/datadog_api_client/v2/models/batch_rows_query_request_data_attributes.rb
  lib/datadog_api_client/v2/models/batch_rows_query_response.rb
  lib/datadog_api_client/v2/models/batch_rows_query_response_data.rb
  lib/datadog_api_client/v2/models/batch_rows_query_response_data_relationships.rb
  lib/datadog_api_client/v2/models/batch_rows_query_response_data_relationships_rows.rb
  lib/datadog_api_client/v2/models/table_row_resource_identifier.rb
Due: generate, format-examples

Pin GitHub Actions
  .github/workflows/approved_status.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs.yml
  .github/workflows/reusable-examples.yml
  .github/workflows/reusable-integration-test.yml
  .github/workflows/reusable-pre-commit.yml
  .github/workflows/reusable-ruby-test.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
Due: none

Regenerate client from commit 39bbaf5 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/deployment_gates/Create-deployment-rule-returns-OK-response.frozen
  cassettes/features/v2/deployment_gates/Create-deployment-rule-returns-OK-response.yml
  cassettes/features/v2/deployment_gates/Get-deployment-rule-returns-OK-response.frozen
  cassettes/features/v2/deployment_gates/Get-deployment-rule-returns-OK-response.yml
  cassettes/features/v2/deployment_gates/Update-deployment-rule-returns-OK-response.frozen
  cassettes/features/v2/deployment_gates/Update-deployment-rule-returns-OK-response.yml
  examples/v2/reference-tables/BatchRowsQuery.rb
  examples/v2/reference-tables/DeleteRows.rb
  features/scenarios_model_mapping.rb
  features/v2/deployment_gates.feature
  features/v2/reference_tables.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/reference_tables_api.rb
  lib/datadog_api_client/v2/models/batch_delete_rows_request_data.rb
  lib/datadog_api_client/v2/models/batch_rows_query_data_type.rb
  lib/datadog_api_client/v2/models/batch_rows_query_request.rb
  lib/datadog_api_client/v2/models/batch_rows_query_request_data.rb
  lib/datadog_api_client/v2/models/batch_rows_query_request_data_attributes.rb
  lib/datadog_api_client/v2/models/batch_rows_query_response.rb
  lib/datadog_api_client/v2/models/batch_rows_query_response_data.rb
  lib/datadog_api_client/v2/models/batch_rows_query_response_data_relationships.rb
  lib/datadog_api_client/v2/models/batch_rows_query_response_data_relationships_rows.rb
  lib/datadog_api_client/v2/models/create_deployment_rule_params_data_attributes.rb
  lib/datadog_api_client/v2/models/deployment_rule_options_faulty_deployment_detection_response.rb
  lib/datadog_api_client/v2/models/deployment_rule_response_data_attributes.rb
  lib/datadog_api_client/v2/models/deployment_rules_options_response.rb
  lib/datadog_api_client/v2/models/update_deployment_rule_params_data_attributes.rb
Due: generate, format-examples

Regenerate client from commit 06de28f of spec repo
  features/v1/metrics.feature
Due: none

Regenerate client from commit e6cee9d of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_generic_batch_settings.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_generic_compression.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_generic_compression_gzip.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_generic_compression_gzip_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_generic_compression_snappy.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_generic_compression_snappy_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_generic_compression_zstd.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_generic_compression_zstd_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_generic_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_generic_destination_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_generic_encoding.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_generic_encoding_json.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_generic_encoding_json_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_generic_encoding_parquet.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_generic_encoding_parquet_type.rb
Due: generate

Regenerate client from commit 493d41b of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/application_security_waf_custom_rule_condition_input_address.rb
Due: generate

Regenerate client from commit bd40a10 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/observability_pipeline_datadog_agent_source.rb
Due: generate

Regenerate client from commit 18efd6a of spec repo
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
Due: generate

Regenerate client from commit 7b11192 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/metrics_api.rb
Due: generate

Regenerate client from commit 462c73e of spec repo
  .generator/schemas/v1/openapi.yaml
  features/v1/dashboards.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/dashboard.rb
  lib/datadog_api_client/v1/models/dashboard_tab.rb
Due: generate

Regenerate client from commit 0250066 of spec repo
  .generator/schemas/v1/openapi.yaml
  examples/v1/monitors/CreateMonitor_1303514967.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_cost_data_source.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_cost_query_definition.rb
Due: generate, format-examples

Regenerate client from commit 1bfbff3 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/org_connection_type_enum.rb
Due: generate

Regenerate client from commit 1881dc2 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/observability_pipelines/Validate-an-observability-pipeline-with-OCSF-mapper-keep-unmatched-returns-OK-response.frozen
  cassettes/features/v2/observability_pipelines/Validate-an-observability-pipeline-with-OCSF-mapper-keep-unmatched-returns-OK-response.yml
  examples/v2/observability-pipelines/ValidatePipeline_3067748504.rb
  features/v2/observability_pipelines.feature
  lib/datadog_api_client/v2/models/observability_pipeline_ocsf_mapper_processor.rb
Due: generate, format-examples

Regenerate client from commit c23dc44 of spec repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_aggregate_augment_query.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_aggregate_augmented_query_definition.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_aggregate_filtered_query_definition.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_aggregate_sub_query.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
Due: generate

Regenerate client from commit 5ca116c of spec repo
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/metric_tag_configuration_attributes.rb
  lib/datadog_api_client/v2/models/metric_tag_configuration_create_attributes.rb
  lib/datadog_api_client/v2/models/metric_tag_configuration_metric_types.rb
Due: generate

Regenerate client from commit 7affb98 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-nested-pipeline-processor-returns-OK-response.frozen
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-nested-pipeline-processor-returns-OK-response.yml
  examples/v1/logs-pipelines/CreateLogsPipeline_2599033345.rb
  features/v1/logs_pipelines.feature
  lib/datadog_api_client/v1/models/logs_pipeline_processor.rb
Due: generate, format-examples

Regenerate client from commit c313e2b of spec repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v1/api/webhooks_integration_api.rb
  lib/datadog_api_client/v2/api/metrics_api.rb
Due: generate

Regenerate client from commit 8d4caac of spec repo
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit e563297 of spec repo
  .generator/schemas/v1/openapi.yaml
  features/v1/dashboards.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/dashboard.rb
  lib/datadog_api_client/v1/models/dashboard_tab.rb
Due: generate

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
