Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features, licensed

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

generated-features:
  name: Do not commit generated feature files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

licensed:
  name: Licensed
  language: ruby
  language_version: system
  additional_dependencies:
  - licensed
  entry: .licenses/check.sh
  pass_filenames: false
  verbose: true

cassettes
  cassettes/features/v1/dashboards/Get-all-dashboards-returns-OK-response.yml
  features/support/hooks.rb
Due: none

Regenerate client from commit 2c91a1d of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/GroupWidgetDefinition.md
  lib/datadog_api_client/v1/models/group_widget_definition.rb
Due: generated

Regenerate client from commit 007165a of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/UsageAttributionValues.md
  lib/datadog_api_client/v1/models/usage_attribution_values.rb
Due: generated

Regenerate client from commit ed46f8d of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/DashboardsAPI.md
  features/v1/dashboards.feature
  features/v1/given.json
  lib/datadog_api_client/v1/api/dashboards_api.rb
Due: generated, generated-features

Regenerate client from commit be37d31 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/MonitorsAPI.md
  lib/datadog_api_client/v1/api/monitors_api.rb
Due: generated

Fix request matching
  features/support/hooks.rb
Due: none

Also match on query, not uri
  features/support/hooks.rb
Due: none

Fix request matching (#312)
  features/support/hooks.rb
Due: none

examples: ignore IPPrefixesAPI.md
  extract-code-blocks.sh
Due: none

bump rubocop target ruby version
  .rubocop.yml
Due: none

Regenerate client from commit b493166 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/SyntheticsAPI.md
  features/v1/synthetics.feature
  lib/datadog_api_client/v1/api/synthetics_api.rb
Due: generated, generated-features

Regenerate client from commit bc7eaeb of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  features/v1/aws_integration.feature
  features/v1/dashboard_lists.feature
  features/v1/dashboards.feature
  features/v1/downtimes.feature
  features/v1/events.feature
  features/v1/key_management.feature
  features/v1/logs.feature
  features/v1/logs_indexes.feature
  features/v1/logs_pipelines.feature
  features/v1/metrics.feature
  features/v1/monitors.feature
  features/v1/organizations.feature
  features/v1/synthetics.feature
  features/v1/users.feature
  features/v2/incident_services.feature
  features/v2/incident_teams.feature
  features/v2/logs.feature
  features/v2/roles.feature
  features/v2/security_monitoring.feature
Due: generated-features

cassettes
  cassettes/features/v1/service_level_objective_corrections/Create-an-SLO-correction-returns-OK-response.yml
  cassettes/features/v1/service_level_objective_corrections/Get-all-SLO-corrections-returns-OK-response.yml
  cassettes/features/v1/service_level_objective_corrections/Update-an-SLO-correction-returns-OK-response.yml
Due: none

Regenerate client from commit fa07bf6 of spec repo
  .apigentools-info
  features/v1/service_level_objective_corrections.feature
Due: generated-features

Regenerate client from commit cb2432f of spec repo
  .apigentools-info
  data/v2/openapi.yaml
  docs/v2/MetricsAPI.md
  features/v2/metrics.feature
  lib/datadog_api_client/v2/configuration.rb
Due: generated, generated-features

Re-record
  cassettes/features/v1/metrics/Submit-metrics-returns-Payload-accepted-response.yml
Due: none

Regenerate client from commit 32aaa94 of spec repo
  .apigentools-info
  features/v1/metrics.feature
Due: generated-features

Regenerate client from commit 9430c32 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  data/v2/openapi.yaml
  docs/v1/README.md
  docs/v1/SyntheticsAPI.md
  features/v1/synthetics.feature
  lib/datadog_api_client/v1/api/synthetics_api.rb
Due: generated, generated-features

Regenerate client from commit 4463f95 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/DistributionWidgetDefinition.md
  docs/v1/DistributionWidgetXAxis.md
  docs/v1/DistributionWidgetYAxis.md
  docs/v1/README.md
  docs/v1/WidgetMarker.md
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/distribution_widget_x_axis.rb
  lib/datadog_api_client/v1/models/distribution_widget_y_axis.rb
  lib/datadog_api_client/v1/models/widget_marker.rb
  spec/v1/models/distribution_widget_x_axis_spec.rb
  spec/v1/models/distribution_widget_y_axis_spec.rb
Due: generated

Regenerate client from commit e26c7dd of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/UsageHostHour.md
  docs/v1/UsageIoTHour.md
  docs/v1/UsageSummaryDate.md
  docs/v1/UsageSummaryDateOrg.md
  docs/v1/UsageSummaryResponse.md
  lib/datadog_api_client/v1/models/usage_host_hour.rb
  lib/datadog_api_client/v1/models/usage_io_t_hour.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generated

Regenerate client from commit ff4efbb of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/SyntheticsAPI.md
  features/v1/synthetics.feature
  features/v1/undo.json
  lib/datadog_api_client/v1/api/synthetics_api.rb
Due: generated, generated-features

Regenerate client from commit ed1fc39 of spec repo
  .apigentools-info
  features/v2/metrics.feature
Due: generated-features

Regenerate client from commit d50fc5a of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/SyntheticsTestRequest.md
  features/v1/synthetics.feature
  lib/datadog_api_client/v1/models/synthetics_assertion_type.rb
  lib/datadog_api_client/v1/models/synthetics_test_details_sub_type.rb
  lib/datadog_api_client/v1/models/synthetics_test_request.rb
Due: generated, generated-features

Regenerate client from commit 6b0114c of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  features/v1/dashboard_payload.json
  features/v1/given.json
Due: none

do not run integration-only tests
  run-tests.sh
Due: none

Regenerate client from commit 088737f of spec repo
  .apigentools-info
  data/v2/openapi.yaml
  docs/v2/MetricsAPI.md
  lib/datadog_api_client/v2/api/metrics_api.rb
  lib/datadog_api_client/v2/models/metric_tag_configuration_metric_types.rb
Due: generated

Regenerate client from commit 267134d of spec repo
  .apigentools-info
Due: none

Regenerate client from commit 75ca6ae of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/GroupWidgetDefinition.md
  docs/v1/ImageWidgetDefinition.md
  docs/v1/NoteWidgetDefinition.md
  docs/v1/README.md
  docs/v1/WidgetHorizontalAlign.md
  docs/v1/WidgetLayout.md
  docs/v1/WidgetVerticalAlign.md
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/group_widget_definition.rb
  lib/datadog_api_client/v1/models/image_widget_definition.rb
  lib/datadog_api_client/v1/models/note_widget_definition.rb
  lib/datadog_api_client/v1/models/widget.rb
  lib/datadog_api_client/v1/models/widget_horizontal_align.rb
  lib/datadog_api_client/v1/models/widget_layout.rb
  lib/datadog_api_client/v1/models/widget_margin.rb
  lib/datadog_api_client/v1/models/widget_vertical_align.rb
  spec/v1/models/widget_horizontal_align_spec.rb
  spec/v1/models/widget_vertical_align_spec.rb
Due: generated

Regenerate client from commit 93dbed8 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/EventsAPI.md
  lib/datadog_api_client/v1/api/events_api.rb
Due: generated

Add body from file step
  features/step_definitions/request.rb
Due: none

Update features/step_definitions/request.rb
  features/step_definitions/request.rb
Due: none

Regenerate client from commit ac83bf0 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/SLOListResponse.md
  docs/v1/SLOListResponseMetadata.md
  docs/v1/SLOListResponseMetadataPage.md
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/slo_list_response_metadata.rb
  lib/datadog_api_client/v1/models/slo_list_response_metadata_page.rb
  spec/v1/models/slo_list_response_metadata_page_spec.rb
  spec/v1/models/slo_list_response_metadata_spec.rb
Due: generated

Regenerate client from commit 88ccf9e of spec repo
  .apigentools-info
  features/v1/aws_integration.feature
  features/v1/aws_logs_integration.feature
  features/v1/azure_integration.feature
  features/v1/dashboard_lists.feature
  features/v1/dashboards.feature
  features/v1/downtimes.feature
  features/v1/events.feature
  features/v1/gcp_integration.feature
  features/v1/hosts.feature
  features/v1/key_management.feature
  features/v1/logs.feature
  features/v1/logs_indexes.feature
  features/v1/logs_pipelines.feature
  features/v1/metrics.feature
  features/v1/monitors.feature
  features/v1/organizations.feature
  features/v1/pagerduty_integration.feature
  features/v1/service_checks.feature
  features/v1/service_level_objective_corrections.feature
  features/v1/service_level_objectives.feature
  features/v1/slack_integration.feature
  features/v1/synthetics.feature
  features/v1/tags.feature
  features/v1/users.feature
  features/v2/dashboard_lists.feature
  features/v2/incident_services.feature
  features/v2/incident_teams.feature
  features/v2/incidents.feature
  features/v2/key_management.feature
  features/v2/logs.feature
  features/v2/logs_archives.feature
  features/v2/logs_metrics.feature
  features/v2/metrics.feature
  features/v2/roles.feature
  features/v2/security_monitoring.feature
  features/v2/users.feature
Due: generated-features

Regenerate client from jirikuncar/simple-merge of spec repo
  .apigentools-info
Due: none

Regenerate client from jirikuncar/simple-merge of spec repo
  .apigentools-info
  features/v1/aws_integration.feature
  features/v1/aws_logs_integration.feature
  features/v1/azure_integration.feature
  features/v1/dashboard_lists.feature
  features/v1/dashboards.feature
  features/v1/downtimes.feature
  features/v1/events.feature
  features/v1/gcp_integration.feature
  features/v1/hosts.feature
  features/v1/key_management.feature
  features/v1/logs.feature
  features/v1/logs_indexes.feature
  features/v1/logs_pipelines.feature
  features/v1/metrics.feature
  features/v1/monitors.feature
  features/v1/organizations.feature
  features/v1/pagerduty_integration.feature
  features/v1/service_checks.feature
  features/v1/service_level_objective_corrections.feature
  features/v1/service_level_objectives.feature
  features/v1/slack_integration.feature
  features/v1/synthetics.feature
  features/v1/tags.feature
  features/v1/users.feature
  features/v2/dashboard_lists.feature
  features/v2/incident_services.feature
  features/v2/incident_teams.feature
  features/v2/incidents.feature
  features/v2/key_management.feature
  features/v2/logs.feature
  features/v2/logs_archives.feature
  features/v2/logs_metrics.feature
  features/v2/metrics.feature
  features/v2/roles.feature
  features/v2/security_monitoring.feature
  features/v2/users.feature
Due: generated-features

Regenerate client from commit 9d22381 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/SyntheticsAPIStep.md
  docs/v1/SyntheticsBrowserTestConfig.md
  docs/v1/SyntheticsTestRequest.md
  features/v1/synthetics.feature
  lib/datadog_api_client/v1/models/synthetics_api_step.rb
  lib/datadog_api_client/v1/models/synthetics_browser_test_config.rb
  lib/datadog_api_client/v1/models/synthetics_test_request.rb
Due: generated, generated-features

Handle version parameter
  check-examples.sh
Due: none

Handle version in extract
  check-examples.sh
  extract-code-blocks.sh
Due: none

Regenerate client from commit 45e6981 of spec repo
  .apigentools-info
Due: none

Regenerate client from commit eaa0782 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/SLOResponse.md
  docs/v1/SLOResponseData.md
  docs/v1/ServiceLevelObjectivesAPI.md
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/api/service_level_objectives_api.rb
  lib/datadog_api_client/v1/models/slo_response.rb
  lib/datadog_api_client/v1/models/slo_response_data.rb
  spec/v1/models/slo_response_data_spec.rb
Due: generated

Path conditions:
  generated: any of: ^lib/datadog_api_client/v[1-9].*
  generated-features: any of: ^features/v[1-9][0-9]*/.*.feature$
  licensed: any of: ^(.*.gemspec|Gemfile|.licensed.yml)$
