Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

Regenerate client from commit a4fc362f of spec repo
  .apigentools-info
  features/v1/usage_metering.feature
Due: none

Regenerate client from commit 9757e1ea of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/synthetics_test_request.rb
Due: generate

Regenerate client from commit 052b916e of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/synthetics_api.rb
Due: generate

Regenerate client from commit 43b00cd9 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/csm_threats/Create-a-Workload-Protection-agent-rule-with-set-action-returns-OK-response.frozen
  cassettes/features/v2/csm_threats/Create-a-Workload-Protection-agent-rule-with-set-action-returns-OK-response.yml
  cassettes/features/v2/csm_threats/Delete-a-Workload-Protection-agent-rule-returns-OK-response.frozen
  cassettes/features/v2/csm_threats/Delete-a-Workload-Protection-agent-rule-returns-OK-response.yml
  cassettes/features/v2/csm_threats/Get-a-Workload-Protection-agent-rule-returns-OK-response.frozen
  cassettes/features/v2/csm_threats/Get-a-Workload-Protection-agent-rule-returns-OK-response.yml
  cassettes/features/v2/csm_threats/Update-a-Workload-Protection-agent-rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/csm_threats/Update-a-Workload-Protection-agent-rule-returns-Bad-Request-response.yml
  examples/v2/csm-threats/CreateCSMThreatsAgentRule_1295653933.rb
  features/v2/csm_threats.feature
  features/v2/given.json
  lib/datadog_api_client/v2/models/cloud_workload_security_agent_rule_action.rb
Due: generate, format-examples

Regenerate client from commit 49a0d05b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/action_connection/Get-an-existing-App-Key-Registration-returns-Bad-request-response.frozen
  cassettes/features/v2/action_connection/Get-an-existing-App-Key-Registration-returns-Bad-request-response.yml
  cassettes/features/v2/action_connection/Get-an-existing-App-Key-Registration-returns-Not-found-response.frozen
  cassettes/features/v2/action_connection/Get-an-existing-App-Key-Registration-returns-Not-found-response.yml
  cassettes/features/v2/action_connection/Get-an-existing-App-Key-Registration-returns-OK-response.frozen
  cassettes/features/v2/action_connection/Get-an-existing-App-Key-Registration-returns-OK-response.yml
  cassettes/features/v2/action_connection/List-App-Key-Registrations-returns-OK-response.frozen
  cassettes/features/v2/action_connection/List-App-Key-Registrations-returns-OK-response.yml
  cassettes/features/v2/action_connection/Register-a-new-App-Key-returns-Bad-request-response.frozen
  cassettes/features/v2/action_connection/Register-a-new-App-Key-returns-Bad-request-response.yml
  cassettes/features/v2/action_connection/Register-a-new-App-Key-returns-Created-response.frozen
  cassettes/features/v2/action_connection/Register-a-new-App-Key-returns-Created-response.yml
  cassettes/features/v2/action_connection/Unregister-an-App-Key-returns-Bad-request-response.frozen
  cassettes/features/v2/action_connection/Unregister-an-App-Key-returns-Bad-request-response.yml
  cassettes/features/v2/action_connection/Unregister-an-App-Key-returns-Not-found-response.frozen
  cassettes/features/v2/action_connection/Unregister-an-App-Key-returns-Not-found-response.yml
  examples/v2/action-connection/GetAppKeyRegistration.rb
  examples/v2/action-connection/ListAppKeyRegistrations.rb
  examples/v2/action-connection/RegisterAppKey.rb
  examples/v2/action-connection/UnregisterAppKey.rb
  features/scenarios_model_mapping.rb
  features/v2/action_connection.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/action_connection_api.rb
  lib/datadog_api_client/v2/api/app_builder_api.rb
  lib/datadog_api_client/v2/api/workflow_automation_api.rb
  lib/datadog_api_client/v2/models/app_key_registration_data.rb
  lib/datadog_api_client/v2/models/app_key_registration_data_type.rb
  lib/datadog_api_client/v2/models/get_app_key_registration_response.rb
  lib/datadog_api_client/v2/models/list_app_key_registrations_response.rb
  lib/datadog_api_client/v2/models/list_app_key_registrations_response_meta.rb
  lib/datadog_api_client/v2/models/register_app_key_response.rb
Due: generate, format-examples

Regenerate client from commit 6eb36f2b of spec repo
  .apigentools-info
  features/v2/security_monitoring.feature
Due: none

Regenerate client from commit 7fe71d9f of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Run-a-historical-job-returns-Not-Found-response.frozen
  cassettes/features/v2/security_monitoring/Run-a-historical-job-returns-Not-Found-response.yml
  features/v2/security_monitoring.feature
  lib/datadog_api_client/v2/models/job_definition_from_rule.rb
Due: generate

Regenerate client from commit 4f8051de of spec repo
  .apigentools-info
  features/v1/dashboards.feature
Due: none

Regenerate client from commit b2c4e7e8 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/dora-metrics/CreateDORAFailure.rb
  examples/v2/dora-metrics/CreateDORAIncident.rb
  features/v2/dora_metrics.feature
  lib/datadog_api_client/v2/models/dora_deployment_request_attributes.rb
  lib/datadog_api_client/v2/models/dora_failure_request_attributes.rb
Due: generate, format-examples

Regenerate client from commit d53d3320 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/security_monitoring_rule_type_create.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_type_read.rb
Due: generate

Bump versions and add changelog entries.
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit 6e1eb13f of spec repo
  .apigentools-info
  cassettes/features/v2/microsoft_teams_integration/Create-workflow-webhook-handle-returns-CREATED-response.frozen
  cassettes/features/v2/microsoft_teams_integration/Create-workflow-webhook-handle-returns-CREATED-response.yml
  cassettes/features/v2/microsoft_teams_integration/Delete-workflow-webhook-handle-returns-OK-response.frozen
  cassettes/features/v2/microsoft_teams_integration/Delete-workflow-webhook-handle-returns-OK-response.yml
  cassettes/features/v2/microsoft_teams_integration/Get-all-workflow-webhook-handles-returns-OK-response.frozen
  cassettes/features/v2/microsoft_teams_integration/Get-all-workflow-webhook-handles-returns-OK-response.yml
  cassettes/features/v2/microsoft_teams_integration/Get-workflow-webhook-handle-information-returns-OK-response.frozen
  cassettes/features/v2/microsoft_teams_integration/Get-workflow-webhook-handle-information-returns-OK-response.yml
  cassettes/features/v2/microsoft_teams_integration/Update-workflow-webhook-handle-returns-OK-response.frozen
  cassettes/features/v2/microsoft_teams_integration/Update-workflow-webhook-handle-returns-OK-response.yml
  examples/v2/microsoft-teams-integration/CreateWorkflowsWebhookHandle_1716851881.rb
  features/v2/microsoft_teams_integration.feature
Due: format-examples

Regenerate client from commit b359fdcc of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/teams/AddMemberTeam.rb
  examples/v2/teams/ListMemberTeams.rb
  examples/v2/teams/ListMemberTeams_1662850354.rb
  examples/v2/teams/RemoveMemberTeam.rb
  features/scenarios_model_mapping.rb
  features/v2/teams.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/teams_api.rb
  lib/datadog_api_client/v2/models/add_member_team_request.rb
  lib/datadog_api_client/v2/models/member_team.rb
  lib/datadog_api_client/v2/models/member_team_type.rb
Due: generate, format-examples

Regenerate client from commit b1a1c000 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-Bad-Request-response.yml
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Group-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Group-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Rule-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Rule-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/List-Scanning-Groups-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/List-Scanning-Groups-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Reorder-Groups-returns-Bad-Request-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Reorder-Groups-returns-Bad-Request-response.yml
  cassettes/features/v2/sensitive_data_scanner/Reorder-Groups-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Reorder-Groups-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Group-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Group-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-Bad-Request-response.yml
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-OK-response.yml
  features/v2/given.json
  features/v2/sensitive_data_scanner.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/sensitive_data_scanner_samplings.rb
Due: generate

Regenerate client from commit b6151f30 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/csm_threats/Create-a-Workload-Protection-agent-rule-with-set-action-returns-OK-response.frozen
  cassettes/features/v2/csm_threats/Create-a-Workload-Protection-agent-rule-with-set-action-returns-OK-response.yml
  cassettes/features/v2/csm_threats/Delete-a-Workload-Protection-agent-rule-returns-OK-response.frozen
  cassettes/features/v2/csm_threats/Delete-a-Workload-Protection-agent-rule-returns-OK-response.yml
  cassettes/features/v2/csm_threats/Get-a-Workload-Protection-agent-rule-returns-OK-response.frozen
  cassettes/features/v2/csm_threats/Get-a-Workload-Protection-agent-rule-returns-OK-response.yml
  cassettes/features/v2/csm_threats/Update-a-Workload-Protection-agent-rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/csm_threats/Update-a-Workload-Protection-agent-rule-returns-Bad-Request-response.yml
  examples/v2/csm-threats/CreateCSMThreatsAgentRule_1295653933.rb
  features/v2/csm_threats.feature
  features/v2/given.json
  lib/datadog_api_client/v2/models/cloud_workload_security_agent_rule_action.rb
Due: generate, format-examples

Regenerate client from commit 0a2761cc of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/configuration.rb
Due: generate

Regenerate client from commit 5e49afe1 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/cloud_configuration_rule_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_case.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_update_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_rule_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_rule_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_query.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_third_party_rule_case.rb
Due: generate

Regenerate client from commit 5f7cad1f of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/events/Post-an-event-returns-Bad-request-response.frozen
  cassettes/features/v2/events/Post-an-event-returns-Bad-request-response.yml
  cassettes/features/v2/events/Post-an-event-returns-OK-response.frozen
  cassettes/features/v2/events/Post-an-event-returns-OK-response.yml
  examples/v2/events/CreateEvent.rb
  features/v2/events.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/events_api.rb
  lib/datadog_api_client/v2/models/alert_event_custom_attributes.rb
  lib/datadog_api_client/v2/models/alert_event_custom_attributes_links_items.rb
  lib/datadog_api_client/v2/models/alert_event_custom_attributes_links_items_category.rb
  lib/datadog_api_client/v2/models/alert_event_custom_attributes_priority.rb
  lib/datadog_api_client/v2/models/alert_event_custom_attributes_status.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_author.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_changed_resource.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_changed_resource_type.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_impacted_resources_items.rb
  lib/datadog_api_client/v2/models/event_category.rb
  lib/datadog_api_client/v2/models/event_create_request.rb
  lib/datadog_api_client/v2/models/event_create_request_payload.rb
  lib/datadog_api_client/v2/models/event_create_response.rb
  lib/datadog_api_client/v2/models/event_create_response_attributes.rb
  lib/datadog_api_client/v2/models/event_create_response_attributes_attributes_evt.rb
  lib/datadog_api_client/v2/models/event_create_response_payload.rb
  lib/datadog_api_client/v2/models/event_create_response_payload_links.rb
  lib/datadog_api_client/v2/models/event_payload.rb
  lib/datadog_api_client/v2/models/event_payload_attributes.rb
  lib/datadog_api_client/v2/models/event_payload_integration_id.rb
Due: generate, format-examples

Regenerate client from commit 94ea4587 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_billable_summary_body.rb
Due: generate

Regenerate client from commit c4868535 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/action_connection/Get-an-existing-App-Key-Registration-returns-Bad-request-response.frozen
  cassettes/features/v2/action_connection/Get-an-existing-App-Key-Registration-returns-Bad-request-response.yml
  cassettes/features/v2/action_connection/Get-an-existing-App-Key-Registration-returns-Not-found-response.frozen
  cassettes/features/v2/action_connection/Get-an-existing-App-Key-Registration-returns-Not-found-response.yml
  cassettes/features/v2/action_connection/Get-an-existing-App-Key-Registration-returns-OK-response.frozen
  cassettes/features/v2/action_connection/Get-an-existing-App-Key-Registration-returns-OK-response.yml
  cassettes/features/v2/action_connection/List-App-Key-Registrations-returns-OK-response.frozen
  cassettes/features/v2/action_connection/List-App-Key-Registrations-returns-OK-response.yml
  cassettes/features/v2/action_connection/Register-a-new-App-Key-returns-Bad-request-response.frozen
  cassettes/features/v2/action_connection/Register-a-new-App-Key-returns-Bad-request-response.yml
  cassettes/features/v2/action_connection/Register-a-new-App-Key-returns-Created-response.frozen
  cassettes/features/v2/action_connection/Register-a-new-App-Key-returns-Created-response.yml
  cassettes/features/v2/action_connection/Unregister-an-App-Key-returns-Bad-request-response.frozen
  cassettes/features/v2/action_connection/Unregister-an-App-Key-returns-Bad-request-response.yml
  cassettes/features/v2/action_connection/Unregister-an-App-Key-returns-Not-found-response.frozen
  cassettes/features/v2/action_connection/Unregister-an-App-Key-returns-Not-found-response.yml
  examples/v2/action-connection/GetAppKeyRegistration.rb
  examples/v2/action-connection/ListAppKeyRegistrations.rb
  examples/v2/action-connection/RegisterAppKey.rb
  examples/v2/action-connection/UnregisterAppKey.rb
  features/scenarios_model_mapping.rb
  features/v2/action_connection.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/action_connection_api.rb
  lib/datadog_api_client/v2/api/app_builder_api.rb
  lib/datadog_api_client/v2/api/workflow_automation_api.rb
  lib/datadog_api_client/v2/models/app_key_registration_data.rb
  lib/datadog_api_client/v2/models/app_key_registration_data_type.rb
  lib/datadog_api_client/v2/models/get_app_key_registration_response.rb
  lib/datadog_api_client/v2/models/list_app_key_registrations_response.rb
  lib/datadog_api_client/v2/models/list_app_key_registrations_response_meta.rb
  lib/datadog_api_client/v2/models/register_app_key_response.rb
Due: generate, format-examples

Regenerate client from commit a171e0a8 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/security_monitoring_rule_type_create.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_type_read.rb
Due: generate

Regenerate client from commit 2a43d185 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/synthetics_basic_auth_web.rb
Due: generate

Regenerate client from commit 78730ba3 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/events/GetEvent.rb
  features/scenarios_model_mapping.rb
  features/v2/events.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/events_api.rb
  lib/datadog_api_client/v2/models/alert_event_attributes.rb
  lib/datadog_api_client/v2/models/alert_event_attributes_links_item.rb
  lib/datadog_api_client/v2/models/alert_event_attributes_links_item_category.rb
  lib/datadog_api_client/v2/models/alert_event_attributes_priority.rb
  lib/datadog_api_client/v2/models/change_event_attributes.rb
  lib/datadog_api_client/v2/models/change_event_attributes_author.rb
  lib/datadog_api_client/v2/models/change_event_attributes_author_type.rb
  lib/datadog_api_client/v2/models/change_event_attributes_changed_resource.rb
  lib/datadog_api_client/v2/models/change_event_attributes_changed_resource_type.rb
  lib/datadog_api_client/v2/models/change_event_attributes_impacted_resources_item.rb
  lib/datadog_api_client/v2/models/change_event_attributes_impacted_resources_item_type.rb
  lib/datadog_api_client/v2/models/event_system_attributes.rb
  lib/datadog_api_client/v2/models/event_system_attributes_category.rb
  lib/datadog_api_client/v2/models/event_system_attributes_integration_id.rb
  lib/datadog_api_client/v2/models/v2_event.rb
  lib/datadog_api_client/v2/models/v2_event_attributes.rb
  lib/datadog_api_client/v2/models/v2_event_attributes_attributes.rb
  lib/datadog_api_client/v2/models/v2_event_response.rb
Due: generate, format-examples

Regenerate client from commit e790a980 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/geomap_widget_definition_view.rb
Due: generate

Regenerate client from commit 51272749 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/change_event_custom_attributes_author_type.rb
Due: generate

Regenerate client from commit 66a5c2fe of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/cloud_cost_management/Create-Cloud-Cost-Management-GCP-Usage-Cost-config-returns-Bad-Request-response.frozen
  cassettes/features/v2/cloud_cost_management/Create-Cloud-Cost-Management-GCP-Usage-Cost-config-returns-Bad-Request-response.yml
  cassettes/features/v2/cloud_cost_management/Create-Cloud-Cost-Management-GCP-Usage-Cost-config-returns-OK-response.frozen
  cassettes/features/v2/cloud_cost_management/Create-Cloud-Cost-Management-GCP-Usage-Cost-config-returns-OK-response.yml
  cassettes/features/v2/cloud_cost_management/Delete-Cloud-Cost-Management-GCP-Usage-Cost-config-returns-Bad-Request-response.frozen
  cassettes/features/v2/cloud_cost_management/Delete-Cloud-Cost-Management-GCP-Usage-Cost-config-returns-Bad-Request-response.yml
  cassettes/features/v2/cloud_cost_management/Delete-Cloud-Cost-Management-GCP-Usage-Cost-config-returns-No-Content-response.frozen
  cassettes/features/v2/cloud_cost_management/Delete-Cloud-Cost-Management-GCP-Usage-Cost-config-returns-No-Content-response.yml
  cassettes/features/v2/cloud_cost_management/Delete-Cloud-Cost-Management-GCP-Usage-Cost-config-returns-Not-Found-response.frozen
  cassettes/features/v2/cloud_cost_management/Delete-Cloud-Cost-Management-GCP-Usage-Cost-config-returns-Not-Found-response.yml
  cassettes/features/v2/cloud_cost_management/List-Cloud-Cost-Management-GCP-Usage-Cost-configs-returns-OK-response.frozen
  cassettes/features/v2/cloud_cost_management/List-Cloud-Cost-Management-GCP-Usage-Cost-configs-returns-OK-response.yml
  cassettes/features/v2/cloud_cost_management/Update-Cloud-Cost-Management-GCP-Usage-Cost-config-returns-OK-response.frozen
  cassettes/features/v2/cloud_cost_management/Update-Cloud-Cost-Management-GCP-Usage-Cost-config-returns-OK-response.yml
  examples/v2/cloud-cost-management/CreateCostGCPUsageCostConfig.rb
  examples/v2/cloud-cost-management/DeleteCostGCPUsageCostConfig.rb
  examples/v2/cloud-cost-management/ListCostGCPUsageCostConfigs.rb
  examples/v2/cloud-cost-management/UpdateCostGCPUsageCostConfig.rb
  features/scenarios_model_mapping.rb
  features/v2/cloud_cost_management.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/cloud_cost_management_api.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_attributes.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_patch_data.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_patch_request.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_patch_request_attributes.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_patch_request_type.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_post_data.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_post_request.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_post_request_attributes.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_post_request_type.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_response.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_type.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_configs_response.rb
Due: generate, format-examples

Regenerate client from commit 3fe1f086 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/rum_retention_filter_update_request.rb
Due: generate

Regenerate client from commit 5072013c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/logs_custom_destinations/Create-a-Microsoft-Sentinel-custom-destination-returns-OK-response.frozen
  cassettes/features/v2/logs_custom_destinations/Create-a-Microsoft-Sentinel-custom-destination-returns-OK-response.yml
  examples/v2/logs-custom-destinations/CreateLogsCustomDestination_1735989579.rb
  features/v2/logs_custom_destinations.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/custom_destination_forward_destination.rb
  lib/datadog_api_client/v2/models/custom_destination_forward_destination_microsoft_sentinel.rb
  lib/datadog_api_client/v2/models/custom_destination_forward_destination_microsoft_sentinel_type.rb
  lib/datadog_api_client/v2/models/custom_destination_response_forward_destination.rb
  lib/datadog_api_client/v2/models/custom_destination_response_forward_destination_microsoft_sentinel.rb
  lib/datadog_api_client/v2/models/custom_destination_response_forward_destination_microsoft_sentinel_type.rb
Due: generate, format-examples

Regenerate client from commit 74866a53 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/synthetics_basic_auth_web.rb
Due: generate

Regenerate client from commit 2e491415 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/logs_custom_destinations/Create-a-Microsoft-Sentinel-custom-destination-returns-OK-response.frozen
  cassettes/features/v2/logs_custom_destinations/Create-a-Microsoft-Sentinel-custom-destination-returns-OK-response.yml
  examples/v2/logs-custom-destinations/CreateLogsCustomDestination_1735989579.rb
  features/v2/logs_custom_destinations.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/custom_destination_forward_destination.rb
  lib/datadog_api_client/v2/models/custom_destination_forward_destination_microsoft_sentinel.rb
  lib/datadog_api_client/v2/models/custom_destination_forward_destination_microsoft_sentinel_type.rb
  lib/datadog_api_client/v2/models/custom_destination_response_forward_destination.rb
  lib/datadog_api_client/v2/models/custom_destination_response_forward_destination_microsoft_sentinel.rb
  lib/datadog_api_client/v2/models/custom_destination_response_forward_destination_microsoft_sentinel_type.rb
Due: generate, format-examples

Regenerate client from commit 75caa2e0 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/action_connection/Get-an-existing-App-Key-Registration-returns-Bad-request-response.frozen
  cassettes/features/v2/action_connection/Get-an-existing-App-Key-Registration-returns-Bad-request-response.yml
  cassettes/features/v2/action_connection/Get-an-existing-App-Key-Registration-returns-Not-found-response.frozen
  cassettes/features/v2/action_connection/Get-an-existing-App-Key-Registration-returns-Not-found-response.yml
  cassettes/features/v2/action_connection/Get-an-existing-App-Key-Registration-returns-OK-response.frozen
  cassettes/features/v2/action_connection/Get-an-existing-App-Key-Registration-returns-OK-response.yml
  cassettes/features/v2/action_connection/List-App-Key-Registrations-returns-OK-response.frozen
  cassettes/features/v2/action_connection/List-App-Key-Registrations-returns-OK-response.yml
  cassettes/features/v2/action_connection/Register-a-new-App-Key-returns-Bad-request-response.frozen
  cassettes/features/v2/action_connection/Register-a-new-App-Key-returns-Bad-request-response.yml
  cassettes/features/v2/action_connection/Register-a-new-App-Key-returns-Created-response.frozen
  cassettes/features/v2/action_connection/Register-a-new-App-Key-returns-Created-response.yml
  cassettes/features/v2/action_connection/Unregister-an-App-Key-returns-Bad-request-response.frozen
  cassettes/features/v2/action_connection/Unregister-an-App-Key-returns-Bad-request-response.yml
  cassettes/features/v2/action_connection/Unregister-an-App-Key-returns-Not-found-response.frozen
  cassettes/features/v2/action_connection/Unregister-an-App-Key-returns-Not-found-response.yml
  examples/v2/action-connection/GetAppKeyRegistration.rb
  examples/v2/action-connection/ListAppKeyRegistrations.rb
  examples/v2/action-connection/RegisterAppKey.rb
  examples/v2/action-connection/UnregisterAppKey.rb
  features/scenarios_model_mapping.rb
  features/v2/action_connection.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/action_connection_api.rb
  lib/datadog_api_client/v2/api/app_builder_api.rb
  lib/datadog_api_client/v2/api/workflow_automation_api.rb
  lib/datadog_api_client/v2/models/app_key_registration_data.rb
  lib/datadog_api_client/v2/models/app_key_registration_data_type.rb
  lib/datadog_api_client/v2/models/get_app_key_registration_response.rb
  lib/datadog_api_client/v2/models/list_app_key_registrations_response.rb
  lib/datadog_api_client/v2/models/list_app_key_registrations_response_meta.rb
  lib/datadog_api_client/v2/models/register_app_key_response.rb
Due: generate, format-examples

Regenerate client from commit 9a201ac7 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/action_connection/Get-an-existing-App-Key-Registration-returns-Bad-request-response.frozen
  cassettes/features/v2/action_connection/Get-an-existing-App-Key-Registration-returns-Bad-request-response.yml
  cassettes/features/v2/action_connection/Get-an-existing-App-Key-Registration-returns-Not-found-response.frozen
  cassettes/features/v2/action_connection/Get-an-existing-App-Key-Registration-returns-Not-found-response.yml
  cassettes/features/v2/action_connection/Get-an-existing-App-Key-Registration-returns-OK-response.frozen
  cassettes/features/v2/action_connection/Get-an-existing-App-Key-Registration-returns-OK-response.yml
  cassettes/features/v2/action_connection/List-App-Key-Registrations-returns-OK-response.frozen
  cassettes/features/v2/action_connection/List-App-Key-Registrations-returns-OK-response.yml
  cassettes/features/v2/action_connection/Register-a-new-App-Key-returns-Bad-request-response.frozen
  cassettes/features/v2/action_connection/Register-a-new-App-Key-returns-Bad-request-response.yml
  cassettes/features/v2/action_connection/Register-a-new-App-Key-returns-Created-response.frozen
  cassettes/features/v2/action_connection/Register-a-new-App-Key-returns-Created-response.yml
  cassettes/features/v2/action_connection/Unregister-an-App-Key-returns-Bad-request-response.frozen
  cassettes/features/v2/action_connection/Unregister-an-App-Key-returns-Bad-request-response.yml
  cassettes/features/v2/action_connection/Unregister-an-App-Key-returns-Not-found-response.frozen
  cassettes/features/v2/action_connection/Unregister-an-App-Key-returns-Not-found-response.yml
  examples/v2/action-connection/GetAppKeyRegistration.rb
  examples/v2/action-connection/ListAppKeyRegistrations.rb
  examples/v2/action-connection/RegisterAppKey.rb
  examples/v2/action-connection/UnregisterAppKey.rb
  features/scenarios_model_mapping.rb
  features/v2/action_connection.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/action_connection_api.rb
  lib/datadog_api_client/v2/api/app_builder_api.rb
  lib/datadog_api_client/v2/api/workflow_automation_api.rb
  lib/datadog_api_client/v2/models/app_key_registration_data.rb
  lib/datadog_api_client/v2/models/app_key_registration_data_type.rb
  lib/datadog_api_client/v2/models/get_app_key_registration_response.rb
  lib/datadog_api_client/v2/models/list_app_key_registrations_response.rb
  lib/datadog_api_client/v2/models/list_app_key_registrations_response_meta.rb
  lib/datadog_api_client/v2/models/register_app_key_response.rb
Due: generate, format-examples

Regenerate client from commit 779f1def of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/events/Post-an-event-returns-Bad-request-response.frozen
  cassettes/features/v2/events/Post-an-event-returns-Bad-request-response.yml
  cassettes/features/v2/events/Post-an-event-returns-OK-response.frozen
  cassettes/features/v2/events/Post-an-event-returns-OK-response.yml
  examples/v2/events/CreateEvent.rb
  features/v2/events.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/events_api.rb
  lib/datadog_api_client/v2/models/alert_event_custom_attributes.rb
  lib/datadog_api_client/v2/models/alert_event_custom_attributes_links_items.rb
  lib/datadog_api_client/v2/models/alert_event_custom_attributes_links_items_category.rb
  lib/datadog_api_client/v2/models/alert_event_custom_attributes_priority.rb
  lib/datadog_api_client/v2/models/alert_event_custom_attributes_status.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_author.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_changed_resource.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_changed_resource_type.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_impacted_resources_items.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_impacted_resources_items_type.rb
  lib/datadog_api_client/v2/models/event_category.rb
  lib/datadog_api_client/v2/models/event_create_request.rb
  lib/datadog_api_client/v2/models/event_create_request_payload.rb
  lib/datadog_api_client/v2/models/event_create_response.rb
  lib/datadog_api_client/v2/models/event_create_response_attributes.rb
  lib/datadog_api_client/v2/models/event_create_response_attributes_attributes.rb
  lib/datadog_api_client/v2/models/event_create_response_attributes_attributes_evt.rb
  lib/datadog_api_client/v2/models/event_create_response_payload.rb
  lib/datadog_api_client/v2/models/event_create_response_payload_links.rb
  lib/datadog_api_client/v2/models/event_payload.rb
  lib/datadog_api_client/v2/models/event_payload_attributes.rb
  lib/datadog_api_client/v2/models/event_payload_integration_id.rb
Due: generate, format-examples

Regenerate client from commit 2ee70e91 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/metrics/GetTagKeyCardinalityDetails.rb
  features/scenarios_model_mapping.rb
  features/v2/metrics.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/metrics_api.rb
  lib/datadog_api_client/v2/models/metric_tag_cardinalities_meta.rb
  lib/datadog_api_client/v2/models/metric_tag_cardinalities_response.rb
  lib/datadog_api_client/v2/models/metric_tag_cardinality.rb
  lib/datadog_api_client/v2/models/metric_tag_cardinality_attributes.rb
Due: generate, format-examples

Regenerate client from commit 837c2656 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/configuration.rb
Due: generate

Regenerate client from commit 75086adf of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/hosts_api.rb
Due: generate
