Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

Regenerate client from commit 3d26d93 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/observability_pipeline_sensitive_data_scanner_processor_action_hash.rb
  lib/datadog_api_client/v2/models/observability_pipeline_sensitive_data_scanner_processor_action_partial_redact_options.rb
  lib/datadog_api_client/v2/models/observability_pipeline_sensitive_data_scanner_processor_action_redact_options.rb
  lib/datadog_api_client/v2/models/observability_pipeline_sensitive_data_scanner_processor_rule.rb
  lib/datadog_api_client/v2/models/observability_pipeline_sensitive_data_scanner_processor_scope_options.rb
Due: generate

Regenerate client from commit e34ef48 of spec repo
  .generator/schemas/v1/openapi.yaml
  examples/v1/monitors/CreateMonitor_1303514967.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_cost_data_source.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_cost_query_definition.rb
Due: generate, format-examples

Regenerate client from commit 495a7ca of spec repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v1/logs-indexes/CreateLogsIndex.rb
  examples/v1/logs-indexes/UpdateLogsIndex.rb
  features/v1/logs_indexes.feature
  lib/datadog_api_client/v1/models/logs_exclusion_filter.rb
  lib/datadog_api_client/v2/api/restriction_policies_api.rb
Due: generate, format-examples

Regenerate client from commit 8bff713 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/usage_metering_api.rb
  lib/datadog_api_client/v2/models/cost_aggregation_type.rb
Due: generate

Regenerate client from commit 3dd91ff of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/security_monitoring_critical_asset_attributes.rb
  lib/datadog_api_client/v2/models/security_monitoring_critical_asset_create_attributes.rb
  lib/datadog_api_client/v2/models/security_monitoring_critical_asset_severity.rb
  lib/datadog_api_client/v2/models/security_monitoring_critical_asset_update_attributes.rb
Due: generate

Regenerate client from commit a90a0ed of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/test-optimization/DeleteTestOptimizationServiceSettings.rb
  examples/v2/test-optimization/GetTestOptimizationServiceSettings.rb
  examples/v2/test-optimization/UpdateTestOptimizationServiceSettings.rb
  features/scenarios_model_mapping.rb
  features/v2/test_optimization.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/test_optimization_api.rb
  lib/datadog_api_client/v2/models/test_optimization_delete_service_settings_request.rb
  lib/datadog_api_client/v2/models/test_optimization_delete_service_settings_request_attributes.rb
  lib/datadog_api_client/v2/models/test_optimization_delete_service_settings_request_data.rb
  lib/datadog_api_client/v2/models/test_optimization_delete_service_settings_request_data_type.rb
  lib/datadog_api_client/v2/models/test_optimization_get_service_settings_request.rb
  lib/datadog_api_client/v2/models/test_optimization_get_service_settings_request_attributes.rb
  lib/datadog_api_client/v2/models/test_optimization_get_service_settings_request_data.rb
  lib/datadog_api_client/v2/models/test_optimization_get_service_settings_request_data_type.rb
  lib/datadog_api_client/v2/models/test_optimization_service_settings_attributes.rb
  lib/datadog_api_client/v2/models/test_optimization_service_settings_data.rb
  lib/datadog_api_client/v2/models/test_optimization_service_settings_response.rb
  lib/datadog_api_client/v2/models/test_optimization_service_settings_type.rb
  lib/datadog_api_client/v2/models/test_optimization_update_service_settings_request.rb
  lib/datadog_api_client/v2/models/test_optimization_update_service_settings_request_attributes.rb
  lib/datadog_api_client/v2/models/test_optimization_update_service_settings_request_data.rb
  lib/datadog_api_client/v2/models/test_optimization_update_service_settings_request_data_type.rb
Due: generate, format-examples

Regenerate client from commit 6fd122c of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/teams/Get-team-sync-configurations-returns-OK-response.frozen
  cassettes/features/v2/teams/Get-team-sync-configurations-returns-OK-response.yml
  cassettes/features/v2/teams/Link-Teams-with-GitHub-Teams-returns-No-Content-response.frozen
  cassettes/features/v2/teams/Link-Teams-with-GitHub-Teams-returns-No-Content-response.yml
  cassettes/features/v2/teams/Sync-teams-returns-OK-response.frozen
  examples/v2/teams/SyncTeams_3215592344.rb
  features/v2/teams.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/teams_api.rb
  lib/datadog_api_client/v2/models/team_sync_selection_state_external_id.rb
  lib/datadog_api_client/v2/models/team_sync_selection_state_external_id_type.rb
  lib/datadog_api_client/v2/models/team_sync_selection_state_item.rb
  lib/datadog_api_client/v2/models/team_sync_selection_state_operation.rb
  lib/datadog_api_client/v2/models/team_sync_selection_state_scope.rb
Due: generate, format-examples

Regenerate client from commit 01dbcc9 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/teams/Get-team-sync-configurations-returns-OK-response.frozen
  cassettes/features/v2/teams/Get-team-sync-configurations-returns-OK-response.yml
  cassettes/features/v2/teams/Link-Teams-with-GitHub-Teams-returns-No-Content-response.frozen
  cassettes/features/v2/teams/Sync-teams-returns-OK-response.frozen
  cassettes/features/v2/teams/Sync-teams-returns-OK-response.yml
  examples/v2/teams/SyncTeams_3215592344.rb
  features/v2/teams.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/teams_api.rb
  lib/datadog_api_client/v2/models/team_sync_attributes.rb
  lib/datadog_api_client/v2/models/team_sync_selection_state_external_id.rb
  lib/datadog_api_client/v2/models/team_sync_selection_state_external_id_type.rb
  lib/datadog_api_client/v2/models/team_sync_selection_state_item.rb
  lib/datadog_api_client/v2/models/team_sync_selection_state_operation.rb
  lib/datadog_api_client/v2/models/team_sync_selection_state_scope.rb
Due: generate, format-examples

Regenerate client from commit e190531 of spec repo
  cassettes/features/v1/dashboards/Send-shared-dashboard-invitation-email-returns-OK-.frozen
  cassettes/features/v1/dashboards/Send-shared-dashboard-invitation-email-returns-OK-.yml
  cassettes/features/v1/dashboards/Send-shared-dashboard-invitation-email-returns-OK.frozen
  cassettes/features/v1/dashboards/Send-shared-dashboard-invitation-email-returns-OK.yml
  examples/v1/dashboards/SendPublicDashboardInvitation.rb
  examples/v1/dashboards/SendPublicDashboardInvitation_3435926116.rb
  features/v1/dashboards.feature
Due: format-examples

Regenerate client from commit c2c9457 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_archive_reason.rb
Due: generate

Regenerate client from commit d1a2d87 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-a-query-value-widget-containing-a-description.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-a-query-value-widget-containing-a-description.yml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-query-value-widget.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-query-value-widget.yml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-timeseries-widget-with-custom-unit.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-timeseries-widget-with-custom-unit.yml
  examples/v1/dashboards/CreateDashboard_3520534424.rb
  examples/v1/dashboards/CreateDashboard_3767278442.rb
  features/v1/dashboards.feature
  features/v1/dashboards_json_payload/query_value_widget.json
  features/v1/dashboards_json_payload/timeseries_widget_with_custom_unit.json
  lib/datadog_api_client/v1/models/alert_graph_widget_definition.rb
  lib/datadog_api_client/v1/models/alert_value_widget_definition.rb
  lib/datadog_api_client/v1/models/bar_chart_widget_definition.rb
  lib/datadog_api_client/v1/models/change_widget_definition.rb
  lib/datadog_api_client/v1/models/check_status_widget_definition.rb
  lib/datadog_api_client/v1/models/distribution_widget_definition.rb
  lib/datadog_api_client/v1/models/event_stream_widget_definition.rb
  lib/datadog_api_client/v1/models/event_timeline_widget_definition.rb
  lib/datadog_api_client/v1/models/funnel_widget_definition.rb
  lib/datadog_api_client/v1/models/geomap_widget_definition.rb
  lib/datadog_api_client/v1/models/heat_map_widget_definition.rb
  lib/datadog_api_client/v1/models/host_map_widget_definition.rb
  lib/datadog_api_client/v1/models/list_stream_widget_definition.rb
  lib/datadog_api_client/v1/models/log_stream_widget_definition.rb
  lib/datadog_api_client/v1/models/monitor_summary_widget_definition.rb
  lib/datadog_api_client/v1/models/query_value_widget_definition.rb
  lib/datadog_api_client/v1/models/run_workflow_widget_definition.rb
  lib/datadog_api_client/v1/models/scatter_plot_widget_definition.rb
  lib/datadog_api_client/v1/models/service_map_widget_definition.rb
  lib/datadog_api_client/v1/models/service_summary_widget_definition.rb
  lib/datadog_api_client/v1/models/slo_list_widget_definition.rb
  lib/datadog_api_client/v1/models/slo_widget_definition.rb
  lib/datadog_api_client/v1/models/sunburst_widget_definition.rb
  lib/datadog_api_client/v1/models/table_widget_definition.rb
  lib/datadog_api_client/v1/models/timeseries_widget_definition.rb
  lib/datadog_api_client/v1/models/toplist_widget_definition.rb
  lib/datadog_api_client/v1/models/topology_map_widget_definition.rb
  lib/datadog_api_client/v1/models/tree_map_widget_definition.rb
Due: generate, format-examples

Regenerate client from commit d5671d3 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/v2/product_analytics.feature
Due: generate

Regenerate client from commit be0d282 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/datasets/Create-a-dataset-returns-Bad-Request-response.frozen
  cassettes/features/v2/datasets/Create-a-dataset-returns-Bad-Request-response.yml
  cassettes/features/v2/datasets/Create-a-dataset-returns-Conflict-response.frozen
  cassettes/features/v2/datasets/Create-a-dataset-returns-Conflict-response.yml
  cassettes/features/v2/datasets/Create-a-dataset-returns-OK-response.frozen
  cassettes/features/v2/datasets/Create-a-dataset-returns-OK-response.yml
  cassettes/features/v2/datasets/Delete-a-dataset-returns-Bad-Request-response.frozen
  cassettes/features/v2/datasets/Delete-a-dataset-returns-Bad-Request-response.yml
  cassettes/features/v2/datasets/Delete-a-dataset-returns-No-Content-response.frozen
  cassettes/features/v2/datasets/Delete-a-dataset-returns-No-Content-response.yml
  cassettes/features/v2/datasets/Delete-a-dataset-returns-Not-Found-response.frozen
  cassettes/features/v2/datasets/Delete-a-dataset-returns-Not-Found-response.yml
  cassettes/features/v2/datasets/Edit-a-dataset-returns-Bad-Request-response.frozen
  cassettes/features/v2/datasets/Edit-a-dataset-returns-Bad-Request-response.yml
  cassettes/features/v2/datasets/Edit-a-dataset-returns-OK-response.frozen
  cassettes/features/v2/datasets/Edit-a-dataset-returns-OK-response.yml
  cassettes/features/v2/datasets/Get-a-single-dataset-by-ID-returns-Bad-Request-response.frozen
  cassettes/features/v2/datasets/Get-a-single-dataset-by-ID-returns-Bad-Request-response.yml
  cassettes/features/v2/datasets/Get-a-single-dataset-by-ID-returns-OK-response.frozen
  cassettes/features/v2/datasets/Get-a-single-dataset-by-ID-returns-OK-response.yml
  cassettes/features/v2/datasets/Get-all-datasets-returns-OK-response.frozen
  cassettes/features/v2/datasets/Get-all-datasets-returns-OK-response.yml
  examples/v2/data-access-controls/CreateDataset.rb
  examples/v2/data-access-controls/DeleteDataset.rb
  examples/v2/data-access-controls/GetAllDatasets.rb
  examples/v2/data-access-controls/GetDataset.rb
  examples/v2/data-access-controls/UpdateDataset.rb
  examples/v2/datasets/DeleteDataset.rb
  examples/v2/datasets/GetDataset.rb
  features/v2/data_access_controls.feature
  features/v2/datasets.feature
  features/v2/given.json
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/data_access_controls_api.rb
Due: generate, format-examples

Support pageStart in x-pagination extension
  .generator/src/generator/templates/api.j2
Due: generate

Regenerate client from commit 7ed2812 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_archive_reason.rb
Due: generate

Revert "Fix consistency issues in security monitoring signal triage routes (#…"
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_archive_reason.rb
Due: generate

Revert "Fix consistency issues in security monitoring signal triage routes (#…" (#3165)
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_archive_reason.rb
Due: generate

Regenerate client from commit b484595 of spec repo
  cassettes/features/v2/synthetics/Create-a-Network-Path-test-returns-OK-response.frozen
  cassettes/features/v2/synthetics/Create-a-Network-Path-test-returns-OK-response.yml
  cassettes/features/v2/synthetics/Create-a-test-suite-returns-OK-response.frozen
  cassettes/features/v2/synthetics/Create-a-test-suite-returns-OK-response.yml
Due: none

Regenerate client from commit 646862c of spec repo
  cassettes/features/v2/teams/Remove-a-user-from-a-team-returns-No-Content-response.frozen
  cassettes/features/v2/teams/Remove-a-user-from-a-team-returns-No-Content-response.yml
  cassettes/features/v2/teams/Update-a-team-with-partial-update-returns-OK-response.frozen
  cassettes/features/v2/teams/Update-a-team-with-partial-update-returns-OK-response.yml
  examples/v2/teams/DeleteTeamMembership.rb
  examples/v2/teams/UpdateTeam_780342264.rb
  features/v2/teams.feature
Due: format-examples

Regenerate client from commit 4f75d86 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-sankey-widget-and-network-data-source.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-sankey-widget-and-network-data-source.yml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-sankey-widget-and-product-analytics-data-source.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-sankey-widget-and-product-analytics-data-source.yml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-sankey-widget-and-rum-data-source.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-sankey-widget-and-rum-data-source.yml
  examples/v1/dashboards/CreateDashboard_258152475.rb
  examples/v1/dashboards/CreateDashboard_2932151909.rb
  examples/v1/dashboards/CreateDashboard_373890042.rb
  features/v1/dashboards.feature
  features/v1/dashboards_json_payload/sankey_network_widget.json
  features/v1/dashboards_json_payload/sankey_product_analytics_widget.json
  features/v1/dashboards_json_payload/sankey_rum_widget.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/events_aggregation.rb
  lib/datadog_api_client/v1/models/events_aggregation_value.rb
  lib/datadog_api_client/v1/models/product_analytics_audience_account_subquery.rb
  lib/datadog_api_client/v1/models/product_analytics_audience_filters.rb
  lib/datadog_api_client/v1/models/product_analytics_audience_occurrence_filter.rb
  lib/datadog_api_client/v1/models/product_analytics_audience_segment_subquery.rb
  lib/datadog_api_client/v1/models/product_analytics_audience_user_subquery.rb
  lib/datadog_api_client/v1/models/sankey_join_keys.rb
  lib/datadog_api_client/v1/models/sankey_network_data_source.rb
  lib/datadog_api_client/v1/models/sankey_network_query.rb
  lib/datadog_api_client/v1/models/sankey_network_query_compute.rb
  lib/datadog_api_client/v1/models/sankey_network_query_mode.rb
  lib/datadog_api_client/v1/models/sankey_network_query_sort.rb
  lib/datadog_api_client/v1/models/sankey_network_request.rb
  lib/datadog_api_client/v1/models/sankey_network_request_type.rb
  lib/datadog_api_client/v1/models/sankey_rum_data_source.rb
  lib/datadog_api_client/v1/models/sankey_rum_query.rb
  lib/datadog_api_client/v1/models/sankey_rum_query_mode.rb
  lib/datadog_api_client/v1/models/sankey_rum_request.rb
  lib/datadog_api_client/v1/models/sankey_widget_definition.rb
  lib/datadog_api_client/v1/models/sankey_widget_definition_type.rb
  lib/datadog_api_client/v1/models/sankey_widget_request.rb
Due: generate, format-examples

Regenerate client from commit d401a3c of spec repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-sankey-widget-and-network-data-source.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-sankey-widget-and-network-data-source.yml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-sankey-widget-and-product-analytics-data-source.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-sankey-widget-and-product-analytics-data-source.yml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-sankey-widget-and-rum-data-source.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-sankey-widget-and-rum-data-source.yml
  examples/v1/dashboards/CreateDashboard_258152475.rb
  examples/v1/dashboards/CreateDashboard_2932151909.rb
  examples/v1/dashboards/CreateDashboard_373890042.rb
  features/v1/dashboards.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/events_aggregation.rb
  lib/datadog_api_client/v1/models/events_aggregation_value.rb
  lib/datadog_api_client/v1/models/product_analytics_audience_account_subquery.rb
  lib/datadog_api_client/v1/models/product_analytics_audience_filters.rb
  lib/datadog_api_client/v1/models/product_analytics_audience_occurrence_filter.rb
  lib/datadog_api_client/v1/models/product_analytics_audience_segment_subquery.rb
  lib/datadog_api_client/v1/models/product_analytics_audience_user_subquery.rb
  lib/datadog_api_client/v1/models/sankey_join_keys.rb
  lib/datadog_api_client/v1/models/sankey_network_data_source.rb
  lib/datadog_api_client/v1/models/sankey_network_query.rb
  lib/datadog_api_client/v1/models/sankey_network_query_compute.rb
  lib/datadog_api_client/v1/models/sankey_network_query_mode.rb
  lib/datadog_api_client/v1/models/sankey_network_query_sort.rb
  lib/datadog_api_client/v1/models/sankey_network_request.rb
  lib/datadog_api_client/v1/models/sankey_network_request_type.rb
  lib/datadog_api_client/v1/models/sankey_rum_data_source.rb
  lib/datadog_api_client/v1/models/sankey_rum_query.rb
  lib/datadog_api_client/v1/models/sankey_rum_query_mode.rb
  lib/datadog_api_client/v1/models/sankey_rum_request.rb
  lib/datadog_api_client/v1/models/sankey_widget_definition.rb
  lib/datadog_api_client/v1/models/sankey_widget_definition_type.rb
  lib/datadog_api_client/v1/models/sankey_widget_request.rb
  lib/datadog_api_client/v1/models/widget_definition.rb
  lib/datadog_api_client/v2/api/metrics_api.rb
Due: generate, format-examples

Regenerate client from commit 31f93c6 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-sankey-widget-and-network-data-source.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-sankey-widget-and-network-data-source.yml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-sankey-widget-and-product-analytics-data-source.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-sankey-widget-and-product-analytics-data-source.yml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-sankey-widget-and-rum-data-source.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-sankey-widget-and-rum-data-source.yml
  examples/v1/dashboards/CreateDashboard_258152475.rb
  examples/v1/dashboards/CreateDashboard_2932151909.rb
  examples/v1/dashboards/CreateDashboard_373890042.rb
  features/v1/dashboards.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/events_aggregation.rb
  lib/datadog_api_client/v1/models/events_aggregation_value.rb
  lib/datadog_api_client/v1/models/product_analytics_audience_account_subquery.rb
  lib/datadog_api_client/v1/models/product_analytics_audience_filters.rb
  lib/datadog_api_client/v1/models/product_analytics_audience_occurrence_filter.rb
  lib/datadog_api_client/v1/models/product_analytics_audience_segment_subquery.rb
  lib/datadog_api_client/v1/models/product_analytics_audience_user_subquery.rb
  lib/datadog_api_client/v1/models/sankey_join_keys.rb
  lib/datadog_api_client/v1/models/sankey_network_data_source.rb
  lib/datadog_api_client/v1/models/sankey_network_query.rb
  lib/datadog_api_client/v1/models/sankey_network_query_compute.rb
  lib/datadog_api_client/v1/models/sankey_network_query_mode.rb
  lib/datadog_api_client/v1/models/sankey_network_query_sort.rb
  lib/datadog_api_client/v1/models/sankey_network_request.rb
  lib/datadog_api_client/v1/models/sankey_network_request_type.rb
  lib/datadog_api_client/v1/models/sankey_rum_data_source.rb
  lib/datadog_api_client/v1/models/sankey_rum_query.rb
  lib/datadog_api_client/v1/models/sankey_rum_query_mode.rb
  lib/datadog_api_client/v1/models/sankey_rum_request.rb
  lib/datadog_api_client/v1/models/sankey_widget_definition.rb
  lib/datadog_api_client/v1/models/sankey_widget_definition_type.rb
  lib/datadog_api_client/v1/models/sankey_widget_request.rb
Due: generate, format-examples

Regenerate client from commit 1f34d18 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-apm-metrics-widget.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-apm-metrics-widget.yml
  examples/v1/dashboards/CreateDashboard_2252738813.rb
  features/v1/dashboards.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/formula_and_function_apm_metric_stat_name.rb
  lib/datadog_api_client/v1/models/formula_and_function_apm_metrics_data_source.rb
  lib/datadog_api_client/v1/models/formula_and_function_apm_metrics_query_definition.rb
  lib/datadog_api_client/v1/models/formula_and_function_apm_metrics_span_kind.rb
  lib/datadog_api_client/v1/models/formula_and_function_query_definition.rb
Due: generate, format-examples

Regenerate client from commit b951844 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/wildcard_widget_definition.rb
  lib/datadog_api_client/v1/models/wildcard_widget_definition_type.rb
  lib/datadog_api_client/v1/models/wildcard_widget_request.rb
  lib/datadog_api_client/v1/models/wildcard_widget_specification.rb
  lib/datadog_api_client/v1/models/wildcard_widget_specification_type.rb
Due: generate

Regenerate client from commit ff181ed of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/synthetics/GetSyntheticsFastTestResult.rb
  features/scenarios_model_mapping.rb
  features/v2/synthetics.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/synthetics_api.rb
  lib/datadog_api_client/v2/models/synthetics_fast_test_result.rb
  lib/datadog_api_client/v2/models/synthetics_fast_test_result_attributes.rb
  lib/datadog_api_client/v2/models/synthetics_fast_test_result_data.rb
  lib/datadog_api_client/v2/models/synthetics_fast_test_result_detail.rb
  lib/datadog_api_client/v2/models/synthetics_fast_test_result_device.rb
  lib/datadog_api_client/v2/models/synthetics_fast_test_result_failure.rb
  lib/datadog_api_client/v2/models/synthetics_fast_test_result_location.rb
  lib/datadog_api_client/v2/models/synthetics_fast_test_result_type.rb
  lib/datadog_api_client/v2/models/synthetics_fast_test_sub_type.rb
Due: generate, format-examples

Regenerate client from commit d3fa54d of spec repo
  .generator/schemas/v1/openapi.yaml
  examples/v1/logs-indexes/CreateLogsIndex.rb
  examples/v1/logs-indexes/UpdateLogsIndex.rb
  features/v1/logs_indexes.feature
  lib/datadog_api_client/v1/api/logs_indexes_api.rb
  lib/datadog_api_client/v1/models/logs_exclusion_filter.rb
Due: generate, format-examples

Regenerate client from commit 90ab3ac of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/restriction_policies_api.rb
Due: generate

Regenerate client from commit e0d16ba of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/widgets/CreateWidget.rb
  examples/v2/widgets/DeleteWidget.rb
  examples/v2/widgets/GetWidget.rb
  examples/v2/widgets/SearchWidgets.rb
  examples/v2/widgets/UpdateWidget.rb
  features/scenarios_model_mapping.rb
  features/v2/undo.json
  features/v2/widgets.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/widgets_api.rb
  lib/datadog_api_client/v2/models/create_or_update_widget_request.rb
  lib/datadog_api_client/v2/models/create_or_update_widget_request_attributes.rb
  lib/datadog_api_client/v2/models/create_or_update_widget_request_data.rb
  lib/datadog_api_client/v2/models/widget_attributes.rb
  lib/datadog_api_client/v2/models/widget_data.rb
  lib/datadog_api_client/v2/models/widget_definition.rb
  lib/datadog_api_client/v2/models/widget_experience_type.rb
  lib/datadog_api_client/v2/models/widget_included_user.rb
  lib/datadog_api_client/v2/models/widget_included_user_attributes.rb
  lib/datadog_api_client/v2/models/widget_list_response.rb
  lib/datadog_api_client/v2/models/widget_relationship_data.rb
  lib/datadog_api_client/v2/models/widget_relationship_item.rb
  lib/datadog_api_client/v2/models/widget_relationships.rb
  lib/datadog_api_client/v2/models/widget_response.rb
  lib/datadog_api_client/v2/models/widget_search_meta.rb
  lib/datadog_api_client/v2/models/widget_type.rb
Due: generate, format-examples

Regenerate client from commit 98a17f1 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/logs_api.rb
Due: generate

Regenerate client from commit 325795c of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/servicenow-integration/CreateServiceNowTemplate.rb
  examples/v2/servicenow-integration/DeleteServiceNowTemplate.rb
  examples/v2/servicenow-integration/GetServiceNowTemplate.rb
  examples/v2/servicenow-integration/ListServiceNowAssignmentGroups.rb
  examples/v2/servicenow-integration/ListServiceNowBusinessServices.rb
  examples/v2/servicenow-integration/ListServiceNowInstances.rb
  examples/v2/servicenow-integration/ListServiceNowTemplates.rb
  examples/v2/servicenow-integration/ListServiceNowUsers.rb
  examples/v2/servicenow-integration/UpdateServiceNowTemplate.rb
  features/v2/servicenow_integration.feature
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/service_now_integration_api.rb
Due: generate, format-examples

Regenerate client from commit 6508d79 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/security_monitoring_standard_data_source.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_query.rb
  lib/datadog_api_client/v2/models/threat_hunting_job_query.rb
Due: generate

Regenerate client from commit fc1d0ed of spec repo
  .generator/schemas/v2/openapi.yaml
  features/v2/product_analytics.feature
Due: generate

Regenerate client from commit 176b391 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/free_text_widget_definition.rb
  lib/datadog_api_client/v1/models/group_widget_definition.rb
  lib/datadog_api_client/v1/models/i_frame_widget_definition.rb
  lib/datadog_api_client/v1/models/image_widget_definition.rb
  lib/datadog_api_client/v1/models/log_stream_widget_definition.rb
  lib/datadog_api_client/v1/models/monitor_summary_widget_definition.rb
  lib/datadog_api_client/v1/models/notebook_log_stream_cell_attributes.rb
  lib/datadog_api_client/v1/models/service_summary_widget_definition.rb
  lib/datadog_api_client/v1/models/slo_widget_definition.rb
  lib/datadog_api_client/v1/models/table_widget_definition.rb
Due: generate

Regenerate client from commit 3642525 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/widgets/CreateWidget.rb
  examples/v2/widgets/DeleteWidget.rb
  examples/v2/widgets/GetWidget.rb
  examples/v2/widgets/SearchWidgets.rb
  examples/v2/widgets/UpdateWidget.rb
  features/scenarios_model_mapping.rb
  features/v2/undo.json
  features/v2/widgets.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/widgets_api.rb
  lib/datadog_api_client/v2/models/create_or_update_widget_request.rb
  lib/datadog_api_client/v2/models/create_or_update_widget_request_attributes.rb
  lib/datadog_api_client/v2/models/create_or_update_widget_request_data.rb
  lib/datadog_api_client/v2/models/widget_attributes.rb
  lib/datadog_api_client/v2/models/widget_data.rb
  lib/datadog_api_client/v2/models/widget_definition.rb
  lib/datadog_api_client/v2/models/widget_experience_type.rb
  lib/datadog_api_client/v2/models/widget_included_user.rb
  lib/datadog_api_client/v2/models/widget_included_user_attributes.rb
  lib/datadog_api_client/v2/models/widget_list_response.rb
  lib/datadog_api_client/v2/models/widget_relationship_data.rb
  lib/datadog_api_client/v2/models/widget_relationship_item.rb
  lib/datadog_api_client/v2/models/widget_relationships.rb
  lib/datadog_api_client/v2/models/widget_response.rb
  lib/datadog_api_client/v2/models/widget_search_meta.rb
  lib/datadog_api_client/v2/models/widget_type.rb
Due: generate, format-examples

Regenerate client from commit 73f60e7 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
Due: generate
