Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features, licensed

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generated
    name: Do not commit generated files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^lib/datadog_api_client/v[1-9].*'
    verbose: true
  - id: generated-features
    name: Do not commit generated feature files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^features/v[1-9][0-9]*/.*.feature$'
    verbose: true
  - id: licensed
    name: Licensed
    language: ruby
    language_version: system
    additional_dependencies:
      - licensed
    entry: .licenses/check.sh
    pass_filenames: false
    files: "^(.*.gemspec|Gemfile|.licensed.yml)$"
    verbose: true

Add rufo gem
  Gemfile
Due: licensed

Revert rubocop config change
  .rubocop.yml
Due: none

Sorted?
  Gemfile
Due: licensed

Regenerate client from commit 4ce4b9f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/MonitorSearchResult.md
  lib/datadog_api_client/v1/models/monitor_search_result.rb
Due: generated

Regenerate client from commit acfdbc7 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/SyntheticsBrowserVariable.md
  lib/datadog_api_client/v1/models/synthetics_browser_variable.rb
Due: generated

Regenerate client from commit c0e7143 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/downtimes/Schedule-a-monitor-downtime-returns-OK-response.yml
  cassettes/features/v1/monitors/Check-if-a-monitor-can-be-deleted-returns-OK-response.yml
  cassettes/features/v1/monitors/Delete-a-monitor-returns-OK-response.yml
  cassettes/features/v1/monitors/Edit-a-monitor-returns-OK-response.yml
  cassettes/features/v1/monitors/Get-a-monitor-s-details-returns-OK-response.yml
  cassettes/features/v1/monitors/Validate-a-monitor-returns-OK-response.yml
  docs/v1/MonitorOptions.md
  examples/v1/monitors/ValidateMonitor.rb
  features/v1/given.json
  features/v1/monitor_payload.json
  lib/datadog_api_client/v1/models/monitor_options.rb
Due: generated

Regenerate client from commit 765200a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/UsageFargateHour.md
  docs/v1/UsageSDSHour.md
  lib/datadog_api_client/v1/models/usage_fargate_hour.rb
  lib/datadog_api_client/v1/models/usage_sds_hour.rb
Due: generated

Regenerate client from commit 71029a4 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/service_level_objectives/Get-Corrections-For-an-SLO-returns-OK-response.yml
  docs/v1/README.md
  docs/v1/SLOCorrectionResponseAttributes.md
  docs/v1/SLOCorrectionResponseAttributesModifier.md
  docs/v1/ServiceLevelObjectivesAPI.md
  examples/v1/service-level-objectives/GetSLOCorrections.rb
  features/v1/service_level_objectives.feature
  features/v1/undo.json
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/api/service_level_objectives_api.rb
  lib/datadog_api_client/v1/configuration.rb
  lib/datadog_api_client/v1/models/slo_correction_response_attributes_modifier.rb
  spec/v1/models/slo_correction_response_attributes_modifier_spec.rb
Due: generated, generated-features

Regenerate client from commit 71ca1d3 of spec repo
  .apigentools-info
  docs/v1/SLOCorrectionResponseAttributesModifier.md
Due: none

Regenerate client from commit fdabc88 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/synthetics/Create-a-browser-test-returns-OK-Returns-the-created-test-details-response.yml
  docs/v1/SLOCorrectionResponseAttributesModifier.md
  examples/v1/synthetics/CreateSyntheticsBrowserTest.rb
  features/v1/synthetics.feature
  features/v1/synthetics_browser_test_payload.json
  features/v1/undo.json
Due: generated-features

Regenerate client from commit 388700d of spec repo
  .apigentools-info
  examples/v2/roles/AddPermissionToRole.rb
  examples/v2/roles/AddUserToRole.rb
  examples/v2/roles/RemovePermissionFromRole.rb
  examples/v2/roles/RemoveUserFromRole.rb
Due: none

Store error in BDD tests
  features/step_definitions/request.rb
Due: none

Regenerate client from commit 60c6582 of spec repo
  .apigentools-info
  cassettes/features/v1/events/Post-an-event-in-the-past-returns-Bad-Request-response.yml
  features/v1/events.feature
Due: generated-features

Regenerate client from commit 08c86e2 of spec repo
  .apigentools-info
  cassettes/features/v1/dashboards/Create-a-new-dashboard-returns-OK-response.yml
  cassettes/features/v2/logs/Get-a-list-of-logs-returns-OK-response.yml
  cassettes/features/v2/metrics/Create-a-tag-configuration-returns-Created-response.yml
  cassettes/features/v2/metrics/Delete-a-tag-configuration-returns-No-Content-response.yml
  cassettes/features/v2/metrics/List-distinct-metric-volumes-by-metric-name-returns-Success-response.yml
  cassettes/features/v2/metrics/List-tag-configuration-by-name-returns-Success-response.yml
  cassettes/features/v2/metrics/List-tag-configurations-returns-Success-response.yml
  cassettes/features/v2/metrics/List-tags-by-metric-name-returns-Success-response.yml
  cassettes/features/v2/metrics/Update-a-tag-configuration-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Delete-a-non-existing-rule-returns-Not-Found-response.yml
  examples/v1/dashboards/CreateDashboard.rb
  features/v1/dashboards.feature
Due: generated-features

Regenerate client from commit d51b660 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/UsageAttributionValues.md
  features/v1/events.feature
  lib/datadog_api_client/v1/models/usage_attribution_supported_metrics.rb
  lib/datadog_api_client/v1/models/usage_attribution_values.rb
Due: generated, generated-features

Regenerate client from commit a7401b6 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/synthetics/Trigger-Synthetics-tests-returns-OK-response.yml
  cassettes/features/v1/synthetics/Trigger-some-Synthetics-tests-returns-OK-response.yml
  docs/v1/README.md
  docs/v1/SyntheticsAPI.md
  examples/v1/synthetics/TriggerTests.rb
  features/v1/synthetics.feature
  lib/datadog_api_client/v1/api/synthetics_api.rb
Due: generated, generated-features

Regenerate client from commit 350df8d of spec repo
  .apigentools-info
  examples/v1/dashboard-lists/ListDashboardLists.rb
  features/v1/synthetics.feature
Due: generated-features

Regenerate client from commit 0f45cf0 of spec repo
  .apigentools-info
  examples/v1/dashboard-lists/ListDashboardLists.rb
Due: none

Regenerate client from commit cb5be49 of spec repo
  .apigentools-info
  examples/v1/dashboard-lists/ListDashboardLists.rb
Due: none

Regenerate client from commit d837514 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  features/v1/usage_metering.feature
Due: generated-features

Regenerate client from commit c8a8203 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/User.md
  examples/v1/downtimes/CancelDowntimesByScope.rb
  examples/v1/metrics/QueryMetrics.rb
  features/v1/users.feature
  lib/datadog_api_client/v1/models/user.rb
Due: generated, generated-features

Regenerate client from commit 6b03d5b of spec repo
  .apigentools-info
  examples/v1/downtimes/CancelDowntimesByScope.rb
  examples/v1/metrics/QueryMetrics.rb
Due: none

report test.codeowners
  features/support/hooks.rb
Due: none

send as list
  features/support/hooks.rb
Due: none

Regenerate client from commit 1c2091d of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/User.md
  examples/v2/roles/UpdateRole.rb
  features/v1/users.feature
  lib/datadog_api_client/v1/models/user.rb
Due: generated, generated-features

Regenerate client from commit df5b6af of spec repo
  .apigentools-info
  examples/v2/roles/UpdateRole.rb
Due: none

Regenerate client from commit ca97678 of spec repo
  .apigentools-info
  examples/v2/roles/UpdateRole.rb
Due: none

Regenerate client from commit ce60979 of spec repo
  .apigentools-info
  examples/v2/roles/UpdateRole.rb
Due: none

send all
  features/support/hooks.rb
Due: none

Regenerate client from commit df97aef of spec repo
  .apigentools-info
  examples/v2/logs/ListLogs.rb
  features/v2/logs.feature
Due: generated-features

Bump datadog_api_client to 1.5.0
  lib/datadog_api_client/version.rb
Due: none

Update changelog
  CHANGELOG.md
Due: none

Prepare for v1.5.0 release (#630)
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: none

Bump datadog_api_client to 1.5.1.dev.1
  lib/datadog_api_client/version.rb
Due: none

Bump datadog_api_client to 1.5.1.dev.1 (#631)
  lib/datadog_api_client/version.rb
Due: none

Regenerate client from commit 9bcd121 of spec repo
  .apigentools-info
  cassettes/features/v1/monitors/Create-a-monitor-returns-OK-response.yml
Due: none
