Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

Regenerate client from commit a26b725 of spec repo
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/SearchTests_195957771.rb
  features/scenarios_model_mapping.rb
  features/v1/synthetics.feature
  lib/datadog_api_client/v1/api/synthetics_api.rb
Due: generate, format-examples

Regenerate client from commit 0979df0 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/test-optimization/SearchFlakyTests.rb
  examples/v2/test-optimization/SearchFlakyTests_1224086727.rb
  examples/v2/test-optimization/SearchFlakyTests_2665223746.rb
  features/scenarios_model_mapping.rb
  features/v2/test_optimization.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/test_optimization_api.rb
  lib/datadog_api_client/v2/models/flaky_test.rb
  lib/datadog_api_client/v2/models/flaky_test_attributes.rb
  lib/datadog_api_client/v2/models/flaky_test_attributes_flaky_state.rb
  lib/datadog_api_client/v2/models/flaky_test_pipeline_stats.rb
  lib/datadog_api_client/v2/models/flaky_test_run_metadata.rb
  lib/datadog_api_client/v2/models/flaky_test_stats.rb
  lib/datadog_api_client/v2/models/flaky_test_type.rb
  lib/datadog_api_client/v2/models/flaky_tests_pagination.rb
  lib/datadog_api_client/v2/models/flaky_tests_search_filter.rb
  lib/datadog_api_client/v2/models/flaky_tests_search_page_options.rb
  lib/datadog_api_client/v2/models/flaky_tests_search_request.rb
  lib/datadog_api_client/v2/models/flaky_tests_search_request_attributes.rb
  lib/datadog_api_client/v2/models/flaky_tests_search_request_data.rb
  lib/datadog_api_client/v2/models/flaky_tests_search_request_data_type.rb
  lib/datadog_api_client/v2/models/flaky_tests_search_response.rb
  lib/datadog_api_client/v2/models/flaky_tests_search_response_meta.rb
  lib/datadog_api_client/v2/models/flaky_tests_search_sort.rb
Due: generate, format-examples

Regenerate client from commit e391792 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/change_widget_request.rb
Due: generate

Regenerate client from commit a1dbb34 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/aws_logs_services_response_data.rb
  lib/datadog_api_client/v2/models/aws_logs_services_response_data_type.rb
Due: generate

Regenerate client from commit 45ffc19 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-timeseries-widget-with-product-analytics-data-source.frozen
  cassettes/features/v1/dashboards/Create-a-new-timeseries-widget-with-product-analytics-data-source.yml
  examples/v1/dashboards/CreateDashboard_607525069.rb
  features/v1/dashboards.feature
  lib/datadog_api_client/v1/models/formula_and_function_events_data_source.rb
Due: generate, format-examples

Regenerate client from commit e4360c2 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Create-a-detection-rule-with-detection-method-sequence-detection-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Create-a-detection-rule-with-detection-method-sequence-detection-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Validate-a-detection-rule-with-detection-method-sequence-detection-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Validate-a-detection-rule-with-detection-method-sequence-detection-returns-OK-response.yml
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_2899714190.rb
  examples/v2/security-monitoring/ValidateSecurityMonitoringRule_4152369508.rb
  features/v2/security_monitoring.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/historical_job_options.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_detection_method.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_options.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_sequence_detection_options.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_sequence_detection_step.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_sequence_detection_step_transition.rb
Due: generate, format-examples

Regenerate client from commit 99ab7f9 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/v2/dora_metrics.feature
Due: generate

Regenerate client from commit 28ff030 of spec repo
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit db567d8 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/datastore_trigger.rb
  lib/datadog_api_client/v2/models/datastore_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/trigger.rb
Due: generate

Regenerate client from commit de2ee17 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/cloud_cost_management_api.rb
Due: generate

Regenerate client from commit 82a4333 of spec repo
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 0ae1a0e of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/azure_account.rb
Due: generate

Regenerate client from commit 823b622 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_destination_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_google_pub_sub_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_google_pub_sub_destination_encoding.rb
  lib/datadog_api_client/v2/models/observability_pipeline_google_pub_sub_destination_type.rb
Due: generate

Regenerate client from commit b6977c5 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/aws_integration/Get-AWS-integration-standard-IAM-permissions-returns-AWS-IAM-Permissions-object-response.frozen
  cassettes/features/v2/aws_integration/Get-AWS-integration-standard-IAM-permissions-returns-AWS-IAM-Permissions-object-response.yml
  cassettes/features/v2/aws_integration/Get-resource-collection-IAM-permissions-returns-AWS-IAM-Permissions-object-response.frozen
  cassettes/features/v2/aws_integration/Get-resource-collection-IAM-permissions-returns-AWS-IAM-Permissions-object-response.yml
  examples/v2/aws-integration/GetAWSIntegrationIAMPermissionsResourceCollection.rb
  examples/v2/aws-integration/GetAWSIntegrationIAMPermissionsResourceCollection_1008672547.rb
  examples/v2/aws-integration/GetAWSIntegrationIAMPermissionsStandard.rb
  examples/v2/aws-integration/GetAWSIntegrationIAMPermissionsStandard_3136299151.rb
  features/v2/aws_integration.feature
  features/v2/undo.json
  lib/datadog_api_client/v2/api/aws_integration_api.rb
Due: generate, format-examples

fix the reusable precommit so it runs on the correct commit sha
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-integration-test.yml
  .github/workflows/reusable-pre-commit.yml
Due: none

fix the reusable precommit (#2687)
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-integration-test.yml
  .github/workflows/reusable-pre-commit.yml
Due: none

Regenerate client from commit b7e28af of spec repo
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit bb9a938 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/cloud_cost_management_api.rb
Due: generate

Regenerate client from commit 4a62c07 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/agentless-scanning/CreateAzureScanOptions.rb
  examples/v2/agentless-scanning/DeleteAzureScanOptions.rb
  examples/v2/agentless-scanning/ListAzureScanOptions.rb
  examples/v2/agentless-scanning/UpdateAzureScanOptions.rb
  features/scenarios_model_mapping.rb
  features/v2/agentless_scanning.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/agentless_scanning_api.rb
  lib/datadog_api_client/v2/models/azure_scan_options.rb
  lib/datadog_api_client/v2/models/azure_scan_options_array.rb
  lib/datadog_api_client/v2/models/azure_scan_options_data.rb
  lib/datadog_api_client/v2/models/azure_scan_options_data_attributes.rb
  lib/datadog_api_client/v2/models/azure_scan_options_data_type.rb
  lib/datadog_api_client/v2/models/azure_scan_options_input_update.rb
  lib/datadog_api_client/v2/models/azure_scan_options_input_update_data.rb
  lib/datadog_api_client/v2/models/azure_scan_options_input_update_data_attributes.rb
  lib/datadog_api_client/v2/models/azure_scan_options_input_update_data_type.rb
Due: generate, format-examples

Regenerate client from commit 02072f6 of spec repo
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/SearchTests_195957771.rb
  features/scenarios_model_mapping.rb
  features/v1/synthetics.feature
  lib/datadog_api_client/v1/api/synthetics_api.rb
Due: generate, format-examples

fix the concurrency group of the integration workflow
  .github/workflows/reusable-integration-test.yml
Due: none

fix: remove duplicate conditional logic from reusable workflows
  .github/workflows/reusable-examples.yml
  .github/workflows/reusable-pre-commit.yml
  .github/workflows/reusable-ruby-test.yml
Due: none

fix the concurrency group of the integration workflow (#2691)
  .github/workflows/reusable-examples.yml
  .github/workflows/reusable-integration-test.yml
  .github/workflows/reusable-pre-commit.yml
  .github/workflows/reusable-ruby-test.yml
Due: none

Regenerate client from commit 609f776 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/aws_logs_services_response_data.rb
  lib/datadog_api_client/v2/models/aws_logs_services_response_data_type.rb
Due: generate

Regenerate client from commit eda7212 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/rum_application_attributes.rb
Due: generate

Regenerate client from commit 88fa4c2 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/monitors/Create-a-monitor-notification-rule-with-conditional-recipients-returns-OK-response.frozen
  cassettes/features/v2/monitors/Create-a-monitor-notification-rule-with-conditional-recipients-returns-OK-response.yml
  cassettes/features/v2/monitors/Update-a-monitor-notification-rule-with-conditional-recipients-returns-OK-response.frozen
  cassettes/features/v2/monitors/Update-a-monitor-notification-rule-with-conditional-recipients-returns-OK-response.yml
  examples/v2/monitors/CreateMonitorNotificationRule_1181818787.rb
  examples/v2/monitors/UpdateMonitorNotificationRule_1400905713.rb
  features/v2/monitors.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/monitor_notification_rule_attributes.rb
  lib/datadog_api_client/v2/models/monitor_notification_rule_condition.rb
  lib/datadog_api_client/v2/models/monitor_notification_rule_conditional_recipients.rb
Due: generate, format-examples

Regenerate client from commit 090d92d of spec repo
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
Due: generate

Remove Docs Team as CODEOWNERS (#2648)
  .github/CODEOWNERS
Due: none

Regenerate client from commit 2bf1795 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/static-analysis/PostSCAResolveVulnerableSymbols.rb
  examples/v2/static-analysis/PostSCAResult.rb
  features/scenarios_model_mapping.rb
  features/v2/static_analysis.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/static_analysis_api.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_request.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_request_data.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_request_data_attributes.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_request_data_type.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_response.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_response_data.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_response_data_attributes.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_response_data_attributes_results_items.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_response_data_attributes_results_items_vulnerable_symbols_items.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_response_data_attributes_results_items_vulnerable_symbols_items_symbols_items.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_response_data_type.rb
  lib/datadog_api_client/v2/models/sca_request.rb
  lib/datadog_api_client/v2/models/sca_request_data.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_commit.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_dependencies_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_dependencies_items_locations_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_dependencies_items_locations_items_file_position.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_dependencies_items_locations_items_position.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_dependencies_items_reachable_symbol_properties_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_files_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_relations_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_repository.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_vulnerabilities_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_vulnerabilities_items_affects_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_type.rb
Due: generate, format-examples

Regenerate client from commit 2c49d12 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/monitors/Create-a-monitor-notification-rule-with-conditional-recipients-returns-OK-response.frozen
  cassettes/features/v2/monitors/Create-a-monitor-notification-rule-with-conditional-recipients-returns-OK-response.yml
  cassettes/features/v2/monitors/Update-a-monitor-notification-rule-with-conditional-recipients-returns-OK-response.frozen
  cassettes/features/v2/monitors/Update-a-monitor-notification-rule-with-conditional-recipients-returns-OK-response.yml
  examples/v2/monitors/CreateMonitorNotificationRule_1181818787.rb
  examples/v2/monitors/UpdateMonitorNotificationRule_1400905713.rb
  features/v2/monitors.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/monitor_notification_rule_attributes.rb
  lib/datadog_api_client/v2/models/monitor_notification_rule_condition.rb
  lib/datadog_api_client/v2/models/monitor_notification_rule_conditional_recipients.rb
Due: generate, format-examples

Regenerate client from commit 23d7f8c of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/test-optimization/SearchFlakyTests.rb
  examples/v2/test-optimization/SearchFlakyTests_1224086727.rb
  examples/v2/test-optimization/SearchFlakyTests_2665223746.rb
  features/scenarios_model_mapping.rb
  features/v2/test_optimization.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/test_optimization_api.rb
  lib/datadog_api_client/v2/models/flaky_test.rb
  lib/datadog_api_client/v2/models/flaky_test_attributes.rb
  lib/datadog_api_client/v2/models/flaky_test_attributes_flaky_state.rb
  lib/datadog_api_client/v2/models/flaky_test_pipeline_stats.rb
  lib/datadog_api_client/v2/models/flaky_test_run_metadata.rb
  lib/datadog_api_client/v2/models/flaky_test_stats.rb
  lib/datadog_api_client/v2/models/flaky_test_type.rb
  lib/datadog_api_client/v2/models/flaky_tests_pagination.rb
  lib/datadog_api_client/v2/models/flaky_tests_search_filter.rb
  lib/datadog_api_client/v2/models/flaky_tests_search_page_options.rb
  lib/datadog_api_client/v2/models/flaky_tests_search_request.rb
  lib/datadog_api_client/v2/models/flaky_tests_search_request_attributes.rb
  lib/datadog_api_client/v2/models/flaky_tests_search_request_data.rb
  lib/datadog_api_client/v2/models/flaky_tests_search_request_data_type.rb
  lib/datadog_api_client/v2/models/flaky_tests_search_response.rb
  lib/datadog_api_client/v2/models/flaky_tests_search_response_meta.rb
  lib/datadog_api_client/v2/models/flaky_tests_search_sort.rb
Due: generate, format-examples

Bump versions and add changelog entries.
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit ba47c96 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/agentless_scanning/Create-azure-scan-options-returns-Created-response.frozen
  cassettes/features/v2/agentless_scanning/Create-azure-scan-options-returns-Created-response.yml
  cassettes/features/v2/agentless_scanning/List-azure-scan-options-returns-OK-response.frozen
  cassettes/features/v2/agentless_scanning/List-azure-scan-options-returns-OK-response.yml
  examples/v2/agentless-scanning/CreateAzureScanOptions.rb
  examples/v2/agentless-scanning/DeleteAzureScanOptions.rb
  examples/v2/agentless-scanning/ListAzureScanOptions.rb
  examples/v2/agentless-scanning/UpdateAzureScanOptions.rb
  features/scenarios_model_mapping.rb
  features/v2/agentless_scanning.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/agentless_scanning_api.rb
  lib/datadog_api_client/v2/models/azure_scan_options.rb
  lib/datadog_api_client/v2/models/azure_scan_options_array.rb
  lib/datadog_api_client/v2/models/azure_scan_options_data.rb
  lib/datadog_api_client/v2/models/azure_scan_options_data_attributes.rb
  lib/datadog_api_client/v2/models/azure_scan_options_data_type.rb
  lib/datadog_api_client/v2/models/azure_scan_options_input_update.rb
  lib/datadog_api_client/v2/models/azure_scan_options_input_update_data.rb
  lib/datadog_api_client/v2/models/azure_scan_options_input_update_data_attributes.rb
  lib/datadog_api_client/v2/models/azure_scan_options_input_update_data_type.rb
Due: generate, format-examples
