Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Bump versions and add changelog entries.
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate

Revert "Bump versions and add changelog entries. (#2436)"
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate

fix version matching
  .github/workflows/publish.yml
Due: none

Revert release and fix regex (#2439)
  .github/workflows/publish.yml
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate

Revert "Bump versions and add changelog entries. (#2440)"
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate

downgrade version
  .github/workflows/publish.yml
  Gemfile
Due: none

bump cucumber
  .github/workflows/publish.yml
  Gemfile
Due: none

Revert release and bump cucumber (#2441)
  CHANGELOG.md
  Gemfile
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit 26831bc8 of spec repo
  .apigentools-info
  cassettes/features/v2/microsoft_teams_integration/Create-workflow-webhook-handle-returns-CREATED-response.frozen
  cassettes/features/v2/microsoft_teams_integration/Create-workflow-webhook-handle-returns-CREATED-response.yml
  cassettes/features/v2/microsoft_teams_integration/Delete-workflow-webhook-handle-returns-OK-response.frozen
  cassettes/features/v2/microsoft_teams_integration/Delete-workflow-webhook-handle-returns-OK-response.yml
  cassettes/features/v2/microsoft_teams_integration/Get-all-workflow-webhook-handles-returns-OK-response.frozen
  cassettes/features/v2/microsoft_teams_integration/Get-all-workflow-webhook-handles-returns-OK-response.yml
  cassettes/features/v2/microsoft_teams_integration/Get-workflow-webhook-handle-information-returns-OK-response.frozen
  cassettes/features/v2/microsoft_teams_integration/Get-workflow-webhook-handle-information-returns-OK-response.yml
  cassettes/features/v2/microsoft_teams_integration/Update-workflow-webhook-handle-returns-OK-response.frozen
  cassettes/features/v2/microsoft_teams_integration/Update-workflow-webhook-handle-returns-OK-response.yml
  examples/v2/microsoft-teams-integration/CreateWorkflowsWebhookHandle_1716851881.rb
  features/v2/microsoft_teams_integration.feature
Due: format-examples

fix pre-release
  .github/workflows/release.yml
Due: none

fix pre-release (#2444)
  .github/workflows/release.yml
Due: none

Fix bigdecimal to 3.1.9.
  Gemfile
Due: none

Regenerate client from commit 16f1a737 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/monitors/Create-a-RUM-formula-and-functions-monitor-returns-OK-response.frozen
  cassettes/features/v1/monitors/Create-a-RUM-formula-and-functions-monitor-returns-OK-response.yml
  cassettes/features/v1/monitors/Create-a-metric-monitor-with-a-custom-schedule-returns-OK-response.frozen
  cassettes/features/v1/monitors/Create-a-metric-monitor-with-a-custom-schedule-returns-OK-response.yml
  cassettes/features/v1/monitors/Create-an-Error-Tracking-monitor-returns-OK-response.frozen
  cassettes/features/v1/monitors/Create-an-Error-Tracking-monitor-returns-OK-response.yml
  examples/v1/monitors/CreateMonitor_1539578087.rb
  examples/v1/monitors/CreateMonitor_440013737.rb
  features/v1/monitor_error_tracking_alert_payload.json
  features/v1/monitors.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/monitor.rb
  lib/datadog_api_client/v1/models/monitor_draft_status.rb
  lib/datadog_api_client/v1/models/monitor_update_request.rb
Due: generate, format-examples

Regenerate client from commit e292c4d4 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/synthetics/Create-a-FIDO-global-variable-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Create-a-FIDO-global-variable-returns-OK-response.yml
  cassettes/features/v1/synthetics/Create-a-TOTP-global-variable-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Create-a-TOTP-global-variable-returns-OK-response.yml
  cassettes/features/v1/synthetics/Create-a-global-variable-from-test-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Create-a-global-variable-from-test-returns-OK-response.yml
  cassettes/features/v1/synthetics/Create-an-API-test-with-multi-subtype-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-test-with-multi-subtype-returns-OK-Returns-the-created-test-details-response.yml
  examples/v1/synthetics/CreateSyntheticsAPITest_1279271422.rb
  features/v1/given.json
  features/v1/synthetics.feature
  features/v1/synthetics_api_test_multi_step_payload.json
  lib/datadog_api_client/v1/models/synthetics_api_test_step_subtype.rb
Due: generate, format-examples

Regenerate client from commit 680f743e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/dora_metrics/Send-a-failure-event-for-DORA-Metrics-returns-OK-response.frozen
  cassettes/features/v2/dora_metrics/Send-a-failure-event-for-DORA-Metrics-returns-OK-response.yml
  examples/v2/dora-metrics/CreateDORADeployment.rb
  examples/v2/dora-metrics/CreateDORAFailure.rb
  examples/v2/dora-metrics/CreateDORAIncident_1768887482.rb
  features/scenarios_model_mapping.rb
  features/v2/dora_metrics.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/dora_metrics_api.rb
  lib/datadog_api_client/v2/models/dora_failure_request.rb
  lib/datadog_api_client/v2/models/dora_failure_request_attributes.rb
  lib/datadog_api_client/v2/models/dora_failure_request_data.rb
  lib/datadog_api_client/v2/models/dora_failure_response.rb
  lib/datadog_api_client/v2/models/dora_failure_response_data.rb
  lib/datadog_api_client/v2/models/dora_failure_type.rb
Due: generate, format-examples

Regenerate client from commit e4b2672f of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/software-catalog/DeleteCatalogKind.rb
  examples/v2/software-catalog/ListCatalogKind.rb
  examples/v2/software-catalog/ListCatalogKind_3806205775.rb
  examples/v2/software-catalog/UpsertCatalogKind.rb
  features/scenarios_model_mapping.rb
  features/v2/given.json
  features/v2/software_catalog.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/software_catalog_api.rb
  lib/datadog_api_client/v2/models/kind_attributes.rb
  lib/datadog_api_client/v2/models/kind_data.rb
  lib/datadog_api_client/v2/models/kind_metadata.rb
  lib/datadog_api_client/v2/models/kind_obj.rb
  lib/datadog_api_client/v2/models/kind_response_meta.rb
  lib/datadog_api_client/v2/models/list_kind_catalog_response.rb
  lib/datadog_api_client/v2/models/upsert_catalog_kind_request.rb
  lib/datadog_api_client/v2/models/upsert_catalog_kind_response.rb
Due: generate, format-examples

Fix bigdecimal to 3.1.9. (#2446)
  Gemfile
Due: none

Regenerate client from commit 89ae1ea6 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-Bad-Request-response.yml
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Group-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Group-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Rule-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Rule-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/List-Scanning-Groups-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/List-Scanning-Groups-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Reorder-Groups-returns-Bad-Request-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Reorder-Groups-returns-Bad-Request-response.yml
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Group-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Group-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-Bad-Request-response.yml
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-OK-response.yml
  features/v2/given.json
  features/v2/sensitive_data_scanner.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/sensitive_data_scanner_samplings.rb
Due: generate

Regenerate client from commit d816a556 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/geomap_widget_definition_view.rb
Due: generate

Regenerate client from commit 32239f82 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 7df1d7df of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit fa84ff05 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-Bad-Request-response.yml
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Group-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Group-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Rule-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Rule-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/List-Scanning-Groups-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/List-Scanning-Groups-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Reorder-Groups-returns-Bad-Request-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Reorder-Groups-returns-Bad-Request-response.yml
  cassettes/features/v2/sensitive_data_scanner/Reorder-Groups-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Reorder-Groups-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Group-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Group-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-Bad-Request-response.yml
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-OK-response.yml
  features/v2/given.json
  features/v2/sensitive_data_scanner.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/sensitive_data_scanner_meta.rb
  lib/datadog_api_client/v2/models/sensitive_data_scanner_rule_attributes.rb
  lib/datadog_api_client/v2/models/sensitive_data_scanner_samplings.rb
Due: generate

Regenerate client from commit 6ad97d24 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-cost-management/CreateCostGCPUsageCostConfig.rb
  examples/v2/cloud-cost-management/DeleteCostGCPUsageCostConfig.rb
  examples/v2/cloud-cost-management/ListCostGCPUsageCostConfigs.rb
  examples/v2/cloud-cost-management/UpdateCostGCPUsageCostConfig.rb
  features/scenarios_model_mapping.rb
  features/v2/cloud_cost_management.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/cloud_cost_management_api.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_attributes.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_patch_data.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_patch_request.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_patch_request_attributes.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_patch_request_type.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_post_data.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_post_request.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_post_request_attributes.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_post_request_type.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_response.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_type.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_configs_response.rb
Due: generate, format-examples

Regenerate client from commit 5a431b84 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/v2/dora_metrics.feature
  lib/datadog_api_client/v2/models/dora_deployment_request_attributes.rb
  lib/datadog_api_client/v2/models/dora_incident_request_attributes.rb
Due: generate

Regenerate client from commit 5906d277 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/restriction_policies_api.rb
Due: generate

Regenerate client from commit 91411f12 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit 306c1665 of spec repo
  .apigentools-info
  cassettes/features/v2/microsoft_teams_integration/Create-workflow-webhook-handle-returns-CREATED-response.frozen
  cassettes/features/v2/microsoft_teams_integration/Create-workflow-webhook-handle-returns-CREATED-response.yml
  cassettes/features/v2/microsoft_teams_integration/Delete-workflow-webhook-handle-returns-OK-response.frozen
  cassettes/features/v2/microsoft_teams_integration/Delete-workflow-webhook-handle-returns-OK-response.yml
  cassettes/features/v2/microsoft_teams_integration/Get-all-workflow-webhook-handles-returns-OK-response.frozen
  cassettes/features/v2/microsoft_teams_integration/Get-all-workflow-webhook-handles-returns-OK-response.yml
  cassettes/features/v2/microsoft_teams_integration/Get-workflow-webhook-handle-information-returns-OK-response.frozen
  cassettes/features/v2/microsoft_teams_integration/Get-workflow-webhook-handle-information-returns-OK-response.yml
  cassettes/features/v2/microsoft_teams_integration/Update-workflow-webhook-handle-returns-OK-response.frozen
  cassettes/features/v2/microsoft_teams_integration/Update-workflow-webhook-handle-returns-OK-response.yml
  examples/v2/microsoft-teams-integration/CreateWorkflowsWebhookHandle_1716851881.rb
  features/v2/microsoft_teams_integration.feature
Due: format-examples

Regenerate client from commit 5e0396ec of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/synthetics_test_request.rb
Due: generate

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
