Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

Regenerate client from commit d9b156b of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/container_images_api.rb
Due: generate

fix edge case with periods in keys
  .generator/src/generator/formatter.py
  .generator/tests/test_formatter.rb
Due: generate

Allow missing descriptions.
  .generator/src/generator/templates/model.j2
Due: generate

Regenerate client from commit d77820d of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/aws_integration_api.rb
  lib/datadog_api_client/v1/api/aws_logs_integration_api.rb
  lib/datadog_api_client/v1/models/aws_account.rb
Due: generate

Regenerate client from commit 73e447a of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/error_tracking/Remove-the-assignee-of-an-issue-returns-No-Content-response.frozen
  cassettes/features/v2/error_tracking/Remove-the-assignee-of-an-issue-returns-No-Content-response.yml
  cassettes/features/v2/error_tracking/Remove-the-assignee-of-an-issue-returns-Not-Found-response.frozen
  cassettes/features/v2/error_tracking/Remove-the-assignee-of-an-issue-returns-Not-Found-response.yml
  examples/v2/error-tracking/DeleteIssueAssignee.rb
  features/scenarios_model_mapping.rb
  features/v2/error_tracking.feature
  features/v2/undo.json
  lib/datadog_api_client/v2/api/error_tracking_api.rb
Due: generate, format-examples

Regenerate client from commit f02f369 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/ci_visibility_pipelines_api.rb
Due: generate

Allow missing descriptions. (#2725)
  .generator/src/generator/templates/model.j2
Due: generate

Allow missing descriptions.
  .generator/src/generator/templates/api.j2
  .generator/src/generator/templates/model_generic.j2
Due: generate

Regenerate client from commit fa5091a of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit 05ffea6 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/v2/gcp_integration.feature
  lib/datadog_api_client/v2/models/gcp_metric_namespace_config.rb
Due: generate

fix edge case with periods in keys (#2722)
  .generator/src/generator/formatter.py
  .generator/tests/test_formatter.rb
Due: generate

Regenerate client from commit e118b2e of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/fleet-automation/CancelFleetDeployment.rb
  examples/v2/fleet-automation/CreateFleetDeploymentConfigure.rb
  examples/v2/fleet-automation/GetFleetDeployment.rb
  examples/v2/fleet-automation/ListFleetDeployments.rb
  features/scenarios_model_mapping.rb
  features/v2/fleet_automation.feature
  features/v2/given.json
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/fleet_automation_api.rb
  lib/datadog_api_client/v2/models/fleet_deployment.rb
  lib/datadog_api_client/v2/models/fleet_deployment_attributes.rb
  lib/datadog_api_client/v2/models/fleet_deployment_configure_attributes.rb
  lib/datadog_api_client/v2/models/fleet_deployment_configure_create.rb
  lib/datadog_api_client/v2/models/fleet_deployment_configure_create_request.rb
  lib/datadog_api_client/v2/models/fleet_deployment_file_op.rb
  lib/datadog_api_client/v2/models/fleet_deployment_operation.rb
  lib/datadog_api_client/v2/models/fleet_deployment_resource_type.rb
  lib/datadog_api_client/v2/models/fleet_deployment_response.rb
  lib/datadog_api_client/v2/models/fleet_deployments_page.rb
  lib/datadog_api_client/v2/models/fleet_deployments_response.rb
  lib/datadog_api_client/v2/models/fleet_deployments_response_meta.rb
Due: generate, format-examples

Preserve blank line.
  .generator/src/generator/templates/model_generic.j2
Due: generate

Regenerate client from commit 43d397f of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/restriction_policies_api.rb
Due: generate

Allow missing descriptions. (#2730)
  .generator/src/generator/templates/api.j2
  .generator/src/generator/templates/model_generic.j2
Due: generate

Regenerate client from commit 567df66 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Schema-Processor-and-preserve-source-false-returns-OK-response.frozen
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Schema-Processor-and-preserve-source-false-returns-OK-response.yml
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Schema-Processor-and-preserve-source-true-returns-OK-response.frozen
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Schema-Processor-and-preserve-source-true-returns-OK-response.yml
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-schema-processor.frozen
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-schema-processor.yml
  examples/v1/logs-pipelines/CreateLogsPipeline_1745625064.rb
  examples/v1/logs-pipelines/CreateLogsPipeline_2256674867.rb
  examples/v1/logs-pipelines/CreateLogsPipeline_501419705.rb
  features/v1/logs_pipelines.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/logs_schema_category_mapper.rb
  lib/datadog_api_client/v1/models/logs_schema_category_mapper_category.rb
  lib/datadog_api_client/v1/models/logs_schema_category_mapper_fallback.rb
  lib/datadog_api_client/v1/models/logs_schema_category_mapper_targets.rb
  lib/datadog_api_client/v1/models/logs_schema_category_mapper_type.rb
  lib/datadog_api_client/v1/models/logs_schema_data.rb
  lib/datadog_api_client/v1/models/logs_schema_mapper.rb
  lib/datadog_api_client/v1/models/logs_schema_processor.rb
  lib/datadog_api_client/v1/models/logs_schema_processor_type.rb
  lib/datadog_api_client/v1/models/logs_schema_remapper.rb
  lib/datadog_api_client/v1/models/logs_schema_remapper_type.rb
Due: generate, format-examples

Regenerate client from commit ed00345 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/static-analysis/CreateSCAResolveVulnerableSymbols.rb
  examples/v2/static-analysis/CreateSCAResult.rb
  features/scenarios_model_mapping.rb
  features/v2/static_analysis.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/static_analysis_api.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_request.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_request_data.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_request_data_attributes.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_request_data_type.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_response.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_response_data.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_response_data_attributes.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_response_data_type.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_response_results.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_response_results_vulnerable_symbols.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_response_results_vulnerable_symbols_symbols.rb
  lib/datadog_api_client/v2/models/sca_request.rb
  lib/datadog_api_client/v2/models/sca_request_data.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_commit.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_dependencies_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_dependencies_items_locations_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_dependencies_items_locations_items_file_position.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_dependencies_items_locations_items_position.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_dependencies_items_reachable_symbol_properties_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_files_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_relations_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_repository.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_vulnerabilities_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_vulnerabilities_items_affects_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_type.rb
Due: generate, format-examples

handle missing discription
  .generator/src/generator/templates/model.j2
  .generator/src/generator/templates/model_generic.j2
Due: generate

Regenerate client from commit ad2935e of spec repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit c41d997 of spec repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 9432a77 of spec repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 058e3eb of spec repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 77596ba of spec repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 1ec8354 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/events/CreateEventEmailAddress.rb
  examples/v2/events/CreateOnCallEventEmailAddress.rb
  examples/v2/events/GetOnCallEventEmailAddress.rb
  examples/v2/events/ListEventEmailAddresses.rb
  features/scenarios_model_mapping.rb
  features/v2/events.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/events_api.rb
  lib/datadog_api_client/v2/models/create_event_email_address_request.rb
  lib/datadog_api_client/v2/models/create_event_email_address_request_data.rb
  lib/datadog_api_client/v2/models/create_event_email_address_request_data_attributes.rb
  lib/datadog_api_client/v2/models/create_on_call_event_email_address_request.rb
  lib/datadog_api_client/v2/models/create_on_call_event_email_address_request_data.rb
  lib/datadog_api_client/v2/models/create_on_call_event_email_address_request_data_attributes.rb
  lib/datadog_api_client/v2/models/event_email_address_response.rb
  lib/datadog_api_client/v2/models/event_email_address_response_array.rb
  lib/datadog_api_client/v2/models/event_email_address_response_data.rb
  lib/datadog_api_client/v2/models/event_email_address_response_data_attributes.rb
  lib/datadog_api_client/v2/models/event_email_address_response_data_relationships.rb
  lib/datadog_api_client/v2/models/event_email_address_response_data_relationships_user.rb
  lib/datadog_api_client/v2/models/event_email_address_response_data_relationships_user_data.rb
  lib/datadog_api_client/v2/models/event_emails_type.rb
Due: generate, format-examples

Regenerate client from commit 31d12b4 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/static-analysis/CreateSCAResolveVulnerableSymbols.rb
  examples/v2/static-analysis/CreateSCAResult.rb
  features/scenarios_model_mapping.rb
  features/v2/static_analysis.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/static_analysis_api.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_request.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_request_data.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_request_data_attributes.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_request_data_type.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_response.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_response_data.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_response_data_attributes.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_response_data_type.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_response_results.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_response_results_vulnerable_symbols.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_response_results_vulnerable_symbols_symbols.rb
  lib/datadog_api_client/v2/models/sca_request.rb
  lib/datadog_api_client/v2/models/sca_request_data.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_commit.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_dependencies_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_dependencies_items_locations_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_dependencies_items_locations_items_file_position.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_dependencies_items_locations_items_position.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_dependencies_items_reachable_symbol_properties_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_files_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_relations_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_repository.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_vulnerabilities_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_vulnerabilities_items_affects_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_type.rb
Due: generate, format-examples

Regenerate client from commit e38a8a7 of spec repo
  cassettes/features/v2/agentless_scanning/Create-AWS-Scan-Options-returns-Bad-Request-response.frozen
  cassettes/features/v2/agentless_scanning/Create-AWS-Scan-Options-returns-Bad-Request-response.yml
Due: none

Regenerate client from commit d8f6dd8 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/security_monitoring_signal_archive_reason.rb
Due: generate
