Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features, licensed

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generated
    name: Do not commit generated files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^lib/datadog_api_client/v[1-9].*'
    verbose: true
  - id: generated-features
    name: Do not commit generated feature files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^features/v[1-9][0-9]*/.*.feature$'
    verbose: true
  - id: licensed
    name: Licensed
    language: ruby
    language_version: system
    additional_dependencies:
      - licensed
    entry: .licenses/check.sh
    pass_filenames: false
    files: "^(.*.gemspec|Gemfile|.licensed.yml)$"
    verbose: true

Regenerate client from commit d3a053a of spec repo
  .apigentools-info
Due: none

Regenerate client from commit 53a5665 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/SyntheticsAPITest.md
  docs/v1/SyntheticsAPITestConfig.md
  docs/v1/SyntheticsTestRequest.md
  features/v1/synthetics.feature
Due: generated-features

Regenerate client from commit badf0b8 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/SyntheticsAPITest.md
  docs/v1/SyntheticsAPITestConfig.md
  docs/v1/SyntheticsTestRequest.md
  features/v1/synthetics.feature
Due: generated-features

Regenerate client from commit ad22b00 of spec repo
  .apigentools-info
  .openapi-generator/FILES
  data/v2/openapi.yaml
  docs/v2/MetricCustomAggregation.md
  docs/v2/MetricCustomSpaceAggregation.md
  docs/v2/MetricCustomTimeAggregation.md
  docs/v2/MetricTagConfigurationAttributes.md
  docs/v2/MetricTagConfigurationCreateAttributes.md
  docs/v2/MetricTagConfigurationUpdateAttributes.md
  docs/v2/MetricsAPI.md
  docs/v2/README.md
  lib/datadog_api_client/v2.rb
  lib/datadog_api_client/v2/api/metrics_api.rb
  lib/datadog_api_client/v2/models/metric_custom_aggregation.rb
  lib/datadog_api_client/v2/models/metric_custom_space_aggregation.rb
  lib/datadog_api_client/v2/models/metric_custom_time_aggregation.rb
  lib/datadog_api_client/v2/models/metric_tag_configuration_attributes.rb
  lib/datadog_api_client/v2/models/metric_tag_configuration_update_attributes.rb
  spec/v2/models/metric_custom_aggregation_spec.rb
  spec/v2/models/metric_custom_space_aggregation_spec.rb
  spec/v2/models/metric_custom_time_aggregation_spec.rb
Due: generated

Migrate code generation
  .apigentools-info
  .generated_files
  .generator/config/v1.json
  .generator/config/v2.json
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  check-examples.sh
  docker-compose.generator.yaml
Due: none

Update test.yml
  .github/workflows/test.yml
Due: none

check examples in CI
  .github/workflows/test.yml
Due: none

Regenerate client from commit 5f2ff0f of spec repo
  .apigentools-info
Due: none

Document changing servers and tracing requests (#525)
  README.md
Due: none

Regenerate client from commit f510509 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/service_level_objective_corrections/Create-an-SLO-correction-with-rrule-returns-OK-response.yml
  docs/v1/SLOCorrectionCreateRequestAttributes.md
  docs/v1/SLOCorrectionResponseAttributes.md
  docs/v1/SLOCorrectionUpdateRequestAttributes.md
  features/v1/service_level_objective_corrections.feature
  lib/datadog_api_client/v1/models/slo_correction_create_request_attributes.rb
  lib/datadog_api_client/v1/models/slo_correction_response_attributes.rb
  lib/datadog_api_client/v1/models/slo_correction_update_request_attributes.rb
Due: generated, generated-features

Regenerate client from commit 0c1024b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: none

Regenerate client from commit 569e123 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/ServiceChecksAPI.md
  lib/datadog_api_client/v1/api/service_checks_api.rb
Due: generated

Use utc.now everywhere in tests
  features/step_definitions/request.rb
  features/support/hooks.rb
Due: none

Regenerate client from commit ca6b2d8 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/Dashboard.md
  docs/v1/GroupWidgetDefinition.md
  features/v1/dashboards.feature
Due: generated-features

Use utc.now everywhere in tests (#553)
  features/step_definitions/request.rb
  features/support/hooks.rb
Due: none

GCR
  .github/workflows/test_integration.yml
Due: none

Update .github/workflows/test_integration.yml
  .github/workflows/test_integration.yml
Due: none

Try to fix CI reporting
  features/support/env.rb
Due: none

update templates to autoload resources
  .generator/templates/gem.mustache
  lib/datadog_api_client.rb
Due: none

Regenerate client from commit 5200038 of spec repo
  .apigentools-info
Due: none

GCR (#555)
  .github/workflows/test_integration.yml
Due: none

Regenerate client from commit 5a8a968 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/SyntheticsCIBatchMetadataCI.md
  docs/v1/SyntheticsCIBatchMetadataPipeline.md
  docs/v1/SyntheticsCIBatchMetadataProvider.md
  docs/v1/SyntheticsTestConfig.md
  features/v1/synthetics.feature
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/synthetics_ci_batch_metadata_ci.rb
  lib/datadog_api_client/v1/models/synthetics_ci_batch_metadata_pipeline.rb
  lib/datadog_api_client/v1/models/synthetics_ci_batch_metadata_provider.rb
  lib/datadog_api_client/v1/models/synthetics_test_config.rb
  spec/v1/models/synthetics_ci_batch_metadata_pipeline_spec.rb
  spec/v1/models/synthetics_ci_batch_metadata_provider_spec.rb
Due: generated, generated-features

test
  .generator/templates/gem.mustache
Due: none

Regenerate client from commit 1bebe8c of spec repo
  .apigentools-info
Due: none

fix pre-commit
  .github/workflows/test.yml
Due: none

Don't run rspec tests
  run-tests.sh
Due: none

Regenerate client from commit 90cbc9e of spec repo
  .apigentools-info
  docs/v1/SyntheticsCIBatchMetadataPipeline.md
  docs/v1/SyntheticsCIBatchMetadataProvider.md
Due: none

Run it in non-integration cases
  run-tests.sh
Due: none

Regenerate client from commit 5f61238 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: none

Don't run rspec tests (#562)
  run-tests.sh
Due: none

Regenerate client from commit 4b9e0f1 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  docs/v2/ContentEncoding.md
  docs/v2/HTTPLogError.md
  docs/v2/HTTPLogErrors.md
  docs/v2/HTTPLogItem.md
  docs/v2/LogsAPI.md
  docs/v2/README.md
  features/v2/logs.feature
  features/v2/undo.json
  lib/datadog_api_client/v2.rb
  lib/datadog_api_client/v2/api/logs_api.rb
  lib/datadog_api_client/v2/configuration.rb
  lib/datadog_api_client/v2/models/content_encoding.rb
  lib/datadog_api_client/v2/models/http_log_error.rb
  lib/datadog_api_client/v2/models/http_log_errors.rb
  lib/datadog_api_client/v2/models/http_log_item.rb
  spec/v2/models/content_encoding_spec.rb
  spec/v2/models/http_log_error_spec.rb
  spec/v2/models/http_log_errors_spec.rb
  spec/v2/models/http_log_item_spec.rb
Due: generated, generated-features

Regenerate client from commit ea18b19 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/MonitorOptions.md
  docs/v1/MonitorsAPI.md
  docs/v2/ContentEncoding.md
  docs/v2/HTTPLogError.md
  docs/v2/HTTPLogErrors.md
  docs/v2/HTTPLogItem.md
  features/v1/monitors.feature
  lib/datadog_api_client/v1/api/monitors_api.rb
  lib/datadog_api_client/v1/models/monitor_options.rb
  lib/datadog_api_client/v1/models/monitor_type.rb
Due: generated, generated-features

Regenerate client from commit 2a03497 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/monitor_type.rb
Due: generated

Regenerate client from commit 51e9017 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/AzureAccount.md
  features/v1/azure_integration.feature
  lib/datadog_api_client/v1/models/azure_account.rb
  lib/datadog_api_client/v1/models/monitor_type.rb
Due: generated, generated-features

Regenerate client from commit 63c3c10 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: none

Regenerate client from commit 54b7a75 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/DowntimesAPI.md
  lib/datadog_api_client/v1/api/downtimes_api.rb
Due: generated

Regenerate client from commit d9035aa of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/UsageBillableSummaryHour.md
  lib/datadog_api_client/v1/models/usage_billable_summary_hour.rb
Due: generated

Regenerate client from commit 089545c of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/Monitor.md
Due: none

Regenerate client from commit 904c411 of spec repo
  .apigentools-info
  features/v1/snapshots.feature
Due: generated-features
