Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features, licensed

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generated
    name: Do not commit generated files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^lib/datadog_api_client/v[1-9].*'
    verbose: true
  - id: generated-features
    name: Do not commit generated feature files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^features/v[1-9][0-9]*/.*.feature$'
    verbose: true
  - id: licensed
    name: Licensed
    language: ruby
    language_version: system
    additional_dependencies:
      - licensed
    entry: .licenses/check.sh
    pass_filenames: false
    files: "^(.*.gemspec|Gemfile|.licensed.yml)$"
    verbose: true

Prepare release 1.3.0
  CHANGELOG.md
Due: none

Bump datadog_api_client to 1.3.0
  lib/datadog_api_client/version.rb
Due: none

Minor fix
  CHANGELOG.md
Due: none

Release 1.3.0 (#490)
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: none

Bump datadog_api_client to 1.3.1.dev.1
  lib/datadog_api_client/version.rb
Due: none

Bump datadog_api_client to 1.3.1.dev.1 (#491)
  lib/datadog_api_client/version.rb
Due: none

Regenerate client from commit 092cad9 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  data/v2/openapi.yaml
  docs/v1/MetricsPayload.md
  docs/v1/ProcessQueryDefinition.md
  docs/v1/Series.md
  docs/v1/SyntheticsAPIStep.md
  docs/v1/SyntheticsBrowserError.md
  features/v1/metrics.feature
  features/v1/synthetics.feature
  features/v2/security_monitoring.feature
Due: generated-features

Regenerate client from commit b1c1fe4 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/MonitorsAPI.md
  lib/datadog_api_client/v1/api/monitors_api.rb
Due: generated

Regenerate client from commit e4b1338 of spec repo
  .apigentools-info
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-apm-dependency-stats-widget.yml
  data/v1/openapi.yaml
  docs/v1/FormulaAndFunctionApmDependencyStatName.md
  docs/v1/FormulaAndFunctionApmDependencyStatsDataSource.md
  docs/v1/FormulaAndFunctionApmDependencyStatsQueryDefinition.md
  docs/v1/FormulaAndFunctionQueryDefinition.md
  docs/v1/README.md
  features/v1/dashboards.feature
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/formula_and_function_apm_dependency_stat_name.rb
  lib/datadog_api_client/v1/models/formula_and_function_apm_dependency_stats_data_source.rb
  lib/datadog_api_client/v1/models/formula_and_function_apm_dependency_stats_query_definition.rb
  lib/datadog_api_client/v1/models/formula_and_function_query_definition.rb
  spec/v1/models/formula_and_function_apm_dependency_stat_name_spec.rb
  spec/v1/models/formula_and_function_apm_dependency_stats_data_source_spec.rb
  spec/v1/models/formula_and_function_apm_dependency_stats_query_definition_spec.rb
Due: generated, generated-features

Regenerate client from commit 7d19e75 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/SLOCorrection.md
  docs/v1/SLOCorrectionCreateData.md
  docs/v1/SLOCorrectionCreateRequestAttributes.md
  docs/v1/SLOCorrectionListResponse.md
  docs/v1/SLOCorrectionResponseAttributes.md
  docs/v1/SLOCorrectionUpdateRequestAttributes.md
  docs/v1/ServiceLevelObjectiveCorrectionsAPI.md
  lib/datadog_api_client/v1/api/service_level_objective_corrections_api.rb
  lib/datadog_api_client/v1/models/slo_correction.rb
  lib/datadog_api_client/v1/models/slo_correction_create_data.rb
  lib/datadog_api_client/v1/models/slo_correction_create_request.rb
  lib/datadog_api_client/v1/models/slo_correction_create_request_attributes.rb
  lib/datadog_api_client/v1/models/slo_correction_list_response.rb
  lib/datadog_api_client/v1/models/slo_correction_response.rb
  lib/datadog_api_client/v1/models/slo_correction_response_attributes.rb
  lib/datadog_api_client/v1/models/slo_correction_update_data.rb
  lib/datadog_api_client/v1/models/slo_correction_update_request.rb
  lib/datadog_api_client/v1/models/slo_correction_update_request_attributes.rb
Due: generated

improve missing cassettes error message
  features/support/hooks.rb
Due: none

Regenerate client from commit 864476c of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  data/v2/openapi.yaml
  features/v1/key_management.feature
  features/v2/key_management.feature
Due: generated-features

Regenerate client from commit dd3ae87 of spec repo
  .apigentools-info
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-apm-resource-stats-widget.yml
  data/v1/openapi.yaml
  docs/v1/FormulaAndFunctionApmResourceStatName.md
  docs/v1/FormulaAndFunctionApmResourceStatsDataSource.md
  docs/v1/FormulaAndFunctionApmResourceStatsQueryDefinition.md
  docs/v1/FormulaAndFunctionQueryDefinition.md
  docs/v1/README.md
  features/v1/dashboards.feature
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/formula_and_function_apm_resource_stat_name.rb
  lib/datadog_api_client/v1/models/formula_and_function_apm_resource_stats_data_source.rb
  lib/datadog_api_client/v1/models/formula_and_function_apm_resource_stats_query_definition.rb
  lib/datadog_api_client/v1/models/formula_and_function_query_definition.rb
  spec/v1/models/formula_and_function_apm_resource_stat_name_spec.rb
  spec/v1/models/formula_and_function_apm_resource_stats_data_source_spec.rb
  spec/v1/models/formula_and_function_apm_resource_stats_query_definition_spec.rb
Due: generated, generated-features

Regenerate client from commit 0ded40f of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/FormulaAndFunctionApmDependencyStatsQueryDefinition.md
  lib/datadog_api_client/v1/models/formula_and_function_apm_dependency_stats_query_definition.rb
Due: generated

Update features/support/hooks.rb
  features/support/hooks.rb
Due: none

fix integration-only scenarios
  features/support/hooks.rb
Due: none

Improve missing cassette errors (#492)
  features/support/hooks.rb
Due: none

Regenerate client from commit f934b04 of spec repo
  .apigentools-info
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-funnel-widget.yml
  data/v1/openapi.yaml
  docs/v1/FunnelQuery.md
  docs/v1/FunnelRequestType.md
  docs/v1/FunnelSource.md
  docs/v1/FunnelWidgetDefinition.md
  docs/v1/FunnelWidgetDefinitionType.md
  docs/v1/FunnelWidgetRequest.md
  docs/v1/README.md
  docs/v1/WidgetDefinition.md
  features/v1/dashboards.feature
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/funnel_query.rb
  lib/datadog_api_client/v1/models/funnel_request_type.rb
  lib/datadog_api_client/v1/models/funnel_source.rb
  lib/datadog_api_client/v1/models/funnel_widget_definition.rb
  lib/datadog_api_client/v1/models/funnel_widget_definition_type.rb
  lib/datadog_api_client/v1/models/funnel_widget_request.rb
  lib/datadog_api_client/v1/models/widget_definition.rb
  spec/v1/models/funnel_query_spec.rb
  spec/v1/models/funnel_request_type_spec.rb
  spec/v1/models/funnel_source_spec.rb
  spec/v1/models/funnel_widget_definition_spec.rb
  spec/v1/models/funnel_widget_definition_type_spec.rb
  spec/v1/models/funnel_widget_request_spec.rb
Due: generated, generated-features

Regenerate client from commit 10d22b2 of spec repo
  .apigentools-info
  .openapi-generator/VERSION
Due: none

Add gzip and deflate support
  .generator/templates/api.mustache
  .generator/templates/api_client_typhoeus_partial.mustache
Due: none

Regenerate client from commit c7fa062 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/UsageAttributionValues.md
  lib/datadog_api_client/v1/models/usage_attribution_values.rb
Due: generated

Regenerate client from commit c02444e of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/SyntheticsTestDetails.md
  lib/datadog_api_client/v1/models/synthetics_test_details.rb
Due: generated

Fix condition
  .generator/templates/api_client_typhoeus_partial.mustache
Due: none

Regenerate client from commit 4a04b77 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/LogsAPI.md
  features/v1/logs.feature
  lib/datadog_api_client/v1/api/logs_api.rb
  lib/datadog_api_client/v1/api_client.rb
  lib/datadog_api_client/v1/models/content_encoding.rb
  lib/datadog_api_client/v2/api_client.rb
Due: generated, generated-features

Regenerate client from commit 207f15b of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  data/v2/openapi.yaml
  docs/v2/IncidentServicesAPI.md
  docs/v2/IncidentTeamsAPI.md
  docs/v2/IncidentsAPI.md
  docs/v2/README.md
  lib/datadog_api_client/v2/api/incident_services_api.rb
  lib/datadog_api_client/v2/api/incident_teams_api.rb
  lib/datadog_api_client/v2/api/incidents_api.rb
Due: generated

Regenerate client from commit 1f84aba of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/DowntimeRecurrence.md
  docs/v1/MonitorOptions.md
  docs/v1/MonitorsAPI.md
  docs/v1/WebhooksIntegration.md
  docs/v1/WebhooksIntegrationUpdateRequest.md
  features/v1/downtimes.feature
  features/v1/monitors.feature
  features/v1/service_checks.feature
  lib/datadog_api_client/v1/api/monitors_api.rb
  lib/datadog_api_client/v1/models/downtime_recurrence.rb
  lib/datadog_api_client/v1/models/monitor_options.rb
  lib/datadog_api_client/v1/models/webhooks_integration.rb
  lib/datadog_api_client/v1/models/webhooks_integration_update_request.rb
Due: generated, generated-features

Regenerate client from commit d0cfebd of spec repo
  .apigentools-info
  cassettes/features/v1/metrics/Submit-metrics-returns-Payload-accepted-response.yml
  cassettes/features/v1/service_checks/Submit-a-Service-Check-returns-Payload-accepted-response.yml
  cassettes/features/v1/synthetics/Client-is-resilient-to-enum-and-oneOf-deserialization-errors.yml
  cassettes/features/v1/webhooks_integration/Create-a-custom-variable-returns-OK-response.yml
  cassettes/features/v1/webhooks_integration/Create-a-webhooks-integration-returns-OK-response.yml
  cassettes/features/v1/webhooks_integration/Delete-a-custom-variable-returns-OK-response.yml
  cassettes/features/v1/webhooks_integration/Delete-a-webhook-returns-OK-response.yml
  cassettes/features/v1/webhooks_integration/Get-a-webhook-integration-returns-OK-response.yml
  cassettes/features/v1/webhooks_integration/Update-a-custom-variable-returns-OK-response.yml
  cassettes/features/v1/webhooks_integration/Update-a-webhook-returns-OK-response.yml
  data/v1/openapi.yaml
  data/v2/openapi.yaml
  docs/v1/MetricsAPI.md
  docs/v1/ServiceChecksAPI.md
  lib/datadog_api_client/v1/api/metrics_api.rb
  lib/datadog_api_client/v1/api/service_checks_api.rb
  lib/datadog_api_client/v1/models/creator.rb
  lib/datadog_api_client/v1/models/dashboard_summary_definition.rb
  lib/datadog_api_client/v1/models/metrics_query_metadata.rb
  lib/datadog_api_client/v1/models/notebook_author.rb
  lib/datadog_api_client/v2/models/incident_field_attributes_single_value.rb
  lib/datadog_api_client/v2/models/user_attributes.rb
Due: generated

Regenerate client from commit 6ab9fa3 of spec repo
  .apigentools-info
  data/v2/openapi.yaml
  lib/datadog_api_client/v2/models/incident_field_attributes_single_value_type.rb
  lib/datadog_api_client/v2/models/incident_response_attributes.rb
Due: generated

Regenerate client from commit 863f29c of spec repo
  .apigentools-info
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-formulas-and-functions-scatterplot-widget.yml
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/ScatterPlotWidgetDefinitionRequests.md
  docs/v1/ScatterplotDimension.md
  docs/v1/ScatterplotTableRequest.md
  docs/v1/ScatterplotWidgetFormula.md
  features/v1/dashboards.feature
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/scatterplot_dimension.rb
  lib/datadog_api_client/v1/models/scatterplot_table_request.rb
  lib/datadog_api_client/v1/models/scatterplot_widget_formula.rb
  spec/v1/models/scatterplot_dimension_spec.rb
  spec/v1/models/scatterplot_table_request_spec.rb
  spec/v1/models/scatterplot_widget_formula_spec.rb
Due: generated, generated-features

Regenerate client from commit 181ee2d of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/UsageSummaryDateOrg.md
  docs/v1/UsageSummaryResponse.md
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generated

Regenerate client from commit 76490b5 of spec repo
  .apigentools-info
  data/v2/openapi.yaml
  lib/datadog_api_client/v2/models/incident_field_attributes_multiple_value.rb
  lib/datadog_api_client/v2/models/incident_field_attributes_single_value_type.rb
Due: generated

Regenerate client from commit a139e02 of spec repo
  .apigentools-info
  docs/v1/UsersAPI.md
  lib/datadog_api_client/v1/models/synthetics_assertion_target.rb
Due: generated

Regenerate client from commit 9033ba5 of spec repo
  .apigentools-info
  data/v2/openapi.yaml
  docs/v2/README.md
  docs/v2/SecurityMonitoringAPI.md
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
Due: generated

Regenerate client from commit d3a69ea of spec repo
  .apigentools-info
  data/v1/openapi.yaml
Due: none

Regenerate client from commit 01e467f of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/MetricContentEncoding.md
  docs/v1/MetricsAPI.md
  docs/v1/README.md
  features/v1/metrics.feature
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/api/metrics_api.rb
  lib/datadog_api_client/v1/models/metric_content_encoding.rb
  spec/v1/models/metric_content_encoding_spec.rb
Due: generated, generated-features

Regenerate client from commit bc91052 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/SyntheticsTestRequest.md
  features/v1/synthetics.feature
  lib/datadog_api_client/v1/models/synthetics_test_request.rb
Due: generated, generated-features

Create Sjenica1
  Sjenica1
Due: none

handle {{ }} in templates and camel case parameter
  features/support/templating.rb
Due: none

Add support for gzip responses
  .generator/templates/api_client.mustache
  .generator/templates/configuration.mustache
Due: none
