Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Exclude github pages from devflow (#1975)
  repository.datadog.yaml
Due: none

Regenerate client from commit 9aa94b63 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/FetchUptimes.rb
  features/scenarios_model_mapping.rb
  features/v1/synthetics.feature
  features/v1/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/api/synthetics_api.rb
  lib/datadog_api_client/v1/models/synthetics_fetch_uptimes_payload.rb
  lib/datadog_api_client/v1/models/synthetics_test_uptime.rb
  lib/datadog_api_client/v1/models/synthetics_uptime.rb
Due: generate, format-examples

Regenerate client from commit f3d81376 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/v2/cloud_cost_management.feature
Due: generate

Regenerate client from commit 1167a86b of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit 0857d88a of spec repo
  .apigentools-info
  features/v2/given.json
Due: none

Regenerate client from commit f621bf7a of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/restriction_policies_api.rb
Due: generate

Regenerate client from commit 09daef2e of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/logs-indexes/CreateLogsIndex.rb
  examples/v1/logs-indexes/UpdateLogsIndex.rb
  features/v1/logs_indexes.feature
  lib/datadog_api_client/v1/models/logs_index.rb
  lib/datadog_api_client/v1/models/logs_index_update_request.rb
Due: generate, format-examples

Regenerate client from commit 6b2f00dd of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/monitor.rb
Due: generate

Regenerate client from commit fcff7a80 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/http_log_item.rb
Due: generate

Regenerate client from commit 518ca9df of spec repo
  .apigentools-info
  cassettes/features/v2/service_level_objectives/Create-a-new-SLO-report-returns-Bad-Request-response.frozen
  cassettes/features/v2/service_level_objectives/Create-a-new-SLO-report-returns-Bad-Request-response.yml
  cassettes/features/v2/service_level_objectives/Create-a-new-SLO-report-returns-OK-response.frozen
  cassettes/features/v2/service_level_objectives/Create-a-new-SLO-report-returns-OK-response.yml
  cassettes/features/v2/service_level_objectives/Get-SLO-report-returns-Bad-Request-response.frozen
  cassettes/features/v2/service_level_objectives/Get-SLO-report-returns-Bad-Request-response.yml
  cassettes/features/v2/service_level_objectives/Get-SLO-report-returns-Not-Found-response.frozen
  cassettes/features/v2/service_level_objectives/Get-SLO-report-returns-Not-Found-response.yml
  cassettes/features/v2/service_level_objectives/Get-SLO-report-status-returns-Bad-Request-response.frozen
  cassettes/features/v2/service_level_objectives/Get-SLO-report-status-returns-Bad-Request-response.yml
  cassettes/features/v2/service_level_objectives/Get-SLO-report-status-returns-Not-Found-response.frozen
  cassettes/features/v2/service_level_objectives/Get-SLO-report-status-returns-Not-Found-response.yml
  cassettes/features/v2/service_level_objectives/Get-SLO-report-status-returns-OK-response.frozen
  cassettes/features/v2/service_level_objectives/Get-SLO-report-status-returns-OK-response.yml
  examples/v2/service-level-objectives/CreateSLOReportJob.rb
  features/v2/service_level_objectives.feature
Due: format-examples

Regenerate client from commit ff772101 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateSyntheticsAPITest_1279271422.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/synthetics_global_variable_parse_test_options.rb
  lib/datadog_api_client/v1/models/synthetics_local_variable_parsing_options_type.rb
  lib/datadog_api_client/v1/models/synthetics_parsing_options.rb
Due: generate, format-examples

Regenerate client from commit 9e18747d of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/events_api.rb
Due: generate

Regenerate client from commit 2d21d782 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-timeseries-widget-with-legacy-live-span-time-format.frozen
  cassettes/features/v1/dashboards/Create-a-new-timeseries-widget-with-legacy-live-span-time-format.yml
  cassettes/features/v1/dashboards/Create-a-new-timeseries-widget-with-new-fixed-span-time-format.frozen
  cassettes/features/v1/dashboards/Create-a-new-timeseries-widget-with-new-fixed-span-time-format.yml
  cassettes/features/v1/dashboards/Create-a-new-timeseries-widget-with-new-live-span-time-format.frozen
  cassettes/features/v1/dashboards/Create-a-new-timeseries-widget-with-new-live-span-time-format.yml
  examples/v1/dashboards/CreateDashboard_1177423752.rb
  examples/v1/dashboards/CreateDashboard_1213075383.rb
  examples/v1/dashboards/CreateDashboard_1284514532.rb
  examples/v1/dashboards/CreateDashboard_1307120899.rb
  examples/v1/dashboards/CreateDashboard_2064651578.rb
  examples/v1/dashboards/CreateDashboard_2308247857.rb
  examples/v1/dashboards/CreateDashboard_2336428357.rb
  examples/v1/dashboards/CreateDashboard_2342457693.rb
  examples/v1/dashboards/CreateDashboard_2349863258.rb
  examples/v1/dashboards/CreateDashboard_2563642929.rb
  examples/v1/dashboards/CreateDashboard_2610827685.rb
  examples/v1/dashboards/CreateDashboard_2644712913.rb
  examples/v1/dashboards/CreateDashboard_2921337351.rb
  examples/v1/dashboards/CreateDashboard_3066042014.rb
  examples/v1/dashboards/CreateDashboard_3451918078.rb
  examples/v1/dashboards/CreateDashboard_3562282606.rb
  examples/v1/dashboards/CreateDashboard_3777304439.rb
  examples/v1/dashboards/CreateDashboard_41622531.rb
  examples/v1/dashboards/CreateDashboard_4262729673.rb
  examples/v1/dashboards/CreateDashboard_578885732.rb
  examples/v1/dashboards/CreateDashboard_765140092.rb
  examples/v1/dashboards/CreateDashboard_915214113.rb
  examples/v1/dashboards/CreateDashboard_985012506.rb
  features/v1/dashboards.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/widget_legacy_live_span.rb
  lib/datadog_api_client/v1/models/widget_live_span_unit.rb
  lib/datadog_api_client/v1/models/widget_new_fixed_span.rb
  lib/datadog_api_client/v1/models/widget_new_fixed_span_type.rb
  lib/datadog_api_client/v1/models/widget_new_live_span.rb
  lib/datadog_api_client/v1/models/widget_new_live_span_type.rb
  lib/datadog_api_client/v1/models/widget_time.rb
Due: generate, format-examples

Regenerate client from commit b289628c of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/monitor_options.rb
Due: generate

Regenerate client from commit b31c228b of spec repo
  .apigentools-info
  features/v1/gcp_integration.feature
  features/v2/gcp_integration.feature
Due: none

Regenerate client from commit fe4f848e of spec repo
  .apigentools-info
  cassettes/features/v2/security_monitoring/Create-a-detection-rule-with-detection-method-third-party-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Create-a-detection-rule-with-detection-method-third-party-returns-OK-response.yml
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_3367706049.rb
  features/v2/security_monitoring.feature
Due: format-examples

Regenerate client from commit 8e0507d2 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/monitors/Get-a-synthetics-monitor-s-details.frozen
  cassettes/features/v1/monitors/Get-a-synthetics-monitor-s-details.yml
  cassettes/features/v1/synthetics/Create-an-API-HTTP-test-has-bodyHash-filled-out.frozen
  cassettes/features/v1/synthetics/Create-an-API-HTTP-test-has-bodyHash-filled-out.yml
  cassettes/features/v1/synthetics/Create-an-API-HTTP-test-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-HTTP-test-returns-OK-Returns-the-created-test-details-response.yml
  cassettes/features/v1/synthetics/Edit-an-API-test-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Edit-an-API-test-returns-OK-response.yml
  cassettes/features/v1/synthetics/Patch-a-Synthetic-test-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Patch-a-Synthetic-test-returns-OK-response.yml
  cassettes/features/v1/synthetics/Trigger-Synthetic-tests-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Trigger-Synthetic-tests-returns-OK-response.yml
  examples/v1/synthetics/CreateSyntheticsAPITest_1487281163.rb
  examples/v1/synthetics/CreateSyntheticsAPITest_1987645492.rb
  features/v1/given.json
  features/v1/synthetics.feature
  features/v1/synthetics_api_http_test_payload.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/synthetics_assertion.rb
  lib/datadog_api_client/v1/models/synthetics_assertion_javascript.rb
  lib/datadog_api_client/v1/models/synthetics_assertion_javascript_type.rb
Due: generate, format-examples

Bump datadog_api_client to 2.26.0
  lib/datadog_api_client/version.rb
Due: generate

Bump datadog_api_client to 2.26.0.dev.1
  lib/datadog_api_client/version.rb
Due: generate

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update CHANGELOG.md (#1989)
  CHANGELOG.md
Due: none

Regenerate client from commit 3dff532a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-a-toplist-widget-sorted-by-group.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-a-toplist-widget-sorted-by-group.yml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-toplist-widget.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-toplist-widget.yml
  examples/v1/dashboards/CreateDashboard_1213075383.rb
  examples/v1/dashboards/CreateDashboard_2563642929.rb
  features/v1/dashboards.feature
  features/v1/dashboards_json_payload/toplist_widget.json
  lib/datadog_api_client/v1/models/toplist_widget_style.rb
Due: generate, format-examples

Regenerate client from commit 80dc4248 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Set specific permissions on workflows.
  .github/workflows/approved_status.yml
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
  .github/workflows/prepare_release.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

Regenerate client from commit b614b142 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-query-table-widget-and-text-formatting.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-query-table-widget-and-text-formatting.yml
  examples/v1/dashboards/CreateDashboard_794302680.rb
  features/v1/dashboards.feature
  features/v1/dashboards_json_payload/query_table_widget_text_formatting.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/table_widget_request.rb
  lib/datadog_api_client/v1/models/table_widget_text_format_match.rb
  lib/datadog_api_client/v1/models/table_widget_text_format_match_type.rb
  lib/datadog_api_client/v1/models/table_widget_text_format_palette.rb
  lib/datadog_api_client/v1/models/table_widget_text_format_replace.rb
  lib/datadog_api_client/v1/models/table_widget_text_format_replace_all.rb
  lib/datadog_api_client/v1/models/table_widget_text_format_replace_all_type.rb
  lib/datadog_api_client/v1/models/table_widget_text_format_replace_substring.rb
  lib/datadog_api_client/v1/models/table_widget_text_format_replace_substring_type.rb
  lib/datadog_api_client/v1/models/table_widget_text_format_rule.rb
Due: generate, format-examples

fix schema matching ints and strings together
  .generator/src/generator/formatter.py
Due: generate

Handle models with v[0-9] in name
  .generator/src/generator/templates/inflector.j2
  lib/datadog_api_client/inflector.rb
  spec/zeitwerk_spec.rb
Due: generate

Handle models with v[0-9] in name (#2002)
  .generator/src/generator/templates/inflector.j2
  lib/datadog_api_client/inflector.rb
  spec/zeitwerk_spec.rb
Due: generate

Bump datadog_api_client to 2.26.1
  lib/datadog_api_client/version.rb
Due: generate

Bump datadog_api_client to 2.26.1.dev.1
  lib/datadog_api_client/version.rb
Due: generate

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
