Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

test: validate merge-all compatibility
  README.md
Due: none

Regenerate client from commit 3adde3e of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/security_monitoring_content_pack_app_sec_details.rb
  lib/datadog_api_client/v2/models/security_monitoring_content_pack_app_sec_details_type.rb
  lib/datadog_api_client/v2/models/security_monitoring_content_pack_audit_details.rb
  lib/datadog_api_client/v2/models/security_monitoring_content_pack_audit_details_type.rb
  lib/datadog_api_client/v2/models/security_monitoring_content_pack_entity_details.rb
  lib/datadog_api_client/v2/models/security_monitoring_content_pack_entity_details_type.rb
  lib/datadog_api_client/v2/models/security_monitoring_content_pack_logs_details.rb
  lib/datadog_api_client/v2/models/security_monitoring_content_pack_onboarding_details.rb
  lib/datadog_api_client/v2/models/security_monitoring_content_pack_onboarding_details_type.rb
  lib/datadog_api_client/v2/models/security_monitoring_content_pack_state_attributes.rb
  lib/datadog_api_client/v2/models/security_monitoring_content_pack_state_details.rb
  lib/datadog_api_client/v2/models/security_monitoring_content_pack_states_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_content_pack_status.rb
  lib/datadog_api_client/v2/models/security_monitoring_content_pack_threat_intel_details.rb
  lib/datadog_api_client/v2/models/security_monitoring_content_pack_threat_intel_details_type.rb
  lib/datadog_api_client/v2/models/security_monitoring_content_pack_vulnerability_details.rb
  lib/datadog_api_client/v2/models/security_monitoring_content_pack_vulnerability_details_type.rb
Due: generate

Regenerate client from commit 73cfb15 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/BulkDeleteSecurityMonitoringRules.rb
  features/v2/security_monitoring.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_bulk_delete_data.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_bulk_delete_response_attributes.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_bulk_delete_response_data.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_bulk_delete_response_data_type.rb
Due: generate, format-examples

Regenerate client from commit 8b20d0c of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/metrics_api.rb
Due: generate

Regenerate client from commit 9de14f7 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/incidents/CreateIncidentPostmortemTemplate.rb
  examples/v2/incidents/DeleteIncidentPostmortemTemplate.rb
  examples/v2/incidents/GetIncidentPostmortemTemplate.rb
  examples/v2/incidents/UpdateIncidentPostmortemTemplate.rb
  features/scenarios_model_mapping.rb
  features/v2/incidents.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/incidents_api.rb
  lib/datadog_api_client/v2/models/confluence_postmortem_settings.rb
  lib/datadog_api_client/v2/models/google_docs_postmortem_settings.rb
  lib/datadog_api_client/v2/models/postmortem_template_attributes_request.rb
  lib/datadog_api_client/v2/models/postmortem_template_attributes_response.rb
  lib/datadog_api_client/v2/models/postmortem_template_create_relationships.rb
  lib/datadog_api_client/v2/models/postmortem_template_incident_type_relationship.rb
  lib/datadog_api_client/v2/models/postmortem_template_incident_type_relationship_data.rb
  lib/datadog_api_client/v2/models/postmortem_template_location.rb
  lib/datadog_api_client/v2/models/postmortem_template_response_relationships.rb
  lib/datadog_api_client/v2/models/postmortem_template_user_relationship.rb
  lib/datadog_api_client/v2/models/postmortem_template_user_relationship_data.rb
Due: generate, format-examples

Regenerate client from commit 534cb46 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Array-Processor-Key-Value-Operation-returns-OK-response.frozen
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Array-Processor-Key-Value-Operation-returns-OK-response.yml
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Array-Processor-Key-Value-Operation-with-target-and-override-on-conflict-returns-OK-response.frozen
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Array-Processor-Key-Value-Operation-with-target-and-override-on-conflict-returns-OK-response.yml
  examples/v1/logs-pipelines/CreateLogsPipeline_2595757342.rb
  examples/v1/logs-pipelines/CreateLogsPipeline_4041812833.rb
  features/v1/logs_pipelines.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/logs_array_processor.rb
  lib/datadog_api_client/v1/models/logs_array_processor_operation.rb
  lib/datadog_api_client/v1/models/logs_array_processor_operation_extract_key_value.rb
  lib/datadog_api_client/v1/models/logs_array_processor_operation_extract_key_value_type.rb
  lib/datadog_api_client/v1/models/logs_attribute_remapper.rb
Due: generate, format-examples

Regenerate client from commit d953cb9 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/service_level_objectives_api.rb
Due: generate

Regenerate client from commit 0f642af of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/metric_available_aggr_functions.rb
  lib/datadog_api_client/v2/models/metric_custom_aggregations.rb
  lib/datadog_api_client/v2/models/metric_tag_configuration_attributes.rb
  lib/datadog_api_client/v2/models/metric_tag_configuration_create_attributes.rb
  lib/datadog_api_client/v2/models/metric_tag_configuration_update_attributes.rb
Due: generate

Regenerate client from commit 2750045 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/cloud_network_monitoring_api.rb
Due: generate

Regenerate client from commit a310f76 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/llm-observability/ListLLMObsCustomEvalConfigs.rb
  examples/v2/llm-observability/UpdateLLMObsCustomEvalConfig.rb
  features/v2/llm_observability.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/llm_observability_api.rb
  lib/datadog_api_client/v2/models/llm_obs_custom_eval_config_list_response.rb
  lib/datadog_api_client/v2/models/llm_obs_custom_eval_config_llm_judge_config.rb
  lib/datadog_api_client/v2/models/llm_obs_custom_eval_config_parsing_type.rb
  lib/datadog_api_client/v2/models/llm_obs_custom_eval_config_target.rb
Due: generate, format-examples

Regenerate client from commit 0570757 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-topology-map-data-streams-widget.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-topology-map-data-streams-widget.yml
  examples/v1/dashboards/CreateDashboard_2815497946.rb
  features/v1/dashboards.feature
  features/v1/dashboards_json_payload/topology_map_widget_data_streams.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/topology_map_widget_definition.rb
  lib/datadog_api_client/v1/models/topology_map_widget_definition_data_streams.rb
  lib/datadog_api_client/v1/models/topology_map_widget_definition_service_map.rb
  lib/datadog_api_client/v1/models/topology_query_data_streams.rb
  lib/datadog_api_client/v1/models/topology_query_data_streams_data_source.rb
  lib/datadog_api_client/v1/models/topology_query_service_map.rb
  lib/datadog_api_client/v1/models/topology_query_service_map_data_source.rb
  lib/datadog_api_client/v1/models/topology_request_data_streams.rb
  lib/datadog_api_client/v1/models/topology_request_service_map.rb
Due: generate, format-examples

Regenerate client from commit 73e3f8c of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/rum-config/CreateRumConfig.rb
  examples/v2/rum-config/GetRumConfig.rb
  examples/v2/rum-config/UpdateRumConfig.rb
  features/scenarios_model_mapping.rb
  features/v2/rum_config.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/ddsql_api.rb
  lib/datadog_api_client/v2/api/rum_config_api.rb
  lib/datadog_api_client/v2/models/rum_config_attributes.rb
  lib/datadog_api_client/v2/models/rum_config_create_attributes.rb
  lib/datadog_api_client/v2/models/rum_config_create_data.rb
  lib/datadog_api_client/v2/models/rum_config_create_request.rb
  lib/datadog_api_client/v2/models/rum_config_data.rb
  lib/datadog_api_client/v2/models/rum_config_response.rb
  lib/datadog_api_client/v2/models/rum_config_type.rb
  lib/datadog_api_client/v2/models/rum_config_update_attributes.rb
  lib/datadog_api_client/v2/models/rum_config_update_data.rb
  lib/datadog_api_client/v2/models/rum_config_update_request.rb
Due: generate, format-examples

Regenerate client from commit efa610c of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/ddsql_api.rb
  lib/datadog_api_client/v2/models/ddsql_tabular_query_column.rb
Due: generate

Regenerate client from commit ad5a583 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/v2/org_connections.feature
  features/v2/synthetics_setup.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/ddsql_api.rb
  lib/datadog_api_client/v2/models/ddsql_tabular_query_column.rb
Due: generate

Regenerate client from commit 65708b6 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/ddsql_api.rb
  lib/datadog_api_client/v2/models/ddsql_tabular_query_column.rb
Due: generate

Regenerate client from commit 553a1e1 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/ddsql_api.rb
  lib/datadog_api_client/v2/models/ddsql_tabular_query_column.rb
  lib/datadog_api_client/v2/models/llm_obs_patterns_clustered_point_ref.rb
Due: generate

Regenerate client from commit d8fba38 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/ddsql_api.rb
  lib/datadog_api_client/v2/api/tag_policies_api.rb
  lib/datadog_api_client/v2/models/ddsql_tabular_query_column.rb
Due: generate

Regenerate client from commit 29c2cd6 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/rum-config/CreateRumConfig.rb
  examples/v2/rum-config/GetRumConfig.rb
  examples/v2/rum-config/UpdateRumConfig.rb
  features/scenarios_model_mapping.rb
  features/v2/rum_config.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/ddsql_api.rb
  lib/datadog_api_client/v2/api/rum_config_api.rb
  lib/datadog_api_client/v2/models/rum_config_attributes.rb
  lib/datadog_api_client/v2/models/rum_config_create_attributes.rb
  lib/datadog_api_client/v2/models/rum_config_create_data.rb
  lib/datadog_api_client/v2/models/rum_config_create_request.rb
  lib/datadog_api_client/v2/models/rum_config_data.rb
  lib/datadog_api_client/v2/models/rum_config_response.rb
  lib/datadog_api_client/v2/models/rum_config_type.rb
  lib/datadog_api_client/v2/models/rum_config_update_attributes.rb
  lib/datadog_api_client/v2/models/rum_config_update_data.rb
  lib/datadog_api_client/v2/models/rum_config_update_request.rb
Due: generate, format-examples

Regenerate client from commit a8774ee of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/llm-observability/UpsertLLMObsPatternsConfig.rb
  features/v2/llm_observability.feature
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/ddsql_api.rb
  lib/datadog_api_client/v2/models/ddsql_tabular_query_column.rb
  lib/datadog_api_client/v2/models/llm_obs_patterns_config_attributes.rb
  lib/datadog_api_client/v2/models/llm_obs_patterns_config_item.rb
  lib/datadog_api_client/v2/models/llm_obs_patterns_config_upsert_request_attributes.rb
Due: generate, format-examples

Regenerate client from commit da9d282 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/metrics/CreateHistoricalMetricsConfiguration.rb
  examples/v2/metrics/DeleteHistoricalMetricsConfiguration.rb
  examples/v2/metrics/GetHistoricalMetricsConfiguration.rb
  features/scenarios_model_mapping.rb
  features/v2/metrics.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/metrics_api.rb
  lib/datadog_api_client/v2/models/historical_metrics_configuration_attributes.rb
  lib/datadog_api_client/v2/models/historical_metrics_configuration_create_data.rb
  lib/datadog_api_client/v2/models/historical_metrics_configuration_create_request.rb
  lib/datadog_api_client/v2/models/historical_metrics_configuration_data.rb
  lib/datadog_api_client/v2/models/historical_metrics_configuration_response.rb
  lib/datadog_api_client/v2/models/historical_metrics_configuration_type.rb
Due: generate, format-examples

Regenerate client from commit 9645c47 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/filters_per_product.rb
Due: generate

Regenerate client from commit e781dea of spec repo
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 63a6d81 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_destination.rb
Due: generate

Regenerate client from commit cdbb6f8 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/v2/case_management.feature
  lib/datadog_api_client/v2/models/automation_rule_action.rb
  lib/datadog_api_client/v2/models/automation_rule_action_data.rb
  lib/datadog_api_client/v2/models/automation_rule_action_type.rb
  lib/datadog_api_client/v2/models/automation_rule_trigger.rb
  lib/datadog_api_client/v2/models/automation_rule_trigger_data.rb
  lib/datadog_api_client/v2/models/automation_rule_trigger_type.rb
Due: generate

Regenerate client from commit e72d946 of spec repo
  features/v2/org_connections.feature
Due: none

Regenerate client from commit 4c00780 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/monitors/Create-a-Data-Quality-monitor-with-sensitivity-returns-OK-response.frozen
  cassettes/features/v1/monitors/Create-a-Data-Quality-monitor-with-sensitivity-returns-OK-response.yml
  examples/v1/monitors/CreateMonitor_1532893480.rb
  features/v1/monitors.feature
  lib/datadog_api_client/v1/models/monitor_formula_and_function_data_quality_monitor_options.rb
Due: generate, format-examples

Regenerate client from commit 0a9e7fc of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/list_stream_source.rb
Due: generate

Regenerate client from commit 91bc797 of spec repo
  .generator/schemas/v1/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/v1/api/service_level_objectives_api.rb
Due: generate

Regenerate client from commit 7dcb31f of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/flaky_test_attributes.rb
  lib/datadog_api_client/v2/models/flaky_test_impact_level.rb
Due: generate

Regenerate client from commit b5460dd of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/flaky_test_attributes.rb
Due: generate
