Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

generated-features:
  name: Do not commit generated feature files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

Remove failing, outdated tests
  spec/v1/models/time_series_formula_and_function_event_query_definition_compute_spec.rb
  spec/v1/models/time_series_formula_and_function_event_query_definition_search_spec.rb
  spec/v1/models/time_series_formula_and_function_event_query_definition_spec.rb
  spec/v1/models/time_series_formula_and_function_event_query_group_by_sort_spec.rb
  spec/v1/models/time_series_formula_and_function_event_query_group_by_spec.rb
  spec/v1/models/time_series_formula_and_function_metric_query_definition_spec.rb
  spec/v1/models/time_series_formula_and_function_process_query_definition_spec.rb
Due: none

Regenerate client from commit 960dc55 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/FormulaAndFunctionEventQueryDefinition.md
  docs/v1/FormulaAndFunctionEventQueryDefinitionCompute.md
  docs/v1/FormulaAndFunctionEventQueryDefinitionSearch.md
  docs/v1/FormulaAndFunctionEventQueryGroupBy.md
  docs/v1/FormulaAndFunctionEventQueryGroupBySort.md
  docs/v1/FormulaAndFunctionMetricQueryDefinition.md
  docs/v1/FormulaAndFunctionProcessQueryDefinition.md
  docs/v1/FormulaAndFunctionQueryDefinition.md
  docs/v1/README.md
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/formula_and_function_event_query_definition.rb
  lib/datadog_api_client/v1/models/formula_and_function_event_query_definition_compute.rb
  lib/datadog_api_client/v1/models/formula_and_function_event_query_definition_search.rb
  lib/datadog_api_client/v1/models/formula_and_function_event_query_group_by.rb
  lib/datadog_api_client/v1/models/formula_and_function_event_query_group_by_sort.rb
  lib/datadog_api_client/v1/models/formula_and_function_metric_query_definition.rb
  lib/datadog_api_client/v1/models/formula_and_function_process_query_definition.rb
  lib/datadog_api_client/v1/models/formula_and_function_query_definition.rb
  spec/v1/models/formula_and_function_event_query_definition_compute_spec.rb
  spec/v1/models/formula_and_function_event_query_definition_search_spec.rb
  spec/v1/models/formula_and_function_event_query_definition_spec.rb
  spec/v1/models/formula_and_function_event_query_group_by_sort_spec.rb
  spec/v1/models/formula_and_function_event_query_group_by_spec.rb
  spec/v1/models/formula_and_function_metric_query_definition_spec.rb
  spec/v1/models/formula_and_function_process_query_definition_spec.rb
Due: generated

Test new rspec instrumentation
  Gemfile
Due: none

dev: bump ddtrace to lastest master
  Gemfile
Due: none

fix time_now_provider
  features/support/env.rb
Due: none

bump
  Gemfile
Due: none

ddtrace/auto_instrument
  Gemfile
  features/support/env.rb
  spec/spec_helper.rb
Due: none

rm Datadog.configure
  features/support/env.rb
  spec/spec_helper.rb
Due: none

Revert "bump"
  Gemfile
Due: none

dev: bump ddtrace to lastest master (#222)
  Gemfile
  features/support/env.rb
  spec/spec_helper.rb
Due: none

Enable rspec instrumentation
  features/support/env.rb
Due: none

cassettes
  cassettes/features/v2/metrics/List-Ingested-Tags-by-Metric-Name-returns-Success-response.yml
  cassettes/features/v2/metrics/List-Ingested-and-Indexed-Volumes-by-Metric-Name-returns-Success-response.yml
Due: none

enable rspec
  spec/spec_helper.rb
Due: none

rspec -> ethon in cucumber
  features/support/env.rb
Due: none

Regenerate client from commit a35be2d of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/DowntimeRecurrence.md
  lib/datadog_api_client/v1/models/downtime_recurrence.rb
Due: generated

buffer_size and flush_interval
  spec/spec_helper.rb
Due: none

Regenerate client from commit 5016587 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/TimeseriesWidgetRequest.md
  docs/v1/ToplistWidgetRequest.md
  lib/datadog_api_client/v1/models/timeseries_widget_request.rb
  lib/datadog_api_client/v1/models/toplist_widget_request.rb
Due: generated

Test new rspec instrumentation (#221)
  Gemfile
  features/support/env.rb
  spec/spec_helper.rb
Due: none

tests: wait for all traces to be send
  spec/spec_helper.rb
Due: none

tests: wait for all traces to be send (#227)
  spec/spec_helper.rb
Due: none

Regenerate client from commit ac9282d of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/QueryValueWidgetRequest.md
  lib/datadog_api_client/v1/models/query_value_widget_request.rb
Due: generated

Regenerate client from commit 46cbd6f of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  data/v2/openapi.yaml
  docs/v1/MonitorOptions.md
  features/v1/metrics.feature
  features/v2/metrics.feature
  lib/datadog_api_client/v1/models/monitor_options.rb
Due: generated, generated-features

updated cassettes
  cassettes/features/v2/metrics/List-Distinct-Metric-Volumes-by-Metric-Name-returns-Success-response.yml
  cassettes/features/v2/metrics/List-Tags-by-Metric-Name-returns-Success-response.yml
Due: none

Regenerate client from commit 12c0486 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/SyntheticsAPITest.md
  docs/v1/SyntheticsAPITestConfig.md
  docs/v1/SyntheticsAPITestType.md
  docs/v1/SyntheticsApi.md
  docs/v1/SyntheticsBrowserTest.md
  docs/v1/SyntheticsBrowserTestConfig.md
  docs/v1/SyntheticsBrowserTestType.md
  features/v1/synthetics.feature
  features/v1/undo.json
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/api/synthetics_api.rb
  lib/datadog_api_client/v1/models/synthetics_api_test.rb
  lib/datadog_api_client/v1/models/synthetics_api_test_config.rb
  lib/datadog_api_client/v1/models/synthetics_api_test_type.rb
  lib/datadog_api_client/v1/models/synthetics_browser_test.rb
  lib/datadog_api_client/v1/models/synthetics_browser_test_config.rb
  lib/datadog_api_client/v1/models/synthetics_browser_test_type.rb
  spec/v1/models/synthetics_api_test_config_spec.rb
  spec/v1/models/synthetics_api_test_spec.rb
  spec/v1/models/synthetics_api_test_type_spec.rb
  spec/v1/models/synthetics_browser_test_config_spec.rb
  spec/v1/models/synthetics_browser_test_spec.rb
  spec/v1/models/synthetics_browser_test_type_spec.rb
Due: generated, generated-features

Regenerate client from commit 0de7e0c of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/MonitorsApi.md
  lib/datadog_api_client/v1/api/monitors_api.rb
Due: generated

updated cassettes
  cassettes/features/v2/metrics/Create-a-Tag-Configuration-returns-Created-response.yml
  cassettes/features/v2/metrics/Delete-a-Tag-Configuration-returns-No-Content-response.yml
  cassettes/features/v2/metrics/List-Distinct-Metric-Volumes-by-Metric-Name-returns-Success-response.yml
  cassettes/features/v2/metrics/List-Tag-Configuration-by-Name-returns-Success-response.yml
  cassettes/features/v2/metrics/List-Tag-Configurations-returns-Success-response.yml
  cassettes/features/v2/metrics/List-Tags-by-Metric-Name-returns-Success-response.yml
  cassettes/features/v2/metrics/Update-a-Tag-Configuration-returns-OK-response.yml
Due: none

renamed cassettes
  cassettes/features/v2/metrics/Create-a-tag-configuration-returns-Created-response.yml
  cassettes/features/v2/metrics/Delete-a-tag-configuration-returns-No-Content-response.yml
  cassettes/features/v2/metrics/List-distinct-metric-volumes-by-metric-name-returns-Success-response.yml
  cassettes/features/v2/metrics/List-tag-configuration-by-name-returns-Success-response.yml
  cassettes/features/v2/metrics/List-tag-configurations-returns-Success-response.yml
  cassettes/features/v2/metrics/List-tags-by-metric-name-returns-Success-response.yml
  cassettes/features/v2/metrics/Update-a-tag-configuration-returns-OK-response.yml
Due: none

Fix rerecord
  run-tests.sh
Due: none

Add cassettes
  cassettes/features/v1/events/Post-an-event-returns-OK-response.yml
  cassettes/features/v1/metrics/Submit-metrics-returns-Payload-accepted-response.yml
  cassettes/features/v1/service_checks/Submit-a-Service-Check-returns-Payload-accepted-response.yml
Due: none

Regenerate client from commit f614243 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/SyntheticsCoreWebVitals.md
  docs/v1/SyntheticsStepDetail.md
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/synthetics_core_web_vitals.rb
  spec/v1/models/synthetics_core_web_vitals_spec.rb
Due: generated

rm old test
  spec/v1/models/synthetics_global_variable_parse_test_options_parser_spec.rb
Due: none

Regenerate client from commit 2a95fb4 of spec repo
  .apigentools-info
  data/v2/openapi.yaml
  docs/v2/MetricsApi.md
  lib/datadog_api_client/v2/api/metrics_api.rb
Due: generated

Regenerate client from commit 317577f of spec repo
  .apigentools-info
  .openapi-generator/VERSION
  lib/datadog_api_client/v1/models/change_widget_definition.rb
  lib/datadog_api_client/v1/models/distribution_widget_definition.rb
  lib/datadog_api_client/v1/models/geomap_widget_definition.rb
  lib/datadog_api_client/v1/models/heat_map_widget_definition.rb
  lib/datadog_api_client/v1/models/logs_grok_parser.rb
  lib/datadog_api_client/v1/models/metrics_query_metadata.rb
  lib/datadog_api_client/v1/models/organization.rb
  lib/datadog_api_client/v1/models/organization_create_body.rb
  lib/datadog_api_client/v1/models/query_value_widget_definition.rb
  lib/datadog_api_client/v1/models/service_map_widget_definition.rb
  lib/datadog_api_client/v1/models/timeseries_widget_definition.rb
  lib/datadog_api_client/v1/models/toplist_widget_request.rb
Due: generated

cassettes
  cassettes/features/v1/logs/Send-logs-returns-Response-from-server-always-200-empty-JSON-response.yml
Due: none

Regenerate client from commit a75da1e of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/FormulaAndFunctionEventQueryDefinition.md
  docs/v1/FormulaAndFunctionMetricQueryDefinition.md
  docs/v1/FormulaAndFunctionProcessQueryDefinition.md
  lib/datadog_api_client/v1/models/formula_and_function_event_query_definition.rb
  lib/datadog_api_client/v1/models/formula_and_function_metric_query_definition.rb
  lib/datadog_api_client/v1/models/formula_and_function_process_query_definition.rb
Due: generated

Regenerate client from commit ce24aad of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/SyntheticsAPIStep.md
  docs/v1/SyntheticsAPIStepSubtype.md
  docs/v1/SyntheticsAPITestConfig.md
  docs/v1/SyntheticsGlobalVariableParseTestOptions.md
  docs/v1/SyntheticsParsingOptions.md
  docs/v1/SyntheticsVariableParser.md
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/synthetics_api_step.rb
  lib/datadog_api_client/v1/models/synthetics_api_step_subtype.rb
  lib/datadog_api_client/v1/models/synthetics_api_test_config.rb
  lib/datadog_api_client/v1/models/synthetics_parsing_options.rb
  lib/datadog_api_client/v1/models/synthetics_variable_parser.rb
  spec/v1/models/synthetics_api_step_spec.rb
  spec/v1/models/synthetics_api_step_subtype_spec.rb
  spec/v1/models/synthetics_parsing_options_spec.rb
  spec/v1/models/synthetics_variable_parser_spec.rb
Due: generated

build: use licensed to trace 3rd party licenses
  .licensed.yml
  .licenses/bundler/ethon.dep.yml
  .licenses/bundler/ffi.dep.yml
  .licenses/bundler/typhoeus.dep.yml
  Gemfile
Due: none

Path conditions:
  generated: any of: ^lib/datadog_api_client/v[1-9].*
  generated-features: any of: ^features/v[1-9][0-9]*/.*.feature$
