Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

Regenerate client from commit 2f6b36f of spec repo
  .generator/schemas/v1/openapi.yaml
  features/v1/monitors.feature
  lib/datadog_api_client/v1/api/monitors_api.rb
  lib/datadog_api_client/v1/models/monitor_thresholds.rb
Due: generate

Regenerate client from commit 0df4222 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Always run test_integration job to satisfy required check
  .github/workflows/reusable-integration-test.yml
Due: none

Pin reusable workflow actions to full commit SHAs
  .github/workflows/reusable-examples.yml
  .github/workflows/reusable-integration-test.yml
  .github/workflows/reusable-pre-commit.yml
  .github/workflows/reusable-ruby-test.yml
Due: none

Pin post-status-check action in test.yml to full commit SHA
  .github/workflows/test.yml
Due: none

Pin reusable workflow actions to full commit SHAs (#3397)
  .github/workflows/reusable-examples.yml
  .github/workflows/reusable-integration-test.yml
  .github/workflows/reusable-pre-commit.yml
  .github/workflows/reusable-ruby-test.yml
  .github/workflows/test.yml
Due: none

Pin all remaining workflow actions to full commit SHAs
  .github/workflows/approved_status.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
  .github/workflows/stale.yml
Due: none

Pin all remaining workflow actions to full commit SHAs (#3398)
  .github/workflows/approved_status.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
  .github/workflows/stale.yml
Due: none

Regenerate client from commit 299d867 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/distribution_widget_histogram_request_query.rb
Due: generate

Regenerate client from commit 719a584 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-hostmap-infra-widget.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-hostmap-infra-widget.yml
  examples/v1/dashboards/CreateDashboard_2882802132.rb
  features/v1/dashboards.feature
  features/v1/dashboards_json_payload/hostmap_infra_widget.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/host_map_widget_definition.rb
  lib/datadog_api_client/v1/models/host_map_widget_dimension.rb
  lib/datadog_api_client/v1/models/host_map_widget_formula.rb
  lib/datadog_api_client/v1/models/host_map_widget_group_by.rb
  lib/datadog_api_client/v1/models/host_map_widget_infrastructure_request.rb
  lib/datadog_api_client/v1/models/host_map_widget_infrastructure_request_leaf.rb
  lib/datadog_api_client/v1/models/host_map_widget_infrastructure_request_request_type.rb
  lib/datadog_api_client/v1/models/host_map_widget_infrastructure_style.rb
  lib/datadog_api_client/v1/models/host_map_widget_node_type.rb
  lib/datadog_api_client/v1/models/host_map_widget_scalar_request.rb
  lib/datadog_api_client/v1/models/host_map_widget_scalar_request_response_format.rb
Due: generate, format-examples
