Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Regenerate client from commit 9df041a of spec repo
  features/v2/datasets.feature
  features/v2/org_connections.feature
  features/v2/restriction_policies.feature
Due: none

Regenerate client from commit f3ed5dd of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/azure_integration/Delete-an-Azure-integration-returns-OK-response.frozen
  cassettes/features/v1/azure_integration/Delete-an-Azure-integration-returns-OK-response.yml
  cassettes/features/v1/azure_integration/Update-an-Azure-integration-returns-OK-response.frozen
  cassettes/features/v1/azure_integration/Update-an-Azure-integration-returns-OK-response.yml
  examples/v1/azure-integration/UpdateAzureHostFilters.rb
  examples/v1/azure-integration/UpdateAzureIntegration.rb
  features/v1/azure_integration.feature
  features/v1/given.json
  lib/datadog_api_client/v1/models/azure_account.rb
Due: generate, format-examples

Regenerate client from commit edc40f8 of spec repo
  features/v2/fixtures/sourcemap_intake/android/libnative.so
  features/v2/fixtures/sourcemap_intake/android/mapping.txt
  features/v2/fixtures/sourcemap_intake/flutter/app.symbols
  features/v2/fixtures/sourcemap_intake/ios/symbols.zip
  features/v2/fixtures/sourcemap_intake/javascript/main.min.js
  features/v2/fixtures/sourcemap_intake/javascript/main.min.js.map
  features/v2/fixtures/sourcemap_intake/react_native/main.jsbundle.map
Due: none

Regenerate client from commit 2a0e5a8 of spec repo
  features/v1/usage_metering.feature
  features/v2/usage_metering.feature
Due: none

Regenerate client from commit 963b9ad of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/sankey_rum_data_source.rb
  lib/datadog_api_client/v1/models/sankey_rum_query.rb
  lib/datadog_api_client/v1/models/sankey_rum_query_mode.rb
  lib/datadog_api_client/v1/models/sankey_rum_request.rb
Due: generate

Regenerate client from commit 76d636f of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit 5d56e49 of spec repo
  cassettes/features/v2/on-call/Set-On-Call-team-routing-rules-returns-OK-response.frozen
  cassettes/features/v2/on-call/Set-On-Call-team-routing-rules-returns-OK-response.yml
  examples/v2/on-call/SetOnCallTeamRoutingRules.rb
  features/v2/on-call.feature
Due: format-examples

Regenerate client from commit d091256 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/cloudcraft_widget_definition.rb
  lib/datadog_api_client/v1/models/cloudcraft_widget_definition_overlay.rb
  lib/datadog_api_client/v1/models/cloudcraft_widget_definition_projection.rb
  lib/datadog_api_client/v1/models/cloudcraft_widget_definition_provider.rb
  lib/datadog_api_client/v1/models/cloudcraft_widget_definition_type.rb
  lib/datadog_api_client/v1/models/widget_definition.rb
Due: generate

Regenerate client from commit 198de0e of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit 55ed3f1 of spec repo
  features/v2/audit.feature
Due: none

Regenerate client from commit 37147ba of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-point-plot-widget.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-point-plot-widget.yml
  examples/v1/dashboards/CreateDashboard_2049446128.rb
  features/v1/dashboards.feature
  features/v1/dashboards_json_payload/point_plot_widget.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/data_projection_query.rb
  lib/datadog_api_client/v1/models/data_projection_request_type.rb
  lib/datadog_api_client/v1/models/point_plot_dimension.rb
  lib/datadog_api_client/v1/models/point_plot_projection.rb
  lib/datadog_api_client/v1/models/point_plot_projection_dimension.rb
  lib/datadog_api_client/v1/models/point_plot_projection_type.rb
  lib/datadog_api_client/v1/models/point_plot_widget_definition.rb
  lib/datadog_api_client/v1/models/point_plot_widget_definition_type.rb
  lib/datadog_api_client/v1/models/point_plot_widget_legend.rb
  lib/datadog_api_client/v1/models/point_plot_widget_legend_type.rb
  lib/datadog_api_client/v1/models/point_plot_widget_request.rb
  lib/datadog_api_client/v1/models/widget_definition.rb
Due: generate, format-examples

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
