Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features, licensed

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

generated-features:
  name: Do not commit generated feature files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

licensed:
  name: Licensed
  language: ruby
  language_version: system
  additional_dependencies:
  - licensed
  entry: .licenses/check.sh
  pass_filenames: false
  verbose: true

Regenerate client from commit ed4149b of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/ChargebackOrgMonth.md
  docs/v1/ChargebackSummaryCharge.md
  docs/v1/ChargebackSummaryResponse.md
  docs/v1/README.md
  docs/v1/UsageMeteringAPI.md
  features/v1/undo.json
  features/v1/usage_metering.feature
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/chargeback_org_month.rb
  lib/datadog_api_client/v1/models/chargeback_summary_charge.rb
  lib/datadog_api_client/v1/models/chargeback_summary_response.rb
  spec/v1/models/chargeback_org_month_spec.rb
  spec/v1/models/chargeback_summary_charge_spec.rb
  spec/v1/models/chargeback_summary_response_spec.rb
Due: generated, generated-features

Bump version
  lib/datadog_api_client/version.rb
Due: none

Bump version (#436)
  lib/datadog_api_client/version.rb
Due: none

Regenerate client from commit a0688a9 of spec repo
  .apigentools-info
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-an-audit-logs-query.yml
  data/v1/openapi.yaml
  docs/v1/QueryValueWidgetRequest.md
  docs/v1/TimeseriesWidgetRequest.md
  docs/v1/ToplistWidgetRequest.md
  features/v1/dashboards.feature
  lib/datadog_api_client/v1/models/formula_and_function_events_data_source.rb
  lib/datadog_api_client/v1/models/query_value_widget_request.rb
  lib/datadog_api_client/v1/models/timeseries_widget_request.rb
  lib/datadog_api_client/v1/models/toplist_widget_request.rb
Due: generated, generated-features

Regenerate client from commit 3333df2 of spec repo
  .apigentools-info
  cassettes/features/v1/dashboards/Delete-dashboards-returns-No-Content-response.yml
  data/v1/openapi.yaml
  docs/v1/DashboardBulkActionData.md
  docs/v1/DashboardBulkDeleteRequest.md
  docs/v1/DashboardResourceType.md
  docs/v1/DashboardRestoreRequest.md
  docs/v1/DashboardsAPI.md
  docs/v1/README.md
  features/v1/dashboards.feature
  features/v1/undo.json
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/api/dashboards_api.rb
  lib/datadog_api_client/v1/models/dashboard_bulk_action_data.rb
  lib/datadog_api_client/v1/models/dashboard_bulk_delete_request.rb
  lib/datadog_api_client/v1/models/dashboard_resource_type.rb
  lib/datadog_api_client/v1/models/dashboard_restore_request.rb
  spec/v1/models/dashboard_bulk_action_data_spec.rb
  spec/v1/models/dashboard_bulk_delete_request_spec.rb
  spec/v1/models/dashboard_resource_type_spec.rb
  spec/v1/models/dashboard_restore_request_spec.rb
Due: generated, generated-features

Regenerate client from commit f097d78 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/ListStreamColumn.md
  docs/v1/ListStreamColumnWidth.md
  docs/v1/ListStreamQuery.md
  docs/v1/ListStreamResponseFormat.md
  docs/v1/ListStreamSource.md
  docs/v1/ListStreamWidgetDefinition.md
  docs/v1/ListStreamWidgetDefinitionType.md
  docs/v1/ListStreamWidgetRequest.md
  docs/v1/README.md
  docs/v1/WidgetDefinition.md
  features/v1/dashboards.feature
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/list_stream_column.rb
  lib/datadog_api_client/v1/models/list_stream_column_width.rb
  lib/datadog_api_client/v1/models/list_stream_query.rb
  lib/datadog_api_client/v1/models/list_stream_response_format.rb
  lib/datadog_api_client/v1/models/list_stream_source.rb
  lib/datadog_api_client/v1/models/list_stream_widget_definition.rb
  lib/datadog_api_client/v1/models/list_stream_widget_definition_type.rb
  lib/datadog_api_client/v1/models/list_stream_widget_request.rb
  lib/datadog_api_client/v1/models/widget_definition.rb
  spec/v1/models/list_stream_column_spec.rb
  spec/v1/models/list_stream_column_width_spec.rb
  spec/v1/models/list_stream_query_spec.rb
  spec/v1/models/list_stream_response_format_spec.rb
  spec/v1/models/list_stream_source_spec.rb
  spec/v1/models/list_stream_widget_definition_spec.rb
  spec/v1/models/list_stream_widget_definition_type_spec.rb
  spec/v1/models/list_stream_widget_request_spec.rb
Due: generated, generated-features

Regenerate client from commit a499a64 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/UsageAttributionValues.md
  lib/datadog_api_client/v1/models/usage_attribution_values.rb
Due: generated

Regenerate client from commit 36f6365 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
Due: none

Regenerate client from commit 8329274 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  features/v1/logs_pipelines.feature
  lib/datadog_api_client/v1/models/logs_arithmetic_processor.rb
  lib/datadog_api_client/v1/models/logs_grok_parser.rb
Due: generated, generated-features

[Ruby] Add new Ruby versions to the Travis CI build matrix configuration (#9971)
  .generator/templates/travis.mustache
Due: none

skip-ruby
  features/support/hooks.rb
Due: none

Regenerate client from commit c0ba835 of spec repo
  .apigentools-info
  features/v1/synthetics.feature
Due: generated-features

Regenerate client from commit d44dda5 of spec repo
  .apigentools-info
  .openapi-generator/FILES
  data/v2/openapi.yaml
  docs/v2/PartialApplicationKeyResponse.md
  docs/v2/README.md
  docs/v2/ServiceAccountCreateRequest.md
  docs/v2/ServiceAccountsAPI.md
  docs/v2/UserAttributes.md
  features/v2/given.json
  features/v2/service_accounts.feature
  features/v2/undo.json
  features/v2/users.feature
  lib/datadog_api_client/v2.rb
  lib/datadog_api_client/v2/api/service_accounts_api.rb
  lib/datadog_api_client/v2/models/partial_application_key_response.rb
  lib/datadog_api_client/v2/models/service_account_create_request.rb
  spec/v2/api/service_accounts_api_spec.rb
  spec/v2/models/partial_application_key_response_spec.rb
  spec/v2/models/service_account_create_request_spec.rb
Due: generated, generated-features

Regenerate client from commit 9c185b5 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/TableWidgetRequest.md
  docs/v1/WidgetFormula.md
  lib/datadog_api_client/v1/models/table_widget_request.rb
  lib/datadog_api_client/v1/models/widget_formula.rb
Due: generated

Add explicit depend to active_support
  Gemfile
Due: licensed

Add explicit depend to active_support (#439)
  Gemfile
Due: licensed

Regenerate client from commit a4f22f3 of spec repo
  .apigentools-info
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-list-stream-widget.yml
  data/v1/openapi.yaml
  docs/v1/ListStreamColumn.md
  docs/v1/ListStreamColumnWidth.md
  docs/v1/ListStreamQuery.md
  docs/v1/ListStreamResponseFormat.md
  docs/v1/ListStreamSource.md
  docs/v1/ListStreamWidgetDefinition.md
  docs/v1/ListStreamWidgetDefinitionType.md
  docs/v1/ListStreamWidgetRequest.md
  docs/v1/README.md
  docs/v1/WidgetDefinition.md
  features/v1/dashboards.feature
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/list_stream_column.rb
  lib/datadog_api_client/v1/models/list_stream_column_width.rb
  lib/datadog_api_client/v1/models/list_stream_query.rb
  lib/datadog_api_client/v1/models/list_stream_response_format.rb
  lib/datadog_api_client/v1/models/list_stream_source.rb
  lib/datadog_api_client/v1/models/list_stream_widget_definition.rb
  lib/datadog_api_client/v1/models/list_stream_widget_definition_type.rb
  lib/datadog_api_client/v1/models/list_stream_widget_request.rb
  lib/datadog_api_client/v1/models/widget_definition.rb
  spec/v1/models/list_stream_column_spec.rb
  spec/v1/models/list_stream_column_width_spec.rb
  spec/v1/models/list_stream_query_spec.rb
  spec/v1/models/list_stream_response_format_spec.rb
  spec/v1/models/list_stream_source_spec.rb
  spec/v1/models/list_stream_widget_definition_spec.rb
  spec/v1/models/list_stream_widget_definition_type_spec.rb
  spec/v1/models/list_stream_widget_request_spec.rb
Due: generated, generated-features

Regenerate client from commit 00e20be of spec repo
  .apigentools-info
  .openapi-generator/FILES
  data/v2/openapi.yaml
  docs/v2/OrganizationsResponse.md
  docs/v2/README.md
  docs/v2/UsersAPI.md
  features/v2/users.feature
  lib/datadog_api_client/v2.rb
  lib/datadog_api_client/v2/api/users_api.rb
  lib/datadog_api_client/v2/models/organizations_response.rb
  spec/v2/models/organizations_response_spec.rb
Due: generated, generated-features

Regenerate client from commit 0b10309 of spec repo
  .apigentools-info
  features/v1/synthetics.feature
Due: generated-features

Regenerate client from commit c5118ab of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/ChargebackOrgMonth.md
  docs/v1/ChargebackSummaryCharge.md
  docs/v1/ChargebackSummaryResponse.md
  docs/v1/README.md
  docs/v1/UsageMeteringAPI.md
  features/v1/synthetics.feature
  features/v1/undo.json
  features/v1/usage_metering.feature
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/chargeback_org_month.rb
  lib/datadog_api_client/v1/models/chargeback_summary_charge.rb
  lib/datadog_api_client/v1/models/chargeback_summary_response.rb
  spec/v1/models/chargeback_org_month_spec.rb
  spec/v1/models/chargeback_summary_charge_spec.rb
  spec/v1/models/chargeback_summary_response_spec.rb
Due: generated, generated-features

tests: use latest ddtrace gem
  Gemfile
  features/support/env.rb
  spec/spec_helper.rb
Due: licensed

remove ununecessary hook
  spec/spec_helper.rb
Due: none

Use latest ddtrace gem (#449)
  Gemfile
  features/support/env.rb
  spec/spec_helper.rb
Due: licensed

Regenerate client from commit a54f925 of spec repo
  .apigentools-info
  .openapi-generator/FILES
  .openapi-generator/VERSION
  data/v1/openapi.yaml
  features/v1/synthetics.feature
Due: generated-features

Regenerate client from commit daf910e of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  features/v1/service_checks.feature
Due: generated-features

Regenerate client from commit 7d1e126 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/LogsExclusionFilter.md
  features/v1/logs_indexes.feature
  features/v1/service_checks.feature
  lib/datadog_api_client/v1/models/logs_exclusion_filter.rb
Due: generated, generated-features

Regenerate client from commit 7c70bbe of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/UsageMeteringAPI.md
  lib/datadog_api_client/v1/api/usage_metering_api.rb
Due: generated

Regenerate client from commit c6e36ca of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  features/v1/logs_pipelines.feature
  lib/datadog_api_client/v1/models/logs_arithmetic_processor.rb
  lib/datadog_api_client/v1/models/logs_grok_parser.rb
Due: generated, generated-features

Regenerate client from commit dafdffa of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/MonitorOptions.md
  features/v1/monitors.feature
  lib/datadog_api_client/v1/models/monitor_options.rb
Due: generated, generated-features

ci: use named caches for bundler
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

updated development with note about CACHE_VERSION
  DEVELOPMENT.md
Due: none

ci: use named caches for bundler (#455)
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
  DEVELOPMENT.md
Due: none

Regenerate client from commit f060367 of spec repo
  .apigentools-info
  data/v2/openapi.yaml
Due: none

Regenerate client from commit bf781b9 of spec repo
  .apigentools-info
  .openapi-generator/FILES
  cassettes/features/v2/users/Create-a-service-account-returns-OK-response.yml
  data/v2/openapi.yaml
  docs/v2/ApplicationKeyRelationships.md
  docs/v2/PartialApplicationKeyResponse.md
  docs/v2/README.md
  docs/v2/ServiceAccountCreateAttributes.md
  docs/v2/ServiceAccountCreateData.md
  docs/v2/ServiceAccountCreateRequest.md
  docs/v2/ServiceAccountsAPI.md
  docs/v2/UserAttributes.md
  docs/v2/UsersAPI.md
  features/v2/given.json
  features/v2/service_accounts.feature
  features/v2/undo.json
  features/v2/users.feature
  lib/datadog_api_client/v2.rb
  lib/datadog_api_client/v2/api/service_accounts_api.rb
  lib/datadog_api_client/v2/api/users_api.rb
  lib/datadog_api_client/v2/models/application_key_relationships.rb
  lib/datadog_api_client/v2/models/partial_application_key_response.rb
  lib/datadog_api_client/v2/models/service_account_create_attributes.rb
  lib/datadog_api_client/v2/models/service_account_create_data.rb
  lib/datadog_api_client/v2/models/service_account_create_request.rb
  spec/v2/api/service_accounts_api_spec.rb
  spec/v2/models/partial_application_key_response_spec.rb
  spec/v2/models/service_account_create_attributes_spec.rb
  spec/v2/models/service_account_create_data_spec.rb
  spec/v2/models/service_account_create_request_spec.rb
Due: generated, generated-features

Regenerate client from commit 75fd781 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  lib/datadog_api_client/v1/models/synthetics_device_id.rb
Due: generated

Regenerate client from commit 6e156e1 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/Event.md
  lib/datadog_api_client/v1/models/event.rb
Due: generated

Regenerate client from commit 772783e of spec repo
  .apigentools-info
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-a-query-value-widget-using-the-percentile-aggregator.yml
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/ScatterPlotRequest.md
  docs/v1/ScatterplotWidgetAggregator.md
  features/v1/dashboards.feature
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/formula_and_function_metric_aggregation.rb
  lib/datadog_api_client/v1/models/scatter_plot_request.rb
  lib/datadog_api_client/v1/models/scatterplot_widget_aggregator.rb
  spec/v1/models/scatterplot_widget_aggregator_spec.rb
Due: generated, generated-features

Regenerate client from commit 47465fb of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  lib/datadog_api_client/v1/models/list_stream_source.rb
Due: generated

Regenerate client from commit 692cbbb of spec repo
  .apigentools-info
  features/v1/synthetics.feature
Due: generated-features

Path conditions:
  generated: any of: ^lib/datadog_api_client/v[1-9].*
  generated-features: any of: ^features/v[1-9][0-9]*/.*.feature$
  licensed: any of: ^(.*.gemspec|Gemfile|.licensed.yml)$
