Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Regenerate client from commit 0c376cca of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/software_catalog_api.rb
Due: generate

Regenerate client from commit fe5af5dc of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/agentless_scanning/Get-AWS-On-Demand-task-by-id-returns-Bad-Request-response.frozen
  cassettes/features/v2/agentless_scanning/Get-AWS-On-Demand-task-by-id-returns-Bad-Request-response.yml
  cassettes/features/v2/agentless_scanning/Get-AWS-On-Demand-task-by-id-returns-Not-Found-response.frozen
  cassettes/features/v2/agentless_scanning/Get-AWS-On-Demand-task-by-id-returns-Not-Found-response.yml
  cassettes/features/v2/agentless_scanning/Get-AWS-On-Demand-task-by-id-returns-OK-response.frozen
  cassettes/features/v2/agentless_scanning/Get-AWS-On-Demand-task-by-id-returns-OK-response.yml
  cassettes/features/v2/agentless_scanning/Get-AWS-On-Demand-tasks-returns-OK-response.frozen
  cassettes/features/v2/agentless_scanning/Get-AWS-On-Demand-tasks-returns-OK-response.yml
  cassettes/features/v2/agentless_scanning/Post-an-AWS-on-demand-task-returns-AWS-on-demand-task-created-successfully-response.frozen
  cassettes/features/v2/agentless_scanning/Post-an-AWS-on-demand-task-returns-AWS-on-demand-task-created-successfully-response.yml
  cassettes/features/v2/agentless_scanning/Post-an-AWS-on-demand-task-returns-Bad-Request-response.frozen
  cassettes/features/v2/agentless_scanning/Post-an-AWS-on-demand-task-returns-Bad-Request-response.yml
  examples/v2/agentless-scanning/CreateAwsOnDemandTask.rb
  examples/v2/agentless-scanning/CreateAwsScanOptions.rb
  examples/v2/agentless-scanning/ListAwsOnDemandTasks.rb
  examples/v2/agentless-scanning/RetrieveAwsOnDemandTask.rb
  features/scenarios_model_mapping.rb
  features/v2/agentless_scanning.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/agentless_scanning_api.rb
  lib/datadog_api_client/v2/models/aws_on_demand_attributes.rb
  lib/datadog_api_client/v2/models/aws_on_demand_create_attributes.rb
  lib/datadog_api_client/v2/models/aws_on_demand_create_data.rb
  lib/datadog_api_client/v2/models/aws_on_demand_create_request.rb
  lib/datadog_api_client/v2/models/aws_on_demand_data.rb
  lib/datadog_api_client/v2/models/aws_on_demand_list_response.rb
  lib/datadog_api_client/v2/models/aws_on_demand_response.rb
  lib/datadog_api_client/v2/models/aws_on_demand_type.rb
  lib/datadog_api_client/v2/models/aws_scan_options_create_attributes.rb
  lib/datadog_api_client/v2/models/aws_scan_options_update_data.rb
Due: generate, format-examples

Regenerate client from commit 6105a175 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/monitor_search_result.rb
Due: generate

Regenerate client from commit 999ccee3 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit 77e81405 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/logs_archive_destination_s3.rb
  lib/datadog_api_client/v2/models/logs_archive_storage_class_s3_type.rb
Due: generate

Regenerate client from commit 9dd2b6ae of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/agentless_scanning/Post-AWS-Scan-Options-returns-Conflict-response.frozen
  cassettes/features/v2/agentless_scanning/Post-AWS-Scan-Options-returns-Conflict-response.yml
  examples/v2/agentless-scanning/GetAwsOnDemandTask.rb
  features/scenarios_model_mapping.rb
  features/v2/agentless_scanning.feature
  features/v2/undo.json
  lib/datadog_api_client/v2/api/agentless_scanning_api.rb
  lib/datadog_api_client/v2/models/aws_on_demand_create_attributes.rb
  lib/datadog_api_client/v2/models/aws_scan_options_create_attributes.rb
Due: generate, format-examples

Regenerate client from commit fb234cde of spec repo
  .apigentools-info
  features/v2/ci_visibility_pipelines.feature
  features/v2/ci_visibility_tests.feature
  features/v2/dora_metrics.feature
Due: none

Regenerate client from commit b892dbfc of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/logs-indexes/DeleteLogsIndex.rb
  features/scenarios_model_mapping.rb
  features/v1/logs_indexes.feature
  features/v1/undo.json
  lib/datadog_api_client/v1/api/logs_indexes_api.rb
Due: generate, format-examples

Regenerate client from commit cebabc73 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_query.rb
Due: generate

Regenerate client from commit 204c463a of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/observability-pipelines/CreatePipeline.rb
  examples/v2/observability-pipelines/DeletePipeline.rb
  examples/v2/observability-pipelines/GetPipeline.rb
  examples/v2/observability-pipelines/ListPipelines.rb
  examples/v2/observability-pipelines/UpdatePipeline.rb
  features/scenarios_model_mapping.rb
  features/v2/observability_pipelines.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/observability_pipelines_api.rb
  lib/datadog_api_client/v2/models/datadog_agent_source.rb
  lib/datadog_api_client/v2/models/datadog_agent_source_type.rb
  lib/datadog_api_client/v2/models/datadog_logs_destination.rb
  lib/datadog_api_client/v2/models/datadog_logs_destination_type.rb
  lib/datadog_api_client/v2/models/filter_processor.rb
  lib/datadog_api_client/v2/models/filter_processor_type.rb
  lib/datadog_api_client/v2/models/pipeline.rb
  lib/datadog_api_client/v2/models/pipeline_data.rb
  lib/datadog_api_client/v2/models/pipeline_data_attributes.rb
  lib/datadog_api_client/v2/models/pipeline_data_attributes_config.rb
  lib/datadog_api_client/v2/models/pipeline_data_attributes_config_destinations_item.rb
  lib/datadog_api_client/v2/models/pipeline_data_attributes_config_processors_item.rb
  lib/datadog_api_client/v2/models/pipeline_data_attributes_config_sources_item.rb
  lib/datadog_api_client/v2/models/tls.rb
Due: generate, format-examples

Regenerate client from commit ee812008 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/observability-pipelines/CreatePipeline.rb
  examples/v2/observability-pipelines/DeletePipeline.rb
  examples/v2/observability-pipelines/GetPipeline.rb
  examples/v2/observability-pipelines/ListPipelines.rb
  examples/v2/observability-pipelines/UpdatePipeline.rb
  features/scenarios_model_mapping.rb
  features/v2/observability_pipelines.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/observability_pipelines_api.rb
  lib/datadog_api_client/v2/models/datadog_agent_source.rb
  lib/datadog_api_client/v2/models/datadog_agent_source_type.rb
  lib/datadog_api_client/v2/models/datadog_logs_destination.rb
  lib/datadog_api_client/v2/models/datadog_logs_destination_type.rb
  lib/datadog_api_client/v2/models/filter_processor.rb
  lib/datadog_api_client/v2/models/filter_processor_type.rb
  lib/datadog_api_client/v2/models/parse_json_processor.rb
  lib/datadog_api_client/v2/models/parse_json_processor_type.rb
  lib/datadog_api_client/v2/models/pipeline.rb
  lib/datadog_api_client/v2/models/pipeline_data.rb
  lib/datadog_api_client/v2/models/pipeline_data_attributes.rb
  lib/datadog_api_client/v2/models/pipeline_data_attributes_config.rb
  lib/datadog_api_client/v2/models/pipeline_data_attributes_config_destinations_item.rb
  lib/datadog_api_client/v2/models/pipeline_data_attributes_config_processors_item.rb
  lib/datadog_api_client/v2/models/pipeline_data_attributes_config_sources_item.rb
  lib/datadog_api_client/v2/models/tls.rb
Due: generate, format-examples

Regenerate client from commit 7d0b49f6 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/logs_archive_destination_s3.rb
  lib/datadog_api_client/v2/models/logs_archive_storage_class_s3_type.rb
Due: generate

Regenerate client from commit 04a593ef of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/v2/rum_retention_filters.feature
  lib/datadog_api_client/v2/api/rum_retention_filters_api.rb
  lib/datadog_api_client/v2/models/rum_retention_filter_meta.rb
  lib/datadog_api_client/v2/models/rum_retention_filter_source.rb
  lib/datadog_api_client/v2/models/rum_retention_filters_order_request.rb
  lib/datadog_api_client/v2/models/rum_retention_filters_response.rb
Due: generate

Regenerate client from commit d7618fa5 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/logs_indexes_api.rb
Due: generate

Bump datadog_api_client to 2.31.0
  lib/datadog_api_client/version.rb
Due: generate

Bump datadog_api_client to 2.31.0.dev.1
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit baf04a80 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/rum_retention_filters/Create-a-RUM-retention-filter-returns-Created-response.yml
  cassettes/features/v2/rum_retention_filters/Get-a-RUM-retention-filter-returns-OK-response.yml
  cassettes/features/v2/rum_retention_filters/Get-all-RUM-retention-filters-returns-OK-response.yml
  cassettes/features/v2/rum_retention_filters/Update-a-RUM-retention-filter-returns-Updated-response.yml
  examples/v2/rum-retention-filters/CreateRetentionFilter.rb
  features/v2/rum_retention_filters.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/rum_retention_filters_api.rb
  lib/datadog_api_client/v2/models/rum_retention_filter_create_data.rb
  lib/datadog_api_client/v2/models/rum_retention_filter_data.rb
  lib/datadog_api_client/v2/models/rum_retention_filter_meta.rb
  lib/datadog_api_client/v2/models/rum_retention_filter_source.rb
  lib/datadog_api_client/v2/models/rum_retention_filter_update_data.rb
  lib/datadog_api_client/v2/models/rum_retention_filters_order_request.rb
  lib/datadog_api_client/v2/models/rum_retention_filters_response.rb
Due: generate, format-examples

Bump datadog_api_client to 2.31.1
  lib/datadog_api_client/version.rb
Due: generate

Bump datadog_api_client to 2.31.1.dev.1
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit a1fc1148 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_data_source.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_query.rb
Due: generate

Regenerate client from commit 4d0afa07 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit f64c1d75 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit 0b493f09 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/restriction_policies_api.rb
Due: generate

Regenerate client from commit 899883be of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/downtimes_api.rb
Due: generate

Regenerate client from commit 31302d2f of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/historical_job_query.rb
Due: generate

Regenerate client from commit f73f9d61 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/historical_job_query.rb
Due: generate

Regenerate client from commit 29344bf2 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/service-definition/CreateOrUpdateServiceDefinitions.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/historical_job_query.rb
  lib/datadog_api_client/v2/models/service_definition_v2_dot2.rb
  lib/datadog_api_client/v2/models/service_definition_v2_dot2_type.rb
Due: generate, format-examples

Regenerate client from commit 2dfddc18 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  features/v1/downtimes.feature
  features/v1/monitors.feature
  lib/datadog_api_client/v1/api/monitors_api.rb
Due: generate

Regenerate client from commit 2738500d of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  features/v1/downtimes.feature
  features/v1/monitors.feature
  lib/datadog_api_client/v1/api/monitors_api.rb
Due: generate

Regenerate client from commit e200de64 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  features/v1/downtimes.feature
  features/v1/monitors.feature
  lib/datadog_api_client/v1/api/monitors_api.rb
Due: generate

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
