Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Regenerate client from commit 8d7f5d1 of spec repo
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 401807f of spec repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  features/v1/gcp_integration.feature
  features/v2/gcp_integration.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/gcp_account.rb
  lib/datadog_api_client/v1/models/gcp_monitored_resource_config.rb
  lib/datadog_api_client/v1/models/gcp_monitored_resource_config_type.rb
  lib/datadog_api_client/v2/models/gcp_monitored_resource_config.rb
  lib/datadog_api_client/v2/models/gcp_monitored_resource_config_type.rb
  lib/datadog_api_client/v2/models/gcpsts_service_account_attributes.rb
Due: generate

Regenerate client from commit cd43b6e of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/observability_pipeline_add_env_vars_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_add_fields_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_custom_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_datadog_tags_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_dedupe_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_enrichment_table_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_filter_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_generate_metrics_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_ocsf_mapper_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_parse_grok_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_parse_json_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_quota_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_reduce_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_remove_fields_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_rename_fields_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_sample_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_sensitive_data_scanner_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_throttle_processor.rb
Due: generate

Regenerate client from commit 9fd1d93 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_source_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_opentelemetry_source.rb
  lib/datadog_api_client/v2/models/observability_pipeline_opentelemetry_source_type.rb
Due: generate

Regenerate client from commit 8548980 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/dora_failure_request_attributes.rb
Due: generate

Regenerate client from commit 02b02a3 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/key_management/Get-API-key-returns-Not-Found-response.frozen
  cassettes/features/v2/key_management/Get-API-key-returns-Not-Found-response.yml
  cassettes/features/v2/key_management/Get-API-key-returns-OK-response.frozen
  cassettes/features/v2/key_management/Get-API-key-returns-OK-response.yml
  cassettes/features/v2/key_management/Get-all-API-keys-returns-OK-response.frozen
  cassettes/features/v2/key_management/Get-all-API-keys-returns-OK-response.yml
  cassettes/features/v2/key_management/Get-all-application-keys-owned-by-current-user-returns-OK-response.frozen
  cassettes/features/v2/key_management/Get-all-application-keys-owned-by-current-user-returns-OK-response.yml
  cassettes/features/v2/key_management/Get-all-application-keys-returns-OK-response.frozen
  cassettes/features/v2/key_management/Get-all-application-keys-returns-OK-response.yml
  cassettes/features/v2/key_management/Get-an-application-key-returns-Not-Found-response.frozen
  cassettes/features/v2/key_management/Get-an-application-key-returns-Not-Found-response.yml
  cassettes/features/v2/key_management/Get-an-application-key-returns-OK-response.frozen
  cassettes/features/v2/key_management/Get-an-application-key-returns-OK-response.yml
  cassettes/features/v2/key_management/Get-one-Application-key-owned-by-current-user-returns-OK-response.frozen
  cassettes/features/v2/key_management/Get-one-Application-key-owned-by-current-user-returns-OK-response.yml
  cassettes/features/v2/key_management/Get-one-application-key-owned-by-current-user-returns-Not-Found-response.frozen
  cassettes/features/v2/key_management/Get-one-application-key-owned-by-current-user-returns-Not-Found-response.yml
  cassettes/features/v2/key_management/Get-one-application-key-owned-by-current-user-returns-OK-response.frozen
  cassettes/features/v2/key_management/Get-one-application-key-owned-by-current-user-returns-OK-response.yml
  examples/v2/key-management/GetCurrentUserApplicationKey.rb
  features/v2/key_management.feature
  lib/datadog_api_client/v2/models/full_api_key_attributes.rb
  lib/datadog_api_client/v2/models/full_application_key_attributes.rb
  lib/datadog_api_client/v2/models/partial_api_key_attributes.rb
  lib/datadog_api_client/v2/models/partial_application_key_attributes.rb
Due: generate, format-examples

Regenerate client from commit ed6e2be of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/ci_visibility_pipelines/Send-several-pipeline-events-returns-Request-accepted-for-processing-response.frozen
  cassettes/features/v2/ci_visibility_pipelines/Send-several-pipeline-events-returns-Request-accepted-for-processing-response.yml
  examples/v2/ci-visibility-pipelines/CreateCIAppPipelineEvent_2836340212.rb
  features/v2/ci_visibility_pipelines.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/ci_visibility_pipelines_api.rb
  lib/datadog_api_client/v2/models/ci_app_create_pipeline_event_request.rb
  lib/datadog_api_client/v2/models/ci_app_create_pipeline_event_request_data_single_or_array.rb
Due: generate, format-examples

Regenerate client from commit b06b265 of spec repo
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 6742c14 of spec repo
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit 25e6f51 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/test_optimization/Search-flaky-tests-returns-Bad-Request-response-with-invalid-limit.frozen
  cassettes/features/v2/test_optimization/Search-flaky-tests-returns-Bad-Request-response-with-invalid-limit.yml
  cassettes/features/v2/test_optimization/Search-flaky-tests-returns-OK-response-with-filtered-query.frozen
  cassettes/features/v2/test_optimization/Search-flaky-tests-returns-OK-response-with-filtered-query.yml
  cassettes/features/v2/test_optimization/Search-flaky-tests-returns-OK-response-with-specific-cursor.frozen
  cassettes/features/v2/test_optimization/Search-flaky-tests-returns-OK-response-with-specific-cursor.yml
  examples/v2/test-optimization/SearchFlakyTests.rb
  examples/v2/test-optimization/SearchFlakyTests_2665223746.rb
  examples/v2/test-optimization/SearchFlakyTests_3039631009.rb
  examples/v2/test-optimization/SearchFlakyTests_3833010053.rb
  features/scenarios_model_mapping.rb
  features/v2/test_optimization.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/test_optimization_api.rb
  lib/datadog_api_client/v2/models/flaky_test.rb
  lib/datadog_api_client/v2/models/flaky_test_attributes.rb
  lib/datadog_api_client/v2/models/flaky_test_attributes_flaky_state.rb
  lib/datadog_api_client/v2/models/flaky_test_pipeline_stats.rb
  lib/datadog_api_client/v2/models/flaky_test_run_metadata.rb
  lib/datadog_api_client/v2/models/flaky_test_stats.rb
  lib/datadog_api_client/v2/models/flaky_test_type.rb
  lib/datadog_api_client/v2/models/flaky_tests_pagination.rb
  lib/datadog_api_client/v2/models/flaky_tests_search_filter.rb
  lib/datadog_api_client/v2/models/flaky_tests_search_page_options.rb
  lib/datadog_api_client/v2/models/flaky_tests_search_request.rb
  lib/datadog_api_client/v2/models/flaky_tests_search_request_attributes.rb
  lib/datadog_api_client/v2/models/flaky_tests_search_request_data.rb
  lib/datadog_api_client/v2/models/flaky_tests_search_request_data_type.rb
  lib/datadog_api_client/v2/models/flaky_tests_search_response.rb
  lib/datadog_api_client/v2/models/flaky_tests_search_response_meta.rb
  lib/datadog_api_client/v2/models/flaky_tests_search_sort.rb
Due: generate, format-examples

Regenerate client from commit b74a2d7 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/security_monitoring_rule_convert_response.rb
Due: generate

Regenerate client from commit f93c9c2 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Create-a-detection-rule-with-detection-method-sequence-detection-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Create-a-detection-rule-with-detection-method-sequence-detection-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Validate-a-detection-rule-with-detection-method-sequence-detection-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Validate-a-detection-rule-with-detection-method-sequence-detection-returns-OK-response.yml
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_2899714190.rb
  examples/v2/security-monitoring/ValidateSecurityMonitoringRule_4152369508.rb
  features/v2/security_monitoring.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/historical_job_options.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_detection_method.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_options.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_sequence_detection_options.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_sequence_detection_step.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_sequence_detection_step_transition.rb
Due: generate, format-examples

Regenerate client from commit 9b77381 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/v2/api/org_connections_api.rb
Due: generate

Bump versions and add changelog entries.
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit 6876f24 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_source_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_opentelemetry_source.rb
  lib/datadog_api_client/v2/models/observability_pipeline_opentelemetry_source_type.rb
Due: generate

Regenerate client from commit cf60976 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/account_filtering_config.rb
  lib/datadog_api_client/v2/models/aws_cur_config_attributes.rb
  lib/datadog_api_client/v2/models/aws_cur_config_patch_request_attributes.rb
  lib/datadog_api_client/v2/models/aws_cur_config_post_request_attributes.rb
Due: generate

Regenerate client from commit a103d46 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/authn_mappings_api.rb
  lib/datadog_api_client/v2/api/case_management_api.rb
  lib/datadog_api_client/v2/api/incident_services_api.rb
  lib/datadog_api_client/v2/api/incident_teams_api.rb
  lib/datadog_api_client/v2/api/incidents_api.rb
  lib/datadog_api_client/v2/api/key_management_api.rb
  lib/datadog_api_client/v2/api/network_device_monitoring_api.rb
  lib/datadog_api_client/v2/api/observability_pipelines_api.rb
  lib/datadog_api_client/v2/api/roles_api.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/api/service_accounts_api.rb
  lib/datadog_api_client/v2/api/service_definition_api.rb
  lib/datadog_api_client/v2/api/service_scorecards_api.rb
  lib/datadog_api_client/v2/api/teams_api.rb
  lib/datadog_api_client/v2/api/users_api.rb
  lib/datadog_api_client/v2/api/workflow_automation_api.rb
Due: generate

Regenerate client from commit dc017e6 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/cloud_workload_security_agent_rule_action_hash.rb
Due: generate

Regenerate client from commit 9a71e9d of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/incidents/Create-an-incident-impact-returns-Bad-Request-response.frozen
  cassettes/features/v2/incidents/Create-an-incident-impact-returns-Bad-Request-response.yml
  cassettes/features/v2/incidents/Create-an-incident-impact-returns-CREATED-response.frozen
  cassettes/features/v2/incidents/Create-an-incident-impact-returns-CREATED-response.yml
  cassettes/features/v2/incidents/Create-an-incident-impact-returns-Not-Found-response.frozen
  cassettes/features/v2/incidents/Create-an-incident-impact-returns-Not-Found-response.yml
  cassettes/features/v2/incidents/Delete-an-incident-impact-returns-No-Content-response.frozen
  cassettes/features/v2/incidents/Delete-an-incident-impact-returns-No-Content-response.yml
  cassettes/features/v2/incidents/Delete-an-incident-impact-returns-Not-Found-response-different-invalid-IDs-.frozen
  cassettes/features/v2/incidents/Delete-an-incident-impact-returns-Not-Found-response-different-invalid-IDs-.yml
  cassettes/features/v2/incidents/Delete-an-incident-impact-returns-Not-Found-response-invalid-incident-and-impact-.frozen
  cassettes/features/v2/incidents/Delete-an-incident-impact-returns-Not-Found-response-invalid-incident-and-impact-.yml
  cassettes/features/v2/incidents/Delete-an-incident-impact-returns-Not-Found-response.frozen
  cassettes/features/v2/incidents/Delete-an-incident-impact-returns-Not-Found-response.yml
  cassettes/features/v2/incidents/List-an-incident-s-impacts-returns-OK-response.frozen
  cassettes/features/v2/incidents/List-an-incident-s-impacts-returns-OK-response.yml
  examples/v2/incidents/CreateIncidentImpact.rb
  examples/v2/incidents/DeleteIncidentImpact.rb
  examples/v2/incidents/ListIncidentImpacts.rb
  features/scenarios_model_mapping.rb
  features/v2/given.json
  features/v2/incidents.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/incidents_api.rb
  lib/datadog_api_client/v2/models/incident_impact_attributes.rb
  lib/datadog_api_client/v2/models/incident_impact_create_attributes.rb
  lib/datadog_api_client/v2/models/incident_impact_create_data.rb
  lib/datadog_api_client/v2/models/incident_impact_create_request.rb
  lib/datadog_api_client/v2/models/incident_impact_related_object.rb
  lib/datadog_api_client/v2/models/incident_impact_relationships.rb
  lib/datadog_api_client/v2/models/incident_impact_response.rb
  lib/datadog_api_client/v2/models/incident_impact_response_data.rb
  lib/datadog_api_client/v2/models/incident_impact_type.rb
  lib/datadog_api_client/v2/models/incident_impacts_response.rb
  lib/datadog_api_client/v2/models/incident_response_attributes.rb
  lib/datadog_api_client/v2/models/relationship_to_incident.rb
  lib/datadog_api_client/v2/models/relationship_to_incident_data.rb
Due: generate, format-examples

Regenerate client from commit 21cedaf of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/aws_integration/Get-AWS-integration-standard-IAM-permissions-returns-AWS-IAM-Permissions-object-response.frozen
  cassettes/features/v2/aws_integration/Get-AWS-integration-standard-IAM-permissions-returns-AWS-IAM-Permissions-object-response.yml
  cassettes/features/v2/aws_integration/Get-resource-collection-IAM-permissions-returns-AWS-IAM-Permissions-object-response.frozen
  cassettes/features/v2/aws_integration/Get-resource-collection-IAM-permissions-returns-AWS-IAM-Permissions-object-response.yml
  examples/v2/aws-integration/GetAWSIntegrationIAMPermissionsResourceCollection.rb
  examples/v2/aws-integration/GetAWSIntegrationIAMPermissionsResourceCollection_1008672547.rb
  examples/v2/aws-integration/GetAWSIntegrationIAMPermissionsStandard.rb
  examples/v2/aws-integration/GetAWSIntegrationIAMPermissionsStandard_3136299151.rb
  features/v2/aws_integration.feature
  features/v2/undo.json
  lib/datadog_api_client/v2/api/aws_integration_api.rb
Due: generate, format-examples

run pure json
  .github/workflows/test.yml
Due: none

Revert "run pure json"
  .github/workflows/test.yml
Due: none

add rubyopt
  .github/workflows/test.yml
Due: none

Regenerate client from commit bd15e41 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_source_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_opentelemetry_source.rb
  lib/datadog_api_client/v2/models/observability_pipeline_opentelemetry_source_type.rb
Due: generate

Regenerate client from commit 2c44bb3 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_destination_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_google_pub_sub_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_google_pub_sub_destination_encoding.rb
  lib/datadog_api_client/v2/models/observability_pipeline_google_pub_sub_destination_type.rb
Due: generate

Regenerate client from commit 491097e of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/key_management/Get-API-key-returns-Not-Found-response.frozen
  cassettes/features/v2/key_management/Get-API-key-returns-Not-Found-response.yml
  cassettes/features/v2/key_management/Get-API-key-returns-OK-response.frozen
  cassettes/features/v2/key_management/Get-API-key-returns-OK-response.yml
  cassettes/features/v2/key_management/Get-all-API-keys-returns-OK-response.frozen
  cassettes/features/v2/key_management/Get-all-API-keys-returns-OK-response.yml
  cassettes/features/v2/key_management/Get-all-application-keys-owned-by-current-user-returns-OK-response.frozen
  cassettes/features/v2/key_management/Get-all-application-keys-owned-by-current-user-returns-OK-response.yml
  cassettes/features/v2/key_management/Get-all-application-keys-returns-OK-response.frozen
  cassettes/features/v2/key_management/Get-all-application-keys-returns-OK-response.yml
  cassettes/features/v2/key_management/Get-an-application-key-returns-Not-Found-response.frozen
  cassettes/features/v2/key_management/Get-an-application-key-returns-Not-Found-response.yml
  cassettes/features/v2/key_management/Get-an-application-key-returns-OK-response.frozen
  cassettes/features/v2/key_management/Get-an-application-key-returns-OK-response.yml
  cassettes/features/v2/key_management/Get-one-Application-key-owned-by-current-user-returns-OK-response.frozen
  cassettes/features/v2/key_management/Get-one-Application-key-owned-by-current-user-returns-OK-response.yml
  cassettes/features/v2/key_management/Get-one-application-key-owned-by-current-user-returns-Not-Found-response.frozen
  cassettes/features/v2/key_management/Get-one-application-key-owned-by-current-user-returns-Not-Found-response.yml
  cassettes/features/v2/key_management/Get-one-application-key-owned-by-current-user-returns-OK-response.frozen
  cassettes/features/v2/key_management/Get-one-application-key-owned-by-current-user-returns-OK-response.yml
  examples/v2/key-management/GetCurrentUserApplicationKey.rb
  features/v2/key_management.feature
  lib/datadog_api_client/v2/models/full_api_key_attributes.rb
  lib/datadog_api_client/v2/models/full_application_key_attributes.rb
  lib/datadog_api_client/v2/models/partial_api_key_attributes.rb
  lib/datadog_api_client/v2/models/partial_application_key_attributes.rb
Due: generate, format-examples

Regenerate client from commit 7404a29 of spec repo
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 0198c53 of spec repo
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit be9443f of spec repo
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 715f1f5 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/azure_account.rb
Due: generate

Regenerate client from commit 9080ceb of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/ci_visibility_pipelines_api.rb
Due: generate

Regenerate client from commit 3584508 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/dora-metrics/DeleteDORADeployment.rb
  examples/v2/dora-metrics/DeleteDORAFailure.rb
  features/scenarios_model_mapping.rb
  features/v2/dora_metrics.feature
  features/v2/undo.json
  lib/datadog_api_client/v2/api/dora_metrics_api.rb
Due: generate, format-examples

Make Ruby test workflow reusable
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-examples.yml
  .github/workflows/reusable-integration-test.yml
  .github/workflows/reusable-pre-commit.yml
  .github/workflows/reusable-ruby-test.yml
  .github/workflows/test.yml
Due: none

Make Ruby test workflow reusable (#2653)
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-examples.yml
  .github/workflows/reusable-integration-test.yml
  .github/workflows/reusable-pre-commit.yml
  .github/workflows/reusable-ruby-test.yml
  .github/workflows/test.yml
Due: none

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
