Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Regenerate client from commit 6b226d3 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/synthetics_test_options.rb
  lib/datadog_api_client/v1/models/synthetics_test_request.rb
Due: generate

Regenerate client from commit 1ccfcc6 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-topology-map-data-streams-widget.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-topology-map-data-streams-widget.yml
  examples/v1/dashboards/CreateDashboard_2815497946.rb
  features/v1/dashboards.feature
  features/v1/dashboards_json_payload/topology_map_widget_data_streams.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/topology_map_widget_definition.rb
  lib/datadog_api_client/v1/models/topology_map_widget_definition_data_streams.rb
  lib/datadog_api_client/v1/models/topology_map_widget_definition_service_map.rb
  lib/datadog_api_client/v1/models/topology_query_data_streams.rb
  lib/datadog_api_client/v1/models/topology_query_data_streams_data_source.rb
  lib/datadog_api_client/v1/models/topology_query_service_map.rb
  lib/datadog_api_client/v1/models/topology_query_service_map_data_source.rb
  lib/datadog_api_client/v1/models/topology_request_data_streams.rb
  lib/datadog_api_client/v1/models/topology_request_service_map.rb
Due: generate, format-examples

Regenerate client from commit 09cb5b9 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-a-live-default-timeframe-returns-OK-response.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-a-live-default-timeframe-returns-OK-response.yml
  examples/v1/dashboards/CreateDashboard_4032568083.rb
  features/v1/dashboards.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/dashboard.rb
  lib/datadog_api_client/v1/models/dashboard_default_timeframe_setting.rb
  lib/datadog_api_client/v1/models/dashboard_fixed_timeframe.rb
  lib/datadog_api_client/v1/models/dashboard_fixed_timeframe_type.rb
  lib/datadog_api_client/v1/models/dashboard_live_timeframe.rb
  lib/datadog_api_client/v1/models/dashboard_live_timeframe_type.rb
Due: generate, format-examples

test: use generated BDD test artifacts
  DEVELOPMENT.md
  features/generated/test-runner-data/manifest.json
  features/generated/test-runner-data/v2/action-connection/create-a-new-action-connection-returns-bad-request-response.json
  features/generated/test-runner-data/v2/action-connection/create-a-new-action-connection-returns-successfully-created-action-connection-response.json
  features/generated/test-runner-data/v2/action-connection/delete-an-existing-action-connection-returns-not-found-response.json
  features/generated/test-runner-data/v2/action-connection/delete-an-existing-action-connection-returns-the-resource-was-deleted-successfully-response.json
  features/generated/test-runner-data/v2/action-connection/get-an-existing-action-connection-returns-bad-request-response.json
  features/generated/test-runner-data/v2/action-connection/get-an-existing-action-connection-returns-not-found-response.json
  features/generated/test-runner-data/v2/action-connection/get-an-existing-action-connection-returns-successfully-get-action-connection-response.json
  features/generated/test-runner-data/v2/action-connection/get-an-existing-app-key-registration-returns-bad-request-response.json
  features/generated/test-runner-data/v2/action-connection/get-an-existing-app-key-registration-returns-not-found-response.json
  features/generated/test-runner-data/v2/action-connection/get-an-existing-app-key-registration-returns-ok-response.json
  features/generated/test-runner-data/v2/action-connection/list-app-key-registrations-returns-bad-request-response.json
  features/generated/test-runner-data/v2/action-connection/list-app-key-registrations-returns-ok-response.json
  features/generated/test-runner-data/v2/action-connection/register-a-new-app-key-returns-bad-request-response.json
  features/generated/test-runner-data/v2/action-connection/register-a-new-app-key-returns-created-response.json
  features/generated/test-runner-data/v2/action-connection/unregister-an-app-key-returns-bad-request-response.json
  features/generated/test-runner-data/v2/action-connection/unregister-an-app-key-returns-no-content-response.json
  features/generated/test-runner-data/v2/action-connection/unregister-an-app-key-returns-not-found-response.json
  features/generated/test-runner-data/v2/action-connection/update-an-existing-action-connection-returns-bad-request-response.json
  features/generated/test-runner-data/v2/action-connection/update-an-existing-action-connection-returns-not-found-response.json
  features/generated/test-runner-data/v2/action-connection/update-an-existing-action-connection-returns-successfully-updated-action-connection-response.json
  features/generated/test-server
  features/generated/test-server-data/manifest.json
  features/generated/test-server-data/v2/action-connection.json
  features/step_definitions/request.rb
  features/support/hooks.rb
  features/support/test_runner.rb
  run-bdd-tests.sh
Due: none

Regenerate client from commit 715b041 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Array-Processor-Key-Value-Operation-returns-OK-response.frozen
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Array-Processor-Key-Value-Operation-returns-OK-response.yml
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Array-Processor-Key-Value-Operation-with-target-and-override-on-conflict-returns-OK-response.frozen
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Array-Processor-Key-Value-Operation-with-target-and-override-on-conflict-returns-OK-response.yml
  examples/v1/logs-pipelines/CreateLogsPipeline_2595757342.rb
  examples/v1/logs-pipelines/CreateLogsPipeline_4041812833.rb
  features/v1/logs_pipelines.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/logs_array_processor.rb
  lib/datadog_api_client/v1/models/logs_array_processor_operation.rb
  lib/datadog_api_client/v1/models/logs_array_processor_operation_extract_key_value.rb
  lib/datadog_api_client/v1/models/logs_array_processor_operation_extract_key_value_type.rb
  lib/datadog_api_client/v1/models/logs_attribute_remapper.rb
Due: generate, format-examples

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
