Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features, licensed

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generated
    name: Do not commit generated files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^lib/datadog_api_client/v[1-9].*'
    verbose: true
  - id: generated-features
    name: Do not commit generated feature files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^features/v[1-9][0-9]*/.*.feature$'
    verbose: true
  - id: licensed
    name: Licensed
    language: ruby
    language_version: system
    additional_dependencies:
      - licensed
    entry: .licenses/check.sh
    pass_filenames: false
    files: "^(.*.gemspec|Gemfile|.licensed.yml)$"
    verbose: true

Regenerate client from commit b2e3154 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/SyntheticsTestOptions.md
  lib/datadog_api_client/v1/models/synthetics_test_options.rb
Due: generated

Add cassettes
  cassettes/features/v1/notebooks/Create-a-notebook-returns-OK-response.yml
  cassettes/features/v1/notebooks/Delete-a-notebook-returns-Bad-Request-response.yml
  cassettes/features/v1/notebooks/Delete-a-notebook-returns-Not-Found-response.yml
  cassettes/features/v1/notebooks/Get-a-notebook-returns-OK-response.yml
Due: none

Regenerate client from commit 52e5730 of spec repo
  .apigentools-info
  data/v2/openapi.yaml
  lib/datadog_api_client/v2/models/security_monitoring_rule_detection_method.rb
Due: generated

Regenerate client from commit dcadb1c of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/LogsByRetention.md
  docs/v1/LogsByRetentionMonthlyUsage.md
  docs/v1/LogsByRetentionOrgUsage.md
  docs/v1/LogsByRetentionOrgs.md
  docs/v1/LogsRetentionAggSumUsage.md
  docs/v1/LogsRetentionSumUsage.md
  docs/v1/README.md
  docs/v1/UsageLogsByRetentionHour.md
  docs/v1/UsageLogsByRetentionResponse.md
  docs/v1/UsageMeteringAPI.md
  docs/v1/UsageSummaryResponse.md
  features/v1/undo.json
  features/v1/usage_metering.feature
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/logs_by_retention.rb
  lib/datadog_api_client/v1/models/logs_by_retention_monthly_usage.rb
  lib/datadog_api_client/v1/models/logs_by_retention_org_usage.rb
  lib/datadog_api_client/v1/models/logs_by_retention_orgs.rb
  lib/datadog_api_client/v1/models/logs_retention_agg_sum_usage.rb
  lib/datadog_api_client/v1/models/logs_retention_sum_usage.rb
  lib/datadog_api_client/v1/models/usage_logs_by_retention_hour.rb
  lib/datadog_api_client/v1/models/usage_logs_by_retention_response.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
  spec/v1/models/logs_by_retention_monthly_usage_spec.rb
  spec/v1/models/logs_by_retention_org_usage_spec.rb
  spec/v1/models/logs_by_retention_orgs_spec.rb
  spec/v1/models/logs_by_retention_spec.rb
  spec/v1/models/logs_retention_agg_sum_usage_spec.rb
  spec/v1/models/logs_retention_sum_usage_spec.rb
  spec/v1/models/usage_logs_by_retention_hour_spec.rb
  spec/v1/models/usage_logs_by_retention_response_spec.rb
Due: generated, generated-features

Regenerate client from commit b9a2b4b of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/SyntheticsTestConfig.md
  features/v1/synthetics.feature
  lib/datadog_api_client/v1/models/synthetics_test_config.rb
  lib/datadog_api_client/v1/models/synthetics_tick_interval.rb
Due: generated, generated-features

Regenerate client from commit 8176bfc of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  features/v1/service_level_objective_corrections.feature
Due: generated-features

Regenerate client from commit 8d8238a of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/UsageAttributionSupportedMetrics.md
  docs/v1/UsageMeteringAPI.md
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/usage_attribution_supported_metrics.rb
  spec/v1/models/usage_attribution_supported_metrics_spec.rb
Due: generated

Add cassettes
  cassettes/features/v1/notebooks/Delete-a-notebook-returns-Bad-Request-response.yml
  cassettes/features/v1/notebooks/Delete-a-notebook-returns-OK-response.yml
  cassettes/features/v1/notebooks/Get-all-notebooks-returns-OK-response.yml
  cassettes/features/v1/notebooks/Update-a-notebook-returns-OK-response.yml
Due: none

[K9] Add cassettes
  cassettes/features/v2/security_monitoring/Create-a-security-filter-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Delete-a-security-filter-returns-No-Content-response.yml
  cassettes/features/v2/security_monitoring/Get-a-security-filter-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Get-all-security-filters-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Update-a-security-filter-returns-OK-response.yml
Due: none

[K9] Update cassettes
  cassettes/features/v2/security_monitoring/Create-a-security-filter-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Delete-a-security-filter-returns-No-Content-response.yml
  cassettes/features/v2/security_monitoring/Get-a-security-filter-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Update-a-security-filter-returns-OK-response.yml
Due: none

Regenerate client from commit 9b7eac3 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/WidgetLayout.md
  lib/datadog_api_client/v1/models/widget_layout.rb
Due: generated

Release 1.0.0
  CHANGELOG.md
Due: none

Bump datadog_api_client to 1.0.0
  lib/datadog_api_client/version.rb
Due: none

Release 1.0.0 (#352)
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: none

Bump datadog_api_client to 1.0.1.dev.1
  lib/datadog_api_client/version.rb
Due: none

Bump datadog_api_client to 1.0.1.dev.1 (#353)
  lib/datadog_api_client/version.rb
Due: none

Regenerate client from commit 3445859 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/DowntimeChild.md
  docs/v1/README.md
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/downtime_child.rb
  spec/v1/models/downtime_child_spec.rb
Due: generated

Regenerate client from commit b30ab78 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/UsageAttributionPagination.md
  docs/v1/UsageMeteringAPI.md
  features/v1/usage_metering.feature
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/usage_attribution_pagination.rb
Due: generated, generated-features

Regenerate client from commit cc429de of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  features/v1/service_checks.feature
Due: generated-features

Regenerate client from commit 8dce4be of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/SyntheticsAPI.md
  docs/v1/SyntheticsAPITest.md
  docs/v1/SyntheticsBrowserTest.md
  docs/v1/SyntheticsGlobalVariableValue.md
  docs/v1/SyntheticsTestDetails.md
  features/v1/synthetics.feature
  lib/datadog_api_client/v1/models/synthetics_global_variable_value.rb
Due: generated, generated-features

Regenerate client from commit a1af0e0 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/WidgetCustomLink.md
  lib/datadog_api_client/v1/models/widget_custom_link.rb
Due: generated

Don't build draft PRs on AZP
  .azure-pipelines/all.yml
Due: none

put key in correct place
  .azure-pipelines/all.yml
Due: none

Don't build draft PRs on AZP (#360)
  .azure-pipelines/all.yml
Due: none

Regenerate client from commit 5765426 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  data/v2/openapi.yaml
  docs/v1/MonitorOptions.md
  docs/v2/IncidentServicesAPI.md
  docs/v2/IncidentTeamsAPI.md
  docs/v2/IncidentsAPI.md
  docs/v2/KeyManagementAPI.md
  docs/v2/RolesAPI.md
  docs/v2/SecurityMonitoringAPI.md
  docs/v2/UsersAPI.md
  lib/datadog_api_client/v1/models/monitor_options.rb
Due: generated

Regenerate client from commit ccb4b9f of spec repo
  .apigentools-info
  data/v2/openapi.yaml
  docs/v2/IncidentsResponse.md
  docs/v2/RelationshipToIncidentIntegrationMetadataData.md
  docs/v2/RelationshipToIncidentIntegrationMetadatas.md
  features/v2/incidents.feature
  lib/datadog_api_client/v2/models/incident_integration_metadata_type.rb
  lib/datadog_api_client/v2/models/relationship_to_incident_integration_metadata_data.rb
Due: generated, generated-features

Regenerate client from commit f6cf0e5 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/NotebookCreateDataAttributes.md
  docs/v1/NotebookResponseDataAttributes.md
  docs/v1/NotebookUpdateDataAttributes.md
  docs/v1/NotebooksResponse.md
  docs/v1/NotebooksResponseData.md
  docs/v1/NotebooksResponseDataAttributes.md
  docs/v1/README.md
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/notebook_create_data_attributes.rb
  lib/datadog_api_client/v1/models/notebook_heat_map_cell_attributes.rb
  lib/datadog_api_client/v1/models/notebook_log_stream_cell_attributes.rb
  lib/datadog_api_client/v1/models/notebook_markdown_cell_attributes.rb
  lib/datadog_api_client/v1/models/notebook_response_data_attributes.rb
  lib/datadog_api_client/v1/models/notebook_timeseries_cell_attributes.rb
  lib/datadog_api_client/v1/models/notebook_toplist_cell_attributes.rb
  lib/datadog_api_client/v1/models/notebook_update_data_attributes.rb
  lib/datadog_api_client/v1/models/notebooks_response.rb
  lib/datadog_api_client/v1/models/notebooks_response_data.rb
  lib/datadog_api_client/v1/models/notebooks_response_data_attributes.rb
  spec/v1/models/notebooks_response_data_attributes_spec.rb
  spec/v1/models/notebooks_response_data_spec.rb
Due: generated

Regenerate client from commit 12e8b3e of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/MetricsAPI.md
  lib/datadog_api_client/v1/api/metrics_api.rb
Due: generated

Regenerate client from commit 63cdfda of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  lib/datadog_api_client/v1/models/dashboard.rb
Due: generated

Regenerate client from commit c413ebe of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/Monitor.md
  docs/v1/MonitorsAPI.md
  features/v1/monitors.feature
  lib/datadog_api_client/v1/api/monitors_api.rb
  lib/datadog_api_client/v1/models/monitor.rb
Due: generated, generated-features

Fix README link to v2 docs
  README.md
Due: none

Fix README link to v2 docs (#367)
  README.md
Due: none

Regenerate client from commit 4ffe2b5 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/UsageAttributionBody.md
  lib/datadog_api_client/v1/models/usage_attribution_body.rb
Due: generated

Add cassettes
  cassettes/features/v1/monitors/Monitors-group-search-returns-Bad-Request-response.yml
  cassettes/features/v1/monitors/Monitors-group-search-returns-OK-response.yml
  cassettes/features/v1/monitors/Monitors-search-returns-Bad-Request-response.yml
  cassettes/features/v1/monitors/Monitors-search-returns-OK-response.yml
Due: none

Replace AZP with github actions
  .azure-pipelines/all.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

Replace AZP with github actions (#370)
  .azure-pipelines/all.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

Fix integration tests scheduled run and agent host
  .github/workflows/test_integration.yml
Due: none

Fix integration tests scheduled run and agent host (#371)
  .github/workflows/test_integration.yml
Due: none
