Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Regenerate client from commit 50c62af of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/monitors/Check-if-a-monitor-can-be-deleted-returns-OK-response.frozen
  cassettes/features/v1/monitors/Check-if-a-monitor-can-be-deleted-returns-OK-response.yml
  cassettes/features/v1/monitors/Create-a-monitor-with-assets-returns-OK-response.frozen
  cassettes/features/v1/monitors/Create-a-monitor-with-assets-returns-OK-response.yml
  examples/v1/monitors/CreateMonitor_3541766733.rb
  features/scenarios_model_mapping.rb
  features/v1/monitors.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/api/monitors_api.rb
  lib/datadog_api_client/v1/models/monitor.rb
  lib/datadog_api_client/v1/models/monitor_asset.rb
  lib/datadog_api_client/v1/models/monitor_asset_category.rb
  lib/datadog_api_client/v1/models/monitor_asset_resource_type.rb
  lib/datadog_api_client/v1/models/monitor_update_request.rb
Due: generate, format-examples

Regenerate client from commit 29e4e3d of spec repo
  .generator/schemas/v2/openapi.yaml
  features/v2/gcp_integration.feature
  features/v2/given.json
  lib/datadog_api_client/v2/models/gcpsts_service_account_attributes.rb
Due: generate

Regenerate client from commit cb2fd9f of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/geomap_widget_definition_view.rb
  lib/datadog_api_client/v1/models/geomap_widget_request.rb
Due: generate

Regenerate client from commit 4602cff of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/teams/CreateTeamConnections.rb
  examples/v2/teams/DeleteTeamConnections.rb
  examples/v2/teams/ListTeamConnections.rb
  examples/v2/teams/ListTeamConnections_1473516764.rb
  examples/v2/teams/ListTeamConnections_2418873869.rb
  features/scenarios_model_mapping.rb
  features/v2/given.json
  features/v2/team_connections.feature
  features/v2/teams.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/team_connections_api.rb
  lib/datadog_api_client/v2/api/teams_api.rb
Due: generate, format-examples

Regenerate client from commit 2f0f9b0 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/v2/gcp_integration.feature
  lib/datadog_api_client/v2/models/gcpsts_service_account_attributes.rb
Due: generate

Regenerate client from commit 5860386 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/on-call/Get-the-schedule-on-call-user-returns-OK-response.frozen
  cassettes/features/v2/on-call/Get-the-schedule-on-call-user-returns-OK-response.yml
  examples/v2/on-call/GetScheduleOnCallUser.rb
  features/v2/on-call.feature
  lib/datadog_api_client/v2/api/on_call_api.rb
Due: generate, format-examples

Regenerate client from commit 7a96be5 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/on-call/Get-scheduled-on-call-user-returns-OK-response.frozen
  cassettes/features/v2/on-call/Get-scheduled-on-call-user-returns-OK-response.yml
  cassettes/features/v2/on-call/Get-the-schedule-on-call-user-returns-OK-response.frozen
  cassettes/features/v2/on-call/Get-the-schedule-on-call-user-returns-OK-response.yml
  examples/v2/on-call/GetScheduleOnCallUser.rb
  features/v2/on-call.feature
  lib/datadog_api_client/v2/api/on_call_api.rb
Due: generate, format-examples

Regenerate client from commit 7cb3ec3 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/fleet-automation/GetFleetAgentInfo.rb
  examples/v2/fleet-automation/ListFleetAgents.rb
  features/scenarios_model_mapping.rb
  features/v2/fleet_automation.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/fleet_automation_api.rb
  lib/datadog_api_client/v2/models/fleet_agent_attributes.rb
  lib/datadog_api_client/v2/models/fleet_agent_attributes_tags_items.rb
  lib/datadog_api_client/v2/models/fleet_agent_info.rb
  lib/datadog_api_client/v2/models/fleet_agent_info_attributes.rb
  lib/datadog_api_client/v2/models/fleet_agent_info_details.rb
  lib/datadog_api_client/v2/models/fleet_agent_info_resource_type.rb
  lib/datadog_api_client/v2/models/fleet_agent_info_response.rb
  lib/datadog_api_client/v2/models/fleet_agents_response.rb
  lib/datadog_api_client/v2/models/fleet_agents_response_data.rb
  lib/datadog_api_client/v2/models/fleet_agents_response_data_attributes.rb
  lib/datadog_api_client/v2/models/fleet_agents_response_meta.rb
  lib/datadog_api_client/v2/models/fleet_configuration_file.rb
  lib/datadog_api_client/v2/models/fleet_configuration_layer.rb
  lib/datadog_api_client/v2/models/fleet_detected_integration.rb
  lib/datadog_api_client/v2/models/fleet_integration_details.rb
  lib/datadog_api_client/v2/models/fleet_integrations_by_status.rb
Due: generate, format-examples

Regenerate client from commit e05e083 of spec repo
  .generator/schemas/v1/openapi.yaml
  examples/v1/usage-metering/GetIncidentManagement.rb
  examples/v1/usage-metering/GetIncidentManagement_3579451115.rb
  features/v1/usage_metering.feature
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/usage_incident_management_hour.rb
  lib/datadog_api_client/v1/models/usage_incident_management_response.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate, format-examples

Regenerate client from commit 81f5049 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit 39fe4b2 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/synthetics/CreateSyntheticsSuite.rb
  examples/v2/synthetics/DeleteSyntheticsSuites.rb
  examples/v2/synthetics/EditSyntheticsSuite.rb
  examples/v2/synthetics/GetSyntheticsSuite.rb
  examples/v2/synthetics/SearchSuites.rb
  features/scenarios_model_mapping.rb
  features/v2/synthetics.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/synthetics_api.rb
  lib/datadog_api_client/v2/models/deleted_suite_response_data.rb
  lib/datadog_api_client/v2/models/deleted_suite_response_data_attributes.rb
  lib/datadog_api_client/v2/models/deleted_suite_type.rb
  lib/datadog_api_client/v2/models/deleted_suites_request_delete.rb
  lib/datadog_api_client/v2/models/deleted_suites_request_delete_attributes.rb
  lib/datadog_api_client/v2/models/deleted_suites_request_delete_request.rb
  lib/datadog_api_client/v2/models/deleted_suites_request_type.rb
  lib/datadog_api_client/v2/models/deleted_suites_response.rb
  lib/datadog_api_client/v2/models/suite_create_edit.rb
  lib/datadog_api_client/v2/models/suite_create_edit_request.rb
  lib/datadog_api_client/v2/models/suite_search_response_type.rb
  lib/datadog_api_client/v2/models/synthetics_suite.rb
  lib/datadog_api_client/v2/models/synthetics_suite_options.rb
  lib/datadog_api_client/v2/models/synthetics_suite_response.rb
  lib/datadog_api_client/v2/models/synthetics_suite_response_data.rb
  lib/datadog_api_client/v2/models/synthetics_suite_search_response.rb
  lib/datadog_api_client/v2/models/synthetics_suite_search_response_data.rb
  lib/datadog_api_client/v2/models/synthetics_suite_search_response_data_attributes.rb
  lib/datadog_api_client/v2/models/synthetics_suite_test.rb
  lib/datadog_api_client/v2/models/synthetics_suite_test_alerting_criticality.rb
  lib/datadog_api_client/v2/models/synthetics_suite_type.rb
Due: generate, format-examples

Regenerate client from commit 4bce651 of spec repo
  .generator/schemas/v1/openapi.yaml
  examples/v1/tags/ListHostTags.rb
  features/v1/tags.feature
  lib/datadog_api_client/v1/api/tags_api.rb
Due: generate, format-examples

Regenerate client from commit a22a309 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/teams_api.rb
Due: generate

Regenerate client from commit ec57a65 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-distribution-widget-with-markers-and-num-buckets.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-distribution-widget-with-markers-and-num-buckets.yml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-heatmap-widget-with-markers-and-num-buckets.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-heatmap-widget-with-markers-and-num-buckets.yml
  examples/v1/dashboards/CreateDashboard_1093147852.rb
  examples/v1/dashboards/CreateDashboard_2823363212.rb
  features/v1/dashboards.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/distribution_widget_request.rb
  lib/datadog_api_client/v1/models/heat_map_widget_definition.rb
  lib/datadog_api_client/v1/models/heat_map_widget_request.rb
  lib/datadog_api_client/v1/models/heat_map_widget_x_axis.rb
  lib/datadog_api_client/v1/models/heat_map_widget_y_axis.rb
  lib/datadog_api_client/v1/models/widget_marker.rb
Due: generate, format-examples

Regenerate client from commit e68b374 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/reference-tables/DeleteRows.rb
  examples/v2/reference-tables/UpsertRows.rb
  features/scenarios_model_mapping.rb
  features/v2/reference_tables.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/reference_tables_api.rb
  lib/datadog_api_client/v2/models/batch_delete_rows_request_array.rb
  lib/datadog_api_client/v2/models/batch_delete_rows_request_data.rb
  lib/datadog_api_client/v2/models/batch_upsert_rows_request_array.rb
  lib/datadog_api_client/v2/models/batch_upsert_rows_request_data.rb
  lib/datadog_api_client/v2/models/batch_upsert_rows_request_data_attributes.rb
Due: generate, format-examples

Bump versions and add changelog entries.
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit 3dc19cb of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/incidents/CreateIncidentAttachment.rb
  examples/v2/incidents/DeleteIncidentAttachment.rb
  examples/v2/incidents/ListIncidentAttachments.rb
  examples/v2/incidents/ListIncidentAttachments_2457735435.rb
  examples/v2/incidents/UpdateIncidentAttachment.rb
  examples/v2/incidents/UpdateIncidentAttachments.rb
  examples/v2/incidents/UpdateIncidentAttachments_3881702075.rb
  features/scenarios_model_mapping.rb
  features/v2/given.json
  features/v2/incidents.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/incidents_api.rb
  lib/datadog_api_client/v2/models/attachment.rb
  lib/datadog_api_client/v2/models/attachment_array.rb
  lib/datadog_api_client/v2/models/attachment_data.rb
  lib/datadog_api_client/v2/models/attachment_data_attributes.rb
  lib/datadog_api_client/v2/models/attachment_data_attributes_attachment.rb
  lib/datadog_api_client/v2/models/attachment_data_attributes_attachment_type.rb
  lib/datadog_api_client/v2/models/attachment_data_relationships.rb
  lib/datadog_api_client/v2/models/attachment_data_relationships_last_modified_by_user.rb
  lib/datadog_api_client/v2/models/attachment_data_relationships_last_modified_by_user_data.rb
  lib/datadog_api_client/v2/models/attachment_included.rb
  lib/datadog_api_client/v2/models/create_attachment_request.rb
  lib/datadog_api_client/v2/models/create_attachment_request_data.rb
  lib/datadog_api_client/v2/models/create_attachment_request_data_attributes.rb
  lib/datadog_api_client/v2/models/create_attachment_request_data_attributes_attachment.rb
  lib/datadog_api_client/v2/models/incident_attachment_postmortem_attachment_type.rb
  lib/datadog_api_client/v2/models/incident_attachment_related_object.rb
  lib/datadog_api_client/v2/models/incident_attachment_update_attributes.rb
  lib/datadog_api_client/v2/models/incident_attachments_response_included_item.rb
  lib/datadog_api_client/v2/models/incident_response_included_item.rb
  lib/datadog_api_client/v2/models/patch_attachment_request.rb
  lib/datadog_api_client/v2/models/patch_attachment_request_data.rb
  lib/datadog_api_client/v2/models/patch_attachment_request_data_attributes.rb
  lib/datadog_api_client/v2/models/patch_attachment_request_data_attributes_attachment.rb
  lib/datadog_api_client/v2/models/user140420082644000.rb
  lib/datadog_api_client/v2/models/user_type.rb
Due: generate, format-examples

Regenerate client from commit 05dc819 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/teams_api.rb
Due: generate

Regenerate client from commit 8997847 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/v2/security_monitoring.feature
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
Due: generate

Regenerate client from commit 1dee9ce of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-a-timeseries-widget-using-formulas-and-functions-metrics-query-with-combined-semantic-mode.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-a-timeseries-widget-using-formulas-and-functions-metrics-query-with-combined-semantic-mode.yml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-a-timeseries-widget-using-formulas-and-functions-metrics-query-with-native-semantic-mode.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-a-timeseries-widget-using-formulas-and-functions-metrics-query-with-native-semantic-mode.yml
  examples/v1/dashboards/CreateDashboard_3685886950.rb
  examples/v1/dashboards/CreateDashboard_865807520.rb
  features/v1/dashboards.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/formula_and_function_metric_query_definition.rb
  lib/datadog_api_client/v1/models/formula_and_function_metric_semantic_mode.rb
Due: generate, format-examples

Regenerate client from commit 2ee2e70 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-a-bar-chart-widget-with-stacked-type-and-no-legend-specified.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-a-bar-chart-widget-with-stacked-type-and-no-legend-specified.yml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-bar-chart-widget-sorted-by-group.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-bar-chart-widget-sorted-by-group.yml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-bar-chart-widget.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-bar-chart-widget.yml
  examples/v1/dashboards/CreateDashboard_1712853070.rb
  examples/v1/dashboards/CreateDashboard_2345541687.rb
  examples/v1/dashboards/CreateDashboard_2617251399.rb
  features/v1/dashboards.feature
  features/v1/dashboards_json_payload/bar_chart_widget.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/bar_chart_widget_definition.rb
  lib/datadog_api_client/v1/models/bar_chart_widget_definition_type.rb
  lib/datadog_api_client/v1/models/bar_chart_widget_display.rb
  lib/datadog_api_client/v1/models/bar_chart_widget_flat.rb
  lib/datadog_api_client/v1/models/bar_chart_widget_flat_type.rb
  lib/datadog_api_client/v1/models/bar_chart_widget_legend.rb
  lib/datadog_api_client/v1/models/bar_chart_widget_request.rb
  lib/datadog_api_client/v1/models/bar_chart_widget_scaling.rb
  lib/datadog_api_client/v1/models/bar_chart_widget_stacked.rb
  lib/datadog_api_client/v1/models/bar_chart_widget_stacked_type.rb
  lib/datadog_api_client/v1/models/bar_chart_widget_style.rb
  lib/datadog_api_client/v1/models/split_graph_source_widget_definition.rb
Due: generate, format-examples

Regenerate client from commit 74344b8 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-a-timeseries-widget-using-formulas-and-functions-metrics-query-with-combined-semantic-mode.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-a-timeseries-widget-using-formulas-and-functions-metrics-query-with-combined-semantic-mode.yml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-a-timeseries-widget-using-formulas-and-functions-metrics-query-with-native-semantic-mode.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-a-timeseries-widget-using-formulas-and-functions-metrics-query-with-native-semantic-mode.yml
  examples/v1/dashboards/CreateDashboard_3685886950.rb
  examples/v1/dashboards/CreateDashboard_865807520.rb
  features/v1/dashboards.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/formula_and_function_metric_query_definition.rb
  lib/datadog_api_client/v1/models/formula_and_function_metric_semantic_mode.rb
Due: generate, format-examples

Regenerate client from commit 879d4b7 of spec repo
  cassettes/features/v2/deployment_gates/Create-deployment-rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/deployment_gates/Create-deployment-rule-returns-Bad-Request-response.yml
  cassettes/features/v2/deployment_gates/Create-deployment-rule-returns-OK-response.frozen
  cassettes/features/v2/deployment_gates/Create-deployment-rule-returns-OK-response.yml
  cassettes/features/v2/deployment_gates/Delete-deployment-gate-returns-No-Content-response.frozen
  cassettes/features/v2/deployment_gates/Delete-deployment-gate-returns-No-Content-response.yml
  cassettes/features/v2/deployment_gates/Delete-deployment-rule-returns-No-Content-response.frozen
  cassettes/features/v2/deployment_gates/Delete-deployment-rule-returns-No-Content-response.yml
  cassettes/features/v2/deployment_gates/Get-deployment-gate-returns-OK-response.frozen
  cassettes/features/v2/deployment_gates/Get-deployment-gate-returns-OK-response.yml
  cassettes/features/v2/deployment_gates/Get-deployment-rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/deployment_gates/Get-deployment-rule-returns-Bad-Request-response.yml
  cassettes/features/v2/deployment_gates/Get-deployment-rule-returns-OK-response.frozen
  cassettes/features/v2/deployment_gates/Get-deployment-rule-returns-OK-response.yml
  cassettes/features/v2/deployment_gates/Update-deployment-gate-returns-OK-response.frozen
  cassettes/features/v2/deployment_gates/Update-deployment-gate-returns-OK-response.yml
  cassettes/features/v2/deployment_gates/Update-deployment-rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/deployment_gates/Update-deployment-rule-returns-Bad-Request-response.yml
  cassettes/features/v2/deployment_gates/Update-deployment-rule-returns-OK-response.frozen
  cassettes/features/v2/deployment_gates/Update-deployment-rule-returns-OK-response.yml
  features/v2/given.json
Due: none

Regenerate client from commit 497f78f of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-geomap-widget-with-conditional-formats-and-text-formats.frozen
  cassettes/features/v1/dashboards/Create-a-geomap-widget-with-conditional-formats-and-text-formats.yml
  cassettes/features/v2/deployment_gates/Create-deployment-rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/deployment_gates/Create-deployment-rule-returns-Bad-Request-response.yml
  cassettes/features/v2/deployment_gates/Create-deployment-rule-returns-OK-response.frozen
  cassettes/features/v2/deployment_gates/Create-deployment-rule-returns-OK-response.yml
  cassettes/features/v2/deployment_gates/Delete-deployment-gate-returns-No-Content-response.frozen
  cassettes/features/v2/deployment_gates/Delete-deployment-gate-returns-No-Content-response.yml
  cassettes/features/v2/deployment_gates/Delete-deployment-rule-returns-No-Content-response.frozen
  cassettes/features/v2/deployment_gates/Delete-deployment-rule-returns-No-Content-response.yml
  cassettes/features/v2/deployment_gates/Get-deployment-gate-returns-OK-response.frozen
  cassettes/features/v2/deployment_gates/Get-deployment-gate-returns-OK-response.yml
  cassettes/features/v2/deployment_gates/Get-deployment-rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/deployment_gates/Get-deployment-rule-returns-Bad-Request-response.yml
  cassettes/features/v2/deployment_gates/Get-deployment-rule-returns-OK-response.frozen
  cassettes/features/v2/deployment_gates/Get-deployment-rule-returns-OK-response.yml
  cassettes/features/v2/deployment_gates/Update-deployment-gate-returns-OK-response.frozen
  cassettes/features/v2/deployment_gates/Update-deployment-gate-returns-OK-response.yml
  cassettes/features/v2/deployment_gates/Update-deployment-rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/deployment_gates/Update-deployment-rule-returns-Bad-Request-response.yml
  cassettes/features/v2/deployment_gates/Update-deployment-rule-returns-OK-response.frozen
  cassettes/features/v2/deployment_gates/Update-deployment-rule-returns-OK-response.yml
  examples/v1/dashboards/CreateDashboard_9836563.rb
  features/v1/dashboards.feature
  features/v2/given.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/geomap_widget_definition.rb
  lib/datadog_api_client/v1/models/geomap_widget_request.rb
  lib/datadog_api_client/v1/models/geomap_widget_request_style.rb
Due: generate, format-examples

Regenerate client from commit c5023b8 of spec repo
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 795c134 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/service_level_objective.rb
  lib/datadog_api_client/v1/models/service_level_objective_request.rb
  lib/datadog_api_client/v1/models/slo_count_condition.rb
  lib/datadog_api_client/v1/models/slo_count_spec.rb
  lib/datadog_api_client/v1/models/slo_response_data.rb
  lib/datadog_api_client/v1/models/slo_sli_spec.rb
Due: generate

Regenerate client from commit f704eb9 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/deployment_gates/Get-rules-for-a-deployment-gate-returns-OK-response.frozen
  cassettes/features/v2/deployment_gates/Get-rules-for-a-deployment-gate-returns-OK-response.yml
  examples/v2/deployment-gates/GetDeploymentGateRules.rb
  features/scenarios_model_mapping.rb
  features/v2/deployment_gates.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/deployment_gates_api.rb
  lib/datadog_api_client/v2/models/deployment_gate_rules_response.rb
  lib/datadog_api_client/v2/models/list_deployment_rule_response_data.rb
  lib/datadog_api_client/v2/models/list_deployment_rules_data_type.rb
  lib/datadog_api_client/v2/models/list_deployment_rules_response_data_attributes.rb
Due: generate, format-examples

Regenerate client from commit 215138d of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit 0f908fa of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/reference-tables/UpdateReferenceTable.rb
  features/v2/reference_tables.feature
  lib/datadog_api_client/v2/models/patch_table_request_data_attributes.rb
Due: generate, format-examples

Regenerate client from commit cbe92c1 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/events/Post-an-event-returns-Bad-request-response.frozen
  cassettes/features/v2/events/Post-an-event-returns-Bad-request-response.yml
  cassettes/features/v2/events/Post-an-event-returns-OK-response.frozen
  cassettes/features/v2/events/Post-an-event-returns-OK-response.yml
  examples/v2/events/CreateEvent.rb
  features/v2/events.feature
  lib/datadog_api_client/v2/models/event_payload.rb
Due: generate, format-examples

Regenerate client from commit 48cc319 of spec repo
  features/v2/rum_audience_management.feature
Due: none

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
