Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features, licensed

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generated
    name: Do not commit generated files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^lib/datadog_api_client/v[1-9].*'
    verbose: true
  - id: generated-features
    name: Do not commit generated feature files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^features/v[1-9][0-9]*/.*.feature$'
    verbose: true
  - id: licensed
    name: Licensed
    language: ruby
    language_version: system
    additional_dependencies:
      - licensed
    entry: .licenses/check.sh
    pass_filenames: false
    files: "^(.*.gemspec|Gemfile|.licensed.yml)$"
    verbose: true

Update cassettes
  cassettes/features/v1/metrics/Query-timeseries-points-returns-OK-response.yml
  cassettes/features/v1/metrics/Submit-metrics-returns-Payload-accepted-response.yml
Due: none

Regenerate client from commit 7f25c3e of spec repo
  .apigentools-info
  .openapi-generator/FILES
  data/v2/openapi.yaml
  docs/v2/README.md
  docs/v2/SecurityFilterDeleteResponse.md
  docs/v2/SecurityMonitoringAPI.md
  lib/datadog_api_client/v2.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/security_filter_delete_response.rb
Due: generated

Add support for undo body, add cassette
  cassettes/features/v1/synthetics/Create-an-API-test-returns-OK-Returns-the-created-test-details-response.yml
  features/step_definitions/request.rb
Due: none

[Synthetics] Remove deprecated test file
  spec/v1/models/synthetics_tick_interval_spec.rb
Due: none

Regenerate client from commit 8327a94 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  features/v1/synthetics.feature
  features/v1/undo.json
  lib/datadog_api_client/v1/models/synthetics_assertion_json_path_target_target.rb
Due: generated, generated-features

Regenerate client from commit 609ca23 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/SyntheticsTestOptions.md
  docs/v1/SyntheticsTickInterval.md
  features/v1/synthetics.feature
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/synthetics_test_options.rb
  lib/datadog_api_client/v1/models/synthetics_tick_interval.rb
Due: generated, generated-features

Fix api docs
  .generator/templates/api_doc.mustache
Due: none

Regenerate client from commit 6820788 of spec repo
  .apigentools-info
  features/v1/metrics.feature
Due: generated-features

Regenerate client from commit ac88040 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  lib/datadog_api_client/v1/configuration.rb
Due: generated

Regenerate client from commit 30e3ae0 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/AWSIntegrationAPI.md
  lib/datadog_api_client/v1/api/aws_integration_api.rb
Due: generated

Regenerate client from commit d18c63f of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/MonitorsAPI.md
  features/v1/monitors.feature
  lib/datadog_api_client/v1/api/monitors_api.rb
Due: generated, generated-features

ci: report status for unit tests
  .github/workflows/scripts/test_integration.js
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

format
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

use job status
  .github/workflows/test.yml
Due: none

add missing test type
  .github/workflows/test_integration.yml
Due: none

Regenerate client from commit 49e5f63 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/TreeMapColorBy.md
  docs/v1/TreeMapGroupBy.md
  docs/v1/TreeMapSizeBy.md
  docs/v1/TreeMapWidgetDefinition.md
  docs/v1/TreeMapWidgetDefinitionType.md
  docs/v1/TreeMapWidgetRequest.md
  docs/v1/WidgetDefinition.md
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/tree_map_color_by.rb
  lib/datadog_api_client/v1/models/tree_map_group_by.rb
  lib/datadog_api_client/v1/models/tree_map_size_by.rb
  lib/datadog_api_client/v1/models/tree_map_widget_definition.rb
  lib/datadog_api_client/v1/models/tree_map_widget_definition_type.rb
  lib/datadog_api_client/v1/models/tree_map_widget_request.rb
  lib/datadog_api_client/v1/models/widget_definition.rb
  spec/v1/models/tree_map_color_by_spec.rb
  spec/v1/models/tree_map_group_by_spec.rb
  spec/v1/models/tree_map_size_by_spec.rb
  spec/v1/models/tree_map_widget_definition_spec.rb
  spec/v1/models/tree_map_widget_definition_type_spec.rb
  spec/v1/models/tree_map_widget_request_spec.rb
Due: generated

Regenerate client from commit 6fd5e2f of spec repo
  .apigentools-info
Due: none

Regenerate client from commit 4cc1eed of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/ServiceLevelObjectivesAPI.md
  lib/datadog_api_client/v1/api/service_level_objectives_api.rb
  lib/datadog_api_client/v1/models/slo_timeframe.rb
Due: generated

migrate to GH actions
  .github/workflows/approved_status.yml
  .github/workflows/scripts/approved_status.js
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

rm scripts
  .github/workflows/scripts/test_integration.js
Due: none

Regenerate client from commit d33e517 of spec repo
  .apigentools-info
Due: none

Regenerate client from commit 17171be of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/Pagination.md
  docs/v1/README.md
  docs/v1/ResponseMetaAttributes.md
  docs/v1/SLOCorrectionListResponse.md
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/pagination.rb
  lib/datadog_api_client/v1/models/response_meta_attributes.rb
  spec/v1/models/pagination_spec.rb
  spec/v1/models/response_meta_attributes_spec.rb
Due: generated

Regenerate client from commit 9777e49 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  data/v2/openapi.yaml
  docs/v2/KeyManagementAPI.md
  docs/v2/README.md
  features/v2/key_management.feature
  features/v2/undo.json
  lib/datadog_api_client/v2/api/key_management_api.rb
Due: generated, generated-features

Regenerate client from commit adf180f of spec repo
  .apigentools-info
  cassettes/features/v1/ip_ranges/List-IP-Ranges-returns-OK-response.yml
Due: none

Regenerate client from commit cbb2404 of spec repo
  .apigentools-info
  cassettes/features/v1/ip_ranges/List-IP-Ranges-returns-OK-response.yml
Due: none

Regenerate client from commit 0eabb4b of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/UsageMeteringAPI.md
  lib/datadog_api_client/v1/api/usage_metering_api.rb
Due: generated

Regenerate client from commit 88896c8 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
Due: none

Regenerate client from commit beba4a1 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/HTTPLogError.md
Due: none

Regenerate client from commit 5155c78 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/SyntheticsTestRequest.md
  features/v1/synthetics.feature
  lib/datadog_api_client/v1/models/synthetics_test_request.rb
Due: generated, generated-features

Regenerate client from commit c2e2dda of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/SyntheticsBrowserError.md
  lib/datadog_api_client/v1/models/synthetics_browser_error.rb
Due: generated

Regenerate client from commit f0a4221 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/AWSAccountDeleteRequest.md
  docs/v1/AWSIntegrationAPI.md
  docs/v1/README.md
  features/v1/aws_integration.feature
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/api/aws_integration_api.rb
  lib/datadog_api_client/v1/models/aws_account_delete_request.rb
  spec/v1/models/aws_account_delete_request_spec.rb
Due: generated, generated-features

Regenerate client from commit 305aaa6 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/UsageAttributionValues.md
  lib/datadog_api_client/v1/models/usage_attribution_values.rb
Due: generated

Bump datadog_api_client to 1.2.0
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: none

Apply suggestions from code review
  CHANGELOG.md
Due: none

Bump datadog_api_client to 1.2.0 (#435)
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: none
