Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Regenerate client from commit 081e36d of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Delete-a-severity-modifier-rule-returns-Rule-successfully-deleted-response.frozen
  cassettes/features/v2/security_monitoring/Delete-a-severity-modifier-rule-returns-Rule-successfully-deleted-response.yml
  cassettes/features/v2/security_monitoring/Get-a-severity-modifier-rule-returns-Successfully-retrieved-the-severity-modifier-rule-response.frozen
  cassettes/features/v2/security_monitoring/Get-a-severity-modifier-rule-returns-Successfully-retrieved-the-severity-modifier-rule-response.yml
  examples/v2/security-monitoring/CreateSecurityFindingsAutomationSeverityModifierRule.rb
  examples/v2/security-monitoring/DeleteSecurityFindingsAutomationSeverityModifierRule.rb
  examples/v2/security-monitoring/GetSecurityFindingsAutomationSeverityModifierRule.rb
  features/scenarios_model_mapping.rb
  features/v2/given.json
  features/v2/security_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/severity_modifier_rule_action.rb
  lib/datadog_api_client/v2/models/severity_modifier_rule_attributes_create.rb
  lib/datadog_api_client/v2/models/severity_modifier_rule_attributes_response.rb
  lib/datadog_api_client/v2/models/severity_modifier_rule_create_request.rb
  lib/datadog_api_client/v2/models/severity_modifier_rule_data_create.rb
  lib/datadog_api_client/v2/models/severity_modifier_rule_data_response.rb
  lib/datadog_api_client/v2/models/severity_modifier_rule_response.rb
  lib/datadog_api_client/v2/models/severity_modifier_rule_set_action.rb
  lib/datadog_api_client/v2/models/severity_modifier_rule_set_action_type.rb
  lib/datadog_api_client/v2/models/severity_modifier_rule_shift_action.rb
  lib/datadog_api_client/v2/models/severity_modifier_rule_shift_action_type.rb
  lib/datadog_api_client/v2/models/severity_modifier_rule_type.rb
  lib/datadog_api_client/v2/models/severity_modifier_severity.rb
  lib/datadog_api_client/v2/models/severity_modifier_severity_delta.rb
Due: generate, format-examples

Regenerate client from commit 45a1c20 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/fleet_agent_configuration_files_v2.rb
  lib/datadog_api_client/v2/models/fleet_agent_info_details_v2.rb
  lib/datadog_api_client/v2/models/fleet_agent_v2_attributes.rb
  lib/datadog_api_client/v2/models/fleet_configuration_file_v2.rb
  lib/datadog_api_client/v2/models/fleet_configuration_layer.rb
  lib/datadog_api_client/v2/models/fleet_deployment_configure_v2_dry_run_attributes.rb
  lib/datadog_api_client/v2/models/fleet_integrations_by_status_v2.rb
  lib/datadog_api_client/v2/models/fleet_schedule_v2_recurrence_rule.rb
Due: generate

Regenerate client from commit f64c91a of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/dashboards_api.rb
Due: generate

Regenerate client from commit 3a6cd78 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/roles/List-permissions-including-scopes-returns-OK-response.frozen
  cassettes/features/v2/roles/List-permissions-including-scopes-returns-OK-response.yml
  examples/v2/roles/ListPermissions_1350046915.rb
  features/scenarios_model_mapping.rb
  features/v2/roles.feature
  lib/datadog_api_client/v2/api/roles_api.rb
Due: generate, format-examples

Regenerate client from commit ef9af12 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit a18bee5 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/configuration.rb
Due: generate

Bump versions and add changelog entries.
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit da90b0c of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/fleet_agent_info_details_v2.rb
Due: generate

Regenerate client from commit 1e0b6ab of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/status-pages/PatchMaintenanceUpdate.rb
  features/scenarios_model_mapping.rb
  features/v2/status_pages.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/status_pages_api.rb
  lib/datadog_api_client/v2/models/maintenance_update.rb
  lib/datadog_api_client/v2/models/maintenance_update_data.rb
  lib/datadog_api_client/v2/models/maintenance_update_data_attributes.rb
  lib/datadog_api_client/v2/models/maintenance_update_data_attributes_status.rb
  lib/datadog_api_client/v2/models/maintenance_update_data_relationships.rb
  lib/datadog_api_client/v2/models/maintenance_update_data_relationships_maintenance.rb
  lib/datadog_api_client/v2/models/maintenance_update_data_relationships_maintenance_data.rb
  lib/datadog_api_client/v2/models/maintenance_update_data_relationships_user.rb
  lib/datadog_api_client/v2/models/maintenance_update_data_relationships_user_data.rb
  lib/datadog_api_client/v2/models/patch_maintenance_request_data_attributes.rb
  lib/datadog_api_client/v2/models/patch_maintenance_update_request.rb
  lib/datadog_api_client/v2/models/patch_maintenance_update_request_data.rb
  lib/datadog_api_client/v2/models/patch_maintenance_update_request_data_attributes.rb
  lib/datadog_api_client/v2/models/patch_maintenance_update_request_data_type.rb
Due: generate, format-examples

Regenerate client from commit 4616981 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/governance-console/UpdateGovernanceControl.rb
  features/v2/governance_console.feature
  lib/datadog_api_client/v2/models/governance_control_attributes.rb
  lib/datadog_api_client/v2/models/governance_control_parameter_definition.rb
  lib/datadog_api_client/v2/models/governance_control_update_attributes.rb
Due: generate, format-examples

Regenerate client from commit d4260df of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/rum-rate-limit/DeleteRumRateLimitConfig.rb
  examples/v2/rum-rate-limit/GetRumRateLimitConfig.rb
  examples/v2/rum-rate-limit/UpdateRumRateLimitConfig.rb
  features/scenarios_model_mapping.rb
  features/v2/rum_rate_limit.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/rum_rate_limit_api.rb
  lib/datadog_api_client/v2/models/rum_rate_limit_adaptive_config.rb
  lib/datadog_api_client/v2/models/rum_rate_limit_config_attributes.rb
  lib/datadog_api_client/v2/models/rum_rate_limit_config_data.rb
  lib/datadog_api_client/v2/models/rum_rate_limit_config_response.rb
  lib/datadog_api_client/v2/models/rum_rate_limit_config_type.rb
  lib/datadog_api_client/v2/models/rum_rate_limit_config_update_attributes.rb
  lib/datadog_api_client/v2/models/rum_rate_limit_config_update_data.rb
  lib/datadog_api_client/v2/models/rum_rate_limit_config_update_request.rb
  lib/datadog_api_client/v2/models/rum_rate_limit_custom_config.rb
  lib/datadog_api_client/v2/models/rum_rate_limit_mode.rb
  lib/datadog_api_client/v2/models/rum_rate_limit_quota_reached_action.rb
  lib/datadog_api_client/v2/models/rum_rate_limit_scope_type.rb
  lib/datadog_api_client/v2/models/rum_rate_limit_window_type.rb
Due: generate, format-examples

Regenerate client from commit 6be449b of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/list_stream_query.rb
  lib/datadog_api_client/v1/models/list_stream_source.rb
Due: generate

Regenerate client from commit b038678 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/api_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/app_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/case_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/change_event_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/completion_condition.rb
  lib/datadog_api_client/v2/models/completion_gate.rb
  lib/datadog_api_client/v2/models/dashboard_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/database_monitoring_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/datastore_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/error_handler.rb
  lib/datadog_api_client/v2/models/form_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/github_webhook_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/incident_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/input_schema_parameters.rb
  lib/datadog_api_client/v2/models/monitor_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/notebook_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/on_call_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/outbound_edge.rb
  lib/datadog_api_client/v2/models/parameter.rb
  lib/datadog_api_client/v2/models/readiness_gate.rb
  lib/datadog_api_client/v2/models/retry_strategy.rb
  lib/datadog_api_client/v2/models/retry_strategy_linear.rb
  lib/datadog_api_client/v2/models/schedule_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/security_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/self_service_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/slack_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/software_catalog_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/spec.rb
  lib/datadog_api_client/v2/models/step.rb
  lib/datadog_api_client/v2/models/step_display.rb
  lib/datadog_api_client/v2/models/workflow_data_attributes.rb
  lib/datadog_api_client/v2/models/workflow_data_update_attributes.rb
  lib/datadog_api_client/v2/models/workflow_list_item_attributes.rb
  lib/datadog_api_client/v2/models/workflow_trigger_wrapper.rb
Due: generate

Regenerate client from commit fcaeb52 of spec repo
  features/v2/scorecards.feature
  features/v2/service_definition.feature
  features/v2/software_catalog.feature
Due: none

Regenerate client from commit c1466c2 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/ci-visibility-github-accounts/ListCIAppGitHubAccounts.rb
  examples/v2/ci-visibility-github-accounts/UpdateCIAppGitHubAccount.rb
  features/scenarios_model_mapping.rb
  features/v2/ci_visibility_github_accounts.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/ci_visibility_git_hub_accounts_api.rb
  lib/datadog_api_client/v2/models/ci_app_git_hub_account_attributes.rb
  lib/datadog_api_client/v2/models/ci_app_git_hub_account_data.rb
  lib/datadog_api_client/v2/models/ci_app_git_hub_account_repository.rb
  lib/datadog_api_client/v2/models/ci_app_git_hub_account_response.rb
  lib/datadog_api_client/v2/models/ci_app_git_hub_account_type.rb
  lib/datadog_api_client/v2/models/ci_app_git_hub_account_update_request.rb
  lib/datadog_api_client/v2/models/ci_app_git_hub_account_update_request_attributes.rb
  lib/datadog_api_client/v2/models/ci_app_git_hub_account_update_request_data.rb
  lib/datadog_api_client/v2/models/ci_app_git_hub_account_update_request_repository.rb
  lib/datadog_api_client/v2/models/ci_app_git_hub_accounts_response.rb
Due: generate, format-examples

Regenerate client from commit 00b5dd8 of spec repo
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit d106307 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/v2/customer_org.feature
  lib/datadog_api_client/v2/api/customer_org_api.rb
Due: generate

Regenerate client from commit e64807a of spec repo
  .generator/schemas/v2/openapi.yaml
  features/v2/deployment_gates.feature
  lib/datadog_api_client/v2/models/deployment_gates_fdd_rule_options.rb
  lib/datadog_api_client/v2/models/deployment_rule_options_faulty_deployment_detection.rb
Due: generate

Regenerate client from commit a385d26 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/degradation_request_meta.rb
  lib/datadog_api_client/v2/models/patch_degradation_request.rb
Due: generate

Regenerate client from commit 0e8b356 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/status_pages_api.rb
  lib/datadog_api_client/v2/models/create_status_page_request_data_attributes.rb
  lib/datadog_api_client/v2/models/patch_status_page_request_data_attributes.rb
Due: generate

Regenerate client from commit bf7c3c0 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/create_table_request_data_attributes_schema.rb
  lib/datadog_api_client/v2/models/create_upload_request_data_attributes.rb
  lib/datadog_api_client/v2/models/patch_table_request_data_attributes_schema.rb
  lib/datadog_api_client/v2/models/table_result_v2_data_attributes_schema.rb
Due: generate

Regenerate client from commit 5d9eb84 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/feature_flags/Create-a-feature-flag-with-notification-rule-targets-returns-Created-response.frozen
  cassettes/features/v2/feature_flags/Create-a-feature-flag-with-notification-rule-targets-returns-Created-response.yml
  examples/v2/feature-flags/CreateFeatureFlag_2426084719.rb
  features/v2/feature_flags.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/create_feature_flag_attributes.rb
  lib/datadog_api_client/v2/models/notification_rule_target.rb
  lib/datadog_api_client/v2/models/notification_rule_target_configuration.rb
  lib/datadog_api_client/v2/models/notification_rule_target_configuration_recipient.rb
  lib/datadog_api_client/v2/models/notification_rule_target_type.rb
Due: generate, format-examples

Regenerate client from commit b567f51 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/monitors/Create-an-LLM-Observability-monitor-returns-OK-response.frozen
  cassettes/features/v1/monitors/Create-an-LLM-Observability-monitor-returns-OK-response.yml
  examples/v1/monitors/CreateMonitor_1348801712.rb
  features/v1/monitors.feature
  lib/datadog_api_client/v1/models/monitor_type.rb
Due: generate, format-examples

Regenerate client from commit 4256aa4 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/dora-metrics/PatchDORADeploymentByVersion.rb
  features/scenarios_model_mapping.rb
  features/v2/dora_metrics.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/dora_metrics_api.rb
  lib/datadog_api_client/v2/models/dora_deployment_patch_by_version_remediation.rb
  lib/datadog_api_client/v2/models/dora_deployment_patch_by_version_remediation_by_id.rb
  lib/datadog_api_client/v2/models/dora_deployment_patch_by_version_remediation_by_version.rb
  lib/datadog_api_client/v2/models/dora_deployment_patch_by_version_request.rb
  lib/datadog_api_client/v2/models/dora_deployment_patch_by_version_request_attributes.rb
  lib/datadog_api_client/v2/models/dora_deployment_patch_by_version_request_data.rb
Due: generate, format-examples

Regenerate client from commit 3a1d4b2 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/agent_trigger.rb
  lib/datadog_api_client/v2/models/agent_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/trigger.rb
Due: generate

Regenerate client from commit a9eed47 of spec repo
  .generator/schemas/v1/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/v1/api/service_level_objectives_api.rb
Due: generate

Regenerate client from commit e92ec88 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/v2/metrics.feature
  lib/datadog_api_client/v2/api/metrics_api.rb
Due: generate

Regenerate client from commit aee24e7 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/llm-observability/DeleteLLMObsData.rb
  features/scenarios_model_mapping.rb
  features/v2/llm_observability.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/llm_observability_api.rb
  lib/datadog_api_client/v2/models/llm_obs_data_deletion_request.rb
  lib/datadog_api_client/v2/models/llm_obs_data_deletion_request_attributes.rb
  lib/datadog_api_client/v2/models/llm_obs_data_deletion_request_data.rb
  lib/datadog_api_client/v2/models/llm_obs_data_deletion_request_type.rb
  lib/datadog_api_client/v2/models/llm_obs_data_deletion_response.rb
  lib/datadog_api_client/v2/models/llm_obs_data_deletion_response_attributes.rb
  lib/datadog_api_client/v2/models/llm_obs_data_deletion_response_data.rb
  lib/datadog_api_client/v2/models/llm_obs_data_deletion_response_type.rb
Due: generate, format-examples

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
