Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

Regenerate client from commit 05e7bdc of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/observability-pipelines/CreatePipeline_2773622121.rb
  examples/v2/observability-pipelines/CreatePipeline_3303546326.rb
  examples/v2/observability-pipelines/GetPipeline_28187501.rb
  features/v2/given.json
  features/v2/observability_pipelines.feature
  lib/datadog_api_client/v2/models/observability_pipeline_config.rb
Due: generate, format-examples

Regenerate client from commit d6db0c6 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/ddsql/ExecuteDdsqlTabularQuery.rb
  examples/v2/ddsql/FetchDdsqlTabularQuery.rb
  features/v2/ddsql.feature
  features/v2/undo.json
  lib/datadog_api_client/v2/api/ddsql_api.rb
Due: generate, format-examples

Regenerate client from commit 24d86a0 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/agent-observability/GetLLMObsAnnotatedInteraction.rb
  examples/v2/agent-observability/GetLLMObsAnnotatedInteraction_3394378457.rb
  features/scenarios_model_mapping.rb
  features/v2/agent_observability.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/agent_observability_api.rb
  lib/datadog_api_client/v2/models/llm_obs_annotated_interaction_data_attributes_response.rb
  lib/datadog_api_client/v2/models/llm_obs_annotated_interaction_data_response.rb
  lib/datadog_api_client/v2/models/llm_obs_annotated_interaction_event.rb
  lib/datadog_api_client/v2/models/llm_obs_annotated_interaction_response.rb
Due: generate, format-examples

Regenerate client from commit 717ee4f of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/usage_metering_api.rb
Due: generate

Regenerate client from commit eaa4868 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/notification_rule_preview_result.rb
  lib/datadog_api_client/v2/models/rule_types_items.rb
Due: generate

Regenerate client from commit c1f72d0 of spec repo
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_914562040.rb
  features/v2/security_monitoring.feature
  generated-test/test-runner-data/manifest.json
  generated-test/test-runner-data/v2/security-monitoring/create-a-detection-rule-with-type-signal-correlation-returns-ok-response.json
  generated-test/test-server-data/v2/security-monitoring.json
Due: format-examples

Remove local generator code
  .generator/conftest.py
  .generator/poetry.lock
  .generator/pyproject.toml
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  .generator/src/generator/__init__.py
  .generator/src/generator/__main__.py
  .generator/src/generator/cli.py
  .generator/src/generator/formatter.py
  .generator/src/generator/keywords.json
  .generator/src/generator/openapi.py
  .generator/src/generator/replacement.json
  .generator/src/generator/templates/api.j2
  .generator/src/generator/templates/api_client.j2
  .generator/src/generator/templates/api_info.j2
  .generator/src/generator/templates/configuration.j2
  .generator/src/generator/templates/datadog_api_client.j2
  .generator/src/generator/templates/example.j2
  .generator/src/generator/templates/inflector.j2
  .generator/src/generator/templates/model.j2
  .generator/src/generator/templates/model_base.j2
  .generator/src/generator/templates/model_enum.j2
  .generator/src/generator/templates/model_generic.j2
  .generator/src/generator/templates/model_oneof.j2
  .generator/src/generator/templates/package.j2
  .generator/src/generator/templates/scenarios_model_mapping.j2
  .generator/tests/test_formatter.rb
  .generator/tests/test_scenarios.py
  .gitignore
  .pre-commit-config.yaml
  DEVELOPMENT.md
  README.md
  features/support/templating.rb
  generate.sh
Due: generate

Keep OpenAPI schemas and reuse generated metadata
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  features/step_definitions/request.rb
  features/support/templating.rb
  features/support/test_runner.rb
Due: generate

Document internal client generation workflow
  DEVELOPMENT.md
  README.md
Due: none

Regenerate client from commit 12922cb of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/cloud_workload_security_agent_policy_attributes.rb
Due: generate

Regenerate client from commit db71756 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/deployment-gates/CreateDeploymentRule_2423265690.rb
  examples/v2/deployment-gates/CreateDeploymentRule_4286388136.rb
  features/v2/deployment_gates.feature
  generated-test/test-runner-data/manifest.json
  generated-test/test-runner-data/v2/deployment-gates/create-monitor-deployment-rule-with-monitor-ids-returns-ok-response.json
  generated-test/test-runner-data/v2/deployment-gates/create-monitor-deployment-rule-with-query-and-monitor-ids-returns-bad-request-response.json
  generated-test/test-runner-data/v2/deployment-gates/create-monitor-deployment-rule-with-query-returns-ok-response.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/deployment_rule_options_monitor_id.rb
  lib/datadog_api_client/v2/models/deployment_rule_options_monitor_ids.rb
  lib/datadog_api_client/v2/models/deployment_rules_options.rb
Due: generate, format-examples

Regenerate client from commit d0784dc of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/product_catalog_api.rb
  lib/datadog_api_client/v2/models/product_catalog_sku_data_attributes_response.rb
Due: generate

Regenerate client from commit d355064 of spec repo
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 4af79fa of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-cost-management/CreateUnitCost.rb
  examples/v2/cloud-cost-management/DeleteUnitCost.rb
  examples/v2/cloud-cost-management/GetUnitCost.rb
  examples/v2/cloud-cost-management/ListUnitCosts.rb
  examples/v2/cloud-cost-management/UpdateUnitCost.rb
  features/scenarios_model_mapping.rb
  features/v2/cloud_cost_management.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/cloud_cost_management_api.rb
  lib/datadog_api_client/v2/models/unit_cost_create_request.rb
  lib/datadog_api_client/v2/models/unit_cost_create_request_data.rb
  lib/datadog_api_client/v2/models/unit_cost_data_attributes_response.rb
  lib/datadog_api_client/v2/models/unit_cost_data_response.rb
  lib/datadog_api_client/v2/models/unit_cost_query_definition.rb
  lib/datadog_api_client/v2/models/unit_cost_request_attributes.rb
  lib/datadog_api_client/v2/models/unit_cost_response.rb
  lib/datadog_api_client/v2/models/unit_cost_type.rb
  lib/datadog_api_client/v2/models/unit_cost_update_request.rb
  lib/datadog_api_client/v2/models/unit_cost_update_request_data.rb
  lib/datadog_api_client/v2/models/unit_costs_response.rb
Due: generate, format-examples

Regenerate client from commit 4813d86 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/metrics_api.rb
Due: generate

Regenerate client from commit 7ef5189 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/v2/security_monitoring.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_impossible_travel_options.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_metadata.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_new_value_options.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_options.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_user.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_rule_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_rule_response_query.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_response.rb
Due: generate

Regenerate client from commit 1faaaf1 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/due_date_rule_reorder_response.rb
  lib/datadog_api_client/v2/models/mute_rule_reorder_response.rb
  lib/datadog_api_client/v2/models/ticket_creation_rule_reorder_response.rb
Due: generate

Regenerate client from commit 62bf7f6 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/spa/GetSPARecommendationsWithShard.rb
  features/v2/spa.feature
  lib/datadog_api_client/v2/api/spa_api.rb
Due: generate, format-examples

Pin json below 3.0
  Gemfile
Due: none

Pin json below 3.0 (#3780)
  Gemfile
Due: none

Regenerate client from commit 2c44d68 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/dora_deployment_averaged_metrics.rb
  lib/datadog_api_client/v2/models/dora_deployment_object_attributes.rb
  lib/datadog_api_client/v2/models/dora_deployment_remediation.rb
Due: generate

Regenerate client from commit a4dfc25 of spec repo
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 02da321 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-cost-management/CreateUnitCost.rb
  examples/v2/cloud-cost-management/DeleteUnitCost.rb
  examples/v2/cloud-cost-management/GetUnitCost.rb
  examples/v2/cloud-cost-management/ListUnitCosts.rb
  examples/v2/cloud-cost-management/UpdateUnitCost.rb
  features/scenarios_model_mapping.rb
  features/v2/cloud_cost_management.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/cloud_cost_management_api.rb
  lib/datadog_api_client/v2/models/unit_cost_create_request.rb
  lib/datadog_api_client/v2/models/unit_cost_create_request_data.rb
  lib/datadog_api_client/v2/models/unit_cost_data_attributes_response.rb
  lib/datadog_api_client/v2/models/unit_cost_data_response.rb
  lib/datadog_api_client/v2/models/unit_cost_query_definition.rb
  lib/datadog_api_client/v2/models/unit_cost_request_attributes.rb
  lib/datadog_api_client/v2/models/unit_cost_response.rb
  lib/datadog_api_client/v2/models/unit_cost_type.rb
  lib/datadog_api_client/v2/models/unit_cost_update_request.rb
  lib/datadog_api_client/v2/models/unit_cost_update_request_data.rb
  lib/datadog_api_client/v2/models/unit_costs_response.rb
Due: generate, format-examples

Regenerate client from commit 093b70e of spec repo
  features/v2/rum_replay_heatmaps.feature
  features/v2/rum_replay_playlists.feature
  features/v2/rum_replay_sessions.feature
  features/v2/rum_replay_viewership.feature
Due: none

Regenerate client from commit 14795e2 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/device_tags_by_source.rb
Due: generate

Regenerate client from commit bfe1657 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/cloud_cost_management_api.rb
Due: generate

Regenerate client from commit 5c00d1b of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/roles/ListPermissions_1350046915.rb
  features/scenarios_model_mapping.rb
  features/v2/roles.feature
  generated-test/test-runner-data/manifest.json
  generated-test/test-runner-data/v2/roles/list-permissions-including-scopes-returns-ok-response.json
  generated-test/test-server-data/v2/roles.json
  lib/datadog_api_client/v2/api/roles_api.rb
Due: generate, format-examples

Regenerate client from commit e9eefbb of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/recommendations_filter_request.rb
  lib/datadog_api_client/v2/models/recommendations_filter_request_scope.rb
Due: generate

Regenerate client from commit 6a86230 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/llm_obs_content_block.rb
  lib/datadog_api_client/v2/models/llm_obs_frontend_content_block.rb
  lib/datadog_api_client/v2/models/llm_obs_frontend_content_block_type.rb
  lib/datadog_api_client/v2/models/llm_obs_legacy_content_block.rb
  lib/datadog_api_client/v2/models/llm_obs_legacy_content_block_type.rb
Due: generate

Regenerate client from commit b74d458 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/v2/observability_pipelines.feature
  lib/datadog_api_client/v2/models/observability_pipeline_config.rb
Due: generate

Regenerate client from commit 92e6031 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/CreateStaticAnalysisServerAnalysis.rb
  examples/v2/static-analysis/CreateCustomRuleset.rb
  examples/v2/static-analysis/UpdateCustomRuleset.rb
  features/v2/security_monitoring.feature
  features/v2/static_analysis.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/analysis_request.rb
  lib/datadog_api_client/v2/models/analysis_request_rule.rb
  lib/datadog_api_client/v2/models/analysis_request_rule_argument.rb
  lib/datadog_api_client/v2/models/analysis_request_rule_test.rb
  lib/datadog_api_client/v2/models/ast_node.rb
  lib/datadog_api_client/v2/models/custom_rule_attributes.rb
  lib/datadog_api_client/v2/models/custom_rule_request.rb
  lib/datadog_api_client/v2/models/custom_rule_revision_attributes.rb
  lib/datadog_api_client/v2/models/custom_rule_revision_embedded.rb
  lib/datadog_api_client/v2/models/custom_rule_revision_input.rb
  lib/datadog_api_client/v2/models/custom_rule_revision_request.rb
  lib/datadog_api_client/v2/models/custom_rule_revision_test.rb
  lib/datadog_api_client/v2/models/custom_ruleset_attributes.rb
  lib/datadog_api_client/v2/models/custom_ruleset_request.rb
  lib/datadog_api_client/v2/models/custom_ruleset_request_data.rb
  lib/datadog_api_client/v2/models/custom_ruleset_request_data_attributes.rb
  lib/datadog_api_client/v2/models/custom_ruleset_rule_embedded.rb
  lib/datadog_api_client/v2/models/get_ast_request.rb
  lib/datadog_api_client/v2/models/get_ast_response_data.rb
  lib/datadog_api_client/v2/models/get_ast_response_data_attributes.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_request.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_response.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_response_data.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_response_data_attributes.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_response_data_attributes_rulesets_items.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_response_data_attributes_rulesets_items_rules_items_data_type.rb
Due: generate, format-examples

Regenerate client from commit d74322b of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/deployment-gates/CreateDeploymentRule_2423265690.rb
  examples/v2/deployment-gates/CreateDeploymentRule_4286388136.rb
  features/v2/deployment_gates.feature
  generated-test/test-runner-data/manifest.json
  generated-test/test-runner-data/v2/deployment-gates/create-monitor-deployment-rule-with-monitor-ids-returns-ok-response.json
  generated-test/test-runner-data/v2/deployment-gates/create-monitor-deployment-rule-with-query-and-monitor-ids-returns-bad-request-response.json
  generated-test/test-runner-data/v2/deployment-gates/create-monitor-deployment-rule-with-query-returns-ok-response.json
  generated-test/test-server-data/v2/deployment-gates.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/deployment_rule_options_monitor_id.rb
  lib/datadog_api_client/v2/models/deployment_rule_options_monitor_ids.rb
  lib/datadog_api_client/v2/models/deployment_rules_options.rb
Due: generate, format-examples

Regenerate client from commit 5f34a4b of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/usage_metering_api.rb
Due: generate

Regenerate client from commit 7630d22 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/v2/api/status_pages_api.rb
Due: generate

Regenerate client from commit debe012 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/SearchSecurityMonitoringSignals.rb
  features/v2/security_monitoring.feature
  generated-test/test-runner-data/manifest.json
  generated-test/test-runner-data/v2/security-monitoring/get-a-list-of-security-signals-returns-ok-response.json
  generated-test/test-server-data/v2/security-monitoring.json
  lib/datadog_api_client/v2/models/security_monitoring_signal_attributes.rb
  lib/datadog_api_client/v2/models/security_monitoring_signals_list_response_meta.rb
Due: generate, format-examples

Regenerate client from commit 89afac7 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/monitors/CreateMonitorConfigPolicy_1934105875.rb
  features/v2/given.json
  features/v2/monitors.feature
  generated-test/test-runner-data/manifest.json
  generated-test/test-runner-data/v2/monitors/create-a-downtime-duration-monitor-configuration-policy-returns-ok-response.json
  generated-test/test-server-data/v2/monitors.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/monitor_config_policy_attribute_create_request.rb
  lib/datadog_api_client/v2/models/monitor_config_policy_attribute_edit_request.rb
  lib/datadog_api_client/v2/models/monitor_config_policy_attribute_response.rb
  lib/datadog_api_client/v2/models/monitor_config_policy_downtime_policy.rb
  lib/datadog_api_client/v2/models/monitor_config_policy_downtime_policy_create_request.rb
  lib/datadog_api_client/v2/models/monitor_config_policy_policy.rb
  lib/datadog_api_client/v2/models/monitor_config_policy_policy_create_request.rb
  lib/datadog_api_client/v2/models/monitor_config_policy_tag_policy_create_request.rb
  lib/datadog_api_client/v2/models/monitor_config_policy_type.rb
Due: generate, format-examples
