Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: make
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo examples/generated
    files: '^examples/generated'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 14.12.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@2.5.1
  - id: generator-v1
    name: generator-v1
    language: python
    entry: bash -c "cd .generator && python -m pip install . && python -m generator -i ./schemas/v1/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
  - id: generator-v2
    name: generator-v2
    language: python
    entry: bash -c "cd .generator && python -m pip install . && python -m generator -i schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v2|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false

Regenerate client from commit 80288098 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  features/v1/aws_integration.feature
  features/v1/gcp_integration.feature
  features/v2/security_monitoring.feature
  lib/datadog_api_client/v1/models/gcp_account.rb
Due: generate

Regenerate client from commit af97a438 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  features/v1/aws_integration.feature
  features/v1/gcp_integration.feature
  features/v2/security_monitoring.feature
  lib/datadog_api_client/v1/models/gcp_account.rb
Due: generate

Regenerate client from commit 3350ca00 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/logs/Search-logs-returns-OK-response.frozen
  cassettes/features/v1/logs/Search-logs-returns-OK-response.yml
  examples/v1/logs/ListLogs.rb
  features/v1/aws_integration.feature
  features/v1/gcp_integration.feature
  features/v1/logs.feature
  features/v2/security_monitoring.feature
  lib/datadog_api_client/v1/models/change_widget_request.rb
  lib/datadog_api_client/v1/models/formula_and_function_response_format.rb
  lib/datadog_api_client/v1/models/gcp_account.rb
  lib/datadog_api_client/v1/models/geomap_widget_request.rb
  lib/datadog_api_client/v1/models/query_value_widget_request.rb
  lib/datadog_api_client/v1/models/scatterplot_table_request.rb
  lib/datadog_api_client/v1/models/sunburst_widget_request.rb
  lib/datadog_api_client/v1/models/table_widget_request.rb
  lib/datadog_api_client/v1/models/timeseries_widget_request.rb
  lib/datadog_api_client/v1/models/toplist_widget_request.rb
  lib/datadog_api_client/v1/models/tree_map_widget_request.rb
Due: generate

Regenerate client from commit d2e54621 of spec repo
  .apigentools-info
  examples/v1/logs/SubmitLog_1920474053.rb
  examples/v1/logs/SubmitLog_3418823904.rb
  examples/v1/metrics/SubmitMetrics_2203981258.rb
  examples/v2/logs/SubmitLog_3496222707.rb
  examples/v2/logs/SubmitLog_904601870.rb
Due: none

Regenerate client from commit 12a9b2cd of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/logs/Search-logs-returns-OK-response.frozen
  cassettes/features/v1/logs/Search-logs-returns-OK-response.yml
  examples/v1/logs/ListLogs.rb
  features/v1/aws_integration.feature
  features/v1/gcp_integration.feature
  features/v1/logs.feature
  features/v2/security_monitoring.feature
  lib/datadog_api_client/v1/models/change_widget_request.rb
  lib/datadog_api_client/v1/models/formula_and_function_response_format.rb
  lib/datadog_api_client/v1/models/gcp_account.rb
  lib/datadog_api_client/v1/models/geomap_widget_request.rb
  lib/datadog_api_client/v1/models/query_value_widget_request.rb
  lib/datadog_api_client/v1/models/scatterplot_table_request.rb
  lib/datadog_api_client/v1/models/sunburst_widget_request.rb
  lib/datadog_api_client/v1/models/table_widget_request.rb
  lib/datadog_api_client/v1/models/timeseries_widget_request.rb
  lib/datadog_api_client/v1/models/toplist_widget_request.rb
  lib/datadog_api_client/v1/models/tree_map_widget_request.rb
Due: generate

Regenerate client from commit a7afd4c8 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v1/models/monitor.rb
  lib/datadog_api_client/v1/models/monitor_options.rb
  lib/datadog_api_client/v1/models/monitor_update_request.rb
  lib/datadog_api_client/v2/api/roles_api.rb
  lib/datadog_api_client/v2/models/relationship_to_role_data.rb
  lib/datadog_api_client/v2/models/relationship_to_roles.rb
  lib/datadog_api_client/v2/models/role.rb
  lib/datadog_api_client/v2/models/role_attributes.rb
  lib/datadog_api_client/v2/models/role_create_response_data.rb
  lib/datadog_api_client/v2/models/role_update_data.rb
  lib/datadog_api_client/v2/models/role_update_response_data.rb
Due: generate

Regenerate client from commit e10259da of spec repo
  .apigentools-info
  cassettes/features/v1/logs/Search-test-logs-returns-OK-response.frozen
  cassettes/features/v1/logs/Search-test-logs-returns-OK-response.yml
  examples/v1/logs/ListLogs_235998668.rb
  features/v1/logs.feature
Due: none

Regenerate client from commit 1289c722 of spec repo
  .apigentools-info
  cassettes/features/v1/logs/Search-test-logs-returns-OK-response.frozen
  cassettes/features/v1/logs/Search-test-logs-returns-OK-response.yml
  examples/v1/logs/ListLogs_235998668.rb
  features/v1/logs.feature
Due: none

Change test matrix
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

Remove unused gems
  Gemfile
Due: none

Add docs gem group
  Gemfile
  LICENSE-3rdparty.csv
  run-tests.sh
Due: none

Use env
  .github/workflows/test.yml
  run-tests.sh
Due: none

Regenerate client from commit 31d44cb6 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  features/v1/logs.feature
  lib/datadog_api_client/v1/models/organization.rb
  lib/datadog_api_client/v1/models/organization_create_body.rb
Due: generate

Change test matrix (#807)
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
  Gemfile
  LICENSE-3rdparty.csv
Due: none

Regenerate client from commit 717103c5 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/monitors/Create-an-Error-Tracking-monitor-returns-OK-response.frozen
  cassettes/features/v1/monitors/Create-an-Error-Tracking-monitor-returns-OK-response.yml
  examples/v1/monitors/CreateMonitor_440013737.rb
  features/v1/monitor_error_tracking_alert_payload.json
  features/v1/monitors.feature
  lib/datadog_api_client/v1/api/monitors_api.rb
  lib/datadog_api_client/v1/models/monitor_type.rb
Due: generate

Regenerate client from commit 713a20ee of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v2/audit/Get-a-list-of-Audit-Logs-events-returns-Bad-Request-response.frozen
  cassettes/features/v2/audit/Get-a-list-of-Audit-Logs-events-returns-Bad-Request-response.yml
  cassettes/features/v2/audit/Search-Audit-Logs-events-returns-Bad-Request-response.frozen
  cassettes/features/v2/audit/Search-Audit-Logs-events-returns-Bad-Request-response.yml
  features/v1/logs.feature
  features/v2/audit.feature
  lib/datadog_api_client/v1/models/organization.rb
  lib/datadog_api_client/v1/models/organization_create_body.rb
Due: generate

use alias name
  .generator/src/generator/templates/api_client.j2
Due: generate

use httparty stream to get files
  .generator/src/generator/templates/api_client.j2
Due: generate

pre-commit fixes
  lib/datadog_api_client/v1/api_client.rb
  lib/datadog_api_client/v2/api_client.rb
Due: none

fix tests
  spec/v1/api_client_spec.rb
  spec/v2/api_client_spec.rb
Due: none

set stream_body
  .generator/src/generator/templates/api_client.j2
Due: generate

fix params
  .generator/src/generator/templates/api_client.j2
Due: generate

read cert files
  .generator/src/generator/templates/api_client.j2
Due: generate

request_timeout?
  .generator/src/generator/templates/api_client.j2
  lib/datadog_api_client/v1/api_client.rb
  lib/datadog_api_client/v2/api_client.rb
Due: generate

initial httparty port
  .generator/src/generator/templates/api.j2
  .generator/src/generator/templates/api_client.j2
  .generator/src/generator/templates/configuration.j2
  datadog_api_client.gemspec
Due: generate

update ssl options
  .generator/src/generator/templates/api_client.j2
  .generator/src/generator/templates/configuration.j2
Due: generate

small cleanup
  .generator/src/generator/templates/api_client.j2
Due: generate

Bump datadog_api_client to 1.8.0
  lib/datadog_api_client/version.rb
Due: none

Bump datadog_api_client to 1.8.0.dev.1
  lib/datadog_api_client/version.rb
Due: none

remove EOL ruby support
  .github/workflows/test.yml
  .rubocop.yml
  README.md
Due: none

remove EOL ruby support (#813)
  .github/workflows/test.yml
  .rubocop.yml
  README.md
Due: none

Regenerate client from commit 27296419 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/usage_top_avg_metrics_pagination.rb
Due: generate

Remove comment
  .generator/src/generator/templates/configuration.j2
  lib/datadog_api_client/v1/configuration.rb
  lib/datadog_api_client/v2/configuration.rb
Due: generate

Regenerate client from commit 4a3c7df2 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/monitors_api.rb
Due: generate

Regenerate client from commit 5ac1cf92 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  features/v1/aws_integration.feature
  features/v1/dashboard_lists.feature
  features/v1/dashboards.feature
  features/v1/downtimes.feature
  features/v1/events.feature
  features/v1/gcp_integration.feature
  features/v1/key_management.feature
  features/v1/logs.feature
  features/v1/logs_indexes.feature
  features/v1/logs_pipelines.feature
  features/v1/metrics.feature
  features/v1/monitors.feature
  features/v1/organizations.feature
  features/v1/service_checks.feature
  features/v1/service_level_objective_corrections.feature
  features/v1/service_level_objectives.feature
  features/v1/slack_integration.feature
  features/v1/snapshots.feature
  features/v1/synthetics.feature
  features/v1/usage_metering.feature
  features/v1/users.feature
  features/v1/webhooks_integration.feature
  features/v2/audit.feature
  features/v2/cloud_workload_security.feature
  features/v2/dashboard_lists.feature
  features/v2/logs.feature
  features/v2/logs_archives.feature
  features/v2/roles.feature
  features/v2/rum.feature
  features/v2/security_monitoring.feature
  features/v2/service_accounts.feature
  features/v2/users.feature
Due: generate

Do not copy legacy examples
  extract-code-blocks.sh
Due: none

Remove legacy examples
  examples/generated/v1/logs/SubmitLog.rb
  examples/generated/v2/authn-mappings/ListAuthNMappings.rb
  examples/generated/v2/incidents/UpdateIncident.rb
  examples/generated/v2/roles/AddUserToRole.rb
  examples/generated/v2/roles/RemoveUserFromRole.rb
  examples/generated/v2/roles/UpdateRole.rb
  examples/generated/v2/service-accounts/CreateServiceAccountApplicationKey.rb
  examples/generated/v2/service-accounts/DeleteServiceAccountApplicationKey.rb
  examples/generated/v2/service-accounts/GetServiceAccountApplicationKey.rb
  examples/generated/v2/service-accounts/ListServiceAccountApplicationKeys.rb
  examples/generated/v2/service-accounts/UpdateServiceAccountApplicationKey.rb
  examples/generated/v2/users/DisableUser.rb
  examples/generated/v2/users/GetInvitation.rb
  examples/generated/v2/users/GetUser.rb
  examples/generated/v2/users/ListUserOrganizations.rb
  examples/generated/v2/users/ListUserPermissions.rb
  examples/generated/v2/users/SendInvitations.rb
  examples/generated/v2/users/UpdateUser.rb
Due: format-examples
