Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

generated-features:
  name: Do not commit generated feature files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

remove those old feature files?
  features/v2/services.feature
  features/v2/teams.feature
Due: generated-features

[Ruby][faraday] fix response streaming (#7734)
  api_client.mustache
  api_client_faraday_partial.mustache
  api_client_typhoeus_partial.mustache
Due: none

[Ruby][faraday] fix response streaming (#7734)
  .generator/templates/api_client.mustache
  .generator/templates/api_client_faraday_partial.mustache
  .generator/templates/api_client_typhoeus_partial.mustache
Due: none

tests: use cucumber integration
  Gemfile
  features/support/hooks.rb
Due: none

enable cucumber
  features/support/env.rb
Due: none

version and tags
  .azure-pipelines/all.yml
  features/support/hooks.rb
Due: none

version tag
  features/support/hooks.rb
Due: none

git.branch:master
  .azure-pipelines/all.yml
Due: none

Revert "git.branch:master"
  .azure-pipelines/all.yml
Due: none

remove pin
  features/support/hooks.rb
Due: none

Regenerate client from commit 2af7762 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/MonitorOptions.md
  lib/datadog_api_client/v1/models/monitor_options.rb
Due: generated

Regenerate client from commit 1627efc of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/Monitor.md
  docs/v1/MonitorUpdateRequest.md
  lib/datadog_api_client/v1/models/monitor.rb
  lib/datadog_api_client/v1/models/monitor_update_request.rb
Due: generated

Regenerate client from commit 8433d9b of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/EventsApi.md
  lib/datadog_api_client/v1/api/events_api.rb
Due: generated

Regenerate client from commit d882020 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/EventsApi.md
  lib/datadog_api_client/v1/api/events_api.rb
Due: generated

[Ruby][faraday] fix download_file (#7842)
  .generator/templates/api_client.mustache
  .generator/templates/api_client_faraday_partial.mustache
Due: none

[Ruby][faraday] fix download_file (#7842)
  api_client.mustache
  api_client_faraday_partial.mustache
Due: none

time_provider
  features/support/env.rb
Due: none

Apply suggestions from code review
  features/support/env.rb
Due: none

tests: use cucumber integration (#67)
  .azure-pipelines/all.yml
  Gemfile
  features/support/env.rb
  features/support/hooks.rb
Due: none

ddtrace
  spec/spec_helper.rb
Due: none

run-tests with rerun
  .gitignore
  run-tests.sh
  spec/spec_helper.rb
Due: none

Regenerate client from commit c9877a2 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  lib/datadog_api_client/v1/models/widget_palette.rb
Due: generated

Removes secondaryParam and hasMore (#7882)
  .generator/templates/api.mustache
  .generator/templates/api_doc.mustache
  .generator/templates/partial_model_generic.mustache
Due: none

Removes secondaryParam and hasMore (#7882)
  api.mustache
  api_doc.mustache
  partial_model_generic.mustache
Due: none

Regenerate client from commit 8a545a7 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/UsageIndexedSpansHour.md
  docs/v1/UsageIndexedSpansResponse.md
  docs/v1/UsageIngestedSpansHour.md
  docs/v1/UsageIngestedSpansResponse.md
  docs/v1/UsageMeteringApi.md
  features/v1/usage_metering.feature
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/usage_indexed_spans_hour.rb
  lib/datadog_api_client/v1/models/usage_indexed_spans_response.rb
  lib/datadog_api_client/v1/models/usage_ingested_spans_hour.rb
  lib/datadog_api_client/v1/models/usage_ingested_spans_response.rb
Due: generated, generated-features

Regenerate client from commit 99c92ca of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/MonitorOptions.md
  lib/datadog_api_client/v1/models/monitor_options.rb
Due: generated

Fix incident related tests
  cassettes/features/v2/incident_services/Get-a-list-of-all-incident-services-returns-OK-response.yml
  cassettes/features/v2/incident_teams/Get-a-list-of-all-incident-teams-returns-OK-response.yml
Due: none

Regenerate client from commit 6a8fa99 of spec repo
  .apigentools-info
  data/v2/openapi.yaml
  docs/v2/IncidentServicesApi.md
  docs/v2/IncidentTeamsApi.md
  docs/v2/README.md
  features/v2/incident_services.feature
  features/v2/incident_teams.feature
  lib/datadog_api_client/v2/api/incident_services_api.rb
  lib/datadog_api_client/v2/api/incident_teams_api.rb
  lib/datadog_api_client/v2/configuration.rb
Due: generated, generated-features

Regenerate client from commit 9d03fff of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/IPPrefixesSynthetics.md
  lib/datadog_api_client/v1/models/ip_prefixes_synthetics.rb
Due: generated

Regenerate client from commit 81a95d1 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/LogsIndex.md
  docs/v1/LogsIndexUpdateRequest.md
  docs/v1/LogsIndexesApi.md
  docs/v1/README.md
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/api/logs_indexes_api.rb
  lib/datadog_api_client/v1/models/logs_index_update_request.rb
Due: generated

add cassettes for incident
  cassettes/features/v2/incidents/Create-an-incident-returns-CREATED-response.yml
  cassettes/features/v2/incidents/Delete-an-existing-incident-returns-OK-response.yml
  cassettes/features/v2/incidents/Get-a-list-of-incidents-returns-OK-response.yml
  cassettes/features/v2/incidents/Get-the-details-of-an-incident-returns-OK-response.yml
  cassettes/features/v2/incidents/Update-an-existing-incident-returns-OK-response.yml
Due: none

add that scaffolding func
  features/step_definitions/request.rb
Due: none

fix cassette for list
  cassettes/features/v2/incidents/Get-a-list-of-incidents-returns-OK-response.yml
Due: none

add cassette for create
  cassettes/features/v2/incidents/Create-an-incident-returns-CREATED-response.yml
Due: none

Extract and check examples
  .gitignore
  check-examples.sh
  extract-code-blocks.awk
  extract-code-blocks.sh
Due: none

Apply suggestions from code review
  features/v2/incidents.feature
Due: generated-features

Regenerate client from commit bea8b79 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/ChangeWidgetRequest.md
  docs/v1/DistributionWidgetRequest.md
  docs/v1/HostMapRequest.md
  docs/v1/QueryValueWidgetRequest.md
  docs/v1/ScatterPlotRequest.md
  docs/v1/TableWidgetRequest.md
  docs/v1/TimeseriesWidgetRequest.md
  docs/v1/ToplistWidgetRequest.md
  lib/datadog_api_client/v1/models/change_widget_request.rb
  lib/datadog_api_client/v1/models/distribution_widget_request.rb
  lib/datadog_api_client/v1/models/host_map_request.rb
  lib/datadog_api_client/v1/models/query_value_widget_request.rb
  lib/datadog_api_client/v1/models/scatter_plot_request.rb
  lib/datadog_api_client/v1/models/table_widget_request.rb
  lib/datadog_api_client/v1/models/timeseries_widget_request.rb
  lib/datadog_api_client/v1/models/toplist_widget_request.rb
Due: generated

Path conditions:
  generated: any of: ^lib/datadog_api_client/v[1-9].*
  generated-features: any of: ^features/v[1-9][0-9]*/.*.feature$
