Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features, licensed

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generated
    name: Do not commit generated files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^lib/datadog_api_client/v[1-9].*'
    verbose: true
  - id: generated-features
    name: Do not commit generated feature files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^features/v[1-9][0-9]*/.*.feature$'
    verbose: true
  - id: licensed
    name: Licensed
    language: ruby
    language_version: system
    additional_dependencies:
      - licensed
    entry: .licenses/check.sh
    pass_filenames: false
    files: "^(.*.gemspec|Gemfile|.licensed.yml)$"
    verbose: true

Regenerate client from commit bd111f9 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/DowntimesAPI.md
  docs/v1/README.md
  features/v1/downtimes.feature
  features/v1/undo.json
  lib/datadog_api_client/v1/api/downtimes_api.rb
Due: generated, generated-features

Regenerate client from commit ac5cf63 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/MonitorsAPI.md
  lib/datadog_api_client/v1/api/monitors_api.rb
Due: generated

use :site instead "site"
  features/step_definitions/request.rb
  spec/spec_helper.rb
Due: none

Regenerate client from commit f21ba81 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  data/v2/openapi.yaml
  lib/datadog_api_client/v1/configuration.rb
  lib/datadog_api_client/v2/configuration.rb
Due: generated

added unique_lower_alnum
  features/step_definitions/request.rb
Due: none

Regenerate client from commit 25dde8c of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/ServiceLevelObjective.md
  docs/v1/ServiceLevelObjectiveQuery.md
  docs/v1/ServiceLevelObjectiveRequest.md
  docs/v1/ServiceLevelObjectivesAPI.md
  lib/datadog_api_client/v1/models/service_level_objective_request.rb
Due: generated

Regenerate client from commit 3f8036f of spec repo
  .apigentools-info
  features/v1/dashboards.feature
Due: generated-features

Regenerate client from commit a7b74b7 of spec repo
  .apigentools-info
  data/v2/openapi.yaml
  features/v2/given.json
  features/v2/security_monitoring.feature
  features/v2/undo.json
Due: generated-features

updated cassettes
  cassettes/features/v1/service_level_objectives/Create-an-SLO-object-returns-Bad-Request-response.yml
  cassettes/features/v1/service_level_objectives/Create-an-SLO-object-returns-OK-response.yml
  cassettes/features/v1/service_level_objectives/Delete-an-SLO-returns-Not-found-response.yml
  cassettes/features/v1/service_level_objectives/Delete-an-SLO-returns-OK-response.yml
  cassettes/features/v1/service_level_objectives/Update-an-SLO-returns-Bad-Request-response.yml
Due: none

Regenerate client from commit 8873fe5 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/GeomapWidgetRequest.md
  lib/datadog_api_client/v1/models/geomap_widget_request.rb
Due: generated

Regenerate client from commit e13b005 of spec repo
  .apigentools-info
  features/v1/service_level_objectives.feature
Due: generated-features

Handle recording
  features/step_definitions/request.rb
Due: none

Regenerate client from commit 70fbb25 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/Dashboard.md
  docs/v1/DashboardReflowType.md
  docs/v1/README.md
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/dashboard.rb
  lib/datadog_api_client/v1/models/dashboard_reflow_type.rb
  spec/v1/models/dashboard_reflow_type_spec.rb
Due: generated

Regenerate client from commit fd4a082 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/ServiceLevelObjectiveCorrectionsAPI.md
  features/v1/service_level_objective_corrections.feature
  lib/datadog_api_client/v1/api/service_level_objective_corrections_api.rb
Due: generated, generated-features

Regenerate client from commit 92744ec of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/ServiceLevelObjectivesAPI.md
  lib/datadog_api_client/v1/api/service_level_objectives_api.rb
Due: generated

Fix alnum lowercase, re-record
  cassettes/features/v1/service_level_objectives/Delete-an-SLO-returns-Not-found-response.yml
  cassettes/features/v1/service_level_objectives/Update-an-SLO-returns-Bad-Request-response.yml
  features/step_definitions/request.rb
Due: none

Apply suggestions from code review
  features/support/env.rb
Due: none

Regenerate client from commit 7c5f04f of spec repo
  .apigentools-info
  features/v2/security_monitoring.feature
Due: generated-features

Remove cassettes directly instead of relying on lib option
  features/support/env.rb
  features/support/hooks.rb
Due: none

Regenerate client from commit f1b60ce of spec repo
  .apigentools-info
  data/v2/openapi.yaml
  features/v1/aws_integration.feature
  features/v1/aws_logs_integration.feature
  features/v1/azure_integration.feature
  features/v1/dashboard_lists.feature
  features/v1/dashboards.feature
  features/v1/downtimes.feature
  features/v1/events.feature
  features/v1/gcp_integration.feature
  features/v1/hosts.feature
  features/v1/key_management.feature
  features/v1/logs.feature
  features/v1/logs_indexes.feature
  features/v1/logs_pipelines.feature
  features/v1/metrics.feature
  features/v1/monitors.feature
  features/v1/organizations.feature
  features/v1/pagerduty_integration.feature
  features/v1/service_checks.feature
  features/v1/service_level_objective_corrections.feature
  features/v1/service_level_objectives.feature
  features/v1/slack_integration.feature
  features/v1/synthetics.feature
  features/v1/tags.feature
  features/v1/users.feature
  features/v2/dashboard_lists.feature
  features/v2/incident_services.feature
  features/v2/incident_teams.feature
  features/v2/incidents.feature
  features/v2/key_management.feature
  features/v2/logs.feature
  features/v2/logs_archives.feature
  features/v2/logs_metrics.feature
  features/v2/metrics.feature
  features/v2/roles.feature
  features/v2/security_monitoring.feature
  features/v2/users.feature
Due: generated-features

Release 1.0.0.beta.3
  .github/workflows/release.yml
  CHANGELOG.md
  Gemfile
  lib/datadog_api_client/version.rb
Due: licensed

Update RELEASING instructions
  RELEASING.md
Due: none

Release 1.0.0.beta.3 (#300)
  .github/workflows/release.yml
  CHANGELOG.md
  Gemfile
  RELEASING.md
  lib/datadog_api_client/version.rb
Due: licensed

Bump datadog_api_client to 1.0.0.beta.4.dev.1
  lib/datadog_api_client/version.rb
Due: none

Bump datadog_api_client to 1.0.0.beta.4.dev.1 (#303)
  lib/datadog_api_client/version.rb
Due: none

Update features/support/hooks.rb
  features/support/hooks.rb
Due: none

Remove unstable warnings in tests
  features/step_definitions/request.rb
Due: none

Remove codecov
  .azure-pipelines/all.yml
  Gemfile
  LICENSE-3rdparty.csv
  features/support/env.rb
Due: licensed

cassettes
  cassettes/features/v1/service_level_objectives/Update-an-SLO-returns-Bad-Request-response.yml
Due: none

Remove unstable warnings in tests (#304)
  features/step_definitions/request.rb
Due: none

Keep simplecov
  features/support/env.rb
Due: none

add gem
  Gemfile
Due: licensed

Remove codecov (#305)
  .azure-pipelines/all.yml
  Gemfile
  LICENSE-3rdparty.csv
  features/support/env.rb
Due: licensed

cassettes
  cassettes/features/v1/logs/Send-logs-returns-Response-from-server-always-200-empty-JSON-response.yml
  cassettes/features/v1/service_level_objective_corrections/Get-an-SLO-correction-for-an-SLO-returns-OK-response.yml
  cassettes/features/v1/service_level_objectives/Create-an-SLO-object-returns-Bad-Request-response.yml
  cassettes/features/v1/service_level_objectives/Update-an-SLO-returns-Bad-Request-response.yml
  cassettes/features/v2/logs_metrics/Update-a-log-based-metric-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Create-a-detection-rule-returns-Bad-Request-response.yml
  cassettes/features/v2/security_monitoring/Create-a-detection-rule-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Delete-an-existing-rule-returns-OK-response.yml
Due: none

Regenerate client from commit 9149cd6 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  data/v2/openapi.yaml
  docs/v2/IncidentServiceUpdateData.md
  docs/v2/IncidentServicesAPI.md
  docs/v2/IncidentTeamUpdateData.md
  docs/v2/IncidentTeamsAPI.md
  features/v1/dashboards.feature
  features/v1/given.json
  features/v1/logs.feature
  features/v1/service_level_objectives.feature
  features/v2/given.json
  features/v2/logs_metrics.feature
  features/v2/security_monitoring.feature
  lib/datadog_api_client/v2/models/incident_service_update_data.rb
  lib/datadog_api_client/v2/models/incident_team_update_data.rb
Due: generated, generated-features
