Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features, licensed

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generated
    name: Do not commit generated files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^lib/datadog_api_client/v[1-9].*'
    verbose: true
  - id: generated-features
    name: Do not commit generated feature files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^features/v[1-9][0-9]*/.*.feature$'
    verbose: true
  - id: licensed
    name: Licensed
    language: ruby
    language_version: system
    additional_dependencies:
      - licensed
    entry: .licenses/check.sh
    pass_filenames: false
    files: "^(.*.gemspec|Gemfile|.licensed.yml)$"
    verbose: true

Fix ISO date
  features/step_definitions/request.rb
Due: none

tests: remove inspect (#664)
  features/step_definitions/request.rb
Due: none

Remove generated files
  Makefile
Due: none

Regenerate client from commit 58a70a6 of spec repo
  .apigentools-info
  docs/v1/HourlyUsageAttributionBody.md
  docs/v1/HourlyUsageAttributionMetadata.md
  docs/v1/HourlyUsageAttributionPagination.md
  docs/v1/HourlyUsageAttributionResponse.md
  docs/v1/HourlyUsageAttributionUsageType.md
Due: none

Regenerate client from commit d1e8471 of spec repo
  .apigentools-info
  docs/v1/HourlyUsageAttributionBody.md
  docs/v1/HourlyUsageAttributionMetadata.md
  docs/v1/HourlyUsageAttributionPagination.md
  docs/v1/HourlyUsageAttributionResponse.md
  docs/v1/HourlyUsageAttributionUsageType.md
Due: none

Regenerate client from commit 7b8392b of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/UsageRumSessionsHour.md
  docs/v1/UsageSummaryDate.md
  docs/v1/UsageSummaryDateOrg.md
  docs/v1/UsageSummaryResponse.md
  lib/datadog_api_client/v1/models/usage_rum_sessions_hour.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
  spec/v1/models/usage_rum_sessions_hour_spec.rb
  spec/v1/models/usage_summary_date_org_spec.rb
  spec/v1/models/usage_summary_date_spec.rb
  spec/v1/models/usage_summary_response_spec.rb
Due: generated

Regenerate client from commit 4c3cdd2 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Get-a-dashboard-returns-author-name-.frozen
  cassettes/features/v1/dashboards/Get-a-dashboard-returns-author-name-.yml
  docs/v1/Dashboard.md
  examples/v1/dashboards/GetDashboard_4262333854.rb
  features/v1/dashboards.feature
  lib/datadog_api_client/v1/models/dashboard.rb
  spec/v1/models/dashboard_spec.rb
Due: generated, generated-features

Regenerate client from commit 6946869 of spec repo
  .apigentools-info
  cassettes/features/v1/dashboards/Get-a-dashboard-returns-author-name-.yml
Due: none

Regenerate client from commit 184be3f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/synthetics/Create-an-API-test-with-multi-subtype-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-test-with-multi-subtype-returns-OK-Returns-the-created-test-details-response.yml
  docs/v1/SyntheticsAPIStep.md
  examples/v1/synthetics/CreateSyntheticsAPITest_1279271422.rb
  features/v1/synthetics.feature
  features/v1/synthetics_api_test_multi_step_payload.json
  lib/datadog_api_client/v1/models/synthetics_api_step.rb
  spec/v1/models/synthetics_api_step_spec.rb
Due: generated, generated-features

Regenerate client from commit a4fe6c9 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/UsageAttributionPagination.md
  features/v1/dashboards.feature
  lib/datadog_api_client/v1/models/usage_attribution_pagination.rb
  spec/v1/models/usage_attribution_pagination_spec.rb
Due: generated, generated-features

Regenerate client from commit d72de97 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/downtime_recurrence.rb
Due: generated

Regenerate client from commit dc856e9 of spec repo
  .apigentools-info
  cassettes/features/v2/logs/Get-a-quick-list-of-logs-returns-OK-response.frozen
  cassettes/features/v2/logs/Get-a-quick-list-of-logs-returns-OK-response.yml
  examples/v2/logs/ListLogsGet_2034110533.rb
  features/v2/logs.feature
Due: generated-features

dont convert paths to snake case
  features/support/templating.rb
Due: none

dont convert paths to snake case (#675)
  features/support/templating.rb
Due: none

Regenerate client from commit d9089b2 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/UsageRumSessionsHour.md
  docs/v1/UsageSummaryDate.md
  docs/v1/UsageSummaryDateOrg.md
  docs/v1/UsageSummaryResponse.md
  lib/datadog_api_client/v1/models/usage_rum_sessions_hour.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
  spec/v1/models/usage_rum_sessions_hour_spec.rb
Due: generated

Regenerate client from commit 31f2832 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/UsageRumSessionsHour.md
  docs/v1/UsageSummaryDate.md
  docs/v1/UsageSummaryDateOrg.md
  docs/v1/UsageSummaryResponse.md
  lib/datadog_api_client/v1/models/usage_rum_sessions_hour.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
  spec/v1/models/usage_rum_sessions_hour_spec.rb
Due: generated

Regenerate client from commit 16aa0e9 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/hosts/Get-all-hosts-with-metadata-deserializes-successfully.frozen
  cassettes/features/v1/hosts/Get-all-hosts-with-metadata-deserializes-successfully.yml
  cassettes/features/v1/hosts/Get-all-hosts-with-metadata-for-your-organization-returns-OK-response.frozen
  cassettes/features/v1/hosts/Get-all-hosts-with-metadata-for-your-organization-returns-OK-response.yml
  docs/v1/HostMeta.md
  docs/v1/HostMetaInstallMethod.md
  docs/v1/README.md
  examples/v1/hosts/ListHosts_2975406675.rb
  examples/v1/hosts/ListHosts_347346033.rb
  features/v1/hosts.feature
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/host_meta_install_method.rb
  spec/v1/models/host_meta_install_method_spec.rb
  spec/v1/models/host_meta_spec.rb
Due: generated, generated-features

Lint all docs
  .pre-commit-config.yaml
Due: none

Add files restriction
  .pre-commit-config.yaml
Due: none

Regenerate client from commit 43a312f of spec repo
  .apigentools-info
  docs/v1/HostMetaInstallMethod.md
Due: none

Regenerate client from commit 1d9e354 of spec repo
  .apigentools-info
  docs/v1/HostMetaInstallMethod.md
Due: none

Regenerate client from commit 1c5282f of spec repo
  .apigentools-info
  docs/v1/HostMetaInstallMethod.md
Due: none

Regenerate client from commit 7c3b86d of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: none

Regenerate client from commit cc7ebbe of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/usage_metering/Get-Hourly-Usage-Attribution-returns-OK-response.frozen
  cassettes/features/v1/usage_metering/Get-Hourly-Usage-Attribution-returns-OK-response.yml
  cassettes/features/v1/usage_metering/Get-Monthly-Usage-Attribution-returns-OK-response.frozen
  cassettes/features/v1/usage_metering/Get-Monthly-Usage-Attribution-returns-OK-response.yml
  docs/v1/MonthlyUsageAttributionBody.md
  docs/v1/MonthlyUsageAttributionMetadata.md
  docs/v1/MonthlyUsageAttributionPagination.md
  docs/v1/MonthlyUsageAttributionResponse.md
  docs/v1/MonthlyUsageAttributionSupportedMetrics.md
  docs/v1/MonthlyUsageAttributionValues.md
  docs/v1/README.md
  docs/v1/UsageMeteringAPI.md
  examples/v1/usage-metering/GetMonthlyUsageAttribution.rb
  features/v1/undo.json
  features/v1/usage_metering.feature
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/configuration.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_body.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_metadata.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_pagination.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_response.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_supported_metrics.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_values.rb
  spec/v1/api/usage_metering_api_spec.rb
  spec/v1/models/monthly_usage_attribution_body_spec.rb
  spec/v1/models/monthly_usage_attribution_metadata_spec.rb
  spec/v1/models/monthly_usage_attribution_pagination_spec.rb
  spec/v1/models/monthly_usage_attribution_response_spec.rb
  spec/v1/models/monthly_usage_attribution_supported_metrics_spec.rb
  spec/v1/models/monthly_usage_attribution_values_spec.rb
Due: generated, generated-features

Regenerate client from commit f43ab25 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/usage_metering/Get-Usage-Attribution-returns-OK-response.frozen
  cassettes/features/v1/usage_metering/Get-Usage-Attribution-returns-OK-response.yml
  docs/v1/UsageMeteringAPI.md
  examples/v1/usage-metering/GetUsageAttribution.rb
  features/v1/usage_metering.feature
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  spec/v1/api/usage_metering_api_spec.rb
Due: generated, generated-features

Regenerate client from commit 55f26ba of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/SyntheticsGlobalVariable.md
  lib/datadog_api_client/v1/models/synthetics_global_variable.rb
Due: generated

Regenerate client from commit 8cf1daa of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  docs/v2/IncidentsAPI.md
  lib/datadog_api_client/v2/api/incidents_api.rb
  spec/v2/api/incidents_api_spec.rb
Due: generated

Regenerate client from commit 9f3c740 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-a-formulas-and-functions-treemap-widget.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-a-formulas-and-functions-treemap-widget.yml
  docs/v1/TreeMapWidgetDefinition.md
  docs/v1/TreeMapWidgetRequest.md
  examples/v1/dashboards/CreateDashboard_1024858348.rb
  features/v1/dashboards.feature
  lib/datadog_api_client/v1/models/tree_map_widget_definition.rb
  lib/datadog_api_client/v1/models/tree_map_widget_request.rb
  spec/v1/models/tree_map_widget_request_spec.rb
Due: generated, generated-features

Use openapi-generator-cli instead of docker-compose
  .pre-commit-config.yaml
  Makefile
  docker-compose.generator.yaml
  openapitools.json
Due: none

Move to .generator
  .generator/openapitools.json
  .gitignore
  .pre-commit-config.yaml
Due: none

Regenerate client from commit 830f39c of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  docs/v1/README.md
  docs/v2/README.md
Due: none

Regenerate client from commit bb2c57f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/EventCreateRequest.md
  lib/datadog_api_client/v1/models/event_create_request.rb
  spec/v1/models/event_create_request_spec.rb
Due: generated

Regenerate client from commit 1ae19d0 of spec repo
  .apigentools-info
Due: none
