Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Regenerate client from commit 3517c947 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit 5aa96e08 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/DeleteCustomFramework.rb
  features/scenarios_model_mapping.rb
  features/v2/security_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/custom_framework_metadata.rb
  lib/datadog_api_client/v2/models/delete_custom_framework_response.rb
Due: generate, format-examples

Regenerate client from commit 6ca31e76 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit 0457044b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/metrics_api.rb
Due: generate

Regenerate client from commit 89d2bdc8 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/CreateCustomFramework.rb
  examples/v2/security-monitoring/UpdateCustomFramework.rb
  features/scenarios_model_mapping.rb
  features/v2/security_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/create_custom_framework_request.rb
  lib/datadog_api_client/v2/models/framework_control.rb
  lib/datadog_api_client/v2/models/framework_requirement.rb
  lib/datadog_api_client/v2/models/update_custom_framework_request.rb
Due: generate, format-examples

Regenerate client from commit 21b02fc5 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/monitors_api.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_events_data_source.rb
  lib/datadog_api_client/v1/models/monitor_type.rb
Due: generate

Regenerate client from commit e54847a1 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/monitor_formula_and_function_events_data_source.rb
Due: generate

Regenerate client from commit b3d1b873 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/CreateCustomFramework.rb
  examples/v2/security-monitoring/UpdateCustomFramework.rb
  features/scenarios_model_mapping.rb
  features/v2/given.json
  features/v2/security_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/create_custom_framework_request.rb
  lib/datadog_api_client/v2/models/framework_control.rb
  lib/datadog_api_client/v2/models/framework_requirement.rb
  lib/datadog_api_client/v2/models/update_custom_framework_request.rb
Due: generate, format-examples

Regenerate client from commit 0ad24d9f of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/restriction_policies_api.rb
Due: generate

Regenerate client from commit 45186abe of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit 127642e2 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-cost-management/CreateCostGCPUsageCostConfig.rb
  examples/v2/cloud-cost-management/DeleteCostGCPUsageCostConfig.rb
  examples/v2/cloud-cost-management/ListCostGCPUsageCostConfigs.rb
  examples/v2/cloud-cost-management/UpdateCostGCPUsageCostConfig.rb
  features/scenarios_model_mapping.rb
  features/v2/cloud_cost_management.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/cloud_cost_management_api.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_attributes.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_patch_data.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_patch_request.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_patch_request_attributes.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_patch_request_type.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_post_data.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_post_request.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_post_request_attributes.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_post_request_type.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_response.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_config_type.rb
  lib/datadog_api_client/v2/models/gcp_usage_cost_configs_response.rb
Due: generate, format-examples

Regenerate client from commit 4e5906d6 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/data_deletion/Cancels-a-data-deletion-request-returns-Bad-Request-response.frozen
  cassettes/features/v2/data_deletion/Cancels-a-data-deletion-request-returns-Bad-Request-response.yml
  cassettes/features/v2/data_deletion/Cancels-a-data-deletion-request-returns-OK-response.frozen
  cassettes/features/v2/data_deletion/Cancels-a-data-deletion-request-returns-OK-response.yml
  cassettes/features/v2/data_deletion/Cancels-a-data-deletion-request-returns-Precondition-failed-error-response.frozen
  cassettes/features/v2/data_deletion/Cancels-a-data-deletion-request-returns-Precondition-failed-error-response.yml
  cassettes/features/v2/data_deletion/Creates-a-data-deletion-request-returns-OK-response.frozen
  cassettes/features/v2/data_deletion/Creates-a-data-deletion-request-returns-OK-response.yml
  cassettes/features/v2/data_deletion/Creates-a-data-deletion-request-returns-Precondition-failed-error-response.frozen
  cassettes/features/v2/data_deletion/Creates-a-data-deletion-request-returns-Precondition-failed-error-response.yml
  cassettes/features/v2/data_deletion/Gets-a-list-of-data-deletion-requests-returns-OK-response.frozen
  cassettes/features/v2/data_deletion/Gets-a-list-of-data-deletion-requests-returns-OK-response.yml
  examples/v2/data-deletion/CreateDataDeletionRequest.rb
  features/v2/data_deletion.feature
  features/v2/given.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/create_data_deletion_request_body_data.rb
  lib/datadog_api_client/v2/models/create_data_deletion_request_body_data_type.rb
Due: generate, format-examples

Regenerate client from commit 617655da of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/restriction_policies_api.rb
Due: generate

Regenerate client from commit 27e609f7 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/monitors/Create-a-Cost-Monitor-returns-OK-response.frozen
  cassettes/features/v1/monitors/Create-a-Cost-Monitor-returns-OK-response.yml
  examples/v1/monitors/CreateMonitor_1303514967.rb
  features/v1/monitors.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_cost_aggregator.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_cost_data_source.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_cost_query_definition.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_query_definition.rb
Due: generate, format-examples

Regenerate client from commit 0bbc13ae of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/ci_visibility_pipelines/Send-pipeline-event-with-custom-provider-returns-Request-accepted-for-processing-response.frozen
  cassettes/features/v2/ci_visibility_pipelines/Send-pipeline-event-with-custom-provider-returns-Request-accepted-for-processing-response.yml
  examples/v2/ci-visibility-pipelines/CreateCIAppPipelineEvent_819339921.rb
  features/v2/ci_visibility_pipelines.feature
  lib/datadog_api_client/v2/models/ci_app_create_pipeline_event_request_attributes.rb
Due: generate, format-examples

migrate Datadog Test Optimization setup to use the new datadog-ci gem (#2172)
  .github/workflows/test.yml
  Gemfile
  LICENSE-3rdparty.csv
  features/support/env.rb
Due: none

Regenerate client from commit 7a8ea4b1 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Get-SBOM-returns-Not-found-asset-not-found-response.frozen
  cassettes/features/v2/security_monitoring/Get-SBOM-returns-Not-found-asset-not-found-response.yml
  cassettes/features/v2/security_monitoring/Get-SBOM-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Get-SBOM-returns-OK-response.yml
  examples/v2/security-monitoring/GetSBOM.rb
  features/scenarios_model_mapping.rb
  features/v2/security_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/asset_attributes.rb
  lib/datadog_api_client/v2/models/asset_operating_system.rb
  lib/datadog_api_client/v2/models/asset_risks.rb
  lib/datadog_api_client/v2/models/asset_version.rb
  lib/datadog_api_client/v2/models/get_sbom_response.rb
  lib/datadog_api_client/v2/models/sbom.rb
  lib/datadog_api_client/v2/models/sbom_attributes.rb
  lib/datadog_api_client/v2/models/sbom_component.rb
  lib/datadog_api_client/v2/models/sbom_component_type.rb
  lib/datadog_api_client/v2/models/sbom_metadata.rb
  lib/datadog_api_client/v2/models/sbom_metadata_component.rb
  lib/datadog_api_client/v2/models/sbom_type.rb
  lib/datadog_api_client/v2/models/spec_version.rb
  lib/datadog_api_client/v2/models/vulnerability_attributes.rb
  lib/datadog_api_client/v2/models/vulnerability_cvss.rb
  lib/datadog_api_client/v2/models/vulnerability_dependency_locations.rb
Due: generate, format-examples

update docs action version
  .github/workflows/docs.yml
Due: none

Regenerate client from commit f985f8bc of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/usage-metering/GetBillingDimensionMapping.rb
  features/v2/usage_metering.feature
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/usage_metering_api.rb
Due: generate, format-examples

Regenerate client from commit 2350cf2b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/logs_archive_encryption_s3.rb
  lib/datadog_api_client/v2/models/logs_archive_encryption_s3_type.rb
Due: generate

Regenerate client from commit ff83ed06 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/logs-pipelines/CreateLogsPipeline.rb
  examples/v1/logs-pipelines/UpdateLogsPipeline.rb
  features/v1/logs_pipelines.feature
  lib/datadog_api_client/v1/models/logs_pipeline.rb
Due: generate, format-examples

Regenerate client from commit 6a31fa8c of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/monitor_update_request.rb
Due: generate

Regenerate client from commit 9120bb44 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/action-connection/CreateActionConnection_2600083647.rb
  examples/v2/action-connection/GetActionConnection.rb
  examples/v2/action-connection/GetActionConnection_2273648770.rb
  examples/v2/action-connection/UpdateActionConnection_2280399724.rb
  features/v2/action_connection.feature
  lib/datadog_api_client/v2/api/action_connection_api.rb
  lib/datadog_api_client/v2/models/action_connection_attributes.rb
  lib/datadog_api_client/v2/models/action_connection_attributes_update.rb
  lib/datadog_api_client/v2/models/action_connection_data.rb
  lib/datadog_api_client/v2/models/aws_assume_role.rb
  lib/datadog_api_client/v2/models/aws_assume_role_update.rb
  lib/datadog_api_client/v2/models/create_action_connection_request.rb
  lib/datadog_api_client/v2/models/create_action_connection_response.rb
  lib/datadog_api_client/v2/models/get_action_connection_response.rb
  lib/datadog_api_client/v2/models/http_integration.rb
  lib/datadog_api_client/v2/models/http_integration_update.rb
  lib/datadog_api_client/v2/models/update_action_connection_request.rb
Due: generate, format-examples

Regenerate client from commit 333d42be of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  features/v1/logs_indexes.feature
  features/v1/logs_pipelines.feature
  features/v2/logs_archives.feature
  features/v2/logs_metrics.feature
Due: generate

Regenerate client from commit 4a99b1d3 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit aa10e3e1 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  features/v1/security_monitoring.feature
Due: generate

Regenerate client from commit f832f43e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit a492a6f8 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/usage-metering/GetActiveBillingDimensions.rb
  examples/v2/usage-metering/GetMonthlyCostAttribution.rb
  features/v2/usage_metering.feature
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/usage_metering_api.rb
Due: generate, format-examples

Regenerate client from commit 14f5d952 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Update team name to include web-frameworks
  .github/CODEOWNERS
Due: none

Fix case
  .github/CODEOWNERS
Due: none

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
