Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Regenerate client from commit 15c07c2 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/ci_visibility_pipelines_api.rb
Due: generate

Regenerate client from commit 2776a1d of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/incidents/CreatePageFromIncident.rb
  features/scenarios_model_mapping.rb
  features/v2/incidents.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/incidents_api.rb
  lib/datadog_api_client/v2/models/incident_create_page_attributes.rb
  lib/datadog_api_client/v2/models/incident_create_page_from_incident_data.rb
  lib/datadog_api_client/v2/models/incident_create_page_from_incident_request.rb
  lib/datadog_api_client/v2/models/incident_create_page_response.rb
  lib/datadog_api_client/v2/models/incident_create_page_response_data.rb
  lib/datadog_api_client/v2/models/incident_page_id_type.rb
  lib/datadog_api_client/v2/models/incident_page_target.rb
  lib/datadog_api_client/v2/models/incident_page_target_type.rb
  lib/datadog_api_client/v2/models/incident_page_type.rb
Due: generate, format-examples

Regenerate client from commit bd1bec8 of spec repo
  features/v2/on-call.feature
  features/v2/on-call_paging.feature
Due: none

Regenerate client from commit 5cf511f of spec repo
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateSyntheticsAPITest.rb
  examples/v1/synthetics/UpdateBrowserTest.rb
  features/v1/synthetics.feature
  lib/datadog_api_client/v1/models/synthetics_test_options.rb
Due: generate, format-examples

Regenerate client from commit 85974fe of spec repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v1/models/monitor.rb
  lib/datadog_api_client/v1/models/monitor_update_request.rb
  lib/datadog_api_client/v1/models/widget_marker.rb
  lib/datadog_api_client/v2/api/api_management_api.rb
  lib/datadog_api_client/v2/api/incidents_api.rb
  lib/datadog_api_client/v2/api/observability_pipelines_api.rb
  lib/datadog_api_client/v2/api/on_call_paging_api.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/bulk_mute_findings_request_properties.rb
  lib/datadog_api_client/v2/models/cloud_configuration_compliance_rule_options.rb
  lib/datadog_api_client/v2/models/cloud_configuration_rule_create_payload.rb
  lib/datadog_api_client/v2/models/cloud_configuration_rule_options.rb
  lib/datadog_api_client/v2/models/cloud_configuration_rule_payload.rb
  lib/datadog_api_client/v2/models/flaky_tests_search_filter.rb
  lib/datadog_api_client/v2/models/metric_tag_cardinalities_meta.rb
  lib/datadog_api_client/v2/models/notification_rule_response.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_data_firehose_source.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_open_search_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_source.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_security_lake_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_google_chronicle_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_google_cloud_storage_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_google_pub_sub_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_google_pub_sub_source.rb
  lib/datadog_api_client/v2/models/observability_pipeline_parse_grok_processor_rule.rb
  lib/datadog_api_client/v2/models/observability_pipeline_quota_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_splunk_hec_destination.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_options.rb
Due: generate

Regenerate client from commit 44dea02 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/roles/ListRoleTemplates.rb
  features/v2/roles.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/roles_api.rb
  lib/datadog_api_client/v2/models/role_template_array.rb
  lib/datadog_api_client/v2/models/role_template_data.rb
  lib/datadog_api_client/v2/models/role_template_data_attributes.rb
  lib/datadog_api_client/v2/models/role_template_data_type.rb
Due: generate, format-examples

Regenerate client from commit 2b88845 of spec repo
  cassettes/features/v2/security_monitoring/Convert-a-rule-from-JSON-to-Terraform-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Convert-an-existing-rule-from-JSON-to-Terraform-returns-OK-response.yml
  features/v2/security_monitoring.feature
Due: none

Regenerate client from commit c65cf5e of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/actions_datastores/Bulk-delete-datastore-items-returns-Bad-Request-response.frozen
  cassettes/features/v2/actions_datastores/Bulk-delete-datastore-items-returns-Bad-Request-response.yml
  cassettes/features/v2/actions_datastores/Bulk-delete-datastore-items-returns-Not-Found-response.frozen
  cassettes/features/v2/actions_datastores/Bulk-delete-datastore-items-returns-Not-Found-response.yml
  cassettes/features/v2/actions_datastores/Bulk-delete-datastore-items-returns-OK-response.frozen
  cassettes/features/v2/actions_datastores/Bulk-delete-datastore-items-returns-OK-response.yml
  examples/v2/actions-datastores/BulkDeleteDatastoreItems.rb
  features/scenarios_model_mapping.rb
  features/v2/actions_datastores.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/actions_datastores_api.rb
  lib/datadog_api_client/v2/models/bulk_delete_apps_datastore_items_request.rb
  lib/datadog_api_client/v2/models/bulk_delete_apps_datastore_items_request_data.rb
  lib/datadog_api_client/v2/models/bulk_delete_apps_datastore_items_request_data_attributes.rb
  lib/datadog_api_client/v2/models/bulk_delete_apps_datastore_items_request_data_type.rb
  lib/datadog_api_client/v2/models/delete_apps_datastore_item_response_array.rb
Due: generate, format-examples

Regenerate client from commit 0d2ed46 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/notebooks/Create-a-notebook-returns-OK-response.frozen
  cassettes/features/v1/notebooks/Create-a-notebook-returns-OK-response.yml
  cassettes/features/v1/notebooks/Update-a-notebook-returns-OK-response.yml
  examples/v1/logs-pipelines/CreateLogsPipeline.rb
  examples/v1/logs-pipelines/UpdateLogsPipeline.rb
  examples/v1/notebooks/CreateNotebook.rb
  examples/v1/notebooks/UpdateNotebook.rb
  features/v1/logs_pipelines.feature
  features/v1/notebooks.feature
Due: generate, format-examples

Regenerate client from commit 389040e of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v1/logs-pipelines/CreateLogsPipeline.rb
  examples/v1/logs-pipelines/UpdateLogsPipeline.rb
  examples/v2/static-analysis/CreateSCAResolveVulnerableSymbols.rb
  examples/v2/static-analysis/CreateSCAResult.rb
  features/scenarios_model_mapping.rb
  features/v1/logs_pipelines.feature
  features/v2/static_analysis.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/static_analysis_api.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_request.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_request_data.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_request_data_attributes.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_request_data_type.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_response.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_response_data.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_response_data_attributes.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_response_data_type.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_response_results.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_response_results_vulnerable_symbols.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_response_results_vulnerable_symbols_symbols.rb
  lib/datadog_api_client/v2/models/sca_request.rb
  lib/datadog_api_client/v2/models/sca_request_data.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_commit.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_dependencies_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_dependencies_items_locations_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_dependencies_items_locations_items_file_position.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_dependencies_items_locations_items_position.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_dependencies_items_reachable_symbol_properties_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_files_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_relations_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_repository.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_vulnerabilities_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_vulnerabilities_items_affects_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_type.rb
Due: generate, format-examples

Regenerate client from commit f1106af of spec repo
  examples/v1/logs-pipelines/CreateLogsPipeline.rb
  examples/v1/logs-pipelines/UpdateLogsPipeline.rb
  features/v1/logs_pipelines.feature
Due: format-examples

Regenerate client from commit 7e62066 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v1/logs-pipelines/CreateLogsPipeline.rb
  examples/v1/logs-pipelines/UpdateLogsPipeline.rb
  examples/v2/static-analysis/CreateSCAResolveVulnerableSymbols.rb
  examples/v2/static-analysis/CreateSCAResult.rb
  features/scenarios_model_mapping.rb
  features/v1/logs_pipelines.feature
  features/v2/static_analysis.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/static_analysis_api.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_request.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_request_data.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_request_data_attributes.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_request_data_type.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_response.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_response_data.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_response_data_attributes.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_response_data_type.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_response_results.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_response_results_vulnerable_symbols.rb
  lib/datadog_api_client/v2/models/resolve_vulnerable_symbols_response_results_vulnerable_symbols_symbols.rb
  lib/datadog_api_client/v2/models/sca_request.rb
  lib/datadog_api_client/v2/models/sca_request_data.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_commit.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_dependencies_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_dependencies_items_locations_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_dependencies_items_locations_items_file_position.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_dependencies_items_locations_items_position.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_dependencies_items_reachable_symbol_properties_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_files_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_relations_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_repository.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_vulnerabilities_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_vulnerabilities_items_affects_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_type.rb
Due: generate, format-examples

Regenerate client from commit 627a896 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/monitors/Create-a-monitor-notification-rule-with-conditional-recipients-returns-OK-response.frozen
  cassettes/features/v2/monitors/Create-a-monitor-notification-rule-with-conditional-recipients-returns-OK-response.yml
  cassettes/features/v2/monitors/Update-a-monitor-notification-rule-with-conditional-recipients-returns-OK-response.frozen
  cassettes/features/v2/monitors/Update-a-monitor-notification-rule-with-conditional-recipients-returns-OK-response.yml
  examples/v2/monitors/CreateMonitorNotificationRule_1181818787.rb
  examples/v2/monitors/UpdateMonitorNotificationRule_1400905713.rb
  features/v2/monitors.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/monitor_notification_rule_attributes.rb
  lib/datadog_api_client/v2/models/monitor_notification_rule_condition.rb
  lib/datadog_api_client/v2/models/monitor_notification_rule_conditional_recipients.rb
Due: generate, format-examples

Regenerate client from commit 3237a81 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/application-security/CreateApplicationSecurityWafPolicy.rb
  examples/v2/application-security/DeleteApplicationSecurityWafPolicy.rb
  examples/v2/application-security/GetApplicationSecurityWafPolicy.rb
  examples/v2/application-security/ListApplicationSecurityWAFPolicies.rb
  examples/v2/application-security/UpdateApplicationSecurityWafPolicy.rb
  features/scenarios_model_mapping.rb
  features/v2/application_security.feature
  features/v2/given.json
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/application_security_api.rb
  lib/datadog_api_client/v2/models/application_security_policy_attributes.rb
  lib/datadog_api_client/v2/models/application_security_policy_create_attributes.rb
  lib/datadog_api_client/v2/models/application_security_policy_create_data.rb
  lib/datadog_api_client/v2/models/application_security_policy_create_request.rb
  lib/datadog_api_client/v2/models/application_security_policy_data.rb
  lib/datadog_api_client/v2/models/application_security_policy_list_response.rb
  lib/datadog_api_client/v2/models/application_security_policy_metadata.rb
  lib/datadog_api_client/v2/models/application_security_policy_response.rb
  lib/datadog_api_client/v2/models/application_security_policy_rule_override.rb
  lib/datadog_api_client/v2/models/application_security_policy_scope.rb
  lib/datadog_api_client/v2/models/application_security_policy_type.rb
  lib/datadog_api_client/v2/models/application_security_policy_update_attributes.rb
  lib/datadog_api_client/v2/models/application_security_policy_update_data.rb
  lib/datadog_api_client/v2/models/application_security_policy_update_request.rb
Due: generate, format-examples

Regenerate client from commit f28e269 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/GetSecretsRules.rb
  examples/v2/security-monitoring/ListMultipleRulesets.rb
  features/scenarios_model_mapping.rb
  features/v2/security_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_request.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_request_data.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_request_data_attributes.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_request_data_type.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_response.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_response_data.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_response_data_attributes.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_response_data_attributes_rulesets_items.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_response_data_attributes_rulesets_items_data.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_response_data_attributes_rulesets_items_data_type.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_response_data_attributes_rulesets_items_rules_items.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_response_data_attributes_rulesets_items_rules_items_arguments_items.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_response_data_attributes_rulesets_items_rules_items_data.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_response_data_attributes_rulesets_items_rules_items_data_type.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_response_data_attributes_rulesets_items_rules_items_tests_items.rb
  lib/datadog_api_client/v2/models/get_multiple_rulesets_response_data_type.rb
  lib/datadog_api_client/v2/models/secret_rule_array.rb
  lib/datadog_api_client/v2/models/secret_rule_data.rb
  lib/datadog_api_client/v2/models/secret_rule_data_attributes.rb
  lib/datadog_api_client/v2/models/secret_rule_data_attributes_match_validation.rb
  lib/datadog_api_client/v2/models/secret_rule_data_attributes_match_validation_invalid_http_status_code_items.rb
  lib/datadog_api_client/v2/models/secret_rule_data_attributes_match_validation_valid_http_status_code_items.rb
  lib/datadog_api_client/v2/models/secret_rule_data_type.rb
Due: generate, format-examples

Regenerate client from commit b6a1fb1 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/notebooks/Create-a-notebook-returns-OK-response.frozen
  cassettes/features/v1/notebooks/Create-a-notebook-returns-OK-response.yml
  cassettes/features/v1/notebooks/Update-a-notebook-returns-OK-response.yml
  examples/v1/logs-pipelines/CreateLogsPipeline.rb
  examples/v1/logs-pipelines/UpdateLogsPipeline.rb
  examples/v1/notebooks/CreateNotebook.rb
  examples/v1/notebooks/UpdateNotebook.rb
  features/v1/logs_pipelines.feature
  features/v1/notebooks.feature
Due: generate, format-examples

Regenerate client from commit 7e8ac9b of spec repo
  cassettes/features/v2/security_monitoring/Convert-a-rule-from-JSON-to-Terraform-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Convert-an-existing-rule-from-JSON-to-Terraform-returns-OK-response.yml
  features/v2/security_monitoring.feature
Due: none

Regenerate client from commit 0d3f1ba of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/dora_metrics/Send-a-deployment-event-returns-OK-response.frozen
  cassettes/features/v2/dora_metrics/Send-a-deployment-event-returns-OK-response.yml
  cassettes/features/v2/dora_metrics/Send-a-failure-event-returns-OK-response.frozen
  cassettes/features/v2/dora_metrics/Send-a-failure-event-returns-OK-response.yml
  examples/v2/dora-metrics/CreateDORADeployment.rb
  examples/v2/dora-metrics/CreateDORAFailure.rb
  examples/v2/dora-metrics/CreateDORAIncident.rb
  examples/v2/dora-metrics/CreateDORAIncident_1101664022.rb
  features/v2/dora_metrics.feature
  lib/datadog_api_client/v2/api/dora_metrics_api.rb
  lib/datadog_api_client/v2/models/dora_deployment_request_attributes.rb
Due: generate, format-examples

Regenerate client from commit 185d12f of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/change_widget_request.rb
Due: generate

Regenerate client from commit dfedc11 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/team-connections/CreateTeamConnections.rb
  examples/v2/team-connections/DeleteTeamConnections.rb
  examples/v2/team-connections/ListTeamConnections.rb
  examples/v2/team-connections/ListTeamConnections_1473516764.rb
  examples/v2/team-connections/ListTeamConnections_2418873869.rb
  features/scenarios_model_mapping.rb
  features/v2/given.json
  features/v2/team_connections.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/team_connections_api.rb
  lib/datadog_api_client/v2/models/connected_team_ref.rb
  lib/datadog_api_client/v2/models/connected_team_ref_data.rb
  lib/datadog_api_client/v2/models/connected_team_ref_data_type.rb
  lib/datadog_api_client/v2/models/connections_response_meta.rb
  lib/datadog_api_client/v2/models/team_connection.rb
  lib/datadog_api_client/v2/models/team_connection_attributes.rb
  lib/datadog_api_client/v2/models/team_connection_create_data.rb
  lib/datadog_api_client/v2/models/team_connection_create_request.rb
  lib/datadog_api_client/v2/models/team_connection_delete_request.rb
  lib/datadog_api_client/v2/models/team_connection_delete_request_data_items.rb
  lib/datadog_api_client/v2/models/team_connection_relationships.rb
  lib/datadog_api_client/v2/models/team_connection_type.rb
  lib/datadog_api_client/v2/models/team_connections_list.rb
  lib/datadog_api_client/v2/models/team_connections_response.rb
  lib/datadog_api_client/v2/models/team_ref.rb
  lib/datadog_api_client/v2/models/team_ref_data.rb
  lib/datadog_api_client/v2/models/team_ref_data_type.rb
Due: generate, format-examples

Regenerate client from commit 9fb1936 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/agentless-scanning/CreateGcpScanOptions.rb
  examples/v2/agentless-scanning/DeleteGcpScanOptions.rb
  examples/v2/agentless-scanning/GetAzureScanOptions.rb
  examples/v2/agentless-scanning/GetGcpScanOptions.rb
  examples/v2/agentless-scanning/ListGcpScanOptions.rb
  examples/v2/agentless-scanning/UpdateGcpScanOptions.rb
  features/scenarios_model_mapping.rb
  features/v2/agentless_scanning.feature
  features/v2/given.json
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/agentless_scanning_api.rb
  lib/datadog_api_client/v2/models/gcp_scan_options.rb
  lib/datadog_api_client/v2/models/gcp_scan_options_array.rb
  lib/datadog_api_client/v2/models/gcp_scan_options_data.rb
  lib/datadog_api_client/v2/models/gcp_scan_options_data_attributes.rb
  lib/datadog_api_client/v2/models/gcp_scan_options_data_type.rb
  lib/datadog_api_client/v2/models/gcp_scan_options_input_update.rb
  lib/datadog_api_client/v2/models/gcp_scan_options_input_update_data.rb
  lib/datadog_api_client/v2/models/gcp_scan_options_input_update_data_attributes.rb
  lib/datadog_api_client/v2/models/gcp_scan_options_input_update_data_type.rb
Due: generate, format-examples

Regenerate client from commit 173230f of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/user_attributes.rb
Due: generate

Regenerate client from commit 2b591c2 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/error-tracking/DeleteIssueAssignee.rb
  features/scenarios_model_mapping.rb
  features/v2/error_tracking.feature
  features/v2/undo.json
  lib/datadog_api_client/v2/api/error_tracking_api.rb
Due: generate, format-examples

Regenerate client from commit 6bb96c9 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/observability_pipeline_config.rb
Due: generate

Regenerate client from commit 0767ae6 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Create-a-scheduled-detection-rule-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Create-a-scheduled-detection-rule-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Create-a-scheduled-rule-without-rrule-returns-Bad-Request-response.frozen
  cassettes/features/v2/security_monitoring/Create-a-scheduled-rule-without-rrule-returns-Bad-Request-response.yml
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_868881438.rb
  features/v2/security_monitoring.feature
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_query.rb
Due: generate, format-examples

Regenerate client from commit 673f988 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/cloud_cost_management/Get-a-tag-pipeline-ruleset-returns-OK-response.frozen
  cassettes/features/v2/cloud_cost_management/Get-a-tag-pipeline-ruleset-returns-OK-response.yml
  examples/v2/cloud-cost-management/GetTagPipelinesRuleset.rb
  examples/v2/cloud-cost-management/GetTagPipelinesRuleset_2339377367.rb
  features/v2/cloud_cost_management.feature
  lib/datadog_api_client/v2/api/cloud_cost_management_api.rb
Due: generate, format-examples

Regenerate client from commit 0050b10 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/List-scanned-assets-metadata-returns-Not-found-asset-not-found-response.frozen
  cassettes/features/v2/security_monitoring/List-scanned-assets-metadata-returns-Not-found-asset-not-found-response.yml
  cassettes/features/v2/security_monitoring/List-scanned-assets-metadata-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/List-scanned-assets-metadata-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/List-vulnerable-assets-returns-Not-found-There-is-no-request-associated-with-the-provided-token-response.frozen
  cassettes/features/v2/security_monitoring/List-vulnerable-assets-returns-OK-response.frozen
  examples/v2/security-monitoring/ListScannedAssetsMetadata.rb
  features/scenarios_model_mapping.rb
  features/v2/security_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/cloud_asset_type.rb
  lib/datadog_api_client/v2/models/sbom_format.rb
  lib/datadog_api_client/v2/models/scanned_asset_metadata.rb
  lib/datadog_api_client/v2/models/scanned_asset_metadata_asset.rb
  lib/datadog_api_client/v2/models/scanned_asset_metadata_attributes.rb
  lib/datadog_api_client/v2/models/scanned_asset_metadata_last_success.rb
  lib/datadog_api_client/v2/models/scanned_assets_metadata.rb
  lib/datadog_api_client/v2/models/vulnerability_advisory.rb
  lib/datadog_api_client/v2/models/vulnerability_attributes.rb
Due: generate, format-examples

Regenerate client from commit 7d26c92 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/hosts_api.rb
Due: generate

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
