Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features, licensed

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

generated-features:
  name: Do not commit generated feature files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

licensed:
  name: Licensed
  language: ruby
  language_version: system
  additional_dependencies:
  - licensed
  entry: .licenses/check.sh
  pass_filenames: false
  verbose: true

Use x-env-name
  .generator/templates/configuration.mustache
Due: none

cassettes
  cassettes/features/v2/metrics/List-tag-configurations-with-a-tag-filter-returns-Success-response.yml
Due: none

Regenerate client from commit 20f68cb of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  data/v2/openapi.yaml
  docs/v1/MetricsApi.md
  docs/v2/MetricsApi.md
  features/v2/metrics.feature
  lib/datadog_api_client/v1/api/metrics_api.rb
  lib/datadog_api_client/v2/api/metrics_api.rb
Due: generated, generated-features

Regenerate client from commit abcc1ed of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/UsageComplianceHour.md
  docs/v1/UsageComplianceResponse.md
  docs/v1/UsageMeteringApi.md
  docs/v1/UsageSummaryDate.md
  docs/v1/UsageSummaryDateOrg.md
  docs/v1/UsageSummaryResponse.md
  features/v1/undo.json
  features/v1/usage_metering.feature
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/usage_compliance_hour.rb
  lib/datadog_api_client/v1/models/usage_compliance_response.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
  spec/v1/models/usage_compliance_hour_spec.rb
  spec/v1/models/usage_compliance_response_spec.rb
Due: generated, generated-features

postpone require models with parent (#9103)
  .generator/templates/gem.mustache
Due: none

Experiment: Expose user-friendly `api_key=`/`app_key=` setters for auth
  features/step_definitions/request.rb
  lib/datadog_api_client.rb
  lib/datadog_api_client/api_key_configuration.rb
  spec/spec_helper.rb
Due: none

use string instead of symbol
  lib/datadog_api_client/api_key_configuration.rb
Due: none

Apply suggestions from code review
  features/step_definitions/request.rb
  lib/datadog_api_client/api_key_configuration.rb
  spec/spec_helper.rb
Due: none

Apply suggestions from code review
  lib/datadog_api_client/api_key_configuration.rb
Due: none

Fixed calling undo operation on bad requests
  features/step_definitions/request.rb
Due: none

Expose user-friendly `api_key=`/`application_key=` setters for authentication (#266)
  features/step_definitions/request.rb
  lib/datadog_api_client.rb
  lib/datadog_api_client/api_key_configuration.rb
  spec/spec_helper.rb
Due: none

Clean-up README
  .generator/templates/README.mustache
  .generator/templates/api_doc.mustache
  README.md
Due: none

Updated cassettes
  cassettes/features/v2/security_monitoring/Create-a-detection-rule-returns-Bad-Request-response.yml
  cassettes/features/v2/security_monitoring/Create-a-detection-rule-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Delete-a-non-existing-rule-returns-Not-Found-response.yml
  cassettes/features/v2/security_monitoring/Delete-an-existing-rule-returns-OK-response.yml
Due: none

Apply ruby-text-json-mimetype.patch
  .generator/templates/api_client.mustache
Due: none

Regenerate client from commit 2f79ff1 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/SyntheticsAPITestResultShortResult.md
  docs/v1/SyntheticsTestOptions.md
  docs/v1/SyntheticsTestRequest.md
  lib/datadog_api_client/v1/models/synthetics_api_test_result_short_result.rb
  lib/datadog_api_client/v1/models/synthetics_check_type.rb
  lib/datadog_api_client/v1/models/synthetics_test_options.rb
  lib/datadog_api_client/v1/models/synthetics_test_request.rb
Due: generated

fix template
  .generator/templates/README.mustache
Due: none

ApiError -> APIError
  .generator/templates/README.mustache
  .generator/templates/api.mustache
  .generator/templates/api_client_faraday_partial.mustache
  .generator/templates/api_client_typhoeus_partial.mustache
  .generator/templates/api_doc.mustache
  .generator/templates/api_error.mustache
Due: none

ApiClient -> APIClient
  .generator/templates/api.mustache
  .generator/templates/api_client.mustache
  .generator/templates/api_client_spec.mustache
Due: none

fix tests after renaming
  features/step_definitions/request.rb
  spec/spec_helper.rb
  spec/v1/api_client_spec.rb
  spec/v2/api_client_spec.rb
Due: none

rm Api specs
  spec/v1/api/authentication_api_spec.rb
  spec/v1/api/aws_integration_api_spec.rb
  spec/v1/api/aws_logs_integration_api_spec.rb
  spec/v1/api/azure_integration_api_spec.rb
  spec/v1/api/dashboard_lists_api_spec.rb
  spec/v1/api/dashboards_api_spec.rb
  spec/v1/api/downtimes_api_spec.rb
  spec/v1/api/events_api_spec.rb
  spec/v1/api/gcp_integration_api_spec.rb
  spec/v1/api/hosts_api_spec.rb
  spec/v1/api/ip_ranges_api_spec.rb
  spec/v1/api/key_management_api_spec.rb
  spec/v1/api/logs_api_spec.rb
  spec/v1/api/logs_indexes_api_spec.rb
  spec/v1/api/logs_pipelines_api_spec.rb
  spec/v1/api/metrics_api_spec.rb
  spec/v1/api/monitors_api_spec.rb
  spec/v1/api/organizations_api_spec.rb
  spec/v1/api/pager_duty_integration_api_spec.rb
  spec/v1/api/service_level_objective_corrections_api_spec.rb
  spec/v1/api/service_level_objectives_api_spec.rb
  spec/v1/api/slack_integration_api_spec.rb
  spec/v1/api/snapshots_api_spec.rb
  spec/v1/api/synthetics_api_spec.rb
  spec/v1/api/tags_api_spec.rb
  spec/v1/api/usage_metering_api_spec.rb
  spec/v1/api/users_api_spec.rb
  spec/v2/api/dashboard_lists_api_spec.rb
  spec/v2/api/incident_services_api_spec.rb
  spec/v2/api/incident_teams_api_spec.rb
  spec/v2/api/incidents_api_spec.rb
  spec/v2/api/key_management_api_spec.rb
  spec/v2/api/logs_api_spec.rb
  spec/v2/api/logs_archives_api_spec.rb
  spec/v2/api/logs_metrics_api_spec.rb
  spec/v2/api/metrics_api_spec.rb
  spec/v2/api/processes_api_spec.rb
  spec/v2/api/roles_api_spec.rb
  spec/v2/api/security_monitoring_api_spec.rb
  spec/v2/api/users_api_spec.rb
Due: none

use symbols to access hashes
  .generator/templates/api.mustache
  .generator/templates/configuration.mustache
  features/step_definitions/request.rb
Due: none

use symbols to access hashes
  .generator/templates/api.mustache
Due: none

Add support for DD_TEST_SITE
  features/step_definitions/request.rb
  spec/spec_helper.rb
Due: none

Regenerate client from commit 5e32bc9 of spec repo
  .apigentools-info
  data/v2/openapi.yaml
  docs/v2/UserAttributes.md
  lib/datadog_api_client/v2/models/user_attributes.rb
Due: generated

Apply suggestions from code review
  README.md
Due: none

Regenerate client from commit ac88e20 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/SyntheticsTestOptions.md
  lib/datadog_api_client/v1/models/synthetics_test_options.rb
Due: generated

uppercase api
  extract-code-blocks.sh
Due: none

uppercase api (#276)
  extract-code-blocks.sh
Due: none

also need to update awk for api tag change
  extract-code-blocks.awk
Due: none

also need to update awk for api tag change (#277)
  extract-code-blocks.awk
Due: none

compare JSON objects in expect_equal
  features/step_definitions/request.rb
  features/v1/dashboards.feature
Due: generated-features

cassettes
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-timeseries-widget-containing-style-attributes.yml
Due: none

Cassette
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-timeseries-widget-containing-style-attributes.yml
Due: none

Regenerate client from commit 1a655b7 of spec repo
  .apigentools-info
  data/v2/openapi.yaml
  features/v1/dashboards.feature
  features/v2/given.json
Due: generated-features

Regenerate client from commit cc1654e of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/SyntheticsAPI.md
  lib/datadog_api_client/v1/api/synthetics_api.rb
Due: generated

Path conditions:
  generated: any of: ^lib/datadog_api_client/v[1-9].*
  generated-features: any of: ^features/v[1-9][0-9]*/.*.feature$
  licensed: any of: ^(.*.gemspec|Gemfile|.licensed.yml)$
