Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

generated-features:
  name: Do not commit generated feature files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

fix typo
  .github/workflows/test.yml
Due: none

HOTFIX
  lib/datadog_api_client/v2/models/user_response_included_item.rb
Due: generated

require
  lib/datadog_api_client/v2.rb
Due: generated

Regenerate client from commit 3eea9ff of spec repo
  .apigentools-info
  .openapi-generator/FILES
  docs/v2/README.md
  lib/datadog_api_client/v1/models/logs_processor.rb
  lib/datadog_api_client/v1/models/synthetics_assertion.rb
  lib/datadog_api_client/v1/models/widget_definition.rb
  lib/datadog_api_client/v2/models/logs_archive_create_request_destination.rb
  lib/datadog_api_client/v2/models/logs_archive_destination.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_keep_alive.rb
  lib/datadog_api_client/v2/models/user_response_included_item.rb
Due: generated

Record cassette for IP Ranges
  cassettes/features/v1/ip_ranges/List-IP-Ranges-returns-OK-response.yml
Due: none

Regenerate client from commit 113e1f2 of spec repo
  .apigentools-info
  lib/datadog_api_client/v1/api/authentication_api.rb
  lib/datadog_api_client/v1/api/aws_integration_api.rb
  lib/datadog_api_client/v1/api/aws_logs_integration_api.rb
  lib/datadog_api_client/v1/api/azure_integration_api.rb
  lib/datadog_api_client/v1/api/dashboard_lists_api.rb
  lib/datadog_api_client/v1/api/dashboards_api.rb
  lib/datadog_api_client/v1/api/downtimes_api.rb
  lib/datadog_api_client/v1/api/events_api.rb
  lib/datadog_api_client/v1/api/gcp_integration_api.rb
  lib/datadog_api_client/v1/api/hosts_api.rb
  lib/datadog_api_client/v1/api/ip_ranges_api.rb
  lib/datadog_api_client/v1/api/key_management_api.rb
  lib/datadog_api_client/v1/api/logs_api.rb
  lib/datadog_api_client/v1/api/logs_indexes_api.rb
  lib/datadog_api_client/v1/api/logs_pipelines_api.rb
  lib/datadog_api_client/v1/api/metrics_api.rb
  lib/datadog_api_client/v1/api/monitors_api.rb
  lib/datadog_api_client/v1/api/organizations_api.rb
  lib/datadog_api_client/v1/api/pager_duty_integration_api.rb
  lib/datadog_api_client/v1/api/service_level_objectives_api.rb
  lib/datadog_api_client/v1/api/snapshots_api.rb
  lib/datadog_api_client/v1/api/synthetics_api.rb
  lib/datadog_api_client/v1/api/tags_api.rb
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/api/users_api.rb
  lib/datadog_api_client/v1/api_client.rb
  lib/datadog_api_client/v1/configuration.rb
  lib/datadog_api_client/v2/api/dashboard_lists_api.rb
  lib/datadog_api_client/v2/api/logs_archives_api.rb
  lib/datadog_api_client/v2/api/roles_api.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/api/users_api.rb
  lib/datadog_api_client/v2/api_client.rb
  lib/datadog_api_client/v2/configuration.rb
Due: generated

Regenerate client from commit 8c92573 of spec repo
  .apigentools-info
  lib/datadog_api_client/v1/api/authentication_api.rb
  lib/datadog_api_client/v1/api/aws_integration_api.rb
  lib/datadog_api_client/v1/api/aws_logs_integration_api.rb
  lib/datadog_api_client/v1/api/azure_integration_api.rb
  lib/datadog_api_client/v1/api/dashboard_lists_api.rb
  lib/datadog_api_client/v1/api/dashboards_api.rb
  lib/datadog_api_client/v1/api/downtimes_api.rb
  lib/datadog_api_client/v1/api/events_api.rb
  lib/datadog_api_client/v1/api/gcp_integration_api.rb
  lib/datadog_api_client/v1/api/hosts_api.rb
  lib/datadog_api_client/v1/api/ip_ranges_api.rb
  lib/datadog_api_client/v1/api/key_management_api.rb
  lib/datadog_api_client/v1/api/logs_api.rb
  lib/datadog_api_client/v1/api/logs_indexes_api.rb
  lib/datadog_api_client/v1/api/logs_pipelines_api.rb
  lib/datadog_api_client/v1/api/metrics_api.rb
  lib/datadog_api_client/v1/api/monitors_api.rb
  lib/datadog_api_client/v1/api/organizations_api.rb
  lib/datadog_api_client/v1/api/pager_duty_integration_api.rb
  lib/datadog_api_client/v1/api/service_level_objectives_api.rb
  lib/datadog_api_client/v1/api/snapshots_api.rb
  lib/datadog_api_client/v1/api/synthetics_api.rb
  lib/datadog_api_client/v1/api/tags_api.rb
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/api/users_api.rb
  lib/datadog_api_client/v2/api/dashboard_lists_api.rb
  lib/datadog_api_client/v2/api/logs_archives_api.rb
  lib/datadog_api_client/v2/api/roles_api.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/api/users_api.rb
Due: generated

rename debugging variables (#7422)
  .generator/templates/api.mustache
Due: none

rename debugging variables (#7422)
  api.mustache
Due: none

Regenerate client from commit e5bc0a1 of spec repo
  .apigentools-info
  .openapi-generator/FILES
  docs/v2/README.md
  docs/v2/SecurityMonitoringRuleQuery.md
  docs/v2/SecurityMonitoringRuleQueryAggregation.md
  docs/v2/SecurityMonitoringRuleQueryCreate.md
  lib/datadog_api_client/v2.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_query.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_query_aggregation.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_query_create.rb
Due: generated

Enable Azure pipelines
  .azure-pipelines/all.yml
Due: none

disable windows
  .github/workflows/test.yml
Due: none

Enable Azure pipelines (#9)
  .azure-pipelines/all.yml
  .github/workflows/test.yml
Due: none

Enable APM
  .azure-pipelines/all.yml
  Gemfile
  features/support/env.rb
  features/support/hooks.rb
Due: none

enable coverage
  .gitignore
  features/support/env.rb
Due: none

enable http instrumentation
  features/support/env.rb
Due: none

don't freeze time everywhere
  features/step_definitions/request.rb
  features/support/env.rb
  features/support/hooks.rb
Due: none

WIP
  Gemfile
  features/step_definitions/request.rb
  features/support/hooks.rb
Due: none

timecop
  Gemfile
Due: none

nl
  features/support/hooks.rb
Due: none

Enable APM (#10)
  .azure-pipelines/all.yml
  .gitignore
  Gemfile
  features/support/env.rb
  features/support/hooks.rb
Due: none

Regenerate client from commit 2833f0d of spec repo
  .apigentools-info
  docs/v1/SyntheticsTestRequest.md
  lib/datadog_api_client/v1/models/synthetics_test_request.rb
Due: generated

bundle install inside run-tests.sh
  .azure-pipelines/all.yml
  run-tests.sh
Due: none

gh
  .github/workflows/test.yml
Due: none

bundle install inside run-tests.sh (#12)
  .azure-pipelines/all.yml
  .github/workflows/test.yml
  run-tests.sh
Due: none

Regenerate client from commit cbef552 of spec repo
  .apigentools-info
  features/v1/logs_indexes.feature
  features/v1/service_level_objectives.feature
  features/v1/usage_metering.feature
  features/v2/logs.feature
  features/v2/logs_archives.feature
  features/v2/security_monitoring.feature
Due: generated-features

Regenerate client from commit 372420b of spec repo
  .apigentools-info
  docs/v1/README.md
  docs/v1/SyntheticsApi.md
  docs/v2/RelationshipToOrganizationData.md
  docs/v2/RelationshipToUserData.md
  features/v1/synthetics.feature
  lib/datadog_api_client/v1/api/synthetics_api.rb
  lib/datadog_api_client/v2/models/relationship_to_organization_data.rb
  lib/datadog_api_client/v2/models/relationship_to_user_data.rb
Due: generated, generated-features

Do not record tracing requests
  features/support/env.rb
Due: none

Do not record tracing requests (#17)
  features/support/env.rb
Due: none

Regenerate client from commit 49af2c4 of spec repo
  .apigentools-info
  docs/v1/UsageMeteringApi.md
  docs/v1/UsageSummaryDate.md
  docs/v1/UsageSummaryDateOrg.md
  docs/v1/UsageSummaryResponse.md
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generated

[Ruby] fix port in the Ruby client (#7464)
  configuration.mustache
Due: none

[Ruby] fix port in the Ruby client (#7464)
  .generator/templates/configuration.mustache
Due: none

Add tests for teams and services
  cassettes/features/v2/services/Create-a-new-service-returns-CREATED-response.yml
  cassettes/features/v2/services/Delete-an-existing-service-returns-OK-response.yml
  cassettes/features/v2/services/Get-a-list-of-all-services-returns-OK-response.yml
  cassettes/features/v2/services/Get-details-of-a-service-returns-OK-response.yml
  cassettes/features/v2/services/Update-an-existing-service-returns-OK-response.yml
  cassettes/features/v2/teams/Create-a-new-team-returns-CREATED-response.yml
  cassettes/features/v2/teams/Delete-an-existing-team-returns-OK-response.yml
  cassettes/features/v2/teams/Get-a-list-of-all-teams-returns-OK-response.yml
  cassettes/features/v2/teams/Get-details-of-a-team-returns-OK-response.yml
  cassettes/features/v2/teams/Update-an-existing-team-returns-OK-response.yml
  features/step_definitions/request.rb
Due: none

add a length check to bdd tooling
  features/step_definitions/request.rb
Due: none

Regenerate client from commit aead216 of spec repo
  .apigentools-info
  docs/v1/Event.md
  lib/datadog_api_client/v1/models/event.rb
Due: generated

Regenerate client from commit 68f66e0 of spec repo
  .apigentools-info
  lib/datadog_api_client/v1/models/synthetics_test_details_sub_type.rb
Due: generated

Path conditions:
  generated: any of: ^lib/datadog_api_client/v[1-9].*
  generated-features: any of: ^features/v[1-9][0-9]*/.*.feature$
