Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

Regenerate client from commit 286f4535 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/metrics/Timeseries-cross-product-query-returns-OK-response.frozen
  cassettes/features/v2/metrics/Timeseries-cross-product-query-returns-OK-response.yml
  examples/v2/metrics/QueryTimeseriesData_301142940.rb
  features/v2/metrics.feature
  lib/datadog_api_client/v2/models/timeseries_response_series.rb
Due: generate, format-examples

Regenerate client from commit de9967cc of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/metrics_api.rb
Due: generate

Regenerate client from commit e8144990 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/slo_time_slice_condition.rb
  lib/datadog_api_client/v1/models/slo_time_slice_interval.rb
  lib/datadog_api_client/v1/models/slo_time_slice_spec.rb
Due: generate

Regenerate client from commit bf950df2 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/security_monitoring_rule_update_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_rule_create_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_rule_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_create_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_response.rb
Due: generate

Regenerate client from commit fd06108d of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/monitor_options.rb
Due: generate

Regenerate client from commit 9b7c8967 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/synthetics/Create-an-API-test-with-a-file-payload-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-test-with-a-file-payload-returns-OK-Returns-the-created-test-details-response.yml
  examples/v1/synthetics/CreateSyntheticsAPITest_1241981394.rb
  examples/v1/synthetics/UpdateBrowserTest.rb
  features/v1/synthetics.feature
  features/v1/synthetics_api_http_test_with_file_payload.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/synthetics_test_request.rb
  lib/datadog_api_client/v1/models/synthetics_test_request_body_file.rb
  lib/datadog_api_client/v1/models/synthetics_test_request_body_type.rb
Due: generate, format-examples

Regenerate client from commit cdcf2ed6 of spec repo
  .apigentools-info
  cassettes/features/v2/logs_custom_destinations/Update-a-custom-destination-returns-OK-response.frozen
  cassettes/features/v2/logs_custom_destinations/Update-a-custom-destination-returns-OK-response.yml
  examples/v2/logs-custom-destinations/UpdateLogsCustomDestination.rb
  features/v2/logs_custom_destinations.feature
Due: format-examples

Regenerate client from commit 037e376a of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/authn-mappings/CreateAuthNMapping.rb
  examples/v2/authn-mappings/UpdateAuthNMapping.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/authn_mapping_create_data.rb
  lib/datadog_api_client/v2/models/authn_mapping_create_relationships.rb
  lib/datadog_api_client/v2/models/authn_mapping_included.rb
  lib/datadog_api_client/v2/models/authn_mapping_relationship_to_role.rb
  lib/datadog_api_client/v2/models/authn_mapping_relationship_to_team.rb
  lib/datadog_api_client/v2/models/authn_mapping_team.rb
  lib/datadog_api_client/v2/models/authn_mapping_team_attributes.rb
  lib/datadog_api_client/v2/models/authn_mapping_update_relationships.rb
  lib/datadog_api_client/v2/models/relationship_to_team.rb
  lib/datadog_api_client/v2/models/relationship_to_team_data.rb
Due: generate, format-examples

Regenerate client from commit fc718bc2 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/service_level_objectives/Create-a-new-SLO-report-returns-Bad-Request-response.frozen
  cassettes/features/v2/service_level_objectives/Create-a-new-SLO-report-returns-Bad-Request-response.yml
  cassettes/features/v2/service_level_objectives/Create-a-new-SLO-report-returns-OK-response.frozen
  cassettes/features/v2/service_level_objectives/Create-a-new-SLO-report-returns-OK-response.yml
  cassettes/features/v2/service_level_objectives/Get-SLO-report-returns-Bad-Request-response.frozen
  cassettes/features/v2/service_level_objectives/Get-SLO-report-returns-Bad-Request-response.yml
  cassettes/features/v2/service_level_objectives/Get-SLO-report-returns-Not-Found-response.frozen
  cassettes/features/v2/service_level_objectives/Get-SLO-report-returns-Not-Found-response.yml
  cassettes/features/v2/service_level_objectives/Get-SLO-report-returns-OK-response.frozen
  cassettes/features/v2/service_level_objectives/Get-SLO-report-returns-OK-response.yml
  cassettes/features/v2/service_level_objectives/Get-SLO-report-status-returns-Bad-Request-response.frozen
  cassettes/features/v2/service_level_objectives/Get-SLO-report-status-returns-Bad-Request-response.yml
  cassettes/features/v2/service_level_objectives/Get-SLO-report-status-returns-Not-Found-response.frozen
  cassettes/features/v2/service_level_objectives/Get-SLO-report-status-returns-Not-Found-response.yml
  cassettes/features/v2/service_level_objectives/Get-SLO-report-status-returns-OK-response.frozen
  cassettes/features/v2/service_level_objectives/Get-SLO-report-status-returns-OK-response.yml
  examples/v2/service-level-objectives/CreateSLOReportJob.rb
  examples/v2/service-level-objectives/GetSLOReport.rb
  examples/v2/service-level-objectives/GetSLOReportJobStatus.rb
  features/scenarios_model_mapping.rb
  features/v2/given.json
  features/v2/service_level_objectives.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/service_level_objectives_api.rb
  lib/datadog_api_client/v2/models/slo_report_create_request.rb
  lib/datadog_api_client/v2/models/slo_report_create_request_attributes.rb
  lib/datadog_api_client/v2/models/slo_report_create_request_data.rb
  lib/datadog_api_client/v2/models/slo_report_interval.rb
  lib/datadog_api_client/v2/models/slo_report_post_response.rb
  lib/datadog_api_client/v2/models/slo_report_post_response_data.rb
  lib/datadog_api_client/v2/models/slo_report_status.rb
  lib/datadog_api_client/v2/models/slo_report_status_get_response.rb
  lib/datadog_api_client/v2/models/slo_report_status_get_response_attributes.rb
  lib/datadog_api_client/v2/models/slo_report_status_get_response_data.rb
Due: generate, format-examples

Regenerate client from commit 7e61ac0f of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Create-a-suppression-rule-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Create-a-suppression-rule-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Create-a-suppression-rule-with-an-exclusion-query-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Create-a-suppression-rule-with-an-exclusion-query-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Get-a-suppression-rule-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Get-a-suppression-rule-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Update-a-suppression-rule-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Update-a-suppression-rule-returns-OK-response.yml
  examples/v2/security-monitoring/CreateSecurityMonitoringSuppression_3192265332.rb
  features/v2/security_monitoring.feature
  lib/datadog_api_client/v2/models/security_monitoring_suppression_attributes.rb
  lib/datadog_api_client/v2/models/security_monitoring_suppression_create_attributes.rb
  lib/datadog_api_client/v2/models/security_monitoring_suppression_update_attributes.rb
Due: generate, format-examples

Regenerate client from commit bb0f8c92 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/series.rb
Due: generate

Regenerate client from commit 3fb610b5 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/aws_integration/Create-an-AWS-integration-returns-OK-response.frozen
  cassettes/features/v1/aws_integration/Create-an-AWS-integration-returns-OK-response.yml
  cassettes/features/v1/aws_integration/Delete-an-AWS-integration-returns-OK-response.frozen
  cassettes/features/v1/aws_integration/Delete-an-AWS-integration-returns-OK-response.yml
  cassettes/features/v1/aws_integration/Update-an-AWS-integration-returns-OK-response.frozen
  cassettes/features/v1/aws_integration/Update-an-AWS-integration-returns-OK-response.yml
  examples/v1/aws-integration/CreateAWSAccount.rb
  examples/v1/aws-integration/CreateNewAWSExternalID.rb
  examples/v1/aws-integration/UpdateAWSAccount.rb
  features/v1/aws_integration.feature
  features/v1/given.json
  lib/datadog_api_client/v1/models/aws_account.rb
Due: generate, format-examples

Regenerate client from commit 8ffb168c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/apm_retention_filters/Create-a-default-retention-filter-returns-Bad-Request-response.frozen
  cassettes/features/v2/apm_retention_filters/Create-a-default-retention-filter-returns-Bad-Request-response.yml
  examples/v2/apm-retention-filters/UpdateApmRetentionFilter.rb
  features/v2/apm_retention_filters.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/apm_retention_filters_api.rb
  lib/datadog_api_client/v2/models/retention_filter_update_attributes.rb
  lib/datadog_api_client/v2/models/retention_filter_update_data.rb
Due: generate, format-examples

update to 2.7
  .github/workflows/prepare_release.yml
Due: none

Update release job CI Ruby version (#1799)
  .github/workflows/prepare_release.yml
Due: none

Bump datadog_api_client to 2.22.0
  lib/datadog_api_client/version.rb
Due: generate

Revert "Release 2.22.0 (#1800)"
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate

update ruby versions
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: none

Fix Ruby versions in the release pipeline, revert failed release (#1802)
  .github/workflows/publish.yml
  .github/workflows/release.yml
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate

Bump datadog_api_client to 2.22.0.dev.1
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit 28801d1f of spec repo
  .apigentools-info
  cassettes/features/v2/roles/Update-a-role-returns-OK-response.frozen
  cassettes/features/v2/roles/Update-a-role-returns-OK-response.yml
  features/v2/roles.feature
Due: none

Regenerate client from commit 5c7e123b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/v2/api/case_management_api.rb
Due: generate

Regenerate client from commit 4bea6a2f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/monitors/Get-a-synthetics-monitor-s-details.frozen
  cassettes/features/v1/monitors/Get-a-synthetics-monitor-s-details.yml
  cassettes/features/v1/synthetics/Create-an-API-HTTP-test-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-HTTP-test-returns-OK-Returns-the-created-test-details-response.yml
  cassettes/features/v1/synthetics/Edit-an-API-test-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Edit-an-API-test-returns-OK-response.yml
  cassettes/features/v1/synthetics/Patch-a-Synthetic-test-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Patch-a-Synthetic-test-returns-OK-response.yml
  cassettes/features/v1/synthetics/Trigger-Synthetic-tests-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Trigger-Synthetic-tests-returns-OK-response.yml
  examples/v1/synthetics/CreateSyntheticsAPITest_1487281163.rb
  features/v1/given.json
  features/v1/synthetics_api_http_test_payload.json
  lib/datadog_api_client/v1/models/synthetics_api_test_config.rb
Due: generate, format-examples

Regenerate client from commit d5fb4450 of spec repo
  .apigentools-info
  cassettes/features/v2/service_level_objectives/Create-a-new-SLO-report-returns-Bad-Request-response.frozen
  cassettes/features/v2/service_level_objectives/Create-a-new-SLO-report-returns-Bad-Request-response.yml
  cassettes/features/v2/service_level_objectives/Create-a-new-SLO-report-returns-OK-response.frozen
  cassettes/features/v2/service_level_objectives/Create-a-new-SLO-report-returns-OK-response.yml
  cassettes/features/v2/service_level_objectives/Get-SLO-report-returns-Bad-Request-response.frozen
  cassettes/features/v2/service_level_objectives/Get-SLO-report-returns-Bad-Request-response.yml
  cassettes/features/v2/service_level_objectives/Get-SLO-report-returns-Not-Found-response.frozen
  cassettes/features/v2/service_level_objectives/Get-SLO-report-returns-Not-Found-response.yml
  cassettes/features/v2/service_level_objectives/Get-SLO-report-status-returns-Bad-Request-response.frozen
  cassettes/features/v2/service_level_objectives/Get-SLO-report-status-returns-Bad-Request-response.yml
  cassettes/features/v2/service_level_objectives/Get-SLO-report-status-returns-Not-Found-response.frozen
  cassettes/features/v2/service_level_objectives/Get-SLO-report-status-returns-Not-Found-response.yml
  cassettes/features/v2/service_level_objectives/Get-SLO-report-status-returns-OK-response.frozen
  cassettes/features/v2/service_level_objectives/Get-SLO-report-status-returns-OK-response.yml
  features/v2/service_level_objectives.feature
Due: none

Regenerate client from commit c3db9ec1 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  features/v1/usage_metering.feature
  features/v2/usage_metering.feature
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v2/api/usage_metering_api.rb
Due: generate

Regenerate client from commit 71b7fbd9 of spec repo
  .apigentools-info
  examples/v2/roles/CreateRole_3862893229.rb
  features/v2/roles.feature
Due: format-examples

Regenerate client from commit 0f37d2e6 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/monitors/Get-a-synthetics-monitor-s-details.frozen
  cassettes/features/v1/monitors/Get-a-synthetics-monitor-s-details.yml
  cassettes/features/v1/synthetics/Create-an-API-HTTP-test-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-HTTP-test-returns-OK-Returns-the-created-test-details-response.yml
  cassettes/features/v1/synthetics/Create-an-API-HTTP-with-oauth-rop-test-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-HTTP-with-oauth-rop-test-returns-OK-Returns-the-created-test-details-response.yml
  cassettes/features/v1/synthetics/Edit-an-API-test-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Edit-an-API-test-returns-OK-response.yml
  cassettes/features/v1/synthetics/Patch-a-Synthetic-test-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Patch-a-Synthetic-test-returns-OK-response.yml
  cassettes/features/v1/synthetics/Trigger-Synthetic-tests-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Trigger-Synthetic-tests-returns-OK-response.yml
  examples/v1/synthetics/CreateSyntheticsAPITest_1487281163.rb
  examples/v1/synthetics/CreateSyntheticsAPITest_960766374.rb
  examples/v1/synthetics/UpdateAPITest.rb
  features/v1/given.json
  features/v1/synthetics_api_http_test_oauth_rop_payload.json
  features/v1/synthetics_api_http_test_payload.json
  features/v1/synthetics_api_test_update_payload.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/synthetics_assertion.rb
  lib/datadog_api_client/v1/models/synthetics_assertion_json_schema_meta_schema.rb
  lib/datadog_api_client/v1/models/synthetics_assertion_json_schema_operator.rb
  lib/datadog_api_client/v1/models/synthetics_assertion_json_schema_target.rb
  lib/datadog_api_client/v1/models/synthetics_assertion_json_schema_target_target.rb
Due: generate, format-examples

Regenerate client from commit c2c10f21 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/apm_retention_filters_api.rb
  lib/datadog_api_client/v2/models/retention_filter_create_response.rb
Due: generate

Regenerate client from commit 74f81c2f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/hourly_usage_attribution_usage_type.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_supported_metrics.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_values.rb
  lib/datadog_api_client/v1/models/usage_billable_summary_keys.rb
Due: generate

Regenerate client from commit da85bec9 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/restriction_policies_api.rb
Due: generate

Regenerate client from commit be732945 of spec repo
  .apigentools-info
  features/v2/ci_visibility_pipelines.feature
  features/v2/ci_visibility_tests.feature
  features/v2/cloud_cost_management.feature
  features/v2/dora_metrics.feature
Due: none

Regenerate client from commit 50a32b2b of spec repo
  .apigentools-info
  cassettes/features/v2/roles/Create-role-with-a-permission-returns-OK-response.frozen
  cassettes/features/v2/roles/Create-role-with-a-permission-returns-OK-response.yml
  cassettes/features/v2/roles/Grant-permission-to-a-role-returns-OK-response.frozen
  cassettes/features/v2/roles/Grant-permission-to-a-role-returns-OK-response.yml
  cassettes/features/v2/roles/List-permissions-for-a-role-returns-OK-response.frozen
  cassettes/features/v2/roles/List-permissions-for-a-role-returns-OK-response.yml
  cassettes/features/v2/roles/Revoke-permission-returns-Not-found-response.frozen
  cassettes/features/v2/roles/Revoke-permission-returns-Not-found-response.yml
  cassettes/features/v2/roles/Revoke-permission-returns-OK-response.frozen
  cassettes/features/v2/roles/Revoke-permission-returns-OK-response.yml
  cassettes/features/v2/roles/Update-a-role-returns-Bad-Role-ID-response.frozen
  cassettes/features/v2/roles/Update-a-role-returns-Not-found-response.frozen
  cassettes/features/v2/roles/Update-a-role-returns-Not-found-response.yml
  examples/v2/roles/CreateRole_3862893229.rb
  features/v2/given.json
  features/v2/roles.feature
Due: format-examples

Regenerate client from commit 6c17af3e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/user_team_included.rb
Due: generate
