Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Regenerate client from commit 962dc50 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/synthetics/AbortTestFileMultipartUpload.rb
  examples/v2/synthetics/CompleteTestFileMultipartUpload.rb
  examples/v2/synthetics/GetTestFileDownloadUrl.rb
  examples/v2/synthetics/GetTestFileMultipartPresignedUrls.rb
  features/scenarios_model_mapping.rb
  features/v2/synthetics.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/synthetics_api.rb
  lib/datadog_api_client/v2/models/synthetics_test_file_abort_multipart_upload_request.rb
  lib/datadog_api_client/v2/models/synthetics_test_file_complete_multipart_upload_part.rb
  lib/datadog_api_client/v2/models/synthetics_test_file_complete_multipart_upload_request.rb
  lib/datadog_api_client/v2/models/synthetics_test_file_download_request.rb
  lib/datadog_api_client/v2/models/synthetics_test_file_download_response.rb
  lib/datadog_api_client/v2/models/synthetics_test_file_multipart_presigned_urls_params.rb
  lib/datadog_api_client/v2/models/synthetics_test_file_multipart_presigned_urls_part.rb
  lib/datadog_api_client/v2/models/synthetics_test_file_multipart_presigned_urls_request.rb
  lib/datadog_api_client/v2/models/synthetics_test_file_multipart_presigned_urls_request_bucket_key_prefix.rb
  lib/datadog_api_client/v2/models/synthetics_test_file_multipart_presigned_urls_response.rb
Due: generate, format-examples

Regenerate client from commit cc1baa5 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_archive_reason.rb
Due: generate

Regenerate client from commit 4b459da of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit 90ff2af of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/hourly_usage_attribution_usage_type.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_supported_metrics.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_values.rb
Due: generate

Regenerate client from commit 71cca80 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/synthetics_step_type.rb
Due: generate

testing existing functionality w/ PATs
  test_program.rb
Due: none

Regenerate client from commit a31b8f6 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/BulkEditSecurityMonitoringSignalsAssignee.rb
  examples/v2/security-monitoring/BulkEditSecurityMonitoringSignalsState.rb
  features/scenarios_model_mapping.rb
  features/v2/security_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/security_monitoring_signals_bulk_assignee_update_attributes.rb
  lib/datadog_api_client/v2/models/security_monitoring_signals_bulk_assignee_update_data.rb
  lib/datadog_api_client/v2/models/security_monitoring_signals_bulk_assignee_update_request.rb
  lib/datadog_api_client/v2/models/security_monitoring_signals_bulk_state_update_data.rb
  lib/datadog_api_client/v2/models/security_monitoring_signals_bulk_state_update_request.rb
  lib/datadog_api_client/v2/models/security_monitoring_signals_bulk_triage_event.rb
  lib/datadog_api_client/v2/models/security_monitoring_signals_bulk_triage_event_attributes.rb
  lib/datadog_api_client/v2/models/security_monitoring_signals_bulk_triage_update_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_signals_bulk_triage_update_result.rb
Due: generate, format-examples

Regenerate client from commit 5709185 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/batch_rows_query_request.rb
  lib/datadog_api_client/v2/models/batch_rows_query_request_data.rb
  lib/datadog_api_client/v2/models/batch_rows_query_request_data_attributes.rb
  lib/datadog_api_client/v2/models/batch_rows_query_response.rb
  lib/datadog_api_client/v2/models/batch_rows_query_response_data.rb
  lib/datadog_api_client/v2/models/batch_rows_query_response_data_relationships.rb
  lib/datadog_api_client/v2/models/batch_rows_query_response_data_relationships_rows.rb
  lib/datadog_api_client/v2/models/environments_pagination_meta.rb
  lib/datadog_api_client/v2/models/environments_pagination_meta_page.rb
  lib/datadog_api_client/v2/models/feature_flags_pagination_meta.rb
  lib/datadog_api_client/v2/models/feature_flags_pagination_meta_page.rb
Due: generate

Regenerate client from commit 9a344d9 of spec repo
  cassettes/features/v2/teams/Add-a-user-to-a-team-returns-API-error-response-response.frozen
  cassettes/features/v2/teams/Add-a-user-to-a-team-returns-API-error-response-response.yml
  cassettes/features/v2/teams/Add-a-user-to-a-team-returns-Represents-a-user-s-association-to-a-team-response.frozen
  cassettes/features/v2/teams/Add-a-user-to-a-team-returns-Represents-a-user-s-association-to-a-team-response.yml
  examples/v2/teams/CreateTeamMembership.rb
  features/v2/teams.feature
Due: format-examples

Regenerate client from commit be71df5 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/incidents/CreateIncidentUserDefinedField.rb
  examples/v2/incidents/DeleteIncidentUserDefinedField.rb
  examples/v2/incidents/GetIncidentUserDefinedField.rb
  examples/v2/incidents/ListIncidentUserDefinedFields.rb
  examples/v2/incidents/UpdateIncidentUserDefinedField.rb
  features/scenarios_model_mapping.rb
  features/v2/incidents.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/incidents_api.rb
  lib/datadog_api_client/v2/models/incident_user_defined_field_attributes_create_request.rb
  lib/datadog_api_client/v2/models/incident_user_defined_field_attributes_response.rb
  lib/datadog_api_client/v2/models/incident_user_defined_field_attributes_update_request.rb
  lib/datadog_api_client/v2/models/incident_user_defined_field_category.rb
  lib/datadog_api_client/v2/models/incident_user_defined_field_collected.rb
  lib/datadog_api_client/v2/models/incident_user_defined_field_create_data.rb
  lib/datadog_api_client/v2/models/incident_user_defined_field_create_relationships.rb
  lib/datadog_api_client/v2/models/incident_user_defined_field_create_request.rb
  lib/datadog_api_client/v2/models/incident_user_defined_field_field_type.rb
  lib/datadog_api_client/v2/models/incident_user_defined_field_list_meta.rb
  lib/datadog_api_client/v2/models/incident_user_defined_field_list_response.rb
  lib/datadog_api_client/v2/models/incident_user_defined_field_metadata.rb
  lib/datadog_api_client/v2/models/incident_user_defined_field_relationships.rb
  lib/datadog_api_client/v2/models/incident_user_defined_field_response.rb
  lib/datadog_api_client/v2/models/incident_user_defined_field_response_data.rb
  lib/datadog_api_client/v2/models/incident_user_defined_field_update_data.rb
  lib/datadog_api_client/v2/models/incident_user_defined_field_update_request.rb
  lib/datadog_api_client/v2/models/incident_user_defined_field_valid_value.rb
Due: generate, format-examples

Bump versions and add changelog entries.
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit 120ebfc of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/restriction_policies_api.rb
Due: generate

Use dd-octo-sts and add policies.
  .github/chainguard/self.github.pre-commit.pull-requests.sts.yaml
  .github/chainguard/self.github.release.master.sts.yaml
  .github/workflows/approved_status.yml
  .github/workflows/release.yml
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-integration-test.yml
  .github/workflows/reusable-pre-commit.yml
  .github/workflows/reusable-ruby-test.yml
  .github/workflows/test.yml
Due: none

Use dd-octo-sts and add policies. (#3190)
  .github/chainguard/self.github.pre-commit.pull-requests.sts.yaml
  .github/chainguard/self.github.release.master.sts.yaml
  .github/workflows/approved_status.yml
  .github/workflows/release.yml
  .github/workflows/reusable-ci.yml
  .github/workflows/reusable-integration-test.yml
  .github/workflows/reusable-pre-commit.yml
  .github/workflows/reusable-ruby-test.yml
  .github/workflows/test.yml
Due: none

Regenerate client from commit a4c43fe of spec repo
  features/v1/security_monitoring.feature
  features/v2/csm_agents.feature
  features/v2/csm_coverage_analysis.feature
  features/v2/csm_threats.feature
  features/v2/security_monitoring.feature
Due: none

Regenerate client from commit ca200e0 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/test-optimization/SearchFlakyTests.rb
  examples/v2/test-optimization/SearchFlakyTests_1224086727.rb
  examples/v2/test-optimization/SearchFlakyTests_209064879.rb
  features/v2/test_optimization.feature
  lib/datadog_api_client/v2/models/flaky_tests_search_filter.rb
  lib/datadog_api_client/v2/models/flaky_tests_search_request_attributes.rb
Due: generate, format-examples

Regenerate client from commit bdd2317 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/formula_and_function_apm_resource_stats_query_definition.rb
Due: generate

Regenerate client from commit eb2b4e1 of spec repo
  features/v2/ip_allowlist.feature
  features/v2/roles.feature
Due: none

Regenerate client from commit 9847338 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/logs_index.rb
  lib/datadog_api_client/v1/models/logs_index_update_request.rb
Due: generate

Regenerate client from commit fc2edb6 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_destination_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_elasticsearch_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_elasticsearch_destination_compression.rb
  lib/datadog_api_client/v2/models/observability_pipeline_elasticsearch_destination_compression_algorithm.rb
Due: generate

Regenerate client from commit cc34657 of spec repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v1/models/product_analytics_audience_account_subquery.rb
  lib/datadog_api_client/v1/models/product_analytics_audience_filters.rb
  lib/datadog_api_client/v1/models/product_analytics_audience_occurrence_filter.rb
  lib/datadog_api_client/v1/models/product_analytics_audience_segment_subquery.rb
  lib/datadog_api_client/v1/models/product_analytics_audience_user_subquery.rb
  lib/datadog_api_client/v1/models/sankey_rum_query.rb
  lib/datadog_api_client/v1/models/slo_count_definition_with_bad_events_formula.rb
  lib/datadog_api_client/v1/models/slo_count_definition_with_total_events_formula.rb
Due: generate

Regenerate client from commit 14f28af of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/security_monitoring_standard_data_source.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_query.rb
  lib/datadog_api_client/v2/models/threat_hunting_job_query.rb
Due: generate

Regenerate client from commit cf43e6e of spec repo
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit f36e5a8 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/GetInvestigationLogQueriesMatchingSignal.rb
  examples/v2/security-monitoring/GetSuggestedActionsMatchingSignal.rb
  features/scenarios_model_mapping.rb
  features/v2/security_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_suggested_action.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_suggested_action_attributes.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_suggested_action_type.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_suggested_actions_response.rb
Due: generate, format-examples

Regenerate client from commit 63a241d of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-topology-map-data-streams-widget.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-topology-map-data-streams-widget.yml
  examples/v1/dashboards/CreateDashboard_2815497946.rb
  features/v1/dashboards.feature
  features/v1/dashboards_json_payload/topology_map_widget_data_streams.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/topology_map_widget_definition.rb
  lib/datadog_api_client/v1/models/topology_query.rb
  lib/datadog_api_client/v1/models/topology_query_data_streams_or_service_map.rb
  lib/datadog_api_client/v1/models/topology_query_data_streams_or_service_map_data_source.rb
  lib/datadog_api_client/v1/models/topology_request.rb
Due: generate, format-examples

Regenerate client from commit 50dd1f6 of spec repo
  features/v1/authentication.feature
  features/v1/key_management.feature
  features/v2/key_management.feature
  features/v2/service_accounts.feature
Due: none

Regenerate client from commit 0922945 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/observability_pipelines/Validate-an-observability-pipeline-with-amazon-S3-source-compression-returns-OK-response.frozen
  cassettes/features/v2/observability_pipelines/Validate-an-observability-pipeline-with-amazon-S3-source-compression-returns-OK-response.yml
  examples/v2/observability-pipelines/ValidatePipeline_99164570.rb
  features/v2/observability_pipelines.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_source.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_source_compression.rb
Due: generate, format-examples

Regenerate client from commit 8f33bfb of spec repo
  features/v1/synthetics.feature
  features/v2/synthetics.feature
Due: none

Regenerate client from commit f7cf9f3 of spec repo
  features/v1/organizations.feature
  features/v1/users.feature
  features/v2/authn_mappings.feature
  features/v2/organizations.feature
  features/v2/service_accounts.feature
  features/v2/users.feature
Due: none

Regenerate client from commit 21a6e22 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/application-security/CreateApplicationSecurityWafCustomRule.rb
  features/v2/application_security.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/application_security_waf_custom_rule_condition_operator.rb
  lib/datadog_api_client/v2/models/application_security_waf_custom_rule_condition_parameters.rb
  lib/datadog_api_client/v2/models/application_security_waf_custom_rule_condition_parameters_type.rb
Due: generate, format-examples

Regenerate client from commit fe29175 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/test-optimization/GetFlakyTestsManagementPolicies.rb
  examples/v2/test-optimization/UpdateFlakyTestsManagementPolicies.rb
  features/scenarios_model_mapping.rb
  features/v2/test_optimization.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/test_optimization_api.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_attempt_to_fix.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_attributes.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_auto_disable_rule.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_auto_quarantine_rule.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_branch_rule.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_data.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_disabled.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_disabled_failure_rate_rule.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_disabled_status.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_get_request.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_get_request_attributes.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_get_request_data.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_quarantined.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_quarantined_failure_rate_rule.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_response.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_type.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_update_request.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_update_request_attributes.rb
  lib/datadog_api_client/v2/models/test_optimization_flaky_tests_management_policies_update_request_data.rb
  lib/datadog_api_client/v2/models/test_optimization_get_flaky_tests_management_policies_request_data_type.rb
  lib/datadog_api_client/v2/models/test_optimization_update_flaky_tests_management_policies_request_data_type.rb
Due: generate, format-examples

Regenerate client from commit 30e9724 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/observability_pipelines/Validate-an-observability-pipeline-with-Splunk-HEC-destination-token-strategy-returns-OK-response.frozen
  cassettes/features/v2/observability_pipelines/Validate-an-observability-pipeline-with-Splunk-HEC-destination-token-strategy-returns-OK-response.yml
  cassettes/features/v2/observability_pipelines/Validate-an-observability-pipeline-with-Splunk-HEC-source-store-hec-token-returns-OK-response.frozen
  cassettes/features/v2/observability_pipelines/Validate-an-observability-pipeline-with-Splunk-HEC-source-store-hec-token-returns-OK-response.yml
  cassettes/features/v2/observability_pipelines/Validate-an-observability-pipeline-with-enrichment-table-secret-field-lookup-returns-OK-response.frozen
  cassettes/features/v2/observability_pipelines/Validate-an-observability-pipeline-with-enrichment-table-secret-field-lookup-returns-OK-response.yml
  examples/v2/observability-pipelines/ValidatePipeline_1267410221.rb
  examples/v2/observability-pipelines/ValidatePipeline_2960728933.rb
  examples/v2/observability-pipelines/ValidatePipeline_815080644.rb
  features/v2/observability_pipelines.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/observability_pipeline_enrichment_table_field_event_lookup.rb
  lib/datadog_api_client/v2/models/observability_pipeline_enrichment_table_field_secret_lookup.rb
  lib/datadog_api_client/v2/models/observability_pipeline_enrichment_table_field_vrl_lookup.rb
  lib/datadog_api_client/v2/models/observability_pipeline_enrichment_table_file_key_item_field.rb
  lib/datadog_api_client/v2/models/observability_pipeline_splunk_hec_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_splunk_hec_destination_token_strategy.rb
  lib/datadog_api_client/v2/models/observability_pipeline_splunk_hec_source.rb
Due: generate, format-examples

Regenerate client from commit adce9a7 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/dashboard-lists/DeleteDashboardListItems.rb
  examples/v2/dashboard-lists/DeleteDashboardListItems_2656706656.rb
  examples/v2/dashboard-lists/DeleteDashboardListItems_3851624753.rb
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/dashboard_lists_api.rb
  lib/datadog_api_client/v2/models/dashboard_list_remove_items_request.rb
Due: generate, format-examples

Regenerate client from commit 4144181 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/observability_pipeline_parse_grok_processor_rule.rb
Due: generate

Regenerate client from commit 83eefe5 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/dashboard-secure-embed/CreateDashboardSecureEmbed.rb
  examples/v2/dashboard-secure-embed/DeleteDashboardSecureEmbed.rb
  examples/v2/dashboard-secure-embed/GetDashboardSecureEmbed.rb
  examples/v2/dashboard-secure-embed/UpdateDashboardSecureEmbed.rb
  features/scenarios_model_mapping.rb
  features/v2/dashboard_secure_embed.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/dashboard_secure_embed_api.rb
  lib/datadog_api_client/v2/models/secure_embed_create_request.rb
  lib/datadog_api_client/v2/models/secure_embed_create_request_attributes.rb
  lib/datadog_api_client/v2/models/secure_embed_create_request_data.rb
  lib/datadog_api_client/v2/models/secure_embed_create_response.rb
  lib/datadog_api_client/v2/models/secure_embed_create_response_attributes.rb
  lib/datadog_api_client/v2/models/secure_embed_create_response_data.rb
  lib/datadog_api_client/v2/models/secure_embed_create_response_type.rb
  lib/datadog_api_client/v2/models/secure_embed_get_response.rb
  lib/datadog_api_client/v2/models/secure_embed_get_response_attributes.rb
  lib/datadog_api_client/v2/models/secure_embed_get_response_data.rb
  lib/datadog_api_client/v2/models/secure_embed_get_response_type.rb
  lib/datadog_api_client/v2/models/secure_embed_global_time.rb
  lib/datadog_api_client/v2/models/secure_embed_global_time_live_span.rb
  lib/datadog_api_client/v2/models/secure_embed_request_type.rb
  lib/datadog_api_client/v2/models/secure_embed_selectable_template_variable.rb
  lib/datadog_api_client/v2/models/secure_embed_share_type.rb
  lib/datadog_api_client/v2/models/secure_embed_status.rb
  lib/datadog_api_client/v2/models/secure_embed_update_request.rb
  lib/datadog_api_client/v2/models/secure_embed_update_request_attributes.rb
  lib/datadog_api_client/v2/models/secure_embed_update_request_data.rb
  lib/datadog_api_client/v2/models/secure_embed_update_request_type.rb
  lib/datadog_api_client/v2/models/secure_embed_update_response.rb
  lib/datadog_api_client/v2/models/secure_embed_update_response_attributes.rb
  lib/datadog_api_client/v2/models/secure_embed_update_response_data.rb
  lib/datadog_api_client/v2/models/secure_embed_update_response_type.rb
  lib/datadog_api_client/v2/models/secure_embed_viewing_preferences.rb
  lib/datadog_api_client/v2/models/secure_embed_viewing_preferences_theme.rb
Due: generate, format-examples

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
