Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features, licensed

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

generated-features:
  name: Do not commit generated feature files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

licensed:
  name: Licensed
  language: ruby
  language_version: system
  additional_dependencies:
  - licensed
  entry: .licenses/check.sh
  pass_filenames: false
  verbose: true

support for undo for all versions at once
  features/step_definitions/request.rb
Due: none

Document and set by default
  .generator/templates/configuration.mustache
  README.md
Due: none

Regenerate client from commit 7a4f3f3 of spec repo
  .apigentools-info
  lib/datadog_api_client/v1/api_client.rb
  lib/datadog_api_client/v1/configuration.rb
  lib/datadog_api_client/v2/api_client.rb
  lib/datadog_api_client/v2/configuration.rb
Due: generated

skip existing examples on generation
  extract-code-blocks.awk
Due: none

Regenerate client from commit 0e7768c of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/MonitorOptions.md
  docs/v1/MonitorRenotifyStatusType.md
  docs/v1/README.md
  features/v1/monitors.feature
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/monitor_options.rb
  lib/datadog_api_client/v1/models/monitor_renotify_status_type.rb
  spec/v1/models/monitor_renotify_status_type_spec.rb
Due: generated, generated-features

skip existing examples on generation (#523)
  extract-code-blocks.awk
Due: none

Regenerate client from commit 9a4b94d of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/NotebookCreateDataAttributes.md
  docs/v1/NotebookMetadata.md
  docs/v1/NotebookMetadataType.md
  docs/v1/NotebookResponseDataAttributes.md
  docs/v1/NotebookUpdateDataAttributes.md
  docs/v1/NotebooksAPI.md
  docs/v1/NotebooksResponseDataAttributes.md
  docs/v1/README.md
  features/v1/notebooks.feature
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/api/notebooks_api.rb
  lib/datadog_api_client/v1/models/notebook_create_data_attributes.rb
  lib/datadog_api_client/v1/models/notebook_metadata.rb
  lib/datadog_api_client/v1/models/notebook_metadata_type.rb
  lib/datadog_api_client/v1/models/notebook_response_data_attributes.rb
  lib/datadog_api_client/v1/models/notebooks_response_data_attributes.rb
  lib/datadog_api_client/v1/models/notebooks_response_meta.rb
  spec/v1/models/notebook_metadata_spec.rb
  spec/v1/models/notebook_metadata_type_spec.rb
Due: generated, generated-features

add section for debugging mode
  README.md
Due: none

documentate changing server
  README.md
Due: none

cleanup
  README.md
Due: none

small change
  README.md
Due: none

Regenerate client from commit 06c7795 of spec repo
  .apigentools-info
  cassettes/features/v1/events/Post-an-event-with-a-long-title-returns-OK-response.yml
  data/v1/openapi.yaml
  docs/v1/Event.md
  features/v1/events.feature
  lib/datadog_api_client/v1/models/event.rb
Due: generated, generated-features

add submitMetrics example
  examples/v1/metrics/SubmitMetrics.rbbeta
Due: none

apply suggestions
  examples/v1/metrics/SubmitMetrics.rbbeta
Due: none

Update examples/v1/metrics/SubmitMetrics.rbbeta
  examples/v1/metrics/SubmitMetrics.rbbeta
Due: none

Add submitMetrics example (#526)
  examples/v1/metrics/SubmitMetrics.rbbeta
Due: none

Regenerate client from commit a046371 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/SyntheticsAPI.md
  docs/v1/SyntheticsBatchDetails.md
  docs/v1/SyntheticsBatchDetailsData.md
  docs/v1/SyntheticsBatchResult.md
  docs/v1/SyntheticsCIBatchMetadata.md
  docs/v1/SyntheticsCIBatchMetadataCI.md
  docs/v1/SyntheticsCIBatchMetadataGit.md
  docs/v1/SyntheticsCITest.md
  docs/v1/SyntheticsCITestMetadata.md
  docs/v1/SyntheticsCITestMetadataGit.md
  docs/v1/SyntheticsStatus.md
  docs/v1/SyntheticsTestExecutionRule.md
  features/v1/synthetics.feature
  features/v1/undo.json
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/api/synthetics_api.rb
  lib/datadog_api_client/v1/models/synthetics_batch_details.rb
  lib/datadog_api_client/v1/models/synthetics_batch_details_data.rb
  lib/datadog_api_client/v1/models/synthetics_batch_result.rb
  lib/datadog_api_client/v1/models/synthetics_ci_batch_metadata.rb
  lib/datadog_api_client/v1/models/synthetics_ci_batch_metadata_ci.rb
  lib/datadog_api_client/v1/models/synthetics_ci_batch_metadata_git.rb
  lib/datadog_api_client/v1/models/synthetics_status.rb
  lib/datadog_api_client/v1/models/synthetics_test_execution_rule.rb
  spec/v1/models/synthetics_batch_details_data_spec.rb
  spec/v1/models/synthetics_batch_details_spec.rb
  spec/v1/models/synthetics_batch_result_spec.rb
  spec/v1/models/synthetics_ci_batch_metadata_ci_spec.rb
  spec/v1/models/synthetics_ci_batch_metadata_git_spec.rb
  spec/v1/models/synthetics_ci_batch_metadata_spec.rb
  spec/v1/models/synthetics_status_spec.rb
  spec/v1/models/synthetics_test_execution_rule_spec.rb
Due: generated, generated-features

[Synthetics] Delete deprecated test files
  spec/v1/models/synthetics_ci_test_metadata_ci_spec.rb
  spec/v1/models/synthetics_ci_test_metadata_git_spec.rb
  spec/v1/models/synthetics_ci_test_metadata_spec.rb
Due: none

Regenerate client from commit 9ad7087 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generated

Regenerate client from commit 452360f of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/UsageMeteringAPI.md
  docs/v1/UsageSDSHour.md
  docs/v1/UsageSDSResponse.md
  docs/v1/UsageSummaryDate.md
  docs/v1/UsageSummaryDateOrg.md
  docs/v1/UsageSummaryResponse.md
  features/v1/undo.json
  features/v1/usage_metering.feature
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/usage_sds_hour.rb
  lib/datadog_api_client/v1/models/usage_sds_response.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
  spec/v1/models/usage_sds_hour_spec.rb
  spec/v1/models/usage_sds_response_spec.rb
Due: generated, generated-features

Regenerate client from commit 12e050e of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/AWSAccount.md
  features/v1/aws_integration.feature
  lib/datadog_api_client/v1/models/aws_account.rb
Due: generated, generated-features

Regenerate client from commit fcd10ad of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/UsageTimeseriesHour.md
  lib/datadog_api_client/v1/models/usage_timeseries_hour.rb
Due: generated

Regenerate client from commit 532aa21 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  data/v2/openapi.yaml
  docs/v1/MonitorsAPI.md
  lib/datadog_api_client/v1/api/monitors_api.rb
  lib/datadog_api_client/v1/configuration.rb
  lib/datadog_api_client/v2/configuration.rb
Due: generated

Regenerate client from commit 303d2e3 of spec repo
  .apigentools-info
  features/v1/metrics.feature
Due: generated-features

Regenerate client from commit 3b56e2f of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  lib/datadog_api_client/v1/models/monitor.rb
Due: generated

Bump datadog_api_client to 1.4.0
  lib/datadog_api_client/version.rb
Due: none

prepare 1.4.0 release
  CHANGELOG.md
Due: none

Prepare 1.4.0 release (#533)
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: none

Bump datadog_api_client to 1.4.1.dev.1
  lib/datadog_api_client/version.rb
Due: none

Bump datadog_api_client to 1.4.1.dev.1 (#534)
  lib/datadog_api_client/version.rb
Due: none

Prefer autoload to only load what you need
  lib/datadog_api_client.rb
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v2.rb
Due: generated

missing end
  cucumber.yml
  lib/datadog_api_client/v2.rb
Due: generated

Regenerate client from commit 9841481 of spec repo
  .apigentools-info
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-distribution-widget-and-apm-stats-data.yml
  data/v1/openapi.yaml
  docs/v1/DistributionWidgetRequest.md
  features/v1/dashboards.feature
  lib/datadog_api_client/v1/models/distribution_widget_request.rb
Due: generated, generated-features

Regenerate client from commit 12a9fda of spec repo
  .apigentools-info
  cassettes/features/v1/downtimes/Schedule-a-downtime-once-a-year.yml
  cassettes/features/v1/downtimes/Schedule-a-downtime-returns-Bad-Request-response.yml
  cassettes/features/v1/downtimes/Schedule-a-downtime-until-date.yml
  cassettes/features/v1/downtimes/Schedule-a-downtime-with-invalid-type-hours.yml
  cassettes/features/v1/downtimes/Schedule-a-downtime-with-invalid-weekdays.yml
  cassettes/features/v1/downtimes/Schedule-a-downtime-with-mutually-exclusive-until-occurrences-and-until-date-properties.yml
  cassettes/features/v1/downtimes/Schedule-a-downtime-with-until-occurrences.yml
  cassettes/features/v1/downtimes/Schedule-a-monitor-downtime-returns-OK-response.yml
  cassettes/features/v1/monitors/Create-a-monitor-returns-Bad-Request-response.yml
  cassettes/features/v1/monitors/Edit-a-monitor-returns-Monitor-Not-Found-error-response.yml
  cassettes/features/v1/monitors/Get-a-synthetics-monitor-s-details.yml
  cassettes/features/v1/monitors/Get-all-monitor-details-returns-Bad-Request-response.yml
  cassettes/features/v2/roles/Revoke-permission-returns-Bad-Request-response.yml
  cassettes/features/v2/roles/Revoke-permission-returns-Not-found-response.yml
  cassettes/features/v2/roles/Update-a-role-returns-Bad-Role-ID-response.yml
  cassettes/features/v2/roles/Update-a-role-returns-Not-found-response.yml
  cassettes/features/v2/users/Update-a-user-returns-Bad-User-ID-in-Request-response.yml
  cassettes/features/v2/users/Update-a-user-returns-Not-found-response.yml
  features/v1/downtime_recurrence_payload_invalid_type_hours.json
  features/v1/downtime_recurrence_payload_invalid_weekdays.json
  features/v1/downtime_recurrence_payload_once_a_year.json
  features/v1/downtime_recurrence_payload_until_date.json
  features/v1/downtime_recurrence_payload_until_occurrences.json
  features/v1/downtime_recurrence_payload_until_occurrences_and_until_date_are_mutually_exclusive.json
  features/v1/downtime_with_many_tags_payload.json
  features/v1/downtimes.feature
  features/v1/monitors.feature
  features/v2/roles.feature
  features/v2/users.feature
Due: generated-features

Regenerate client from commit c203748 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/UsageAttributionValues.md
  lib/datadog_api_client/v1/models/usage_attribution_supported_metrics.rb
  lib/datadog_api_client/v1/models/usage_attribution_values.rb
Due: generated

ci: get more information about source code
  .github/workflows/test_integration.yml
Due: none

ci: get more information about source code (#538)
  .github/workflows/test_integration.yml
Due: none

Remove unused docker file
  Dockerfile.test
Due: none

Regenerate client from commit 436b9e1 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
Due: none

Path conditions:
  generated: any of: ^lib/datadog_api_client/v[1-9].*
  generated-features: any of: ^features/v[1-9][0-9]*/.*.feature$
  licensed: any of: ^(.*.gemspec|Gemfile|.licensed.yml)$
