Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Regenerate client from commit 10b360f of spec repo
  .generator/schemas/v1/openapi.yaml
  examples/v1/tags/GetHostTags.rb
  examples/v1/tags/ListHostTags.rb
  features/v1/tags.feature
  lib/datadog_api_client/v1/api/tags_api.rb
  lib/datadog_api_client/v1/models/host_tags.rb
  lib/datadog_api_client/v1/models/tag_to_hosts.rb
Due: generate, format-examples

Regenerate client from commit 78d7baa of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-a-bar-chart-widget-with-stacked-type-and-no-legend-specified.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-a-bar-chart-widget-with-stacked-type-and-no-legend-specified.yml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-bar-chart-widget-sorted-by-group.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-bar-chart-widget-sorted-by-group.yml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-bar-chart-widget.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-bar-chart-widget.yml
  examples/v1/dashboards/CreateDashboard_1712853070.rb
  examples/v1/dashboards/CreateDashboard_2345541687.rb
  examples/v1/dashboards/CreateDashboard_2617251399.rb
  features/v1/dashboards.feature
  features/v1/dashboards_json_payload/bar_chart_widget.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/bar_chart_widget_definition.rb
  lib/datadog_api_client/v1/models/bar_chart_widget_definition_type.rb
  lib/datadog_api_client/v1/models/bar_chart_widget_display.rb
  lib/datadog_api_client/v1/models/bar_chart_widget_flat.rb
  lib/datadog_api_client/v1/models/bar_chart_widget_flat_type.rb
  lib/datadog_api_client/v1/models/bar_chart_widget_legend.rb
  lib/datadog_api_client/v1/models/bar_chart_widget_request.rb
  lib/datadog_api_client/v1/models/bar_chart_widget_scaling.rb
  lib/datadog_api_client/v1/models/bar_chart_widget_stacked.rb
  lib/datadog_api_client/v1/models/bar_chart_widget_stacked_type.rb
  lib/datadog_api_client/v1/models/bar_chart_widget_style.rb
  lib/datadog_api_client/v1/models/split_graph_source_widget_definition.rb
Due: generate, format-examples

Regenerate client from commit 2558d47 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_source_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_opentelemetry_source.rb
  lib/datadog_api_client/v2/models/observability_pipeline_opentelemetry_source_type.rb
Due: generate

Regenerate client from commit 25a70f9 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  features/v2/given.json
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/observability_pipelines_api.rb
Due: generate

Regenerate client from commit 4c1510f of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/observability_pipeline_sample_processor.rb
Due: generate

Regenerate client from commit 01101e0 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/teams/CreateTeamNotificationRule.rb
  examples/v2/teams/DeleteTeamNotificationRule.rb
  examples/v2/teams/GetTeamNotificationRule.rb
  examples/v2/teams/GetTeamNotificationRules.rb
  examples/v2/teams/UpdateTeamNotificationRule.rb
  features/scenarios_model_mapping.rb
  features/v2/teams.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/teams_api.rb
  lib/datadog_api_client/v2/models/team_notification_rule.rb
  lib/datadog_api_client/v2/models/team_notification_rule_attributes.rb
  lib/datadog_api_client/v2/models/team_notification_rule_attributes_email.rb
  lib/datadog_api_client/v2/models/team_notification_rule_attributes_ms_teams.rb
  lib/datadog_api_client/v2/models/team_notification_rule_attributes_pagerduty.rb
  lib/datadog_api_client/v2/models/team_notification_rule_attributes_slack.rb
  lib/datadog_api_client/v2/models/team_notification_rules_response.rb
  lib/datadog_api_client/v2/models/team_notification_rules_response_meta.rb
Due: generate, format-examples

Regenerate client from commit 415eb41 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
Due: generate

Regenerate client from commit 127da32 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/observability_pipeline_enrichment_table_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_enrichment_table_reference_table.rb
Due: generate

Regenerate client from commit d7cdf68 of spec repo
  features/v2/teams.feature
Due: none

Regenerate client from commit 414a7c4 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/observability_pipelines/Create-a-new-pipeline-returns-Bad-Request-response.frozen
  cassettes/features/v2/observability_pipelines/Create-a-new-pipeline-returns-Bad-Request-response.yml
  cassettes/features/v2/observability_pipelines/Create-a-new-pipeline-returns-OK-response.frozen
  cassettes/features/v2/observability_pipelines/Create-a-new-pipeline-returns-OK-response.yml
  cassettes/features/v2/observability_pipelines/Delete-a-pipeline-returns-Not-Found-response.frozen
  cassettes/features/v2/observability_pipelines/Delete-a-pipeline-returns-Not-Found-response.yml
  cassettes/features/v2/observability_pipelines/Delete-a-pipeline-returns-OK-response.frozen
  cassettes/features/v2/observability_pipelines/Delete-a-pipeline-returns-OK-response.yml
  cassettes/features/v2/observability_pipelines/Get-a-specific-pipeline-returns-OK-response.frozen
  cassettes/features/v2/observability_pipelines/Get-a-specific-pipeline-returns-OK-response.yml
  cassettes/features/v2/observability_pipelines/List-pipelines-returns-Bad-Request-response.frozen
  cassettes/features/v2/observability_pipelines/List-pipelines-returns-Bad-Request-response.yml
  cassettes/features/v2/observability_pipelines/List-pipelines-returns-OK-response.frozen
  cassettes/features/v2/observability_pipelines/List-pipelines-returns-OK-response.yml
  cassettes/features/v2/observability_pipelines/Update-a-pipeline-returns-Bad-Request-response.frozen
  cassettes/features/v2/observability_pipelines/Update-a-pipeline-returns-Bad-Request-response.yml
  cassettes/features/v2/observability_pipelines/Update-a-pipeline-returns-Not-Found-response.frozen
  cassettes/features/v2/observability_pipelines/Update-a-pipeline-returns-Not-Found-response.yml
  cassettes/features/v2/observability_pipelines/Update-a-pipeline-returns-OK-response.frozen
  cassettes/features/v2/observability_pipelines/Update-a-pipeline-returns-OK-response.yml
  cassettes/features/v2/observability_pipelines/Validate-an-observability-pipeline-returns-Bad-Request-response.frozen
  cassettes/features/v2/observability_pipelines/Validate-an-observability-pipeline-returns-Bad-Request-response.yml
  cassettes/features/v2/observability_pipelines/Validate-an-observability-pipeline-returns-OK-response.frozen
  cassettes/features/v2/observability_pipelines/Validate-an-observability-pipeline-returns-OK-response.yml
  lib/datadog_api_client/v2/models/observability_pipeline_sensitive_data_scanner_processor_custom_pattern_options.rb
  lib/datadog_api_client/v2/models/observability_pipeline_sensitive_data_scanner_processor_library_pattern_options.rb
Due: generate

Regenerate client from commit d948812 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/observability_pipeline_elasticsearch_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_elasticsearch_destination_data_stream.rb
Due: generate

Regenerate client from commit 4990175 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/v2/teams.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/dora_metrics_api.rb
  lib/datadog_api_client/v2/models/dora_deployment_fetch_response.rb
  lib/datadog_api_client/v2/models/dora_deployment_object.rb
  lib/datadog_api_client/v2/models/dora_deployment_object_attributes.rb
  lib/datadog_api_client/v2/models/dora_deployments_list_response.rb
  lib/datadog_api_client/v2/models/dora_failure_fetch_response.rb
  lib/datadog_api_client/v2/models/dora_failures_list_response.rb
  lib/datadog_api_client/v2/models/dora_incident_object.rb
  lib/datadog_api_client/v2/models/dora_incident_object_attributes.rb
Due: generate

Regenerate client from commit 45ed7ff of spec repo
  .generator/schemas/v1/openapi.yaml
  examples/v1/tags/GetHostTags.rb
  examples/v1/tags/ListHostTags.rb
  features/v1/tags.feature
  features/v2/teams.feature
  lib/datadog_api_client/v1/api/tags_api.rb
  lib/datadog_api_client/v1/models/host_tags.rb
  lib/datadog_api_client/v1/models/tag_to_hosts.rb
Due: generate, format-examples

Regenerate client from commit 932f605 of spec repo
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateSyntheticsAPITest_2106135939.rb
  features/v1/synthetics.feature
  features/v1/synthetics_api_test_multi_step_with_subtest.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/synthetics_api_step.rb
  lib/datadog_api_client/v1/models/synthetics_api_subtest_step.rb
  lib/datadog_api_client/v1/models/synthetics_api_subtest_step_subtype.rb
Due: generate, format-examples

Regenerate client from commit 6bdfd5d of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/observability_pipelines/Create-a-new-pipeline-returns-Bad-Request-response.frozen
  cassettes/features/v2/observability_pipelines/Create-a-new-pipeline-returns-Bad-Request-response.yml
  cassettes/features/v2/observability_pipelines/Create-a-new-pipeline-returns-OK-response.frozen
  cassettes/features/v2/observability_pipelines/Create-a-new-pipeline-returns-OK-response.yml
  cassettes/features/v2/observability_pipelines/Delete-a-pipeline-returns-Not-Found-response.frozen
  cassettes/features/v2/observability_pipelines/Delete-a-pipeline-returns-Not-Found-response.yml
  cassettes/features/v2/observability_pipelines/Delete-a-pipeline-returns-OK-response.frozen
  cassettes/features/v2/observability_pipelines/Delete-a-pipeline-returns-OK-response.yml
  cassettes/features/v2/observability_pipelines/Get-a-specific-pipeline-returns-OK-response.frozen
  cassettes/features/v2/observability_pipelines/Get-a-specific-pipeline-returns-OK-response.yml
  cassettes/features/v2/observability_pipelines/List-pipelines-returns-Bad-Request-response.frozen
  cassettes/features/v2/observability_pipelines/List-pipelines-returns-Bad-Request-response.yml
  cassettes/features/v2/observability_pipelines/List-pipelines-returns-OK-response.frozen
  cassettes/features/v2/observability_pipelines/List-pipelines-returns-OK-response.yml
  cassettes/features/v2/observability_pipelines/Update-a-pipeline-returns-Bad-Request-response.frozen
  cassettes/features/v2/observability_pipelines/Update-a-pipeline-returns-Bad-Request-response.yml
  cassettes/features/v2/observability_pipelines/Update-a-pipeline-returns-Not-Found-response.frozen
  cassettes/features/v2/observability_pipelines/Update-a-pipeline-returns-Not-Found-response.yml
  cassettes/features/v2/observability_pipelines/Update-a-pipeline-returns-OK-response.frozen
  cassettes/features/v2/observability_pipelines/Update-a-pipeline-returns-OK-response.yml
  cassettes/features/v2/observability_pipelines/Validate-an-observability-pipeline-returns-Bad-Request-response.frozen
  cassettes/features/v2/observability_pipelines/Validate-an-observability-pipeline-returns-Bad-Request-response.yml
  cassettes/features/v2/observability_pipelines/Validate-an-observability-pipeline-returns-OK-response.frozen
  cassettes/features/v2/observability_pipelines/Validate-an-observability-pipeline-returns-OK-response.yml
  lib/datadog_api_client/v2/models/observability_pipeline_sensitive_data_scanner_processor_rule.rb
Due: generate

Regenerate client from commit dd50efd of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-distribution-widget-with-markers-and-num-buckets.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-distribution-widget-with-markers-and-num-buckets.yml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-formula-and-function-distribution-widget.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-formula-and-function-distribution-widget.yml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-heatmap-widget-with-markers-and-num-buckets.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-heatmap-widget-with-markers-and-num-buckets.yml
  examples/v1/dashboards/CreateDashboard_1093147852.rb
  examples/v1/dashboards/CreateDashboard_1442588603.rb
  examples/v1/dashboards/CreateDashboard_1617893815.rb
  examples/v1/dashboards/CreateDashboard_252716965.rb
  examples/v1/dashboards/CreateDashboard_2823363212.rb
  examples/v1/dashboards/CreateDashboard_3882428227.rb
  features/v1/dashboards.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/distribution_widget_request.rb
  lib/datadog_api_client/v1/models/heat_map_widget_definition.rb
  lib/datadog_api_client/v1/models/heat_map_widget_request.rb
  lib/datadog_api_client/v1/models/heat_map_widget_x_axis.rb
  lib/datadog_api_client/v1/models/widget_histogram_request_type.rb
  lib/datadog_api_client/v1/models/widget_marker.rb
Due: generate, format-examples

Regenerate client from commit 60eadc2 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/synthetics/Create-a-multistep-test-with-subtest-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Create-a-multistep-test-with-subtest-returns-OK-response.yml
  examples/v1/synthetics/CreateSyntheticsAPITest_2106135939.rb
  features/v1/synthetics.feature
  features/v1/synthetics_api_test_multi_step_with_subtest.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/synthetics_api_step.rb
  lib/datadog_api_client/v1/models/synthetics_api_subtest_step.rb
  lib/datadog_api_client/v1/models/synthetics_api_subtest_step_subtype.rb
Due: generate, format-examples

Regenerate client from commit 7dc20ad of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/observability_pipeline_cloud_prem_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_cloud_prem_destination_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_destination_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_kafka_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_kafka_destination_compression.rb
  lib/datadog_api_client/v2/models/observability_pipeline_kafka_destination_encoding.rb
  lib/datadog_api_client/v2/models/observability_pipeline_kafka_destination_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_kafka_librdkafka_option.rb
  lib/datadog_api_client/v2/models/observability_pipeline_kafka_sasl.rb
  lib/datadog_api_client/v2/models/observability_pipeline_kafka_sasl_mechanism.rb
  lib/datadog_api_client/v2/models/observability_pipeline_kafka_source.rb
Due: generate

Regenerate client from commit d230df9 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/observability_pipeline_add_hostname_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_add_hostname_processor_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_processor_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_parse_xml_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_parse_xml_processor_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_split_array_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_split_array_processor_array_config.rb
  lib/datadog_api_client/v2/models/observability_pipeline_split_array_processor_type.rb
Due: generate

Regenerate client from commit e7c3997 of spec repo
  .generator/schemas/v1/openapi.yaml
  examples/v1/tags/GetHostTags.rb
  examples/v1/tags/ListHostTags.rb
  features/v1/tags.feature
  lib/datadog_api_client/v1/api/tags_api.rb
  lib/datadog_api_client/v1/models/host_tags.rb
  lib/datadog_api_client/v1/models/tag_to_hosts.rb
Due: generate, format-examples

Regenerate client from commit 20b60c6 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/product-analytics/SubmitProductAnalyticsEvent.rb
  features/scenarios_model_mapping.rb
  features/v2/product_analytics.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/product_analytics_api.rb
  lib/datadog_api_client/v2/models/product_analytics_account.rb
  lib/datadog_api_client/v2/models/product_analytics_application.rb
  lib/datadog_api_client/v2/models/product_analytics_event.rb
  lib/datadog_api_client/v2/models/product_analytics_event_type.rb
  lib/datadog_api_client/v2/models/product_analytics_server_side_event_error.rb
  lib/datadog_api_client/v2/models/product_analytics_server_side_event_errors.rb
  lib/datadog_api_client/v2/models/product_analytics_server_side_event_item.rb
  lib/datadog_api_client/v2/models/product_analytics_session.rb
  lib/datadog_api_client/v2/models/product_analytics_user.rb
Due: generate, format-examples

Regenerate client from commit 0db975e of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/observability-pipelines/CreatePipeline.rb
  examples/v2/observability-pipelines/UpdatePipeline.rb
  examples/v2/observability-pipelines/ValidatePipeline.rb
  features/scenarios_model_mapping.rb
  features/v2/given.json
  features/v2/observability_pipelines.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/observability_pipelines_api.rb
  lib/datadog_api_client/v2/models/observability_pipeline_add_hostname_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_add_hostname_processor_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_cloud_prem_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_cloud_prem_destination_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_destination_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_processor_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_source_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_elasticsearch_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_elasticsearch_destination_data_stream.rb
  lib/datadog_api_client/v2/models/observability_pipeline_enrichment_table_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_enrichment_table_reference_table.rb
  lib/datadog_api_client/v2/models/observability_pipeline_kafka_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_kafka_destination_compression.rb
  lib/datadog_api_client/v2/models/observability_pipeline_kafka_destination_encoding.rb
  lib/datadog_api_client/v2/models/observability_pipeline_kafka_destination_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_kafka_librdkafka_option.rb
  lib/datadog_api_client/v2/models/observability_pipeline_kafka_sasl.rb
  lib/datadog_api_client/v2/models/observability_pipeline_kafka_sasl_mechanism.rb
  lib/datadog_api_client/v2/models/observability_pipeline_kafka_source.rb
  lib/datadog_api_client/v2/models/observability_pipeline_opentelemetry_source.rb
  lib/datadog_api_client/v2/models/observability_pipeline_opentelemetry_source_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_parse_xml_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_parse_xml_processor_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_quota_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_sensitive_data_scanner_processor_custom_pattern_options.rb
  lib/datadog_api_client/v2/models/observability_pipeline_split_array_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_split_array_processor_array_config.rb
  lib/datadog_api_client/v2/models/observability_pipeline_split_array_processor_type.rb
Due: generate, format-examples

Regenerate client from commit 8f4a73e of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/dora_metrics_api.rb
  lib/datadog_api_client/v2/models/dora_deployment_fetch_response.rb
  lib/datadog_api_client/v2/models/dora_deployment_object.rb
  lib/datadog_api_client/v2/models/dora_deployment_object_attributes.rb
  lib/datadog_api_client/v2/models/dora_deployments_list_response.rb
  lib/datadog_api_client/v2/models/dora_failure_fetch_response.rb
  lib/datadog_api_client/v2/models/dora_failures_list_response.rb
  lib/datadog_api_client/v2/models/dora_incident_object.rb
  lib/datadog_api_client/v2/models/dora_incident_object_attributes.rb
Due: generate

Regenerate client from commit 4ca5fe5 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/observability_pipelines/Create-a-new-pipeline-returns-Bad-Request-response.frozen
  cassettes/features/v2/observability_pipelines/Create-a-new-pipeline-returns-Bad-Request-response.yml
  cassettes/features/v2/observability_pipelines/Create-a-new-pipeline-returns-OK-response.frozen
  cassettes/features/v2/observability_pipelines/Create-a-new-pipeline-returns-OK-response.yml
  cassettes/features/v2/observability_pipelines/Delete-a-pipeline-returns-Not-Found-response.frozen
  cassettes/features/v2/observability_pipelines/Delete-a-pipeline-returns-Not-Found-response.yml
  cassettes/features/v2/observability_pipelines/Delete-a-pipeline-returns-OK-response.frozen
  cassettes/features/v2/observability_pipelines/Delete-a-pipeline-returns-OK-response.yml
  cassettes/features/v2/observability_pipelines/Get-a-specific-pipeline-returns-OK-response.frozen
  cassettes/features/v2/observability_pipelines/Get-a-specific-pipeline-returns-OK-response.yml
  cassettes/features/v2/observability_pipelines/List-pipelines-returns-Bad-Request-response.frozen
  cassettes/features/v2/observability_pipelines/List-pipelines-returns-Bad-Request-response.yml
  cassettes/features/v2/observability_pipelines/List-pipelines-returns-OK-response.frozen
  cassettes/features/v2/observability_pipelines/List-pipelines-returns-OK-response.yml
  cassettes/features/v2/observability_pipelines/Update-a-pipeline-returns-Bad-Request-response.frozen
  cassettes/features/v2/observability_pipelines/Update-a-pipeline-returns-Bad-Request-response.yml
  cassettes/features/v2/observability_pipelines/Update-a-pipeline-returns-Not-Found-response.frozen
  cassettes/features/v2/observability_pipelines/Update-a-pipeline-returns-Not-Found-response.yml
  cassettes/features/v2/observability_pipelines/Update-a-pipeline-returns-OK-response.frozen
  cassettes/features/v2/observability_pipelines/Update-a-pipeline-returns-OK-response.yml
  cassettes/features/v2/observability_pipelines/Validate-an-observability-pipeline-returns-Bad-Request-response.frozen
  cassettes/features/v2/observability_pipelines/Validate-an-observability-pipeline-returns-Bad-Request-response.yml
  cassettes/features/v2/observability_pipelines/Validate-an-observability-pipeline-returns-OK-response.frozen
  cassettes/features/v2/observability_pipelines/Validate-an-observability-pipeline-returns-OK-response.yml
  lib/datadog_api_client/v2/models/observability_pipeline_sensitive_data_scanner_processor_rule.rb
Due: generate

Regenerate client from commit 0264d69 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/v2/sensitive_data_scanner.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/sensitive_data_scanner_rule_attributes.rb
  lib/datadog_api_client/v2/models/sensitive_data_scanner_suppressions.rb
Due: generate

Regenerate client from commit 8f8098f of spec repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/hourly_usage_attribution_usage_type.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_supported_metrics.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_values.rb
  lib/datadog_api_client/v2/api/dora_metrics_api.rb
  lib/datadog_api_client/v2/models/dora_deployment_fetch_response.rb
  lib/datadog_api_client/v2/models/dora_deployment_object_attributes.rb
  lib/datadog_api_client/v2/models/dora_event.rb
  lib/datadog_api_client/v2/models/dora_failures_list_response.rb
  lib/datadog_api_client/v2/models/dora_fetch_response.rb
  lib/datadog_api_client/v2/models/dora_incident_object.rb
  lib/datadog_api_client/v2/models/dora_incident_object_attributes.rb
  lib/datadog_api_client/v2/models/dora_list_response.rb
Due: generate

Regenerate client from commit 1998a4d of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/product-analytics/SubmitProductAnalyticsEvent.rb
  features/scenarios_model_mapping.rb
  features/v2/product_analytics.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/product_analytics_api.rb
  lib/datadog_api_client/v2/models/product_analytics_server_side_event_error.rb
  lib/datadog_api_client/v2/models/product_analytics_server_side_event_errors.rb
  lib/datadog_api_client/v2/models/product_analytics_server_side_event_item.rb
  lib/datadog_api_client/v2/models/product_analytics_server_side_event_item_account.rb
  lib/datadog_api_client/v2/models/product_analytics_server_side_event_item_application.rb
  lib/datadog_api_client/v2/models/product_analytics_server_side_event_item_event.rb
  lib/datadog_api_client/v2/models/product_analytics_server_side_event_item_session.rb
  lib/datadog_api_client/v2/models/product_analytics_server_side_event_item_type.rb
  lib/datadog_api_client/v2/models/product_analytics_server_side_event_item_usr.rb
Due: generate, format-examples

Regenerate client from commit 140fa9d of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/dora_metrics_api.rb
  lib/datadog_api_client/v2/models/dora_deployment_fetch_response.rb
  lib/datadog_api_client/v2/models/dora_deployment_object.rb
  lib/datadog_api_client/v2/models/dora_deployment_object_attributes.rb
  lib/datadog_api_client/v2/models/dora_deployments_list_response.rb
  lib/datadog_api_client/v2/models/dora_failure_fetch_response.rb
  lib/datadog_api_client/v2/models/dora_failures_list_response.rb
  lib/datadog_api_client/v2/models/dora_incident_object.rb
  lib/datadog_api_client/v2/models/dora_incident_object_attributes.rb
Due: generate

Regenerate client from commit 37b40f1 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/observability-pipelines/CreatePipeline.rb
  examples/v2/observability-pipelines/UpdatePipeline.rb
  examples/v2/observability-pipelines/ValidatePipeline.rb
  features/v2/given.json
  features/v2/observability_pipelines.feature
  lib/datadog_api_client/v2/models/observability_pipeline_config.rb
Due: generate, format-examples

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
