Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

Regenerate client from commit f0f73ae of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/on-call/Create-an-On-Call-email-for-a-user-returns-Bad-Request-response.frozen
  cassettes/features/v2/on-call/Create-an-On-Call-email-for-a-user-returns-Bad-Request-response.yml
  cassettes/features/v2/on-call/Create-an-On-Call-email-for-a-user-returns-Created-response.frozen
  cassettes/features/v2/on-call/Create-an-On-Call-email-for-a-user-returns-Created-response.yml
  cassettes/features/v2/on-call/Create-an-On-Call-email-for-a-user-returns-Not-Found-response.frozen
  cassettes/features/v2/on-call/Create-an-On-Call-email-for-a-user-returns-Not-Found-response.yml
  cassettes/features/v2/on-call/Delete-an-On-Call-email-for-a-missing-email-returns-Not-Found-response.frozen
  cassettes/features/v2/on-call/Delete-an-On-Call-email-for-a-missing-email-returns-Not-Found-response.yml
  cassettes/features/v2/on-call/Delete-an-On-Call-email-for-a-missing-user-returns-Not-Found-response.frozen
  cassettes/features/v2/on-call/Delete-an-On-Call-email-for-a-missing-user-returns-Not-Found-response.yml
  cassettes/features/v2/on-call/Delete-an-On-Call-email-for-a-user-returns-No-Content-response.frozen
  cassettes/features/v2/on-call/Delete-an-On-Call-email-for-a-user-returns-No-Content-response.yml
  cassettes/features/v2/on-call/Get-an-On-Call-email-for-a-user-returns-OK-response.frozen
  cassettes/features/v2/on-call/Get-an-On-Call-email-for-a-user-returns-OK-response.yml
  cassettes/features/v2/on-call/Update-an-On-Call-email-for-a-user-returns-OK-response.frozen
  cassettes/features/v2/on-call/Update-an-On-Call-email-for-a-user-returns-OK-response.yml
  examples/v2/on-call/CreateUserEmailNotificationChannel.rb
  examples/v2/on-call/DeleteUserEmailNotificationChannel.rb
  examples/v2/on-call/GetUserEmailNotificationChannel.rb
  examples/v2/on-call/UpdateUserEmailNotificationChannel.rb
  features/scenarios_model_mapping.rb
  features/v2/given.json
  features/v2/on-call.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/error_tracking_api.rb
  lib/datadog_api_client/v2/api/on_call_api.rb
  lib/datadog_api_client/v2/models/email.rb
  lib/datadog_api_client/v2/models/email_attributes.rb
  lib/datadog_api_client/v2/models/email_create_request.rb
  lib/datadog_api_client/v2/models/email_data.rb
  lib/datadog_api_client/v2/models/email_format_type.rb
  lib/datadog_api_client/v2/models/email_type.rb
  lib/datadog_api_client/v2/models/email_update_request.rb
Due: generate, format-examples

Regenerate client from commit 134fe40 of spec repo
  .generator/schemas/v1/openapi.yaml
  features/scenarios_model_mapping.rb
  features/v1/monitors.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/api/monitors_api.rb
  lib/datadog_api_client/v1/models/monitor.rb
  lib/datadog_api_client/v1/models/monitor_asset.rb
  lib/datadog_api_client/v1/models/monitor_asset_category.rb
  lib/datadog_api_client/v1/models/monitor_asset_resource_type.rb
  lib/datadog_api_client/v1/models/monitor_update_request.rb
Due: generate

Regenerate client from commit e03073d of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/teams/GetTeamSync.rb
  features/scenarios_model_mapping.rb
  features/v2/teams.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/teams_api.rb
  lib/datadog_api_client/v2/models/team_sync_attributes.rb
  lib/datadog_api_client/v2/models/team_sync_attributes_frequency.rb
  lib/datadog_api_client/v2/models/team_sync_request.rb
  lib/datadog_api_client/v2/models/team_sync_response.rb
Due: generate, format-examples

Bump versions and add changelog entries.
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit b4519e6 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit 266da8c of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Get-a-job-s-details-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Get-a-job-s-details-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/List-historical-jobs-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/List-historical-jobs-returns-OK-response.yml
  lib/datadog_api_client/v2/models/threat_hunting_job_response_attributes.rb
Due: generate

Regenerate client from commit a1b0ee6 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/reference-tables/CreateReferenceTable.rb
  features/v2/reference_tables.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/table_result_v2_data_attributes.rb
  lib/datadog_api_client/v2/models/table_result_v2_data_attributes_file_metadata.rb
  lib/datadog_api_client/v2/models/table_result_v2_data_attributes_file_metadata_cloud_storage.rb
  lib/datadog_api_client/v2/models/table_result_v2_data_attributes_file_metadata_local_file.rb
Due: generate, format-examples

Regenerate client from commit a11cf8b of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/teams/GetTeamSync.rb
  features/scenarios_model_mapping.rb
  features/v2/teams.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/teams_api.rb
  lib/datadog_api_client/v2/models/team_sync_attributes.rb
  lib/datadog_api_client/v2/models/team_sync_attributes_frequency.rb
  lib/datadog_api_client/v2/models/team_sync_request.rb
  lib/datadog_api_client/v2/models/team_sync_response.rb
Due: generate, format-examples

Regenerate client from commit 10c6f7d of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/monitors/Create-a-monitor-notification-rule-with-scope-returns-OK-response.frozen
  cassettes/features/v2/monitors/Create-a-monitor-notification-rule-with-scope-returns-OK-response.yml
  cassettes/features/v2/monitors/Update-a-monitor-notification-rule-with-scope-returns-OK-response.frozen
  cassettes/features/v2/monitors/Update-a-monitor-notification-rule-with-scope-returns-OK-response.yml
  examples/v2/monitors/CreateMonitorNotificationRule_1379932371.rb
  examples/v2/monitors/UpdateMonitorNotificationRule_1446058210.rb
  features/v2/monitors.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/monitor_notification_rule_attributes.rb
  lib/datadog_api_client/v2/models/monitor_notification_rule_condition.rb
  lib/datadog_api_client/v2/models/monitor_notification_rule_conditional_recipients.rb
  lib/datadog_api_client/v2/models/monitor_notification_rule_filter.rb
  lib/datadog_api_client/v2/models/monitor_notification_rule_filter_scope.rb
  lib/datadog_api_client/v2/models/monitor_notification_rule_response_attributes.rb
Due: generate, format-examples

Regenerate client from commit 3caef01 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/layer_attributes.rb
  lib/datadog_api_client/v2/models/schedule_create_request_data_attributes_layers_items.rb
  lib/datadog_api_client/v2/models/schedule_update_request_data_attributes_layers_items.rb
Due: generate

Regenerate client from commit 8651642 of spec repo
  cassettes/features/v2/agentless_scanning/Create-azure-scan-options-returns-Created-response.frozen
  cassettes/features/v2/agentless_scanning/Create-azure-scan-options-returns-Created-response.yml
  cassettes/features/v2/agentless_scanning/Delete-AWS-Scan-Options-returns-Bad-Request-response.frozen
  cassettes/features/v2/agentless_scanning/Delete-AWS-Scan-Options-returns-Bad-Request-response.yml
  cassettes/features/v2/agentless_scanning/Delete-AWS-Scan-Options-returns-Not-Found-response.frozen
  cassettes/features/v2/agentless_scanning/Delete-AWS-Scan-Options-returns-Not-Found-response.yml
  cassettes/features/v2/agentless_scanning/Delete-GCP-Scan-Options-returns-Bad-Request-response.frozen
  cassettes/features/v2/agentless_scanning/Delete-GCP-Scan-Options-returns-Bad-Request-response.yml
  cassettes/features/v2/agentless_scanning/Delete-GCP-Scan-Options-returns-Not-Found-response.frozen
  cassettes/features/v2/agentless_scanning/Delete-GCP-Scan-Options-returns-Not-Found-response.yml
  cassettes/features/v2/agentless_scanning/List-AWS-Scan-Options-returns-OK-response.frozen
  cassettes/features/v2/agentless_scanning/List-AWS-Scan-Options-returns-OK-response.yml
  cassettes/features/v2/agentless_scanning/List-GCP-Scan-Options-returns-OK-response.frozen
  cassettes/features/v2/agentless_scanning/List-GCP-Scan-Options-returns-OK-response.yml
  cassettes/features/v2/agentless_scanning/List-azure-scan-options-returns-OK-response.frozen
  cassettes/features/v2/agentless_scanning/List-azure-scan-options-returns-OK-response.yml
Due: none

Regenerate client from commit dfcbd9b of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/observability_pipeline_google_chronicle_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_google_cloud_storage_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_google_pub_sub_source.rb
Due: generate

Prevent case conflict in files
  .pre-commit-config.yaml
Due: generate

Regenerate client from commit 29adf1f of spec repo
  cassettes/features/v2/on-call/Get-team-on-call-users-returns-OK-response.frozen
  cassettes/features/v2/on-call/Get-team-on-call-users-returns-OK-response.yml
  cassettes/features/v2/on-call/Set-On-Call-team-routing-rules-returns-OK-response.frozen
  cassettes/features/v2/on-call/Set-On-Call-team-routing-rules-returns-OK-response.yml
  features/v2/undo.json
Due: none

Regenerate client from commit 30cfd3e of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
Due: generate

Regenerate client from commit e2f3b21 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/reference-tables/UpdateReferenceTable.rb
  features/v2/reference_tables.feature
  lib/datadog_api_client/v2/models/patch_table_request_data_attributes.rb
Due: generate, format-examples

Prevent case conflict in files (#2788)
  .pre-commit-config.yaml
Due: generate

Regenerate client from commit 643ae23 of spec repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
  lib/datadog_api_client/v2/models/observability_pipeline_add_env_vars_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_processor_group.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_processors.rb
  lib/datadog_api_client/v2/models/observability_pipeline_custom_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_datadog_tags_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_dedupe_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_enrichment_table_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_filter_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_generate_metrics_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_ocsf_mapper_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_parse_grok_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_parse_json_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_quota_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_reduce_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_remove_fields_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_rename_fields_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_sample_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_sensitive_data_scanner_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_throttle_processor.rb
Due: generate

Regenerate client from commit 2aab4b8 of spec repo
  .generator/schemas/v1/openapi.yaml
  examples/v1/service-level-objectives/CreateSLO_512760759.rb
  features/v1/service_level_objectives.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/service_level_objective.rb
  lib/datadog_api_client/v1/models/service_level_objective_request.rb
  lib/datadog_api_client/v1/models/slo_count_condition.rb
  lib/datadog_api_client/v1/models/slo_count_spec.rb
  lib/datadog_api_client/v1/models/slo_response_data.rb
  lib/datadog_api_client/v1/models/slo_sli_spec.rb
Due: generate, format-examples

Regenerate client from commit 5615e9c of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/reference-tables/DeleteRows.rb
  examples/v2/reference-tables/UpsertRows.rb
  features/scenarios_model_mapping.rb
  features/v2/reference_tables.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/reference_tables_api.rb
  lib/datadog_api_client/v2/models/batch_delete_rows_request_array.rb
  lib/datadog_api_client/v2/models/batch_delete_rows_request_data.rb
  lib/datadog_api_client/v2/models/batch_upsert_rows_request_array.rb
  lib/datadog_api_client/v2/models/batch_upsert_rows_request_data.rb
  lib/datadog_api_client/v2/models/batch_upsert_rows_request_data_attributes.rb
Due: generate, format-examples

Regenerate client from commit 3d6d8b4 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/teams/AddTeamHierarchyLink.rb
  examples/v2/teams/GetTeamHierarchyLink.rb
  examples/v2/teams/GetTeamHierarchyLinks.rb
  examples/v2/teams/GetTeamHierarchyLinks_3360757486.rb
  examples/v2/teams/RemoveTeamHierarchyLink.rb
  features/scenarios_model_mapping.rb
  features/v2/given.json
  features/v2/teams.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/teams_api.rb
  lib/datadog_api_client/v2/models/team_hierarchy_link.rb
  lib/datadog_api_client/v2/models/team_hierarchy_link_attributes.rb
  lib/datadog_api_client/v2/models/team_hierarchy_link_create.rb
  lib/datadog_api_client/v2/models/team_hierarchy_link_create_relationships.rb
  lib/datadog_api_client/v2/models/team_hierarchy_link_create_request.rb
  lib/datadog_api_client/v2/models/team_hierarchy_link_create_team.rb
  lib/datadog_api_client/v2/models/team_hierarchy_link_create_team_relationship.rb
  lib/datadog_api_client/v2/models/team_hierarchy_link_relationships.rb
  lib/datadog_api_client/v2/models/team_hierarchy_link_response.rb
  lib/datadog_api_client/v2/models/team_hierarchy_link_team.rb
  lib/datadog_api_client/v2/models/team_hierarchy_link_team_attributes.rb
  lib/datadog_api_client/v2/models/team_hierarchy_link_team_relationship.rb
  lib/datadog_api_client/v2/models/team_hierarchy_link_type.rb
  lib/datadog_api_client/v2/models/team_hierarchy_links_response.rb
  lib/datadog_api_client/v2/models/teams_hierarchy_links_response_links.rb
  lib/datadog_api_client/v2/models/teams_hierarchy_links_response_meta.rb
  lib/datadog_api_client/v2/models/teams_hierarchy_links_response_meta_page.rb
Due: generate, format-examples

Regenerate client from commit 1943b0b of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/deployment-gates/GetDeploymentGateRules.rb
  features/scenarios_model_mapping.rb
  features/v2/deployment_gates.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/deployment_gates_api.rb
  lib/datadog_api_client/v2/models/deployment_gate_rules_response.rb
Due: generate, format-examples

Regenerate client from commit 73f2ad5 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/synthetics/PatchGlobalVariable.rb
  features/scenarios_model_mapping.rb
  features/v2/synthetics.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/synthetics_api.rb
  lib/datadog_api_client/v2/models/global_variable_data.rb
  lib/datadog_api_client/v2/models/global_variable_json_patch_request.rb
  lib/datadog_api_client/v2/models/global_variable_json_patch_request_data.rb
  lib/datadog_api_client/v2/models/global_variable_json_patch_request_data_attributes.rb
  lib/datadog_api_client/v2/models/global_variable_json_patch_type.rb
  lib/datadog_api_client/v2/models/global_variable_response.rb
  lib/datadog_api_client/v2/models/global_variable_type.rb
  lib/datadog_api_client/v2/models/json_patch_operation.rb
  lib/datadog_api_client/v2/models/json_patch_operation_op.rb
  lib/datadog_api_client/v2/models/synthetics_global_variable.rb
  lib/datadog_api_client/v2/models/synthetics_global_variable_attributes.rb
  lib/datadog_api_client/v2/models/synthetics_global_variable_options.rb
  lib/datadog_api_client/v2/models/synthetics_global_variable_parse_test_options.rb
  lib/datadog_api_client/v2/models/synthetics_global_variable_parse_test_options_type.rb
  lib/datadog_api_client/v2/models/synthetics_global_variable_parser_type.rb
  lib/datadog_api_client/v2/models/synthetics_global_variable_totp_parameters.rb
  lib/datadog_api_client/v2/models/synthetics_global_variable_value.rb
  lib/datadog_api_client/v2/models/synthetics_variable_parser.rb
Due: generate, format-examples

Regenerate client from commit 08db818 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/teams/AddTeamHierarchyLink.rb
  examples/v2/teams/GetTeamHierarchyLink.rb
  examples/v2/teams/GetTeamHierarchyLinks.rb
  examples/v2/teams/GetTeamHierarchyLinks_3360757486.rb
  examples/v2/teams/RemoveTeamHierarchyLink.rb
  features/scenarios_model_mapping.rb
  features/v2/given.json
  features/v2/teams.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/teams_api.rb
  lib/datadog_api_client/v2/models/team_hierarchy_link.rb
  lib/datadog_api_client/v2/models/team_hierarchy_link_attributes.rb
  lib/datadog_api_client/v2/models/team_hierarchy_link_create.rb
  lib/datadog_api_client/v2/models/team_hierarchy_link_create_relationships.rb
  lib/datadog_api_client/v2/models/team_hierarchy_link_create_request.rb
  lib/datadog_api_client/v2/models/team_hierarchy_link_create_team.rb
  lib/datadog_api_client/v2/models/team_hierarchy_link_create_team_relationship.rb
  lib/datadog_api_client/v2/models/team_hierarchy_link_relationships.rb
  lib/datadog_api_client/v2/models/team_hierarchy_link_response.rb
  lib/datadog_api_client/v2/models/team_hierarchy_link_team.rb
  lib/datadog_api_client/v2/models/team_hierarchy_link_team_attributes.rb
  lib/datadog_api_client/v2/models/team_hierarchy_link_team_relationship.rb
  lib/datadog_api_client/v2/models/team_hierarchy_link_type.rb
  lib/datadog_api_client/v2/models/team_hierarchy_links_response.rb
  lib/datadog_api_client/v2/models/teams_hierarchy_links_response_links.rb
  lib/datadog_api_client/v2/models/teams_hierarchy_links_response_meta.rb
  lib/datadog_api_client/v2/models/teams_hierarchy_links_response_meta_page.rb
Due: generate, format-examples

Regenerate client from commit 5f572cc of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/fleet-automation/GetFleetAgentInfo.rb
  features/scenarios_model_mapping.rb
  features/v2/fleet_automation.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/fleet_automation_api.rb
  lib/datadog_api_client/v2/models/fleet_agent_info.rb
  lib/datadog_api_client/v2/models/fleet_agent_info_attributes.rb
  lib/datadog_api_client/v2/models/fleet_agent_info_details.rb
  lib/datadog_api_client/v2/models/fleet_agent_info_resource_type.rb
  lib/datadog_api_client/v2/models/fleet_agent_info_response.rb
  lib/datadog_api_client/v2/models/fleet_configuration_file.rb
  lib/datadog_api_client/v2/models/fleet_configuration_layer.rb
  lib/datadog_api_client/v2/models/fleet_detected_integration.rb
  lib/datadog_api_client/v2/models/fleet_integration_details.rb
  lib/datadog_api_client/v2/models/fleet_integrations_by_status.rb
Due: generate, format-examples

Regenerate client from commit 6cba7b1 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/monitors/Check-if-a-monitor-can-be-deleted-returns-OK-response.frozen
  cassettes/features/v1/monitors/Check-if-a-monitor-can-be-deleted-returns-OK-response.yml
  cassettes/features/v1/monitors/Create-a-monitor-with-assets-returns-OK-response.frozen
  cassettes/features/v1/monitors/Create-a-monitor-with-assets-returns-OK-response.yml
  examples/v1/monitors/CreateMonitor_3541766733.rb
  features/scenarios_model_mapping.rb
  features/v1/monitors.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/api/monitors_api.rb
  lib/datadog_api_client/v1/models/monitor.rb
  lib/datadog_api_client/v1/models/monitor_asset.rb
  lib/datadog_api_client/v1/models/monitor_asset_category.rb
  lib/datadog_api_client/v1/models/monitor_asset_resource_type.rb
  lib/datadog_api_client/v1/models/monitor_update_request.rb
Due: generate, format-examples

Regenerate client from commit 479ca66 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/on-call/GetScheduleOnCallUser.rb
  examples/v2/on-call/GetScheduleOnCallUser_3672445524.rb
  features/v2/on-call.feature
  lib/datadog_api_client/v2/api/on_call_api.rb
Due: generate, format-examples

support path parameters in undo operations also, enable a skipped feature so we can properly test it
  cassettes/features/v2/teams/Add-a-user-to-a-team-returns-Represents-a-user-s-association-to-a-team-response.frozen
  cassettes/features/v2/teams/Add-a-user-to-a-team-returns-Represents-a-user-s-association-to-a-team-response.yml
  features/step_definitions/request.rb
  features/v2/teams.feature
  features/v2/undo.json
Due: none

Regenerate client from commit 02228bc of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Get-a-suppression-s-version-history-returns-Not-Found-response.frozen
  cassettes/features/v2/security_monitoring/Get-a-suppression-s-version-history-returns-Not-Found-response.yml
  cassettes/features/v2/security_monitoring/Get-a-suppression-s-version-history-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Get-a-suppression-s-version-history-returns-OK-response.yml
  examples/v2/security-monitoring/GetSuppressionVersionHistory.rb
  features/scenarios_model_mapping.rb
  features/v2/security_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/get_suppression_version_history_data.rb
  lib/datadog_api_client/v2/models/get_suppression_version_history_data_type.rb
  lib/datadog_api_client/v2/models/get_suppression_version_history_response.rb
  lib/datadog_api_client/v2/models/suppression_version_history.rb
  lib/datadog_api_client/v2/models/suppression_versions.rb
  lib/datadog_api_client/v2/models/version_history_update.rb
  lib/datadog_api_client/v2/models/version_history_update_type.rb
Due: generate, format-examples

Regenerate client from commit e7e4a68 of spec repo
  cassettes/features/v2/deployment_gates/Create-deployment-rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/deployment_gates/Create-deployment-rule-returns-Bad-Request-response.yml
  cassettes/features/v2/deployment_gates/Create-deployment-rule-returns-OK-response.frozen
  cassettes/features/v2/deployment_gates/Create-deployment-rule-returns-OK-response.yml
  cassettes/features/v2/deployment_gates/Delete-deployment-gate-returns-No-Content-response.frozen
  cassettes/features/v2/deployment_gates/Delete-deployment-gate-returns-No-Content-response.yml
  cassettes/features/v2/deployment_gates/Delete-deployment-rule-returns-No-Content-response.frozen
  cassettes/features/v2/deployment_gates/Delete-deployment-rule-returns-No-Content-response.yml
  cassettes/features/v2/deployment_gates/Get-deployment-gate-returns-OK-response.frozen
  cassettes/features/v2/deployment_gates/Get-deployment-gate-returns-OK-response.yml
  cassettes/features/v2/deployment_gates/Get-deployment-rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/deployment_gates/Get-deployment-rule-returns-Bad-Request-response.yml
  cassettes/features/v2/deployment_gates/Get-deployment-rule-returns-OK-response.frozen
  cassettes/features/v2/deployment_gates/Get-deployment-rule-returns-OK-response.yml
  cassettes/features/v2/deployment_gates/Update-deployment-gate-returns-OK-response.frozen
  cassettes/features/v2/deployment_gates/Update-deployment-gate-returns-OK-response.yml
  cassettes/features/v2/deployment_gates/Update-deployment-rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/deployment_gates/Update-deployment-rule-returns-Bad-Request-response.yml
  cassettes/features/v2/deployment_gates/Update-deployment-rule-returns-OK-response.frozen
  cassettes/features/v2/deployment_gates/Update-deployment-rule-returns-OK-response.yml
  features/v2/given.json
Due: none
