Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features, licensed

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

generated-features:
  name: Do not commit generated feature files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

licensed:
  name: Licensed
  language: ruby
  language_version: system
  additional_dependencies:
  - licensed
  entry: .licenses/check.sh
  pass_filenames: false
  verbose: true

Regenerate client from commit 9a2238a of spec repo
  .apigentools-info
  examples/v2/logs/ListLogs.rb
  features/v2/logs.feature
Due: generated-features

Include test.codeowners in skipped tests
  features/support/hooks.rb
Due: none

run all and add skip
  features/support/hooks.rb
  run-tests.sh
Due: none

simplify
  features/support/hooks.rb
Due: none

Regenerate client from commit 0029fd5 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  docs/v2/RoleCreateAttributes.md
  features/v2/roles.feature
  lib/datadog_api_client/v2/models/role_create_attributes.rb
Due: generated, generated-features

update the metics query pointlist type
  lib/datadog_api_client/v1/models/metrics_query_metadata.rb
Due: generated

Include test.codeowners in skipped tests (#637)
  features/support/hooks.rb
  run-tests.sh
Due: none

Regenerate client from commit 7316fb8 of spec repo
  .apigentools-info
  features/v1/monitors.feature
  features/v1/synthetics.feature
  features/v2/incidents.feature
Due: generated-features

Regenerate client from commit 49a21ae of spec repo
  .apigentools-info
  features/v1/logs.feature
  features/v1/metrics.feature
  features/v2/logs.feature
Due: generated-features

Regenerate client from commit 15761ea of spec repo
  .apigentools-info
  features/v2/incidents.feature
Due: generated-features

Sleep after request if needed
  .github/workflows/test_integration.yml
  features/step_definitions/request.rb
Due: none

Fix active_support loading
  features/step_definitions/request.rb
Due: none

Sleep after request if needed (#646)
  .github/workflows/test_integration.yml
  features/step_definitions/request.rb
Due: none

Regenerate client from commit 54aeadc of spec repo
  .apigentools-info
  features/v1/logs.feature
  features/v1/metrics.feature
  features/v2/logs.feature
Due: generated-features

Regenerate client from commit 729b64f of spec repo
  .apigentools-info
  features/v1/dashboard_lists.feature
  features/v1/dashboards.feature
  features/v1/downtimes.feature
  features/v1/events.feature
  features/v1/hosts.feature
  features/v1/key_management.feature
  features/v1/logs_indexes.feature
  features/v1/logs_pipelines.feature
  features/v1/metrics.feature
  features/v1/monitors.feature
  features/v1/notebooks.feature
  features/v1/organizations.feature
  features/v1/pagerduty_integration.feature
  features/v1/service_level_objective_corrections.feature
  features/v1/service_level_objectives.feature
  features/v1/slack_integration.feature
  features/v1/synthetics.feature
  features/v1/tags.feature
  features/v1/usage_metering.feature
  features/v1/users.feature
  features/v1/webhooks_integration.feature
  features/v2/dashboard_lists.feature
  features/v2/incident_services.feature
  features/v2/incident_teams.feature
  features/v2/incidents.feature
  features/v2/key_management.feature
  features/v2/logs_archives.feature
  features/v2/logs_metrics.feature
  features/v2/metrics.feature
  features/v2/roles.feature
  features/v2/security_monitoring.feature
  features/v2/service_accounts.feature
  features/v2/users.feature
Due: generated-features

Regenerate client from commit 4324847 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  docs/v2/SecurityMonitoringSignalAttributes.md
  lib/datadog_api_client/v2/models/security_monitoring_signal_attributes.rb
Due: generated

Regenerate client from commit 7428356 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: none

Regenerate client from commit 4c16b82 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  docs/v2/LogsQueryFilter.md
  lib/datadog_api_client/v2/models/logs_query_filter.rb
Due: generated

Regenerate client from commit eb96eba of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/MonitorsAPI.md
  lib/datadog_api_client/v1/api/monitors_api.rb
Due: generated

Regenerate client from commit 33ea608 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/UsageRumUnitsHour.md
  lib/datadog_api_client/v1/models/usage_rum_units_hour.rb
Due: generated

Fix undo with several args
  features/step_definitions/request.rb
Due: none

Regenerate client from commit 3934ce4 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/SyntheticsConfigVariable.md
  features/v1/synthetics.feature
  lib/datadog_api_client/v1/models/synthetics_config_variable.rb
Due: generated, generated-features

Regenerate client from commit f676b70 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/service_level_objective_corrections/Create-an-SLO-correction-with-rrule-returns-OK-response.yml
  docs/v1/SLOCorrectionCreateRequestAttributes.md
  docs/v1/SLOCorrectionResponseAttributes.md
  docs/v1/SLOCorrectionUpdateRequestAttributes.md
  features/v1/service_level_objective_corrections.feature
  lib/datadog_api_client/v1/models/slo_correction_create_request_attributes.rb
  lib/datadog_api_client/v1/models/slo_correction_response_attributes.rb
  lib/datadog_api_client/v1/models/slo_correction_update_request_attributes.rb
Due: generated, generated-features

Regenerate client from commit f4bca2b of spec repo
  .apigentools-info
  cassettes/features/v2/key_management/Create-an-API-key-returns-Created-response.yml
  cassettes/features/v2/key_management/Create-an-Application-key-for-current-user-returns-Created-response.yml
  cassettes/features/v2/key_management/Delete-an-API-key-returns-No-Content-response.yml
  cassettes/features/v2/key_management/Delete-an-Application-key-owned-by-current-user-returns-No-Content-response.yml
  cassettes/features/v2/key_management/Delete-an-Application-key-returns-No-Content-response.yml
  cassettes/features/v2/key_management/Edit-an-API-key-returns-OK-response.yml
  cassettes/features/v2/key_management/Edit-an-application-key-owned-by-current-user-returns-OK-response.yml
  cassettes/features/v2/key_management/Edit-an-application-key-returns-OK-response.yml
  cassettes/features/v2/key_management/Get-API-key-returns-OK-response.yml
  cassettes/features/v2/key_management/Get-all-API-keys-returns-OK-response.yml
  cassettes/features/v2/key_management/Get-all-Application-keys-owned-by-current-user-returns-OK-response.yml
  cassettes/features/v2/key_management/Get-all-Application-keys-returns-OK-response.yml
  cassettes/features/v2/key_management/Get-an-application-key-returns-OK-response.yml
  cassettes/features/v2/key_management/Get-one-Application-key-owned-by-current-user-returns-OK-response.yml
  cassettes/features/v2/service_accounts/Create-an-app-key-for-this-service-account-returns-Created-response.yml
  cassettes/features/v2/service_accounts/Delete-an-app-key-owned-by-this-service-account-returns-No-Content-response.yml
  cassettes/features/v2/service_accounts/Edit-an-app-key-owned-by-this-service-account-returns-OK-response.yml
  cassettes/features/v2/service_accounts/Get-all-app-keys-owned-by-this-service-account-returns-OK-response.yml
  cassettes/features/v2/service_accounts/Get-one-app-key-owned-by-this-service-account-returns-OK-response.yml
  features/v2/key_management.feature
  features/v2/service_accounts.feature
Due: generated-features

Regenerate client from commit d90592c of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  docs/v1/Event.md
  docs/v1/EventCreateRequest.md
  docs/v1/EventCreateResponse.md
  docs/v1/LogsListRequestTime.md
  docs/v1/MonitorSearchResult.md
  docs/v1/MonitorsAPI.md
  docs/v1/SLOThreshold.md
  docs/v1/ServiceLevelObjectivesAPI.md
  docs/v1/TagsAPI.md
  docs/v1/UsageHostHour.md
  docs/v1/WidgetAxis.md
  features/v1/logs_pipelines.feature
  features/v2/logs_archives.feature
  lib/datadog_api_client/v1/api/monitors_api.rb
  lib/datadog_api_client/v1/api/service_level_objectives_api.rb
  lib/datadog_api_client/v1/api/tags_api.rb
  lib/datadog_api_client/v1/configuration.rb
  lib/datadog_api_client/v1/models/event.rb
  lib/datadog_api_client/v1/models/event_create_request.rb
  lib/datadog_api_client/v1/models/event_create_response.rb
  lib/datadog_api_client/v1/models/logs_list_request_time.rb
  lib/datadog_api_client/v1/models/monitor_search_result.rb
  lib/datadog_api_client/v1/models/slo_threshold.rb
  lib/datadog_api_client/v1/models/usage_host_hour.rb
  lib/datadog_api_client/v1/models/widget_axis.rb
  lib/datadog_api_client/v2/configuration.rb
Due: generated, generated-features

Update README.md
  README.md
Due: none

Update README.md (#654)
  README.md
Due: none

Regenerate client from commit 7feb9cb of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-sunburst-widget-and-metrics-data.yml
  docs/v1/README.md
  docs/v1/SunburstWidgetDefinition.md
  docs/v1/SunburstWidgetDefinitionType.md
  docs/v1/SunburstWidgetLegend.md
  docs/v1/SunburstWidgetLegendInlineAutomatic.md
  docs/v1/SunburstWidgetLegendInlineAutomaticType.md
  docs/v1/SunburstWidgetLegendTable.md
  docs/v1/SunburstWidgetLegendTableType.md
  docs/v1/SunburstWidgetRequest.md
  docs/v1/WidgetDefinition.md
  features/v1/dashboards.feature
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/sunburst_widget_definition.rb
  lib/datadog_api_client/v1/models/sunburst_widget_definition_type.rb
  lib/datadog_api_client/v1/models/sunburst_widget_legend.rb
  lib/datadog_api_client/v1/models/sunburst_widget_legend_inline_automatic.rb
  lib/datadog_api_client/v1/models/sunburst_widget_legend_inline_automatic_type.rb
  lib/datadog_api_client/v1/models/sunburst_widget_legend_table.rb
  lib/datadog_api_client/v1/models/sunburst_widget_legend_table_type.rb
  lib/datadog_api_client/v1/models/sunburst_widget_request.rb
  spec/v1/models/sunburst_widget_definition_spec.rb
  spec/v1/models/sunburst_widget_definition_type_spec.rb
  spec/v1/models/sunburst_widget_legend_inline_automatic_spec.rb
  spec/v1/models/sunburst_widget_legend_inline_automatic_type_spec.rb
  spec/v1/models/sunburst_widget_legend_spec.rb
  spec/v1/models/sunburst_widget_legend_table_spec.rb
  spec/v1/models/sunburst_widget_legend_table_type_spec.rb
  spec/v1/models/sunburst_widget_request_spec.rb
Due: generated, generated-features

Regenerate client from commit 44311ae of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  docs/v1/README.md
  docs/v1/SunburstWidgetDefinition.md
  docs/v1/SunburstWidgetDefinitionType.md
  docs/v1/SunburstWidgetLegend.md
  docs/v1/SunburstWidgetLegendInlineAutomatic.md
  docs/v1/SunburstWidgetLegendInlineAutomaticType.md
  docs/v1/SunburstWidgetLegendTable.md
  docs/v1/SunburstWidgetLegendTableType.md
  docs/v1/SunburstWidgetRequest.md
  docs/v2/README.md
Due: none

Regenerate client from commit ee277b0 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/monitors/Create-a-ci-pipelines-monitor-returns-OK-response.yml
  docs/v1/MonitorsAPI.md
  features/v1/monitors.feature
  lib/datadog_api_client/v1/api/monitors_api.rb
  lib/datadog_api_client/v1/models/monitor_type.rb
Due: generated, generated-features

Regenerate client from commit 90bc255 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/UsageAuditLogsHour.md
  docs/v1/UsageCWSHour.md
  docs/v1/UsageCloudSecurityPostureManagementHour.md
  docs/v1/UsageDBMHour.md
  lib/datadog_api_client/v1/models/usage_audit_logs_hour.rb
  lib/datadog_api_client/v1/models/usage_cloud_security_posture_management_hour.rb
  lib/datadog_api_client/v1/models/usage_cws_hour.rb
  lib/datadog_api_client/v1/models/usage_dbm_hour.rb
Due: generated

Regenerate client from commit 4bb7a8e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/roles/Create-a-new-role-by-cloning-an-existing-role-returns-Bad-Request-response.yml
  cassettes/features/v2/roles/Create-a-new-role-by-cloning-an-existing-role-returns-Conflict-response.yml
  cassettes/features/v2/roles/Create-a-new-role-by-cloning-an-existing-role-returns-OK-response.yml
  docs/v2/README.md
  docs/v2/RoleClone.md
  docs/v2/RoleCloneAttributes.md
  docs/v2/RoleCloneRequest.md
  docs/v2/RolesAPI.md
  examples/v2/roles/CloneRole.rb
  features/v2/roles.feature
  features/v2/undo.json
  lib/datadog_api_client/v2.rb
  lib/datadog_api_client/v2/api/roles_api.rb
  lib/datadog_api_client/v2/models/role_clone.rb
  lib/datadog_api_client/v2/models/role_clone_attributes.rb
  lib/datadog_api_client/v2/models/role_clone_request.rb
  spec/v2/models/role_clone_attributes_spec.rb
  spec/v2/models/role_clone_request_spec.rb
  spec/v2/models/role_clone_spec.rb
Due: generated, generated-features

Regenerate client from commit 5d20dc6 of spec repo
  .apigentools-info
  docs/v2/RoleClone.md
  docs/v2/RoleCloneAttributes.md
  docs/v2/RoleCloneRequest.md
Due: none

Regenerate client from commit ef25063 of spec repo
  .apigentools-info
  docs/v2/RoleClone.md
  docs/v2/RoleCloneAttributes.md
  docs/v2/RoleCloneRequest.md
Due: none

Regenerate client from commit e61cc09 of spec repo
  .apigentools-info
  docs/v2/RoleClone.md
  docs/v2/RoleCloneAttributes.md
  docs/v2/RoleCloneRequest.md
Due: none

use time with ns precision
  features/support/hooks.rb
Due: none

Regenerate client from commit 0437aa6 of spec repo
  .apigentools-info
  docs/v2/RoleClone.md
  docs/v2/RoleCloneAttributes.md
  docs/v2/RoleCloneRequest.md
Due: none

Regenerate client from commit fa551a3 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/key_management/Create-an-Application-key-with-scopes-for-current-user-returns-Created-response.yml
  cassettes/features/v2/service_accounts/Create-an-application-key-with-scopes-for-this-service-account-returns-Created-response.yml
  docs/v2/ApplicationKeyCreateAttributes.md
  docs/v2/ApplicationKeyUpdateAttributes.md
  docs/v2/FullApplicationKeyAttributes.md
  docs/v2/KeyManagementAPI.md
  docs/v2/PartialApplicationKeyAttributes.md
  docs/v2/ServiceAccountsAPI.md
  examples/v2/key-management/CreateCurrentUserApplicationKey_3383369233.rb
  examples/v2/key-management/UpdateApplicationKey.rb
  examples/v2/key-management/UpdateCurrentUserApplicationKey.rb
  examples/v2/service-accounts/CreateServiceAccountApplicationKey_3480494373.rb
  examples/v2/service-accounts/UpdateServiceAccountApplicationKey_768415790.rb
  features/v2/key_management.feature
  features/v2/service_accounts.feature
  lib/datadog_api_client/v2/models/application_key_create_attributes.rb
  lib/datadog_api_client/v2/models/application_key_update_attributes.rb
  lib/datadog_api_client/v2/models/full_application_key_attributes.rb
  lib/datadog_api_client/v2/models/partial_application_key_attributes.rb
Due: generated, generated-features

tests: remove inspect
  features/step_definitions/request.rb
Due: none

Path conditions:
  generated: any of: ^lib/datadog_api_client/v[1-9].*
  generated-features: any of: ^features/v[1-9][0-9]*/.*.feature$
  licensed: any of: ^(.*.gemspec|Gemfile|.licensed.yml)$
