Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

generate unique uuid
  .generator/conftest.py
  cassettes/features/v1/azure_integration/Create-an-Azure-integration-returns-OK-response.yml
  examples/v1/azure-integration/CreateAzureIntegration.rb
  features/step_definitions/request.rb
  features/v1/azure_integration.feature
  features/v1/undo.json
Due: generate, format-examples

Regenerate client from commit 58625d67 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-OK-response.yml
  examples/v2/sensitive-data-scanner/CreateScanningRule.rb
  examples/v2/sensitive-data-scanner/UpdateScanningRule.rb
  features/v2/sensitive_data_scanner.feature
  lib/datadog_api_client/v2/models/sensitive_data_scanner_rule_attributes.rb
  lib/datadog_api_client/v2/models/sensitive_data_scanner_standard_pattern_attributes.rb
Due: generate, format-examples

Regenerate client from commit 493effcf of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/organization.rb
Due: generate

Regenerate client from commit 43a99a56 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-OK-response.yml
  examples/v2/sensitive-data-scanner/CreateScanningRule.rb
  examples/v2/sensitive-data-scanner/UpdateScanningRule.rb
  features/v2/sensitive_data_scanner.feature
  lib/datadog_api_client/v2/models/sensitive_data_scanner_rule_attributes.rb
  lib/datadog_api_client/v2/models/sensitive_data_scanner_standard_pattern_attributes.rb
Due: generate, format-examples

Regenerate client from commit fd0b0fcb of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/gcp_integration/Create-a-new-entry-for-your-service-account-with-cspm-enabled-returns-OK-response.frozen
  cassettes/features/v2/gcp_integration/Create-a-new-entry-for-your-service-account-with-cspm-enabled-returns-OK-response.yml
  cassettes/features/v2/gcp_integration/Create-a-new-entry-for-your-service-account-with-resource-collection-enabled-disabled-and-cspm-enabled-returns-Bad-Request-response.frozen
  cassettes/features/v2/gcp_integration/Create-a-new-entry-for-your-service-account-with-resource-collection-enabled-disabled-and-cspm-enabled-returns-Bad-Request-response.yml
  cassettes/features/v2/gcp_integration/Create-a-new-entry-for-your-service-account-with-resource-collection-enabled-returns-OK-response.frozen
  cassettes/features/v2/gcp_integration/Create-a-new-entry-for-your-service-account-with-resource-collection-enabled-returns-OK-response.yml
  cassettes/features/v2/gcp_integration/Create-a-new-entry-for-your-service-account-with-security-command-center-enabled-returns-OK-response.frozen
  cassettes/features/v2/gcp_integration/Create-a-new-entry-for-your-service-account-with-security-command-center-enabled-returns-OK-response.yml
  cassettes/features/v2/gcp_integration/Update-STS-Service-Account-returns-OK-response-with-enable-resource-collection-turned-on.frozen
  cassettes/features/v2/gcp_integration/Update-STS-Service-Account-returns-OK-response-with-enable-resource-collection-turned-on.yml
  examples/v1/gcp-integration/CreateGCPIntegration.rb
  examples/v1/gcp-integration/DeleteGCPIntegration.rb
  examples/v1/gcp-integration/UpdateGCPIntegration.rb
  examples/v2/gcp-integration/CreateGCPSTSAccount_130557025.rb
  examples/v2/gcp-integration/CreateGCPSTSAccount_2597004741.rb
  examples/v2/gcp-integration/CreateGCPSTSAccount_4235664992.rb
  examples/v2/gcp-integration/UpdateGCPSTSAccount_3205636354.rb
  features/v1/gcp_integration.feature
  features/v2/gcp_integration.feature
  lib/datadog_api_client/v1/models/gcp_account.rb
  lib/datadog_api_client/v2/models/gcpsts_service_account_attributes.rb
Due: generate, format-examples

use variable
  .generator/conftest.py
  features/step_definitions/request.rb
Due: generate

fix var use
  features/step_definitions/request.rb
Due: none

Regenerate client from commit cdc82e06 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/metrics_api.rb
Due: generate

Regenerate client from commit 56bcf717 of spec repo
  .apigentools-info
  cassettes/features/v2/gcp_integration/Create-a-new-entry-for-your-service-account-with-cspm-enabled-returns-OK-response.frozen
  cassettes/features/v2/gcp_integration/Create-a-new-entry-for-your-service-account-with-cspm-enabled-returns-OK-response.yml
  examples/v2/gcp-integration/CreateGCPSTSAccount_4235664992.rb
  features/v2/gcp_integration.feature
Due: format-examples

Update poetry lock file
  .generator/poetry.lock
Due: generate

Regenerate client from commit 358fd0af of spec repo
  .apigentools-info
  cassettes/features/v1/azure_integration/Create-an-Azure-integration-returns-OK-response.frozen
  cassettes/features/v1/azure_integration/Create-an-Azure-integration-returns-OK-response.yml
  features/v1/azure_integration.feature
Due: none

Regenerate client from commit 0285f23a of spec repo
  .apigentools-info
  cassettes/features/v1/azure_integration/Delete-an-Azure-integration-returns-OK-response.frozen
  cassettes/features/v1/azure_integration/Delete-an-Azure-integration-returns-OK-response.yml
  cassettes/features/v1/azure_integration/Update-an-Azure-integration-returns-OK-response.frozen
  cassettes/features/v1/azure_integration/Update-an-Azure-integration-returns-OK-response.yml
  examples/v1/azure-integration/DeleteAzureIntegration.rb
  examples/v1/azure-integration/UpdateAzureIntegration.rb
  features/v1/azure_integration.feature
  features/v1/given.json
Due: format-examples

Regenerate client from commit 118421b2 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Update poetry lock file (#1667)
  .generator/poetry.lock
Due: generate

Regenerate client from commit f363f7b4 of spec repo
  .apigentools-info
  cassettes/features/v1/azure_integration/Create-an-Azure-integration-returns-OK-response.frozen
  cassettes/features/v1/azure_integration/Create-an-Azure-integration-returns-OK-response.yml
  cassettes/features/v1/azure_integration/Delete-an-Azure-integration-returns-OK-response.frozen
  cassettes/features/v1/azure_integration/Delete-an-Azure-integration-returns-OK-response.yml
  cassettes/features/v1/azure_integration/Update-an-Azure-integration-returns-OK-response.frozen
  cassettes/features/v1/azure_integration/Update-an-Azure-integration-returns-OK-response.yml
  examples/v1/azure-integration/DeleteAzureIntegration.rb
  features/v1/azure_integration.feature
  features/v1/undo.json
Due: format-examples

Regenerate client from commit f9ad7ced of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/authn_mappings_api.rb
  lib/datadog_api_client/v2/api/incident_services_api.rb
  lib/datadog_api_client/v2/api/incident_teams_api.rb
  lib/datadog_api_client/v2/api/incidents_api.rb
  lib/datadog_api_client/v2/api/key_management_api.rb
  lib/datadog_api_client/v2/api/roles_api.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/api/service_accounts_api.rb
  lib/datadog_api_client/v2/api/service_definition_api.rb
  lib/datadog_api_client/v2/api/service_scorecards_api.rb
  lib/datadog_api_client/v2/api/teams_api.rb
  lib/datadog_api_client/v2/api/users_api.rb
Due: generate

Fix pattern handling
  .generator/src/generator/templates/model_generic.j2
Due: generate

Regenerate client from commit 1e75e401 of spec repo
  .apigentools-info
  cassettes/features/v1/gcp_integration/Create-a-GCP-integration-returns-OK-response.frozen
  cassettes/features/v1/gcp_integration/Create-a-GCP-integration-returns-OK-response.yml
  cassettes/features/v1/gcp_integration/Delete-a-GCP-integration-returns-OK-response.frozen
  cassettes/features/v1/gcp_integration/Delete-a-GCP-integration-returns-OK-response.yml
  cassettes/features/v1/gcp_integration/List-all-GCP-integrations-returns-OK-response.frozen
  cassettes/features/v1/gcp_integration/List-all-GCP-integrations-returns-OK-response.yml
  cassettes/features/v1/gcp_integration/Update-a-GCP-integration-returns-OK-response.frozen
  cassettes/features/v1/gcp_integration/Update-a-GCP-integration-returns-OK-response.yml
  examples/v1/gcp-integration/CreateGCPIntegration.rb
  examples/v1/gcp-integration/DeleteGCPIntegration.rb
  examples/v1/gcp-integration/UpdateGCPIntegration.rb
  features/v1/gcp_integration.feature
  features/v1/given.json
  features/v1/undo.json
Due: format-examples

Regenerate client from commit 0b5e5217 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-split-graph-widget-from-distribution-widget.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-split-graph-widget-from-distribution-widget.yml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-split-graph-widget.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-split-graph-widget.yml
  examples/v1/dashboards/CreateDashboard_2888440510.rb
  features/v1/dashboards.feature
  features/v1/dashboards_json_payload/split_graph_widget_distribution.json
  lib/datadog_api_client/v1/models/distribution_widget_request.rb
  lib/datadog_api_client/v1/models/split_graph_source_widget_definition.rb
Due: generate, format-examples

Regenerate client from commit 0ea19912 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/teams/CreateTeamMembership.rb
  features/v2/teams.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/relationship_to_user_team_team.rb
  lib/datadog_api_client/v2/models/relationship_to_user_team_team_data.rb
  lib/datadog_api_client/v2/models/user_team_attributes.rb
  lib/datadog_api_client/v2/models/user_team_team_type.rb
Due: generate, format-examples

Regenerate client from commit 61dc4c3e of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/monitors_api.rb
Due: generate

Regenerate client from commit 42c21a14 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/downtimes_api.rb
Due: generate

Regenerate client from commit 0c0f34f6 of spec repo
  .apigentools-info
  features/v1/azure_integration.feature
Due: none

Regenerate client from commit d5ac2418 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/downtimes/ListMonitorDowntimes_3316718253.rb
  features/scenarios_model_mapping.rb
  features/v2/downtimes.feature
  lib/datadog_api_client/v2/api/downtimes_api.rb
Due: generate, format-examples

Regenerate client from commit 08a40cb5 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/ci-visibility-pipelines/CreateCIAppPipelineEvent.rb
  examples/v2/ci-visibility-pipelines/CreateCIAppPipelineEvent_129899466.rb
  features/v2/ci_visibility_pipelines.feature
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/ci_visibility_pipelines_api.rb
Due: generate, format-examples

Regenerate client from commit 9fcd8e1e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/aws_cur_config_attributes.rb
  lib/datadog_api_client/v2/models/azure_uc_config.rb
Due: generate

Regenerate client from commit 9c078a68 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  features/v2/gcp_integration.feature
Due: generate

Regenerate client from commit b2d74fec of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/metrics_api.rb
Due: generate

Regenerate client from commit e7cfa56f of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Create-a-detection-rule-with-detection-method-third-party-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Create-a-detection-rule-with-detection-method-third-party-returns-OK-response.yml
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_3367706049.rb
  features/v2/security_monitoring.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_options.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_third_party_options.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_update_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_create_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_third_party_root_query.rb
  lib/datadog_api_client/v2/models/security_monitoring_third_party_rule_case.rb
  lib/datadog_api_client/v2/models/security_monitoring_third_party_rule_case_create.rb
Due: generate, format-examples

Regenerate client from commit 9cbf6566 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/service_level_objectives/Create-a-time-slice-SLO-object-returns-OK-response.frozen
  cassettes/features/v1/service_level_objectives/Create-a-time-slice-SLO-object-returns-OK-response.yml
  cassettes/features/v1/service_level_objectives/Create-an-SLO-object-returns-Bad-Request-response.frozen
  cassettes/features/v1/service_level_objectives/Create-an-SLO-object-returns-Bad-Request-response.yml
  cassettes/features/v1/service_level_objectives/Create-an-SLO-object-returns-OK-response.frozen
  cassettes/features/v1/service_level_objectives/Create-an-SLO-object-returns-OK-response.yml
  cassettes/features/v1/service_level_objectives/Delete-an-SLO-returns-Not-found-response.frozen
  cassettes/features/v1/service_level_objectives/Delete-an-SLO-returns-Not-found-response.yml
  cassettes/features/v1/service_level_objectives/Delete-an-SLO-returns-OK-response.frozen
  cassettes/features/v1/service_level_objectives/Delete-an-SLO-returns-OK-response.yml
  cassettes/features/v1/service_level_objectives/Get-Corrections-For-an-SLO-returns-OK-response.frozen
  cassettes/features/v1/service_level_objectives/Get-Corrections-For-an-SLO-returns-OK-response.yml
  cassettes/features/v1/service_level_objectives/Get-all-SLOs-returns-OK-response.frozen
  cassettes/features/v1/service_level_objectives/Get-all-SLOs-returns-OK-response.yml
  cassettes/features/v1/service_level_objectives/Get-an-SLO-s-details-returns-OK-response.frozen
  cassettes/features/v1/service_level_objectives/Get-an-SLO-s-details-returns-OK-response.yml
  cassettes/features/v1/service_level_objectives/Get-an-SLO-s-history-returns-OK-response.frozen
  cassettes/features/v1/service_level_objectives/Get-an-SLO-s-history-returns-OK-response.yml
  cassettes/features/v1/service_level_objectives/Update-an-SLO-returns-Bad-Request-response.frozen
  cassettes/features/v1/service_level_objectives/Update-an-SLO-returns-Bad-Request-response.yml
  cassettes/features/v1/service_level_objectives/Update-an-SLO-returns-OK-response.frozen
  cassettes/features/v1/service_level_objectives/Update-an-SLO-returns-OK-response.yml
  examples/v1/service-level-objectives/CreateSLO_3765703239.rb
  features/v1/service_level_objectives.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/service_level_objective.rb
  lib/datadog_api_client/v1/models/service_level_objective_request.rb
  lib/datadog_api_client/v1/models/slo_data_source_query_definition.rb
  lib/datadog_api_client/v1/models/slo_formula.rb
  lib/datadog_api_client/v1/models/slo_response_data.rb
  lib/datadog_api_client/v1/models/slo_sli_spec.rb
  lib/datadog_api_client/v1/models/slo_time_slice_comparator.rb
  lib/datadog_api_client/v1/models/slo_time_slice_condition.rb
  lib/datadog_api_client/v1/models/slo_time_slice_query.rb
  lib/datadog_api_client/v1/models/slo_time_slice_spec.rb
  lib/datadog_api_client/v1/models/slo_type.rb
Due: generate, format-examples

Regenerate client from commit bafcada7 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-OK-response.yml
  examples/v2/sensitive-data-scanner/CreateScanningRule.rb
  examples/v2/sensitive-data-scanner/UpdateScanningRule.rb
  features/v2/sensitive_data_scanner.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/sensitive_data_scanner_included_keyword_configuration.rb
  lib/datadog_api_client/v2/models/sensitive_data_scanner_rule_attributes.rb
Due: generate, format-examples

Regenerate client from commit 8b5aed97 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit 150ace98 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/cloudflare_integration/Add-Cloudflare-account-returns-Bad-Request-response-due-to-missing-email.frozen
  cassettes/features/v2/cloudflare_integration/Add-Cloudflare-account-returns-Bad-Request-response-due-to-missing-email.yml
  cassettes/features/v2/cloudflare_integration/Add-Cloudflare-account-returns-Bad-Request-response-using-invalid-auth-key.frozen
  cassettes/features/v2/cloudflare_integration/Add-Cloudflare-account-returns-CREATED-response-with-optional-filters.frozen
  cassettes/features/v2/cloudflare_integration/Add-Cloudflare-account-returns-CREATED-response-with-optional-filters.yml
  cassettes/features/v2/cloudflare_integration/Add-Cloudflare-account-returns-CREATED-response.frozen
  cassettes/features/v2/cloudflare_integration/Add-Cloudflare-account-returns-CREATED-response.yml
  cassettes/features/v2/cloudflare_integration/Get-Cloudflare-account-returns-OK-response.frozen
  cassettes/features/v2/cloudflare_integration/Get-Cloudflare-account-returns-OK-response.yml
  cassettes/features/v2/cloudflare_integration/List-Cloudflare-accounts-returns-OK-response.frozen
  cassettes/features/v2/cloudflare_integration/List-Cloudflare-accounts-returns-OK-response.yml
  cassettes/features/v2/cloudflare_integration/Update-Cloudflare-account-returns-Bad-Request-response-due-to-invalid-api-key.frozen
  cassettes/features/v2/cloudflare_integration/Update-Cloudflare-account-returns-Bad-Request-response-due-to-invalid-api-key.yml
  cassettes/features/v2/cloudflare_integration/Update-Cloudflare-account-returns-Bad-Request-response-due-to-missing-required-email.frozen
  cassettes/features/v2/cloudflare_integration/Update-Cloudflare-account-returns-Bad-Request-response-due-to-missing-required-email.yml
  cassettes/features/v2/cloudflare_integration/Update-Cloudflare-account-returns-OK-response.frozen
  cassettes/features/v2/cloudflare_integration/Update-Cloudflare-account-returns-OK-response.yml
  examples/v2/cloudflare-integration/CreateCloudflareAccount.rb
  examples/v2/cloudflare-integration/UpdateCloudflareAccount.rb
  features/v2/cloudflare_integration.feature
  features/v2/given.json
  lib/datadog_api_client/v2/models/cloudflare_account_create_request_attributes.rb
  lib/datadog_api_client/v2/models/cloudflare_account_response_attributes.rb
  lib/datadog_api_client/v2/models/cloudflare_account_update_request_attributes.rb
Due: generate, format-examples

Regenerate client from commit 71a576e0 of spec repo
  .apigentools-info
  cassettes/features/v2/sensitive_data_scanner/List-standard-patterns-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/List-standard-patterns-returns-OK-response.yml
  features/v2/sensitive_data_scanner.feature
Due: none

Regenerate client from commit 7c621566 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit ba6497ef of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate
