Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

Bump versions and add changelog entries.
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit c9a0775f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_billable_summary_body.rb
Due: generate

Regenerate client from commit 34529037 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/hourly_usage_attribution_usage_type.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_supported_metrics.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_values.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
  lib/datadog_api_client/v2/api/usage_metering_api.rb
Due: generate

Regenerate client from commit a11e9377 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_source_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_encoding.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_bytes.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_bytes_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_character_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_character_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_newline_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_newline_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_mode.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_bytes.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_bytes_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_character_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_character_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_chunked_gelf.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_chunked_gelf_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_newline_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_newline_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_octet_counting.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_octet_counting_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_mode.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_type.rb
Due: generate

Regenerate client from commit d7a08ce8 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/metrics_api.rb
Due: generate

Regenerate client from commit 5d86661b of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/synthetics_test_request.rb
  lib/datadog_api_client/v1/models/synthetics_test_request_dns_server_port.rb
Due: generate

Regenerate client from commit f1ae7720 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/synthetics_api.rb
Due: generate

Regenerate client from commit 949f90e2 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit 0ec5a2f3 of spec repo
  .apigentools-info
  features/v2/security_monitoring.feature
Due: none

Regenerate client from commit 51c17453 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/events/Post-an-event-returns-Bad-request-response.frozen
  cassettes/features/v2/events/Post-an-event-returns-Bad-request-response.yml
  cassettes/features/v2/events/Post-an-event-returns-OK-response.frozen
  cassettes/features/v2/events/Post-an-event-returns-OK-response.yml
  examples/v2/events/CreateEvent.rb
  features/v2/events.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/events_api.rb
  lib/datadog_api_client/v2/models/alert_event_custom_attributes.rb
  lib/datadog_api_client/v2/models/alert_event_custom_attributes_links_items.rb
  lib/datadog_api_client/v2/models/alert_event_custom_attributes_links_items_category.rb
  lib/datadog_api_client/v2/models/alert_event_custom_attributes_priority.rb
  lib/datadog_api_client/v2/models/alert_event_custom_attributes_status.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_author.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_changed_resource.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_changed_resource_type.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_impacted_resources_items.rb
  lib/datadog_api_client/v2/models/event_category.rb
  lib/datadog_api_client/v2/models/event_create_request.rb
  lib/datadog_api_client/v2/models/event_create_request_payload.rb
  lib/datadog_api_client/v2/models/event_create_response.rb
  lib/datadog_api_client/v2/models/event_create_response_attributes.rb
  lib/datadog_api_client/v2/models/event_create_response_attributes_attributes_evt.rb
  lib/datadog_api_client/v2/models/event_create_response_payload.rb
  lib/datadog_api_client/v2/models/event_create_response_payload_links.rb
  lib/datadog_api_client/v2/models/event_payload.rb
  lib/datadog_api_client/v2/models/event_payload_attributes.rb
  lib/datadog_api_client/v2/models/event_payload_integration_id.rb
Due: generate, format-examples

Regenerate client from commit 1a1ecd3d of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/rum_retention_filter_update_request.rb
Due: generate

Regenerate client from commit 7a1c2d1d of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/rum_retention_filter_update_request.rb
Due: generate

Regenerate client from commit 31044eb9 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/v2/incidents.feature
  lib/datadog_api_client/v2/models/incident_create_attributes.rb
  lib/datadog_api_client/v2/models/incident_response_attributes.rb
Due: generate

Regenerate client from commit c051b78b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/action_connection/Get-an-existing-App-Key-Registration-returns-Bad-request-response.frozen
  cassettes/features/v2/action_connection/Get-an-existing-App-Key-Registration-returns-Bad-request-response.yml
  cassettes/features/v2/action_connection/Get-an-existing-App-Key-Registration-returns-Not-found-response.frozen
  cassettes/features/v2/action_connection/Get-an-existing-App-Key-Registration-returns-Not-found-response.yml
  cassettes/features/v2/action_connection/Get-an-existing-App-Key-Registration-returns-OK-response.frozen
  cassettes/features/v2/action_connection/Get-an-existing-App-Key-Registration-returns-OK-response.yml
  cassettes/features/v2/action_connection/List-App-Key-Registrations-returns-OK-response.frozen
  cassettes/features/v2/action_connection/List-App-Key-Registrations-returns-OK-response.yml
  cassettes/features/v2/action_connection/Register-a-new-App-Key-returns-Bad-request-response.frozen
  cassettes/features/v2/action_connection/Register-a-new-App-Key-returns-Bad-request-response.yml
  cassettes/features/v2/action_connection/Register-a-new-App-Key-returns-Created-response.frozen
  cassettes/features/v2/action_connection/Register-a-new-App-Key-returns-Created-response.yml
  cassettes/features/v2/action_connection/Unregister-an-App-Key-returns-Bad-request-response.frozen
  cassettes/features/v2/action_connection/Unregister-an-App-Key-returns-Bad-request-response.yml
  cassettes/features/v2/action_connection/Unregister-an-App-Key-returns-Not-found-response.frozen
  cassettes/features/v2/action_connection/Unregister-an-App-Key-returns-Not-found-response.yml
  examples/v2/action-connection/GetAppKeyRegistration.rb
  examples/v2/action-connection/ListAppKeyRegistrations.rb
  examples/v2/action-connection/RegisterAppKey.rb
  examples/v2/action-connection/UnregisterAppKey.rb
  features/scenarios_model_mapping.rb
  features/v2/action_connection.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/action_connection_api.rb
  lib/datadog_api_client/v2/api/app_builder_api.rb
  lib/datadog_api_client/v2/api/workflow_automation_api.rb
  lib/datadog_api_client/v2/models/app_key_registration_data.rb
  lib/datadog_api_client/v2/models/app_key_registration_data_type.rb
  lib/datadog_api_client/v2/models/get_app_key_registration_response.rb
  lib/datadog_api_client/v2/models/list_app_key_registrations_response.rb
  lib/datadog_api_client/v2/models/list_app_key_registrations_response_meta.rb
  lib/datadog_api_client/v2/models/register_app_key_response.rb
Due: generate, format-examples

Regenerate client from commit 76086f13 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Run-a-historical-job-returns-Not-Found-response.frozen
  cassettes/features/v2/security_monitoring/Run-a-historical-job-returns-Not-Found-response.yml
  features/v2/security_monitoring.feature
  lib/datadog_api_client/v2/models/job_definition_from_rule.rb
Due: generate

Regenerate client from commit 3211ca1b of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/geomap_widget_definition_view.rb
Due: generate

Regenerate client from commit 092f4022 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  features/v1/synthetics.feature
  features/v1/synthetics_mobile_test_payload_missing_message.json
  lib/datadog_api_client/v1/models/synthetics_mobile_test.rb
Due: generate

Regenerate client from commit a435f1bd of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/logs-pipelines/CreateLogsPipeline_1248402480.rb
  examples/v1/logs-pipelines/CreateLogsPipeline_1267211320.rb
  examples/v1/logs-pipelines/CreateLogsPipeline_1271012410.rb
  examples/v1/logs-pipelines/CreateLogsPipeline_3314493032.rb
  examples/v1/logs-pipelines/CreateLogsPipeline_3934594739.rb
  features/v1/logs_pipelines.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/logs_array_processor.rb
  lib/datadog_api_client/v1/models/logs_array_processor_operation.rb
  lib/datadog_api_client/v1/models/logs_array_processor_operation_append.rb
  lib/datadog_api_client/v1/models/logs_array_processor_operation_append_type.rb
  lib/datadog_api_client/v1/models/logs_array_processor_operation_length.rb
  lib/datadog_api_client/v1/models/logs_array_processor_operation_length_type.rb
  lib/datadog_api_client/v1/models/logs_array_processor_operation_select.rb
  lib/datadog_api_client/v1/models/logs_array_processor_operation_select_type.rb
  lib/datadog_api_client/v1/models/logs_array_processor_type.rb
Due: generate, format-examples

Regenerate client from commit 81bebed1 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/CreateDashboard_1751391372.rb
  examples/v1/dashboards/CreatePublicDashboard_1668947073.rb
  examples/v1/dashboards/UpdatePublicDashboard_1708268778.rb
  features/v1/dashboards.feature
  lib/datadog_api_client/v1/models/dashboard_template_variable.rb
  lib/datadog_api_client/v1/models/selectable_template_variable_items.rb
Due: generate, format-examples

Regenerate client from commit 36849030 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/v2/api/metrics_api.rb
Due: generate

Regenerate client from commit be63084a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/synthetics_mobile_test.rb
Due: generate

Regenerate client from commit d8e7ee77 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-template-variable-type-field-returns-OK-response.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-template-variable-type-field-returns-OK-response.yml
  cassettes/features/v1/dashboards/Create-a-shared-dashboard-with-a-group-template-variable-returns-OK-response.frozen
  cassettes/features/v1/dashboards/Create-a-shared-dashboard-with-a-group-template-variable-returns-OK-response.yml
  cassettes/features/v1/dashboards/Update-a-shared-dashboard-with-selectable-template-vars-returns-OK-response.frozen
  cassettes/features/v1/dashboards/Update-a-shared-dashboard-with-selectable-template-vars-returns-OK-response.yml
  examples/v1/dashboards/CreateDashboard_1751391372.rb
  examples/v1/dashboards/CreatePublicDashboard_1668947073.rb
  examples/v1/dashboards/UpdatePublicDashboard_1708268778.rb
  features/v1/dashboards.feature
  lib/datadog_api_client/v1/models/dashboard_template_variable.rb
  lib/datadog_api_client/v1/models/selectable_template_variable_items.rb
Due: generate, format-examples

Regenerate client from commit 3ef55fc7 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_billable_summary_body.rb
Due: generate

Regenerate client from commit 1885e38d of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/hourly_usage_attribution_body.rb
  lib/datadog_api_client/v1/models/hourly_usage_attribution_usage_type.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_body.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_values.rb
Due: generate

Regenerate client from commit a05b5d62 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/metric_asset_attributes.rb
  lib/datadog_api_client/v2/models/metric_monitor_asset.rb
  lib/datadog_api_client/v2/models/metric_notebook_asset.rb
  lib/datadog_api_client/v2/models/metric_slo_asset.rb
Due: generate

Regenerate client from commit 4a51a6c3 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/logs_indexes_api.rb
Due: generate

Regenerate client from commit b431a9be of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/hosts_api.rb
Due: generate

Regenerate client from commit d731aad9 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_source_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_encoding.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_bytes.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_bytes_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_character_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_character_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_newline_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_newline_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_mode.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_bytes.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_bytes_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_character_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_character_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_chunked_gelf.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_chunked_gelf_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_newline_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_newline_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_octet_counting.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_octet_counting_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_mode.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_type.rb
Due: generate

Regenerate client from commit ab77d015 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/synthetics/Create-a-browser-test-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-a-browser-test-returns-OK-Returns-the-created-test-details-response.yml
  lib/datadog_api_client/v1/models/synthetics_step_type.rb
Due: generate

Regenerate client from commit 4fd1c189 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/synthetics/Search-Synthetic-tests-with-boolean-query-parameters.frozen
  cassettes/features/v1/synthetics/Search-Synthetic-tests-with-boolean-query-parameters.yml
  cassettes/features/v1/synthetics/Trigger-Synthetic-tests-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Trigger-Synthetic-tests-returns-OK-response.yml
  examples/v1/synthetics/SearchTests.rb
  examples/v1/synthetics/SearchTests_195957771.rb
  features/scenarios_model_mapping.rb
  features/v1/synthetics.feature
  features/v1/undo.json
  lib/datadog_api_client/v1/api/synthetics_api.rb
Due: generate, format-examples

Regenerate client from commit c552525a of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_destination_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_source_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_remap_vrl_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_remap_vrl_processor_remap.rb
  lib/datadog_api_client/v2/models/observability_pipeline_remap_vrl_processor_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_encoding.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_bytes.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_bytes_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_character_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_character_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_newline_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_newline_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_mode.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_bytes.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_bytes_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_character_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_character_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_chunked_gelf.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_chunked_gelf_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_newline_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_newline_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_octet_counting.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_octet_counting_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_mode.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_type.rb
Due: generate

Regenerate client from commit 324946ba of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/cloud_network_monitoring_api.rb
Due: generate

Regenerate client from commit 8e067fd1 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/synthetics_api.rb
Due: generate
