Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Regenerate client from commit 20014b8 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/team_routing_rules_request_rule.rb
Due: generate

Regenerate client from commit 7a16c20 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/databricks_integration_account_private_action_runner_auth_response.rb
Due: generate

Regenerate client from commit 8aeb78f of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/agent_observability_api.rb
  lib/datadog_api_client/v2/models/llm_obs_create_prompt_data_attributes.rb
  lib/datadog_api_client/v2/models/llm_obs_create_prompt_version_data_attributes.rb
  lib/datadog_api_client/v2/models/llm_obs_prompt_authoring_item.rb
  lib/datadog_api_client/v2/models/llm_obs_prompt_authoring_messages_template.rb
  lib/datadog_api_client/v2/models/llm_obs_prompt_include.rb
  lib/datadog_api_client/v2/models/llm_obs_prompt_include_item.rb
  lib/datadog_api_client/v2/models/llm_obs_prompt_version_data_attributes.rb
Due: generate

Regenerate client from commit 4147f43 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/team_notification_rule_attributes.rb
  lib/datadog_api_client/v2/models/team_notification_rule_attributes_service_now.rb
Due: generate

Revert "ci: trust datadog-api-spec ci-cd via Octo STS (#3828)" (#3853)
  .github/chainguard/datadog-api-spec.github.ci-cd.detect-client-changes.ddoghq.sts.yaml
  .github/chainguard/datadog-api-spec.github.ci-cd.detect-client-changes.sts.yaml
  .github/chainguard/datadog-api-spec.github.ci-cd.pipeline-generate.ddoghq.sts.yaml
  .github/chainguard/datadog-api-spec.github.ci-cd.pipeline-generate.sts.yaml
Due: none

Bump versions and add changelog entries.
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit 6271596 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/dashboard_usage_user.rb
Due: generate

Update portable compression steps
  features/step_definitions/request.rb
Due: none

Regenerate client from commit f3f929e of spec repo
  generated-test/test-server
Due: none

Regenerate client from commit d3abe21 of spec repo
  generated-test/test-server
Due: none

Support explicit compression selection
  features/step_definitions/request.rb
  features/support/test_runner.rb
Due: none

Support request compression test step
  features/step_definitions/request.rb
Due: none

Apply generated request compression
  features/support/test_runner.rb
Due: none

Revert generated compression replay runtime
  generated-test/test-server
Due: none

Regenerate client from commit 47b8a8c of spec repo
  features/v1/logs.feature
  features/v2/logs.feature
  generated-test/test-runner-data/manifest.json
  generated-test/test-runner-data/v1/logs/send-deflate-logs-returns-response-from-server-always-200-empty-json-response.json
  generated-test/test-runner-data/v1/logs/send-gzip-logs-returns-response-from-server-always-200-empty-json-response.json
  generated-test/test-runner-data/v2/logs/send-deflate-logs-returns-request-accepted-for-processing-always-202-empty-json-response.json
  generated-test/test-runner-data/v2/logs/send-gzip-logs-returns-request-accepted-for-processing-always-202-empty-json-response.json
  generated-test/test-server
  generated-test/test-server-data/v1/logs.json
  generated-test/test-server-data/v2/logs.json
Due: none

Regenerate client from commit 6d6f74d of spec repo
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/key_management_api.rb
  lib/datadog_api_client/v2/api/service_accounts_api.rb
  lib/datadog_api_client/v2/models/access_token_response_included_item.rb
  lib/datadog_api_client/v2/models/full_personal_access_token.rb
  lib/datadog_api_client/v2/models/full_personal_access_token_relationships.rb
  lib/datadog_api_client/v2/models/full_service_access_token.rb
  lib/datadog_api_client/v2/models/full_service_access_token_relationships.rb
  lib/datadog_api_client/v2/models/list_personal_access_tokens_response.rb
  lib/datadog_api_client/v2/models/list_service_access_tokens_response.rb
  lib/datadog_api_client/v2/models/personal_access_token_relationships.rb
  lib/datadog_api_client/v2/models/personal_access_token_response.rb
  lib/datadog_api_client/v2/models/personal_access_tokens_include_query_parameter_item.rb
  lib/datadog_api_client/v2/models/relationship_to_leaked_key.rb
  lib/datadog_api_client/v2/models/relationship_to_leaked_key_data.rb
  lib/datadog_api_client/v2/models/service_access_token_relationships.rb
  lib/datadog_api_client/v2/models/service_access_token_response.rb
  lib/datadog_api_client/v2/models/updated_personal_access_token.rb
  lib/datadog_api_client/v2/models/updated_personal_access_token_relationships.rb
  lib/datadog_api_client/v2/models/updated_personal_access_token_response.rb
  lib/datadog_api_client/v2/models/updated_service_access_token.rb
  lib/datadog_api_client/v2/models/updated_service_access_token_relationships.rb
  lib/datadog_api_client/v2/models/updated_service_access_token_response.rb
Due: generate

Revert generated compression replay runtime (#3867)
  generated-test/test-server
Due: none

Regenerate client from commit c27beef of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/bits_ai_api.rb
  lib/datadog_api_client/v2/models/general_investigation_attributes.rb
  lib/datadog_api_client/v2/models/general_investigation_attributes_with_time_bounds.rb
  lib/datadog_api_client/v2/models/general_investigation_attributes_without_time_bounds.rb
  lib/datadog_api_client/v2/models/general_investigation_trigger.rb
  lib/datadog_api_client/v2/models/general_investigation_trigger_type.rb
  lib/datadog_api_client/v2/models/monitor_alert_trigger.rb
  lib/datadog_api_client/v2/models/monitor_alert_trigger_type.rb
Due: generate

Regenerate client from commit 277d5fb of spec repo
  .generator/schemas/v2/openapi.yaml
  features/v2/customer_org.feature
  lib/datadog_api_client/v2/api/customer_org_api.rb
Due: generate

Regenerate client from commit adad45f of spec repo
  generated-test/test-server
Due: none

Regenerate client from commit c0ab7ee of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/teams_api.rb
Due: generate

Regenerate client from commit 68f4d25 of spec repo
  examples/v1/logs/SubmitLog_2329487120.rb
  examples/v1/logs/SubmitLog_348923381.rb
  examples/v2/logs/SubmitLog_1695361854.rb
  examples/v2/logs/SubmitLog_3804768803.rb
  features/v1/logs.feature
  features/v2/logs.feature
  generated-test/test-runner-data/manifest.json
  generated-test/test-runner-data/v1/logs/send-deflate-logs-with-explicit-compression-returns-response-from-server-always-200-empty-json-response.json
  generated-test/test-runner-data/v1/logs/send-gzip-logs-with-explicit-compression-returns-response-from-server-always-200-empty-json-response.json
  generated-test/test-runner-data/v2/logs/send-deflate-logs-with-explicit-compression-returns-request-accepted-for-processing-always-202-empty-json-response.json
  generated-test/test-runner-data/v2/logs/send-gzip-logs-with-explicit-compression-returns-request-accepted-for-processing-always-202-empty-json-response.json
  generated-test/test-server
  generated-test/test-server-data/v1/logs.json
  generated-test/test-server-data/v2/logs.json
Due: format-examples

Regenerate client from commit b200b79 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/teams_api.rb
Due: generate

Regenerate client from commit 84753a8 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/ddsql_api.rb
Due: generate

Regenerate client from commit a6113e5 of spec repo
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/key_management_api.rb
  lib/datadog_api_client/v2/api/service_accounts_api.rb
  lib/datadog_api_client/v2/models/access_token_response_included_item.rb
  lib/datadog_api_client/v2/models/full_personal_access_token.rb
  lib/datadog_api_client/v2/models/full_personal_access_token_relationships.rb
  lib/datadog_api_client/v2/models/full_service_access_token.rb
  lib/datadog_api_client/v2/models/full_service_access_token_relationships.rb
  lib/datadog_api_client/v2/models/list_personal_access_tokens_response.rb
  lib/datadog_api_client/v2/models/list_service_access_tokens_response.rb
  lib/datadog_api_client/v2/models/personal_access_token_relationships.rb
  lib/datadog_api_client/v2/models/personal_access_token_response.rb
  lib/datadog_api_client/v2/models/personal_access_tokens_include_query_parameter_item.rb
  lib/datadog_api_client/v2/models/relationship_to_leaked_key.rb
  lib/datadog_api_client/v2/models/relationship_to_leaked_key_data.rb
  lib/datadog_api_client/v2/models/service_access_token_relationships.rb
  lib/datadog_api_client/v2/models/service_access_token_response.rb
  lib/datadog_api_client/v2/models/updated_personal_access_token.rb
  lib/datadog_api_client/v2/models/updated_personal_access_token_relationships.rb
  lib/datadog_api_client/v2/models/updated_personal_access_token_response.rb
  lib/datadog_api_client/v2/models/updated_service_access_token.rb
  lib/datadog_api_client/v2/models/updated_service_access_token_relationships.rb
  lib/datadog_api_client/v2/models/updated_service_access_token_response.rb
Due: generate

Support request-only compression scenarios
  features/step_definitions/request.rb
  features/support/test_runner.rb
  generated-test/test-server
Due: none

Regenerate client from commit 4f0d635 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/reference_tables_api.rb
  lib/datadog_api_client/v2/models/batch_delete_rows_request_array.rb
  lib/datadog_api_client/v2/models/batch_upsert_rows_request_array.rb
Due: generate

Regenerate client from commit 3abbd2f of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/confluent_account_resource_attributes.rb
  lib/datadog_api_client/v2/models/confluent_resource_request_attributes.rb
  lib/datadog_api_client/v2/models/confluent_resource_response_attributes.rb
Due: generate

Regenerate client from commit 9565510 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/security_entity_risk_score_attributes.rb
Due: generate

Regenerate client from commit be68022 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/teams/ListTeams_3385988823.rb
  examples/v2/teams/ListTeams_3712027764.rb
  features/v2/teams.feature
  lib/datadog_api_client/v2/api/teams_api.rb
Due: generate, format-examples

Regenerate client from commit 13bcbe5 of spec repo
  examples/v1/logs/SubmitLog_2329487120.rb
  examples/v1/logs/SubmitLog_348923381.rb
  examples/v2/logs/SubmitLog_1695361854.rb
  examples/v2/logs/SubmitLog_3804768803.rb
  features/v1/logs.feature
  features/v2/logs.feature
  generated-test/test-runner-data/manifest.json
  generated-test/test-runner-data/v1/logs/send-deflate-logs-with-explicit-compression-returns-response-from-server-always-200-empty-json-response.json
  generated-test/test-runner-data/v1/logs/send-gzip-logs-with-explicit-compression-returns-response-from-server-always-200-empty-json-response.json
  generated-test/test-runner-data/v2/logs/send-deflate-logs-with-explicit-compression-returns-request-accepted-for-processing-always-202-empty-json-response.json
  generated-test/test-runner-data/v2/logs/send-gzip-logs-with-explicit-compression-returns-request-accepted-for-processing-always-202-empty-json-response.json
  generated-test/test-server-data/v1/logs.json
  generated-test/test-server-data/v2/logs.json
Due: format-examples

Regenerate client from commit 0f968e4 of spec repo
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateSyntheticsAPITest_1487281163.rb
  examples/v1/synthetics/CreateSyntheticsAPITest_1987645492.rb
  features/v1/given.json
  features/v1/synthetics.feature
  features/v1/synthetics_api_http_test_payload.json
  generated-test/test-runner-data/v1/synthetics/create-an-api-http-test-has-bodyhash-filled-out.json
  generated-test/test-runner-data/v1/synthetics/create-an-api-http-test-returns-ok-returns-the-created-test-details-response.json
  generated-test/test-server-data/v1/monitors.json
  generated-test/test-server-data/v1/synthetics.json
  lib/datadog_api_client/v1/models/synthetics_mobile_test_options.rb
  lib/datadog_api_client/v1/models/synthetics_test_options.rb
Due: generate, format-examples

Regenerate client from commit 87e810e of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/roles_api.rb
Due: generate

Regenerate client from commit 6092a64 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/GetEntityContextRecentlyUpdated.rb
  features/scenarios_model_mapping.rb
  features/v2/security_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/entity_context_entity_type.rb
  lib/datadog_api_client/v2/models/entity_context_revisions_mode.rb
  lib/datadog_api_client/v2/models/recently_updated_entities_response.rb
Due: generate, format-examples

Regenerate client from commit db13446 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/fleet-automation/GetFleetConfigFileSchemaV2.rb
  features/scenarios_model_mapping.rb
  features/v2/fleet_automation.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/fleet_automation_api.rb
  lib/datadog_api_client/v2/models/fleet_config_file_schema_v2.rb
  lib/datadog_api_client/v2/models/fleet_config_file_schema_v2_attributes.rb
  lib/datadog_api_client/v2/models/fleet_config_file_schema_v2_resource_type.rb
  lib/datadog_api_client/v2/models/fleet_config_file_schema_v2_response.rb
  lib/datadog_api_client/v2/models/fleet_config_file_schema_v2_response_data.rb
  lib/datadog_api_client/v2/models/fleet_integration_schema_detail_v2.rb
  lib/datadog_api_client/v2/models/fleet_integration_schema_detail_v2_attributes.rb
  lib/datadog_api_client/v2/models/fleet_integration_schema_file_spec_v2.rb
  lib/datadog_api_client/v2/models/fleet_integration_schema_spec_option_v2.rb
  lib/datadog_api_client/v2/models/fleet_integration_schema_spec_property_v2.rb
  lib/datadog_api_client/v2/models/fleet_integration_schema_spec_value_v2.rb
  lib/datadog_api_client/v2/models/fleet_integration_schema_v2_resource_type.rb
Due: generate, format-examples

Regenerate client from commit d0af611 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/rum-operations/DeleteRUMOperationStrongLink.rb
  examples/v2/rum-operations/UpdateRUMOperationStrongLink.rb
  features/scenarios_model_mapping.rb
  features/v2/rum_operations.feature
  lib/datadog_api_client/v2/api/rum_operations_api.rb
Due: generate, format-examples

Regenerate client from commit b73cb0b of spec repo
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateSyntheticsAPITest_1487281163.rb
  examples/v1/synthetics/CreateSyntheticsAPITest_1987645492.rb
  features/v1/given.json
  features/v1/synthetics.feature
  features/v1/synthetics_api_http_test_payload.json
  features/v2/product_analytics.feature
  generated-test/test-runner-data/v1/synthetics/create-an-api-http-test-has-bodyhash-filled-out.json
  generated-test/test-runner-data/v1/synthetics/create-an-api-http-test-returns-ok-returns-the-created-test-details-response.json
  generated-test/test-server-data/v1/monitors.json
  generated-test/test-server-data/v1/synthetics.json
  lib/datadog_api_client/v1/models/synthetics_mobile_test_options.rb
  lib/datadog_api_client/v1/models/synthetics_test_options.rb
Due: generate, format-examples

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
