Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

Regenerate client from commit 8ca2883 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Create-a-detection-rule-with-type-application-security-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Create-a-detection-rule-with-type-application-security-returns-OK-response.yml
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_1965169892.rb
  features/v2/security_monitoring.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_case_action_options.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_case_action_options_flagged_ip_type.rb
Due: generate, format-examples

Regenerate client from commit bd643af of spec repo
  .generated-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  features/v1/key_management.feature
  features/v2/key_management.feature
Due: generate

Regenerate client from commit 04d09cb of spec repo
  .generated-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/synthetics/Search-Synthetic-tests-with-boolean-query-parameters.frozen
  cassettes/features/v1/synthetics/Search-Synthetic-tests-with-boolean-query-parameters.yml
  examples/v1/synthetics/SearchTests_195957771.rb
  features/scenarios_model_mapping.rb
  features/v1/synthetics.feature
  lib/datadog_api_client/v1/api/synthetics_api.rb
Due: generate, format-examples

Regenerate client from commit 0d57a17 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_868881438.rb
  features/v2/security_monitoring.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/security_monitoring_scheduling_options.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_create_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_query.rb
Due: generate, format-examples

Regenerate client from commit 4727afe of spec repo
  .generated-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Decoder-Processor-returns-OK-response.frozen
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Decoder-Processor-returns-OK-response.yml
  examples/v1/logs-pipelines/CreateLogsPipeline_3336967838.rb
  features/v1/logs_pipelines.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/logs_decoder_processor.rb
  lib/datadog_api_client/v1/models/logs_decoder_processor_binary_to_text_encoding.rb
  lib/datadog_api_client/v1/models/logs_decoder_processor_input_representation.rb
  lib/datadog_api_client/v1/models/logs_decoder_processor_type.rb
  lib/datadog_api_client/v1/models/logs_processor.rb
Due: generate, format-examples

Regenerate client from commit 5b805e9 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_processor_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_source_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_custom_processor_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_custom_processor_processor_remap.rb
  lib/datadog_api_client/v2/models/observability_pipeline_custom_processor_processor_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_encoding.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_bytes.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_bytes_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_character_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_character_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_newline_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_newline_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_mode.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_bytes.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_bytes_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_character_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_character_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_chunked_gelf.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_chunked_gelf_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_newline_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_newline_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_octet_counting.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_octet_counting_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_mode.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_type.rb
Due: generate

Regenerate client from commit 49f3c32 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_destination_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_source_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_custom_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_custom_processor_remap.rb
  lib/datadog_api_client/v2/models/observability_pipeline_custom_processor_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_datadog_tags_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_datadog_tags_processor_action.rb
  lib/datadog_api_client/v2/models/observability_pipeline_datadog_tags_processor_mode.rb
  lib/datadog_api_client/v2/models/observability_pipeline_datadog_tags_processor_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_encoding.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_bytes.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_bytes_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_character_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_character_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_newline_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_newline_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_mode.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_bytes.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_bytes_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_character_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_character_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_chunked_gelf.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_chunked_gelf_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_newline_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_newline_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_octet_counting.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_octet_counting_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_mode.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_type.rb
Due: generate

Regenerate client from commit 2ccb7d3 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/restriction_policies_api.rb
Due: generate

Regenerate client from commit c065e87 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit c09ac23 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/metric_asset_attributes.rb
  lib/datadog_api_client/v2/models/metric_monitor_asset.rb
  lib/datadog_api_client/v2/models/metric_notebook_asset.rb
  lib/datadog_api_client/v2/models/metric_slo_asset.rb
Due: generate

Regenerate client from commit d51e9a8 of spec repo
  .generated-info
  features/v2/data_deletion.feature
Due: none

Regenerate client from commit e4f653f of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/datasets/UpdateDataset.rb
  features/scenarios_model_mapping.rb
  features/v2/datasets.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/datasets_api.rb
  lib/datadog_api_client/v2/models/dataset_create_request.rb
  lib/datadog_api_client/v2/models/dataset_response_single.rb
  lib/datadog_api_client/v2/models/dataset_update_request.rb
  lib/datadog_api_client/v2/models/filters_per_product.rb
Due: generate, format-examples

Regenerate client from commit ad677c6 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/metric_dashboard_attributes.rb
Due: generate

Regenerate client from commit 4c188c7 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/cloud_network_monitoring/Get-all-aggregated-DNS-traffic-returns-Bad-Request-response.frozen
  cassettes/features/v2/cloud_network_monitoring/Get-all-aggregated-DNS-traffic-returns-Bad-Request-response.yml
  cassettes/features/v2/cloud_network_monitoring/Get-all-aggregated-DNS-traffic-returns-OK-response.frozen
  cassettes/features/v2/cloud_network_monitoring/Get-all-aggregated-DNS-traffic-returns-OK-response.yml
  cassettes/features/v2/cloud_network_monitoring/Get-all-aggregated-connections-returns-Bad-Request-response.frozen
  examples/v2/cloud-network-monitoring/GetAggregatedDns.rb
  features/scenarios_model_mapping.rb
  features/v2/cloud_network_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/cloud_network_monitoring_api.rb
  lib/datadog_api_client/v2/models/dns_metric_key.rb
  lib/datadog_api_client/v2/models/single_aggregated_dns_response_array.rb
  lib/datadog_api_client/v2/models/single_aggregated_dns_response_data.rb
  lib/datadog_api_client/v2/models/single_aggregated_dns_response_data_attributes.rb
  lib/datadog_api_client/v2/models/single_aggregated_dns_response_data_attributes_group_by_items.rb
  lib/datadog_api_client/v2/models/single_aggregated_dns_response_data_attributes_metrics_items.rb
  lib/datadog_api_client/v2/models/single_aggregated_dns_response_data_type.rb
Due: generate, format-examples

Regenerate client from commit b737cc4 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/metric_dashboard_attributes.rb
Due: generate

Regenerate client from commit 0fe80dc of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/cloud_network_monitoring_api.rb
Due: generate

Regenerate client from commit df31e44 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/restriction_policies_api.rb
Due: generate

Regenerate client from commit 2f91666 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/cloud_network_monitoring/Get-all-aggregated-DNS-traffic-returns-Bad-Request-response.frozen
  cassettes/features/v2/cloud_network_monitoring/Get-all-aggregated-DNS-traffic-returns-Bad-Request-response.yml
  cassettes/features/v2/cloud_network_monitoring/Get-all-aggregated-DNS-traffic-returns-OK-response.frozen
  cassettes/features/v2/cloud_network_monitoring/Get-all-aggregated-DNS-traffic-returns-OK-response.yml
  cassettes/features/v2/cloud_network_monitoring/Get-all-aggregated-connections-returns-Bad-Request-response.frozen
  examples/v2/cloud-network-monitoring/GetAggregatedDns.rb
  features/scenarios_model_mapping.rb
  features/v2/cloud_network_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/cloud_network_monitoring_api.rb
  lib/datadog_api_client/v2/models/dns_metric_key.rb
  lib/datadog_api_client/v2/models/single_aggregated_dns_response_array.rb
  lib/datadog_api_client/v2/models/single_aggregated_dns_response_data.rb
  lib/datadog_api_client/v2/models/single_aggregated_dns_response_data_attributes.rb
  lib/datadog_api_client/v2/models/single_aggregated_dns_response_data_attributes_group_by_items.rb
  lib/datadog_api_client/v2/models/single_aggregated_dns_response_data_attributes_metrics_items.rb
  lib/datadog_api_client/v2/models/single_aggregated_dns_response_data_type.rb
Due: generate, format-examples

Regenerate client from commit 06ce285 of spec repo
  .generated-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/notebooks/CreateNotebook.rb
  examples/v1/notebooks/UpdateNotebook.rb
  features/v1/notebooks.feature
Due: generate, format-examples

Regenerate client from commit cdfbc6e of spec repo
  .generated-info
  features/v1/synthetics.feature
  features/v2/synthetics.feature
Due: none

Regenerate client from commit dcf594e of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
Due: generate

Regenerate client from commit c0579e7 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Create-a-scheduled-detection-rule-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Create-a-scheduled-detection-rule-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Create-a-scheduled-rule-without-rrule-returns-Bad-Request-response.frozen
  cassettes/features/v2/security_monitoring/Create-a-scheduled-rule-without-rrule-returns-Bad-Request-response.yml
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_868881438.rb
  features/v2/security_monitoring.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/security_monitoring_scheduling_options.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_create_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_query.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_response.rb
Due: generate, format-examples

Regenerate client from commit b14c9da of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/observability_pipeline_sample_processor.rb
Due: generate

Regenerate client from commit ab8171f of spec repo
  .generated-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/security_monitoring_api.rb
Due: generate

Regenerate client from commit 0f70319 of spec repo
  .generated-info
  features/v2/datasets.feature
Due: none

Regenerate client from commit 35630f3 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/restriction_policies_api.rb
Due: generate

Regenerate client from commit d3ddcfa of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_security_lake_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_security_lake_destination_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_destination_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_source_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_custom_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_custom_processor_remap.rb
  lib/datadog_api_client/v2/models/observability_pipeline_custom_processor_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_datadog_tags_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_datadog_tags_processor_action.rb
  lib/datadog_api_client/v2/models/observability_pipeline_datadog_tags_processor_mode.rb
  lib/datadog_api_client/v2/models/observability_pipeline_datadog_tags_processor_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_encoding.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_bytes.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_bytes_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_character_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_character_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_newline_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_newline_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_mode.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_bytes.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_bytes_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_character_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_character_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_chunked_gelf.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_chunked_gelf_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_newline_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_newline_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_octet_counting.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_octet_counting_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_mode.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_type.rb
Due: generate

Regenerate client from commit b308db8 of spec repo
  .generated-info
  features/v1/synthetics.feature
  features/v2/synthetics.feature
Due: none

Regenerate client from commit 1410a95 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 69305be of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/cloud_network_monitoring/Get-all-aggregated-DNS-traffic-returns-Bad-Request-response.frozen
  cassettes/features/v2/cloud_network_monitoring/Get-all-aggregated-DNS-traffic-returns-Bad-Request-response.yml
  cassettes/features/v2/cloud_network_monitoring/Get-all-aggregated-DNS-traffic-returns-OK-response.frozen
  cassettes/features/v2/cloud_network_monitoring/Get-all-aggregated-DNS-traffic-returns-OK-response.yml
  cassettes/features/v2/cloud_network_monitoring/Get-all-aggregated-connections-returns-Bad-Request-response.frozen
  examples/v2/cloud-network-monitoring/GetAggregatedDns.rb
  features/scenarios_model_mapping.rb
  features/v2/cloud_network_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/cloud_network_monitoring_api.rb
  lib/datadog_api_client/v2/models/dns_metric_key.rb
  lib/datadog_api_client/v2/models/single_aggregated_dns_response_array.rb
  lib/datadog_api_client/v2/models/single_aggregated_dns_response_data.rb
  lib/datadog_api_client/v2/models/single_aggregated_dns_response_data_attributes.rb
  lib/datadog_api_client/v2/models/single_aggregated_dns_response_data_attributes_group_by_items.rb
  lib/datadog_api_client/v2/models/single_aggregated_dns_response_data_attributes_metrics_items.rb
  lib/datadog_api_client/v2/models/single_aggregated_dns_response_data_type.rb
Due: generate, format-examples

Regenerate client from commit 2546358 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/teams/SyncTeams.rb
  examples/v2/teams/SyncTeams_3215592344.rb
  features/scenarios_model_mapping.rb
  features/v2/teams.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/teams_api.rb
  lib/datadog_api_client/v2/models/team_sync_attributes.rb
  lib/datadog_api_client/v2/models/team_sync_attributes_source.rb
  lib/datadog_api_client/v2/models/team_sync_attributes_type.rb
  lib/datadog_api_client/v2/models/team_sync_bulk_type.rb
  lib/datadog_api_client/v2/models/team_sync_data.rb
  lib/datadog_api_client/v2/models/team_sync_request.rb
Due: generate, format-examples

Regenerate client from commit 6e520c2 of spec repo
  .generated-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit 884871f of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/azure_storage_destination.rb
  lib/datadog_api_client/v2/models/microsoft_sentinel_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_open_search_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_buffer_options.rb
  lib/datadog_api_client/v2/models/observability_pipeline_buffer_options_disk_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_buffer_options_memory_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_datadog_logs_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_disk_buffer_options.rb
  lib/datadog_api_client/v2/models/observability_pipeline_elasticsearch_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_google_chronicle_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_google_cloud_storage_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_memory_buffer_options.rb
  lib/datadog_api_client/v2/models/observability_pipeline_memory_buffer_size_options.rb
  lib/datadog_api_client/v2/models/observability_pipeline_new_relic_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_rsyslog_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_sentinel_one_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_splunk_hec_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_sumo_logic_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_syslog_ng_destination.rb
Due: generate

Regenerate client from commit 3cfd0b6 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/action_connection_api.rb
  lib/datadog_api_client/v2/api/app_builder_api.rb
  lib/datadog_api_client/v2/api/workflow_automation_api.rb
Due: generate

Regenerate client from commit f391bf6 of spec repo
  .generated-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit a6f5281 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/rule_types_items.rb
Due: generate
