Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Regenerate client from commit f84ff920 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  features/v1/downtimes.feature
  features/v1/monitors.feature
  lib/datadog_api_client/v1/api/monitors_api.rb
Due: generate

Regenerate client from commit a739b49f of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Get-SBOM-returns-Not-found-asset-not-found-response.frozen
  cassettes/features/v2/security_monitoring/Get-SBOM-returns-Not-found-asset-not-found-response.yml
  cassettes/features/v2/security_monitoring/Get-SBOM-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Get-SBOM-returns-OK-response.yml
  examples/v2/security-monitoring/GetSBOM.rb
  features/v2/security_monitoring.feature
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
Due: generate, format-examples

Regenerate client from commit 08213d1b of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/column_order_object.rb
  lib/datadog_api_client/v1/models/column_order_object_order.rb
  lib/datadog_api_client/v1/models/column_order_object_type.rb
  lib/datadog_api_client/v1/models/column_sort_object.rb
  lib/datadog_api_client/v1/models/query_value_widget_request.rb
Due: generate

Regenerate client from commit a53764f3 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/synthetics_ci_test_body.rb
  lib/datadog_api_client/v1/models/synthetics_trigger_body.rb
Due: generate

Regenerate client from commit 0e00b9fc of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-timeseries-widget-with-custom-unit.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-timeseries-widget-with-custom-unit.yml
  examples/v1/dashboards/CreateDashboard_3520534424.rb
  features/v1/dashboards.feature
  features/v1/dashboards_json_payload/timeseries_widget_with_custom_unit.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/number_format_unit.rb
  lib/datadog_api_client/v1/models/number_format_unit_canonical.rb
  lib/datadog_api_client/v1/models/number_format_unit_custom.rb
  lib/datadog_api_client/v1/models/number_format_unit_custom_type.rb
  lib/datadog_api_client/v1/models/number_format_unit_scale.rb
  lib/datadog_api_client/v1/models/number_format_unit_scale_type.rb
  lib/datadog_api_client/v1/models/widget_number_format.rb
Due: generate, format-examples

Regenerate client from commit f9205865 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/monitor.rb
Due: generate

Regenerate client from commit 66bd9a6a of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/application-security/CreateApplicationSecurityExclusionFilter.rb
  examples/v2/application-security/DeleteApplicationSecurityExclusionFilter.rb
  examples/v2/application-security/GetApplicationSecurityExclusionFilter.rb
  examples/v2/application-security/ListApplicationSecurityExclusionFilters.rb
  examples/v2/application-security/UpdateApplicationSecurityExclusionFilter.rb
  features/scenarios_model_mapping.rb
  features/v2/application_security.feature
  features/v2/given.json
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/application_security_api.rb
  lib/datadog_api_client/v2/models/application_security_exclusion_filter_attributes.rb
  lib/datadog_api_client/v2/models/application_security_exclusion_filter_metadata.rb
  lib/datadog_api_client/v2/models/application_security_exclusion_filter_on_match.rb
  lib/datadog_api_client/v2/models/application_security_exclusion_filter_request.rb
  lib/datadog_api_client/v2/models/application_security_exclusion_filter_resource.rb
  lib/datadog_api_client/v2/models/application_security_exclusion_filter_response.rb
  lib/datadog_api_client/v2/models/application_security_exclusion_filter_rules_target.rb
  lib/datadog_api_client/v2/models/application_security_exclusion_filter_rules_target_tags.rb
  lib/datadog_api_client/v2/models/application_security_exclusion_filter_scope.rb
  lib/datadog_api_client/v2/models/application_security_exclusion_filter_type.rb
  lib/datadog_api_client/v2/models/application_security_exclusion_filters_response.rb
Due: generate, format-examples

Regenerate client from commit 2c5ddefc of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/v2/cloud_cost_management.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/cloud_cost_management_api.rb
  lib/datadog_api_client/v2/models/account_filtering_config.rb
  lib/datadog_api_client/v2/models/aws_cur_config_attributes.rb
  lib/datadog_api_client/v2/models/aws_cur_config_post_request_attributes.rb
Due: generate

Regenerate client from commit c8707cdc of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/metric_bulk_tag_config_create_attributes.rb
Due: generate

Regenerate client from commit 98988fd6 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/software-catalog/UpsertCatalogEntity.rb
  features/v2/okta_integration.feature
  features/v2/software_catalog.feature
Due: generate, format-examples

Regenerate client from commit f57f6771 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/api_management_api.rb
Due: generate

Regenerate client from commit caeb020e of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-query-table-widget-and-cell-display-mode-is-trend.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-query-table-widget-and-cell-display-mode-is-trend.yml
  examples/v1/dashboards/CreateDashboard_1490099434.rb
  features/v1/dashboards.feature
  features/v1/dashboards_json_payload/query_table_widget_cell_display_mode_trend.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/widget_formula.rb
  lib/datadog_api_client/v1/models/widget_formula_cell_display_mode_options.rb
  lib/datadog_api_client/v1/models/widget_formula_cell_display_mode_options_trend_type.rb
  lib/datadog_api_client/v1/models/widget_formula_cell_display_mode_options_y_scale.rb
Due: generate, format-examples

Regenerate client from commit f0e5fdcf of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/v2/cloud_cost_management.feature
Due: generate

Regenerate client from commit c64543d0 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-timeseries-widget-with-custom-unit.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-timeseries-widget-with-custom-unit.yml
  examples/v1/dashboards/CreateDashboard_3520534424.rb
  features/v1/dashboards.feature
  features/v1/dashboards_json_payload/timeseries_widget_with_custom_unit.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/number_format_unit.rb
  lib/datadog_api_client/v1/models/number_format_unit_canonical.rb
  lib/datadog_api_client/v1/models/number_format_unit_custom.rb
  lib/datadog_api_client/v1/models/number_format_unit_custom_type.rb
  lib/datadog_api_client/v1/models/number_format_unit_scale.rb
  lib/datadog_api_client/v1/models/number_format_unit_scale_type.rb
  lib/datadog_api_client/v1/models/widget_number_format.rb
Due: generate, format-examples

Regenerate client from commit e6580fc7 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/synthetics_ci_test_body.rb
  lib/datadog_api_client/v1/models/synthetics_trigger_body.rb
Due: generate

Regenerate client from commit d3fcdb89 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/v2/cloud_cost_management.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/cloud_cost_management_api.rb
  lib/datadog_api_client/v2/models/account_filtering_config.rb
  lib/datadog_api_client/v2/models/aws_cur_config_attributes.rb
  lib/datadog_api_client/v2/models/aws_cur_config_post_request_attributes.rb
Due: generate

Regenerate client from commit 8f2d39c3 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-query-table-widget-and-cell-display-mode-is-trend.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-query-table-widget-and-cell-display-mode-is-trend.yml
  examples/v1/dashboards/CreateDashboard_1490099434.rb
  features/v1/dashboards.feature
  features/v1/dashboards_json_payload/query_table_widget_cell_display_mode_trend.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/widget_formula.rb
  lib/datadog_api_client/v1/models/widget_formula_cell_display_mode_options.rb
  lib/datadog_api_client/v1/models/widget_formula_cell_display_mode_options_trend_type.rb
  lib/datadog_api_client/v1/models/widget_formula_cell_display_mode_options_y_scale.rb
Due: generate, format-examples

Regenerate client from commit 647adc7a of spec repo
  .apigentools-info
  cassettes/features/v2/security_monitoring/Create-a-detection-rule-with-detection-method-third-party-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Get-rule-version-history-returns-OK-response.yml
Due: none

Regenerate client from commit 5de91bd6 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Span-Id-Remapper-returns-OK-response.frozen
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Span-Id-Remapper-returns-OK-response.yml
  examples/v1/logs-pipelines/CreateLogsPipeline_2707101123.rb
  features/v1/logs_pipelines.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/logs_processor.rb
  lib/datadog_api_client/v1/models/logs_span_remapper.rb
  lib/datadog_api_client/v1/models/logs_span_remapper_type.rb
Due: generate, format-examples

Regenerate client from commit 47fc5add of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/security_monitoring_rule_evaluation_window.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_keep_alive.rb
Due: generate

Regenerate client from commit 1cf59d26 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  features/v1/dashboards.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/shared_dashboard.rb
  lib/datadog_api_client/v1/models/shared_dashboard_invitees_items.rb
  lib/datadog_api_client/v1/models/shared_dashboard_status.rb
  lib/datadog_api_client/v1/models/shared_dashboard_update_request.rb
  lib/datadog_api_client/v1/models/viewing_preferences.rb
  lib/datadog_api_client/v1/models/viewing_preferences_theme.rb
Due: generate

Regenerate client from commit c3772a85 of spec repo
  .apigentools-info
  cassettes/features/v2/security_monitoring/Create-a-detection-rule-with-detection-method-third-party-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Get-rule-version-history-returns-OK-response.yml
Due: none

Regenerate client from commit b34a35ef of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/synthetics_ci_test_body.rb
  lib/datadog_api_client/v1/models/synthetics_trigger_body.rb
Due: generate

Regenerate client from commit b5659b74 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  features/v1/monitors.feature
  lib/datadog_api_client/v1/models/monitor_options_scheduling_options_evaluation_window.rb
Due: generate

Regenerate client from commit 7b09d7dd of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  features/v1/dashboards.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/shared_dashboard.rb
  lib/datadog_api_client/v1/models/shared_dashboard_invitees_items.rb
  lib/datadog_api_client/v1/models/shared_dashboard_status.rb
  lib/datadog_api_client/v1/models/shared_dashboard_update_request.rb
  lib/datadog_api_client/v1/models/viewing_preferences.rb
  lib/datadog_api_client/v1/models/viewing_preferences_theme.rb
Due: generate

Regenerate client from commit e04872fb of spec repo
  .apigentools-info
  cassettes/features/v2/security_monitoring/Convert-an-existing-rule-from-JSON-to-Terraform-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Convert-an-existing-rule-from-JSON-to-Terraform-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Create-a-detection-rule-with-detection-method-third-party-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Create-a-detection-rule-with-detection-method-third-party-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Get-a-job-s-details-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Get-a-job-s-details-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Get-rule-version-history-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Get-rule-version-history-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/List-historical-jobs-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/List-historical-jobs-returns-OK-response.yml
Due: none

Regenerate client from commit 35f2099e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_new_value_options.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_new_value_options_forget_after.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_new_value_options_learning_duration.rb
Due: generate

Regenerate client from commit 91ac2533 of spec repo
  .apigentools-info
  cassettes/features/v2/security_monitoring/Convert-an-existing-rule-from-JSON-to-Terraform-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Convert-an-existing-rule-from-JSON-to-Terraform-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Create-a-detection-rule-with-detection-method-third-party-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Create-a-detection-rule-with-detection-method-third-party-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Get-a-job-s-details-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Get-a-job-s-details-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Get-rule-version-history-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Get-rule-version-history-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/List-historical-jobs-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/List-historical-jobs-returns-OK-response.yml
Due: none

Regenerate client from commit 240ec82d of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/synthetics/Create-a-FIDO-global-variable-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Create-a-FIDO-global-variable-returns-OK-response.yml
  cassettes/features/v1/synthetics/Create-a-TOTP-global-variable-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Create-a-TOTP-global-variable-returns-OK-response.yml
  cassettes/features/v1/synthetics/Create-a-global-variable-from-test-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Create-a-global-variable-from-test-returns-OK-response.yml
  cassettes/features/v1/synthetics/Create-an-API-test-with-multi-subtype-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-test-with-multi-subtype-returns-OK-Returns-the-created-test-details-response.yml
  examples/v1/synthetics/CreateSyntheticsAPITest_1279271422.rb
  features/v1/given.json
  features/v1/synthetics.feature
  features/v1/synthetics_api_test_multi_step_payload.json
  lib/datadog_api_client/v1/models/synthetics_api_test_step.rb
Due: generate, format-examples

Regenerate client from commit 080a4b75 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/synthetics_api.rb
Due: generate

Regenerate client from commit a1563afb of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/v2/api/incidents_api.rb
Due: generate

Regenerate client from commit 0b2e3d20 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/ListVulnerabilities.rb
  examples/v2/security-monitoring/ListVulnerableAssets.rb
  features/v2/security_monitoring.feature
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
Due: generate, format-examples

Regenerate client from commit 59e6a448 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  features/v1/monitors.feature
  lib/datadog_api_client/v1/models/monitor_options_scheduling_options_evaluation_window.rb
Due: generate

Regenerate client from commit 5814c88e of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/event_create_request.rb
Due: generate

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
