Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

Regenerate client from commit 44f37c4 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/formula_and_function_events_data_source.rb
Due: generate

Regenerate client from commit 4ac086a of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/key_management_api.rb
Due: generate

Regenerate client from commit 6dd1df0 of spec repo
  features/v2/key_management.feature
  features/v2/service_accounts.feature
Due: none

Regenerate client from commit 57c8bdd of spec repo
  features/v1/hosts.feature
  features/v1/tags.feature
Due: none

Regenerate client from commit 38754ea of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/monitors_api.rb
Due: generate

Regenerate client from commit d125f6f of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/list_stream_issue_persona.rb
  lib/datadog_api_client/v1/models/list_stream_issue_state.rb
  lib/datadog_api_client/v1/models/list_stream_query.rb
  lib/datadog_api_client/v1/models/list_stream_source.rb
Due: generate

Regenerate client from commit c9c6996 of spec repo
  features/v1/usage_metering.feature
  features/v2/usage_metering.feature
Due: none

Regenerate client from commit 9c21fc2 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit 94cb0f4 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/synthetics_basic_auth.rb
  lib/datadog_api_client/v1/models/synthetics_basic_auth_jwt.rb
  lib/datadog_api_client/v1/models/synthetics_basic_auth_jwt_add_claims.rb
  lib/datadog_api_client/v1/models/synthetics_basic_auth_jwt_algorithm.rb
  lib/datadog_api_client/v1/models/synthetics_basic_auth_jwt_type.rb
Due: generate

Regenerate client from commit 948302c of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/service_level_objective_corrections/Create-an-SLO-correction-with-slo-query-returns-OK-response.frozen
  cassettes/features/v1/service_level_objective_corrections/Create-an-SLO-correction-with-slo-query-returns-OK-response.yml
  cassettes/features/v1/service_level_objective_corrections/Update-an-SLO-correction-with-slo-query-returns-OK-response.frozen
  cassettes/features/v1/service_level_objective_corrections/Update-an-SLO-correction-with-slo-query-returns-OK-response.yml
  examples/v1/service-level-objective-corrections/CreateSLOCorrection_2888963657.rb
  examples/v1/service-level-objective-corrections/UpdateSLOCorrection_2949191256.rb
  features/v1/given.json
  features/v1/service_level_objective_corrections.feature
  lib/datadog_api_client/v1/api/service_level_objective_corrections_api.rb
  lib/datadog_api_client/v1/models/slo_correction_create_data.rb
  lib/datadog_api_client/v1/models/slo_correction_create_request.rb
  lib/datadog_api_client/v1/models/slo_correction_create_request_attributes.rb
  lib/datadog_api_client/v1/models/slo_correction_response_attributes.rb
  lib/datadog_api_client/v1/models/slo_correction_update_request_attributes.rb
Due: generate, format-examples
