Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

generated-features:
  name: Do not commit generated feature files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

Regenerate client from commit 166fecc of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/UsageLogsHour.md
  docs/v1/UsageSummaryResponse.md
  lib/datadog_api_client/v1/models/usage_logs_hour.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generated

Regenerate client from commit 426d7a0 of spec repo
  .apigentools-info
  features/v1/aws_integration.feature
  features/v1/aws_logs_integration.feature
  features/v1/azure_integration.feature
  features/v1/dashboard_lists.feature
  features/v1/dashboards.feature
  features/v1/downtimes.feature
  features/v1/events.feature
  features/v1/gcp_integration.feature
  features/v1/hosts.feature
  features/v1/key_management.feature
  features/v1/logs.feature
  features/v1/logs_indexes.feature
  features/v1/logs_pipelines.feature
  features/v1/metrics.feature
  features/v1/monitors.feature
  features/v1/organizations.feature
  features/v1/pagerduty_integration.feature
  features/v1/service_level_objectives.feature
  features/v1/snapshots.feature
  features/v1/synthetics.feature
  features/v1/tags.feature
  features/v1/usage_metering.feature
  features/v1/users.feature
  features/v2/dashboard_lists.feature
  features/v2/incident_services.feature
  features/v2/incident_teams.feature
  features/v2/incidents.feature
  features/v2/key_management.feature
  features/v2/logs.feature
  features/v2/logs_archives.feature
  features/v2/logs_metrics.feature
  features/v2/processes.feature
  features/v2/roles.feature
  features/v2/security_monitoring.feature
  features/v2/users.feature
Due: generated-features

Regenerate client from commit 2a64634 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/ServiceLevelObjectiveCorrectionsApi.md
  features/v1/service_level_objective_corrections.feature
  lib/datadog_api_client/v1/configuration.rb
Due: generated, generated-features

Update changelogé
  CHANGELOG.md
  RELEASING.md
Due: none

Bump datadog_api_client to 1.0.0.beta.2
  lib/datadog_api_client/version.rb
Due: none

release 1.0.0.beta.2 (#163)
  CHANGELOG.md
  RELEASING.md
  lib/datadog_api_client/version.rb
Due: none

start beta3 release cycle
  lib/datadog_api_client/version.rb
Due: none

start beta3 release cycle (#164)
  lib/datadog_api_client/version.rb
Due: none

Regenerate client from commit e3f8200 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
Due: none

Regenerate client from commit c6482d5 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  data/v2/openapi.yaml
  docs/v1/SyntheticsStep.md
  docs/v1/SyntheticsTriggerCITestsResponseLocations.md
  docs/v1/SyntheticsTriggerCITestsResponseResults.md
  lib/datadog_api_client/v1/models/synthetics_step.rb
  lib/datadog_api_client/v1/models/synthetics_trigger_ci_tests_response_locations.rb
  lib/datadog_api_client/v1/models/synthetics_trigger_ci_tests_response_results.rb
Due: generated

Regenerate client from commit 64464cb of spec repo
  .apigentools-info
  data/v2/openapi.yaml
Due: none

Regenerate client from commit 8b601c0 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/LogsIndex.md
  docs/v1/LogsIndexesApi.md
  docs/v1/README.md
  features/v1/logs_indexes.feature
  features/v1/undo.json
  lib/datadog_api_client/v1/api/logs_indexes_api.rb
  lib/datadog_api_client/v1/configuration.rb
  lib/datadog_api_client/v1/models/logs_index.rb
Due: generated, generated-features

Regenerate client from commit a6eb4d9 of spec repo
  .apigentools-info
  data/v2/openapi.yaml
  docs/v2/LogsMetricResponseCompute.md
  docs/v2/LogsMetricResponseFilter.md
  docs/v2/LogsMetricResponseGroupBy.md
Due: none

Regenerate client from commit a46429c of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  features/v1/logs.feature
Due: generated-features

Regenerate client from commit e264b45 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/SLOCorrectionCreateRequestAttributes.md
  docs/v1/SLOCorrectionResponseAttributes.md
  docs/v1/SLOCorrectionUpdateRequestAttributes.md
  lib/datadog_api_client/v1/models/slo_correction_create_request_attributes.rb
  lib/datadog_api_client/v1/models/slo_correction_response_attributes.rb
  lib/datadog_api_client/v1/models/slo_correction_update_request_attributes.rb
Due: generated

Regenerate client from commit 86f6ca7 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  data/v2/openapi.yaml
  lib/datadog_api_client/v1/configuration.rb
  lib/datadog_api_client/v2/configuration.rb
Due: generated

Regenerate client from commit 7f36d9f of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  data/v2/openapi.yaml
  features/v1/dashboard_lists.feature
  features/v1/key_management.feature
  features/v1/logs.feature
  features/v1/users.feature
  features/v2/dashboard_lists.feature
  features/v2/key_management.feature
  features/v2/logs.feature
  features/v2/users.feature
Due: generated-features

Regenerate client from commit 124ea47 of spec repo
  .apigentools-info
  docs/v1/AWSIntegrationApi.md
  docs/v1/AWSLogsIntegrationApi.md
  docs/v1/AuthenticationApi.md
  docs/v1/AzureIntegrationApi.md
  docs/v1/DashboardListsApi.md
  docs/v1/DashboardsApi.md
  docs/v1/DowntimesApi.md
  docs/v1/EventsApi.md
  docs/v1/GCPIntegrationApi.md
  docs/v1/HostsApi.md
  docs/v1/KeyManagementApi.md
  docs/v1/LogsApi.md
  docs/v1/LogsIndexesApi.md
  docs/v1/LogsPipelinesApi.md
  docs/v1/MetricsApi.md
  docs/v1/MonitorsApi.md
  docs/v1/OrganizationsApi.md
  docs/v1/PagerDutyIntegrationApi.md
  docs/v1/README.md
  docs/v1/ServiceLevelObjectiveCorrectionsApi.md
  docs/v1/ServiceLevelObjectivesApi.md
  docs/v1/SnapshotsApi.md
  docs/v1/SyntheticsApi.md
  docs/v1/TagsApi.md
  docs/v1/UsageMeteringApi.md
  docs/v1/UsersApi.md
  docs/v2/DashboardListsApi.md
  docs/v2/IncidentServicesApi.md
  docs/v2/IncidentTeamsApi.md
  docs/v2/IncidentsApi.md
  docs/v2/KeyManagementApi.md
  docs/v2/LogsApi.md
  docs/v2/LogsArchivesApi.md
  docs/v2/LogsMetricsApi.md
  docs/v2/ProcessesApi.md
  docs/v2/README.md
  docs/v2/RolesApi.md
  docs/v2/SecurityMonitoringApi.md
  docs/v2/UsersApi.md
Due: none

Regenerate client from commit f968460 of spec repo
  .apigentools-info
Due: none

Regenerate client from commit e03ef04 of spec repo
  .apigentools-info
  features/v1/aws_integration.feature
  features/v1/aws_logs_integration.feature
  features/v1/azure_integration.feature
  features/v1/dashboard_lists.feature
  features/v1/dashboards.feature
  features/v1/downtimes.feature
  features/v1/events.feature
  features/v1/gcp_integration.feature
  features/v1/hosts.feature
  features/v1/key_management.feature
  features/v1/logs.feature
  features/v1/logs_indexes.feature
  features/v1/logs_pipelines.feature
  features/v1/metrics.feature
  features/v1/monitors.feature
  features/v1/organizations.feature
  features/v1/pagerduty_integration.feature
  features/v1/service_level_objective_corrections.feature
  features/v1/service_level_objectives.feature
  features/v1/snapshots.feature
  features/v1/synthetics.feature
  features/v1/tags.feature
  features/v1/usage_metering.feature
  features/v1/users.feature
  features/v2/dashboard_lists.feature
  features/v2/incident_services.feature
  features/v2/incident_teams.feature
  features/v2/incidents.feature
  features/v2/key_management.feature
  features/v2/logs.feature
  features/v2/logs_archives.feature
  features/v2/logs_metrics.feature
  features/v2/processes.feature
  features/v2/roles.feature
  features/v2/security_monitoring.feature
  features/v2/users.feature
Due: generated-features

Regenerate client from commit 0c67e7b of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  lib/datadog_api_client/v1/models/widget_time_windows.rb
Due: generated

Update env.rb
  features/support/env.rb
Due: none

Update spec_helper.rb
  spec/spec_helper.rb
Due: none

tests: remove hardcoded service name (#178)
  features/support/env.rb
  spec/spec_helper.rb
Due: none

[logs][v2][aggregate] fix aggregate paging name
  .apigentools-info
  .openapi-generator/FILES
  data/v2/openapi.yaml
  docs/v2/LogsAggregateRequest.md
  docs/v2/LogsAggregateRequestPage.md
  docs/v2/LogsAggregateRequestPaging.md
  docs/v2/README.md
  lib/datadog_api_client/v2.rb
  lib/datadog_api_client/v2/models/logs_aggregate_request.rb
  lib/datadog_api_client/v2/models/logs_aggregate_request_page.rb
  spec/v2/models/logs_aggregate_request_page_spec.rb
Due: generated

update
  .apigentools-info
Due: none

fix
  lib/datadog_api_client/v2.rb
  lib/datadog_api_client/v2/models/logs_aggregate_request.rb
  lib/datadog_api_client/v2/models/logs_aggregate_request_page.rb
Due: generated

Revert "fix"
  lib/datadog_api_client/v2.rb
  lib/datadog_api_client/v2/models/logs_aggregate_request.rb
  lib/datadog_api_client/v2/models/logs_aggregate_request_page.rb
Due: generated

Revert "update"
  .apigentools-info
Due: none

Revert "[logs][v2][aggregate] fix aggregate paging name"
  .apigentools-info
  .openapi-generator/FILES
  data/v2/openapi.yaml
  docs/v2/LogsAggregateRequest.md
  docs/v2/LogsAggregateRequestPage.md
  docs/v2/LogsAggregateRequestPaging.md
  docs/v2/README.md
  lib/datadog_api_client/v2.rb
  lib/datadog_api_client/v2/models/logs_aggregate_request.rb
  lib/datadog_api_client/v2/models/logs_aggregate_request_paging.rb
  spec/v2/models/logs_aggregate_request_page_spec.rb
Due: generated

fix
  spec/v2/models/logs_aggregate_request_page_spec.rb
  spec/v2/models/logs_aggregate_request_paging_spec.rb
Due: none

Regenerate client from commit c2cedbf of spec repo
  .apigentools-info
  .openapi-generator/FILES
  data/v2/openapi.yaml
  docs/v2/LogsAggregateRequest.md
  docs/v2/LogsAggregateRequestPage.md
  docs/v2/LogsAggregateRequestPaging.md
  docs/v2/README.md
  lib/datadog_api_client/v2.rb
  lib/datadog_api_client/v2/models/logs_aggregate_request.rb
  lib/datadog_api_client/v2/models/logs_aggregate_request_page.rb
Due: generated

Regenerate client from commit f21827d of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/ServiceLevelObjectivesApi.md
  features/v1/service_level_objectives.feature
  lib/datadog_api_client/v1/api/service_level_objectives_api.rb
Due: generated, generated-features

Regenerate client from commit 6dc3341 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  data/v2/openapi.yaml
  docs/v1/LogsApi.md
  docs/v1/README.md
  docs/v2/LogsApi.md
  docs/v2/README.md
  features/v1/logs.feature
  features/v2/logs.feature
  lib/datadog_api_client/v1/api/logs_api.rb
  lib/datadog_api_client/v2/api/logs_api.rb
Due: generated, generated-features

Regenerate client from commit bc876ff of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/UsageIoTHour.md
  docs/v1/UsageIoTResponse.md
  docs/v1/UsageMeteringApi.md
  docs/v1/UsageSummaryDate.md
  docs/v1/UsageSummaryDateOrg.md
  docs/v1/UsageSummaryResponse.md
  features/v1/undo.json
  features/v1/usage_metering.feature
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/usage_io_t_hour.rb
  lib/datadog_api_client/v1/models/usage_io_t_response.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
  spec/v1/models/usage_io_t_hour_spec.rb
  spec/v1/models/usage_io_t_response_spec.rb
Due: generated, generated-features

Regenerate client from commit 23b373b of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/Monitor.md
  docs/v1/MonitorOptions.md
  lib/datadog_api_client/v1/models/monitor.rb
  lib/datadog_api_client/v1/models/monitor_options.rb
Due: generated

Regenerate client from commit b12889a of spec repo
  .apigentools-info
  data/v2/openapi.yaml
  docs/v2/UserCreateAttributes.md
  docs/v2/UsersApi.md
Due: none

Regenerate client from commit ad4a282 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/MonitorUpdateRequest.md
  lib/datadog_api_client/v1/models/monitor_update_request.rb
Due: generated

Path conditions:
  generated: any of: ^lib/datadog_api_client/v[1-9].*
  generated-features: any of: ^features/v[1-9][0-9]*/.*.feature$
