Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Regenerate client from commit a845de18 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/sensitive_data_scanner_api.rb
Due: generate

Rename integrations-tools-and-libraries to api-clients in CODEOWNERS (#1784)
  .github/CODEOWNERS
Due: none

Regenerate client from commit 0db19316 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit eb5da65e of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit d50f58aa of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/aws-integration/CreateAWSTagFilter.rb
  examples/v1/aws-integration/DeleteAWSTagFilter.rb
  features/v1/aws_integration.feature
  lib/datadog_api_client/v1/api/aws_integration_api.rb
  lib/datadog_api_client/v1/models/aws_namespace.rb
Due: generate, format-examples

Regenerate client from commit 3a2d9e6b of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/hosts_api.rb
Due: generate

Regenerate client from commit 7fc1538c of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/monitors/Get-a-synthetics-monitor-s-details.frozen
  cassettes/features/v1/monitors/Get-a-synthetics-monitor-s-details.yml
  cassettes/features/v1/synthetics/Create-an-API-HTTP-test-has-bodyHash-filled-out.frozen
  cassettes/features/v1/synthetics/Create-an-API-HTTP-test-has-bodyHash-filled-out.yml
  cassettes/features/v1/synthetics/Create-an-API-HTTP-test-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-HTTP-test-returns-OK-Returns-the-created-test-details-response.yml
  cassettes/features/v1/synthetics/Create-an-API-HTTP-test-with-jsonPath-assertion-succeeds.frozen
  cassettes/features/v1/synthetics/Create-an-API-HTTP-test-with-jsonPath-assertion-succeeds.yml
  cassettes/features/v1/synthetics/Edit-an-API-test-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Edit-an-API-test-returns-OK-response.yml
  cassettes/features/v1/synthetics/Patch-a-Synthetic-test-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Patch-a-Synthetic-test-returns-OK-response.yml
  cassettes/features/v1/synthetics/Trigger-Synthetic-tests-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Trigger-Synthetic-tests-returns-OK-response.yml
  examples/v1/synthetics/CreateSyntheticsAPITest_1487281163.rb
  examples/v1/synthetics/CreateSyntheticsAPITest_1987645492.rb
  features/v1/given.json
  features/v1/synthetics.feature
  features/v1/synthetics_api_http_test_payload.json
  lib/datadog_api_client/v1/models/synthetics_assertion_json_path_target_target.rb
Due: generate, format-examples

Regenerate client from commit 2d7b3f3a of spec repo
  .apigentools-info
  features/v1/synthetics.feature
  features/v2/synthetics.feature
Due: none

Regenerate client from commit 743cf92b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/list_ap_is_response_data_attributes.rb
Due: generate

Regenerate client from commit 2b218621 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/logs-indexes/CreateLogsIndex.rb
  examples/v1/logs-indexes/UpdateLogsIndex.rb
  features/v1/logs_indexes.feature
  lib/datadog_api_client/v1/models/logs_index.rb
  lib/datadog_api_client/v1/models/logs_index_update_request.rb
Due: generate, format-examples

Fix ap_is -> apis.
  .generator/src/generator/replacement.json
  lib/datadog_api_client/v2/api/api_management_api.rb
  lib/datadog_api_client/v2/models/list_apis_response.rb
  lib/datadog_api_client/v2/models/list_apis_response_data.rb
  lib/datadog_api_client/v2/models/list_apis_response_data_attributes.rb
  lib/datadog_api_client/v2/models/list_apis_response_meta.rb
  lib/datadog_api_client/v2/models/list_apis_response_meta_pagination.rb
Due: generate

pre-commit fixes
  examples/v2/api-management/ListAPIs.rb
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
Due: generate, format-examples

Regenerate client from commit 848af7a9 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/organizations/Get-a-specific-Org-Config-value-returns-Not-Found-response.frozen
  cassettes/features/v2/organizations/Get-a-specific-Org-Config-value-returns-Not-Found-response.yml
  cassettes/features/v2/organizations/Get-a-specific-Org-Config-value-returns-OK-response.frozen
  cassettes/features/v2/organizations/Get-a-specific-Org-Config-value-returns-OK-response.yml
  cassettes/features/v2/organizations/List-Org-Configs-returns-OK-response.frozen
  cassettes/features/v2/organizations/List-Org-Configs-returns-OK-response.yml
  cassettes/features/v2/organizations/Update-a-specific-Org-Config-returns-Bad-Request-response.frozen
  cassettes/features/v2/organizations/Update-a-specific-Org-Config-returns-Bad-Request-response.yml
  cassettes/features/v2/organizations/Update-a-specific-Org-Config-returns-Not-Found-response.frozen
  cassettes/features/v2/organizations/Update-a-specific-Org-Config-returns-Not-Found-response.yml
  cassettes/features/v2/organizations/Update-a-specific-Org-Config-returns-OK-response.frozen
  cassettes/features/v2/organizations/Update-a-specific-Org-Config-returns-OK-response.yml
  examples/v2/organizations/GetOrgConfig.rb
  examples/v2/organizations/ListOrgConfigs.rb
  examples/v2/organizations/UpdateOrgConfig.rb
  features/scenarios_model_mapping.rb
  features/v2/organizations.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/organizations_api.rb
  lib/datadog_api_client/v2/models/org_config_get_response.rb
  lib/datadog_api_client/v2/models/org_config_list_response.rb
  lib/datadog_api_client/v2/models/org_config_read.rb
  lib/datadog_api_client/v2/models/org_config_read_attributes.rb
  lib/datadog_api_client/v2/models/org_config_type.rb
  lib/datadog_api_client/v2/models/org_config_write.rb
  lib/datadog_api_client/v2/models/org_config_write_attributes.rb
  lib/datadog_api_client/v2/models/org_config_write_request.rb
Due: generate, format-examples

Regenerate client from commit 4edb50e4 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/events_group_by.rb
Due: generate

Fix ap_is -> apis. (#1866)
  .generator/src/generator/replacement.json
  examples/v2/api-management/ListAPIs.rb
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/api_management_api.rb
  lib/datadog_api_client/v2/models/list_apis_response.rb
  lib/datadog_api_client/v2/models/list_apis_response_data.rb
  lib/datadog_api_client/v2/models/list_apis_response_data_attributes.rb
  lib/datadog_api_client/v2/models/list_apis_response_meta.rb
  lib/datadog_api_client/v2/models/list_apis_response_meta_pagination.rb
Due: generate, format-examples

Regenerate client from commit 4bb6726a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/usage_billable_summary_hour.rb
  lib/datadog_api_client/v2/api/usage_metering_api.rb
  lib/datadog_api_client/v2/models/cost_by_org_attributes.rb
Due: generate

Regenerate client from commit bad4ef97 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit d588dddf of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Convert-a-rule-from-JSON-to-Terraform-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Convert-a-rule-from-JSON-to-Terraform-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Convert-an-existing-rule-from-JSON-to-Terraform-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Convert-an-existing-rule-from-JSON-to-Terraform-returns-OK-response.yml
  examples/v2/security-monitoring/ConvertExistingSecurityMonitoringRule.rb
  examples/v2/security-monitoring/ConvertSecurityMonitoringRuleFromJSONToTerraform.rb
  features/scenarios_model_mapping.rb
  features/v2/security_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_convert_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_convert_response.rb
Due: generate, format-examples

Regenerate client from commit 5ebef994 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/monthly_usage_attribution_values.rb
  lib/datadog_api_client/v1/models/usage_rum_sessions_hour.rb
  lib/datadog_api_client/v1/models/usage_rum_sessions_response.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit 4ed44e4c of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/monitors/Edit-a-monitor-returns-OK-response.frozen
  cassettes/features/v1/monitors/Edit-a-monitor-returns-OK-response.yml
  examples/v1/monitors/UpdateMonitor.rb
  features/v1/monitors.feature
  lib/datadog_api_client/v1/models/monitor.rb
  lib/datadog_api_client/v1/models/monitor_update_request.rb
Due: generate, format-examples

Regenerate client from commit c873724a of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/restriction_policies_api.rb
Due: generate

Regenerate client from commit 69f53eae of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/security_monitoring_suppression_attributes.rb
Due: generate

Regenerate client from commit 82088d52 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/network-device-monitoring/ListDevices.rb
  features/scenarios_model_mapping.rb
  features/v2/network_device_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/network_device_monitoring_api.rb
Due: generate, format-examples

Regenerate client from commit f54c0bf3 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/synthetics/Create-a-global-variable-from-test-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Create-a-global-variable-from-test-returns-OK-response.yml
  cassettes/features/v1/synthetics/Create-an-API-test-with-multi-subtype-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-test-with-multi-subtype-returns-OK-Returns-the-created-test-details-response.yml
  examples/v1/synthetics/CreateSyntheticsAPITest_1279271422.rb
  features/v1/given.json
  features/v1/synthetics.feature
  features/v1/synthetics_api_test_multi_step_payload.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/synthetics_api_step.rb
  lib/datadog_api_client/v1/models/synthetics_api_test_step.rb
  lib/datadog_api_client/v1/models/synthetics_api_test_step_subtype.rb
  lib/datadog_api_client/v1/models/synthetics_api_wait_step.rb
  lib/datadog_api_client/v1/models/synthetics_api_wait_step_subtype.rb
Due: generate, format-examples

Regenerate client from commit c1e56102 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Bump datadog_api_client to 2.24.0
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit acfbfe3f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/formula_and_function_apm_dependency_stats_query_definition.rb
  lib/datadog_api_client/v1/models/formula_and_function_apm_resource_stats_query_definition.rb
  lib/datadog_api_client/v1/models/formula_and_function_cloud_cost_query_definition.rb
  lib/datadog_api_client/v1/models/formula_and_function_event_query_definition.rb
  lib/datadog_api_client/v1/models/formula_and_function_metric_query_definition.rb
  lib/datadog_api_client/v1/models/formula_and_function_process_query_definition.rb
  lib/datadog_api_client/v1/models/formula_and_function_slo_query_definition.rb
Due: generate

Bump datadog_api_client to 2.24.0.dev.1
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit 175d99e4 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/azure_integration/Delete-an-Azure-integration-returns-OK-response.frozen
  cassettes/features/v1/azure_integration/Delete-an-Azure-integration-returns-OK-response.yml
  cassettes/features/v1/azure_integration/Update-an-Azure-integration-returns-OK-response.frozen
  cassettes/features/v1/azure_integration/Update-an-Azure-integration-returns-OK-response.yml
  examples/v1/azure-integration/UpdateAzureHostFilters.rb
  examples/v1/azure-integration/UpdateAzureIntegration.rb
  features/v1/azure_integration.feature
  features/v1/given.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/azure_account.rb
  lib/datadog_api_client/v1/models/azure_account_metrics_config.rb
Due: generate, format-examples

Regenerate client from commit ebf9a6ef of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/monitors_api.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_events_data_source.rb
  lib/datadog_api_client/v1/models/monitor_type.rb
Due: generate

Regenerate client from commit 0efd2eb0 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  features/v1/synthetics.feature
  lib/datadog_api_client/v1/models/synthetics_delete_tests_payload.rb
Due: generate

Regenerate client from commit dd2bff15 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/api_management_api.rb
Due: generate

Regenerate client from commit 1e8d5fca of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/case_management_api.rb
Due: generate

Regenerate client from commit 464f0cec of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/monitors_api.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_events_data_source.rb
  lib/datadog_api_client/v1/models/monitor_type.rb
Due: generate

Regenerate client from commit fae9d797 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  features/v1/synthetics.feature
  lib/datadog_api_client/v1/models/synthetics_delete_tests_payload.rb
Due: generate

Regenerate client from commit ce846cd6 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/azure_integration/Delete-an-Azure-integration-returns-OK-response.frozen
  cassettes/features/v1/azure_integration/Delete-an-Azure-integration-returns-OK-response.yml
  cassettes/features/v1/azure_integration/Update-an-Azure-integration-returns-OK-response.frozen
  cassettes/features/v1/azure_integration/Update-an-Azure-integration-returns-OK-response.yml
  examples/v1/azure-integration/UpdateAzureHostFilters.rb
  examples/v1/azure-integration/UpdateAzureIntegration.rb
  features/v1/azure_integration.feature
  features/v1/given.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/azure_account.rb
  lib/datadog_api_client/v1/models/azure_account_metrics_config.rb
Due: generate, format-examples

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
