Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

Regenerate client from commit d93d991 of spec repo
  .generated-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/synthetics/Create-a-FIDO-global-variable-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Create-a-FIDO-global-variable-returns-OK-response.yml
  cassettes/features/v1/synthetics/Create-a-TOTP-global-variable-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Create-a-TOTP-global-variable-returns-OK-response.yml
  cassettes/features/v1/synthetics/Create-a-global-variable-from-test-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Create-a-global-variable-from-test-returns-OK-response.yml
  cassettes/features/v1/synthetics/Create-an-API-SSL-test-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-SSL-test-returns-OK-Returns-the-created-test-details-response.yml
  cassettes/features/v1/synthetics/Create-an-API-test-with-multi-subtype-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-test-with-multi-subtype-returns-OK-Returns-the-created-test-details-response.yml
  examples/v1/synthetics/CreateSyntheticsAPITest_1072503741.rb
  examples/v1/synthetics/CreateSyntheticsAPITest_1279271422.rb
  features/v1/given.json
  features/v1/synthetics.feature
  features/v1/synthetics_api_ssl_test_payload.json
  features/v1/synthetics_api_test_multi_step_payload.json
  lib/datadog_api_client/v1/models/synthetics_test_options.rb
  lib/datadog_api_client/v1/models/synthetics_test_request.rb
Due: generate, format-examples

Regenerate client from commit 7342b0d of spec repo
  .generated-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/synthetics_api.rb
Due: generate

Regenerate client from commit 2e1c8ca of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/cloud_network_monitoring_api.rb
Due: generate

Regenerate client from commit 4b55c96 of spec repo
  .generated-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit 2ffdc3f of spec repo
  .generated-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/monitors_api.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
Due: generate

Regenerate client from commit 2945951 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_processor_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_datadog_tags_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_datadog_tags_processor_action.rb
  lib/datadog_api_client/v2/models/observability_pipeline_datadog_tags_processor_mode.rb
  lib/datadog_api_client/v2/models/observability_pipeline_datadog_tags_processor_type.rb
Due: generate

Regenerate client from commit 89fc657 of spec repo
  .generated-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit 958ae27 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/cloud_network_monitoring/Get-all-aggregated-connections-returns-Bad-Request-response.frozen
  cassettes/features/v2/cloud_network_monitoring/Get-all-aggregated-connections-returns-Bad-Request-response.yml
  examples/v2/cloud-network-monitoring/GetAggregatedConnections.rb
  examples/v2/cloud-network-monitoring/GetAggregatedConnections_3059356111.rb
  features/v2/cloud_network_monitoring.feature
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/cloud_network_monitoring_api.rb
Due: generate, format-examples

Regenerate client from commit 671ba51 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/events_api.rb
Due: generate

Regenerate client from commit 31a6042 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_1965169892.rb
  features/v2/security_monitoring.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_case_action_options.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_case_action_options_flagged_ip_type.rb
Due: generate, format-examples

Regenerate client from commit 827a324 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_processor_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_source_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_custom_processor_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_custom_processor_processor_remap.rb
  lib/datadog_api_client/v2/models/observability_pipeline_custom_processor_processor_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_encoding.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_bytes.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_bytes_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_character_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_character_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_newline_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_newline_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_mode.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_bytes.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_bytes_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_character_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_character_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_chunked_gelf.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_chunked_gelf_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_newline_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_newline_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_octet_counting.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_octet_counting_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_mode.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_type.rb
Due: generate

handle multiple auth
  .generator/src/generator/cli.py
  .generator/src/generator/openapi.py
  .generator/src/generator/templates/api.j2
Due: generate

Regenerate client from commit 0becaa3 of spec repo
  .generated-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit 214381f of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/events/GetEvent.rb
  features/scenarios_model_mapping.rb
  features/v2/events.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/events_api.rb
  lib/datadog_api_client/v2/models/alert_event_attributes.rb
  lib/datadog_api_client/v2/models/alert_event_attributes_links_item.rb
  lib/datadog_api_client/v2/models/alert_event_attributes_links_item_category.rb
  lib/datadog_api_client/v2/models/alert_event_attributes_priority.rb
  lib/datadog_api_client/v2/models/alert_event_attributes_status.rb
  lib/datadog_api_client/v2/models/change_event_attributes.rb
  lib/datadog_api_client/v2/models/change_event_attributes_author.rb
  lib/datadog_api_client/v2/models/change_event_attributes_author_type.rb
  lib/datadog_api_client/v2/models/change_event_attributes_changed_resource.rb
  lib/datadog_api_client/v2/models/change_event_attributes_changed_resource_type.rb
  lib/datadog_api_client/v2/models/change_event_attributes_impacted_resources_item.rb
  lib/datadog_api_client/v2/models/change_event_attributes_impacted_resources_item_type.rb
  lib/datadog_api_client/v2/models/event_system_attributes.rb
  lib/datadog_api_client/v2/models/event_system_attributes_category.rb
  lib/datadog_api_client/v2/models/event_system_attributes_integration_id.rb
  lib/datadog_api_client/v2/models/v2_event.rb
  lib/datadog_api_client/v2/models/v2_event_attributes.rb
  lib/datadog_api_client/v2/models/v2_event_attributes_attributes.rb
  lib/datadog_api_client/v2/models/v2_event_response.rb
Due: generate, format-examples

Regenerate client from commit ef70ddf of spec repo
  .generated-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v1/api/logs_api.rb
  lib/datadog_api_client/v1/api/logs_indexes_api.rb
  lib/datadog_api_client/v1/api/synthetics_api.rb
  lib/datadog_api_client/v2/api/rum_api.rb
Due: generate

Regenerate client from commit fedf388 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Create-a-detection-rule-with-type-application-security-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Create-a-detection-rule-with-type-application-security-returns-OK-response.yml
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_1965169892.rb
  features/v2/security_monitoring.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_case_action_options.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_case_action_options_flagged_ip_type.rb
Due: generate, format-examples

Regenerate client from commit a0361eb of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/configuration.rb
Due: generate

Regenerate client from commit 7f27ad2 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/metric_asset_attributes.rb
  lib/datadog_api_client/v2/models/metric_monitor_asset.rb
  lib/datadog_api_client/v2/models/metric_notebook_asset.rb
  lib/datadog_api_client/v2/models/metric_slo_asset.rb
Due: generate

Regenerate client from commit f2ae7eb of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/events_data_source.rb
Due: generate

Regenerate client from commit 98aea43 of spec repo
  .generated-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Decoder-Processor-returns-OK-response.frozen
  cassettes/features/v1/logs_pipelines/Create-a-pipeline-with-Decoder-Processor-returns-OK-response.yml
  examples/v1/logs-pipelines/CreateLogsPipeline_3336967838.rb
  features/v1/logs_pipelines.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/logs_decoder_processor.rb
  lib/datadog_api_client/v1/models/logs_decoder_processor_binary_to_text_encoding.rb
  lib/datadog_api_client/v1/models/logs_decoder_processor_input_representation.rb
  lib/datadog_api_client/v1/models/logs_decoder_processor_type.rb
  lib/datadog_api_client/v1/models/logs_processor.rb
Due: generate, format-examples

Regenerate client from commit 92891d2 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/observability_pipeline_parse_grok_processor_rule.rb
Due: generate

Regenerate client from commit 20279f4 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/entity_v3_api.rb
  lib/datadog_api_client/v2/models/entity_v3_api_version.rb
  lib/datadog_api_client/v2/models/entity_v3_datastore.rb
  lib/datadog_api_client/v2/models/entity_v3_queue.rb
  lib/datadog_api_client/v2/models/entity_v3_service.rb
  lib/datadog_api_client/v2/models/entity_v3_system.rb
Due: generate

Regenerate client from commit dc49df4 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/metrics/GetMetricTagCardinalityDetails.rb
  features/scenarios_model_mapping.rb
  features/v2/metrics.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/metrics_api.rb
  lib/datadog_api_client/v2/models/metric_tag_cardinalities_meta.rb
  lib/datadog_api_client/v2/models/metric_tag_cardinalities_response.rb
  lib/datadog_api_client/v2/models/metric_tag_cardinality.rb
  lib/datadog_api_client/v2/models/metric_tag_cardinality_attributes.rb
Due: generate, format-examples

Regenerate client from commit 0f24b8e of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/action_connection_integration_update.rb
  lib/datadog_api_client/v2/models/datadog_api_key.rb
  lib/datadog_api_client/v2/models/datadog_api_key_type.rb
  lib/datadog_api_client/v2/models/datadog_api_key_update.rb
  lib/datadog_api_client/v2/models/datadog_credentials.rb
  lib/datadog_api_client/v2/models/datadog_credentials_update.rb
  lib/datadog_api_client/v2/models/datadog_integration.rb
  lib/datadog_api_client/v2/models/datadog_integration_type.rb
  lib/datadog_api_client/v2/models/datadog_integration_update.rb
Due: generate

Regenerate client from commit b2dec34 of spec repo
  .generated-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  features/v1/key_management.feature
  features/v2/key_management.feature
Due: generate

Regenerate client from commit f47d1c2 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-network-monitoring/GetAggregatedDns.rb
  features/scenarios_model_mapping.rb
  features/v2/cloud_network_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/cloud_network_monitoring_api.rb
  lib/datadog_api_client/v2/models/dns_metric_key.rb
  lib/datadog_api_client/v2/models/single_aggregated_dns_response_array.rb
  lib/datadog_api_client/v2/models/single_aggregated_dns_response_data.rb
  lib/datadog_api_client/v2/models/single_aggregated_dns_response_data_attributes.rb
  lib/datadog_api_client/v2/models/single_aggregated_dns_response_data_attributes_group_by_items.rb
  lib/datadog_api_client/v2/models/single_aggregated_dns_response_data_attributes_metrics_items.rb
  lib/datadog_api_client/v2/models/single_aggregated_dns_response_data_type.rb
Due: generate, format-examples

Regenerate client from commit 5b64e98 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_processor_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_datadog_tags_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_datadog_tags_processor_action.rb
  lib/datadog_api_client/v2/models/observability_pipeline_datadog_tags_processor_mode.rb
  lib/datadog_api_client/v2/models/observability_pipeline_datadog_tags_processor_type.rb
Due: generate

Regenerate client from commit eea03ed of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/configuration.rb
Due: generate

Regenerate client from commit 06ccc32 of spec repo
  .generated-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_billable_summary_body.rb
Due: generate

Regenerate client from commit 4636dce of spec repo
  .generated-info
  features/v2/data_deletion.feature
Due: none

pin datadog-ci version
  Gemfile
Due: none

pin datadog
  Gemfile
Due: none

quotes
  Gemfile
Due: none

pin libddwaf
  Gemfile
Due: none

unpin other libs
  Gemfile
Due: none

pin libddwaf version (#2556)
  Gemfile
Due: none
