Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

Regenerate client from commit 37070fd4 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 85355ab0 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/hourly_usage_attribution_usage_type.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_supported_metrics.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_values.rb
Due: generate

Regenerate client from commit 9ac9609b of spec repo
  .apigentools-info
  features/v1/gcp_integration.feature
  features/v2/gcp_integration.feature
Due: none

Regenerate client from commit 2340c8b7 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/events/CreateEvent.rb
  features/scenarios_model_mapping.rb
  features/v2/events.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/events_api.rb
  lib/datadog_api_client/v2/models/change_event.rb
  lib/datadog_api_client/v2/models/change_event_category.rb
  lib/datadog_api_client/v2/models/change_event_create_request.rb
  lib/datadog_api_client/v2/models/change_event_create_request_payload.rb
  lib/datadog_api_client/v2/models/change_event_create_request_type.rb
  lib/datadog_api_client/v2/models/change_event_create_response.rb
  lib/datadog_api_client/v2/models/change_event_create_response_attributes.rb
  lib/datadog_api_client/v2/models/change_event_create_response_attributes_attributes.rb
  lib/datadog_api_client/v2/models/change_event_create_response_attributes_attributes_evt.rb
  lib/datadog_api_client/v2/models/change_event_create_response_payload.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_author.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_author_type.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_changed_resource.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_changed_resource_type.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_impacted_resources_items.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_impacted_resources_items_type.rb
Due: generate, format-examples

Regenerate client from commit 6a94e484 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/usage-metering/GetBillingDimensionMapping.rb
  features/scenarios_model_mapping.rb
  features/v2/undo.json
  features/v2/usage_metering.feature
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/usage_metering_api.rb
  lib/datadog_api_client/v2/models/billing_dimensions_mapping_body_item.rb
  lib/datadog_api_client/v2/models/billing_dimensions_mapping_body_item_attributes.rb
  lib/datadog_api_client/v2/models/billing_dimensions_mapping_body_item_attributes_endpoints_items.rb
  lib/datadog_api_client/v2/models/billing_dimensions_mapping_body_item_attributes_endpoints_items_status.rb
  lib/datadog_api_client/v2/models/billing_dimensions_mapping_response.rb
Due: generate, format-examples

Regenerate client from commit 603ea76a of spec repo
  .apigentools-info
  cassettes/features/v2/security_monitoring/List-findings-with-detection-type-query-param-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/List-findings-with-detection-type-query-param-returns-OK-response.yml
  examples/v2/security-monitoring/ListFindings_1668290866.rb
  features/v2/security_monitoring.feature
  lib/datadog_api_client/api_client.rb
Due: generate, format-examples

Regenerate client from commit df3187ca of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/synthetics_step_detail.rb
Due: generate

Regenerate client from commit a916f673 of spec repo
  .apigentools-info
  cassettes/features/v2/roles/Revoke-permission-returns-Bad-Request-response.frozen
  cassettes/features/v2/roles/Revoke-permission-returns-Bad-Request-response.yml
  features/v2/roles.feature
Due: none

Regenerate client from commit 7c559e99 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  features/v1/synthetics.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_direction.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_element.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_element_context_type.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_element_relative_position.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_element_user_locator.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_element_user_locator_values_items.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_element_user_locator_values_items_type.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_positions_items.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_variable.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_test.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_test_binding_relation.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_test_config.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_test_options.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_test_options_monitor_options.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_tests_mobile_application.rb
  lib/datadog_api_client/v1/models/synthetics_test_ci_options.rb
  lib/datadog_api_client/v1/models/synthetics_test_options_scheduling.rb
  lib/datadog_api_client/v1/models/synthetics_test_options_scheduling_timeframe.rb
Due: generate

Regenerate client from commit da544f48 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/v2/cloudflare_integration.feature
  features/v2/given.json
  lib/datadog_api_client/v2/models/cloudflare_account_create_request_attributes.rb
  lib/datadog_api_client/v2/models/cloudflare_account_response_attributes.rb
  lib/datadog_api_client/v2/models/cloudflare_account_update_request_attributes.rb
Due: generate

Regenerate client from commit aaacb8db of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/sensitive_data_scanner_meta.rb
Due: generate

Regenerate client from commit 191fb816 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/hourly_usage_attribution_usage_type.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_supported_metrics.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_values.rb
Due: generate

Regenerate client from commit a2f558e8 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/hourly_usage_attribution_usage_type.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_supported_metrics.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_values.rb
Due: generate

Regenerate client from commit 849ce45c of spec repo
  .apigentools-info
  features/v1/gcp_integration.feature
  features/v2/gcp_integration.feature
Due: none

Regenerate client from commit 2e09a3ec of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/synthetics/CreateSyntheticsAPITest.rb
  examples/v1/synthetics/UpdateBrowserTest.rb
  features/v1/synthetics.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_direction.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_element.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_element_context_type.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_element_relative_position.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_element_user_locator.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_element_user_locator_values_items.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_element_user_locator_values_items_type.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_positions_items.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_variable.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_test.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_test_config.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_test_options.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_test_options_monitor_options.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_tests_mobile_application.rb
  lib/datadog_api_client/v1/models/synthetics_test_ci_options.rb
  lib/datadog_api_client/v1/models/synthetics_test_options_monitor_options.rb
  lib/datadog_api_client/v1/models/synthetics_test_options_monitor_options_notification_preset_name.rb
  lib/datadog_api_client/v1/models/synthetics_test_options_scheduling.rb
  lib/datadog_api_client/v1/models/synthetics_test_restriction_policy_binding.rb
  lib/datadog_api_client/v1/models/synthetics_test_restriction_policy_binding_relation.rb
Due: generate, format-examples

Regenerate client from commit b4ad1786 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: generate

fix tests
  .generator/conftest.py
  .generator/src/generator/formatter.py
  .generator/src/generator/keywords.json
  features/support/templating.rb
Due: generate

only add non rails for some apis
  .generator/src/generator/templates/api.j2
  .generator/src/generator/templates/api_client.j2
Due: generate

Regenerate client from commit c0b9551e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/sensitive_data_scanner_included_keyword_configuration.rb
Due: generate

Regenerate client from commit 755120dd of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/domain_allowlist/Get-Domain-Allowlist-returns-OK-response.frozen
  cassettes/features/v2/domain_allowlist/Get-Domain-Allowlist-returns-OK-response.yml
  cassettes/features/v2/domain_allowlist/Sets-Domain-Allowlist-returns-OK-response.frozen
  cassettes/features/v2/domain_allowlist/Sets-Domain-Allowlist-returns-OK-response.yml
  examples/v2/domain-allowlist/GetDomainAllowlist.rb
  examples/v2/domain-allowlist/PatchDomainAllowlist.rb
  features/scenarios_model_mapping.rb
  features/v2/domain_allowlist.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/domain_allowlist_api.rb
  lib/datadog_api_client/v2/models/domain_allowlist.rb
  lib/datadog_api_client/v2/models/domain_allowlist_attributes.rb
  lib/datadog_api_client/v2/models/domain_allowlist_request.rb
  lib/datadog_api_client/v2/models/domain_allowlist_response.rb
  lib/datadog_api_client/v2/models/domain_allowlist_response_data.rb
  lib/datadog_api_client/v2/models/domain_allowlist_response_data_attributes.rb
  lib/datadog_api_client/v2/models/domain_allowlist_type.rb
Due: generate, format-examples

Regenerate client from commit e9cc5e6a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_element_relative_position.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_positions_items.rb
  lib/datadog_api_client/v1/models/synthetics_mobile_step_params_value.rb
Due: generate

Regenerate client from commit a7602fa1 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/v2/cloudflare_integration.feature
  lib/datadog_api_client/v2/models/cloudflare_account_create_request_attributes.rb
  lib/datadog_api_client/v2/models/cloudflare_account_response_attributes.rb
  lib/datadog_api_client/v2/models/cloudflare_account_update_request_attributes.rb
Due: generate

Regenerate client from commit a11da7b5 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/usage_metering/Get-billing-dimension-mapping-for-usage-endpoints-returns-Bad-Request-response.frozen
  cassettes/features/v2/usage_metering/Get-billing-dimension-mapping-for-usage-endpoints-returns-Bad-Request-response.yml
  examples/v2/usage-metering/GetBillingDimensionMapping.rb
  features/scenarios_model_mapping.rb
  features/v2/undo.json
  features/v2/usage_metering.feature
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/usage_metering_api.rb
  lib/datadog_api_client/v2/models/billing_dimensions_mapping_body_item.rb
  lib/datadog_api_client/v2/models/billing_dimensions_mapping_body_item_attributes.rb
  lib/datadog_api_client/v2/models/billing_dimensions_mapping_body_item_attributes_endpoints_items.rb
  lib/datadog_api_client/v2/models/billing_dimensions_mapping_body_item_attributes_endpoints_items_status.rb
  lib/datadog_api_client/v2/models/billing_dimensions_mapping_response.rb
Due: generate, format-examples

Regenerate client from commit 63c441b2 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/cloud_cost_management/List-related-AWS-accounts-returns-OK-response.frozen
  cassettes/features/v2/cloud_cost_management/List-related-AWS-accounts-returns-OK-response.yml
  examples/v2/cloud-cost-management/ListAWSRelatedAccounts.rb
  features/scenarios_model_mapping.rb
  features/v2/cloud_cost_management.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/cloud_cost_management_api.rb
  lib/datadog_api_client/v2/models/aws_related_account.rb
  lib/datadog_api_client/v2/models/aws_related_account_attributes.rb
  lib/datadog_api_client/v2/models/aws_related_account_type.rb
  lib/datadog_api_client/v2/models/aws_related_accounts_response.rb
Due: generate, format-examples

Regenerate client from commit 6ffe013b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/cloudflare_account_response_attributes.rb
Due: generate

Regenerate client from commit aeb956c4 of spec repo
  .apigentools-info
  cassettes/features/v2/security_monitoring/List-findings-with-detection-type-query-param-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/List-findings-with-detection-type-query-param-returns-OK-response.yml
  examples/v2/security-monitoring/ListFindings_1668290866.rb
  features/v2/security_monitoring.feature
  lib/datadog_api_client/api_client.rb
  lib/datadog_api_client/v1/api/synthetics_api.rb
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/api/teams_api.rb
Due: generate, format-examples

Regenerate client from commit 82ea89c4 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/cloud_cost_management_api.rb
Due: generate

Regenerate client from commit 0a78d630 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/rum_metric_compute.rb
  lib/datadog_api_client/v2/models/rum_metric_create_attributes.rb
  lib/datadog_api_client/v2/models/rum_metric_filter.rb
  lib/datadog_api_client/v2/models/rum_metric_group_by.rb
  lib/datadog_api_client/v2/models/rum_metric_response_attributes.rb
  lib/datadog_api_client/v2/models/rum_metric_response_compute.rb
  lib/datadog_api_client/v2/models/rum_metric_response_group_by.rb
  lib/datadog_api_client/v2/models/rum_metric_response_uniqueness.rb
  lib/datadog_api_client/v2/models/rum_metric_uniqueness.rb
  lib/datadog_api_client/v2/models/rum_metric_uniqueness_when.rb
  lib/datadog_api_client/v2/models/rum_metric_update_compute.rb
Due: generate

Regenerate client from commit 8d63eae4 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/synthetics_batch_details_data.rb
  lib/datadog_api_client/v1/models/synthetics_batch_result.rb
  lib/datadog_api_client/v1/models/synthetics_batch_status.rb
Due: generate

Regenerate client from commit 1a56bfda of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/synthetics_step.rb
Due: generate

Regenerate client from commit 6c0fa1b6 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/metrics/QueryScalarData.rb
  examples/v2/metrics/QueryScalarData_3112571352.rb
  examples/v2/metrics/QueryTimeseriesData.rb
  examples/v2/metrics/QueryTimeseriesData_301142940.rb
  features/v2/metrics.feature
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/metrics_api.rb
Due: generate, format-examples

Regenerate client from commit 2db17c21 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/v2/gcp_integration.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/gcp_metric_namespace_config.rb
  lib/datadog_api_client/v2/models/gcpsts_service_account_attributes.rb
Due: generate
