Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

Regenerate client from commit 78376979 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit 8b9cffb1 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/entity_response_included_raw_schema_attributes.rb
  lib/datadog_api_client/v2/models/entity_response_included_related_entity_attributes.rb
  lib/datadog_api_client/v2/models/entity_response_included_related_incident_attributes.rb
  lib/datadog_api_client/v2/models/entity_response_included_related_oncall_attributes.rb
  lib/datadog_api_client/v2/models/entity_response_included_schema_attributes.rb
Due: generate

Regenerate client from commit cfc0156e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/restriction_policies_api.rb
Due: generate

Regenerate client from commit 0f5c928e of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit 94f7c372 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/software-catalog/UpsertCatalogEntity.rb
  features/v2/software_catalog.feature
  lib/datadog_api_client/v2/models/entity_response_included_raw_schema_attributes.rb
  lib/datadog_api_client/v2/models/entity_response_included_related_entity_attributes.rb
  lib/datadog_api_client/v2/models/entity_response_included_related_incident_attributes.rb
  lib/datadog_api_client/v2/models/entity_response_included_related_oncall_attributes.rb
  lib/datadog_api_client/v2/models/entity_response_included_schema_attributes.rb
Due: generate, format-examples

Regenerate client from commit d35d4ae5 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/logs_api.rb
  lib/datadog_api_client/v2/models/content_encoding.rb
Due: generate

Regenerate client from commit 764de5f0 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/entity_response_included_incident.rb
  lib/datadog_api_client/v2/models/entity_response_included_incident_type.rb
  lib/datadog_api_client/v2/models/entity_response_included_oncall.rb
  lib/datadog_api_client/v2/models/entity_response_included_oncall_type.rb
  lib/datadog_api_client/v2/models/entity_response_included_raw_schema.rb
  lib/datadog_api_client/v2/models/entity_response_included_raw_schema_type.rb
  lib/datadog_api_client/v2/models/entity_response_included_related_entity.rb
  lib/datadog_api_client/v2/models/entity_response_included_related_entity_type.rb
  lib/datadog_api_client/v2/models/entity_response_included_schema.rb
  lib/datadog_api_client/v2/models/entity_response_included_schema_type.rb
Due: generate

Regenerate client from commit f532b3e9 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/restriction_policies_api.rb
Due: generate

Regenerate client from commit b25d7c85 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/api_trigger.rb
  lib/datadog_api_client/v2/models/api_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/app_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/case_trigger.rb
  lib/datadog_api_client/v2/models/case_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/dashboard_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/database_monitoring_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/github_webhook_trigger.rb
  lib/datadog_api_client/v2/models/github_webhook_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/incident_trigger.rb
  lib/datadog_api_client/v2/models/incident_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/monitor_trigger.rb
  lib/datadog_api_client/v2/models/monitor_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/notebook_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/schedule_trigger.rb
  lib/datadog_api_client/v2/models/schedule_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/security_trigger.rb
  lib/datadog_api_client/v2/models/security_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/self_service_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/slack_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/software_catalog_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/trigger.rb
  lib/datadog_api_client/v2/models/workflow_trigger_wrapper.rb
Due: generate

Regenerate client from commit 6832d799 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/application_security_waf_custom_rule_tags_category.rb
Due: generate

Regenerate client from commit 61cc2d5e of spec repo
  .apigentools-info
  cassettes/features/v2/action_connection/Create-a-new-Action-Connection-returns-Bad-Request-response.frozen
  cassettes/features/v2/action_connection/Create-a-new-Action-Connection-returns-Bad-Request-response.yml
  cassettes/features/v2/action_connection/Create-a-new-Action-Connection-returns-Successfully-created-Action-Connection-response.frozen
  cassettes/features/v2/action_connection/Create-a-new-Action-Connection-returns-Successfully-created-Action-Connection-response.yml
  cassettes/features/v2/action_connection/Delete-an-existing-Action-Connection-returns-Not-Found-response.frozen
  cassettes/features/v2/action_connection/Delete-an-existing-Action-Connection-returns-Not-Found-response.yml
  cassettes/features/v2/action_connection/Delete-an-existing-Action-Connection-returns-The-resource-was-deleted-successfully-response.frozen
  cassettes/features/v2/action_connection/Delete-an-existing-Action-Connection-returns-The-resource-was-deleted-successfully-response.yml
  cassettes/features/v2/action_connection/Get-an-existing-Action-Connection-returns-Bad-Request-response.frozen
  cassettes/features/v2/action_connection/Get-an-existing-Action-Connection-returns-Bad-Request-response.yml
  cassettes/features/v2/action_connection/Get-an-existing-Action-Connection-returns-Not-Found-response.frozen
  cassettes/features/v2/action_connection/Get-an-existing-Action-Connection-returns-Not-Found-response.yml
  cassettes/features/v2/action_connection/Get-an-existing-Action-Connection-returns-Successfully-get-Action-Connection-response.frozen
  cassettes/features/v2/action_connection/Get-an-existing-Action-Connection-returns-Successfully-get-Action-Connection-response.yml
  cassettes/features/v2/action_connection/Update-an-existing-Action-Connection-returns-Bad-Request-response.frozen
  cassettes/features/v2/action_connection/Update-an-existing-Action-Connection-returns-Bad-Request-response.yml
  cassettes/features/v2/action_connection/Update-an-existing-Action-Connection-returns-Not-Found-response.frozen
  cassettes/features/v2/action_connection/Update-an-existing-Action-Connection-returns-Not-Found-response.yml
  cassettes/features/v2/action_connection/Update-an-existing-Action-Connection-returns-Successfully-updated-Action-Connection-response.frozen
  cassettes/features/v2/action_connection/Update-an-existing-Action-Connection-returns-Successfully-updated-Action-Connection-response.yml
  examples/v2/action-connection/CreateActionConnection.rb
  examples/v2/action-connection/DeleteActionConnection.rb
  examples/v2/action-connection/DeleteActionConnection_2142905164.rb
  features/v2/action_connection.feature
  features/v2/given.json
Due: format-examples

Regenerate client from commit 475f3063 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/software-catalog/UpsertCatalogEntity.rb
  features/v2/software_catalog.feature
  lib/datadog_api_client/v2/models/entity_v3_datastore_spec.rb
  lib/datadog_api_client/v2/models/entity_v3_queue_spec.rb
  lib/datadog_api_client/v2/models/entity_v3_service_spec.rb
Due: generate, format-examples

Regenerate client from commit 3f3e8eaf of spec repo
  .apigentools-info
  features/v2/container_images.feature
  features/v2/containers.feature
Due: none

Regenerate client from commit d59b11e9 of spec repo
  .apigentools-info
  features/v2/ip_allowlist.feature
Due: none

Regenerate client from commit 51bfdf43 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/security_monitoring_standard_data_source.rb
Due: generate

Regenerate client from commit 1d2132af of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/logs_aggregate_request.rb
  lib/datadog_api_client/v2/models/logs_list_request.rb
  lib/datadog_api_client/v2/models/logs_query_options.rb
Due: generate

Regenerate client from commit d7759544 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/restriction_policies_api.rb
Due: generate

Regenerate client from commit fe72263c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-network-monitoring/GetAggregatedConnections.rb
  features/scenarios_model_mapping.rb
  features/v2/cloud_network_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/cloud_network_monitoring_api.rb
  lib/datadog_api_client/v2/models/single_aggregated_connection_response_array.rb
  lib/datadog_api_client/v2/models/single_aggregated_connection_response_data.rb
  lib/datadog_api_client/v2/models/single_aggregated_connection_response_data_attributes.rb
  lib/datadog_api_client/v2/models/single_aggregated_connection_response_data_type.rb
Due: generate, format-examples

Regenerate client from commit 3826157e of spec repo
  .apigentools-info
  features/v2/ip_allowlist.feature
Due: none

Regenerate client from commit ad0591f6 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit f629f10b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/cloud_network_monitoring/Get-aggregated-connections-returns-OK-response.frozen
  cassettes/features/v2/cloud_network_monitoring/Get-aggregated-connections-returns-OK-response.yml
  cassettes/features/v2/cloud_network_monitoring/Get-all-aggregated-connections-returns-Bad-Request-response.frozen
  cassettes/features/v2/cloud_network_monitoring/Get-all-aggregated-connections-returns-Bad-Request-response.yml
  examples/v2/cloud-network-monitoring/GetAggregatedConnections.rb
  features/scenarios_model_mapping.rb
  features/v2/cloud_network_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/cloud_network_monitoring_api.rb
  lib/datadog_api_client/v2/models/single_aggregated_connection_response_array.rb
  lib/datadog_api_client/v2/models/single_aggregated_connection_response_data.rb
  lib/datadog_api_client/v2/models/single_aggregated_connection_response_data_attributes.rb
  lib/datadog_api_client/v2/models/single_aggregated_connection_response_data_type.rb
Due: generate, format-examples

Regenerate client from commit 2000c9c8 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/single_aggregated_connection_response_data_attributes.rb
Due: generate

Regenerate client from commit 1cc45c45 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/security_monitoring_standard_data_source.rb
Due: generate

Regenerate client from commit 9ea284b5 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/software-catalog/UpsertCatalogEntity.rb
  features/v2/software_catalog.feature
  lib/datadog_api_client/v2/models/entity_v3_datastore_spec.rb
  lib/datadog_api_client/v2/models/entity_v3_queue_spec.rb
  lib/datadog_api_client/v2/models/entity_v3_service_spec.rb
Due: generate, format-examples

Fix api name
  .generator/src/generator/cli.py
  .generator/src/generator/formatter.py
  .generator/src/generator/templates/api.j2
  .generator/src/generator/templates/inflector.j2
  features/step_definitions/request.rb
Due: generate

Regenerate client from commit f1a43647 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v1/slack-integration/CreateSlackIntegrationChannel.rb
  examples/v1/slack-integration/UpdateSlackIntegrationChannel.rb
  features/v1/slack_integration.feature
  lib/datadog_api_client/v1/models/slack_integration_channel_display.rb
Due: generate, format-examples

Regenerate client from commit 4468962d of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-network-monitoring/GetAggregatedConnections_3059356111.rb
  features/v2/cloud_network_monitoring.feature
  lib/datadog_api_client/v2/api/cloud_network_monitoring_api.rb
  lib/datadog_api_client/v2/models/single_aggregated_connection_response_array.rb
  lib/datadog_api_client/v2/models/single_aggregated_connection_response_data.rb
  lib/datadog_api_client/v2/models/single_aggregated_connection_response_data_attributes.rb
  lib/datadog_api_client/v2/models/single_aggregated_connection_response_data_type.rb
Due: generate, format-examples

Regenerate client from commit 17df409e of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/distribution_point_items.rb
  lib/datadog_api_client/v1/models/distribution_points_series.rb
Due: generate

Regenerate client from commit 73e22797 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/application_security_waf_custom_rule_tags_category.rb
Due: generate

Regenerate client from commit da94868e of spec repo
  .apigentools-info
  cassettes/features/v2/action_connection/Create-a-new-Action-Connection-returns-Bad-Request-response.frozen
  cassettes/features/v2/action_connection/Create-a-new-Action-Connection-returns-Bad-Request-response.yml
  cassettes/features/v2/action_connection/Create-a-new-Action-Connection-returns-Successfully-created-Action-Connection-response.frozen
  cassettes/features/v2/action_connection/Create-a-new-Action-Connection-returns-Successfully-created-Action-Connection-response.yml
  cassettes/features/v2/action_connection/Delete-an-existing-Action-Connection-returns-Not-Found-response.frozen
  cassettes/features/v2/action_connection/Delete-an-existing-Action-Connection-returns-Not-Found-response.yml
  cassettes/features/v2/action_connection/Delete-an-existing-Action-Connection-returns-The-resource-was-deleted-successfully-response.frozen
  cassettes/features/v2/action_connection/Delete-an-existing-Action-Connection-returns-The-resource-was-deleted-successfully-response.yml
  cassettes/features/v2/action_connection/Get-an-existing-Action-Connection-returns-Bad-Request-response.frozen
  cassettes/features/v2/action_connection/Get-an-existing-Action-Connection-returns-Bad-Request-response.yml
  cassettes/features/v2/action_connection/Get-an-existing-Action-Connection-returns-Not-Found-response.frozen
  cassettes/features/v2/action_connection/Get-an-existing-Action-Connection-returns-Not-Found-response.yml
  cassettes/features/v2/action_connection/Get-an-existing-Action-Connection-returns-Successfully-get-Action-Connection-response.frozen
  cassettes/features/v2/action_connection/Get-an-existing-Action-Connection-returns-Successfully-get-Action-Connection-response.yml
  cassettes/features/v2/action_connection/Update-an-existing-Action-Connection-returns-Bad-Request-response.frozen
  cassettes/features/v2/action_connection/Update-an-existing-Action-Connection-returns-Bad-Request-response.yml
  cassettes/features/v2/action_connection/Update-an-existing-Action-Connection-returns-Not-Found-response.frozen
  cassettes/features/v2/action_connection/Update-an-existing-Action-Connection-returns-Not-Found-response.yml
  cassettes/features/v2/action_connection/Update-an-existing-Action-Connection-returns-Successfully-updated-Action-Connection-response.frozen
  cassettes/features/v2/action_connection/Update-an-existing-Action-Connection-returns-Successfully-updated-Action-Connection-response.yml
  examples/v2/action-connection/CreateActionConnection.rb
  examples/v2/action-connection/DeleteActionConnection.rb
  examples/v2/action-connection/DeleteActionConnection_2142905164.rb
  features/v2/action_connection.feature
  features/v2/given.json
Due: format-examples

Regenerate client from commit de612b2d of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/formula_and_function_slo_query_type.rb
Due: generate

Regenerate client from commit 3909ab62 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/restriction_policies_api.rb
Due: generate
