Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

Regenerate client from commit 14c48bc8 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/synthetics/Create-a-global-variable-from-test-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Create-a-global-variable-from-test-returns-OK-response.yml
  cassettes/features/v1/synthetics/Create-an-API-test-with-multi-subtype-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-test-with-multi-subtype-returns-OK-Returns-the-created-test-details-response.yml
  examples/v1/synthetics/CreateSyntheticsAPITest_1279271422.rb
  features/v1/given.json
  features/v1/synthetics.feature
  features/v1/synthetics_api_test_multi_step_payload.json
  lib/datadog_api_client/v1/models/synthetics_api_step_subtype.rb
Due: generate, format-examples

Regenerate client from commit 45fd84e5 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/usage_metering_api.rb
Due: generate

Regenerate client from commit dc02d0d0 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v1/gcp_integration/Create-a-GCP-integration-returns-OK-response.frozen
  cassettes/features/v1/gcp_integration/Create-a-GCP-integration-returns-OK-response.yml
  cassettes/features/v1/gcp_integration/Update-a-GCP-integration-cloud-run-revision-filters-returns-OK-response.frozen
  cassettes/features/v1/gcp_integration/Update-a-GCP-integration-cloud-run-revision-filters-returns-OK-response.yml
  cassettes/features/v2/gcp_integration/Create-a-new-entry-for-your-service-account-with-cloud-run-revision-filters-enabled-returns-OK-response.frozen
  cassettes/features/v2/gcp_integration/Create-a-new-entry-for-your-service-account-with-cloud-run-revision-filters-enabled-returns-OK-response.yml
  cassettes/features/v2/gcp_integration/Update-STS-Service-Account-returns-OK-response-with-cloud-run-revision-filters.frozen
  cassettes/features/v2/gcp_integration/Update-STS-Service-Account-returns-OK-response-with-cloud-run-revision-filters.yml
  examples/v1/gcp-integration/UpdateGCPIntegration_3544259255.rb
  examples/v2/gcp-integration/CreateGCPSTSAccount_194782945.rb
  examples/v2/gcp-integration/UpdateGCPSTSAccount_2241994060.rb
  features/v1/gcp_integration.feature
  features/v2/gcp_integration.feature
  lib/datadog_api_client/v1/models/gcp_account.rb
  lib/datadog_api_client/v2/models/gcpsts_service_account_attributes.rb
Due: generate, format-examples

Regenerate client from commit 7e467650 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/ci_app_aggregate_sort.rb
  lib/datadog_api_client/v2/models/ci_app_pipelines_group_by.rb
  lib/datadog_api_client/v2/models/ci_app_tests_group_by.rb
Due: generate

Regenerate client from commit 1ec2d96a of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/metrics_api.rb
Due: generate

Regenerate client from commit 90ae1ed9 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/user_team_included.rb
  lib/datadog_api_client/v2/models/user_team_response.rb
Due: generate

Regenerate client from commit ea7f4c9f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/usage_attribution_sort.rb
  lib/datadog_api_client/v1/models/usage_attribution_supported_metrics.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit a79d8d5b of spec repo
  .apigentools-info
  features/v2/metrics.feature
Due: none

Regenerate client from commit 86101285 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_attribution_body.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit 30d313fd of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/monitor_formula_and_function_events_data_source.rb
Due: generate

Regenerate client from commit cc313cae of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/api/monitors_api.rb
  lib/datadog_api_client/v1/models/monitor.rb
  lib/datadog_api_client/v1/models/monitor_freshness.rb
Due: generate

Regenerate client from commit 76697835 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/hourly_usage_attribution_usage_type.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_supported_metrics.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_values.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
  lib/datadog_api_client/v2/api/usage_metering_api.rb
Due: generate

Regenerate client from commit d0c076c9 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/incident_integration_metadata_attributes.rb
  lib/datadog_api_client/v2/models/incident_integration_metadata_metadata.rb
  lib/datadog_api_client/v2/models/microsoft_teams_integration_metadata.rb
  lib/datadog_api_client/v2/models/microsoft_teams_integration_metadata_teams_item.rb
Due: generate

Regenerate client from commit 65e025be of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/monitors_api.rb
Due: generate

Regenerate client from commit 39b75d82 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/logs_archive_integration_gcs.rb
Due: generate

Regenerate client from commit 9bc5f106 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/v2/case_management.feature
Due: generate

Regenerate client from commit af330811 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  features/v1/logs.feature
  features/v1/metrics.feature
  features/v1/security_monitoring.feature
  features/v2/ip_allowlist.feature
  features/v2/logs.feature
  features/v2/logs_archives.feature
  features/v2/metrics.feature
  features/v2/okta_integration.feature
  features/v2/powerpack.feature
  features/v2/processes.feature
  features/v2/rum.feature
  features/v2/security_monitoring.feature
Due: generate

Regenerate client from commit a9aecd28 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  features/v1/service_checks.feature
  features/v1/service_level_objective_corrections.feature
  features/v1/tags.feature
  features/v1/webhooks_integration.feature
  features/v2/sensitive_data_scanner.feature
  features/v2/service_accounts.feature
  features/v2/service_scorecards.feature
  features/v2/spans_metrics.feature
  features/v2/teams.feature
Due: generate

Regenerate client from commit f478a381 of spec repo
  .apigentools-info
  cassettes/features/v1/azure_integration/Create-an-Azure-integration-returns-OK-response.frozen
  cassettes/features/v1/azure_integration/Create-an-Azure-integration-returns-OK-response.yml
  cassettes/features/v1/azure_integration/Delete-an-Azure-integration-returns-OK-response.frozen
  cassettes/features/v1/azure_integration/Delete-an-Azure-integration-returns-OK-response.yml
  cassettes/features/v1/azure_integration/Update-an-Azure-integration-returns-OK-response.frozen
  cassettes/features/v1/azure_integration/Update-an-Azure-integration-returns-OK-response.yml
  features/v1/given.json
Due: none

Regenerate client from commit bb5305bc of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/metrics/Related-Assets-to-a-Metric-returns-Success-response.frozen
  cassettes/features/v2/metrics/Related-Assets-to-a-Metric-returns-Success-response.yml
  examples/v2/metrics/ListMetricAssets.rb
  features/scenarios_model_mapping.rb
  features/v2/metrics.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/metrics_api.rb
  lib/datadog_api_client/v2/models/metric_asset_attributes.rb
  lib/datadog_api_client/v2/models/metric_asset_dashboard_relationship.rb
  lib/datadog_api_client/v2/models/metric_asset_dashboard_relationships.rb
  lib/datadog_api_client/v2/models/metric_asset_monitor_relationship.rb
  lib/datadog_api_client/v2/models/metric_asset_monitor_relationships.rb
  lib/datadog_api_client/v2/models/metric_asset_notebook_relationship.rb
  lib/datadog_api_client/v2/models/metric_asset_notebook_relationships.rb
  lib/datadog_api_client/v2/models/metric_asset_response_data.rb
  lib/datadog_api_client/v2/models/metric_asset_response_included.rb
  lib/datadog_api_client/v2/models/metric_asset_response_relationships.rb
  lib/datadog_api_client/v2/models/metric_asset_slo_relationship.rb
  lib/datadog_api_client/v2/models/metric_asset_slo_relationships.rb
  lib/datadog_api_client/v2/models/metric_assets_response.rb
  lib/datadog_api_client/v2/models/metric_dashboard_asset.rb
  lib/datadog_api_client/v2/models/metric_dashboard_attributes.rb
  lib/datadog_api_client/v2/models/metric_dashboard_type.rb
  lib/datadog_api_client/v2/models/metric_monitor_asset.rb
  lib/datadog_api_client/v2/models/metric_monitor_type.rb
  lib/datadog_api_client/v2/models/metric_notebook_asset.rb
  lib/datadog_api_client/v2/models/metric_notebook_type.rb
  lib/datadog_api_client/v2/models/metric_slo_asset.rb
  lib/datadog_api_client/v2/models/metric_slo_type.rb
Due: generate, format-examples

Regenerate client from commit be6551a9 of spec repo
  .apigentools-info
  features/v2/downtimes.feature
Due: none

Regenerate client from commit acf036aa of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/sensitive_data_scanner_standard_pattern_attributes.rb
Due: generate

Regenerate client from commit d76a4666 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/v2/service_scorecards.feature
Due: generate

Regenerate client from commit dbf17f07 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit ba5b230c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/service_definition/Get-all-service-definitions-returns-OK-response-with-pagination.yml
  lib/datadog_api_client/v2/api/service_definition_api.rb
Due: generate

Regenerate client from commit 52e6d7fb of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/hourly_usage_attribution_usage_type.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_supported_metrics.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_values.rb
Due: generate

Regenerate client from commit 0f7ad8f2 of spec repo
  .apigentools-info
  features/v2/downtimes.feature
Due: none

Add step to assert a field is not present
  .generator/conftest.py
  features/step_definitions/request.rb
Due: generate

Regenerate client from commit ac12ffe4 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/hourly_usage_attribution_usage_type.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_supported_metrics.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_values.rb
Due: generate

Fix method naming
  .generator/conftest.py
Due: generate

Add step to assert a field is not present (#1760)
  .generator/conftest.py
  features/step_definitions/request.rb
Due: generate

Regenerate client from commit e9113926 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/incident_services_api.rb
Due: generate

Regenerate client from commit 32fcfc91 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/ci_visibility_tests_api.rb
Due: generate

Regenerate client from commit 29884c34 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/synthetics/Create-a-global-variable-from-test-returns-OK-response.frozen
  cassettes/features/v1/synthetics/Create-a-global-variable-from-test-returns-OK-response.yml
  cassettes/features/v1/synthetics/Create-an-API-test-with-multi-subtype-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-test-with-multi-subtype-returns-OK-Returns-the-created-test-details-response.yml
  examples/v1/synthetics/CreateSyntheticsAPITest_1279271422.rb
  examples/v1/synthetics/UpdateBrowserTest.rb
  features/v1/given.json
  features/v1/synthetics.feature
  features/v1/synthetics_api_test_multi_step_payload.json
  lib/datadog_api_client/v1/models/synthetics_test_request.rb
Due: generate, format-examples
