Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

generated-features:
  name: Do not commit generated feature files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

Regenerate client from commit 9a30209 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/ServiceLevelObjectivesApi.md
  features/v1/service_level_objectives.feature
  lib/datadog_api_client/v1/api/service_level_objectives_api.rb
Due: generated, generated-features

pre-commit licensed
  .licenses/check.sh
  .pre-commit-config.yaml
Due: none

NOTICE
  .licenses/NOTICE
  .licenses/check.sh
  NOTICE
Due: none

no symlink
  .licenses/NOTICE
  .licenses/check.sh
  NOTICE
Due: none

remove licensed from Gemfile
  .licenses/check.sh
  Gemfile
Due: none

Don't run changelog check until PR is ready for review
  .github/workflows/changelog.yaml
Due: none

Don't run changelog check until PR is ready for review (#242)
  .github/workflows/changelog.yaml
Due: none

generate LICENSE-3rdparty.csv
  .licenses/licenses.py
  .pre-commit-config.yaml
  LICENSE-3rdparty.csv
Due: none

sorted
  .licenses/licenses.py
  LICENSE-3rdparty.csv
Due: none

ci: use DD_INSIDE_CI
  .azure-pipelines/all.yml
Due: none

ci: use DD_INSIDE_CI (#243)
  .azure-pipelines/all.yml
Due: none

set -e
  .licenses/check.sh
  .pre-commit-config.yaml
Due: none

Regenerate client from commit 193aff7 of spec repo
  .apigentools-info
  lib/datadog_api_client/v1/configuration.rb
  lib/datadog_api_client/v2/configuration.rb
Due: generated

List only committed spec files and test_files
  datadog_api_client.gemspec
Due: none

List only committed spec files and test_files (#245)
  datadog_api_client.gemspec
Due: none

Regenerate client from commit 95807f2 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/SLOHistoryResponseData.md
  docs/v1/SLOHistorySLIData.md
  lib/datadog_api_client/v1/models/slo_history_metrics.rb
  lib/datadog_api_client/v1/models/slo_history_response_data.rb
  lib/datadog_api_client/v1/models/slo_history_sli_data.rb
Due: generated

Regenerate client from commit cc977e5 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/TimeseriesWidgetDefinition.md
  docs/v1/TimeseriesWidgetLegendLayout.md
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/timeseries_widget_definition.rb
  lib/datadog_api_client/v1/models/timeseries_widget_legend_layout.rb
  spec/v1/models/timeseries_widget_legend_layout_spec.rb
Due: generated

Regenerate client from commit f22ef72 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/TimeseriesWidgetDefinition.md
  docs/v1/TimeseriesWidgetLegendColumn.md
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/timeseries_widget_definition.rb
  lib/datadog_api_client/v1/models/timeseries_widget_legend_column.rb
  spec/v1/models/timeseries_widget_legend_column_spec.rb
Due: generated

Regenerate client from commit dafec27 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/SLOHistoryMetrics.md
  docs/v1/SLOHistoryResponseData.md
  docs/v1/SLOHistorySLIData.md
  docs/v1/SLOThreshold.md
  docs/v1/ServiceLevelObjectivesApi.md
Due: none

Regenerate client from commit 3de82a7 of spec repo
  .apigentools-info
  data/v2/openapi.yaml
  docs/v2/MetricsApi.md
  lib/datadog_api_client/v2/api/metrics_api.rb
Due: generated

Regenerate client from commit cba6cab of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  features/v1/undo.json
Due: none

Regenerate client from commit c679afc of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  lib/datadog_api_client/v1/models/formula_and_function_event_aggregation.rb
Due: generated

Apply template-patches/ruby-doc-unstable-op.patch
  .generator/templates/api_doc.mustache
Due: none

Apply template-patches/ruby-unstable-operations.patch
  .generator/templates/api.mustache
  .generator/templates/configuration.mustache
Due: none

Apply template-patches/ruby-license-header.patch
  .generator/templates/api_info.mustache
Due: none

Apply template-patches/ruby-gem-require.patch
  .generator/templates/gem.mustache
Due: none

Apply template-patches/ruby-string-index-for-server-variables.patch
  .generator/templates/configuration.mustache
Due: none

Apply template-patches/ruby-examples-with-dd-site.patch
  .generator/templates/api_doc.mustache
Due: none

Apply template-patches/ruby-api-docs.patch
  .generator/templates/README.mustache
  .generator/templates/api_doc.mustache
Due: none

Apply template-patches/ruby-alias-auth-keys.patch
  .generator/templates/README.mustache
  .generator/templates/api_doc.mustache
Due: none

Regenerate client from commit 34cf37f of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/SyntheticsApi.md
  docs/v1/SyntheticsBrowserTest.md
  lib/datadog_api_client/v1/models/synthetics_browser_test.rb
Due: generated

Regenerate client from commit 7e667f1 of spec repo
  .apigentools-info
Due: none

Add NOTICE file
  NOTICE
Due: none

Add NOTICE file (#256)
  NOTICE
Due: none

Regenerate client from commit 1906d5b of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/UsageMeteringApi.md
  docs/v1/UsageTopAvgMetricsMetadata.md
  docs/v1/UsageTopAvgMetricsResponse.md
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/usage_top_avg_metrics_metadata.rb
  spec/v1/models/usage_top_avg_metrics_metadata_spec.rb
Due: generated

Regenerate client from commit b13ee4f of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/SyntheticsApi.md
  features/v1/synthetics.feature
  features/v1/undo.json
  lib/datadog_api_client/v1/api/synthetics_api.rb
Due: generated, generated-features

Add default env loading, fix examples
  .generator/templates/api_doc.mustache
  .generator/templates/configuration.mustache
Due: none

Regenerate client from commit b654b25 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/SLOWidgetDefinition.md
  lib/datadog_api_client/v1/models/slo_widget_definition.rb
Due: generated

Regenerate client from commit e5b275c of spec repo
  .apigentools-info
  .openapi-generator/FILES
  data/v2/openapi.yaml
  docs/v2/README.md
  docs/v2/SecurityMonitoringRuleQuery.md
  docs/v2/SecurityMonitoringRuleQueryCreate.md
  docs/v2/SecurityMonitoringRuntimeAgentRule.md
  lib/datadog_api_client/v2.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_query.rb
  lib/datadog_api_client/v2/models/security_monitoring_runtime_agent_rule.rb
  spec/v2/models/security_monitoring_runtime_agent_rule_spec.rb
Due: generated

Regenerate client from commit 075d167 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/UsageHostHour.md
  docs/v1/UsageSummaryDate.md
  docs/v1/UsageSummaryDateOrg.md
  docs/v1/UsageSummaryResponse.md
  lib/datadog_api_client/v1/models/usage_host_hour.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generated

Path conditions:
  generated: any of: ^lib/datadog_api_client/v[1-9].*
  generated-features: any of: ^features/v[1-9][0-9]*/.*.feature$
