Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

Regenerate client from commit d56d1f2 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/deployment_rule_options_monitor.rb
Due: generate

Regenerate client from commit fb473a3 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/dora_deployment_averaged_metrics.rb
  lib/datadog_api_client/v2/models/dora_deployment_object_attributes.rb
  lib/datadog_api_client/v2/models/dora_deployment_remediation.rb
Due: generate

Regenerate client from commit 396c2b3 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/observability-pipelines/ValidatePipeline_1874470273.rb
  features/v2/observability_pipelines.feature
  generated-test/test-runner-data/manifest.json
  generated-test/test-runner-data/v2/observability-pipelines/validate-an-observability-pipeline-with-splunk-hec-destination-endpoint-target-returns-ok-response.json
  generated-test/test-server-data/v2/observability-pipelines.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/observability_pipeline_splunk_hec_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_splunk_hec_destination_endpoint_target.rb
Due: generate, format-examples

Regenerate client from commit c5f7a98 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/metrics_api.rb
Due: generate

Regenerate client from commit bf00374 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/static-analysis/CreateSCAResult.rb
  features/v2/static_analysis.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_dependencies_items.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_dependencies_items_locations_items_file_position.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_dependencies_items_locations_items_nullable_file_position.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_scan_start_timestamp.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_tags.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_tags_tool.rb
  lib/datadog_api_client/v2/models/sca_request_data_attributes_tags_tool_generator.rb
Due: generate, format-examples

Regenerate client from commit 366b496 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/agent-observability/GetLLMObsPrompt_2452494832.rb
  features/scenarios_model_mapping.rb
  features/v2/agent_observability.feature
  lib/datadog_api_client/v2/api/agent_observability_api.rb
Due: generate, format-examples

Regenerate client from commit ac12f30 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/application_security_waf_custom_rule_condition_input_address.rb
Due: generate

Regenerate client from commit 1f11370 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/cloud_workload_security_agent_policy_attributes.rb
  lib/datadog_api_client/v2/models/cloud_workload_security_agent_rule_action.rb
  lib/datadog_api_client/v2/models/cloud_workload_security_agent_rule_action_set.rb
Due: generate

Regenerate client from commit 3d27e4b of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/threat-intelligence/AddSTIXThreatIntel.rb
  features/scenarios_model_mapping.rb
  features/v2/threat_intelligence.feature
  features/v2/undo.json
  generated-test/test-runner-data/manifest.json
  generated-test/test-runner-data/v2/threat-intelligence/ingest-stix-threat-intelligence-returns-ok-response.json
  generated-test/test-server-data/manifest.json
  generated-test/test-server-data/v2/threat-intelligence.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/threat_intelligence_api.rb
  lib/datadog_api_client/v2/models/stix_bundle_request.rb
  lib/datadog_api_client/v2/models/stix_bundle_type.rb
  lib/datadog_api_client/v2/models/stix_content_encoding.rb
  lib/datadog_api_client/v2/models/stix_ingest_response.rb
  lib/datadog_api_client/v2/models/stix_ingest_response_attributes.rb
  lib/datadog_api_client/v2/models/stix_ingest_response_data.rb
  lib/datadog_api_client/v2/models/stix_ingest_response_type.rb
  lib/datadog_api_client/v2/models/stix_object.rb
  lib/datadog_api_client/v2/models/stix_pattern_type.rb
  lib/datadog_api_client/v2/models/stix_spec_version.rb
Due: generate, format-examples

Regenerate client from commit b54f156 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/agent-observability/CreateLLMObsAnnotationQueue.rb
  examples/v2/agent-observability/UpdateLLMObsAnnotationQueue.rb
  examples/v2/agent-observability/UpsertLLMObsAnnotations.rb
  features/v2/agent_observability.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/agent_observability_api.rb
  lib/datadog_api_client/v2/models/llm_obs_annotated_interaction_by_trace_item.rb
  lib/datadog_api_client/v2/models/llm_obs_annotation_error.rb
  lib/datadog_api_client/v2/models/llm_obs_annotation_error_code.rb
  lib/datadog_api_client/v2/models/llm_obs_annotation_queue_data_attributes_request.rb
  lib/datadog_api_client/v2/models/llm_obs_annotation_queue_data_attributes_response.rb
  lib/datadog_api_client/v2/models/llm_obs_annotation_queue_update_data_attributes_request.rb
  lib/datadog_api_client/v2/models/llm_obs_display_block_annotated_interaction_item.rb
  lib/datadog_api_client/v2/models/llm_obs_trace_annotated_interaction_item.rb
Due: generate, format-examples

Regenerate client from commit c38672d of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_destination_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_opentelemetry_metrics_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_opentelemetry_metrics_destination_type.rb
Due: generate

Regenerate client from commit ad7bd2a of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/event.rb
  lib/datadog_api_client/v2/models/event_attributes.rb
  lib/datadog_api_client/v2/models/event_priority.rb
  lib/datadog_api_client/v2/models/event_status_type.rb
  lib/datadog_api_client/v2/models/events_request_page.rb
Due: generate

Regenerate client from commit f5ef2e8 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/execution_limit.rb
  lib/datadog_api_client/v2/models/incident_condition.rb
  lib/datadog_api_client/v2/models/incident_created_trigger.rb
  lib/datadog_api_client/v2/models/incident_created_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/incident_impact_created_trigger.rb
  lib/datadog_api_client/v2/models/incident_impact_created_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/incident_impact_updated_trigger.rb
  lib/datadog_api_client/v2/models/incident_impact_updated_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/incident_postmortem_updated_trigger.rb
  lib/datadog_api_client/v2/models/incident_postmortem_updated_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/incident_responder_created_trigger.rb
  lib/datadog_api_client/v2/models/incident_responder_created_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/incident_saved_trigger.rb
  lib/datadog_api_client/v2/models/incident_saved_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/incident_schedule_trigger.rb
  lib/datadog_api_client/v2/models/incident_schedule_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/incident_tag_value.rb
  lib/datadog_api_client/v2/models/incident_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/serial_execution.rb
  lib/datadog_api_client/v2/models/slack_reaction_config.rb
  lib/datadog_api_client/v2/models/slack_trigger.rb
  lib/datadog_api_client/v2/models/slack_trigger_wrapper.rb
  lib/datadog_api_client/v2/models/trigger.rb
Due: generate

Regenerate client from commit cec3e6b of spec repo
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  examples/v1/dashboards/GetDashboard_3568243180.rb
  examples/v2/dashboard-lists/GetDashboardListItems_2618168713.rb
  features/v1/dashboards.feature
  features/v1/given.json
  features/v2/dashboard_lists.feature
  features/v2/given.json
  generated-test/test-runner-data/manifest.json
  generated-test/test-runner-data/v1/dashboards/get-a-dashboard-with-five-team-tags-and-two-ai-tags.json
  generated-test/test-runner-data/v2/dashboard-lists/get-dashboard-list-items-with-five-team-tags-and-two-ai-tags.json
  lib/datadog_api_client/v1/models/dashboard.rb
  lib/datadog_api_client/v2/models/dashboard_list_item.rb
Due: generate, format-examples

Regenerate client from commit ad868cb of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/issues_search_result_included.rb
Due: generate

Regenerate client from commit c162efd of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/detach_case_request_data.rb
Due: generate

Regenerate client from commit 6dba2a8 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/usage-metering/CreateQuotas.rb
  examples/v2/usage-metering/DeleteQuota.rb
  examples/v2/usage-metering/ListQuotas.rb
  examples/v2/usage-metering/ListQuotas_918754421.rb
  examples/v2/usage-metering/UpdateQuota.rb
  features/scenarios_model_mapping.rb
  features/v2/undo.json
  features/v2/usage_metering.feature
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/usage_metering_api.rb
  lib/datadog_api_client/v2/models/usage_quota_bulk_result_attributes.rb
  lib/datadog_api_client/v2/models/usage_quota_bulk_result_data.rb
  lib/datadog_api_client/v2/models/usage_quota_create_attributes.rb
  lib/datadog_api_client/v2/models/usage_quota_create_data.rb
  lib/datadog_api_client/v2/models/usage_quota_response.rb
  lib/datadog_api_client/v2/models/usage_quota_response_attributes.rb
  lib/datadog_api_client/v2/models/usage_quota_response_data.rb
  lib/datadog_api_client/v2/models/usage_quota_type.rb
  lib/datadog_api_client/v2/models/usage_quota_update_attributes.rb
  lib/datadog_api_client/v2/models/usage_quota_update_data.rb
  lib/datadog_api_client/v2/models/usage_quota_update_request.rb
  lib/datadog_api_client/v2/models/usage_quotas_bulk_response.rb
  lib/datadog_api_client/v2/models/usage_quotas_create_request.rb
  lib/datadog_api_client/v2/models/usage_quotas_list_response.rb
  lib/datadog_api_client/v2/models/usage_quotas_response_meta.rb
  lib/datadog_api_client/v2/models/usage_quotas_response_meta_page.rb
Due: generate, format-examples

TEST add versioned request Cucumber step
  features/step_definitions/request.rb
Due: none

Regenerate client from commit 3445017 of spec repo
  .generator/schemas/v1/openapi.yaml
  examples/v1/dashboards/ListDashboards_3883013570.rb
  features/scenarios_model_mapping.rb
  features/v1/dashboards.feature
  generated-test/test-runner-data/manifest.json
  generated-test/test-runner-data/v1/dashboards/get-all-dashboards-with-version-2027-01-01-returns-ok-response.json
  generated-test/test-server-data/v1/dashboards.json
  lib/datadog_api_client.rb
  lib/datadog_api_client/api_client.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/models.rb
  lib/datadog_api_client/v1_20270101/api/dashboards_api.rb
  lib/datadog_api_client/v1_20270101/model_base.rb
  lib/datadog_api_client/v1_20270101/models/dashboard_summary.rb
  lib/datadog_api_client/v1_20270101/models/dashboard_summary_definition.rb
  lib/datadog_api_client/v1_20270101/models/dashboard_summary_id.rb
  lib/datadog_api_client/v2/model_base.rb
Due: generate, format-examples

Bump versions and add changelog entries.
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit 92bf585 of spec repo
  .generator/schemas/v2/openapi.yaml
  generated-test/test-server
  lib/datadog_api_client/v2/api/cloud_cost_management_api.rb
Due: generate

Regenerate client from commit f90600e of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/agent-observability/GetLLMObsAnnotatedInteraction.rb
  features/scenarios_model_mapping.rb
  features/v2/agent_observability.feature
  features/v2/undo.json
  generated-test/test-server
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/agent_observability_api.rb
  lib/datadog_api_client/v2/models/llm_obs_annotated_interaction_by_trace_item.rb
  lib/datadog_api_client/v2/models/llm_obs_annotated_interaction_data_attributes_response.rb
  lib/datadog_api_client/v2/models/llm_obs_annotated_interaction_data_response.rb
  lib/datadog_api_client/v2/models/llm_obs_annotated_interaction_item.rb
  lib/datadog_api_client/v2/models/llm_obs_annotated_interaction_response.rb
  lib/datadog_api_client/v2/models/llm_obs_annotation_item.rb
  lib/datadog_api_client/v2/models/llm_obs_annotation_queue_interaction_item.rb
  lib/datadog_api_client/v2/models/llm_obs_annotation_queue_interaction_response_item.rb
  lib/datadog_api_client/v2/models/llm_obs_frontend_annotated_interaction_item.rb
  lib/datadog_api_client/v2/models/llm_obs_frontend_content.rb
  lib/datadog_api_client/v2/models/llm_obs_frontend_interaction_item.rb
  lib/datadog_api_client/v2/models/llm_obs_frontend_interaction_response_item.rb
  lib/datadog_api_client/v2/models/llm_obs_frontend_interaction_type.rb
  lib/datadog_api_client/v2/models/llm_obs_trace_annotated_interaction_item.rb
Due: generate, format-examples

Regenerate client from commit a72df82 of spec repo
  .generator/schemas/v2/openapi.yaml
  generated-test/test-server
  lib/datadog_api_client/v2/models/cloud_workload_security_agent_rule_action.rb
  lib/datadog_api_client/v2/models/cloud_workload_security_agent_rule_attributes.rb
Due: generate

Regenerate client from commit 165e9eb of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/feature-flags/CreateAllocationsForFeatureFlagInEnvironment.rb
  examples/v2/feature-flags/UpdateAllocationsForFeatureFlagInEnvironment.rb
  examples/v2/feature-flags/UpdateAllocationsForFeatureFlagInEnvironment_2978423597.rb
  features/v2/feature_flags.feature
  generated-test/test-runner-data/manifest.json
  generated-test/test-runner-data/v2/feature-flags/update-targeting-rules-for-a-flag-in-an-environment-with-a-scheduled-start-returns-ok-response.json
  generated-test/test-server
  generated-test/test-server-data/v2/feature-flags.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/allocation_exposure_schedule.rb
  lib/datadog_api_client/v2/models/environment_attributes.rb
  lib/datadog_api_client/v2/models/feature_flag_attributes.rb
  lib/datadog_api_client/v2/models/feature_flag_attributes_staleness_details.rb
  lib/datadog_api_client/v2/models/feature_flag_environment.rb
  lib/datadog_api_client/v2/models/rollout_options_request.rb
Due: generate, format-examples

Regenerate client from commit 180d4fe of spec repo
  .generator/schemas/v2/openapi.yaml
  generated-test/test-server
  lib/datadog_api_client/v2/api/restriction_policies_api.rb
Due: generate

Regenerate client from commit 6d12be4 of spec repo
  .generator/schemas/v2/openapi.yaml
  generated-test/test-server
  lib/datadog_api_client/v2/models/cloud_workload_security_agent_policy_attributes.rb
Due: generate

Regenerate client from commit c8438d2 of spec repo
  generated-test/test-server
Due: none

Regenerate client from commit dbd89fa of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/product-catalog/ListProductCatalogSKUs.rb
  features/scenarios_model_mapping.rb
  features/v2/product_catalog.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/product_catalog_api.rb
  lib/datadog_api_client/v2/models/product_catalog_sk_us_api_version.rb
  lib/datadog_api_client/v2/models/product_catalog_sk_us_response.rb
  lib/datadog_api_client/v2/models/product_catalog_sku_allotment.rb
  lib/datadog_api_client/v2/models/product_catalog_sku_data_attributes_response.rb
  lib/datadog_api_client/v2/models/product_catalog_sku_data_response.rb
  lib/datadog_api_client/v2/models/product_catalog_sku_on_demand_option.rb
  lib/datadog_api_client/v2/models/product_catalog_sku_pricing_tier.rb
  lib/datadog_api_client/v2/models/product_catalog_sku_pricing_type.rb
  lib/datadog_api_client/v2/models/product_catalog_sku_pricing_unit_type.rb
  lib/datadog_api_client/v2/models/product_catalog_sku_tiered_pricing.rb
  lib/datadog_api_client/v2/models/product_catalog_sku_type.rb
Due: generate, format-examples

Regenerate client from commit 38932df of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/maintenance_data_attributes.rb
Due: generate

Regenerate client from commit dae1409 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/workflow-automation/CreateWorkflow.rb
  examples/v2/workflow-automation/UpdateWorkflow.rb
  features/v2/given.json
  features/v2/workflow_automation.feature
  generated-test/test-runner-data/v2/workflow-automation/create-a-workflow-returns-successfully-created-a-workflow-response.json
  generated-test/test-runner-data/v2/workflow-automation/update-an-existing-workflow-returns-successfully-updated-a-workflow-response.json
  generated-test/test-server-data/v2/workflow-automation.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/workflow_data_attributes.rb
  lib/datadog_api_client/v2/models/workflow_data_relationships.rb
  lib/datadog_api_client/v2/models/workflow_data_update_attributes.rb
  lib/datadog_api_client/v2/models/workflow_list_item_attributes.rb
  lib/datadog_api_client/v2/models/workflow_run_as.rb
  lib/datadog_api_client/v2/models/workflow_run_as_initiator.rb
  lib/datadog_api_client/v2/models/workflow_run_as_initiator_type.rb
  lib/datadog_api_client/v2/models/workflow_run_as_owner.rb
  lib/datadog_api_client/v2/models/workflow_run_as_owner_type.rb
  lib/datadog_api_client/v2/models/workflow_run_as_service_account.rb
  lib/datadog_api_client/v2/models/workflow_run_as_service_account_type.rb
  lib/datadog_api_client/v2/models/workflow_run_as_user_mode.rb
Due: generate, format-examples

Regenerate client from commit 0ca16fc of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/org-groups/UpdateOrgGroupPolicy.rb
  features/scenarios_model_mapping.rb
  features/v2/org_groups.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/org_groups_api.rb
  lib/datadog_api_client/v2/models/org_group_policy_attributes.rb
  lib/datadog_api_client/v2/models/org_group_policy_create_attributes.rb
  lib/datadog_api_client/v2/models/org_group_policy_create_data.rb
  lib/datadog_api_client/v2/models/org_group_policy_enforcement_tier.rb
  lib/datadog_api_client/v2/models/org_group_policy_filter_policy_type_value.rb
  lib/datadog_api_client/v2/models/org_group_policy_update_attributes.rb
  lib/datadog_api_client/v2/models/org_group_policy_update_data.rb
Due: generate, format-examples

Regenerate client from commit 914e068 of spec repo
  .generator/schemas/v1/openapi.yaml
  examples/v1/monitors/CreateMonitor_1553931399.rb
  examples/v1/monitors/CreateMonitor_2986418353.rb
  features/v1/monitors.feature
  generated-test/test-runner-data/manifest.json
  generated-test/test-runner-data/v1/monitors/create-a-data-quality-monitor-with-a-model-configuration-returns-ok-response.json
  generated-test/test-runner-data/v1/monitors/create-a-data-quality-monitor-with-a-source-to-target-configuration-returns-ok-response.json
  generated-test/test-server-data/v1/monitors.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_data_quality_diff_function.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_data_quality_diff_type.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_data_quality_entity_metric_config.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_data_quality_model_bounds_override.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_data_quality_model_configuration.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_data_quality_source_to_target_config.rb
Due: generate, format-examples

Regenerate client from commit 1f2a994 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/feature_flags_api.rb
  lib/datadog_api_client/v2/models/update_feature_flag_attributes.rb
Due: generate

Regenerate client from commit 5f43a44 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/observability-pipelines/ValidatePipeline_3116312807.rb
  features/v2/observability_pipelines.feature
  generated-test/test-runner-data/manifest.json
  generated-test/test-runner-data/v2/observability-pipelines/validate-an-observability-pipeline-with-splunk-tcp-source-max-connection-duration-secs-returns-ok-response.json
  generated-test/test-server-data/v2/observability-pipelines.json
  lib/datadog_api_client/v2/models/observability_pipeline_splunk_tcp_source.rb
Due: generate, format-examples

Regenerate client from commit f73b6b3 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/feature-flags/CreateFeatureFlag.rb
  features/v2/feature_flags.feature
  generated-test/test-runner-data/v2/feature-flags/create-a-feature-flag-returns-created-response.json
  generated-test/test-server-data/v2/feature-flags.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/create_feature_flag_attributes.rb
  lib/datadog_api_client/v2/models/create_feature_flag_staleness_status.rb
  lib/datadog_api_client/v2/models/feature_flag_distribution_channel.rb
Due: generate, format-examples

Regenerate client from commit 0fe078e of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/rum-operations/CreateRUMOperationStrongLink.rb
  examples/v2/rum-operations/DeleteRUMOperationStrongLink.rb
  examples/v2/rum-operations/ListRUMOperationStrongLinks.rb
  examples/v2/rum-operations/UpdateRUMOperationStrongLink.rb
  features/v2/rum_operations.feature
  lib/datadog_api_client/v2/api/rum_operations_api.rb
  lib/datadog_api_client/v2/models/rum_operation_request_attributes.rb
  lib/datadog_api_client/v2/models/rum_operation_response_attributes.rb
  lib/datadog_api_client/v2/models/rum_operation_strong_link_create_request.rb
  lib/datadog_api_client/v2/models/rum_operation_strong_link_create_request_attributes.rb
  lib/datadog_api_client/v2/models/rum_operation_strong_link_create_request_data.rb
  lib/datadog_api_client/v2/models/rum_operation_strong_link_response.rb
  lib/datadog_api_client/v2/models/rum_operation_strong_link_response_attributes.rb
  lib/datadog_api_client/v2/models/rum_operation_strong_link_response_data.rb
  lib/datadog_api_client/v2/models/rum_operation_strong_link_status.rb
  lib/datadog_api_client/v2/models/rum_operation_strong_link_type.rb
  lib/datadog_api_client/v2/models/rum_operation_strong_link_update_request.rb
  lib/datadog_api_client/v2/models/rum_operation_strong_link_update_request_attributes.rb
  lib/datadog_api_client/v2/models/rum_operation_strong_link_update_request_data.rb
  lib/datadog_api_client/v2/models/rum_operation_strong_link_update_status.rb
  lib/datadog_api_client/v2/models/rum_operation_strong_links_list_response.rb
  lib/datadog_api_client/v2/models/rum_operation_strong_links_list_response_meta.rb
Due: generate, format-examples

Fix gem packaging for generated test assets
  CHANGELOG.md
  datadog_api_client.gemspec
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit 398fb5e of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/csm-ownership/CreateOwnershipFeedback.rb
  features/v2/csm_ownership.feature
  lib/datadog_api_client/v2/models/ownership_feedback_request_attributes.rb
Due: generate, format-examples

Fix gem packaging for generated test assets (#3766)
  CHANGELOG.md
  datadog_api_client.gemspec
  lib/datadog_api_client/version.rb
Due: generate
