Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Regenerate client from commit 0f558cbc of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/monitors_api.rb
Due: generate

Bump datadog_api_client to 2.28.1
  lib/datadog_api_client/version.rb
Due: generate

Bump datadog_api_client to 2.28.1.dev.1
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit efa118f1 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/signal_archive_reason.rb
Due: generate

Regenerate client from commit 66d9d069 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit 8233abfb of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  features/v1/synthetics.feature
  lib/datadog_api_client/v1/models/synthetics_mobile_test_options.rb
  lib/datadog_api_client/v1/models/synthetics_test_restriction_policy_binding.rb
Due: generate

pre-commit fixes
  examples/v2/security-monitoring/ListHistoricalJobs.rb
Due: format-examples

Regenerate client from commit ae3b5463 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/hourly_usage_attribution_usage_type.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_supported_metrics.rb
  lib/datadog_api_client/v1/models/monthly_usage_attribution_values.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

pre-commit fixes
  examples/v2/security-monitoring/CancelHistoricalJob.rb
  examples/v2/security-monitoring/ListHistoricalJobs.rb
Due: format-examples

pre-commit fixes
  examples/v2/security-monitoring/GetHistoricalJob.rb
  examples/v2/security-monitoring/ListHistoricalJobs.rb
Due: format-examples

pre-commit fixes
  examples/v2/security-monitoring/CancelHistoricalJob.rb
  examples/v2/security-monitoring/GetHistoricalJob.rb
Due: format-examples

pre-commit fixes
  examples/v2/security-monitoring/GetHistoricalJob.rb
Due: format-examples

pre-commit fixes
  examples/v2/security-monitoring/CancelHistoricalJob.rb
  examples/v2/security-monitoring/GetHistoricalJob.rb
  examples/v2/security-monitoring/ListHistoricalJobs.rb
Due: format-examples

Regenerate client from commit 9de1804a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v2/security-monitoring/CancelHistoricalJob.rb
  examples/v2/security-monitoring/GetHistoricalJob.rb
  examples/v2/security-monitoring/ListHistoricalJobs.rb
  lib/datadog_api_client/v1/models/formula_and_function_slo_measure.rb
Due: generate, format-examples

bump ddtrace
  Gemfile
Due: none

Revert "bump ddtrace"
  Gemfile
Due: none

Regenerate client from commit 67b7e114 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  examples/v2/security-monitoring/CancelHistoricalJob.rb
  features/v1/synthetics.feature
  lib/datadog_api_client/v1/models/synthetics_test_restriction_policy_binding.rb
Due: generate, format-examples

pre-commit fixes
  examples/v2/security-monitoring/CancelHistoricalJob.rb
Due: format-examples

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
