Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

Redact Authorization (Bearer) header in sanitize_request_header
  .generator/src/generator/templates/api_client.j2
  lib/datadog_api_client/api_client.rb
  spec/api_client_spec.rb
Due: generate

Regenerate client from commit d3ea9aa of spec repo
  .generator/schemas/v1/openapi.yaml
  features/v1/logs_pipelines.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/logs_exclude_attribute_processor.rb
  lib/datadog_api_client/v1/models/logs_exclude_attribute_processor_type.rb
  lib/datadog_api_client/v1/models/logs_processor.rb
Due: generate

Regenerate client from commit 1b59d52 of spec repo
  features/v1/authentication.feature
  features/v1/key_management.feature
  features/v2/key_management.feature
  features/v2/service_accounts.feature
Due: none

Regenerate client from commit 0a5bf24 of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-scatterplot-widget.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-scatterplot-widget.yml
  examples/v1/dashboards/CreateDashboard_2342457693.rb
  features/v1/dashboards.feature
  features/v1/dashboards_json_payload/scatterplot_widget.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/scatterplot_data_projection_dimension.rb
  lib/datadog_api_client/v1/models/scatterplot_data_projection_projection.rb
  lib/datadog_api_client/v1/models/scatterplot_data_projection_projection_type.rb
  lib/datadog_api_client/v1/models/scatterplot_data_projection_query.rb
  lib/datadog_api_client/v1/models/scatterplot_data_projection_query_storage.rb
  lib/datadog_api_client/v1/models/scatterplot_table_request.rb
  lib/datadog_api_client/v1/models/scatterplot_table_request_type.rb
Due: generate, format-examples

Regenerate client from commit 3e64083 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit 0e89933 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Redact Authorization (Bearer) header in sanitize_request_header (#3340)
  .generator/src/generator/templates/api_client.j2
  lib/datadog_api_client/api_client.rb
  spec/api_client_spec.rb
Due: generate

Regenerate client from commit c07672a of spec repo
  .generator/schemas/v1/openapi.yaml
  features/v1/monitors.feature
  lib/datadog_api_client/v1/models/monitor_formula_and_function_event_query_definition_compute.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_event_query_group_by.rb
Due: generate

Regenerate client from commit 699ba3f of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/synthetics/Create-an-API-test-with-MCP-steps-returns-OK-Returns-the-created-test-details-response.frozen
  cassettes/features/v1/synthetics/Create-an-API-test-with-MCP-steps-returns-OK-Returns-the-created-test-details-response.yml
  examples/v1/synthetics/CreateSyntheticsAPITest_2547523542.rb
  examples/v1/synthetics/UpdateBrowserTest.rb
  features/v1/synthetics.feature
  features/v1/synthetics_api_test_mcp_payload.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/synthetics_api_test_step_subtype.rb
  lib/datadog_api_client/v1/models/synthetics_assertion.rb
  lib/datadog_api_client/v1/models/synthetics_assertion_mcp_respects_specification.rb
  lib/datadog_api_client/v1/models/synthetics_assertion_mcp_respects_specification_type.rb
  lib/datadog_api_client/v1/models/synthetics_assertion_mcp_server_capabilities_target.rb
  lib/datadog_api_client/v1/models/synthetics_assertion_mcp_server_capabilities_type.rb
  lib/datadog_api_client/v1/models/synthetics_assertion_type.rb
  lib/datadog_api_client/v1/models/synthetics_mcp_protocol_version.rb
  lib/datadog_api_client/v1/models/synthetics_mcp_server_capability.rb
  lib/datadog_api_client/v1/models/synthetics_test_request.rb
Due: generate, format-examples

Regenerate client from commit f5a7e23 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit 4bd3443 of spec repo
  cassettes/features/v2/app_builder/Create-Publish-Request-returns-Not-Found-response.frozen
  cassettes/features/v2/app_builder/Create-Publish-Request-returns-Not-Found-response.yml
  cassettes/features/v2/app_builder/List-App-Versions-returns-Not-Found-response.frozen
  cassettes/features/v2/app_builder/List-App-Versions-returns-Not-Found-response.yml
  cassettes/features/v2/app_builder/List-App-Versions-returns-OK-response.frozen
  cassettes/features/v2/app_builder/List-App-Versions-returns-OK-response.yml
  cassettes/features/v2/app_builder/Name-App-Version-returns-No-Content-response.frozen
  cassettes/features/v2/app_builder/Name-App-Version-returns-No-Content-response.yml
  cassettes/features/v2/app_builder/Name-App-Version-returns-Not-Found-response.frozen
  cassettes/features/v2/app_builder/Name-App-Version-returns-Not-Found-response.yml
  cassettes/features/v2/app_builder/Revert-App-returns-Not-Found-response.frozen
  cassettes/features/v2/app_builder/Revert-App-returns-Not-Found-response.yml
  cassettes/features/v2/app_builder/Update-App-Favorite-Status-returns-No-Content-response.frozen
  cassettes/features/v2/app_builder/Update-App-Favorite-Status-returns-No-Content-response.yml
  cassettes/features/v2/app_builder/Update-App-Favorite-Status-returns-Not-Found-response.frozen
  cassettes/features/v2/app_builder/Update-App-Favorite-Status-returns-Not-Found-response.yml
  cassettes/features/v2/app_builder/Update-App-Protection-Level-returns-Not-Found-response.frozen
  cassettes/features/v2/app_builder/Update-App-Protection-Level-returns-Not-Found-response.yml
  cassettes/features/v2/app_builder/Update-App-Protection-Level-returns-OK-response.frozen
  cassettes/features/v2/app_builder/Update-App-Protection-Level-returns-OK-response.yml
  cassettes/features/v2/app_builder/Update-App-Self-Service-Status-returns-No-Content-response.frozen
  cassettes/features/v2/app_builder/Update-App-Self-Service-Status-returns-No-Content-response.yml
  cassettes/features/v2/app_builder/Update-App-Self-Service-Status-returns-Not-Found-response.frozen
  cassettes/features/v2/app_builder/Update-App-Self-Service-Status-returns-Not-Found-response.yml
  cassettes/features/v2/app_builder/Update-App-Tags-returns-No-Content-response.frozen
  cassettes/features/v2/app_builder/Update-App-Tags-returns-No-Content-response.yml
  cassettes/features/v2/app_builder/Update-App-Tags-returns-Not-Found-response.frozen
  cassettes/features/v2/app_builder/Update-App-Tags-returns-Not-Found-response.yml
  examples/v2/app-builder/ListAppVersions.rb
  examples/v2/app-builder/UpdateAppFavorite.rb
  examples/v2/app-builder/UpdateAppSelfService.rb
  examples/v2/app-builder/UpdateAppTags.rb
  examples/v2/app-builder/UpdateAppVersionName.rb
  examples/v2/app-builder/UpdateProtectionLevel.rb
  features/v2/app_builder.feature
Due: format-examples

Regenerate client from commit ab6ab4a of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit 7dbcff9 of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate
