Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

Regenerate client from commit befda92 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/observability_pipeline_parse_grok_processor_rule.rb
Due: generate

Regenerate client from commit 2bd0391 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_security_lake_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_security_lake_destination_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_destination_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_source_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_custom_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_custom_processor_remap.rb
  lib/datadog_api_client/v2/models/observability_pipeline_custom_processor_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_datadog_tags_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_datadog_tags_processor_action.rb
  lib/datadog_api_client/v2/models/observability_pipeline_datadog_tags_processor_mode.rb
  lib/datadog_api_client/v2/models/observability_pipeline_datadog_tags_processor_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_encoding.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_bytes.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_bytes_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_character_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_character_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_newline_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_framing_newline_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_mode.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_bytes.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_bytes_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_character_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_character_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_chunked_gelf.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_chunked_gelf_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_newline_delimited.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_newline_delimited_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_octet_counting.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_framing_octet_counting_method.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_mode.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_source_type.rb
Due: generate

Regenerate client from commit 2bbbc7d of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_destination_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_crowd_strike_next_gen_siem_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_crowd_strike_next_gen_siem_destination_compression.rb
  lib/datadog_api_client/v2/models/observability_pipeline_crowd_strike_next_gen_siem_destination_compression_algorithm.rb
  lib/datadog_api_client/v2/models/observability_pipeline_crowd_strike_next_gen_siem_destination_encoding.rb
  lib/datadog_api_client/v2/models/observability_pipeline_crowd_strike_next_gen_siem_destination_type.rb
Due: generate

Regenerate client from commit fd3370f of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-network-monitoring/GetAggregatedConnections.rb
  examples/v2/cloud-network-monitoring/GetAggregatedConnections_3059356111.rb
  examples/v2/cloud-network-monitoring/GetAggregatedDns.rb
  features/v2/cloud_network_monitoring.feature
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/cloud_network_monitoring_api.rb
Due: generate, format-examples

Regenerate client from commit 90a41dc of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/relationship_to_incident_user_defined_field_data.rb
Due: generate

Regenerate client from commit d02c8a3 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Create-a-scheduled-detection-rule-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Create-a-scheduled-detection-rule-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Create-a-scheduled-rule-without-rrule-returns-Bad-Request-response.frozen
  cassettes/features/v2/security_monitoring/Create-a-scheduled-rule-without-rrule-returns-Bad-Request-response.yml
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_868881438.rb
  features/v2/security_monitoring.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_update_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_scheduling_options.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_create_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_query.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_standard_rule_test_payload.rb
Due: generate, format-examples

Regenerate client from commit 3dcb30e of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/aws_namespace_filters_exclude_only.rb
Due: generate

Regenerate client from commit 546fde5 of spec repo
  .generated-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/geomap_widget_definition_view.rb
Due: generate

Regenerate client from commit 86cd74f of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/aws_assume_role.rb
  lib/datadog_api_client/v2/models/aws_assume_role_type.rb
  lib/datadog_api_client/v2/models/aws_assume_role_update.rb
  lib/datadog_api_client/v2/models/aws_credentials.rb
  lib/datadog_api_client/v2/models/aws_credentials_update.rb
  lib/datadog_api_client/v2/models/aws_integration.rb
  lib/datadog_api_client/v2/models/aws_integration_type.rb
  lib/datadog_api_client/v2/models/aws_integration_update.rb
  lib/datadog_api_client/v2/models/http_basic_auth.rb
  lib/datadog_api_client/v2/models/http_basic_auth_type.rb
  lib/datadog_api_client/v2/models/http_basic_auth_update.rb
  lib/datadog_api_client/v2/models/http_credentials.rb
  lib/datadog_api_client/v2/models/http_credentials_update.rb
  lib/datadog_api_client/v2/models/http_integration_update.rb
  lib/datadog_api_client/v2/models/http_mtls_auth.rb
  lib/datadog_api_client/v2/models/http_mtls_auth_type.rb
  lib/datadog_api_client/v2/models/http_mtls_auth_update.rb
  lib/datadog_api_client/v2/models/http_token_auth.rb
  lib/datadog_api_client/v2/models/http_token_auth_type.rb
  lib/datadog_api_client/v2/models/http_token_auth_update.rb
Due: generate

Regenerate client from commit bf288d9 of spec repo
  .generated-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit 244eba8 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 2d46d10 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Bump versions and add changelog entries.
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit 872cf6d of spec repo
  .generated-info
  .generator/schemas/v1/openapi.yaml
  features/v1/logs_indexes.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/logs_api_limit_reached_response.rb
Due: generate

Regenerate client from commit 3a6cb30 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit b4cd1f2 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 6b8994f of spec repo
  .generated-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/geomap_widget_definition_view.rb
Due: generate

Regenerate client from commit 8001cbb of spec repo
  .generated-info
  cassettes/features/v2/security_monitoring/Convert-a-rule-from-JSON-to-Terraform-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Convert-a-rule-from-JSON-to-Terraform-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Convert-an-existing-rule-from-JSON-to-Terraform-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Convert-an-existing-rule-from-JSON-to-Terraform-returns-OK-response.yml
  examples/v2/security-monitoring/ConvertExistingSecurityMonitoringRule.rb
  examples/v2/security-monitoring/ConvertSecurityMonitoringRuleFromJSONToTerraform.rb
  features/v2/given.json
  features/v2/security_monitoring.feature
Due: format-examples

Regenerate client from commit dbd34db of spec repo
  .generated-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/change_widget_request.rb
Due: generate

Regenerate client from commit b434599 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/cloud_cost_management/Create-Cloud-Cost-Management-AWS-CUR-config-returns-OK-response.yml
  cassettes/features/v2/cloud_cost_management/Create-Cloud-Cost-Management-Azure-configs-returns-Bad-Request-response.frozen
  cassettes/features/v2/cloud_cost_management/Create-Cloud-Cost-Management-Azure-configs-returns-Bad-Request-response.yml
  cassettes/features/v2/cloud_cost_management/Create-Cloud-Cost-Management-Azure-configs-returns-OK-response.yml
  cassettes/features/v2/cloud_cost_management/Delete-Cloud-Cost-Management-AWS-CUR-config-returns-Not-Found-response.frozen
  cassettes/features/v2/cloud_cost_management/Delete-Cloud-Cost-Management-AWS-CUR-config-returns-Not-Found-response.yml
  cassettes/features/v2/cloud_cost_management/Delete-Cloud-Cost-Management-Azure-config-returns-Not-Found-response.frozen
  cassettes/features/v2/cloud_cost_management/Delete-Cloud-Cost-Management-Azure-config-returns-Not-Found-response.yml
  cassettes/features/v2/cloud_cost_management/Delete-Custom-Costs-file-returns-Not-Found-response.frozen
  cassettes/features/v2/cloud_cost_management/Delete-Custom-Costs-file-returns-Not-Found-response.yml
  cassettes/features/v2/cloud_cost_management/Get-Custom-Costs-file-returns-Not-Found-response.frozen
  cassettes/features/v2/cloud_cost_management/Get-Custom-Costs-file-returns-Not-Found-response.yml
  cassettes/features/v2/cloud_cost_management/List-Cloud-Cost-Management-AWS-CUR-configs-returns-OK-response.yml
  cassettes/features/v2/cloud_cost_management/List-Cloud-Cost-Management-Azure-configs-returns-OK-response.yml
  cassettes/features/v2/cloud_cost_management/List-Custom-Costs-files-returns-Bad-Request-response.frozen
  cassettes/features/v2/cloud_cost_management/List-Custom-Costs-files-returns-Bad-Request-response.yml
  cassettes/features/v2/cloud_cost_management/Update-Cloud-Cost-Management-AWS-CUR-config-returns-OK-response.yml
  cassettes/features/v2/cloud_cost_management/Update-Cloud-Cost-Management-Azure-config-returns-OK-response.yml
  cassettes/features/v2/cloud_cost_management/Upload-Custom-Costs-file-returns-Bad-Request-response.frozen
  cassettes/features/v2/cloud_cost_management/Upload-Custom-Costs-file-returns-Bad-Request-response.yml
  examples/v2/cloud-cost-management/DeleteCostAWSCURConfig.rb
  examples/v2/cloud-cost-management/DeleteCostAzureUCConfig.rb
  examples/v2/cloud-cost-management/DeleteCostGCPUsageCostConfig.rb
  examples/v2/cloud-cost-management/UpdateCostAWSCURConfig.rb
  examples/v2/cloud-cost-management/UpdateCostAzureUCConfigs.rb
  examples/v2/cloud-cost-management/UpdateCostGCPUsageCostConfig.rb
  features/scenarios_model_mapping.rb
  features/v2/cloud_cost_management.feature
  lib/datadog_api_client/v2/api/cloud_cost_management_api.rb
  lib/datadog_api_client/v2/models/aws_cur_config.rb
  lib/datadog_api_client/v2/models/aws_cur_config_post_request_attributes.rb
  lib/datadog_api_client/v2/models/azure_uc_config.rb
  lib/datadog_api_client/v2/models/azure_uc_config_pair.rb
  lib/datadog_api_client/v2/models/azure_uc_config_pair_attributes.rb
Due: generate, format-examples

Regenerate client from commit d394b63 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/events/CreateEvent_1017977945.rb
  features/v2/events.feature
  lib/datadog_api_client/v2/models/change_event_attributes_changed_resource_type.rb
  lib/datadog_api_client/v2/models/change_event_custom_attributes_changed_resource_type.rb
Due: generate, format-examples

Regenerate client from commit 8d438ee of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/action-connection/CreateActionConnection_247736109.rb
  examples/v2/action-connection/CreateActionConnection_778774383.rb
  examples/v2/action-connection/CreateActionConnection_912926606.rb
  examples/v2/action-connection/UpdateActionConnection_1293363740.rb
  features/v2/action_connection.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/aws_assume_role.rb
  lib/datadog_api_client/v2/models/aws_assume_role_type.rb
  lib/datadog_api_client/v2/models/aws_assume_role_update.rb
  lib/datadog_api_client/v2/models/aws_credentials.rb
  lib/datadog_api_client/v2/models/aws_credentials_update.rb
  lib/datadog_api_client/v2/models/aws_integration.rb
  lib/datadog_api_client/v2/models/aws_integration_type.rb
  lib/datadog_api_client/v2/models/aws_integration_update.rb
  lib/datadog_api_client/v2/models/http_basic_auth.rb
  lib/datadog_api_client/v2/models/http_basic_auth_type.rb
  lib/datadog_api_client/v2/models/http_basic_auth_update.rb
  lib/datadog_api_client/v2/models/http_credentials.rb
  lib/datadog_api_client/v2/models/http_credentials_update.rb
  lib/datadog_api_client/v2/models/http_integration_update.rb
  lib/datadog_api_client/v2/models/http_mtls_auth.rb
  lib/datadog_api_client/v2/models/http_mtls_auth_type.rb
  lib/datadog_api_client/v2/models/http_mtls_auth_update.rb
  lib/datadog_api_client/v2/models/http_token_auth.rb
  lib/datadog_api_client/v2/models/http_token_auth_type.rb
  lib/datadog_api_client/v2/models/http_token_auth_update.rb
Due: generate, format-examples

Regenerate client from commit b90ba5f of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/aws_namespace_filters_exclude_only.rb
Due: generate

Regenerate client from commit 78cfa5e of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/datasets/CreateDataset.rb
  examples/v2/datasets/UpdateDataset.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/dataset_request.rb
  lib/datadog_api_client/v2/models/dataset_response.rb
  lib/datadog_api_client/v2/models/dataset_type.rb
Due: generate, format-examples

Regenerate client from commit c9f30db of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/service-scorecards/UpdateScorecardOutcomesAsync.rb
  features/scenarios_model_mapping.rb
  features/v2/service_scorecards.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/service_scorecards_api.rb
  lib/datadog_api_client/v2/models/update_outcomes_async_attributes.rb
  lib/datadog_api_client/v2/models/update_outcomes_async_request.rb
  lib/datadog_api_client/v2/models/update_outcomes_async_request_data.rb
  lib/datadog_api_client/v2/models/update_outcomes_async_request_item.rb
  lib/datadog_api_client/v2/models/update_outcomes_async_type.rb
Due: generate, format-examples

Regenerate client from commit 0e9a488 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/rum/CreateRUMApplication_1946294560.rb
  examples/v2/rum/UpdateRUMApplication_394074053.rb
  features/v2/rum.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/rum_application_attributes.rb
  lib/datadog_api_client/v2/models/rum_application_list_attributes.rb
  lib/datadog_api_client/v2/models/rum_application_update_attributes.rb
  lib/datadog_api_client/v2/models/rum_event_processing_scale.rb
  lib/datadog_api_client/v2/models/rum_event_processing_state.rb
  lib/datadog_api_client/v2/models/rum_product_analytics_retention_scale.rb
  lib/datadog_api_client/v2/models/rum_product_analytics_retention_state.rb
  lib/datadog_api_client/v2/models/rum_product_scales.rb
Due: generate, format-examples

Regenerate client from commit c69dc04 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit c38287b of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/teams/Sync-teams-returns-OK-response.frozen
  cassettes/features/v2/teams/Sync-teams-returns-OK-response.yml
  examples/v2/teams/SyncTeams.rb
  examples/v2/teams/SyncTeams_3215592344.rb
  features/scenarios_model_mapping.rb
  features/v2/teams.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/teams_api.rb
  lib/datadog_api_client/v2/models/team_sync_attributes.rb
  lib/datadog_api_client/v2/models/team_sync_attributes_source.rb
  lib/datadog_api_client/v2/models/team_sync_attributes_type.rb
  lib/datadog_api_client/v2/models/team_sync_bulk_type.rb
  lib/datadog_api_client/v2/models/team_sync_data.rb
  lib/datadog_api_client/v2/models/team_sync_request.rb
Due: generate, format-examples

Regenerate client from commit 5fd0df2 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  features/v2/cloud_cost_management.feature
Due: generate

Regenerate client from commit a8fb088 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 46f96e9 of spec repo
  .generated-info
  features/v2/authn_mappings.feature
Due: none

Regenerate client from commit 224c292 of spec repo
  .generated-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit 7851858 of spec repo
  .generated-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/datasets/CreateDataset.rb
  examples/v2/datasets/UpdateDataset.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/dataset_request.rb
  lib/datadog_api_client/v2/models/dataset_response.rb
  lib/datadog_api_client/v2/models/dataset_type.rb
Due: generate, format-examples
