Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

Regenerate client from commit 2cef817 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/cloud-authentication/ListAWSCloudAuthPersonaMappings.rb
  features/v2/cloud_authentication.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/cloud_authentication_api.rb
  lib/datadog_api_client/v2/models/aws_cloud_auth_persona_mapping_attributes_response.rb
  lib/datadog_api_client/v2/models/aws_cloud_auth_persona_mapping_data_response.rb
  lib/datadog_api_client/v2/models/aws_cloud_auth_persona_mapping_type.rb
  lib/datadog_api_client/v2/models/aws_cloud_auth_persona_mappings_response.rb
Due: generate, format-examples

Regenerate client from commit c96d162 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/case-management/FavoriteProject.rb
  examples/v2/case-management/ListUserProjectFavorites.rb
  examples/v2/case-management/UnfavoriteProject.rb
  features/scenarios_model_mapping.rb
  features/v2/case_management.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/case_management_api.rb
  lib/datadog_api_client/v2/models/project_favorite.rb
  lib/datadog_api_client/v2/models/project_favorite_relationships.rb
  lib/datadog_api_client/v2/models/project_favorite_resource_type.rb
  lib/datadog_api_client/v2/models/project_favorite_user_relationship.rb
  lib/datadog_api_client/v2/models/project_favorites_response.rb
Due: generate, format-examples

fix getting path parameter in undo operation (#2955)
  features/step_definitions/request.rb
Due: none

Regenerate client from commit a3c2cdc of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/create_component_request_data.rb
  lib/datadog_api_client/v2/models/create_degradation_request_data.rb
  lib/datadog_api_client/v2/models/create_status_page_request_data.rb
  lib/datadog_api_client/v2/models/patch_component_request_data.rb
  lib/datadog_api_client/v2/models/patch_degradation_request_data.rb
  lib/datadog_api_client/v2/models/patch_status_page_request_data.rb
Due: generate

Regenerate client from commit 2752ed9 of spec repo
  cassettes/features/v2/teams/Create-a-team-link-returns-OK-response.frozen
  cassettes/features/v2/teams/Create-a-team-link-returns-OK-response.yml
  cassettes/features/v2/teams/Get-a-team-link-returns-OK-response.frozen
  cassettes/features/v2/teams/Get-a-team-link-returns-OK-response.yml
  cassettes/features/v2/teams/Remove-a-team-link-returns-No-Content-response.frozen
  cassettes/features/v2/teams/Remove-a-team-link-returns-No-Content-response.yml
  cassettes/features/v2/teams/Update-a-team-link-returns-OK-response.frozen
  cassettes/features/v2/teams/Update-a-team-link-returns-OK-response.yml
  features/v2/undo.json
Due: none

Regenerate client from commit 866f882 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/case-management/CreateCaseJiraIssue.rb
  examples/v2/case-management/CreateCaseNotebook.rb
  examples/v2/case-management/CreateCaseServiceNowTicket.rb
  examples/v2/case-management/LinkIncident.rb
  examples/v2/case-management/LinkJiraIssueToCase.rb
  examples/v2/case-management/MoveCaseToProject.rb
  examples/v2/case-management/UnlinkJiraIssue.rb
  features/scenarios_model_mapping.rb
  features/v2/case_management.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/case_management_api.rb
  lib/datadog_api_client/v2/models/incident_relationship_data.rb
  lib/datadog_api_client/v2/models/incident_resource_type.rb
  lib/datadog_api_client/v2/models/jira_issue_create_attributes.rb
  lib/datadog_api_client/v2/models/jira_issue_create_data.rb
  lib/datadog_api_client/v2/models/jira_issue_create_request.rb
  lib/datadog_api_client/v2/models/jira_issue_link_attributes.rb
  lib/datadog_api_client/v2/models/jira_issue_link_data.rb
  lib/datadog_api_client/v2/models/jira_issue_link_request.rb
  lib/datadog_api_client/v2/models/jira_issue_resource_type.rb
  lib/datadog_api_client/v2/models/notebook_create_data.rb
  lib/datadog_api_client/v2/models/notebook_create_request.rb
  lib/datadog_api_client/v2/models/notebook_resource_type.rb
  lib/datadog_api_client/v2/models/relationship_to_incident_request.rb
  lib/datadog_api_client/v2/models/service_now_ticket_create_attributes.rb
  lib/datadog_api_client/v2/models/service_now_ticket_create_data.rb
  lib/datadog_api_client/v2/models/service_now_ticket_create_request.rb
  lib/datadog_api_client/v2/models/service_now_ticket_resource_type.rb
Due: generate, format-examples

Regenerate client from commit 4862f88 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/dora_metrics/Patch-a-deployment-event-returns-Accepted-response.frozen
  cassettes/features/v2/dora_metrics/Patch-a-deployment-event-returns-Accepted-response.yml
  cassettes/features/v2/dora_metrics/Patch-a-deployment-event-returns-Bad-Request-response.frozen
  cassettes/features/v2/dora_metrics/Patch-a-deployment-event-returns-Bad-Request-response.yml
  examples/v2/dora-metrics/PatchDORADeployment.rb
  features/scenarios_model_mapping.rb
  features/v2/dora_metrics.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/dora_metrics_api.rb
  lib/datadog_api_client/v2/models/dora_deployment_patch_remediation.rb
  lib/datadog_api_client/v2/models/dora_deployment_patch_remediation_type.rb
  lib/datadog_api_client/v2/models/dora_deployment_patch_request.rb
  lib/datadog_api_client/v2/models/dora_deployment_patch_request_attributes.rb
  lib/datadog_api_client/v2/models/dora_deployment_patch_request_data.rb
  lib/datadog_api_client/v2/models/dora_deployment_patch_request_data_type.rb
Due: generate, format-examples

Regenerate client from commit c15f9cf of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/BatchGetSecurityMonitoringDatasetDependencies.rb
  examples/v2/security-monitoring/CreateSecurityMonitoringDataset.rb
  examples/v2/security-monitoring/DeleteSecurityMonitoringDataset.rb
  examples/v2/security-monitoring/GetSecurityMonitoringDataset.rb
  examples/v2/security-monitoring/GetSecurityMonitoringDatasetByVersion.rb
  examples/v2/security-monitoring/GetSecurityMonitoringDatasetHistory.rb
  examples/v2/security-monitoring/ListSecurityMonitoringDatasets.rb
  examples/v2/security-monitoring/UpdateSecurityMonitoringDataset.rb
  features/scenarios_model_mapping.rb
  features/v2/security_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/security_monitoring_dataset_attributes_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_dataset_create_attributes_request.rb
  lib/datadog_api_client/v2/models/security_monitoring_dataset_create_data_request.rb
  lib/datadog_api_client/v2/models/security_monitoring_dataset_create_data_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_dataset_create_request.rb
  lib/datadog_api_client/v2/models/security_monitoring_dataset_create_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_dataset_data_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_dataset_definition.rb
  lib/datadog_api_client/v2/models/security_monitoring_dataset_definition_column.rb
  lib/datadog_api_client/v2/models/security_monitoring_dataset_definition_column_type.rb
  lib/datadog_api_client/v2/models/security_monitoring_dataset_dependencies_attributes_request.rb
  lib/datadog_api_client/v2/models/security_monitoring_dataset_dependencies_data_request.rb
  lib/datadog_api_client/v2/models/security_monitoring_dataset_dependencies_request.rb
  lib/datadog_api_client/v2/models/security_monitoring_dataset_dependencies_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_dataset_dependencies_type.rb
  lib/datadog_api_client/v2/models/security_monitoring_dataset_dependency_attributes_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_dataset_dependency_data_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_dataset_list_meta.rb
  lib/datadog_api_client/v2/models/security_monitoring_dataset_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_dataset_type.rb
  lib/datadog_api_client/v2/models/security_monitoring_dataset_update_attributes_request.rb
  lib/datadog_api_client/v2/models/security_monitoring_dataset_update_data_request.rb
  lib/datadog_api_client/v2/models/security_monitoring_dataset_update_request.rb
  lib/datadog_api_client/v2/models/security_monitoring_datasets_history_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_datasets_list_response.rb
Due: generate, format-examples

Regenerate client from commit a1b9ec2 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/incidents/CreateIncidentConfigRule.rb
  examples/v2/incidents/DeleteIncidentConfigRule.rb
  examples/v2/incidents/GetIncidentConfigRule.rb
  examples/v2/incidents/ListIncidentConfigRules.rb
  examples/v2/incidents/UpdateIncidentConfigRule.rb
  features/scenarios_model_mapping.rb
  features/v2/incidents.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/incidents_api.rb
  lib/datadog_api_client/v2/models/incident_rule_attributes_request.rb
  lib/datadog_api_client/v2/models/incident_rule_attributes_response.rb
  lib/datadog_api_client/v2/models/incident_rule_data_request.rb
  lib/datadog_api_client/v2/models/incident_rule_data_response.rb
  lib/datadog_api_client/v2/models/incident_rule_request.rb
  lib/datadog_api_client/v2/models/incident_rule_response.rb
  lib/datadog_api_client/v2/models/incident_rule_type.rb
  lib/datadog_api_client/v2/models/incident_rules_response.rb
Due: generate, format-examples

Regenerate client from commit c0789d2 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/security_monitoring_rule_type_create.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_type_read.rb
Due: generate

Regenerate client from commit 3094646 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/monitor_notification_rule_attributes.rb
  lib/datadog_api_client/v2/models/monitor_notification_rule_condition.rb
  lib/datadog_api_client/v2/models/monitor_notification_rule_filter.rb
  lib/datadog_api_client/v2/models/monitor_notification_rule_filter_scope.rb
  lib/datadog_api_client/v2/models/monitor_notification_rule_filter_tags.rb
  lib/datadog_api_client/v2/models/monitor_notification_rule_response_attributes.rb
Due: generate

Regenerate client from commit dfc9b13 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/restriction_policies_api.rb
Due: generate

Regenerate client from commit c14a85c of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/observability_pipelines/Create-a-new-pipeline-returns-Bad-Request-response.frozen
  cassettes/features/v2/observability_pipelines/Create-a-new-pipeline-returns-Bad-Request-response.yml
  cassettes/features/v2/observability_pipelines/Create-a-new-pipeline-returns-OK-response.frozen
  cassettes/features/v2/observability_pipelines/Create-a-new-pipeline-returns-OK-response.yml
  cassettes/features/v2/observability_pipelines/Delete-a-pipeline-returns-Not-Found-response.frozen
  cassettes/features/v2/observability_pipelines/Delete-a-pipeline-returns-Not-Found-response.yml
  cassettes/features/v2/observability_pipelines/Delete-a-pipeline-returns-OK-response.frozen
  cassettes/features/v2/observability_pipelines/Delete-a-pipeline-returns-OK-response.yml
  cassettes/features/v2/observability_pipelines/Get-a-specific-pipeline-returns-OK-response.frozen
  cassettes/features/v2/observability_pipelines/Get-a-specific-pipeline-returns-OK-response.yml
  cassettes/features/v2/observability_pipelines/List-pipelines-returns-Bad-Request-response.frozen
  cassettes/features/v2/observability_pipelines/List-pipelines-returns-Bad-Request-response.yml
  cassettes/features/v2/observability_pipelines/List-pipelines-returns-OK-response.frozen
  cassettes/features/v2/observability_pipelines/List-pipelines-returns-OK-response.yml
  cassettes/features/v2/observability_pipelines/Update-a-pipeline-returns-Bad-Request-response.frozen
  cassettes/features/v2/observability_pipelines/Update-a-pipeline-returns-Bad-Request-response.yml
  cassettes/features/v2/observability_pipelines/Update-a-pipeline-returns-Not-Found-response.frozen
  cassettes/features/v2/observability_pipelines/Update-a-pipeline-returns-Not-Found-response.yml
  cassettes/features/v2/observability_pipelines/Update-a-pipeline-returns-OK-response.frozen
  cassettes/features/v2/observability_pipelines/Update-a-pipeline-returns-OK-response.yml
  cassettes/features/v2/observability_pipelines/Validate-an-observability-pipeline-returns-Bad-Request-response.frozen
  cassettes/features/v2/observability_pipelines/Validate-an-observability-pipeline-returns-Bad-Request-response.yml
  cassettes/features/v2/observability_pipelines/Validate-an-observability-pipeline-returns-OK-response.frozen
  cassettes/features/v2/observability_pipelines/Validate-an-observability-pipeline-returns-OK-response.yml
  examples/v2/observability-pipelines/CreatePipeline.rb
  examples/v2/observability-pipelines/DeletePipeline.rb
  examples/v2/observability-pipelines/GetPipeline.rb
  examples/v2/observability-pipelines/ListPipelines.rb
  examples/v2/observability-pipelines/UpdatePipeline.rb
  examples/v2/observability-pipelines/ValidatePipeline.rb
  features/v2/observability_pipelines.feature
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/observability_pipelines_api.rb
Due: generate, format-examples

Regenerate client from commit 668cacf of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/service-level-objectives/GetSloStatus.rb
  features/scenarios_model_mapping.rb
  features/v2/service_level_objectives.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/service_level_objectives_api.rb
  lib/datadog_api_client/v2/models/raw_error_budget_remaining.rb
  lib/datadog_api_client/v2/models/slo_status_data.rb
  lib/datadog_api_client/v2/models/slo_status_data_attributes.rb
  lib/datadog_api_client/v2/models/slo_status_response.rb
  lib/datadog_api_client/v2/models/slo_status_type.rb
Due: generate, format-examples

Regenerate client from commit 2fcf34a of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/policy-management/EvaluatePolicyResult.rb
  examples/v2/tag-policies/CreateTagPolicy.rb
  examples/v2/tag-policies/DeleteTagPolicy.rb
  examples/v2/tag-policies/GetTagPolicy.rb
  examples/v2/tag-policies/GetTagPolicyScore.rb
  examples/v2/tag-policies/ListTagPolicies.rb
  examples/v2/tag-policies/UpdateTagPolicy.rb
  features/scenarios_model_mapping.rb
  features/v2/policy_management.feature
  features/v2/tag_policies.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/policy_management_api.rb
  lib/datadog_api_client/v2/api/tag_policies_api.rb
  lib/datadog_api_client/v2/models/policy_result_attributes_response.rb
  lib/datadog_api_client/v2/models/policy_result_data_response.rb
  lib/datadog_api_client/v2/models/policy_result_response.rb
  lib/datadog_api_client/v2/models/policy_result_type.rb
  lib/datadog_api_client/v2/models/tag_policies_response.rb
  lib/datadog_api_client/v2/models/tag_policy_attributes_request.rb
  lib/datadog_api_client/v2/models/tag_policy_attributes_response.rb
  lib/datadog_api_client/v2/models/tag_policy_attributes_update_request.rb
  lib/datadog_api_client/v2/models/tag_policy_create_request.rb
  lib/datadog_api_client/v2/models/tag_policy_data_request.rb
  lib/datadog_api_client/v2/models/tag_policy_data_response.rb
  lib/datadog_api_client/v2/models/tag_policy_data_update_request.rb
  lib/datadog_api_client/v2/models/tag_policy_response.rb
  lib/datadog_api_client/v2/models/tag_policy_score_attributes_response.rb
  lib/datadog_api_client/v2/models/tag_policy_score_data_response.rb
  lib/datadog_api_client/v2/models/tag_policy_score_response.rb
  lib/datadog_api_client/v2/models/tag_policy_score_type.rb
  lib/datadog_api_client/v2/models/tag_policy_type.rb
  lib/datadog_api_client/v2/models/tag_policy_update_request.rb
Due: generate, format-examples

Regenerate client from commit 99230b2 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/incidents_api.rb
Due: generate

Regenerate client from commit ed01520 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/CreateSignalInvestigation.rb
  examples/v2/security-monitoring/GetInvestigationFeedback.rb
  examples/v2/security-monitoring/UpdateInvestigationFeedback.rb
  features/scenarios_model_mapping.rb
  features/v2/security_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_investigation_feedback_metric.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_investigation_feedback_request.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_investigation_feedback_request_attributes.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_investigation_feedback_request_data.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_investigation_feedback_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_investigation_feedback_response_attributes.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_investigation_feedback_response_data.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_investigation_feedback_section.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_investigation_feedback_type.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_investigation_request.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_investigation_request_attributes.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_investigation_request_data.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_investigation_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_investigation_response_attributes.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_investigation_response_data.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_investigation_state.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_investigation_step.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_investigation_step_output.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_investigation_step_output_verdict.rb
  lib/datadog_api_client/v2/models/security_monitoring_signal_investigation_type.rb
Due: generate, format-examples

Regenerate client from commit 656e8e5 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Group-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Group-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-Bad-Request-response.yml
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-with-should-save-match-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-with-should-save-match-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Group-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Group-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Rule-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Rule-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/List-Scanning-Groups-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/List-Scanning-Groups-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Reorder-Groups-returns-Bad-Request-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Reorder-Groups-returns-Bad-Request-response.yml
  cassettes/features/v2/sensitive_data_scanner/Reorder-Groups-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Reorder-Groups-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Group-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Group-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-Bad-Request-response.yml
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-OK-response.yml
  features/v2/sensitive_data_scanner.feature
Due: generate

Regenerate client from commit 941a065 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/oci-integration/CreateTenancyConfig.rb
  examples/v2/oci-integration/DeleteTenancyConfig.rb
  examples/v2/oci-integration/GetTenancyConfig.rb
  examples/v2/oci-integration/GetTenancyConfigs.rb
  examples/v2/oci-integration/ListTenancyProducts.rb
  examples/v2/oci-integration/UpdateTenancyConfig.rb
  features/scenarios_model_mapping.rb
  features/v2/oci_integration.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/oci_integration_api.rb
  lib/datadog_api_client/v2/models/create_tenancy_config_data.rb
  lib/datadog_api_client/v2/models/create_tenancy_config_data_attributes.rb
  lib/datadog_api_client/v2/models/create_tenancy_config_data_attributes_auth_credentials.rb
  lib/datadog_api_client/v2/models/create_tenancy_config_data_attributes_logs_config.rb
  lib/datadog_api_client/v2/models/create_tenancy_config_data_attributes_metrics_config.rb
  lib/datadog_api_client/v2/models/create_tenancy_config_data_attributes_regions_config.rb
  lib/datadog_api_client/v2/models/create_tenancy_config_request.rb
  lib/datadog_api_client/v2/models/tenancy_config.rb
  lib/datadog_api_client/v2/models/tenancy_config_data.rb
  lib/datadog_api_client/v2/models/tenancy_config_data_attributes.rb
  lib/datadog_api_client/v2/models/tenancy_config_data_attributes_logs_config.rb
  lib/datadog_api_client/v2/models/tenancy_config_data_attributes_metrics_config.rb
  lib/datadog_api_client/v2/models/tenancy_config_data_attributes_regions_config.rb
  lib/datadog_api_client/v2/models/tenancy_config_list.rb
  lib/datadog_api_client/v2/models/tenancy_products_data.rb
  lib/datadog_api_client/v2/models/tenancy_products_data_attributes.rb
  lib/datadog_api_client/v2/models/tenancy_products_data_attributes_products_items.rb
  lib/datadog_api_client/v2/models/tenancy_products_data_type.rb
  lib/datadog_api_client/v2/models/tenancy_products_list.rb
  lib/datadog_api_client/v2/models/update_tenancy_config_data.rb
  lib/datadog_api_client/v2/models/update_tenancy_config_data_attributes.rb
  lib/datadog_api_client/v2/models/update_tenancy_config_data_attributes_auth_credentials.rb
  lib/datadog_api_client/v2/models/update_tenancy_config_data_attributes_logs_config.rb
  lib/datadog_api_client/v2/models/update_tenancy_config_data_attributes_metrics_config.rb
  lib/datadog_api_client/v2/models/update_tenancy_config_data_attributes_regions_config.rb
  lib/datadog_api_client/v2/models/update_tenancy_config_data_type.rb
  lib/datadog_api_client/v2/models/update_tenancy_config_request.rb
Due: generate, format-examples

Regenerate client from commit 4e1d816 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/ActivateContentPack.rb
  examples/v2/security-monitoring/DeactivateContentPack.rb
  examples/v2/security-monitoring/GetContentPacksStates.rb
  features/scenarios_model_mapping.rb
  features/v2/security_monitoring.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
  lib/datadog_api_client/v2/models/security_monitoring_content_pack_activation.rb
  lib/datadog_api_client/v2/models/security_monitoring_content_pack_integration_status.rb
  lib/datadog_api_client/v2/models/security_monitoring_content_pack_state_attributes.rb
  lib/datadog_api_client/v2/models/security_monitoring_content_pack_state_data.rb
  lib/datadog_api_client/v2/models/security_monitoring_content_pack_state_meta.rb
  lib/datadog_api_client/v2/models/security_monitoring_content_pack_state_type.rb
  lib/datadog_api_client/v2/models/security_monitoring_content_pack_states_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_content_pack_status.rb
  lib/datadog_api_client/v2/models/security_monitoring_content_pack_timestamp_bucket.rb
  lib/datadog_api_client/v2/models/security_monitoring_sku.rb
Due: generate, format-examples

Regenerate client from commit b81db2d of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/dashboards/SearchDashboards.rb
  examples/v2/notebooks/SearchNotebooks.rb
  features/scenarios_model_mapping.rb
  features/v2/dashboards.feature
  features/v2/notebooks.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/dashboards_api.rb
  lib/datadog_api_client/v2/api/notebooks_api.rb
  lib/datadog_api_client/v2/models/dashboard_search_aggregation_bucket_key.rb
  lib/datadog_api_client/v2/models/dashboard_search_aggregation_bucket_multi_key.rb
  lib/datadog_api_client/v2/models/dashboard_search_aggregations.rb
  lib/datadog_api_client/v2/models/dashboard_search_attributes.rb
  lib/datadog_api_client/v2/models/dashboard_search_metadata.rb
  lib/datadog_api_client/v2/models/dashboard_search_response.rb
  lib/datadog_api_client/v2/models/dashboard_search_response_meta.rb
  lib/datadog_api_client/v2/models/dashboard_search_result_data.rb
  lib/datadog_api_client/v2/models/dashboard_search_user.rb
  lib/datadog_api_client/v2/models/notebook_search_aggregation_bucket_key.rb
  lib/datadog_api_client/v2/models/notebook_search_aggregation_bucket_multi_key.rb
  lib/datadog_api_client/v2/models/notebook_search_aggregations.rb
  lib/datadog_api_client/v2/models/notebook_search_attributes.rb
  lib/datadog_api_client/v2/models/notebook_search_highlight.rb
  lib/datadog_api_client/v2/models/notebook_search_metadata.rb
  lib/datadog_api_client/v2/models/notebook_search_response.rb
  lib/datadog_api_client/v2/models/notebook_search_response_meta.rb
  lib/datadog_api_client/v2/models/notebook_search_result_data.rb
  lib/datadog_api_client/v2/models/notebook_search_user.rb
Due: generate, format-examples

Regenerate client from commit a48e37a of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/on-prem-management-service/CreateOnPremManagementServiceEnrollment.rb
  examples/v2/on-prem-management-service/GetOnPremManagementServiceEnrollment.rb
  examples/v2/on-prem-management-service/RegisterOnPremManagementServiceToken.rb
  features/scenarios_model_mapping.rb
  features/v2/on-prem_management_service.feature
  features/v2/on_prem_management_service.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/on_prem_management_service_api.rb
  lib/datadog_api_client/v2/models/on_prem_management_service_create_enrollment_request.rb
  lib/datadog_api_client/v2/models/on_prem_management_service_create_enrollment_response.rb
  lib/datadog_api_client/v2/models/on_prem_management_service_create_enrollment_response_attributes.rb
  lib/datadog_api_client/v2/models/on_prem_management_service_create_enrollment_response_data.rb
  lib/datadog_api_client/v2/models/on_prem_management_service_create_enrollment_response_type.rb
  lib/datadog_api_client/v2/models/on_prem_management_service_enrollment_attributes.rb
  lib/datadog_api_client/v2/models/on_prem_management_service_enrollment_attributes_runner_modes_items.rb
  lib/datadog_api_client/v2/models/on_prem_management_service_enrollment_data_request.rb
  lib/datadog_api_client/v2/models/on_prem_management_service_enrollment_type.rb
  lib/datadog_api_client/v2/models/on_prem_management_service_get_enrollment_response.rb
  lib/datadog_api_client/v2/models/on_prem_management_service_get_enrollment_response_attributes.rb
  lib/datadog_api_client/v2/models/on_prem_management_service_get_enrollment_response_attributes_status.rb
  lib/datadog_api_client/v2/models/on_prem_management_service_get_enrollment_response_data.rb
  lib/datadog_api_client/v2/models/on_prem_management_service_get_enrollment_response_type.rb
  lib/datadog_api_client/v2/models/on_prem_management_service_register_token_attributes.rb
  lib/datadog_api_client/v2/models/on_prem_management_service_register_token_data_request.rb
  lib/datadog_api_client/v2/models/on_prem_management_service_register_token_request.rb
  lib/datadog_api_client/v2/models/on_prem_management_service_register_token_response.rb
  lib/datadog_api_client/v2/models/on_prem_management_service_register_token_response_attributes.rb
  lib/datadog_api_client/v2/models/on_prem_management_service_register_token_response_data.rb
  lib/datadog_api_client/v2/models/on_prem_management_service_register_token_response_type.rb
  lib/datadog_api_client/v2/models/on_prem_management_service_register_token_type.rb
Due: generate, format-examples

Regenerate client from commit 7923551 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/test-optimization/SearchFlakyTests.rb
  examples/v2/test-optimization/SearchFlakyTests_209064879.rb
  features/v2/test_optimization.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/test_optimization_api.rb
  lib/datadog_api_client/v2/models/flaky_test_attributes.rb
  lib/datadog_api_client/v2/models/flaky_test_history.rb
Due: generate, format-examples

Regenerate client from commit 77f7f78 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Group-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Group-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-Bad-Request-response.yml
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-with-should-save-match-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Create-Scanning-Rule-with-should-save-match-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Group-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Group-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Rule-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Delete-Scanning-Rule-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/List-Scanning-Groups-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/List-Scanning-Groups-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Reorder-Groups-returns-Bad-Request-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Reorder-Groups-returns-Bad-Request-response.yml
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Group-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Group-returns-OK-response.yml
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-Bad-Request-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-Bad-Request-response.yml
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-OK-response.frozen
  cassettes/features/v2/sensitive_data_scanner/Update-Scanning-Rule-returns-OK-response.yml
  features/v2/sensitive_data_scanner.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/sensitive_data_scanner_rule_attributes.rb
  lib/datadog_api_client/v2/models/sensitive_data_scanner_suppressions.rb
Due: generate

Regenerate client from commit f50b1f4 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/incidents/CreateIncidentPostmortemTemplate.rb
  examples/v2/incidents/DeleteIncidentPostmortemTemplate.rb
  examples/v2/incidents/GetIncidentPostmortemTemplate.rb
  examples/v2/incidents/ListIncidentPostmortemTemplates.rb
  examples/v2/incidents/UpdateIncidentPostmortemTemplate.rb
  features/scenarios_model_mapping.rb
  features/v2/incidents.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/incidents_api.rb
  lib/datadog_api_client/v2/models/postmortem_template_attributes_request.rb
  lib/datadog_api_client/v2/models/postmortem_template_attributes_response.rb
  lib/datadog_api_client/v2/models/postmortem_template_data_request.rb
  lib/datadog_api_client/v2/models/postmortem_template_data_response.rb
  lib/datadog_api_client/v2/models/postmortem_template_request.rb
  lib/datadog_api_client/v2/models/postmortem_template_response.rb
  lib/datadog_api_client/v2/models/postmortem_template_type.rb
  lib/datadog_api_client/v2/models/postmortem_templates_response.rb
Due: generate, format-examples

Regenerate client from commit 56ad6c6 of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/azure_storage_destination.rb
  lib/datadog_api_client/v2/models/microsoft_sentinel_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_open_search_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_s3_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_amazon_security_lake_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_buffer_options.rb
  lib/datadog_api_client/v2/models/observability_pipeline_buffer_options_disk_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_buffer_options_memory_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_buffer_options_when_full.rb
  lib/datadog_api_client/v2/models/observability_pipeline_crowd_strike_next_gen_siem_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_datadog_logs_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_disk_buffer_options.rb
  lib/datadog_api_client/v2/models/observability_pipeline_elasticsearch_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_google_chronicle_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_google_cloud_storage_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_google_pub_sub_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_memory_buffer_options.rb
  lib/datadog_api_client/v2/models/observability_pipeline_memory_buffer_size_options.rb
  lib/datadog_api_client/v2/models/observability_pipeline_new_relic_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_open_search_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_rsyslog_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_sentinel_one_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_socket_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_splunk_hec_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_sumo_logic_destination.rb
  lib/datadog_api_client/v2/models/observability_pipeline_syslog_ng_destination.rb
Due: generate

Regenerate client from commit c0afef2 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/seats/AssignSeatsUserV2.rb
  examples/v2/seats/GetSeatsUsersV2.rb
  examples/v2/seats/UnassignSeatsUserV2.rb
  features/scenarios_model_mapping.rb
  features/v2/seats.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/seats_api.rb
  lib/datadog_api_client/v2/models/assign_seats_user_request.rb
  lib/datadog_api_client/v2/models/assign_seats_user_request_data.rb
  lib/datadog_api_client/v2/models/assign_seats_user_request_data_attributes.rb
  lib/datadog_api_client/v2/models/assign_seats_user_response.rb
  lib/datadog_api_client/v2/models/assign_seats_user_response_data.rb
  lib/datadog_api_client/v2/models/assign_seats_user_response_data_attributes.rb
  lib/datadog_api_client/v2/models/seat_assignments_data_type.rb
  lib/datadog_api_client/v2/models/seat_user_data.rb
  lib/datadog_api_client/v2/models/seat_user_data_array.rb
  lib/datadog_api_client/v2/models/seat_user_data_attributes.rb
  lib/datadog_api_client/v2/models/seat_user_data_type.rb
  lib/datadog_api_client/v2/models/seat_user_meta.rb
  lib/datadog_api_client/v2/models/unassign_seats_user_request.rb
  lib/datadog_api_client/v2/models/unassign_seats_user_request_data.rb
  lib/datadog_api_client/v2/models/unassign_seats_user_request_data_attributes.rb
Due: generate, format-examples

Regenerate client from commit 20779a6 of spec repo
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/cloud_cost_management/Create-tag-pipeline-ruleset-with-if-tag-exists-returns-OK-response.frozen
  cassettes/features/v2/cloud_cost_management/Create-tag-pipeline-ruleset-with-if-tag-exists-returns-OK-response.yml
  cassettes/features/v2/cloud_cost_management/Update-tag-pipeline-ruleset-with-if-tag-exists-returns-OK-response.frozen
  cassettes/features/v2/cloud_cost_management/Update-tag-pipeline-ruleset-with-if-tag-exists-returns-OK-response.yml
  examples/v2/cloud-cost-management/CreateTagPipelinesRuleset_1897535856.rb
  examples/v2/cloud-cost-management/UpdateTagPipelinesRuleset_1964644735.rb
  features/v2/cloud_cost_management.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/create_ruleset_request_data_attributes_rules_items.rb
  lib/datadog_api_client/v2/models/create_ruleset_request_data_attributes_rules_items_query.rb
  lib/datadog_api_client/v2/models/create_ruleset_request_data_attributes_rules_items_reference_table.rb
  lib/datadog_api_client/v2/models/data_attributes_rules_items_if_tag_exists.rb
  lib/datadog_api_client/v2/models/data_attributes_rules_items_mapping.rb
  lib/datadog_api_client/v2/models/ruleset_resp_data_attributes_rules_items.rb
  lib/datadog_api_client/v2/models/ruleset_resp_data_attributes_rules_items_mapping.rb
  lib/datadog_api_client/v2/models/ruleset_resp_data_attributes_rules_items_query.rb
  lib/datadog_api_client/v2/models/ruleset_resp_data_attributes_rules_items_reference_table.rb
  lib/datadog_api_client/v2/models/update_ruleset_request_data_attributes_rules_items.rb
  lib/datadog_api_client/v2/models/update_ruleset_request_data_attributes_rules_items_mapping.rb
  lib/datadog_api_client/v2/models/update_ruleset_request_data_attributes_rules_items_query.rb
  lib/datadog_api_client/v2/models/update_ruleset_request_data_attributes_rules_items_reference_table.rb
Due: generate, format-examples

Regenerate client from commit c5b9ef4 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/test-optimization/SearchFlakyTests.rb
  examples/v2/test-optimization/SearchFlakyTests_1224086727.rb
  examples/v2/test-optimization/SearchFlakyTests_209064879.rb
  features/v2/test_optimization.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/test_optimization_api.rb
  lib/datadog_api_client/v2/models/flaky_test_attributes.rb
  lib/datadog_api_client/v2/models/flaky_test_history.rb
  lib/datadog_api_client/v2/models/flaky_tests_search_request_attributes.rb
Due: generate, format-examples

Regenerate client from commit f1b97e5 of spec repo
  .generator/schemas/v2/openapi.yaml
  examples/v2/incidents/CreateIncidentTimestampOverride.rb
  examples/v2/incidents/DeleteIncidentTimestampOverride.rb
  examples/v2/incidents/ListIncidentTimestampOverrides.rb
  examples/v2/incidents/UpdateIncidentTimestampOverride.rb
  features/scenarios_model_mapping.rb
  features/v2/incidents.feature
  features/v2/undo.json
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/incidents_api.rb
  lib/datadog_api_client/v2/models/incident_timestamp_override_attributes.rb
  lib/datadog_api_client/v2/models/incident_timestamp_override_create_attributes.rb
  lib/datadog_api_client/v2/models/incident_timestamp_override_create_data.rb
  lib/datadog_api_client/v2/models/incident_timestamp_override_create_request.rb
  lib/datadog_api_client/v2/models/incident_timestamp_override_data.rb
  lib/datadog_api_client/v2/models/incident_timestamp_override_patch_attributes.rb
  lib/datadog_api_client/v2/models/incident_timestamp_override_patch_data.rb
  lib/datadog_api_client/v2/models/incident_timestamp_override_patch_request.rb
  lib/datadog_api_client/v2/models/incident_timestamp_override_relationships.rb
  lib/datadog_api_client/v2/models/incident_timestamp_override_response.rb
  lib/datadog_api_client/v2/models/incident_timestamp_overrides_response.rb
  lib/datadog_api_client/v2/models/incidents_timestamp_overrides_type.rb
  lib/datadog_api_client/v2/models/timestamp_override_user_relationship.rb
  lib/datadog_api_client/v2/models/timestamp_override_user_relationship_data.rb
  lib/datadog_api_client/v2/models/timestamp_type.rb
  lib/datadog_api_client/v2/models/user_included.rb
  lib/datadog_api_client/v2/models/user_included_attributes.rb
Due: generate, format-examples

Regenerate client from commit 1a16190 of spec repo
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 0e52e6a of spec repo
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/network_device_monitoring_api.rb
Due: generate
