Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

generate:
  name: Generate
  language: system
  entry: bash -c "./generate.sh"
  pass_filenames: false

format-examples:
  name: Format generated examples
  language: ruby
  additional_dependencies:
  - rufo
  entry: rufo --simple-exit examples
  pass_filenames: false

Regenerate client from commit 1cc0120 of spec repo
  cassettes/features/v1/monitors/Create-a-metric-monitor-with-a-custom-schedule-returns-OK-response.yml
  examples/v1/monitors/CreateMonitor_1539578087.rb
  features/v1/monitors.feature
Due: format-examples

Regenerate client from commit e09fb07 of spec repo
  features/v1/security_monitoring.feature
  features/v2/security_monitoring.feature
Due: none

Bump versions and add changelog entries.
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Due: generate

fix: copy typed fields to additional_properties in build_from_hash
  lib/datadog_api_client/v1/model_base.rb
  lib/datadog_api_client/v2/model_base.rb
Due: generate

fix: use symbol keys in tests and replace each_with_object dead code
  .generator/src/generator/templates/model_base.j2
  lib/datadog_api_client/v1/model_base.rb
  lib/datadog_api_client/v2/model_base.rb
  spec/v1/deserialization_spec.rb
Due: generate

fix: update model_base.j2 template and add deserialization tests
  .generator/src/generator/templates/model_base.j2
  spec/v1/deserialization_spec.rb
Due: generate

fix: store raw attribute values in additional_properties instead of deserialized objects
  .generator/src/generator/templates/model_base.j2
  lib/datadog_api_client/v1/model_base.rb
  lib/datadog_api_client/v2/model_base.rb
Due: generate

fix: mirror typed fields into additional_properties only for x-keep-typed-in-additional-properties models
  .generator/src/generator/templates/model_base.j2
  .generator/src/generator/templates/model_generic.j2
  lib/datadog_api_client/v1/model_base.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
  lib/datadog_api_client/v2/model_base.rb
Due: generate

fix: copy typed fields to additional_properties in build_from_hash (#3500)
  .generator/src/generator/templates/model_generic.j2
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
  spec/v1/deserialization_spec.rb
Due: generate

Regenerate client from commit 76344ef of spec repo
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
Due: generate

Regenerate client from commit a73640a of spec repo
  .generator/schemas/v1/openapi.yaml
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-logs-transaction-stream-list-stream-widget-and-version.frozen
  cassettes/features/v1/dashboards/Create-a-new-dashboard-with-logs-transaction-stream-list-stream-widget-and-version.yml
  examples/v1/dashboards/CreateDashboard_153558925.rb
  features/v1/dashboards.feature
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v1/models/list_stream_query.rb
  lib/datadog_api_client/v1/models/list_stream_query_version.rb
Due: generate, format-examples

Path conditions:
  generate: any of: ^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)
  format-examples: any of: ^examples
