Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features, licensed

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

generated-features:
  name: Do not commit generated feature files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

licensed:
  name: Licensed
  language: ruby
  language_version: system
  additional_dependencies:
  - licensed
  entry: .licenses/check.sh
  pass_filenames: false
  verbose: true

Regenerate client from commit f7db18b of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/SLOHistorySLIData.md
  features/v1/synthetics.feature
  lib/datadog_api_client/v1/models/slo_history_sli_data.rb
Due: generated, generated-features

port synthetics replay-only test to ruby
  cassettes/features/v1/synthetics/Client-is-resilient-to-enum-and-oneOf-deserialization-errors.yml
  features/support/hooks.rb
Due: none

Regenerate client from commit 9684c06 of spec repo
  .apigentools-info
  features/v1/synthetics.feature
Due: generated-features

add test files
  spec/deserialization_spec.rb
  spec/fixtures/logs_archive_unknown_nested_oneof.json
  spec/fixtures/synthetics_unknown_nested_enum.json
  spec/fixtures/synthetics_unknown_nested_enum_in_list.json
  spec/fixtures/synthetics_unknown_nested_oneof_in_list.json
  spec/fixtures/synthetics_unknown_top_level_enum.json
  spec/spec_helper.rb
Due: none

test templates
  .generator/templates/base_object.mustache
  .generator/templates/configuration.mustache
  .generator/templates/partial_model_enum_class.mustache
  .generator/templates/partial_model_generic.mustache
  .generator/templates/partial_oneof_module.mustache
Due: none

fix replay-only mode
  features/support/hooks.rb
  spec/deserialization_spec.rb
Due: none

fix tests
  spec/deserialization_spec.rb
Due: none

update tests to assert for _has_unparsed attribute
  spec/v1/deserialization_spec.rb
Due: none

Regenerate client from commit fa2403b of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  lib/datadog_api_client/v1/models/synthetics_global_variable_parser_type.rb
Due: generated

apply code review suggestions
  .generator/templates/base_object.mustache
  .generator/templates/configuration.mustache
  .generator/templates/partial_model_generic.mustache
  .generator/templates/partial_oneof_module.mustache
  spec/v1/deserialization_spec.rb
Due: none

Add cassettes and upper support
  cassettes/features/v1/webhooks_integration/Create-a-custom-variable-returns-OK-response.yml
  cassettes/features/v1/webhooks_integration/Create-a-webhooks-integration-returns-OK-response.yml
  cassettes/features/v1/webhooks_integration/Delete-a-custom-variable-returns-OK-response.yml
  cassettes/features/v1/webhooks_integration/Delete-a-webhook-returns-OK-response.yml
  cassettes/features/v1/webhooks_integration/Get-a-webhook-integration-returns-OK-response.yml
  cassettes/features/v1/webhooks_integration/Update-a-custom-variable-returns-OK-response.yml
  cassettes/features/v1/webhooks_integration/Update-a-webhook-returns-OK-response.yml
  features/step_definitions/request.rb
Due: none

Regenerate client from commit 64ee0b9 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/WebhooksIntegration.md
  docs/v1/WebhooksIntegrationAPI.md
  docs/v1/WebhooksIntegrationCustomVariable.md
  docs/v1/WebhooksIntegrationCustomVariableResponse.md
  docs/v1/WebhooksIntegrationCustomVariableUpdateRequest.md
  docs/v1/WebhooksIntegrationEncoding.md
  docs/v1/WebhooksIntegrationUpdateRequest.md
  features/v1/given.json
  features/v1/undo.json
  features/v1/webhooks_integration.feature
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/api/webhooks_integration_api.rb
  lib/datadog_api_client/v1/models/webhooks_integration.rb
  lib/datadog_api_client/v1/models/webhooks_integration_custom_variable.rb
  lib/datadog_api_client/v1/models/webhooks_integration_custom_variable_response.rb
  lib/datadog_api_client/v1/models/webhooks_integration_custom_variable_update_request.rb
  lib/datadog_api_client/v1/models/webhooks_integration_encoding.rb
  lib/datadog_api_client/v1/models/webhooks_integration_update_request.rb
  spec/v1/api/webhooks_integration_api_spec.rb
  spec/v1/models/webhooks_integration_custom_variable_response_spec.rb
  spec/v1/models/webhooks_integration_custom_variable_spec.rb
  spec/v1/models/webhooks_integration_custom_variable_update_request_spec.rb
  spec/v1/models/webhooks_integration_encoding_spec.rb
  spec/v1/models/webhooks_integration_spec.rb
  spec/v1/models/webhooks_integration_update_request_spec.rb
Due: generated, generated-features

Regenerate client from commit fcc640d of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/SyntheticsGlobalVariable.md
  docs/v1/SyntheticsGlobalVariableAttributes.md
  features/v1/synthetics.feature
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/synthetics_global_variable_attributes.rb
  spec/v1/models/synthetics_global_variable_attributes_spec.rb
Due: generated, generated-features

do not delete cassettes if replay only
  features/support/hooks.rb
Due: none

Regenerate client from commit e3699c0 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  lib/datadog_api_client/v1/models/formula_and_function_events_data_source.rb
Due: generated

fix env var checking
  features/support/hooks.rb
Due: none

re-add conditional to skip cassette deletion on replay-only scenarios
  features/support/hooks.rb
Due: none

Squashed commit of the following:
  .generator/templates/README.mustache
  .generator/templates/api.mustache
  .generator/templates/api_client.mustache
  .generator/templates/api_doc.mustache
  .generator/templates/api_info.mustache
  .generator/templates/api_test.mustache
  .generator/templates/git_push.sh.mustache
  .generator/templates/partial_model_generic.mustache
  .generator/templates/partial_model_generic_doc.mustache
  .generator/templates/partial_oneof_module.mustache
Due: none

Regenerate client from commit 092b505 of spec repo
  .apigentools-info
  .openapi-generator/FILES
  data/v2/openapi.yaml
  docs/v2/IncidentCreateAttributes.md
  docs/v2/IncidentNotificationHandle.md
  docs/v2/IncidentResponseAttributes.md
  docs/v2/IncidentUpdateAttributes.md
  docs/v2/README.md
  features/v2/incidents.feature
  lib/datadog_api_client/v2.rb
  lib/datadog_api_client/v2/models/incident_notification_handle.rb
  lib/datadog_api_client/v2/models/incident_response_attributes.rb
  lib/datadog_api_client/v2/models/incident_update_attributes.rb
  spec/v2/models/incident_notification_handle_spec.rb
Due: generated, generated-features

Regenerate client from commit 2f52b9e of spec repo
  .apigentools-info
  data/v1/openapi.yaml
Due: none

Regenerate client from commit eaa6615 of spec repo
  .apigentools-info
  .openapi-generator/FILES
  cassettes/features/v2/security_monitoring/Create-a-detection-rule-with-type-workload-security-returns-OK-response.yml
  cassettes/features/v2/security_monitoring/Delete-an-existing-rule-returns-OK-response.yml
  data/v2/openapi.yaml
  docs/v2/README.md
  docs/v2/SecurityMonitoringRuleCreatePayload.md
  docs/v2/SecurityMonitoringRuleResponse.md
  docs/v2/SecurityMonitoringRuleTypeCreate.md
  docs/v2/SecurityMonitoringRuleTypeRead.md
  features/v2/given.json
  features/v2/security_monitoring.feature
  lib/datadog_api_client/v2.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_create_payload.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_response.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_type_create.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_type_read.rb
  spec/v2/models/security_monitoring_rule_type_create_spec.rb
  spec/v2/models/security_monitoring_rule_type_read_spec.rb
Due: generated, generated-features

Regenerate client from commit cda030e of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/MonitorsAPI.md
  lib/datadog_api_client/v1/api/monitors_api.rb
Due: generated

Regenerate client from commit 917353e of spec repo
  .apigentools-info
Due: none

Regenerate client from commit 4f0cc56 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/SyntheticsGlobalVariableValue.md
  docs/v1/SyntheticsTriggerCITestsResponse.md
  lib/datadog_api_client/v1/models/synthetics_global_variable_value.rb
  lib/datadog_api_client/v1/models/synthetics_trigger_ci_tests_response.rb
Due: generated

Regenerate client from commit 96bac9a of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/MonitorsAPI.md
  lib/datadog_api_client/v1/api/monitors_api.rb
  lib/datadog_api_client/v1/models/monitor_type.rb
Due: generated

Regenerate client from commit fe1d096 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/MonitorsAPI.md
  lib/datadog_api_client/v1/api/monitors_api.rb
Due: generated

Regenerate client from commit 67944e6 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/SyntheticsAPI.md
  lib/datadog_api_client/v1/api/synthetics_api.rb
Due: generated

Regenerate client from commit fccf269 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/UsageAttributionValues.md
  docs/v1/UsageDBMHour.md
  docs/v1/UsageDBMResponse.md
  docs/v1/UsageMeteringAPI.md
  docs/v1/UsageSummaryDate.md
  docs/v1/UsageSummaryDateOrg.md
  docs/v1/UsageSummaryResponse.md
  features/v1/undo.json
  features/v1/usage_metering.feature
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/api/usage_metering_api.rb
  lib/datadog_api_client/v1/models/usage_attribution_supported_metrics.rb
  lib/datadog_api_client/v1/models/usage_attribution_values.rb
  lib/datadog_api_client/v1/models/usage_dbm_hour.rb
  lib/datadog_api_client/v1/models/usage_dbm_response.rb
  lib/datadog_api_client/v1/models/usage_summary_date.rb
  lib/datadog_api_client/v1/models/usage_summary_date_org.rb
  lib/datadog_api_client/v1/models/usage_summary_response.rb
  spec/v1/models/usage_dbm_hour_spec.rb
  spec/v1/models/usage_dbm_response_spec.rb
Due: generated, generated-features

Regenerate client from commit db0de24 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/SyntheticsBrowserTestConfig.md
  docs/v1/SyntheticsTestConfig.md
  features/v1/synthetics.feature
  lib/datadog_api_client/v1/models/synthetics_browser_test_config.rb
  lib/datadog_api_client/v1/models/synthetics_test_config.rb
Due: generated, generated-features

Regenerate client from commit 04b2dd3 of spec repo
  .apigentools-info
  features/v1/synthetics.feature
Due: generated-features

Fix thousands of spelling typos (#10272)
  .generator/templates/api_client.mustache
  .generator/templates/git_push.sh.mustache
  .generator/templates/partial_oneof_module.mustache
Due: none

Regenerate client from commit e9ac191 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/DashboardTemplateVariable.md
  features/v1/dashboards.feature
  lib/datadog_api_client/v1/models/dashboard_template_variable.rb
Due: generated, generated-features

Regenerate client from commit a9c0eae of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/SLOHistoryResponseErrorWithType.md
  docs/v1/SLOHistorySLIData.md
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/slo_history_response_error_with_type.rb
  lib/datadog_api_client/v1/models/slo_history_sli_data.rb
  spec/v1/models/slo_history_response_error_with_type_spec.rb
Due: generated

Regenerate client from commit 8d89f84 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/OrganizationsAPI.md
  lib/datadog_api_client/v1/api/organizations_api.rb
Due: generated

Regenerate client from commit b4ace00 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/README.md
  docs/v1/SLOHistoryMonitor.md
  docs/v1/SLOHistoryResponseData.md
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/models/slo_history_monitor.rb
  spec/v1/models/slo_history_monitor_spec.rb
Due: generated

Regenerate client from commit 7c115a3 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/SyntheticsTestRequest.md
  features/v1/synthetics.feature
  lib/datadog_api_client/v1/models/synthetics_test_request.rb
Due: generated, generated-features

Regenerate client from commit 965e51f of spec repo
  .apigentools-info
  lib/datadog_api_client/v1/api_client.rb
  lib/datadog_api_client/v1/models/formula_and_function_query_definition.rb
  lib/datadog_api_client/v1/models/logs_processor.rb
  lib/datadog_api_client/v1/models/notebook_cell_create_request_attributes.rb
  lib/datadog_api_client/v1/models/notebook_cell_response_attributes.rb
  lib/datadog_api_client/v1/models/notebook_cell_time.rb
  lib/datadog_api_client/v1/models/notebook_cell_update_request_attributes.rb
  lib/datadog_api_client/v1/models/notebook_global_time.rb
  lib/datadog_api_client/v1/models/notebook_update_cell.rb
  lib/datadog_api_client/v1/models/synthetics_assertion.rb
  lib/datadog_api_client/v1/models/widget_definition.rb
  lib/datadog_api_client/v2/api_client.rb
  lib/datadog_api_client/v2/models/api_key_response_included_item.rb
  lib/datadog_api_client/v2/models/application_key_response_included_item.rb
  lib/datadog_api_client/v2/models/incident_field_attributes.rb
  lib/datadog_api_client/v2/models/incident_response_included_item.rb
  lib/datadog_api_client/v2/models/incident_service_included_items.rb
  lib/datadog_api_client/v2/models/incident_team_included_items.rb
  lib/datadog_api_client/v2/models/incident_timeline_cell_create_attributes.rb
  lib/datadog_api_client/v2/models/logs_aggregate_bucket_value.rb
  lib/datadog_api_client/v2/models/logs_archive_create_request_destination.rb
  lib/datadog_api_client/v2/models/logs_archive_destination.rb
  lib/datadog_api_client/v2/models/logs_group_by_missing.rb
  lib/datadog_api_client/v2/models/logs_group_by_total.rb
  lib/datadog_api_client/v2/models/metric_volumes.rb
  lib/datadog_api_client/v2/models/metrics_and_metric_tag_configurations.rb
  lib/datadog_api_client/v2/models/user_response_included_item.rb
Due: generated

Regenerate client from commit 6ca80f8 of spec repo
  .apigentools-info
  data/v1/openapi.yaml
  docs/v1/SLOHistoryMetricsSeries.md
  lib/datadog_api_client/v1/models/slo_history_metrics_series.rb
Due: generated

Path conditions:
  generated: any of: ^lib/datadog_api_client/v[1-9].*
  generated-features: any of: ^features/v[1-9][0-9]*/.*.feature$
  licensed: any of: ^(.*.gemspec|Gemfile|.licensed.yml)$
