Repository DataDog/datadog-api-client-ruby: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, format-examples

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generate
    name: Generate
    language: system
    entry: bash -c "./generate.sh"
    files: '^(\.generator/.*|\.pre-commit-config\.yaml|Makefile|\features/.*|lib/.*)'
    pass_filenames: false
  - id: format-examples
    name: Format generated examples
    language: ruby
    additional_dependencies:
      - rufo
    entry: rufo --simple-exit examples
    files: '^examples'
    pass_filenames: false
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 20.5.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@3.0.0
  - id: generator
    name: generator
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run python -m generator ./schemas/v1/openapi.yaml ./schemas/v2/openapi.yaml -o ../lib/"
    files: "^.generator/(config|schemas/v1|src|poetry.lock|pyproject.toml)"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"
  - id: examples
    name: examples
    language: python
    entry: bash -c "cd .generator && poetry install && poetry run pytest"
    files: "^.generator/"
    stages: [manual]
    pass_filenames: false
    additional_dependencies:
      - "poetry"

Remove uuidtools but keep validation logic
  Gemfile
  LICENSE-3rdparty.csv
  datadog_api_client.gemspec
  lib/datadog_api_client/v2/model_base.rb
Due: generate

Regenerate client from commit fe3756c4 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/CancelHistoricalJob.rb
  examples/v2/security-monitoring/ConvertJobResultToSignal.rb
  examples/v2/security-monitoring/DeleteHistoricalJob.rb
  examples/v2/security-monitoring/GetHistoricalJob.rb
  examples/v2/security-monitoring/ListHistoricalJobs.rb
  examples/v2/security-monitoring/RunHistoricalJob.rb
  features/v2/security_monitoring.feature
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
Due: generate, format-examples

Regenerate client from commit d3ea2d9b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/security-monitoring/GetRuleVersionHistory.rb
  examples/v2/security-monitoring/GetRuleVersionHistory_2467565841.rb
  features/v2/security_monitoring.feature
  lib/datadog_api_client/configuration.rb
  lib/datadog_api_client/v2/api/security_monitoring_api.rb
Due: generate, format-examples

Regenerate client from commit 642b7d0b of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/formula_and_function_slo_query_type.rb
Due: generate

Regenerate client from commit 3e2afa30 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/apm_retention_filters/Create-a-default-retention-filter-returns-Bad-Request-response.frozen
  cassettes/features/v2/apm_retention_filters/Create-a-default-retention-filter-returns-Bad-Request-response.yml
  cassettes/features/v2/apm_retention_filters/Create-a-retention-filter-returns-Bad-Request-response.frozen
  cassettes/features/v2/apm_retention_filters/Create-a-retention-filter-returns-Bad-Request-response.yml
  cassettes/features/v2/apm_retention_filters/Create-a-retention-filter-returns-OK-response.frozen
  cassettes/features/v2/apm_retention_filters/Create-a-retention-filter-with-trace-rate-returns-OK-response.frozen
  cassettes/features/v2/apm_retention_filters/Create-a-retention-filter-with-trace-rate-returns-OK-response.yml
  cassettes/features/v2/apm_retention_filters/Delete-a-retention-filter-returns-Not-Found-response.frozen
  cassettes/features/v2/apm_retention_filters/Delete-a-retention-filter-returns-Not-Found-response.yml
  cassettes/features/v2/apm_retention_filters/Delete-a-retention-filter-returns-OK-response.frozen
  cassettes/features/v2/apm_retention_filters/Delete-a-retention-filter-returns-OK-response.yml
  cassettes/features/v2/apm_retention_filters/Get-a-given-APM-retention-filter-returns-Not-Found-response.frozen
  cassettes/features/v2/apm_retention_filters/Get-a-given-APM-retention-filter-returns-Not-Found-response.yml
  cassettes/features/v2/apm_retention_filters/Get-a-given-APM-retention-filter-returns-OK-response.frozen
  cassettes/features/v2/apm_retention_filters/Get-a-given-APM-retention-filter-returns-OK-response.yml
  cassettes/features/v2/apm_retention_filters/List-all-APM-retention-filters-returns-OK-response.frozen
  cassettes/features/v2/apm_retention_filters/List-all-APM-retention-filters-returns-OK-response.yml
  cassettes/features/v2/apm_retention_filters/Update-a-retention-filter-returns-Bad-Request-response.frozen
  cassettes/features/v2/apm_retention_filters/Update-a-retention-filter-returns-Bad-Request-response.yml
  cassettes/features/v2/apm_retention_filters/Update-a-retention-filter-returns-Not-Found-response.frozen
  cassettes/features/v2/apm_retention_filters/Update-a-retention-filter-returns-Not-Found-response.yml
  cassettes/features/v2/apm_retention_filters/Update-a-retention-filter-returns-OK-response.frozen
  cassettes/features/v2/apm_retention_filters/Update-a-retention-filter-with-trace-rate-returns-OK-response.frozen
  cassettes/features/v2/apm_retention_filters/Update-a-retention-filter-with-trace-rate-returns-OK-response.yml
  examples/v2/apm-retention-filters/CreateApmRetentionFilter_3853850379.rb
  examples/v2/apm-retention-filters/UpdateApmRetentionFilter_3916044058.rb
  features/v2/apm_retention_filters.feature
  lib/datadog_api_client/v2/models/retention_filter_all_attributes.rb
  lib/datadog_api_client/v2/models/retention_filter_attributes.rb
  lib/datadog_api_client/v2/models/retention_filter_create_attributes.rb
  lib/datadog_api_client/v2/models/retention_filter_update_attributes.rb
Due: generate, format-examples

Regenerate client from commit 21cf6edb of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/network_device_monitoring/Get-the-list-of-interfaces-of-the-device-returns-OK-response.yml
  features/v2/network_device_monitoring.feature
  lib/datadog_api_client/v2/models/interface_attributes.rb
Due: generate

Regenerate client from commit 6d558e91 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_processor_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_source_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_decoding.rb
  lib/datadog_api_client/v2/models/observability_pipeline_fluent_source.rb
  lib/datadog_api_client/v2/models/observability_pipeline_fluent_source_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_http_server_source.rb
  lib/datadog_api_client/v2/models/observability_pipeline_http_server_source_auth_strategy.rb
  lib/datadog_api_client/v2/models/observability_pipeline_http_server_source_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_parse_grok_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_parse_grok_processor_rule.rb
  lib/datadog_api_client/v2/models/observability_pipeline_parse_grok_processor_rule_match_rule.rb
  lib/datadog_api_client/v2/models/observability_pipeline_parse_grok_processor_rule_support_rule.rb
  lib/datadog_api_client/v2/models/observability_pipeline_parse_grok_processor_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_sample_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_sample_processor_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_throttle_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_throttle_processor_type.rb
Due: generate

Regenerate client from commit 4733e6bf of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/retention_filter_all_attributes.rb
  lib/datadog_api_client/v2/models/retention_filter_attributes.rb
  lib/datadog_api_client/v2/models/retention_filter_create_attributes.rb
  lib/datadog_api_client/v2/models/retention_filter_update_attributes.rb
Due: generate

Regenerate client from commit 7f98e0a9 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/models/synthetics_step_type.rb
Due: generate

Regenerate client from commit 21e93578 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  lib/datadog_api_client/v1/api/synthetics_api.rb
Due: generate

Regenerate client from commit c0a45137 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/security_monitoring/Create-a-detection-rule-with-type-application-security-returns-OK-response.frozen
  cassettes/features/v2/security_monitoring/Create-a-detection-rule-with-type-application-security-returns-OK-response.yml
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_1965169892.rb
  features/v2/security_monitoring.feature
  lib/datadog_api_client/v2/models/security_monitoring_rule_case_action_options.rb
  lib/datadog_api_client/v2/models/security_monitoring_rule_case_action_type.rb
Due: generate, format-examples

Regenerate client from commit 4513739b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/network_device_monitoring/Get-the-list-of-interfaces-of-the-device-returns-OK-response.frozen
  cassettes/features/v2/network_device_monitoring/Get-the-list-of-interfaces-of-the-device-returns-OK-response.yml
  examples/v2/network-device-monitoring/GetInterfaces.rb
  features/scenarios_model_mapping.rb
  features/v2/network_device_monitoring.feature
  lib/datadog_api_client/v2/api/network_device_monitoring_api.rb
Due: generate, format-examples

Regenerate client from commit d209cd40 of spec repo
  .apigentools-info
  features/v2/application_security.feature
Due: none

Regenerate client from commit b50db944 of spec repo
  .apigentools-info
  cassettes/features/v2/incidents/Create-an-incident-type-returns-CREATED-response.frozen
  cassettes/features/v2/incidents/Create-an-incident-type-returns-CREATED-response.yml
  cassettes/features/v2/incidents/Delete-an-incident-type-returns-OK-response.frozen
  cassettes/features/v2/incidents/Delete-an-incident-type-returns-OK-response.yml
  cassettes/features/v2/incidents/Update-an-incident-type-returns-OK-response.frozen
  cassettes/features/v2/incidents/Update-an-incident-type-returns-OK-response.yml
  examples/v2/incidents/CreateIncidentType.rb
  features/v2/given.json
  features/v2/incidents.feature
Due: format-examples

Regenerate client from commit 357a756f of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/scenarios_model_mapping.rb
  lib/datadog_api_client/v2/api/incidents_api.rb
Due: generate

Regenerate client from commit e73254d7 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/retention_filter_all_attributes.rb
  lib/datadog_api_client/v2/models/retention_filter_attributes.rb
  lib/datadog_api_client/v2/models/retention_filter_create_attributes.rb
  lib/datadog_api_client/v2/models/retention_filter_update_attributes.rb
Due: generate

Bump datadog_api_client to 2.32.0
  lib/datadog_api_client/version.rb
Due: generate

Bump datadog_api_client to 2.32.0.dev.1
  lib/datadog_api_client/version.rb
Due: generate

Regenerate client from commit c0287407 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/network_device_monitoring/Get-the-list-of-interfaces-of-the-device-returns-OK-response.frozen
  cassettes/features/v2/network_device_monitoring/Get-the-list-of-interfaces-of-the-device-returns-OK-response.yml
  examples/v2/network-device-monitoring/GetInterfaces.rb
  features/scenarios_model_mapping.rb
  features/v2/network_device_monitoring.feature
  lib/datadog_api_client/v2/api/network_device_monitoring_api.rb
Due: generate, format-examples

Regenerate client from commit 71455c7c of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  examples/v2/metrics/EstimateMetricsOutputSeries.rb
  examples/v2/metrics/ListActiveMetricConfigurations.rb
  examples/v2/metrics/ListActiveMetricConfigurations_2806781557.rb
  features/scenarios_model_mapping.rb
  features/v2/metrics.feature
  lib/datadog_api_client/v2/api/metrics_api.rb
  lib/datadog_api_client/v2/models/metric_tag_configuration_attributes.rb
  lib/datadog_api_client/v2/models/metric_tag_configuration_create_attributes.rb
  lib/datadog_api_client/v2/models/metric_tag_configuration_update_attributes.rb
Due: generate, format-examples

Regenerate client from commit cd8e59b7 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/features/v2/cloud_cost_management/Delete-a-budget-returns-Bad-Request-response.frozen
  cassettes/features/v2/cloud_cost_management/Delete-a-budget-returns-Bad-Request-response.yml
  cassettes/features/v2/cloud_cost_management/Get-a-budget-returns-Not-Found-response.frozen
  cassettes/features/v2/cloud_cost_management/Get-a-budget-returns-Not-Found-response.yml
  cassettes/features/v2/cloud_cost_management/List-budgets-returns-OK-response.frozen
  cassettes/features/v2/cloud_cost_management/List-budgets-returns-OK-response.yml
  cassettes/features/v2/cloud_cost_management/Update-if-exists-or-create-a-new-budget-returns-Bad-Request-response.frozen
  cassettes/features/v2/cloud_cost_management/Update-if-exists-or-create-a-new-budget-returns-Bad-Request-response.yml
  cassettes/features/v2/cloud_cost_management/Update-if-exists-or-create-a-new-budget-returns-Not-Found-response.frozen
  cassettes/features/v2/cloud_cost_management/Update-if-exists-or-create-a-new-budget-returns-Not-Found-response.yml
  examples/v2/cloud-cost-management/DeleteBudget.rb
  examples/v2/cloud-cost-management/GetBudget.rb
  examples/v2/cloud-cost-management/ListBudgets.rb
  examples/v2/cloud-cost-management/UpsertBudget.rb
  features/scenarios_model_mapping.rb
  features/v2/cloud_cost_management.feature
  features/v2/undo.json
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/api/cloud_cost_management_api.rb
  lib/datadog_api_client/v2/models/budget.rb
  lib/datadog_api_client/v2/models/budget_array.rb
  lib/datadog_api_client/v2/models/budget_entry.rb
  lib/datadog_api_client/v2/models/budget_with_entries.rb
  lib/datadog_api_client/v2/models/budget_with_entries_data.rb
Due: generate, format-examples

Regenerate client from commit a35a6879 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/configuration.rb
Due: generate

Regenerate client from commit 2d6e55b2 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/api/restriction_policies_api.rb
Due: generate

Regenerate client from commit 9708d631 of spec repo
  .apigentools-info
  features/v1/dashboards.feature
Due: none

Regenerate client from commit 4f16ecfe of spec repo
  .apigentools-info
  features/v2/on-call.feature
Due: none

Regenerate client from commit 12ab5180 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/v2/models/layer.rb
  lib/datadog_api_client/v2/models/layer_relationships_members_data_items.rb
  lib/datadog_api_client/v2/models/schedule_create_request_data_relationships_teams_data_items.rb
  lib/datadog_api_client/v2/models/schedule_data.rb
  lib/datadog_api_client/v2/models/schedule_data_relationships_layers_data_items.rb
  lib/datadog_api_client/v2/models/schedule_data_relationships_teams_data_items.rb
  lib/datadog_api_client/v2/models/schedule_member.rb
  lib/datadog_api_client/v2/models/schedule_member_relationships_user.rb
  lib/datadog_api_client/v2/models/schedule_member_relationships_user_data.rb
  lib/datadog_api_client/v2/models/schedule_update_request_data_attributes_layers_items.rb
  lib/datadog_api_client/v2/models/schedule_update_request_data_relationships_teams_data_items.rb
  lib/datadog_api_client/v2/models/schedule_user.rb
  lib/datadog_api_client/v2/models/team_reference.rb
  lib/datadog_api_client/v2/models/team_reference_relationships_oncall_users_data_items.rb
Due: generate

Regenerate client from commit cba15f32 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  lib/datadog_api_client/inflector.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_processor_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_config_source_item.rb
  lib/datadog_api_client/v2/models/observability_pipeline_decoding.rb
  lib/datadog_api_client/v2/models/observability_pipeline_fluent_source.rb
  lib/datadog_api_client/v2/models/observability_pipeline_fluent_source_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_http_server_source.rb
  lib/datadog_api_client/v2/models/observability_pipeline_http_server_source_auth_strategy.rb
  lib/datadog_api_client/v2/models/observability_pipeline_http_server_source_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_parse_grok_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_parse_grok_processor_rule.rb
  lib/datadog_api_client/v2/models/observability_pipeline_parse_grok_processor_rule_match_rule.rb
  lib/datadog_api_client/v2/models/observability_pipeline_parse_grok_processor_rule_support_rule.rb
  lib/datadog_api_client/v2/models/observability_pipeline_parse_grok_processor_type.rb
  lib/datadog_api_client/v2/models/observability_pipeline_sample_processor.rb
  lib/datadog_api_client/v2/models/observability_pipeline_sample_processor_type.rb
Due: generate

pre-commit fixes
  lib/datadog_api_client/v2/model_base.rb
Due: generate

Remove uuidtools but keep validation logic (#2320)
  Gemfile
  LICENSE-3rdparty.csv
  datadog_api_client.gemspec
  lib/datadog_api_client/v2/model_base.rb
Due: generate
